<div class="component-wrapper">
<header id="unalTop" *ngIf="this.locStorage.getmapStatus()==1">
    <!-- Logo -->
    <div class="logo">
        <a href="http://unal.edu.co">
            <!--[if (gte IE 9)|!(IE)]><!-->
            <svg width="93%" height="93%">
                <image xlink:href="assets/images/escudoUnal.svg" width="100%" height="100%" class="hidden-print" alt="Escudo de la Universidad Nacional de Colombia" />
            </svg>

            <!--<![endif]-->
            <!--[if lt IE 9]> <img src="images/escudoUnal.png" width="93%" height="auto"
    class="hidden-print"/> <![endif]-->
            <img src="assets/images/escudoUnal_black.png" class="d-none d-print-block" alt="Escudo de la Universidad Nacional de Colombia" />
        </a>
    </div>
    <!-- Seal -->
    <div class="seal">
        <img class="hidden-print" alt="Escudo de la República de Colombia" src="assets/images/sealColombia.png" width="66" height="66" />

        <img class="d-none d-print-block" alt="Escudo de la República de Colombia" src="assets/images/sealColombia_black.png" width="66" height="66" />
    </div>

    <!-- Menú superior -->
    <div class="firstMenu d-none d-md-block">
        <div class="content-fluid">
            <nav class="navbar navbar-expand-md nav navbar-dark">
                <!-- perfiles -->
                <div class=" collapse navbar-collapse navbar-default" id="navbarSupportedContent">
                    <nav id="profiles">
                        <ul class="mr-auto nav justify-content-end">
                            <!-- <ul class="navbar-nav mr-auto nav justify-content-end"> -->
                            <li class="nav-item item_Aspirantes #>">
                                <a href="http://aspirantes.unal.edu.co">Aspirantes</a>
                            </li>
                            <li class="nav-item item_Estudiantes #>">
                                <a href="http://estudiantes.unal.edu.co">Estudiantes</a>
                            </li>
                            <li class="nav-item item_Egresados #>">
                                <a href="http://egresados.unal.edu.co">Egresados</a>
                            </li>
                            <li class="nav-item item_Docentes #>">
                                <a href="http://docentes.unal.edu.co">Docentes</a>
                            </li>
                            <li class="nav-item item_Administrativos #>">
                                <a href="http://administrativos.unal.edu.co">Administrativos</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <!-- redes sociales -->
                <ul class="socialLinks d-none d-md-block">
                    <li>
                        <a href="http://www.facebook.com/UNColombia" target="_blank" class="facebook" title="Página oficial en Facebook"></a>
                    </li>
                    <li>
                        <a href="http://twitter.com/UNColombia" target="_blank" class="twitter" title="Cuenta oficial en Twitter"></a>
                    </li>
                    <li>
                        <a href="http://www.youtube.com/channel/UCnE6Zj2llVxcvL5I38B0Ceg" target="_blank" class="youtube" title="Canal oficial de Youtube"></a>
                    </li>
                    <li>
                        <a href="http://agenciadenoticias.unal.edu.co/nc/sus/type/rss2.html" target="_blank" class="rss" title="Suscripción a canales de información RSS"></a>
                    </li>
                </ul>
                <!-- idioma -->
                <div class="collapse btn-group languageMenu d-none d-md-block">
                    <div class="btn btn-default dropdown-toggle" data-toggle="dropdown">es<span class="caret"></span></div>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="index.html#">EN - English</a></li>
                        <li><a href="index.html#">GUC - Wayuunaiki</a></li>
                        <li><a href="index.html#">PBB - Nasa yuwe</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>

    <!-- Menú inferior -->
    <div id="bs-navbar" class="navigation d-none d-md-block">
        <!-- Título del sitio -->
        <div class="site-url" id="subdominio">
            <a href="http://somoscampus.unal.edu.co/">somoscampus.unal.edu.co</a>
        </div>
        <!-- Buscador -->
        <div class="buscador" id="buscador">
            <div class="gcse-searchbox-only" data-resultsurl="http://unal.edu.co/resultados-de-la-busqueda/" data-newwindow="true"></div>
        </div>
        <!-- Main menu -->
        <div class="navbar-dark mainMenu" id="main_menu_container">
            <!-- Items menú principal -->
            <!-- Items menú principal -->
            <div class="btn-group">
                <div class="btn-group">
                   <a href="http://somoscampus.unal.edu.co/nosotros.html" class="btn btn-default" target="_blank">PROYECTO SOMOS CAMPUS</a>
                </div>

                <div class="btn btn-default dropdown-toggle" data-toggle="dropdown">ACCIONES<span class="caret"></span></div>
                <ul class="dropdown-menu">
                   <li>
                      <a class="dropdown-item" href="http://somoscampus.unal.edu.co/undia/index.html" target="_blank">UN DÍA EN LA UN</a>
                   </li>
                   <li>
                      <a class="dropdown-item" href="http://somoscampus.unal.edu.co/album-somos-campus.html" target="_blank">ÁLBUM SOMOS CAMPUS</a>
                   </li>
                   <li>
                      <a class="dropdown-item" href="http://somoscampus.unal.edu.co/album-reconozco-patrimonio.html" target="_blank">RECONOZCO EL PATRIMONIO</a>
                   </li>
                   <li>
                      <a class="dropdown-item" href="http://somoscampus.unal.edu.co/festival_anual_somos_campus.html" target="_blank">FESTIVAL SOMOS CAMPUS</a>
                   </li>
                   <li>
                      <a class="dropdown-item" href="http://somoscampus.unal.edu.co/carrera-observacion.html" target="_blank">CARRERA DE OBSERVACIÓN</a>
                   </li>
                </ul>
             </div>
             <!-- Fin Items menú principal -->
  
<!-- Sedes -->
            <div class="btn-group menu_sedes">
                <div class="btn btn-default dropdown-toggle" data-toggle="dropdown">Sedes<span class="caret"></span></div>
                <ul class="dropdown-menu" id="sedes">
                    <li>
                        <a class="dropdown-item" href="http://amazonia.unal.edu.co" target="_blank">Amazonia</a>
                        <span class="caret-right"></span></li>
                    <li>
                        <a class="dropdown-item" href="http://bogota.unal.edu.co" target="_blank">Bogotá</a>
                        <span class="caret-right"></span></li>
                    <li>
                        <a class="dropdown-item" href="http://caribe.unal.edu.co" target="_blank">Caribe</a>
                        <span class="caret-right"></span></li>
                    <li>
                        <a class="dropdown-item" href="http://delapaz.unal.edu.co" target="_blank">De La Paz</a>
                        <span class="caret-right"></span></li>
                    <li>
                        <a class="dropdown-item" href="http://www.manizales.unal.edu.co" target="_blank">Manizales</a>
                        <span class="caret-right"></span></li>
                    <li>
                        <a class="dropdown-item" href="http://medellin.unal.edu.co" target="_blank">Medellín</a>
                        <span class="caret-right"></span></li>
                    <li>
                        <a class="dropdown-item" href="http://orinoquia.unal.edu.co" target="_blank">Orinoquia</a>
                        <span class="caret-right"></span></li>
                    <li>
                        <a class="dropdown-item" href="http://www.palmira.unal.edu.co" target="_blank">Palmira</a>
                        <span class="caret-right"></span></li>
                    <li>
                        <a class="dropdown-item" href="http://tumaco-pacifico.unal.edu.co" target="_blank">Tumaco</a>
                        <span class="caret-right"></span></li>
                </ul>
            </div>
        </div>
        <!-- Servicios label -->
        <div class="btn-group d-none">
            <div class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="navbarSupportedContent" data-target="#services">Servicios<span class="caret"></span>
            </div>
        </div>
        <!-- Perfiles -->
        <div class="btn-group d-none">
            <div class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="navbarSupportedContent" data-target="#profiles">Perfiles<span class="caret"></span>
            </div>
        </div>
    </div>

    <!--Navbar-->
    <nav class="navbar navbar-light light-blue lighten-4 main_menu">
        <!-- Navbar brand -->
        <a class="navbar-brand d-block d-md-none" href="javascript:void(0)"></a>

        <!-- Collapse button -->
        <button class="navbar-toggler collapsed d-block d-md-none" type="button" data-toggle="collapse" data-target="#navbar_content" aria-controls="navbar_content" aria-expanded="false" aria-label="Toggle navigation" id="btn_hamburguer">
            <!-- <span class="navbar-toggler-icon"></span> -->
        </button>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="navbar_content">
            <!-- subdominio -->
            <div class="site-url" id="container_subdominio_mobil"></div>
            <!-- buscador -->
            <div class="buscador" id="container_buscador_mobil"></div>
            <!-- main -->
            <div id="container_mainmenu_mobil"></div>
            <!-- Sedes -->
            <div class="btn-group d-block d-md-none hidden-print">
                <div class="btn btn-default dropdown-toggle" data-toggle="collapse" data-target="#container_sedes_mobil" aria-controls="container_sedes_mobil">Sedes<span class="caret"> </span>
                </div>
            </div>
            <div class="collapse" id="container_sedes_mobil"></div>

            <!-- Servicios -->
            <div class="btn-group d-block d-md-none hidden-print">
                <div class="btn btn-default dropdown-toggle" data-toggle="collapse" data-target="#container_servicios_mobil" aria-controls="container_servicios_mobil">Servicios<span class="caret"> </span>
                </div>
            </div>
            <div class="collapse" id="container_servicios_mobil"></div>

            <!-- Perfiles -->
            <div class="btn-group d-block d-md-none hidden-print">
                <div class="btn btn-default dropdown-toggle" data-toggle="collapse" data-target="#container_profiles_mobil" aria-controls="container_profiles_mobil">Perfiles<span class="caret"> </span>
                </div>
            </div>
            <div class="collapse" id="container_profiles_mobil"></div>
        </div>

        <!-- Collapsible content -->
    </nav>
    <!-- name office -->
    <!-- end name office -->
</header>
</div>