<div class="container-fluid">

    <div class="row">
        <h3>
            <mat-checkbox>Por remisión</mat-checkbox>
        </h3>
        <span class="fill-space"></span>

        <span>
            <mat-button-toggle-group #group="matButtonToggleGroup" [value]="selectedVal" (change)="onValChange(group.value)" class="option">
                <mat-button-toggle value="option1">
                    Compra
                </mat-button-toggle>
                <mat-button-toggle value="option2">
                    Venta
                </mat-button-toggle>
            </mat-button-toggle-group>
        </span>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-4 col-lg-4">

        </div>
        <div class="col-xs-12 col-md-4 col-lg-4 text-center">
            <h4>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Número Pedido" value="Sushi">
                </mat-form-field>
            </h4>

        </div>
        <div class="col-xs-12 col-md-4 col-lg-4">
            <h4>
                <mat-form-field>
                    <input matInput [matDatepicker]="picker" [formControl]="date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker disabled="false"></mat-datepicker>
                </mat-form-field>
            </h4>

        </div>

    </div>
</div>


<div *ngIf="selectedVal=='option1'">
    <app-bill-shop [ID_BILLTYPE]="ID_BILL_TYPE"></app-bill-shop>
</div>
<div *ngIf="selectedVal=='option2'">
    <app-bill-sale [ID_BILLTYPE]="ID_BILL_TYPE"></app-bill-sale>
</div>

<!-- <app-bill-general></app-bill-general> -->