<div style="max-height: 85vh">
  <mat-card >
    <mat-card-content style="padding:25px">
      <div class="row">
      <mat-form-field>
        <mat-label>Seleccione tienda</mat-label>
        <mat-select [(ngModel)]="SelectedStore" (change)="getBoxes()">
          <mat-option *ngFor="let elem of Stores" [value]="elem.id_STORE">
            {{elem.store_NAME}}
          </mat-option>
        </mat-select>
      </mat-form-field>

        
      <mat-form-field *ngIf="!storesEmpty">
        <mat-label>Seleccione Caja</mat-label>
        <mat-select [(ngModel)]="SelectedBox">
          <mat-option *ngFor="let elem of Boxes" [value]="elem.id_CIERRE_CAJA">
            {{elem.caja}}
          </mat-option>
        </mat-select>
      </mat-form-field>


      <button mat-stroked-button color="primary" type="button" (click)="getData()">Cargar Caja</button>

      </div>
      <div class="row" style="text-align:center;width: 100%;margin-top:-20px">
        <div class="col">
          <h3 class="left-scroll">
            <b>
              Saldo en caja  
            </b>
          </h3>
          <h3 class="left-scroll" style="margin-top: -15px">
            {{ roundDecimals(balances -((efectivo)-(devoluciones))) | currency  : 'USD' : 'symbol' : '1.0'}}
          </h3>
        </div>
      </div>
      <div class="row">
          <div class="col-6">
        <table class="table table-hover">
            <thead>
              <tr>
                <th class="text-center"><b>Caja: {{ cajaS }}</b></th>
              </tr>
              <tr>
                <th class="text-center"><b>Cajero: {{ cajeroS.replace('null',' ') }}</b> </th>
              </tr>
              <tr>
                <th class="text-center"><b>Fecha apertura: {{ fecha_aperturaS | date:'dd/MM/yyyy H:mm'}}</b></th>
              </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
      </div>
      <div class="col-6">
      <table class="table table-hover">
          <thead>
            <tr>
              <th class="text-center"><b></b></th>
              <th class="text-center"><b>Ventas</b></th>
              <th class="text-center"><b>Devoluciones</b></th>
              <th class="text-center"><b></b></th>
            </tr>
            <tr>
                <th class="text-center"> 
                  <b>Efectivo: </b>
                </th>
                <th class="text-center"> {{ roundDecimals(efectivo) | currency  : 'USD' : 'symbol' : '1.0' }}</th>
                <th class="text-center"> {{ roundDecimals(devoluciones) | currency  : 'USD' : 'symbol' : '1.0' }} </th>
                <th class="text-center"> {{ roundDecimals(efectivo-devoluciones) | currency  : 'USD' : 'symbol' : '1.0' }} </th>
              </tr>
              <tr>
                <th class="text-center"> 
                  <b>Tarjeta Debito: </b>
                </th>
                <th class="text-center"> {{ roundDecimals(tarjDeb) | currency  : 'USD' : 'symbol' : '1.0' }}</th>
                <th class="text-center"> {{ roundDecimals(devolucionesDebt) | currency  : 'USD' : 'symbol' : '1.0' }} </th>
                <th class="text-center"> {{ roundDecimals(tarjDeb-devolucionesDebt) | currency  : 'USD' : 'symbol' : '1.0' }} </th>
              </tr>
              <tr>
                <th class="text-center"> 
                  <b>Tarjeta Credito: </b>
                </th>
                <th class="text-center"> {{ roundDecimals(tarjCred) | currency  : 'USD' : 'symbol' : '1.0' }}</th>
                <th class="text-center"> {{ roundDecimals(devolucionesCred) | currency  : 'USD' : 'symbol' : '1.0' }} </th>
                <th class="text-center"> {{ roundDecimals(tarjCred-devolucionesCred) | currency  : 'USD' : 'symbol' : '1.0' }} </th>
              </tr>
              <tr>
                <th class="text-center"> 
                  <b> </b>
                </th>
                <th class="text-center"><h4><b>{{ roundDecimals((tarjCred+tarjDeb+efectivo)) | currency  : 'USD' : 'symbol' : '1.0' }}</b></h4></th>
                <th class="text-center"><h4><b>{{ roundDecimals((devoluciones+devolucionesDebt+devolucionesCred)) | currency  : 'USD' : 'symbol' : '1.0' }}</b></h4></th>
                <th class="text-center"><h4><b>{{ roundDecimals((tarjCred+tarjDeb+efectivo)-(devoluciones+devolucionesDebt+devolucionesCred)) | currency  : 'USD' : 'symbol' : '1.0' }}</b></h4></th>
              </tr>
          </thead>
          <tbody>
            
          </tbody>
      </table>
      </div>
    </div>
        <div class="row" style="text-align:center;width: 100%;margin-top:-20px">
            <div class="col">
              <h3 class="left-scroll">
                <b>
                  Detalles  
                </b>
              </h3>
              
      <table class="table table-hover" style="text-align: center">
          <tr>
            <th>Fecha</th>
            <th>Tipo</th> 
            <th>Notas</th>
            <th>Valor</th>
          </tr>
          <tr *ngFor="let detail of myDetails">
            <td>{{detail.movement_DATE}}</td>
            <td>{{detail.naturaleza === 'D' ? "Débito":"Crédito"}}</td>
            <td>{{detail.notes}}</td>
            <td>{{roundDecimals(detail.valor) | currency}}</td>
          </tr>
        </table>
            </div>
          </div>        
    </mat-card-content>
  </mat-card>
</div>