<div class="container">
  <div class="row">
    <div class="col">
      <div class="card card-nav-tabs">
        <div class="card-header" data-background-color="red">
          <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
          <div class="nav-tabs-navigation">
            <div class="nav-tabs-wrapper">
              <ul class="nav nav-tabs" data-tabs="tabs">
                <li class="nav-item">
                  <a class="nav-link" href="#tab-tienda" data-toggle="tab">Mi Tienda</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="#tab-sucursales" data-toggle="tab">Mis Sucursales</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#tab-equipo" data-toggle="tab">Mi Equipo</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#tab-facturacion" data-toggle="tab">Datos De Facturación</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#tab-notificaciones" data-toggle="tab">Notificaciones</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="tab-content">
            <div class="tab-pane" id="tab-tienda">
              Tienda
            </div>
            <div class="tab-pane active" id="tab-sucursales">
              <h1 class="my-5">Mis Sucursales</h1>
              <div class="row">
                <div class="col-4">
                  <mat-form-field>
                    <input matInput placeholder="Nombre de la sucursal" value="">
                  </mat-form-field>
                </div>
                <div class="col-4">
                  <mat-form-field>
                    <input matInput placeholder="Dirección" value="">
                  </mat-form-field>
                </div>
                <div class="col-4">
                  <mat-form-field>
                    <input matInput placeholder="Teléfono" value="">
                  </mat-form-field>
                </div>
                <div class="col-12">
                  <button class="btn btn-success float-right">Agregar</button>
                </div>
                <div class="col-12">
                  <table class="table">
                    <thead>
                      <tr>
                        <!-- <th class="text-left"><input type="checkbox" (change)="checkAllItems($event)" [checked]="removalArray.size == setObject.length && setObject.length > 0 "></th> -->
                        <th class="text-left"><input type="checkbox"></th>
                        <th class="text-left">Sucursal</th>
                        <th>Dirección</th>
                        <th class="text-left">Teléfono</th>
                        <th class="text-left">Empleados</th>
                        <th class="text-left">Creación</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of [1,2,3,4]">
                        <td class="text-left"><input type="checkbox"></td>
                        <td class="text-left">Sucursal {{item}}</td>
                        <td>Dirección {{item}}</td>
                        <td class="text-left">Teléfono {{item}}</td>
                        <td class="text-left">Empleados {{item}}</td>
                        <td class="text-left">Creación {{item}}</td>
                      </tr>
                      <!-- <tr *ngFor="let key of setObject; let idx= index; let last= last;">
                          <td class="text-left"><input type="checkbox" (change)="checkItem($event, key)" [checked]="removalArray.has(key)"></td>
                          <td class="text-left">{{key}}</td>
                          <td>{{productsObject[key].description}}</td>
                          <td class="text-center">
                            <input *ngIf="last" id="lastDetailQuantity" type="number" min="1" [(ngModel)]="productsObject[key].quantity" (keyup.enter)="readNew($event)">
                            <input *ngIf="! last" type="number" min="1" [(ngModel)]="productsObject[key].quantity" (keyup.enter)="readNew($event)">
                          </td>
                          <td class="text-right">{{productsObject[key].price | currency}}</td>
                          <td class="text-right">{{productsObject[key].tax | percent}}</td>
                          <td class="text-right">{{productsObject[key].price * productsObject[key].quantity | currency}}</td>
                        </tr>
                        <tr>
                          <td colspan="7"><input id="reader" autofocus type="text" (keyup.enter)="addDetail($event)"></td>
                        </tr> -->
                    </tbody>
                  </table>
                </div>
                <div class="col-12">
                  <button class="btn btn-default">Eliminar</button>
                </div>
                <div class="col-12">
                  <button class="btn btn-danger btn-lg float-right">Guardar</button>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-equipo">
              <h1 class="my-5">Mi Equipo De Trabajo</h1>
              <div class="row">
                <div class="col-3">
                  <mat-form-field>
                    <input matInput placeholder="Primer Nombre" value="">
                  </mat-form-field>
                </div>
                <div class="col-3">
                  <mat-form-field>
                    <input matInput placeholder="Segundo Nombre" value="">
                  </mat-form-field>
                </div>
                <div class="col-3">
                  <mat-form-field>
                    <input matInput placeholder="Primer Apellido" value="">
                  </mat-form-field>
                </div>
                <div class="col-3">
                  <mat-form-field>
                    <input matInput placeholder="Segundo Apellido" value="">
                  </mat-form-field>
                </div>
                <div class="col-5">
                  <mat-form-field>
                    <input matInput placeholder="Correo Del Empleado" value="">
                  </mat-form-field>
                </div>
                <div class="col-5">
                  <mat-form-field>
                    <input matInput placeholder="Cargo" value="">
                  </mat-form-field>
                </div>
                <div class="col-2">
                  <mat-form-field>
                    <mat-select placeholder="Sucursal">
                      <mat-option *ngFor="let item of [1,2,3,4]" [value]="'Sucursal '+item">
                        Sucursal {{item}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-12">
                  <button class="btn btn-success float-right">Agregar</button>
                </div>
                <div class="col-12">
                  <table class="table">
                    <thead>
                      <tr>
                        <!-- <th class="text-left"><input type="checkbox" (change)="checkAllItems($event)" [checked]="removalArray.size == setObject.length && setObject.length > 0 "></th> -->
                        <th class="text-left"><input type="checkbox"></th>
                        <th class="text-left">Primer Nombre</th>
                        <th class="text-left">Primer Apellido</th>
                        <th class="text-left">Correo Del Empleado</th>
                        <th class="text-left">Cargo</th>
                        <th class="text-left">Sucursal</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of [1,2,3,4]">
                        <td class="text-left"><input type="checkbox"></td>
                        <td class="text-left">Nombre {{item}}</td>
                        <td class="text-left">Apellido {{item}}</td>
                        <td class="text-left">Email {{item}}</td>
                        <td class="text-left">Cargo {{item}}</td>
                        <td class="text-left">Sucursal {{item}}</td>
                      </tr>
                      <!-- <tr *ngFor="let key of setObject; let idx= index; let last= last;">
                            <td class="text-left"><input type="checkbox" (change)="checkItem($event, key)" [checked]="removalArray.has(key)"></td>
                            <td class="text-left">{{key}}</td>
                            <td>{{productsObject[key].description}}</td>
                            <td class="text-center">
                              <input *ngIf="last" id="lastDetailQuantity" type="number" min="1" [(ngModel)]="productsObject[key].quantity" (keyup.enter)="readNew($event)">
                              <input *ngIf="! last" type="number" min="1" [(ngModel)]="productsObject[key].quantity" (keyup.enter)="readNew($event)">
                            </td>
                            <td class="text-right">{{productsObject[key].price | currency}}</td>
                            <td class="text-right">{{productsObject[key].tax | percent}}</td>
                            <td class="text-right">{{productsObject[key].price * productsObject[key].quantity | currency}}</td>
                          </tr>
                          <tr>
                            <td colspan="7"><input id="reader" autofocus type="text" (keyup.enter)="addDetail($event)"></td>
                          </tr> -->
                    </tbody>
                  </table>
                </div>
                <div class="col-12">
                  <button class="btn btn-default">Eliminar</button>
                </div>
                <div class="col-12">
                  <button class="btn btn-danger btn-lg float-right">Guardar</button>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-facturacion">
              <h1 class="my-5">Datos De Facturación</h1>
              <div class="row">
                <div class="col-8">
                  <h3>¿La factura de venta por defecto es <u>Por Remision</u></h3>
                  <mat-radio-group>
                    <mat-radio-button class="mr-5" value="1" checked>Si</mat-radio-button>
                    <mat-radio-button class="mr-5" value="2">No</mat-radio-button>
                  </mat-radio-group>
                </div>
                <div class="col-4">
                  <mat-radio-group class="vertical-radio-group mt-5">
                    <mat-radio-button class="mr-5" value="1" checked>Régimen Simplificado</mat-radio-button>
                    <mat-radio-button class="mr-5" value="2">Régimen Común</mat-radio-button>
                  </mat-radio-group>
                </div>
                <div class="col-12 my-5">
                  <table width="100%" class="my-5">
                    <tr>
                      <td><input placeholder="Prefijo"></td>
                      <td>Venta</td>
                      <td><input value="1"></td>
                      <td><input placeholder="máximo"></td>
                      <td rowspan="6"><textarea placeholder="Descripción de la resolución" cols="30" rows="10"></textarea></td>
                    </tr>
                    <tr>
                      <td><input placeholder="Prefijo"></td>
                      <td>Venta por remisión</td>
                      <td><input value="1"></td>
                      <td></td>

                    </tr>
                    <tr>
                      <td><input placeholder="Prefijo"></td>
                      <td>Entrada</td>
                      <td><input value="1"></td>
                      <td></td>

                    </tr>
                    <tr>
                      <td><input placeholder="Prefijo"></td>
                      <td>Salida</td>
                      <td><input value="1"></td>
                      <td></td>

                    </tr>
                    <tr>
                      <td><input placeholder="Prefijo"></td>
                      <td>Traslado</td>
                      <td><input value="1"></td>
                      <td></td>

                    </tr>
                    <tr>
                      <td><input placeholder="Prefijo"></td>
                      <td>Devolucion</td>
                      <td><input value="1"></td>
                      <td></td>

                    </tr>
                  </table>
                </div>
                <div class="col-12">
                  <button class="btn btn-danger btn-lg float-right">Guardar</button>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-notificaciones">
              <p>Notificaciones</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>