<div class="container">
  <div class="row " >
      <mat-card class="example-full-width mat-elevation-z10">
          <mat-card-title class="text-center">Gestionar nuevo Código de Barras
            <span class="tky-right example-margin" >... </span>
          </mat-card-title>

          <mat-card-footer>
              <mat-tab-group #tabGroup (selectedTabChange)="tabChanged($event)" >
                  <mat-tab class="tky-left example-full-width ">
                    <ng-template mat-tab-label>
                      <h3> Códigos Estandar</h3>
                    </ng-template>
                  </mat-tab>
                  <mat-tab class="tky-right example-full-width">
                    <ng-template mat-tab-label>
                      <h3> Mis Códigos</h3>
                    </ng-template>
                  </mat-tab>
                </mat-tab-group>
          </mat-card-footer>
        </mat-card>
  </div>
  <br>
  <form novalidate [formGroup]="form" class="example-full-width" >
  <div class="example-full-width row" *ngIf="isEditCode">
    
        <mat-card class="example-full-width mat-elevation-z10">
        <div class="center-block">
            <mat-card-title>
                <mat-form-field class="example-full-width text-center" >
                    <mat-icon matPrefix>view_week</mat-icon>
                    <input class="text-center" matInput #code maxlength="56" placeholder="Código de Barras"  formControlName="code">
                    <mat-hint align="end">{{code.value.length}} / 56</mat-hint>
                    <mat-error *ngIf="form.controls.code.errors && form.controls.code.touched">
                        <mat-error *ngIf="form.controls.code.errors.required">
                            El Código es <strong>requerido</strong>
                        </mat-error>
                    </mat-error>
                </mat-form-field>
            </mat-card-title>
        </div>
        </mat-card>
   

  </div>
  <br>
  <div class="row">
    <div class="example-full-width">
        <h2 class="title text-center">Descripción del Código de Barras</h2>

    </div>
    
  </div>
  <div class="row example-full-width">
    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 ">
        <h3 class=" example-full-width text-center center-text">
            <mat-form-field class="example-full-width  center-text text-center">
                <mat-select placeholder="Seleccione un Producto" formControlName="product">
                  <mat-option *ngFor="let product of products" required [value]="product">
                      {{product?.name_product}}
                  </mat-option>
                </mat-select>
      
                <mat-error *ngIf="form.controls.product.errors && form.controls.product.touched">
                  <mat-error *ngIf="form.controls.product.errors.required">
                    El producto es rerquedio es
                    <strong>requerido</strong>
                  </mat-error>
                </mat-error>
              </mat-form-field>
        </h3>
    </div>
    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 ">
        <h3 class=" example-full-width text-center center-text">
            <mat-form-field class="example-full-width  center-text text-center">
                <mat-select placeholder="Seleccione Unidad de Medida" formControlName="measure_unit">
                  <mat-option *ngFor="let measureUnit of measureUnitList" required [value]="measureUnit">
                      {{measureUnit.name_measure_unit}}
                  </mat-option>
                </mat-select>
      
                <mat-error *ngIf="form.controls.measure_unit.errors && form.controls.measure_unit.touched">
                  <mat-error *ngIf="form.controls.measure_unit.errors.required">
                    La Unidad de Medida es rerquedio es
                    <strong>requerido</strong>
                  </mat-error>
                </mat-error>
              </mat-form-field>
        </h3>

    </div>
   
    
    </div>
  </form>
  <form novalidate [formGroup]="form" class="example-full-width" >
      
          <div class="row example-full-width " *ngIf="isEditFields">
              <h2 class="example-full-width text-center center-text">
                <mat-form-field class="example-full-width  text-center" >
                    <mat-icon matPrefix>view_week</mat-icon>
                  <input matInput placeholder="Precio Sugerido" formControlName="suggest_price" >
      
                     <mat-error *ngIf="form.controls.suggest_price.errors && form.controls.suggest_price.touched">
                      <mat-error *ngIf="form.controls.suggest_price.errors.required">
                        El Precio Sugerido es 
                        <strong>requerido</strong>
                      </mat-error>
                    </mat-error>
                </mat-form-field>
              </h2>
          </div>
      </form>
      <div class="container row " >
        <h3 class="tky-full-width text-center center-text" (click)="seenAttribute()">
            <b>Seleccione los Atributos?</b> <small>[En caso necesario]</small>
        </h3>
        
          <div *ngIf="isseenAttribute"  class="row tky-full-width">
            <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4" *ngFor="let attrib of attributeComplete; let i = index">
                <div class="row tky-full-width">
                    <mat-card class="example-full-width mat-elevation-z10">
                      <h3 class="text-center">{{attrib.attribute?.common?.name}}</h3>
                      <div class="row example-full-width" *ngIf="attrib.values.length>0">
                          
                             <mat-radio-group class="example-radio-group text-center"  click="alert('THIS')">
                                 <mat-radio-button class="example-radio-button" *ngFor="let value of attrib.values" (click)="addValue(false,value)"  [value]="value?.name_attrib_value">
                                     <h4 class="text-center"> <b>{{value?.name_attrib_value}}</b></h4>
                                 </mat-radio-button>
                                 <mat-radio-button class="example-radio-button"  (click)="addValue(attrib?.attribute?.id_attribute)"  [value]="false">
                                   <h4 class="text-center"> <b>Ninguno</b></h4>
                               </mat-radio-button>
                               </mat-radio-group>
                         </div>
                    </mat-card>

                </div>

            </div> 
          </div>
       
        
          
      </div>

 

  <div class="row">
    <span class="fill-space"></span>
    <button mat-raised-button (click)="save()" color="accent" [disabled]="!form.valid">GUARDAR</button>
  </div>

</div>
