<!-- Servicios -->
<div id="services">
    <div class="indicator d-none d-md-block"></div>
    <ul class="dropdown-menu" id="servicios">
        <li>
            <a href="http://correo.unal.edu.co" target="_blank"><img src="images/icnServEmail.png" width="32" height="32" alt="Correo Electrónico">Correo Electrónico</a>
        </li>
        <li>
            <a href="http://dninfoa.unal.edu.co" target="_blank"><img src="images/icnServSia.png" width="32" height="32" alt="Dirección Nacional de Información Académica">DNINFOA - SIA</a>
        </li>
        <li>
            <a href="http://bibliotecas.unal.edu.co" target="_blank"><img src="images/icnServLibrary.png" width="32" height="32" alt="Biblioteca">Bibliotecas</a>
        </li>
        <li>
            <a href="http://personal.unal.edu.co" target="_blank"><img src="images/icnServCall.png" width="32" height="32" alt="Convocatorias">Convocatorias</a>
        </li>
        <li>
            <a href="http://identidad.unal.edu.co"><img src="images/icnServIdentidad.png" width="32" height="32" alt="Identidad U.N.">Identidad U.N.</a>
        </li>
    </ul>
</div>
<!-- /content wrapper for padding -->


<main class="detalle">
    <h1 class="tit_seccion" style="padding-top: 5%;">Galería</h1>
    <div class="cont_btn">
        <a class="btn_regresar" (click)="irMapa()">Regresar al mapa</a>
    </div>
    <div class="cont_filtro_galeria">
        <h4 class="tit_filtros_galeria" style="padding-top: 15px;">Filtra por categoría</h4>
        <!-- <div class="cont_input_filtros_galeria">
            <select id="seluser" name="seleccionar_filtro filtro_galeria" [(ngModel)]="idPregunta" (selectionChange)="setPregunta()" size="1">
                <option class="opt_filtro" [value]=-1> Todos </option>
                <option class="opt_filtro" *ngFor="let item of this.listaPreguntas" [value]="item.id_pregunta"> {{item.pregunta}} </option>
            </select>
        </div> -->
        <div style="display: none;">
            <div class="background-select-questions" uk-form-custom="target: > * > span:first-child" uk-toggle="target: .toggle-1">
                <select class="select-questions" name="seleccionar_filtro filtro_galeria"  >
                    <option [value]=-1> Todos</option>
                    <option *ngFor="let item of this.listaPreguntas" [value]="item.id_pregunta"> {{item.pregunta}} </option>
                </select>
                <button class="button-select-questions" tabindex="-1">
                    <span></span>
                        <span class="toggle-1" style="padding-left: 7px; width: 18px !important;" uk-icon="icon: chevron-down"></span>
                        <span class="toggle-1" style="padding-left: 7px; width: 18px !important;" uk-icon="icon: chevron-up" hidden></span>
                </button>
            </div>
        </div>

        <div class="uk-inline">
            <div>
                <button class="uk-flex uk-flex-middle uk-flex-between contenedor-filtros-input" uk-toggle="target: .toggle">
                    <div style="padding-left: 10px;">
                        {{pregunta}}
                    </div>
                    <div class="uk-align-right uk-margin-remove">
                        <i style="font-size: 15px" class="toggle fas fa-angle-down"></i>
                        <i style="font-size: 15px" class="toggle fas fa-angle-up" hidden></i>
                    </div>
                </button>
            </div>
            <div class="box-scroll-filter uk-padding-remove" uk-dropdown="pos: bottom-justify;">
                <div name="seleccionar_filtro">
                    <div class="hover-options" (click)="setPregunta({id_pregunta: -1,pregunta: 'Todas'})">Todos</div>
                    <div *ngFor="let item of this.listaPreguntas" class="hover-options" (click)="setPregunta(item)">{{item.pregunta}}</div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div>
        <mat-select name="seleccionar_filtro">
            <mat-option [value]=-1> Todos </mat-option>
            <mat-option *ngFor="let item of this.listaPreguntas" [value]="item.id_pregunta"> {{item.pregunta}} </mat-option>
        </mat-select>
    </div>  -->

    <div class="contenedor_imagenes">
        <div class="img_postcard_galeria" *ngFor="let item of listaPublicacionesPadre">
            <div class="contenido_postcard" (click)="createLike(item)">

                <div class="cont_like">

                    <i class="fas fa-heart like animacion"></i>
                    <p class="txt_like "> {{item.likes}} </p>
                    <!-- Cuando ya se haya dado like a una publicación, la visualización debe ser la de abajo y la app no debe premitir realizar más likes en esa publicación, al hacer nuevamente click se debe quitar el like  -->
                    <!-- 						<i class="fas fa-heart like_active animacion"></i>
                    <p class="txt_like ">13</p>  -->

                </div>
                <p class="texto_postcard_galeria"> {{item.publicacion}} </p>
                <div class="linea_postcard_galeria"></div>
                <p class="nombre_postcard_galeria"> {{item.usuario}} </p>
            </div>

            <div class="img_postcard_bg" [ngStyle]="{'background-image': 'url(' + item.img_URL + ')'}">
            </div>
        </div>
    </div>
</main>
