<!--component html goes here -->
<div class="wrapper" style="background-color: #eeeeee;">

    <div class="sidebar" data-color='red' data-image="" [ngClass]="isMobileMenuNav() ? '':'AjusteNormalSidebar'">
        <app-sidebar></app-sidebar>
    </div>
    <div class="main-panel" [ngClass]="isMobileMenuNav() ? '':'AjusteNormalMainPanel'">
        <app-navbar *ngIf="isMobileMenuNav()"></app-navbar>
        <div class="main-content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
