<div *ngIf="this.accountService.MostrandoProfileIcon" (click)="ClickPerfil()" style="position: absolute;height: 88vh;width: 100vw;background-color: #80808042;z-index: 1;top: 12vh;left: 0">
  <!--        EL LOGIN COMO TAL-->
  <div class="ContenedorLogin" *ngIf="this.accountService.usuarioCompleto == null" (click)="$event.stopPropagation()">
    <form [formGroup]="loginForm" style="display: flex;flex-direction: column;height: 85%;margin: auto;width: 85%">
      <mat-label style="font-weight: bold;font-size: 130%;color: black;margin-bottom: 10px">Inicia Sesión</mat-label>
      <div style="display: flex;width: 100%;height: 30%;justify-content: space-between">
        <div class="AjusteContenedorInput">
          <mat-label>Correo Electrónico</mat-label>
          <input formControlName="username" placeholder="Correo" type="text"/>
        </div>
        <div class="AjusteContenedorInput">
          <mat-label>Contraseña</mat-label>
          <div style="position: relative">
            <input formControlName="password" placeholder="Contraseña" [type]="!MostrarClaveLogin ? 'password':'text'"/>
            <div style="position: absolute;width: 10%;height: 100%;display: flex;right: 5px;top: 0;z-index: 1;cursor: pointer" (click)="MostrarClaveLogin = !MostrarClaveLogin">
              <mat-icon style="margin: auto" *ngIf="!MostrarClaveLogin">visibility</mat-icon>
              <mat-icon style="margin: auto" *ngIf="MostrarClaveLogin">visibility_off</mat-icon>
            </div>
          </div>
        </div>
      </div>
      <div style="display: flex;width: 100%;height: 20%">
        <button (click)="Login()" mat-flat-button style="width: 40%;height: 70%;font-weight: bold;border: unset;cursor: pointer;background-color:#FFF385;font-size: 120%;margin: auto 0" color="primary">Entrar</button>
        <mat-label style="margin: auto;font-size: 90%;color: black;cursor: pointer">¿Olvidaste tu contraseña?</mat-label>
      </div>
      <mat-label style="font-weight: bold;font-size: 130%;color: black;margin: auto 0;">Regístrate</mat-label>
      <button (click)="GotoSignIn()" mat-flat-button style="width: 50%;height: 15%;font-weight: bold;border: unset;cursor: pointer;background-color:black;color: white;font-size: 120%;">Crear Cuenta</button>
    </form>
  </div>
  <!--      PARTE QUE CONTIENE EL OPCIONES DE PERFIL, USUARIO LOG--> <!--        YA LOGUEADO COMO TAL-->
  <div class="ContenedorParteMisPedidos" *ngIf="this.accountService.usuarioCompleto != null && LogueadoSeccion == 0" (click)="$event.stopPropagation()">
    <mat-label (click)="$event.stopPropagation();ClickMisPedidos()" style="font-weight: bold;font-size: 120%;color: black;margin: 0 auto;cursor: pointer">Mis pedidos</mat-label>
    <mat-label (click)="$event.stopPropagation();ClickCerrarSesion()" style="font-weight: bold;font-size: 100%;color: gray;margin: 0 auto;cursor: pointer">Cerrar Sesión</mat-label>
  </div>
<!--  MIS PEDIDOS-->
  <div class="ContenedorComotalMisPedidos" *ngIf="this.accountService.usuarioCompleto != null && LogueadoSeccion == 1" (click)="$event.stopPropagation()">
    <mat-tab-group style="height: 100%;width: 100%">
<!--      TAB ACTIVOS-->
      <mat-tab label="Activos">
        <div class="ScrollBar" style="overflow: auto;height: 100%">
          <div class="TarjetaPedido" *ngFor="let pedido of this.billingService.ListadoPedidosActivos;let i = index">
            <div style="display: flex;height: 75%;margin: auto;border-bottom: solid 1px black;width: 90%;padding-top: 5px;"(click)="$event.stopPropagation();this.ClickOrder(pedido,0)">
              <div style="display: flex;flex-direction: column;flex-shrink: 0;">
                <div style="display: flex;margin: auto;font-size: 120%;margin-top: 0">{{pedido.numdocumento}}</div>
                <div style="font-size: 80%;margin: 0 auto;margin-bottom: auto">N° Pedido</div>
              </div>
              <div style="flex: auto;padding-left: 20px;display: flex;flex-direction: column">
                <mat-label>{{this.FormatedDate(pedido.fecha)}}</mat-label>
                <mat-label style="margin: auto 0">{{BillStateToText(pedido.id_BILL_STATE)}}</mat-label>
              </div>
              <div style="width: 10%;display: flex">
                <!--              <ion-icon style="margin: 0 auto" name="arrow-forward-circle-outline"></ion-icon>-->
              </div>
            </div>
            <div style="display: flex;height: 30%;margin: auto;width: 90%">
              <mat-label (click)="$event.stopPropagation();this.ClickOrder(pedido,1)">Calificar</mat-label>
              <mat-label (click)="$event.stopPropagation();this.ClickOrder(pedido,2)" style="margin-left: auto">Repetir Pedido</mat-label>
            </div>
          </div>
        </div>
      </mat-tab>
<!--      MAT NO ACTIVOS, FINALIZADOS-->
      <mat-tab label="Finalizados">
        <div class="ScrollBar" style="overflow: auto;height: 100%">
          <div class="TarjetaPedido" *ngFor="let pedido of this.billingService.ListadoPedidosFinalizados;let i = index">
            <div style="display: flex;height: 70%;margin: auto;border-bottom: solid 1px black;width: 90%;padding-top: 5px;" (click)="$event.stopPropagation();this.ClickOrder(pedido,0)">
              <div style="display: flex;flex-direction: column;flex-shrink: 0;">
                <div style="display: flex;margin: auto;font-size: 120%;margin-top: 0">{{pedido.numdocumento}}</div>
                <div style="font-size: 80%;margin: 0 auto;margin-bottom: auto">N° Pedido</div>
              </div>
              <div style="flex: auto;padding-left: 20px;display: flex;flex-direction: column">
                <mat-label>{{this.FormatedDate(pedido.fecha)}}</mat-label>
                <mat-label style="margin-top: auto">{{BillStateToText(pedido.id_BILL_STATE)}}</mat-label>
              </div>
              <div style="width: 10%;display: flex">
                <!--              <ion-icon style="margin: 0 auto" name="arrow-forward-circle-outline"></ion-icon>-->
              </div>
            </div>
            <div style="display: flex;height: 30%;margin: auto;width: 90%">
              <mat-label (click)="$event.stopPropagation();this.ClickOrder(pedido,1)">Calificar</mat-label>
              <mat-label (click)="$event.stopPropagation();this.ClickOrder(pedido,2)" style="margin-left: auto">Repetir Pedido</mat-label>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
