.AjusteContenedorInput{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 48%;
  position: relative;
  mat-label{
    font-size: 100%;
    color: black;
    margin: 4px 0;
  }
  input{
    width: 100%;
    height: 30px;
    border: solid 1px #9B9B9B;
    border-radius: 7px;
    text-align: center;
  }
}
.TarjetaPedido{
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  cursor:pointer;
  background-color: white;
  padding: 5px;
  width: 90%;
  height: 14vh;
  margin: 10px auto;
}

.ContenedorLogin{
  position: absolute;height: 50vh;width: 89vw;background-color: white;z-index: 1;top: 0;right: 2vw;box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.35);display: flex;flex-direction: column
}

.ContenedorParteMisPedidos{
  position: absolute;
  justify-content: space-evenly;
  height: 15vh;
  width: 50vw;
  background-color: white;
  z-index: 1;
  top: 0;
  right: 10vw;
  box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.35);
  display: flex;
  flex-direction: column
}

.ContenedorComotalMisPedidos{
  position: absolute;
  overflow: auto;
  justify-content: space-evenly;
  height: 60vh;
  width: 80vw;
  background-image: linear-gradient(0deg, #DAEBF5, white);
  z-index: 1;
  top: 0;
  right: 10vw;
  box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.35);
  display: flex;
  flex-direction: column
}

@media (min-width: 700px) {
  .ContenedorLogin{
    position: absolute;height: 40vh;width: 35vw;background-color: white;z-index: 1;top: 0;right: 2vw;box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.35);display: flex;flex-direction: column
  }
  .ContenedorParteMisPedidos{
    position: absolute;
    justify-content: space-evenly;
    height: 15vh;
    width: 15vw;
    background-color: white;
    z-index: 1;
    top: 0;
    right: 10vw;
    box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.35);
    display: flex;
    flex-direction: column
  }
  .ContenedorComotalMisPedidos{
    position: absolute;
    overflow: auto;
    justify-content: space-evenly;
    height: 40vh;
    width: 30vw;
    background-image: linear-gradient(0deg, #DAEBF5, white);
    z-index: 1;
    top: 0;
    right: 10vw;
    box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.35);
    display: flex;
    flex-direction: column
  }
}
