<div style="display: none;">
    <div class="pn_modal_contenido2">
        <h3 class="modal_titulo"> {{title}} </h3>
        <div style="width: 300px !important;">
            <h6 class="modal_texto"> {{ message }} </h6>
        </div>
        <div class="modal_contenedor_boton">
            <a class="pn_modal_boton" href="javascript:void(0)" onclick="return false;" (click)="close()">Aceptar</a>
        </div>
    </div>
</div>
<div class="pn_modal_contenido2">
    <div>
        <h3 class="modal_titulo">{{title}}</h3>
        <h6 class="modal_texto"> {{ message }}</h6>
    </div>
    <div class="modal_contenedor_boton">
        <a class="pn_modal_boton" href="javascript:void(0)" onclick="return false;" (click)="close()">Aceptar</a>
    </div>
</div>