<ngx-loading [show]="this.commonOperations.mostrandoCargando" [config]="{animationType: this.commonOperations.ngxLoadingAnimationTypes.rectangleBounce, primaryColour: 'rgb(5, 53, 107)', backdropBorderRadius: '3px'}"></ngx-loading>

<!--      PARTE QUE CONTIENE EL LOGIN/REGISTRO DE ESTA SECCIÓN-->
<app-profile-icon></app-profile-icon>
<div style="width: 100vw;height: 100vh;height: calc(var(--vh, 1vh) * 100);display: flex;flex-direction: column">
<!--  CONTENEDOR HEADER-->
  <div class="Header">
    <!--    EL LOGO-->
    <div class="ContenedorLogo">
      <div>
        <img (click)="ClickGoToAdmin()" src="{{billingService.ProviderInfo != null ? billingService.ProviderInfo.LogoURL:'' }}">
      </div>
    </div>
<!--    EL BUSCADOR-->
    <div class="ContenedorBuscador">
      <mat-form-field>
        <!--suppress TypeScriptUnresolvedVariable -->
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="¿Qué buscas?">
      </mat-form-field>
      <mat-icon>search</mat-icon>
    </div>
<!--    ICONO TIENDA / CARRITO-->
    <div class="ContenedorIconoBolsa">
      <mat-icon svgIcon="IconoBolsa" style="cursor: pointer" (click)="ClickMostrarCarrito()">
        <div>
          {{inventoryService.cartService.ListaTablaProductosSeleccionados.length}}
        </div>
      </mat-icon>
    </div>
<!--    MIS PEDIDOS-->
    <div class="ContenedorPedidos">
      <mat-icon *ngIf="!commonOperations.IsMobile()" (click)="ClickPerfil()" svgIcon="IconoPerfil"></mat-icon>
      <div style="display: flex;flex-direction: column;position: relative;height: 100%" *ngIf="commonOperations.IsMobile()">
        <mat-icon (click)="ClickPerfil()" svgIcon="IconoPerfil"></mat-icon>
        <mat-label *ngIf="accountService.usuarioCompleto != null" style="position: absolute;bottom: 0;text-align: center;font-size: 70%;width: 100%">{{accountService.usuarioCompleto.third.profile.first_name}}</mat-label>
      </div>
      <div *ngIf="accountService.usuarioCompleto != null && !commonOperations.IsMobile()" (click)="ClickPerfil()">{{accountService.GetNormalName()}}</div>
    </div>
  </div>
<!--  CONTENIDO-->
  <div class="ContenidoPrincipal">
<!--      LINEAS-->
    <div class="Lineas" [ngClass]="CategoriasOculto ? 'CategoriasOculto':'CategoriasNoOculto'">
      <div class="ScrollBar ElScroll">
        <!--        TARJETA PRODUCTO-->
        <div class="ContenedorLinea" [ngClass]="CategoriasOculto ? 'ItemCategoriaOculto':'ItemCategoriaNoOculto'" *ngFor="let idLinea of this.ListadoKeysLineas;let i = index">
          <div (click)="ClickLinea(idLinea)" class="ClickLinea">
            <!--          IMAGEN PRODUCTO-->
            <img class="AjusteImg" [src]="this.inventoryService.GetFilePathForCategoryIMG(this.inventoryService.LineaList[idLinea].img)"  loop="true" onError="src = 'assets/catNotFound.jpeg'">
            <!--          TITULO PRODUCTO-->
            <div [style.font-size]="CalcularSizeFont(this.inventoryService.LineaList[idLinea].nombre)" class="TextoCategoria">{{this.inventoryService.LineaList[idLinea].nombre.toLowerCase()}}</div>
          </div>
        </div>
      </div>
      <!--          CATEGORIAS, DESPLEGABLE-->
      <div class="ScrollBar ElScrollCategorias" *ngIf="this.CurrentLineaID == this.CurrentLineaID && MostrandoCategorias">
        <div [style]="this.CurrentCatID == idCat ? ( commonOperations.IsMobile() ? 'border: solid 2px green;':'color:green'):(commonOperations.IsMobile() ? 'border: solid 2px #3cc5e3;':'color:#3CC5E3')" class="ContenedorLinea" [ngClass]=" CategoriasOculto ? 'ItemCategoriaOculto':'ItemCategoriaNoOculto'" *ngFor="let idCat of GetCategoriasLinea(this.CurrentLineaID);let i = index">
          <!--        TARJETA PRODUCTO-->
          <div (click)="ClickCat(idCat)" class="ClickCat">
            <!--          IMAGEN PRODUCTO-->
            <img class="AjusteImg" [src]="this.inventoryService.GetFilePathForCategoryIMG(this.inventoryService.LineaList[this.CurrentLineaID].categorias[idCat].img)"  loop="true" onError="src = 'assets/catNotFound.jpeg'">
            <!--          TITULO PRODUCTO-->
            <div [style.font-size]="CalcularSizeFont(this.inventoryService.LineaList[this.CurrentLineaID].categorias[idCat].nombre,commonOperations.IsMobile() ? 4:1.9)" class="TextoCategoria">{{this.inventoryService.LineaList[this.CurrentLineaID].categorias[idCat].nombre.toLowerCase()}}</div>
          </div>
        </div>
      </div>
<!--      BOTON DE VOLVER EN CASO DE LINEA O CATEGORIA SELECCIONADA-->
<!--        <div [ngClass]=" CategoriasOculto ? 'ItemCategoriaOculto':'ItemCategoriaNoOculto'" style="height: 10vh;width: 80%;display: flex;cursor: pointer;margin: 10px auto;" (click)="ClickVolverProductos()">-->
<!--          <mat-label style="margin: auto 0;font-weight: bold;font-size: 100%;text-transform: capitalize">Volver Productos</mat-label>-->
<!--        </div>-->
    </div>
<!--      ICONO DE COLAPSAR-->
<!--      <div [style]="(CategoriasOculto ? 'left: calc( 1% - 12px )':'left: calc( 17% - 12px )')" style="transition: all 0.3s ease-in;position: absolute;z-index: 10;top: 50%;height: 25px;width: 25px;background-color: #ffe000;border-radius: 20px;border: solid 1px;cursor: pointer;opacity: 1" (click)="ClickExpandirCategorias()">-->
<!--        <mat-icon>{{CategoriasOculto ? 'keyboard_arrow_right':'keyboard_arrow_left'}}</mat-icon>-->
<!--      </div>-->
<!--      CONTENIDO - PRODUCTOS-->
    <div class="Contenido">
<!--        SCROLL DE PRODUCTOS-->
      <cdk-virtual-scroll-viewport itemSize="50" class="ScrollBar" style="width: 100%;height: 100%;">
        <div class="VirtualScrollChild">
          <div *cdkVirtualFor="let item of this.inventoryService.cartService.ListaProductosFiltradosBuscador;let i = index" class="EstiloContenedorProducto" [ngClass]="this.inventoryService.cartService.DiccionarioIdsProductosSeleccionados[item.ownbarcode] != null ? 'EstiloContenedorProductoSeleccionado':'EstiloContenedorProductoNoSeleccionado'">
            <!--          COLUMNA IZQUIERDA-->
            <div class="ColumnaIzquierda">
              <!--            IMAGEN PRODUCTO-->
              <div class="ColumnaIzquierdaIMG">
                <img class="AjusteImg" [src]="'https://tienda724.com'+item.img"  loop="true" onError="src = 'assets/catNotFound.jpeg'">
              </div>
              <!--            PRECIO-->
              <div class="ColumnaIzquierdaPrice">
                <mat-label *ngIf="locStorage.getidCountry() == 'ES'" style="width: 100%;font-size: 90%;text-align: center;font-weight: bold;">{{ GetItemPrice(item) | currency  : 'EUR' : 'symbol' : '1.0' }}</mat-label>
                <mat-label *ngIf="locStorage.getidCountry() != 'ES'" style="width: 100%;font-size: 90%;text-align: center;font-weight: bold;">{{ GetItemPrice(item) | currency  : 'USD' : 'symbol' : '1.0' }}</mat-label>
              
              </div>
            </div>
            <!--          COLUMNA DERECHA-->
            <div class="ColumnaDerecha">
              <mat-label style="font-weight: bold;font-size: 90%;text-transform: capitalize;margin-top: 0.78vw;margin-bottom: auto;">{{item.product_STORE_NAME.toLowerCase()}}</mat-label>
              <!--            ICONOS SUMAR RESTAR-->
              <div style="height: 20%;;display: flex">
                <div style="height: 80%;width: 70%;display: flex;margin: auto 0">
                  <div style="height: 100%;width: 20%;border: solid 1px #DBE2E1;display: flex;position: relative">
                    <div style="width: 100%;height: 100%;position: absolute;display: flex">
                      <mat-label style="margin: auto;font-size: 140%;z-index: 1;color:#49C2D8">-</mat-label>
                    </div>
                    <div style="position: absolute;cursor: pointer;z-index: 2;width: 100%;height: 100%" (click)="ClickSubirBajarCantidad($event,false,item)"></div>
                  </div>
                  <div style="height: 100%;width: 60%;border: solid 1px #DBE2E1;overflow: hidden">
                    <input (focus)="FocusInputProducto($event)" (blur)="BlurInput($event);" type="number" [ngModel]="GetQuantity(item)" style="width: 100%;border: unset;height: 100%;text-align: center;font-weight: bold" />
                  </div>
                  <div style="height: 100%;width: 20%;border: solid 1px #DBE2E1;display: flex;position: relative">
                    <div style="width: 100%;height: 100%;position: absolute;display: flex">
                      <mat-label style="margin: auto;font-size: 140%;z-index: 1;color:#49C2D8">+</mat-label>
                    </div>
                    <div style="position: absolute;cursor: pointer;z-index: 2;width: 100%;height: 100%" (click)="ClickSubirBajarCantidad($event,true,item)"></div>
                  </div>
                </div>
              </div>
              <!--            BOTON AGREGAR-->
              <div style="height: 20%;">
                <button (click)="ClickAgregarProducto(item,$event)" style="background-color: #3C9CBF;width: 70%;height: 100%;font-weight: bold;border: unset;cursor: pointer;color:white">AGREGAR</button>
              </div>
            </div>
          </div>
        </div>
      </cdk-virtual-scroll-viewport>
    </div>
<!--      PUBLICIDAD DERECHA-->
    <div class="Publicidad">
      <img style="width: 85%;margin: 0 auto;" src="assets/logos/denlinea.svg">
      <div style="display: flex;flex-direction: column;">
        <img (click)="ClickWhatsApp()" style="height: unset;width: 30%;margin: 0 auto;cursor: pointer;border-radius: 100px;" src="assets/ws.png">
        <mat-label style="margin: 10px auto;font-weight: 500;font-size: 120%;">Contáctanos</mat-label>
      </div>
    </div>
  </div>
<!--  EL FOOTER-->
  <div [style]="commonOperations.IsMobile() ? 'height: 5%;':'height: 10%;'" style="display: flex;width: 100%;box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.35);background-image: linear-gradient(to right,#cdd4e0,white 50%,#cdd4e0 90%);position: relative">
    <!--      ICONO CARRITO FLOTANTE-->
    <div class="CarroFlotante">
      <div (click)="ClickMostrarCarrito()" style="cursor: pointer;z-index: 10;border-radius: 8px;top: 20%;margin: auto;background-color: #FFF385;width: 100%;height: 90%;display: flex" *ngIf="inventoryService.cartService.ListaTablaProductosSeleccionados.length > 0">
        <div style="width: 90%;height: 80%;margin: auto;display: flex">
          <mat-label style="margin: auto;width: 20%;text-align: center;font-weight: bold">{{inventoryService.cartService.ListaTablaProductosSeleccionados.length}}</mat-label>
          <div style="display: flex;flex-direction: column;border-left: solid 1px black;width: 80%">
            <mat-label *ngIf="locStorage.getidCountry() == 'ES'" style="margin: auto;font-size: 110%">{{ GetItemPriceNoIt(inventoryService.cartService.ValorTotalTabla) | currency  : 'EUR' : 'symbol' : '1.0' }}</mat-label>
            <mat-label *ngIf="locStorage.getidCountry() != 'ES'" style="margin: auto;font-size: 110%">{{ GetItemPriceNoIt(inventoryService.cartService.ValorTotalTabla) | currency  : 'USD' : 'symbol' : '1.0' }}</mat-label>
            <mat-label style="margin: auto;font-weight: bold;font-size: 90%">¡Hacer pedido!</mat-label>
          </div>
          <!--      icono carrito-->
          <mat-icon *ngIf="inventoryService.cartService.ListaTablaProductosSeleccionados.length > 0" style="color: black;font-size: 10%;height: 100% !important;width: 30% !important;margin: auto;position: relative;transform: scale(2);" svgIcon="IconoBolsa">
          </mat-icon>
        </div>
      </div>
    </div>
<!--    PARTE LEGAL-->

    <div style="display: flex;" *ngIf="this.commonOperations.IsMobile()">
      <div style="display: flex;flex-direction: column;height: 100%;margin-left: 2vw;justify-content: center;font-size: 70%;font-weight: 500;">
        <mat-label>Denlinea de Colombia S.A Calle 99 11A-32 Bogotá - Colombia</mat-label>
<!--        <mat-label>NIT: 900.017.447-8 Telefono: Bogotá 5878002 E-mail: serviciosalcliente@denlinea.com.co</mat-label>-->
      </div>
      <!--    <div style="display: flex;height: 100%;margin-left: auto">-->
      <!--      <div style="height: fit-content;margin: auto;margin-left: 0;font-weight: bold;font-size: 100%;">{{inventoryService.CurrentProv.Address}}</div>-->
      <!--    </div>-->
      <!--    <div style="display: flex;height: 100%;margin-left: 2vw">-->
      <!--      <div style="height: fit-content;margin: auto;margin-left: 0;font-weight: bold;font-size: 100%;">{{inventoryService.CurrentProv.phone}}</div>-->
      <!--    </div>-->
      <div style="display: flex;height: 100%;margin: 0 2vw;flex-direction: column">
        <div style="height: fit-content;margin: auto;margin-left: 0;font-weight: 500;font-size: 100%;">{{billingService.ProviderInfo != null ? billingService.ProviderInfo.Email:''}}</div>
      </div>
    </div>
    <div style="display: flex;" *ngIf="!this.commonOperations.IsMobile()">

      <div style="display: flex;flex-direction: column;height: 100%;margin-left: 2vw;justify-content: center;font-size: 70%;font-weight: 500;">
        <mat-label>© TODOS LOS DERECHOS RESERVADOS</mat-label>
        <mat-label>Denlinea de Colombia S.A Calle 99 11A-32 Bogotá - Colombia</mat-label>
        <mat-label>NIT: 900.017.447-8 Telefono: Bogotá 5878002 E-mail: serviciosalcliente@denlinea.com.co</mat-label>
      </div>
      <!--    <div style="display: flex;height: 100%;margin-left: auto">-->
      <!--      <div style="height: fit-content;margin: auto;margin-left: 0;font-weight: bold;font-size: 100%;">{{inventoryService.CurrentProv.Address}}</div>-->
      <!--    </div>-->
      <!--    <div style="display: flex;height: 100%;margin-left: 2vw">-->
      <!--      <div style="height: fit-content;margin: auto;margin-left: 0;font-weight: bold;font-size: 100%;">{{inventoryService.CurrentProv.phone}}</div>-->
      <!--    </div>-->
      <div style="display: flex;height: 100%;margin-left: auto">
        <div style="height: fit-content;margin: auto;margin-left: 0;font-size: 100%;">COMPRA 100% SEGURA</div>
      </div>
      <div style="display: flex;height: 100%;margin: 0 2vw">
        <div style="height: fit-content;margin: auto;margin-left: 0;font-weight: bold;font-size: 100%;">{{billingService.ProviderInfo != null ? billingService.ProviderInfo.Email:''}}</div>
      </div>
    </div>
  </div>
</div>
<div class="ContenedorLoading" *ngIf="this.commonOperations.mostrandoCargandoCompleto">
  <div class="wrapper2">
    <mat-card class="CardWrapper2">
      <mat-card-content style="height: 100%;width: 100%;display: flex">
        <!--suppress HtmlRequiredAltAttribute, HtmlDeprecatedAttribute -->
        <img style="margin: auto;height: 100%;" src="assets/logos/denlinea.svg">
<!--        <img src='assets/logos/denlinea.svg' onError="this.src='https://www.pngitem.com/pimgs/m/75-759411_clip-art-shop-logo-transparent-shop-logo-png.png'" class="logo"/>-->
      </mat-card-content>
    </mat-card>
    <div class='ThePreLoader'>
      <div class='loader--dot'></div>
      <div class='loader--dot'></div>
      <div class='loader--dot'></div>
      <div class='loader--dot'></div>
      <div class='loader--dot'></div>
      <div class='loader--dot'></div>
      <div class='loader--text'></div>
    </div>
  </div>
</div>
