.Header{
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 8%;
  box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.35);
  .ContenedorLogo{
    display:flex;
    height: 100%;
    margin: 0 1vw;
    width: 40vw;
    flex-shrink: 0;
    div{
      width: 80%;
      height: 80%;
      margin: auto;
      display: flex;
      img{
        cursor: pointer;
        margin: auto;
        height: 100%;
        max-width: 100%;
      }
    }
  }
  .ContenedorBuscador{
    display: flex;
    height: 100%;
    width: 19vw;
    justify-content: space-evenly;
    mat-form-field{
      display: none;
    }
    mat-icon{
      font-size: 300%;
      color: #486EB6;
      margin: auto;
    }
  }
  .ContenedorIconoBolsa{
    width: 19vw;
    mat-icon{
      font-size: 10%;
      height: 100% !important;
      width: 100% !important;
      color: #486EB6;
      transform: scale(1.3);
      display: flex;
      position: relative;
      div{
        position: absolute;
        font-size: 800%;
        top: 45%;
        left: 44%;
      }
    }
  }
  .ContenedorPedidos{
    display: flex;
    height: 100%;
    width: 19vw;
    mat-icon{
      cursor: pointer;
      color: #486EB6;
      height: 100% !important;
      width: 100% !important;
      margin: auto;
      transform: scale(1.2);
      margin-right: 0;
    }
    div{
      cursor: pointer;
      height: fit-content;
      margin: auto;
      margin-left: 0;
      font-weight: 500;
      font-size: 120%;
    }
  }
}

.CarroFlotante{
  display: flex;
  position: absolute;
  left: calc(50% - 60%/2 - 3px);
  height: 200%;
  top: calc( 200%*-1);
  width: 60%;
}

.ContenidoPrincipal{
  width: 100%;
  display: flex;
  height: 88%;
  flex-direction: column;
  position: relative;
  .Lineas{
    flex-shrink: 0;
    //height: 15%;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 3px 3px 6px 1px rgba(0, 0, 0, 0.28);
    position: relative;
    .ElScroll{
      height: 12vh;
      min-width: 10.5vw;
      width: 100%;
      overflow: auto;
      display: flex;
      .ContenedorLinea{
        position: relative;
        margin: auto 10px;
        height: 80%;
        width: 15vw;
        flex-shrink: 0;
        display: flex;
        .ClickLinea{
          display: flex;
          flex-direction: column;
          width: 100%;
          flex-shrink: 0;
          img{
            height: 13vw;
            width: 13vw;
            margin: 0 auto;
            border-radius: 50px;
          }
          .TextoCategoria{
            color: #3CC5E3;
            text-transform: capitalize;
            font-weight: bold;
            text-align: center;
          }
        }
      }
    }
    .ElScrollCategorias{
      display: flex;height: 7vh;overflow: auto;
      .ContenedorLinea{
        position: relative;
        margin: auto 10px;
        width: 20vw;
        flex-shrink: 0;
        display: flex;
        border-radius: 20px;
        height: 60%;
        .ClickCat{
          display: flex;
          flex-direction: column;
          width: 100%;
          flex-shrink: 0;
          height: fit-content;
          margin: auto;
          img{
            display: none;
          }
          .TextoCategoria{
            color: #3CC5E3;
            text-transform: capitalize;
            font-weight: bold;
            text-align: center;
          }
        }
      }
    }
  }
  .Contenido{
    height: 100%;
    display: flex;
    flex: 100%;
    position: relative;
    background-color: #C9DAE7;
    cdk-virtual-scroll-viewport{
      .VirtualScrollChild{
        width: 90vw;margin: 0 auto;display: flex;padding-bottom: 5vh;flex-wrap: wrap;
        .EstiloContenedorProducto{
          width: 100%;
          margin: 10px auto;
          background-color: white;
          border-radius: 5px;
          height: 24vh;
          display: flex;
          .ColumnaIzquierda{
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 50%;
            justify-content: space-evenly;
            .ColumnaIzquierdaIMG{
              width: 80%;
              height: 60%;
              display: flex;
              flex-shrink: 0;
              margin: 0 auto;
              img{
                width: 100%;
                height: 100%;
              }
            }
            .ColumnaIzquierdaPrice{
              display: flex;
              flex-shrink: 0;
            }
            div{
            }
            margin: auto;
          }
          .ColumnaDerecha{
            width: 50%;
            display: flex;
            flex-direction: column;
            height: 80%;
            margin: 0 auto;
            mat-label{
              font-size: 2.1vmax !important;
            }
            div{
              button{
                font-size: 2.1vmax !important;
              }
            }
          }
        }
        .EstiloContenedorProductoSeleccionado{
          box-shadow: 0px 0px 6px 1px rgb(0, 255, 25);
        }
        .EstiloContenedorProductoNoSeleccionado{
          box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.28);
        }
      }
    }
  }
  .Publicidad{
    display: none;
  }
}

.mat-icon{
  height: unset !important;
  width: unset !important;
}

.AjusteImg{
  height: 100%;
  margin: auto;
  border-radius: 20px;
  max-width: 100%;
}

.CategoriasOculto{
  transition: all 0.3s ease-in;
  width: 1%;
}

.CategoriasNoOculto{
  transition: all 0.3s ease-in;
  //width: 10.5vw;
}

.ItemCategoriaOculto {
  transition: all 0.1s ease-in;
  opacity: 0;
}

.ItemCategoriaNoOculto{
  transition: all 0.05s ease-in;
  transition-delay: 0.25s;
  opacity: 1;
}

.AjusteContenedorInput{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 48%;
  position: relative;
  mat-label{
    font-size: 100%;
    color: black;
    margin: 4px 0;
  }
  input{
    width: 100%;
    height: 30px;
    border: solid 1px #9B9B9B;
    border-radius: 7px;
    text-align: center;
  }
}

.ContenedorLoading{
  display: flex;
  left: 0;
  width: 100%;
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 1000;
  .wrapper2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;height: calc(var(--vh, 1vh) * 100);
    background-color: #f5f5f5;
    .CardWrapper2{
      background-color: white;margin: auto;margin-bottom: 5vh;height: 30%;width: 60%;padding: 30px
    }
  }
}

.ThePreLoader {
  height: 200px;
  width: 40vw;
  margin: auto;
  margin-top: 5vh;
}
.loader--dot {
  animation-name: loader;
  animation-timing-function: ease-in-out;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background-color: black;
  position: absolute;
  border: 2px solid white;
}
.loader--dot:first-child {
  background-color: #8cc759;
  animation-delay: 0.5s;
}
.loader--dot:nth-child(2) {
  background-color: #8c6daf;
  animation-delay: 0.4s;
}
.loader--dot:nth-child(3) {
  background-color: #ef5d74;
  animation-delay: 0.3s;
}
.loader--dot:nth-child(4) {
  background-color: #f9a74b;
  animation-delay: 0.2s;
}
.loader--dot:nth-child(5) {
  background-color: #60beeb;
  animation-delay: 0.1s;
}
.loader--dot:nth-child(6) {
  background-color: #fbef5a;
  animation-delay: 0s;
}
.loader--text {
  /*position: absolute;*/
  top: 200%;
  left: 0;
  right: 0;
  width: 4rem;
  margin: auto;
  padding-top: 5vh;
}
.loader--text:after {
  content: "Cargando";
  font-weight: bold;
  animation-name: loading-text;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes loader {
  15% {
    transform: translateX(0);
  }
  45% {
    transform: translateX(40vw);
  }
  65% {
    transform: translateX(40vw);
  }
  95% {
    transform: translateX(0);
  }
}
@keyframes loading-text {
  0% {
    content: "Cargando";
  }
  25% {
    content: "Cargando.";
  }
  50% {
    content: "Cargando..";
  }
  75% {
    content: "Cargando...";
  }
}


/*Esto es para implementar mobile-first y pasar al desktop*/
@media (min-width: 700px) {
  .CarroFlotante{
    display: flex;
    position: absolute;
    left: calc(50% - 18%/2 - 3px);
    height: 100%;
    top: calc( 50%*-1);
    width: 18%;
  }
  .ContenidoPrincipal{
    width: 100%;
    display: flex;
    height: 79%;
    flex-direction: row;
    position: relative;
    .Lineas{
      flex-shrink: 0;
      height: 100%;
      display: flex;
      width: unset;
      box-shadow: 3px 3px 6px 1px rgba(0, 0, 0, 0.28);
      flex-direction: row;
      .ElScroll{
        height: 100%;
        min-width: 10.5vw;
        overflow: auto;
        width: unset;
        display: flex;
        flex-direction: column;
        .ContenedorLinea{
          position: relative;
          margin: 10px auto;
          width: 8vw;
          flex-shrink: 0;
          height: fit-content;
          display: flex;
          .ClickLinea{
            display: flex;
            flex-direction: column;
            width: 8vw;
            flex-shrink: 0;
            img{
              height: 6vw;
              width: 6vw;
              margin: 0 auto;
            }
            .TextoCategoria{
              color: #3CC5E3;
              text-transform: capitalize;
              font-weight: bold;
              text-align: center;
            }
          }
        }
      }
      .ElScrollCategorias{
        display: flex;flex-direction: column;height: 100%;overflow: auto;
        margin-left: 10.4vw;
        position: absolute;
        background-color: white;
        z-index: 1;
        .ContenedorLinea{
          position: relative;
          margin: 10px auto;
          width: 6vw;
          flex-shrink: 0;
          display: flex;
          border-radius: unset;
          height: unset;
          .ClickCat{
            display: flex;flex-direction: column;width: 6vw;flex-shrink: 0;
            img{
              height: 5vw;width: 5vw;
              display: unset;
            }
            .TextoCategoria{
              color: inherit;
              text-transform: capitalize;
              font-weight: bold;
              text-align: center;
            }
          }
        }
      }
    }
    .Contenido{
      height: 100%;
      display: flex;
      flex: 100%;
      position: relative;
      background-color: #C9DAE7;
      cdk-virtual-scroll-viewport{
        .VirtualScrollChild{
          width: 60vw;margin: 0 auto;display: flex;flex-wrap: wrap;padding: 0;
          .EstiloContenedorProducto{
            width: 25vw;
            margin: 10px auto;
            background-color: white;
            border-radius: 5px;
            height: 12vmax;
            display: flex;
            .ColumnaIzquierda{
              display: flex;
              flex-direction: column;
              height: 100%;
              justify-content: space-evenly;
              margin: auto;
            }
            .ColumnaDerecha{
              width: 50%;
              display: flex;
              flex-direction: column;
              height: 80%;
              margin: 0 auto;
              mat-label{
                font-size: 1vmax !important;
              }
              div{
                button{
                  font-size: 1vmax !important;
                }
              }
            }
          }
          .EstiloContenedorProductoSeleccionado{
            box-shadow: 0px 0px 6px 1px rgb(0, 255, 25);
          }
          .EstiloContenedorProductoNoSeleccionado{
            box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.28);
          }
        }
      }
    }
    .Publicidad{
      width: 17.5vw;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      box-shadow: -1px 3px 6px 1px rgba(0, 0, 0, 0.28);
    }
  }
  .Header {
    display: flex;
    width: 100%;
    height: 12%;
    z-index: 10;
    box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.35);

    .ContenedorLogo {
      display: flex;
      height: 100%;
      margin: 0 2vw;
      width: 12vw;

      div {
        width: 80%;
        height: 80%;
        margin: auto;
        display: flex;

        img {
          cursor: pointer;
          margin: auto;
          height: 100%;
          max-width: 100%;
        }
      }
    }

    .ContenedorBuscador {
      display: flex;
      height: 100%;
      width: 33%;
      justify-content: space-evenly;

      mat-form-field {
        width: 70%;
        margin: auto 0;
        display: unset;
      }

      mat-icon {
        width: 20%;
        margin: auto 0;
        height: 200%;
        font-size: 200%;
        color: #486EB6;
      }
    }
    .ContenedorIconoBolsa{
      width: 19vw;
      margin-left: auto;
      mat-icon{
        font-size: 10%;
        height: 100% !important;
        width: 100% !important;
        color: #486EB6;
        transform: scale(1.3);
        display: flex;
        position: relative;
        div{
          position: absolute;
          font-size: 800%;
          top: 47%;
          left: 47%;
        }
      }
    }
    .ContenedorPedidos {
      display: flex;
      height: 100%;
      width: 25%;
      overflow: hidden;
      mat-icon {
        cursor: pointer;
        color: #486EB6;
        font-size: 10%;
        height: 80% !important;
        width: 35% !important;
        margin: auto;
        margin-right: 0;
      }

      div {
        cursor: pointer;
        height: fit-content;
        margin: auto;
        margin-left: 0;
        font-weight: 500;
        font-size: 120%;
      }
    }
  }

  .mat-icon{
    height: unset !important;
    width: unset !important;
  }

  .AjusteImg{
    height: 100%;
    margin: auto;
    border-radius: 20px;
    max-width: 100%;
  }

  .ContenedorLinea{
    position: relative;
    margin: 10px auto;
    //height: 10vh;
    width: 8vw;
    flex-shrink: 0;
    //border: solid 1px black;
    display: flex;
  }

  .TextoCategoria{
    color: #3CC5E3;
    text-transform: capitalize;
    font-weight: bold;
    text-align: center;
  }

  .CategoriasOculto{
    transition: all 0.3s ease-in;
    width: 1%;
  }

  .CategoriasNoOculto{
    transition: all 0.3s ease-in;
    //width: 10.5vw;
  }

  .ItemCategoriaOculto {
    transition: all 0.1s ease-in;
    opacity: 0;
  }

  .ItemCategoriaNoOculto{
    transition: all 0.05s ease-in;
    transition-delay: 0.25s;
    opacity: 1;
  }

  //.EstiloContenedorProducto{
  //  width: 25vw;
  //  margin: 10px auto;
  //  background-color: white;
  //  border-radius: 5px;
  //  height: 24vh;
  //  display: flex;
  //}

  .AjusteContenedorInput{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 48%;
    position: relative;
    mat-label{
      font-size: 100%;
      color: black;
      margin: 4px 0;
    }
    input{
      width: 100%;
      height: 30px;
      border: solid 1px #9B9B9B;
      border-radius: 7px;
      text-align: center;
    }
  }

  .EstiloContenedorProductoSeleccionado{
    box-shadow: 0px 0px 6px 1px rgb(0, 255, 25);
  }

  .EstiloContenedorProductoNoSeleccionado{
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.28);
  }

  .ContenedorLoading{
    display: flex;
    left: 0;
    width: 100%;
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 1000;
    .wrapper2 {
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 100vw;
      min-height: 100vh;height: calc(var(--vh, 1vh) * 100);
      background-color: #f5f5f5;
      .CardWrapper2{
        background-color: white;margin: auto;margin-bottom: 5vh;height: 30%;width: 30%;padding: 30px
      }
    }
  }

  .ThePreLoader {
    height: 200px;
    width: 40vw;
    margin: auto;
    margin-top: 5vh;
  }
  .loader--dot {
    animation-name: loader;
    animation-timing-function: ease-in-out;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background-color: black;
    position: absolute;
    border: 2px solid white;
  }
  .loader--dot:first-child {
    background-color: #8cc759;
    animation-delay: 0.5s;
  }
  .loader--dot:nth-child(2) {
    background-color: #8c6daf;
    animation-delay: 0.4s;
  }
  .loader--dot:nth-child(3) {
    background-color: #ef5d74;
    animation-delay: 0.3s;
  }
  .loader--dot:nth-child(4) {
    background-color: #f9a74b;
    animation-delay: 0.2s;
  }
  .loader--dot:nth-child(5) {
    background-color: #60beeb;
    animation-delay: 0.1s;
  }
  .loader--dot:nth-child(6) {
    background-color: #fbef5a;
    animation-delay: 0s;
  }
  .loader--text {
    /*position: absolute;*/
    top: 200%;
    left: 0;
    right: 0;
    width: 4rem;
    margin: auto;
    padding-top: 5vh;
  }
  .loader--text:after {
    content: "Cargando";
    font-weight: bold;
    animation-name: loading-text;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }

  @keyframes loader {
    15% {
      transform: translateX(0);
    }
    45% {
      transform: translateX(40vw);
    }
    65% {
      transform: translateX(40vw);
    }
    95% {
      transform: translateX(0);
    }
  }
  @keyframes loading-text {
    0% {
      content: "Cargando";
    }
    25% {
      content: "Cargando.";
    }
    50% {
      content: "Cargando..";
    }
    75% {
      content: "Cargando...";
    }
  }
}
