<mat-card-header style="background-color:rgb(5, 53, 107);margin:0;padding:20px">

  <mat-card-title style="font-family: Roboto;font-size: 1.3em; font-weight: 700; margin-bottom:15px; color:white">
    <label style="font-size: 75%;color: aliceblue; padding-left:2%;" (click)="closeDialog()" > &#60;&#60; REGRESAR</label>
      Detalles del pedido
  </mat-card-title>
</mat-card-header>
<mat-card-content *ngIf="detailList.length>0">
  <div *ngFor="let item of detailList">
    <label style="font-size: 150%" >{{item.producto}}</label>
    <ul>
      <li *ngFor="let note of splitNotes(item.notas)" style="font-size: 150%">{{note}}</li>
    </ul>
  </div>
</mat-card-content>
<mat-card-content *ngIf="detailList.length<=0">
  <h3>SIN DETALLES</h3>
</mat-card-content>
