.mat-card {
    box-shadow: none;
}
mat-card-title{
    font-size: 2em;
}
mat-form-field{
    width: 100%;
}

.tcgw-100{
    width: 100%;
}

.example-margin {
    margin: 0 10px;
}

label{
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
    line-height: 1.5em;
    font-size: 1.3em;
    color: inherit;
}