.EstiloCarrito{
  transition: all 1s;
  margin: auto;
  display: flex;
  background-color: #FAD263;
  width: 44%;
  height: 7.5%;
  border-radius: 30px;
  padding-right: 10px;
  position: absolute;
  border: solid 1px #a6a6a6;
  bottom: 2%;
  left: 27%;
}

.Abierto{
  transition: all 1s;
  width: 60%;
  left: 18%;
}
