<!-- Servicios -->


<!-- /content wrapper for padding -->


<main class="detalle">
    <div class="cont_admin">
        <div class="cont_tit">
            <h3 class="tit_panel">Panel de Administración</h3>

        </div>
        <div class="btn_admin btn_admin_active" id="boton_panel_1" onclick="mostrarpanel('panel_1')">
            <a class="btn_panel nombres_modulos">Publicaciones y comentarios</a>
        </div>

        <div class="btn_admin" id="boton_panel_2" onclick="mostrarpanel('panel_2')">
            <a class="btn_panel nombres_modulos">Temas y preguntas</a>
        </div>

        <div class="btn_admin" id="boton_panel_3" onclick="mostrarpanel('panel_3')">
            <a class="btn_panel nombres_modulos">Administradores</a>

        </div>
        <div class="btn_admin" id="boton_panel_4" onclick="mostrarpanel('panel_4')">
            <a class="btn_panel nombres_modulos">Islas</a>

        </div>
    </div>


    <div class="container-xl" id="panel_1">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="uk-flex uk-flex-middle uk-flex-wrap" style="margin-left: 20px; margin-top: 5px; margin-bottom: 15px;">
                        <div class="col-sm-3">
                            <h6></h6>
                            <h2>Publicaciones y comentarios</h2>
                        </div>
                        <div class="col-sm-3">
                            <h6></h6>
                            <div class="cont_filtro_galeria">
                                <h4 class="tit_filtros_galeria">Filtra por pregunta</h4>
                                <div class="background-select-questions" uk-form-custom="target: > * > span:first-child" uk-toggle="target: .toggle-2">
                                    <select class="select-questions" name="seleccionar_filtro filtro_galeria" size="1" [(ngModel)]="idPregunta" (change)="setPregunta()" size="1">
                                        <option class="uk-align-left" [value]=-1>Todos    </option>
                                        <option class="uk-align-left" *ngFor="let item of this.listaPreguntas" [value]="item.id_pregunta"> {{item.pregunta}} </option>
                                    </select>
                                    <button class="button-select-questions" tabindex="-1">
                                        <span></span>
                                            <span class="toggle-2" style="width: 15px !important; margin-bottom: 0px !important;" uk-icon="icon: chevron-down"></span>
                                            <span class="toggle-2" style="width: 15px !important; margin-bottom: 0px !important;" uk-icon="icon: chevron-up" hidden></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <h6></h6>
                            <div class="cont_filtro_galeria">
                                <h4 class="tit_filtros_galeria">Estado de Publicacion</h4>
                                <div class="background-select-questions" uk-form-custom="target: > * > span:first-child" uk-toggle="target: .toggle-3">
                                    <select class="select-questions" name="seleccionar_filtro filtro_galeria" size="1" [(ngModel)]="caseFilter" (change)="filterTable()" size="1">
                                        <option class="opt_filtro" [value]="0" > Todos </option>
                                        <option class="opt_filtro" [value]="1" > Pendiente </option>
                                        <option class="opt_filtro" [value]="2" > Aprobado </option>
                                        <option class="opt_filtro" [value]="3" > Rechazado </option>
                                        <option class="opt_filtro" [value]="4" > Apagado </option>
                                    </select>
                                    <button class="button-select-questions" tabindex="-1">
                                        <span></span>
                                            <span class="toggle-3" style="width: 15px !important; margin-bottom: 0px !important;" uk-icon="icon: chevron-down"></span>
                                            <span class="toggle-3" style="width: 15px !important; margin-bottom: 0px !important;" uk-icon="icon: chevron-up" hidden></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <h6></h6>
                            <div class="uk-flex uk-flex-middle">
                                <a href="javascript:void(0)" (click)="partialZip()" class="btn btn-success buttons-green-files" data-toggle="modal"><i class="material-icons">&#xe5ca;</i> <span>Zip Seleccionados</span></a>
                                <a href="javascript:void(0)" (click)="zip()" class="btn btn-success buttons-green-files" data-toggle="modal"><i class="material-icons">&#xe5ca;</i> <span>Zip Toda Galeria</span></a>
                            </div>
                            <div class="uk-flex uk-flex-middle">
                                <a href="javascript:void(0)" onclick="return false;" (click)="excel()" class="btn btn-success buttons-green-files" data-toggle="modal"><i class="material-icons">&#xe5ca;</i> <span>Excel</span></a>
                                <a href="javascript:void(0)" onclick="return false;" (click)="acceptAll()" class="btn btn-success buttons-green-files" data-toggle="modal"><i class="material-icons">&#xe5ca;</i> <span>Aprobar seleccionados</span></a>
                            </div>
                            <div class="uk-flex uk-flex-midle">
                                <a href="javascript:void(0)" onclick="return false;" (click)="rejectAll()" class="btn btn-danger button-red-files" data-toggle="modal"><i class="material-icons">&#xe5cd;</i> <span>Rechazar seleccionados</span></a>
                            </div>
                            <!-- <a href="javascript:void(0)" onclick="return false;" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xe5ca;</i> <span>Aprobar seleccionados</span></a>
                            <a href="javascript:void(0)" onclick="return false;" class="btn btn-danger" data-toggle="modal"><i class="material-icons">&#xe5cd;</i> <span>Rechazar seleccionados</span></a> -->
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>
                                <span class="custom-checkbox">
                                    <input type="checkbox" id="selectAll" [(ngModel)] = "allSelected" (click)="setAll()" >
                                    <label for="selectAll"></label>
                                </span>
                            </th>
                            <th>Tipo de contenido</th>
                            <th>Contenido</th>
                            <th>Pregunta</th>
                            <th>Usuario</th>
                            <th>Imagen</th>
                            <th>Estado</th>
                            <th>Fecha</th>
                            <th>Likes</th>
                            <th>Aprobación</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of listaPublicacionesPadre | paginate : {
                            id: 'pagination1',
                            itemsPerPage: tableSize,
                            currentPage: page,
                            totalItems: count
                          }">
                            <td>
                                <span class="custom-checkbox">
                                    <input type="checkbox" id="checkbox1" name="options[]" value="1" [(ngModel)]="item.check" >
                                    <label for="checkbox1"></label>
                                </span>
                            </td>
                            <td class="cont_tabla" *ngIf="item.id_PUBLICACION_PADRE == 0">Publicación</td>
                            <td class="cont_tabla" *ngIf="item.id_PUBLICACION_PADRE != 0">Comentario</td>
                            <td class="cont_tabla"> {{item.publicacion}} </td>
                            <td class="cont_tabla"> {{item.pregunta}} </td>
                            <td class="cont_tabla"> {{item.username}} - {{item.usuario}} </td>
                            <td>
                                <a class="v_image" onclick="$('#Modal3').show(); abrirModal();" (click)="setModalData(item)">Ver publicación</a>
                            </td>
                            <td class="cont_tabla" *ngIf="item.id_ESTADO_PUBLICACION==1">Pendiente</td>
                            <td class="cont_tabla" *ngIf="item.id_ESTADO_PUBLICACION==2">Aprobado</td>
                            <td class="cont_tabla" *ngIf="item.id_ESTADO_PUBLICACION==3">Rechazado</td>
                            <td class="cont_tabla" *ngIf="item.id_ESTADO_PUBLICACION==4">Apagado</td>
                            <td class="cont_tabla"> {{item.fecha_PUBLICACION}} </td>
                            <td class="cont_tabla"> {{item.likes}} </td>
                            <td class="cont_tabla">
                                <a (click)="aceptPublication(item,true)" class="check" data-toggle="modal"><i  class="material-icons" data-toggle="tooltip" title="Aprobar">&#xe5ca;</i></a>
                                <a (click)="noPublication(item,true)" class="uncheck" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Rechazar">&#xe5cd;</i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="clearfix">
                    <div class="hint-text">Mostrando <b>{{getAmountShown()}}</b> de <b>{{this.listaPublicacionesPadre.length}}</b> entradas</div>
                    <pagination-controls class="pagination" id="pagination1" responsive="true" previousLabel="Anterior" nextLabel="Siguiente" (pageChange)="onTableDataChange($event)">
                    </pagination-controls>
                </div>
                <div class="d-flex justify-content-center">

                </div>
            </div>
        </div>
    </div>

    <div class="container-xl oculto" id="panel_2">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-6">
                            <h2>Temas y preguntas</h2>
                        </div>
                        <div class="col-sm-6">
                            <a href="#addTemaModal" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Agregar nueva pregunta</span></a>

                            <a href="#deleteEmployeeModal" class="btn btn-danger" data-toggle="modal"><i class="material-icons">&#xE15C;</i> <span>Borrar seleccionados</span></a>

                            <a href="#addCategoria" class="btn btn-info" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Crear categorías</span></a>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>
                                <span class="custom-checkbox">
                                    <input type="checkbox" id="selectAll"  [(ngModel)] = "allSelected2" (click)="setAll2()">
                                    <label for="selectAll"></label>
                                </span>
                            </th>
                            <th>Nombre de la pregunta</th>
                            <th>Categoría</th>
                            <th>Número de publicaciones</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of listaPreguntas| paginate : {
                            id: 'pagination2',
                            itemsPerPage: tableSize2,
                            currentPage: page2,
                            totalItems: count2
                          }">
                            <td>
                                <span class="custom-checkbox">
                                    <input type="checkbox" id="checkbox1" name="options[]" value="1"  [(ngModel)]="item.check">
                                    <label for="checkbox1"></label>
                                </span>
                            </td>
                            <td class="cont_tabla_grande"> {{item.pregunta}} </td>
                            <td class="cont_tabla_grande"> {{item.categoria}} </td>
                            <td class="cont_tabla_grande"> {{item.numPublicaciones}} </td>
                            <td class="cont_tabla_grande">
                                <a href="#editEmployeeModal" (click)="setPreguntaEditId(item.id_pregunta)" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Editar">&#xE254;</i></a>
                                <a href="" (click)="deletePregunta(item.id_pregunta)" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Borrar">&#xE872;</i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="clearfix">
                    <div class="hint-text">Mostrando <b>{{getAmountShown2()}}</b> de <b>{{this.listaPreguntas.length}}</b> entradas</div>
                    <pagination-controls class="pagination" id="pagination2" responsive="true" previousLabel="Anterior" nextLabel="Siguiente" (pageChange)="onTableDataChange2($event)">
                    </pagination-controls>
                </div>
            </div>
        </div>
    </div>

    <div class="container-xl oculto" id="panel_3">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-6">
                            <h2>Administradores</h2>
                        </div>
                        <div class="col-sm-6">
                            <a href="#addAdminModal" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Agregar nuevo administrador</span></a>

                            <a href="#deleteEmployeeModal2" class="btn btn-danger" data-toggle="modal"><i class="material-icons" >&#xE15C;</i> <span>Borrar seleccionados</span></a>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>
                                <span class="custom-checkbox">
                                    <input type="checkbox" id="selectAll" [(ngModel)] = "allSelected3" (click)="setAll3()">
                                    <label for="selectAll"></label>
                                </span>
                            </th>
                            <th>Nombre</th>
                            <th>Correo</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of listaUsers| paginate : {
                            id: 'pagination3',
                            itemsPerPage: tableSize3,
                            currentPage: page3,
                            totalItems: count3
                          }">
                            <td>
                                <span class="custom-checkbox">
                                    <input type="checkbox" id="checkbox1" name="options[]" value="1" [(ngModel)]="item.check">
                                    <label for="checkbox1"></label>
                                </span>
                            </td>
                            <td class="cont_tabla_extragrande"> {{item.nombre}} </td>
                            <td class="cont_tabla_extragrande"> {{item.username}} - {{item.usuario}}  </td>
                            <td class="cont_tabla_extragrande">
                                <!-- <a href="#editAdminModal" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Editar">&#xE254;</i></a> -->
                                <a href="" (click)="deleteUser(item.username)" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Borrar">&#xE872;</i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="clearfix">
                    <div class="hint-text">Mostrando <b>{{getAmountShown3()}}</b> de <b>{{this.listaUsers.length}}</b> entradas</div>
                    <pagination-controls class="pagination" id="pagination3" responsive="true" previousLabel="Anterior" nextLabel="Siguiente" (pageChange)="onTableDataChange3($event)">
                    </pagination-controls>
                </div>
            </div>
        </div>
    </div>

    <div class="container-xl oculto" id="panel_4">
      <div class="table-responsive">
          <div class="table-wrapper">
              <div class="table-title">
                  <div class="row">
                      <div class="col-sm-6">
                          <h2>Islas</h2>
                      </div>
                      <div class="col-sm-6">

                      </div>
                  </div>
              </div>
              <table class="table table-striped table-hover">
                  <thead>
                      <tr>
                          <th>
                              <span class="custom-checkbox">
                                  <input type="checkbox" id="selectAll">
                                  <label for="selectAll"></label>
                              </span>
                          </th>
                          <th>Título de la isla</th>
                          <th>URL Video</th>
                          <th>Descripción</th>
                          <th>Acciones</th>

                      </tr>
                  </thead>
                  <tbody>
                        <tr>
                          <td>
                              <span class="custom-checkbox">
                                  <input type="checkbox" id="checkbox1" name="options[]" value="1">
                                  <label for="checkbox1"></label>
                              </span>
                          </td>
                          <td class="cont_tabla_grande">{{islaData[0].titulo}}</td>
                          <td class="cont_tabla_grande">{{islaData[0].url}}</td>
                          <td class="cont_tabla_grande">{{islaData[0].descripcion}}</td>
                          <td class="cont_tabla_grande" (click)="setIslaID(1)"><a href="#editEmployeeModal" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Editar">&#xE254;</i></a></td>
                      </tr>
                      <tr>
                          <td>
                              <span class="custom-checkbox">
                                  <input type="checkbox" id="checkbox1" name="options[]" value="1">
                                  <label for="checkbox1"></label>
                              </span>
                          </td>
                          <td class="cont_tabla_grande">{{islaData[1].titulo}}</td>
                          <td class="cont_tabla_grande">{{islaData[1].url}}</td>
                          <td class="cont_tabla_grande">{{islaData[1].descripcion}}</td>
                          <td class="cont_tabla_grande" (click)="setIslaID(2)"><a href="#editEmployeeModal" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Editar">&#xE254;</i></a></td>
                      </tr>
                      <tr>
                        <td>
                            <span class="custom-checkbox">
                                <input type="checkbox" id="checkbox1" name="options[]" value="1">
                                <label for="checkbox1"></label>
                            </span>
                        </td>
                        <td class="cont_tabla_grande">{{islaData[2].titulo}}</td>
                        <td class="cont_tabla_grande">{{islaData[2].url}}</td>
                        <td class="cont_tabla_grande">{{islaData[2].descripcion}}</td>
                        <td class="cont_tabla_grande" (click)="setIslaID(3)"><a href="#editEmployeeModal" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Editar">&#xE254;</i></a></td>

                      </tr>
                      <tr>
                        <td>
                            <span class="custom-checkbox">
                                <input type="checkbox" id="checkbox1" name="options[]" value="1">
                                <label for="checkbox1"></label>
                            </span>
                        </td>
                        <td class="cont_tabla_grande">{{islaData[3].titulo}}</td>
                        <td class="cont_tabla_grande">{{islaData[3].url}}</td>
                        <td class="cont_tabla_grande">{{islaData[3].descripcion}} </td>
                        <td class="cont_tabla_grande" (click)="setIslaID(4)"><a href="#editEmployeeModal" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Editar">&#xE254;</i></a></td>

                      </tr>
                      <tr>
                        <td>
                            <span class="custom-checkbox">
                                <input type="checkbox" id="checkbox1" name="options[]" value="1">
                                <label for="checkbox1"></label>
                            </span>
                        </td>
                        <td class="cont_tabla_grande">{{islaData[4].titulo}}</td>
                        <td class="cont_tabla_grande">{{islaData[4].url}}</td>
                        <td class="cont_tabla_grande">{{islaData[4].descripcion}} </td>
                        <td class="cont_tabla_grande" (click)="setIslaID(5)"><a href="#editEmployeeModal" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Editar">&#xE254;</i></a></td>

                      </tr>

                      <tr>
                        <td>
                            <span class="custom-checkbox">
                                <input type="checkbox" id="checkbox1" name="options[]" value="1">
                                <label for="checkbox1"></label>
                            </span>
                        </td>
                        <td class="cont_tabla_grande">{{islaData[5].titulo}}</td>
                        <td class="cont_tabla_grande">{{islaData[5].url}}</td>
                        <td class="cont_tabla_grande">{{islaData[5].descripcion}} </td>
                        <td class="cont_tabla_grande" (click)="setIslaID(6)"><a href="#editEmployeeModal" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Editar">&#xE254;</i></a></td>

                      </tr>


                  </tbody>
              </table>




              <div class="clearfix">
                  <div class="hint-text">Mostrando <b>5</b> de <b>25</b> entradas</div>
                  <ul class="pagination">
                      <li class="page-item disabled"><a href="#">Anterior</a></li>
                      <li class="page-item"><a href="#" class="page-link">1</a></li>
                      <li class="page-item"><a href="#" class="page-link">2</a></li>
                      <li class="page-item active"><a href="#" class="page-link">3</a></li>
                      <li class="page-item"><a href="#" class="page-link">4</a></li>
                      <li class="page-item"><a href="#" class="page-link">5</a></li>
                      <li class="page-item"><a href="#" class="page-link">Siguiente</a></li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
    <div class="cont_admin" (click)="goToMap()">
        <div class="btn_admin">
            <a class="btn_panel nombres_modulos">Ir al mapa</a>
        </div>
    </div>
</main>


<!-- <a routerLink="/map" routerLinkActive="active" class="btn_panel nombres_modulos" href="javascript:void(0)" onclick="return false;" ></a> -->


<div id="addTemaModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title">Agregar nueva pregunta</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Nombre de la pregunta</label>
                        <input type="text" [(ngModel)]="pregunta" class="form-control" required [ngModelOptions]="{standalone: true}">
                    </div>
                    <!-- <div class="form-group">
                        <label>Categoría</label>
                        <input type="email" [(ngModel)]="id_categoria" class="form-control" required [ngModelOptions]="{standalone: true}">
                    </div>	 -->
                    <div class="form-group">
                        <label>Seleccionar Categoría</label>
                        <mat-select name="seleccionar categoría" [(ngModel)]="idCategoria" class="form_select" size="1">
                            <mat-option *ngFor="let item of listaCategorias" [value]="item.id_categoria"> {{item.categoria}} </mat-option>
                        </mat-select>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
                    <input type="submit" class="btn btn-success" value="Agregar" (click)="postPregunta()">
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Agregar Categoria HTML -->
<div id="addCategoria" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Agregar nueva categoría</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Nombre de la categoría</label>
                    <input type="text" class="form-control" [(ngModel)]="categoria" required>
                </div>
            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
                <input type="submit" class="btn btn-success" value="Agregar" (click)="postCategoria()">
            </div>
        </div>
    </div>
</div>

<!-- Agregar Admin Modal HTML -->
<div id="addAdminModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title">Agregar Administrador</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Nombre</label>
                        <input type="text" class="form-control" [(ngModel)]="name" required [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="form-group">
                        <label>Correo</label>
                        <input type="email" class="form-control" [(ngModel)]="username" required [ngModelOptions]="{standalone: true}">
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
                    <input type="submit" class="btn btn-success" value="Agregar" (click)="postUser()">
                </div>
            </form>
        </div>
    </div>
</div>

	<!-- Edit Modal Temas HTML -->
	<div id="editEmployeeModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Editar</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="realoadIslas()">&times;</button>
					</div>
					<div class="modal-body">
            <hr>
						<div class="custom-control">
						  <label class="field_tit_isla"><strong>General</strong></label>
						</div>
						<hr>

						<div class="form-group">
							<div class="cont_fields_isla">
							<label>Titulo de la isla</label>
							<div class="custom-control custom-switch disp_flex">
                <section class="example-section">
                  Mostrar
                  <mat-slide-toggle
                      class="example-margin"
                      [color]="'primary'"
                      [checked]="selectedIsla.mostrar[0]"
                      (change)="toggleChanges($event,0)">
                  </mat-slide-toggle>
                </section>
						  </div>
							</div>
							<input type="text" class="form-control" [(ngModel)]="selectedIsla.titulo" required>
              <!-- <button mat-raised-button style="display: block;
              margin: auto;" (click)="updateIslaElement(0,selectedIsla.titulo)">Guardar</button> -->
						</div>

            <div class="form-group">
							<div class="cont_fields_isla">
							<label>URL de la isla</label>
							<div class="custom-control custom-switch disp_flex">
                <section class="example-section">
                  Mostrar
                  <mat-slide-toggle
                      class="example-margin"
                      [color]="'primary'"
                      [checked]="selectedIsla.mostrar[1]"
                      (change)="toggleChanges($event,1)">
                  </mat-slide-toggle>
                </section>
						  </div>
							</div>
							<input type="text" class="form-control" [(ngModel)]="selectedIsla.url" required>
              <!-- <button mat-raised-button style="display: block;
              margin: auto;" (click)="updateIslaElement(1,selectedIsla.url)">Guardar</button> -->
						</div>

            <div class="form-group">
							<div class="cont_fields_isla">
							<label>Descripcion de la isla</label>
							<div class="custom-control custom-switch disp_flex">
                <section class="example-section">
                  Mostrar
                  <mat-slide-toggle
                      class="example-margin"
                      [color]="'primary'"
                      [checked]="selectedIsla.mostrar[2]"
                      (change)="toggleChanges($event,2)">
                  </mat-slide-toggle>
                </section>
						  </div>
							</div>
							<textarea style="height: 300px;" type="text" class="form-control" [(ngModel)]="selectedIsla.descripcion" required></textarea>
              <!-- <button mat-raised-button style="display: block;
              margin: auto;" (click)="updateIslaElement(2,selectedIsla.descripcion)">Guardar</button> -->
						</div>
            <hr>
            <div class="form-group">
							<div class="cont_fields_isla">
							<label>Galeria</label>
							<div class="custom-control custom-switch disp_flex">
                <section class="example-section">
                  Mostrar
                  <mat-slide-toggle
                      class="example-margin"
                      [color]="'primary'"
                      [checked]="selectedIsla.mostrar[3]"
                      (change)="toggleChanges($event,3)">
                  </mat-slide-toggle>
                </section>
						  </div>
							</div>
							<!-- <input type="text" class="form-control" [(ngModel)]="selectedIsla.descripcion" required> -->
              <!-- <button mat-raised-button style="display: block;
              margin: auto;" (click)="updateIslaElement(3,'Imagenes')">Guardar</button> -->
						</div>





            <div class="form-group">
							<div class="cont_fields_isla">
							<label>Imagen 1</label>
							<div class="custom-control custom-switch disp_flex">
                <section class="example-section">
                  Mostrar
                  <mat-slide-toggle
                      class="example-margin"
                      [color]="'primary'"
                      [checked]="selectedIsla.mostrar[19]"
                      (change)="toggleChanges($event,19)">
                  </mat-slide-toggle>
                </section>
						  </div>
							</div>
							<input type="file" #ad1 id="adjuntar1"  (change)="setFileImage($event)">
              <button mat-raised-button style="display: block;
              margin: auto;" (click)="clearImg()">Limpiar</button>
						</div>





            <div class="form-group">
							<div class="cont_fields_isla">
							<label>Imagen 2</label>
							<div class="custom-control custom-switch disp_flex">
                <section class="example-section">
                  Mostrar
                  <mat-slide-toggle
                      class="example-margin"
                      [color]="'primary'"
                      [checked]="selectedIsla.mostrar[20]"
                      (change)="toggleChanges($event,20)">
                  </mat-slide-toggle>
                </section>
						  </div>
							</div>
							<input type="file" #ad2 id="adjuntar2"  (change)="setFileImage2($event)">
              <button mat-raised-button style="display: block;
              margin: auto;" (click)="clearImg2()">Limpiar</button>
						</div>





            <div class="form-group">
							<div class="cont_fields_isla">
							<label>Imagen 3</label>
							<div class="custom-control custom-switch disp_flex">
                <section class="example-section">
                  Mostrar
                  <mat-slide-toggle
                      class="example-margin"
                      [color]="'primary'"
                      [checked]="selectedIsla.mostrar[21]"
                      (change)="toggleChanges($event,21)">
                  </mat-slide-toggle>
                </section>
						  </div>
							</div>
							<input type="file" #ad3 id="adjuntar3"  (change)="setFileImage3($event)">
              <button mat-raised-button style="display: block;
              margin: auto;" (click)="clearImg3()">Limpiar</button>
						</div>




            <div class="form-group">
							<div class="cont_fields_isla">
							<label>Imagen 4</label>
							<div class="custom-control custom-switch disp_flex">
                <section class="example-section">
                  Mostrar
                  <mat-slide-toggle
                      class="example-margin"
                      [color]="'primary'"
                      [checked]="selectedIsla.mostrar[22]"
                      (change)="toggleChanges($event,22)">
                  </mat-slide-toggle>
                </section>
						  </div>
							</div>
							<input type="file" #ad4 id="adjuntar4"  (change)="setFileImage4($event)">
              <button mat-raised-button style="display: block;
              margin: auto;" (click)="clearImg4()">Limpiar</button>
						</div>




            <div class="form-group">
							<div class="cont_fields_isla">
							<label>Imagen 5</label>
							<div class="custom-control custom-switch disp_flex">
                <section class="example-section">
                  Mostrar
                  <mat-slide-toggle
                      class="example-margin"
                      [color]="'primary'"
                      [checked]="selectedIsla.mostrar[23]"
                      (change)="toggleChanges($event,23)">
                  </mat-slide-toggle>
                </section>
						  </div>
							</div>
							<input type="file" #ad5 id="adjuntar5"  (change)="setFileImage5($event)">
              <button mat-raised-button style="display: block;
              margin: auto;" (click)="clearImg5()">Limpiar</button>
						</div>



            <div class="form-group">
							<div class="cont_fields_isla">
							<label>Imagen 6</label>
							<div class="custom-control custom-switch disp_flex">
                <section class="example-section">
                  Mostrar
                  <mat-slide-toggle
                      class="example-margin"
                      [color]="'primary'"
                      [checked]="selectedIsla.mostrar[24]"
                      (change)="toggleChanges($event,24)">
                  </mat-slide-toggle>
                </section>
						  </div>
							</div>
							<input type="file" #ad6 id="adjuntar6"  (change)="setFileImage6($event)">
              <button mat-raised-button style="display: block;
              margin: auto;" (click)="clearImg6()">Limpiar</button>
						</div>




						<!-- <div class="form-group">
							<div class="cont_fields_isla">
                <label>Galería</label>
                <div class="custom-control custom-switch disp_flex">
                  <input type="checkbox" class="custom-control-input" id="customSwitches2.4">
                  <label class="custom-control-label field_tit_isla" for="customSwitches2.4"></label>
                </div>
							</div>
              <div class="cont_adjunto_admin">
                <div class="adjunto_admin" tabindex="-1">
                  <a class="info_archivo w_100" href="archivos/archivo_adjunto_1.pdf" target="_blank">
                    <div class="nombre_archivo">imagen_01.png</div>
                  </a>
                  <div role="button" aria-label="Quitar archivo adjunto" class="boton_cerrar" tabindex="-1" data-tooltip="Quitar archivo adjunto">X</div>
                </div>
              </div>
            </div> -->






						<!-- <div class="center">
							<i class="add_islas green fas fa-plus-circle"></i>
							<i class="add_islas blue fas fa-camera">
							</i>
						</div> -->

						<!-- <div class="center">
						<a href="#" class="restablecer">Restablecer valores iniciales</a>
						</div> -->
            <hr>
						<div class="custom-control">
						  <label class="field_tit_isla"><strong>Datos de importancia</strong></label>
						</div>
						<hr>

            <div class="form-group">
							<div class="cont_fields_isla">
							<label>Subtitulo1</label>
							<div class="custom-control custom-switch disp_flex">
                <section class="example-section">
                  Mostrar
                  <mat-slide-toggle
                      class="example-margin"
                      [color]="'primary'"
                      [checked]="selectedIsla.mostrar[4]"
                      (change)="toggleChanges($event,4)">
                  </mat-slide-toggle>
                </section>
						  </div>
							</div>
							<input type="text" class="form-control" [(ngModel)]="selectedIsla.subtitulo1" required>
              <!-- <button mat-raised-button style="display: block;
              margin: auto;" (click)="updateIslaElement(4,selectedIsla.subtitulo1)">Guardar</button> -->
						</div>

            <hr>

            <div class="form-group">
							<div class="cont_fields_isla">
							<label>Background Image</label>
							<div class="custom-control custom-switch disp_flex">
                <section class="example-section">
                  Mostrar
                  <mat-slide-toggle
                      class="example-margin"
                      [color]="'primary'"
                      [checked]="selectedIsla.mostrar[29]"
                      (change)="toggleChanges($event,29)">
                  </mat-slide-toggle>
                </section>
						  </div>
							</div>
							<input type="file" #adBG id="adjuntar2"  (change)="setFileImageBG($event)">
              <button mat-raised-button style="display: block;
              margin: auto;" (click)="clearImgBG()" >Limpiar</button>
						</div>

            <hr>
            <!-- info1 -->
            <div class="form-group">
							<div class="cont_fields_isla">
							<label>Info 1</label>
							<div class="custom-control custom-switch disp_flex">
                <section class="example-section">
                  Mostrar
                  <mat-slide-toggle
                      class="example-margin"
                      [color]="'primary'"
                      [checked]="selectedIsla.mostrar[5]"
                      (change)="toggleChanges($event,5)">
                  </mat-slide-toggle>
                </section>
						  </div>
							</div>
							<textarea style="height: 300px;" class="form-control" [(ngModel)]="this.selectedIsla.info1" required></textarea>
						</div>

            <hr>
            <!-- info2 -->
            <div class="form-group">
							<div class="cont_fields_isla">
							<label>Info 2</label>
							<div class="custom-control custom-switch disp_flex">
                <section class="example-section">
                  Mostrar
                  <mat-slide-toggle
                      class="example-margin"
                      [color]="'primary'"
                      [checked]="selectedIsla.mostrar[6]"
                      (change)="toggleChanges($event,6)">
                  </mat-slide-toggle>
                </section>
						  </div>
							</div>
							<textarea style="height: 300px;" class="form-control" [(ngModel)]="this.selectedIsla.info2" required></textarea>
						</div>


            <hr>
            <!-- info3 -->
            <div class="form-group">
							<div class="cont_fields_isla">
							<label>Info 3</label>
							<div class="custom-control custom-switch disp_flex">
                <section class="example-section">
                  Mostrar
                  <mat-slide-toggle
                      class="example-margin"
                      [color]="'primary'"
                      [checked]="selectedIsla.mostrar[7]"
                      (change)="toggleChanges($event,7)">
                  </mat-slide-toggle>
                </section>
						  </div>
							</div>
							<textarea style="height: 300px;" class="form-control" [(ngModel)]="this.selectedIsla.info3" required></textarea>
						</div>


            <hr>
            <!-- info4 -->
            <div class="form-group">
							<div class="cont_fields_isla">
							<label>Info 4</label>
							<div class="custom-control custom-switch disp_flex">
                <section class="example-section">
                  Mostrar
                  <mat-slide-toggle
                      class="example-margin"
                      [color]="'primary'"
                      [checked]="selectedIsla.mostrar[8]"
                      (change)="toggleChanges($event,8)">
                  </mat-slide-toggle>
                </section>
						  </div>
							</div>
							<textarea style="height: 300px;" class="form-control" [(ngModel)]="this.selectedIsla.info4" required></textarea>
						</div>



            <hr>
            <!-- info5 -->
            <div class="form-group">
							<div class="cont_fields_isla">
							<label>Info 5</label>
							<div class="custom-control custom-switch disp_flex">
                <section class="example-section">
                  Mostrar
                  <mat-slide-toggle
                      class="example-margin"
                      [color]="'primary'"
                      [checked]="selectedIsla.mostrar[9]"
                      (change)="toggleChanges($event,9)">
                  </mat-slide-toggle>
                </section>
						  </div>
							</div>
							<textarea style="height: 300px;" class="form-control" [(ngModel)]="this.selectedIsla.info5" required></textarea>
						</div>

            <hr>
            <!-- info6 -->
            <div class="form-group">
							<div class="cont_fields_isla">
							<label>Info 6</label>
							<div class="custom-control custom-switch disp_flex">
                <section class="example-section">
                  Mostrar
                  <mat-slide-toggle
                      class="example-margin"
                      [color]="'primary'"
                      [checked]="selectedIsla.mostrar[10]"
                      (change)="toggleChanges($event,10)">
                  </mat-slide-toggle>
                </section>
						  </div>
							</div>
							<textarea style="height: 300px;" class="form-control" [(ngModel)]="this.selectedIsla.info6" required></textarea>
						</div>

            <hr>

            <div class="form-group">
							<div class="cont_fields_isla">
							<label>Subtitulo2</label>
							<div class="custom-control custom-switch disp_flex">
                <section class="example-section">
                  Mostrar
                  <mat-slide-toggle
                      class="example-margin"
                      [color]="'primary'"
                      [checked]="selectedIsla.mostrar[11]"
                      (change)="toggleChanges($event,11)">
                  </mat-slide-toggle>
                </section>
						  </div>
							</div>
							<input type="text" class="form-control" [(ngModel)]="selectedIsla.subtitulo2" required>
              <!-- <button mat-raised-button style="display: block;
              margin: auto;" (click)="updateIslaElement(11,selectedIsla.subtitulo2)">Guardar</button> -->
						</div>




            <div class="form-group">
							<div class="cont_fields_isla">
							<label>Redes</label>
							<div class="custom-control custom-switch disp_flex">
                <section class="example-section">
                  Mostrar
                  <mat-slide-toggle
                      class="example-margin"
                      [color]="'primary'"
                      [checked]="selectedIsla.mostrar[12]"
                      (change)="toggleChanges($event,12)">
                  </mat-slide-toggle>
                </section>
						  </div>
							</div>
							<!-- <input type="text" class="form-control" [(ngModel)]="selectedIsla.descripcion" required> -->
              <!-- <button mat-raised-button style="display: block;
              margin: auto;" (click)="updateIslaElement(12,'redes')">Guardar</button> -->
						</div>




            <div class="form-group">
							<div class="cont_fields_isla">
							<label>Facebook</label>
							<div class="custom-control custom-switch disp_flex">
                <section class="example-section">
                  Mostrar
                  <mat-slide-toggle
                      class="example-margin"
                      [color]="'primary'"
                      [checked]="selectedIsla.mostrar[25]"
                      (change)="toggleChanges($event,25)">
                  </mat-slide-toggle>
                </section>
						  </div>
							</div>
							<input type="text" class="form-control" [(ngModel)]="selectedIsla.facebook" required>
              <!-- <button mat-raised-button style="display: block;
              margin: auto;" (click)="updateIslaElement(25,selectedIsla.facebook)">Guardar</button> -->
						</div>


            <div class="form-group">
							<div class="cont_fields_isla">
							<label>Instagram</label>
							<div class="custom-control custom-switch disp_flex">
                <section class="example-section">
                  Mostrar
                  <mat-slide-toggle
                      class="example-margin"
                      [color]="'primary'"
                      [checked]="selectedIsla.mostrar[26]"
                      (change)="toggleChanges($event,26)">
                  </mat-slide-toggle>
                </section>
						  </div>
							</div>
							<input type="text" class="form-control" [(ngModel)]="selectedIsla.instagram" required>
              <!-- <button mat-raised-button style="display: block;
              margin: auto;" (click)="updateIslaElement(26,selectedIsla.instagram)">Guardar</button> -->
						</div>


            <div class="form-group">
							<div class="cont_fields_isla">
							<label>Youtube</label>
							<div class="custom-control custom-switch disp_flex">
                <section class="example-section">
                  Mostrar
                  <mat-slide-toggle
                      class="example-margin"
                      [color]="'primary'"
                      [checked]="selectedIsla.mostrar[27]"
                      (change)="toggleChanges($event,27)">
                  </mat-slide-toggle>
                </section>
						  </div>
							</div>
							<input type="text" class="form-control" [(ngModel)]="selectedIsla.youtube" required>
              <!-- <button mat-raised-button style="display: block;
              margin: auto;" (click)="updateIslaElement(27,selectedIsla.youtube)">Guardar</button> -->
						</div>



            <div class="form-group">
							<div class="cont_fields_isla">
							<label>Twitter</label>
							<div class="custom-control custom-switch disp_flex">
                <section class="example-section">
                  Mostrar
                  <mat-slide-toggle
                      class="example-margin"
                      [color]="'primary'"
                      [checked]="selectedIsla.mostrar[28]"
                      (change)="toggleChanges($event,28)">
                  </mat-slide-toggle>
                </section>
						  </div>
							</div>
							<input type="text" class="form-control" [(ngModel)]="selectedIsla.twitter" required>
              <!-- <button mat-raised-button style="display: block;
              margin: auto;" (click)="updateIslaElement(28,selectedIsla.twitter)">Guardar</button> -->
						</div>

            <hr>

            <div class="form-group">
							<div class="cont_fields_isla">
							<label>Contactenos</label>
							<div class="custom-control custom-switch disp_flex">
                <section class="example-section">
                  Mostrar
                  <mat-slide-toggle
                      class="example-margin"
                      [color]="'primary'"
                      [checked]="selectedIsla.mostrar[13]"
                      (change)="toggleChanges($event,13)">
                  </mat-slide-toggle>
                </section>
						  </div>
							</div>
							<input type="text" class="form-control" [(ngModel)]="selectedIsla.contactenos" required>
              <!-- <button mat-raised-button style="display: block;
              margin: auto;" (click)="updateIslaElement(13,selectedIsla.contactenos)">Guardar</button> -->
						</div>

            <hr>

            <div class="form-group">
							<div class="cont_fields_isla">
							<label>Correos</label>
							<div class="custom-control custom-switch disp_flex">
                <section class="example-section">
                  Mostrar
                  <mat-slide-toggle
                      class="example-margin"
                      [color]="'primary'"
                      [checked]="selectedIsla.mostrar[14]"
                      (change)="toggleChanges($event,14)">
                  </mat-slide-toggle>
                </section>
						  </div>
							</div>
							<input type="text" class="form-control" [(ngModel)]="selectedIsla.correos" required>
              <!-- <button mat-raised-button style="display: block;
              margin: auto;" (click)="updateIslaElement(14,selectedIsla.correos)">Guardar</button> -->
						</div>




            <hr>
             <!-- info4 -->
             <div class="form-group">
							<div class="cont_fields_isla">
							<label>Titulo Situo Web</label>
							<div class="custom-control custom-switch disp_flex">
                <section class="example-section">
                  Mostrar
                  <mat-slide-toggle
                      class="example-margin"
                      [color]="'primary'"
                      [checked]="selectedIsla.mostrar[15]"
                      (change)="toggleChanges($event,15)">
                  </mat-slide-toggle>
                </section>
						  </div>
							</div>
							<input type="text" class="form-control" [(ngModel)]="this.UrlSitioWeb[0]" required>
						</div>

            <div class="form-group">
							<div class="cont_fields_isla">
							<label>texto</label>
							<div class="custom-control custom-switch disp_flex">
						  </div>
							</div>
							<input type="text" class="form-control" [(ngModel)]="this.UrlSitioWeb[1]" required>
						</div>

            <div class="form-group">
							<div class="cont_fields_isla">
							<label>URL</label>
							</div>
							<input type="text" class="form-control" [(ngModel)]="this.UrlSitioWeb[2]" required>
              <!-- <button mat-raised-button style="display: block;
              margin: auto;" (click)="updateIslaElement(15,this.UrlSitioWeb.join(','))">Guardar</button> -->
						</div>


            <hr>

            <div class="form-group">
							<div class="cont_fields_isla">
							<label>Titulo Programacion</label>
							<div class="custom-control custom-switch disp_flex">
                <section class="example-section">
                  Mostrar
                  <mat-slide-toggle
                      class="example-margin"
                      [color]="'primary'"
                      [checked]="selectedIsla.mostrar[16]"
                      (change)="toggleChanges($event,16)">
                  </mat-slide-toggle>
                </section>
						  </div>
							</div>
							<input type="text" class="form-control" [(ngModel)]="selectedIsla.tituloProgramacion" required>
              <!-- <button mat-raised-button style="display: block;
              margin: auto;" (click)="updateIslaElement(16,selectedIsla.tituloProgramacion)">Guardar</button> -->
						</div>


            <div class="form-group">
							<div class="cont_fields_isla">
							<label>Programacion 1</label>
							<div class="custom-control custom-switch disp_flex">
                <section class="example-section">
                  Mostrar
                  <mat-slide-toggle
                      class="example-margin"
                      [color]="'primary'"
                      [checked]="selectedIsla.mostrar[17]"
                      (change)="toggleChanges($event,17)">
                  </mat-slide-toggle>
                </section>
						  </div>
							</div>
							<input type="text" class="form-control" [(ngModel)]="selectedIsla.programacion1" required>
              <!-- <button mat-raised-button style="display: block;
              margin: auto;" (click)="updateIslaElement(17,selectedIsla.programacion1)">Guardar</button> -->
						</div>





            <div class="form-group">
							<div class="cont_fields_isla">
							<label>Programacion 2</label>
							<div class="custom-control custom-switch disp_flex">
                <section class="example-section">
                  Mostrar
                  <mat-slide-toggle
                      class="example-margin"
                      [color]="'primary'"
                      [checked]="selectedIsla.mostrar[18]"
                      (change)="toggleChanges($event,18)">
                  </mat-slide-toggle>
                </section>
						  </div>
							</div>
							<input type="text" class="form-control" [(ngModel)]="selectedIsla.programacion2" required>
              <!-- <button mat-raised-button style="display: block;
              margin: auto;" (click)="updateIslaElement(18,selectedIsla.programacion2)">Guardar</button> -->
						</div>




					</div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar" (click)="realoadIslas()">
						<input type="submit" class="btn btn-info" value="Guardar" (click)="saveAll()">
					</div>
			</div>
		</div>
	</div>
<!-- Edit Modal Temas HTML -->
<div id="editEmployeeModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title">Editar</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Nombre de la pregunta</label>
                        <input type="text" class="form-control" [(ngModel)]="preguntaNombre" [ngModelOptions]="{standalone: true}">
                    </div>
                    <!-- <div class="form-group">
                        <label>Categoría</label>
                        <input type="email" class="form-control" required>
                    </div> -->
                    <div class="form-group">
                        <label>Seleccionar Categoría</label>
                        <mat-select class="form_select" [(ngModel)]="idCategoriaEdit" [ngModelOptions]="{standalone: true}">
                            <mat-option *ngFor="let food of listaCategorias" [value]="food.id_categoria">
                                {{food.categoria}}
                            </mat-option>
                        </mat-select>
                    </div>

                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
                    <input type="submit" class="btn btn-info" value="Guardar" (click)="actualizarPregunta()">
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Editar Modal Admin HTML -->
<div id="editAdminModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title">Editar</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Nombre</label>
                        <input type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Correo</label>
                        <input type="email" class="form-control" required>
                    </div>

                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
                    <input type="submit" class="btn btn-info" value="Guardar">
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Delete Modal HTML -->
<div id="deleteEmployeeModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title">Borrar</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p>¿Está seguro que desea eliminar?</p>
                    <p class="text-warning"><small>Esta acción no puede rehacerse.</small></p>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
                    <input type="submit" class="btn btn-danger" value="Borrar" (click)="deletePreguntas()">
                </div>
            </form>
        </div>
    </div>
</div>



<!-- Delete Modal HTML -->
<div id="deleteEmployeeModal2" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title">Borrar</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p>¿Está seguro que desea eliminar?</p>
                    <p class="text-warning"><small>Esta acción no puede rehacerse.</small></p>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
                    <input type="submit" class="btn btn-danger" value="Borrar" (click)="deleteUsuarios()">
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Delete Modal HTML -->
<div id="deleteEmployeeModal2" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title">Borrar</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p>¿Está seguro que desea eliminar?</p>
                    <p class="text-warning"><small>Esta acción no puede rehacerse.</small></p>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
                    <input type="submit" class="btn btn-danger" value="Borrar" (click)="deletePreguntas()">
                </div>
            </form>
        </div>
    </div>
</div>

<div id="Modal3" class="modal_home2">
    <div class="modal-contenido2">
        <div class="contenedor_cerrar2">
            <a onclick="$('#Modal3').hide(); cerrarModal();" class="modal_cerrar pointer">X</a>
        </div>

        <div class="contenedor_modal" style="width: 100%;">
            <div class="contenedor_postcard">
                <div class="contenedor_img_postcard">
                    <div [style.width]="'95%'" [style.padding-bottom]="'95%'" [style.border]="'3px solid white'" [style.background-size]="'cover'" [ngStyle]="{'background-image': 'url(' + imgUrl + ')'}">
                    </div>
                </div>

                <div class="texto_postcard">
                    <div class="persona_postcard">
                        <p class="nombre_postcard"> {{postName}} </p>
                        <p class="distancia_postcard"> {{postDistance}} Km de la UN</p>
                        <p class="descripcion_postcard"> {{postMessage}} </p>
                    </div>
                </div>
            </div>

            <div class="contenedor_comentarios">

                <div class="comentario" *ngFor="let item of listChildPost">
                    <p class="nombre_comentario"> {{item.username}} - {{item.usuario}}  </p>
                    <p class="descripcion_comentario">{{item.publicacion}}</p>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Loader -->
<!-- <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
        <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
        <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div> -->
<!-- End loader -->
