<div class="pn_modal_contenido2">
    <h3 class="modal_titulo"> {{title}} </h3>
    <p class="modal_texto"> {{message}} </p>
    <div class="modal_contenedor_boton">
        <a class="pn_modal_boton" href="javascript:void(0)" onclick="return false;" (click)="close()">Aceptar</a>
    </div>
</div>