body.gutenberg-editor-page {background-color: #fff;}
body.gutenberg-editor-page .edit-post-visual-editor .editor-post-title__input {color: #333;font-family: "Lato",sans-serif;font-weight: 400;text-transform: none;font-size: 36px;line-height: 1.4;letter-spacing: 0px;}
body.gutenberg-editor-page .edit-post-visual-editor .editor-block-list__block-edit p {color: #808080;font-family: "Open Sans",sans-serif;font-size: 13px;font-weight: 300;line-height: 1.55;}
body.gutenberg-editor-page .edit-post-visual-editor .editor-block-list__block-edit h1, body.gutenberg-editor-page .edit-post-visual-editor .editor-block-list__block-edit h2, body.gutenberg-editor-page .edit-post-visual-editor .editor-block-list__block-edit h3, body.gutenberg-editor-page .edit-post-visual-editor .editor-block-list__block-edit h4, body.gutenberg-editor-page .edit-post-visual-editor .editor-block-list__block-edit h5, body.gutenberg-editor-page .edit-post-visual-editor .editor-block-list__block-edit h6 {color: #333;font-family: "Lato",sans-serif;font-weight: 400;line-height: 1.4;text-transform: none;}
body.gutenberg-editor-page .edit-post-visual-editor .editor-block-list__block-edit h1 a:hover, body.gutenberg-editor-page .edit-post-visual-editor .editor-block-list__block-edit h2 a:hover, body.gutenberg-editor-page .edit-post-visual-editor .editor-block-list__block-edit h3 a:hover, body.gutenberg-editor-page .edit-post-visual-editor .editor-block-list__block-edit h4 a:hover, body.gutenberg-editor-page .edit-post-visual-editor .editor-block-list__block-edit h5 a:hover, body.gutenberg-editor-page .edit-post-visual-editor .editor-block-list__block-edit h6 a:hover {text-decoration: none;}
body.gutenberg-editor-page .edit-post-visual-editor .editor-block-list__block-edit h1 {color: #333;font-family: "Lato",sans-serif;font-weight: 400;text-transform: none;font-size: 36px;line-height: 1.4;letter-spacing: 0px;}
body.gutenberg-editor-page .edit-post-visual-editor .editor-block-list__block-edit h2 {font-size: 30px;line-height: 1.4;letter-spacing: 0px;}
body.gutenberg-editor-page .edit-post-visual-editor .editor-block-list__block-edit h3 {font-size: 24px;line-height: 1.4;letter-spacing: 0px;}
body.gutenberg-editor-page .edit-post-visual-editor .editor-block-list__block-edit h4 {font-size: 18px;line-height: 1.4;letter-spacing: 0px;}
body.gutenberg-editor-page .edit-post-visual-editor .editor-block-list__block-edit h5 {font-size: 14px;line-height: 1.4;letter-spacing: 0px;}
body.gutenberg-editor-page .edit-post-visual-editor .editor-block-list__block-edit h6 {font-size: 12px;line-height: 1.4;letter-spacing: 0px;}
body.gutenberg-editor-page .edit-post-visual-editor .editor-block-list__block-edit a {color: #428bca;}
body.gutenberg-editor-page .edit-post-visual-editor .editor-block-list__block-edit a:hover, body.gutenberg-editor-page .edit-post-visual-editor .editor-block-list__block-edit a:focus {color: #428bca;}
body.gutenberg-editor-page .edit-post-visual-editor .editor-block-list__block-edit blockquote {border-color: #e6e6e6;}