body {background-color: #f2f2f2;color: #808080;font-family: "Open Sans",sans-serif;font-size: 13px;font-weight: 300;line-height: 1.55;padding: 0;word-wrap: break-word;}
body.modal-open .media-modal-close:hover, body.modal-open .media-modal-close:focus {background: none;border: none;padding: 1px;}
body.modal-open .media-modal-close:focus {position: absolute;}
h1, h2, h3, h4, h5, h6 {color: #333;font-family: "Lato",sans-serif;font-weight: 400;line-height: 1.4;text-transform: none;font-style: normal;}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {color: #333;}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {text-decoration: none;}
h1 {font-size: 36px;line-height: 1.4;letter-spacing: 0px;color: #333;font-family: "Lato",sans-serif;font-weight: 400;font-style: normal;text-transform: none;}
h1 a {color: #333;}
h2 {font-size: 30px;line-height: 1.4;letter-spacing: 0px;}
h3 {font-size: 24px;line-height: 1.4;letter-spacing: 0px;}
h4 {font-size: 18px;line-height: 1.4;letter-spacing: 0px;}
h5 {font-size: 14px;line-height: 1.4;letter-spacing: 0px;}
h6 {font-size: 12px;line-height: 1.4;letter-spacing: 0px;}
a {color: #428bca;}
a:hover, a:focus {color: #428bca;}
blockquote {border-color: #e6e6e6;}
iframe {max-width: 100%;}
img {max-width: 100%;height: auto;}
.fl-screen-reader-text {position: absolute;left: -10000px;top: auto;width: 1px;height: 1px;overflow: hidden;}
.fl-screen-reader-text:focus {position: static;width: auto;height: auto;}
.screen-reader-text {clip: rect(1px,1px,1px,1px);position: absolute;height: 1px;width: 1px;overflow: hidden;}
.container {padding-left: 20px;padding-right: 20px;}
.fl-page {position: relative;-moz-box-shadow: none;-webkit-box-shadow: none;box-shadow: none;margin: 0 auto;}
.fl-page-header {border-color: #e6e6e6;background-color: #fff;color: #000;}
.fl-page-header *, .fl-page-header h1, .fl-page-header h2, .fl-page-header h3, .fl-page-header h4, .fl-page-header h5, .fl-page-header h6 {color: #000;}
.fl-page-header a, .fl-page-header a *, .fl-page-header a.fas, .fl-page-header a.fab {color: #428bca;}
.fl-page-header a:hover, .fl-page-header a:focus, .fl-page-header a:hover *, .fl-page-header a:focus *, .fl-page-header a.fas:hover, .fl-page-header a.fab:hover, .fl-page-header a.fas:focus, .fl-page-header a.fab:focus {color: #428bca;}
.fl-page-header .navbar-nav li>a {color: #428bca;}
.fl-page-header .navbar-nav li>a:hover, .fl-page-header .navbar-nav li>a:focus {color: #428bca;}
.fl-page-header .navbar-nav li.current-menu-ancestor>a, .fl-page-header .navbar-nav li.current-menu-parent>a, .fl-page-header .navbar-nav li.current-menu-item>a {color: #428bca;}
.fl-page-header .navbar-nav li.current-menu-item~li.current-menu-item>a {color: #000;}
.fl-page-header-container {padding-bottom: 30px;padding-top: 30px;}
.fl-page-header-logo {text-align: center;}
.fl-page-header-logo a {text-decoration: none;}
.fl-logo-text {font-family: "Helvetica",Verdana,Arial,sans-serif;font-weight: 400;font-size: 30px;}
.fl-logo-img {max-width: 100%;}
.fl-page-header-primary .fl-logo-img {height: auto !important;}
.fl-logo-img.sticky-logo {display: none;}
.fl-page-header-fixed .fl-logo-img {display: inherit;}
.fl-page-header-fixed .fl-logo-img.sticky-logo {display: inherit;}
.fl-nav-mobile-offcanvas .fl-button-close {display: none;}
.fl-page-nav-wrap {padding-bottom: 20px;}
.fl-page-nav {background: transparent;border: none;min-height: 0;margin-bottom: 0;-moz-border-radius: 0;-webkit-border-radius: 0;border-radius: 0;}
.fl-page-nav .navbar-nav>li>a {padding: 15px;}
.fl-page-nav .navbar-toggle {border: none;float: none;font-family: "Helvetica",Verdana,Arial,sans-serif;font-size: 14px;font-weight: 400;line-height: 1.4;text-transform: none;margin: 0;width: 100%;-moz-border-radius: 0;-webkit-border-radius: 0;border-radius: 0;}
.fl-page-nav .navbar-toggle:hover, .fl-page-nav .navbar-toggle:focus {outline: none;}
.fl-page-nav .navbar-nav, .fl-page-nav .navbar-nav a {font-family: "Helvetica",Verdana,Arial,sans-serif;font-size: 14px;font-weight: 400;line-height: 1.4;text-transform: none;}
.fl-full-width .fl-page-nav {margin: 0 auto;}
.fl-page-nav .mega-menu a[href="#"]:hover, .fl-page-nav .mega-menu a[href="#"]:focus {color: #428bca !important;cursor: default;}
.mega-menu-spacer {background: none;display: block;left: 0;position: absolute;width: 100%;}
.fl-page-header[class*=" fl-page-nav-toggle-visible"] ul.navbar-nav li.hide-heading {border-top: 0 none !important;}
.fl-page-header[class*=" fl-page-nav-toggle-visible"] ul.navbar-nav li.hide-heading>a, .fl-page-header[class*=" fl-page-nav-toggle-visible"] ul.navbar-nav li.hide-heading>.fl-submenu-icon-wrap {display: none !important;}
.fl-page-header[class*=" fl-page-nav-toggle-visible"] ul.navbar-nav li.hide-heading>ul.sub-menu {margin-left: 0;}
.fl-page-nav-collapse {border: none;max-height: none;padding: 0;-moz-box-shadow: none;-webkit-box-shadow: none;box-shadow: none;}
.fl-page-nav-collapse ul.navbar-nav {margin: 0;}
.fl-page-nav-collapse ul.navbar-nav>li {border-bottom: 1px solid #e6e6e6;}
.fl-page-nav-collapse ul.navbar-nav>li:last-child {border-bottom: none;}
.fl-page-nav-collapse.in {overflow-y: visible;}
.fl-page-nav-search {bottom: 0;display: none;position: absolute;right: 0;top: 0;}
.fl-page-nav-search a.fa-search {color: #428bca;font-size: 20px;padding: 8px;position: absolute;right: 0;top: 5px;}
.fl-page-nav-search a.fa-search:hover, .fl-page-nav-search a.fa-search:focus {color: #428bca;text-decoration: none;}
.fl-page-nav-search form {background-color: #fff;border-top: 3px solid #a1c5e5;display: none;padding: 20px;position: absolute;right: 0;top: 100%;width: 400px;z-index: 1000;-moz-box-shadow: 0 1px 20px rgba(0,0,0,.15);-webkit-box-shadow: 0 1px 20px rgba(0,0,0,.15);box-shadow: 0 1px 20px rgba(0,0,0,.15);}
.fl-page-nav-search form input.fl-search-input {background-color: #fff;border-color: #e6e6e6;color: #428bca;}
.fl-page-nav-search form input.fl-search-input:focus {color: #428bca;}
.fl-page-nav ul.sub-menu {background-clip: padding-box;background-color: #fff;border-top: 3px solid #a1c5e5;font-size: 14px;float: none;left: -99999px;list-style: none;padding: 10px 0;position: absolute;top: 100%;width: 240px;z-index: 1000;-moz-box-shadow: 0 1px 20px rgba(0,0,0,.15);-webkit-box-shadow: 0 1px 20px rgba(0,0,0,.15);box-shadow: 0 1px 20px rgba(0,0,0,.15);}
.fl-page-nav ul.sub-menu ul.sub-menu {left: -99999px;padding-bottom: 10px;top: -13px;}
.fl-page-nav ul.sub-menu li {border: none;}
.fl-page-nav ul.sub-menu li a {clear: none;color: #428bca;display: block;font-weight: 400;line-height: 20px;margin: 0 10px;padding: 10px 15px;}
.fl-page-nav ul.sub-menu li a:hover, .fl-page-nav ul.sub-menu li a:focus {color: #428bca;text-decoration: none;}
.fl-page-nav ul.sub-menu li a:before {content: "";margin-right: 0;}
.fl-page-nav ul li {position: relative;}
.fl-page-nav ul li.fl-sub-menu-open>ul.sub-menu {left: auto;}
.fl-page-nav ul li.fl-sub-menu-open>ul.sub-menu li.fl-sub-menu-open>ul.sub-menu {left: 100%;}
.fl-page-nav ul li.fl-sub-menu-open>ul.sub-menu li.fl-sub-menu-open.fl-sub-menu-right>ul.sub-menu {left: auto;right: 100%;}
.fl-page-nav ul li.fl-sub-menu-open.fl-sub-menu-right>ul.sub-menu {right: 0;}
.fl-page-content {background-color: #fff;}
.fl-content, .fl-sidebar {margin: 20px 0;}
.fl-sidebar {display: none;}
.fl-sidebar.fl-sidebar-display-always {display: block;}
#fl-to-top {display: none;background-color: #ccc;background-color: rgba(0,0,0,.2);position: fixed;bottom: 15px;right: 15px;width: 44px;height: 42px;text-align: center;z-index: 1003;}
#fl-to-top:hover {background-color: rgba(0,0,0,.3);}
#fl-to-top i {position: absolute;top: 12px;left: 14px;color: #fff;font-size: 16px;line-height: 16px;}
.fl-social-icons .fa-stack.icon-facebook-f i.fa-circle.branded, .fl-social-icons .fa-facebook-f.branded {color: #3b5997;}
.fl-social-icons .fa-stack.icon-twitter i.fa-circle.branded, .fl-social-icons .fa-twitter.branded {color: #00aaef;}
.fl-social-icons .fa-stack.icon-google i.fa-circle.branded, .fl-social-icons .fa-google.branded {color: #d13e2b;}
.fl-social-icons .fa-stack.icon-google-maps i.fa-circle.branded, .fl-social-icons .fa-map-marker-alt.branded {color: #eb5f1a;}
.fl-social-icons .fa-stack.icon-linkedin i.fa-circle.branded, .fl-social-icons .fa-linkedin.branded {color: #007ab8;}
.fl-social-icons .fa-stack.icon-yelp i.fa-circle.branded, .fl-social-icons .fa-yelp.branded {color: #c31200;}
.fl-social-icons .fa-stack.icon-xing i.fa-circle.branded, .fl-social-icons .fa-xing.branded {color: #006567;}
.fl-social-icons .fa-stack.icon-pinterest i.fa-circle.branded, .fl-social-icons .fa-pinterest.branded {color: #cb2127;}
.fl-social-icons .fa-stack.icon-tumblr i.fa-circle.branded, .fl-social-icons .fa-tumblr.branded {color: #304e6c;}
.fl-social-icons .fa-stack.icon-vimeo i.fa-circle.branded, .fl-social-icons .fa-vimeo.branded {color: #41b1db;}
.fl-social-icons .fa-stack.icon-youtube i.fa-circle.branded, .fl-social-icons .fa-youtube.branded {color: #d6000f;}
.fl-social-icons .fa-stack.icon-flickr i.fa-circle.branded, .fl-social-icons .fa-flickr.branded {color: #ec1982;}
.fl-social-icons .fa-stack.icon-instagram i.fa-circle.branded, .fl-social-icons .fa-instagram.branded {color: #517fa5;}
.fl-social-icons .fa-stack.icon-dribbble i.fa-circle.branded, .fl-social-icons .fa-dribbble.branded {color: #eb4a88;}
.fl-social-icons .fa-stack.icon-skype i.fa-circle.branded, .fl-social-icons .fa-skype.branded {color: #009ee5;}
.fl-social-icons .fa-stack.icon-500px i.fa-circle.branded, .fl-social-icons .fa-500px.branded {color: #333;}
.fl-social-icons .fa-stack.icon-github i.fa-circle.branded, .fl-social-icons .fa-github.branded {color: #333;}
.fl-social-icons .fa-stack.icon-rss i.fa-circle.branded, .fl-social-icons .fa-rss.branded {color: #e09026;}
.fl-social-icons .fa-stack.icon-envelope i.fa-circle.branded, .fl-social-icons .fa-envelope.branded {color: #333;}
.fl-social-icons .fa-stack.icon-blogger i.fa-circle.branded, .fl-social-icons .fa-blogger.branded {color: #fe7300;}
.fl-social-icons .fa-stack.icon-snapchat i.fa-circle.branded, .fl-social-icons .fa-snapchat.branded {color: #fffc00;}
.fl-social-icons .fa-stack i.branded {color: #fff;}
.fl-social-icons .fa-stack {margin: 0 0 10px 8px;}
.fl-social-icons .fallback {height: 28px;width: 28px;margin: 0 0 10px 5px !important;vertical-align: inherit;font-size: 30px;}
.fl-social-icons .fallback:before {width: 28px !important;display: inline-block;height: 28px !important;}
.fl-page-header-content .fa-stack i.fa-inverse.mono {color: #fff;}
.fa-stack i.fa-inverse.mono {color: #fff;}
.fl-404 {padding: 30px 0 50px;text-align: center;}
.fl-404 .fl-post-header {margin-bottom: 45px;}
.fl-404 .fl-post-header h2 {font-size: 24px;}
.fl-404 form {margin: 0 auto;max-width: 400px;}
.fl-archive .fl-post {border-bottom: 1px solid #e6e6e6;padding-bottom: 40px;}
.fl-archive .fl-post:last-child {border-bottom: none;padding-bottom: 0;}
.fl-archive .fl-archive-title {border-bottom: 1px solid #e6e6e6;font-size: 18px;margin-bottom: 40px;padding-bottom: 8px;}
.fl-archive .fl-archive-title a:hover {text-decoration: none;}
.fl-archive .fl-archive-nav-prev {float: left;}
.fl-archive .fl-archive-nav-next {float: right;}
.wp-pagenavi a, .wp-pagenavi span {border: 1px solid #e6e6e6;border-right: none;margin: 0;padding: 6px 10px;}
.wp-pagenavi a:hover {border-color: #e6e6e6;}
.wp-pagenavi>*:last-child {border-right: 1px solid #e6e6e6;}
.wp-pagenavi span.current, .wp-pagenavi a:hover {border-color: #e6e6e6;color: #fff;background: #428bca;font-weight: normal;}
.search .page .fl-post-header {display: block;}
.fl-post {margin-bottom: 40px;}
.fl-post:last-child {margin-bottom: 0;}
.fl-post img[class*="wp-image-"], .fl-post img.alignnone, .fl-post img.alignleft, .fl-post img.aligncenter, .fl-post img.alignright {height: auto;max-width: 100%;}
.fl-post .fl-post-image-beside {float: left;margin-right: 25px;}
.fl-post .fl-author-box {margin-top: 40px;background: #f5f5f5;border: 1px solid #ddd;padding: 20px;}
.fl-post .fl-author-box .fl-author-avatar {float: left;margin-right: 25px;}
.fl-post .fl-author-box .fl-author-description h4 {margin-top: 0;margin-bottom: 5px;}
.fl-post-thumb {margin-bottom: 25px;}
.fl-post-thumb img {height: auto !important;max-width: 100%;}
.fl-post-header {margin-bottom: 25px;}
.fl-post-title {margin-top: 0;}
.fl-post-meta .fl-sep {margin: 0 3px;}
.fl-post-meta-bottom {border-top: 1px solid #e6e6e6;font-style: italic;margin-top: 20px;padding-top: 10px;}
.fl-comments-popup-link a:hover {text-decoration: none;}
.fl-comments-popup-link i {vertical-align: text-top;}
.post-edit-link {color: #428bca;font-size: 14px;font-weight: normal;}
.fl-post-nav {border-top: 1px solid #e6e6e6;margin-top: 10px;padding-top: 10px;}
.fl-post-nav-prev {float: left;}
.fl-post-nav-next {float: right;}
.alignnone {margin: 5px 20px 20px 0;}
.aligncenter, div.aligncenter {display: block;margin: 5px auto 5px auto;}
.alignright {float: right;margin: 5px 0 20px 20px;}
.alignleft {float: left;margin: 5px 20px 20px 0;}
.aligncenter {display: block;margin: 5px auto 5px auto;}
a img.alignright {float: right;margin: 5px 0 20px 20px;}
a img.alignnone {margin: 5px 20px 20px 0;}
a img.alignleft {float: left;margin: 5px 20px 20px 0;}
a img.aligncenter {display: block;margin-left: auto;margin-right: auto;}
.wp-caption {background: #f7f7f7;border: 1px solid #e6e6e6;max-width: 100%;padding: 10px;text-align: center;}
.wp-caption.alignnone {margin: 5px 20px 20px 0;}
.wp-caption.alignleft {margin: 5px 20px 20px 0;}
.wp-caption.alignright {margin: 5px 0 20px 20px;}
.wp-caption img {border: 0 none;height: auto;margin: 0;max-width: 100%;padding: 0;width: auto;}
.wp-caption p.wp-caption-text {font-size: 11px;line-height: 17px;margin: 0;padding: 5px;}
.fl-comments {margin-top: 60px;}
.fl-comment-form .fl-comment-form-cancel {padding: 15px 0;}
.fl-comments-list ol {margin: 0;padding: 0;}
.fl-comments-list ol li {line-height: inherit;list-style: none;}
.fl-comments-list .fl-comments-list-nav {border-top: 1px solid #e6e6e6;margin-top: 30px;padding: 10px 0 30px 0;}
.fl-comments-list .fl-comments-list-prev {float: left;}
.fl-comments-list .fl-comments-list-next {float: right;}
.fl-comments-list .fl-comments-respond-title {margin-top: 0;}
.fl-comments-list .comment-meta {margin: 20px 0 10px;}
.fl-comments-list .comment-avatar img {height: auto;max-width: 40px;-moz-border-radius: 100%;-webkit-border-radius: 100%;border-radius: 100%;}
.fl-comments-list .comment-author-link {font-size: 16px;font-weight: bold;margin-left: 10px;}
.fl-comments-list .comment-content {border: 1px solid #e6e6e6;padding: 15px;}
.fl-comments-list .comment-reply-link {padding: 5px;text-align: right;}
.fl-comments-list ul.children {margin: 0;padding: 0;}
.fl-comments-list ul.children li {margin: 0 0 0 6%;}
#wp-comment-cookies-consent {margin-right: 5px;}
.fl-widget {margin-bottom: 40px;}
.fl-module-widget .fl-widget {margin-bottom: 0;}
.fl-widget .fl-widget-title {margin-bottom: 20px;}
.fl-widget ul {list-style: none;padding: 0;}
.fl-widget ul li {display: block;margin-bottom: 8px;}
.fl-widget ul li:last-child {margin-bottom: 0;}
.fl-widget ul.sub-menu li {margin: 0;padding: 5px;}
.fl-widget ul.sub-menu li:before {content: "–";padding-right: 5px;}
input[type=text].fl-search-input {color: rgba(128,128,128,.6);width: 100%;}
input[type=text].fl-search-input:focus {color: #808080;}
.widget_calendar table {width: 100%;}
.widget_calendar caption, .widget_calendar th, .widget_calendar td {border-bottom: 1px solid #e6e6e6;padding: 3px 0;text-align: center;}
.widget_calendar caption td, .widget_calendar tfoot td {border: none;}
.widget_calendar caption #prev, .widget_calendar tfoot #prev {text-align: left;}
.widget_calendar caption #next, .widget_calendar tfoot #next {text-align: right;}
a.fl-button, a.fl-button:visited, .fl-builder-content a.fl-button, .fl-builder-content a.fl-button:visited {background: #428bca;color: #fff;border: 1px solid #2d6ca2;}
a.fl-button *, a.fl-button:visited *, .fl-builder-content a.fl-button *, .fl-builder-content a.fl-button:visited * {color: #fff;}
a.fl-button:hover, .fl-builder-content a.fl-button:hover {background: #428bca;color: #fff;border: 1px solid #2d6ca2;}
a.fl-button:hover *, .fl-builder-content a.fl-button:hover * {color: #fff;}
button, input[type=button], input[type=submit] {background: #428bca;color: #fff;font-size: 14px;line-height: 20px;padding: 6px 12px;font-weight: normal;text-shadow: none;border: 1px solid #2d6ca2;-moz-box-shadow: none;-webkit-box-shadow: none;box-shadow: none;-moz-border-radius: 4px;-webkit-border-radius: 4px;border-radius: 4px;}
button:hover, input[type=button]:hover, input[type=submit]:hover {background-color: #428bca;color: #fff;border: 1px solid #2d6ca2;text-decoration: none;}
button:active, input[type=button]:active, input[type=submit]:active, button:focus, input[type=button]:focus, input[type=submit]:focus {background: #428bca;color: #fff;border: 1px solid #2d6ca2;outline: none;position: relative;top: 1px;}
button.btn-default, input[type=button].btn-default, input[type=submit].btn-default, button.btn-default:hover, input[type=button].btn-default:hover, input[type=submit].btn-default:hover, button.btn-default:focus, input[type=button].btn-default:focus, input[type=submit].btn-default:focus, button.btn-default:active, input[type=button].btn-default:active, input[type=submit].btn-default:active, button.btn-default.active, input[type=button].btn-default.active, input[type=submit].btn-default.active {color: #808080;background: #fcfcfc;border-color: #ccc;}
input[type=text], input[type=password], input[type=email], input[type=tel], input[type=date], input[type=month], input[type=week], input[type=time], input[type=number], input[type=search], input[type=url], textarea {display: block;width: 100%;padding: 6px 12px;font-size: 14px;line-height: 1.428571429;color: #808080;vertical-align: middle;background-color: #fcfcfc;background-image: none;border: 1px solid #e6e6e6;-moz-transition: all ease-in-out .15s;-webkit-transition: all ease-in-out .15s;transition: all ease-in-out .15s;-moz-box-shadow: none;-webkit-box-shadow: none;box-shadow: none;-moz-border-radius: 4px;-webkit-border-radius: 4px;border-radius: 4px;}
input[type=text]::-webkit-input-placeholder, input[type=password]::-webkit-input-placeholder, input[type=email]::-webkit-input-placeholder, input[type=tel]::-webkit-input-placeholder, input[type=date]::-webkit-input-placeholder, input[type=month]::-webkit-input-placeholder, input[type=week]::-webkit-input-placeholder, input[type=time]::-webkit-input-placeholder, input[type=number]::-webkit-input-placeholder, input[type=search]::-webkit-input-placeholder, input[type=url]::-webkit-input-placeholder, textarea::-webkit-input-placeholder {color: rgba(128,128,128,.4);}
input[type=text]:-moz-placeholder, input[type=password]:-moz-placeholder, input[type=email]:-moz-placeholder, input[type=tel]:-moz-placeholder, input[type=date]:-moz-placeholder, input[type=month]:-moz-placeholder, input[type=week]:-moz-placeholder, input[type=time]:-moz-placeholder, input[type=number]:-moz-placeholder, input[type=search]:-moz-placeholder, input[type=url]:-moz-placeholder, textarea:-moz-placeholder {color: rgba(128,128,128,.4);}
input[type=text]::-moz-placeholder, input[type=password]::-moz-placeholder, input[type=email]::-moz-placeholder, input[type=tel]::-moz-placeholder, input[type=date]::-moz-placeholder, input[type=month]::-moz-placeholder, input[type=week]::-moz-placeholder, input[type=time]::-moz-placeholder, input[type=number]::-moz-placeholder, input[type=search]::-moz-placeholder, input[type=url]::-moz-placeholder, textarea::-moz-placeholder {color: rgba(128,128,128,.4);}
input[type=text]:-ms-input-placeholder, input[type=password]:-ms-input-placeholder, input[type=email]:-ms-input-placeholder, input[type=tel]:-ms-input-placeholder, input[type=date]:-ms-input-placeholder, input[type=month]:-ms-input-placeholder, input[type=week]:-ms-input-placeholder, input[type=time]:-ms-input-placeholder, input[type=number]:-ms-input-placeholder, input[type=search]:-ms-input-placeholder, input[type=url]:-ms-input-placeholder, textarea:-ms-input-placeholder {color: rgba(128,128,128,.4);}
input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=tel]:focus, input[type=date]:focus, input[type=month]:focus, input[type=week]:focus, input[type=time]:focus, input[type=number]:focus, input[type=search]:focus, input[type=url]:focus, textarea:focus {background-color: #fff;border-color: #ccc;outline: 0;-moz-box-shadow: none;-webkit-box-shadow: none;box-shadow: none;}
input[type=text], input[type=password], input[type=email], input[type=tel], input[type=date], input[type=month], input[type=week], input[type=time], input[type=number], input[type=search], input[type=url] {height: 34px;}
.form-control {background-color: #fcfcfc;border-color: #e6e6e6;color: #808080;-moz-transition: all ease-in-out .15s;-webkit-transition: all ease-in-out .15s;transition: all ease-in-out .15s;}
.form-control::-webkit-input-placeholder {color: rgba(128,128,128,.4);}
.form-control:-moz-placeholder {color: rgba(128,128,128,.4);}
.form-control::-moz-placeholder {color: rgba(128,128,128,.4);}
.form-control:-ms-input-placeholder {color: rgba(128,128,128,.4);}
.form-control:focus {background-color: #fff;border-color: #ccc;-moz-box-shadow: none;-webkit-box-shadow: none;box-shadow: none;}
.mfp-wrap button.mfp-arrow, .mfp-wrap button.mfp-arrow:active, .mfp-wrap button.mfp-arrow:hover, .mfp-wrap button.mfp-arrow:focus {background: transparent !important;border: none !important;outline: none;position: absolute;top: 50%;box-shadow: none !important;-moz-box-shadow: none !important;-webkit-box-shadow: none !important;}
.mfp-wrap .mfp-close, .mfp-wrap .mfp-close:active, .mfp-wrap .mfp-close:hover, .mfp-wrap .mfp-close:focus {background: transparent !important;border: none !important;outline: none;position: absolute;top: 0;box-shadow: none !important;-moz-box-shadow: none !important;-webkit-box-shadow: none !important;}
img.mfp-img {padding: 0;}
.mfp-counter {display: none;}
.fl-builder-edit .fl-page-header-fixed {display: none !important;}
.fl-builder .container.fl-content-full {margin: 0;padding: 0;width: auto;max-width: none;}
.fl-builder .container.fl-content-full>.row {margin: 0;}
.fl-builder .container.fl-content-full .fl-content {margin: 0;padding: 0;}
.fl-builder .container.fl-content-full .fl-post-header {margin-left: 20px;margin-right: 20px;padding-top: 40px;}
.fl-builder .container.fl-content-full .fl-comments {margin-left: 20px;margin-right: 20px;}
@media (max-width:767px) {.fl-post .fl-post-image-beside {float: none;margin-right: 0;}
	.fl-post .fl-post-image-beside, .fl-post .fl-post-content-beside {padding: 0 15px;}
	.fl-page-header-logo img[data-mobile] {display: none;}}
@media (min-width:768px) {.container {padding-left: 40px;padding-right: 40px;width: auto;}
	.fl-page-nav {background: transparent;}
	.fl-page-nav .navbar-nav li>a {padding: 15px 15px;color: #808080;}
	.fl-page-nav .navbar-nav li>a:hover, .fl-page-nav .navbar-nav li>a:focus {color: #428bca;}
	.fl-page-nav .navbar-nav li.current-menu-ancestor>a, .fl-page-nav .navbar-nav li.current-menu-parent>a, .fl-page-nav .navbar-nav li.current-menu-item>a {color: #428bca;}
	.fl-page-nav .navbar-nav li.current-menu-item~li.current-menu-item>a {color: #808080;}
	.fl-page-nav-wrap {border-bottom: 1px solid #e6e6e6;border-top: 1px solid #e6e6e6;padding: 0;border-color: #e6e6e6;background-color: #fff;color: #000;}
	.fl-page-nav-wrap *, .fl-page-nav-wrap h1, .fl-page-nav-wrap h2, .fl-page-nav-wrap h3, .fl-page-nav-wrap h4, .fl-page-nav-wrap h5, .fl-page-nav-wrap h6 {color: #000;}
	.fl-page-nav-wrap a, .fl-page-nav-wrap a *, .fl-page-nav-wrap a.fas, .fl-page-nav-wrap a.fab {color: #428bca;}
	.fl-page-nav-wrap a:hover, .fl-page-nav-wrap a:focus, .fl-page-nav-wrap a:hover *, .fl-page-nav-wrap a:focus *, .fl-page-nav-wrap a.fas:hover, .fl-page-nav-wrap a.fab:hover, .fl-page-nav-wrap a.fas:focus, .fl-page-nav-wrap a.fab:focus {color: #428bca;}
	.fl-page-nav-wrap .navbar-nav li>a {color: #428bca;}
	.fl-page-nav-wrap .navbar-nav li>a:hover, .fl-page-nav-wrap .navbar-nav li>a:focus {color: #428bca;}
	.fl-page-nav-wrap .navbar-nav li.current-menu-ancestor>a, .fl-page-nav-wrap .navbar-nav li.current-menu-parent>a, .fl-page-nav-wrap .navbar-nav li.current-menu-item>a {color: #428bca;}
	.fl-page-nav-wrap .navbar-nav li.current-menu-item~li.current-menu-item>a {color: #000;}
	.fl-page-nav-toggle-visible-always .fl-page-header-wrap .fl-page-header-container, .fl-page-nav-toggle-visible-medium-mobile .fl-page-header-wrap .fl-page-header-container {padding-left: 40px;padding-right: 40px;}
	.fl-page-nav-collapse ul.navbar-nav>li {border: none;}
	.fl-page-nav-collapse ul.navbar-nav>li:first-child {border: none;}
	.fl-page-header-container, .fl-page-nav-container {position: relative;}
	.fl-page-nav-col, .fl-page-nav, .fl-page-fixed-nav-wrap {position: inherit;}
	ul.navbar-nav li.mega-menu {position: inherit;}
	ul.navbar-nav li.mega-menu.fl-sub-menu-open>ul.sub-menu {left: 0;}
	ul.navbar-nav li.mega-menu>ul.sub-menu {position: absolute !important;width: 100%;padding: 20px;display: table;}
	ul.navbar-nav li.mega-menu>ul.sub-menu ul.sub-menu {position: relative;width: auto;left: 0 !important;top: 0;opacity: 1 !important;padding: 0;border-top: none;-moz-box-shadow: none;-webkit-box-shadow: none;box-shadow: none;}
	ul.navbar-nav li.mega-menu>ul.sub-menu>li {position: relative;float: none;display: table-cell;height: auto;vertical-align: top;border-right: 1px solid #d9e8f4;}
	ul.navbar-nav li.mega-menu>ul.sub-menu>li:last-child {border-right: none;}
	ul.navbar-nav li.mega-menu>ul.sub-menu>li li li a::before {font-family: "Font Awesome 5 Free";content: "";font-weight: 900;margin-right: 10px;}
	ul.navbar-nav li.mega-menu>ul.sub-menu>li>a {font-weight: bold;}
	ul.navbar-nav li.mega-menu.mega-menu-items-1>ul>li {width: 100%;}
	ul.navbar-nav li.mega-menu.mega-menu-items-2>ul>li {width: 50%;}
	ul.navbar-nav li.mega-menu.mega-menu-items-3>ul>li {width: 33.33%;}
	ul.navbar-nav li.mega-menu.mega-menu-items-4>ul>li {width: 25%;}
	ul.navbar-nav li.mega-menu.mega-menu-items-5>ul>li {width: 20%;}
	ul.navbar-nav li.mega-menu.mega-menu-items-6>ul>li {width: 16.66%;}
	.fl-content, .fl-sidebar {margin: 40px 0;}
	.fl-full-width.fl-footer-effect .fl-page-footer-wrap {z-index: -1;position: fixed;bottom: 0;left: 0;width: 100%;}
	.fl-full-width.fl-footer-effect .fl-page {z-index: 10;}
	.fl-404 {padding: 100px 0 150px;}
	.fl-404 .fl-post-header h2 {font-size: 30px;}
	.fl-builder .container.fl-content-full .fl-post-header, .fl-builder .container.fl-content-full .fl-comments {margin: 0 40px;width: auto;}}
@media (min-width:992px) {body.fl-fixed-width:not(.fl-nav-vertical):not(.fl-fixed-header):not(.fl-shrink) {padding: 0;}
	.container {padding-left: 0;padding-right: 0;width: 900px;}
	.fl-full-width .container {padding-left: 40px;padding-right: 40px;width: auto;}
	.fl-page {-moz-box-shadow: none;-webkit-box-shadow: none;box-shadow: none;width: 980px;}
	.fl-full-width .fl-page {width: auto;}
	.fl-page-nav-search {display: block;}
	.fl-scroll-header .fl-page-header-primary, .fl-scroll-header .fl-page-bar {-webkit-transform: translateY(-200%);-ms-transform: translateY(-200%);transform: translateY(-200%);-webkit-transition: -webkit-transform .4s ease-in-out;-moz-transition: transform .4s ease-in-out;-o-transition: transform .4s ease-in-out;transition: transform .4s ease-in-out;}
	.fl-scroll-header .fl-page-header-primary.fl-show, .fl-scroll-header .fl-page-bar.fl-show {-webkit-transform: translateY(0);-ms-transform: translateY(0);transform: translateY(0);}
	.fl-sidebar {display: block;}
	.fl-content {margin: 40px 0;}
	.fl-content-left {border-right: 1px solid #e6e6e6;padding-right: 40px;}
	.fl-content-right {border-left: 1px solid #e6e6e6;padding-left: 40px;}
	.fl-sidebar-right {padding-left: 40px;}
	.fl-sidebar-left {padding-right: 40px;}
	.fl-builder.fl-full-width .container.fl-content-full .fl-post-header, .fl-builder.fl-full-width .container.fl-content-full .fl-comments {margin: 0 40px;width: auto;}}
@media (min-width:1100px) {.fl-fixed-width .fl-page {width: 1100px;max-width: 90%;}
	.container {width: 1020px;max-width: 90%;}
	.fl-full-width .container {padding-left: 0;padding-right: 0;width: 1020px;}
	.fl-page-nav-toggle-visible-always .fl-page-header-wrap .fl-page-header-container, .fl-page-nav-toggle-visible-medium-mobile .fl-page-header-wrap .fl-page-header-container {padding-left: 0;padding-right: 0;}
	.fl-builder.fl-full-width .container.fl-content-full .fl-post-header, .fl-builder.fl-full-width .container.fl-content-full .fl-comments {margin: 0 auto;width: 1020px;}}
@media (max-width:767px) {body:not(.fl-nav-mobile-offcanvas) .fl-page-nav-toggle-button.fl-page-nav-toggle-visible-mobile.fl-page-nav-right .fl-page-nav-collapse {width: 100%;}
	body:not(.fl-nav-mobile-offcanvas) .fl-page-nav-toggle-button.fl-page-nav-toggle-visible-mobile.fl-page-nav-right .fl-page-nav-collapse ul.navbar-nav {flex: 0 0 100%;}
	.fl-page-nav-toggle-button.fl-page-nav-toggle-visible-mobile.fl-page-nav-right .fl-page-nav-collapse ul.navbar-nav {float: none !important;}
	.fl-page-nav-toggle-button.fl-page-nav-toggle-visible-mobile.fl-page-nav-right .fl-page-header-row .fl-page-header-logo {padding-bottom: 30px;}
	.fl-page-nav-toggle-button.fl-page-nav-toggle-visible-mobile.fl-page-nav-right .fl-page-header-logo-col, .fl-page-nav-toggle-button.fl-page-nav-toggle-visible-mobile.fl-page-nav-right .fl-page-nav-col {width: 100%;}
	.fl-framework-bootstrap-4 .fl-page-nav-toggle-button.fl-page-nav-toggle-visible-mobile.fl-page-nav-right .fl-page-header-logo-col, .fl-framework-bootstrap-4 .fl-page-nav-toggle-button.fl-page-nav-toggle-visible-mobile.fl-page-nav-right .fl-page-nav-col {flex-basis: 100%;max-width: 100%;}
	body:not(.fl-nav-mobile-offcanvas) .fl-page-nav-toggle-button.fl-page-nav-toggle-visible-mobile.fl-page-nav-left .fl-page-nav-collapse {width: 100%;}
	body:not(.fl-nav-mobile-offcanvas) .fl-page-nav-toggle-button.fl-page-nav-toggle-visible-mobile.fl-page-nav-left .fl-page-nav-collapse ul.navbar-nav {flex: 0 0 100%;}
	.fl-page-nav-toggle-button.fl-page-nav-toggle-visible-mobile.fl-page-nav-left .fl-page-header-row .fl-page-header-logo {padding-bottom: 30px;}
	.fl-page-nav-toggle-button.fl-page-nav-toggle-visible-mobile.fl-page-nav-left .fl-page-nav ul.navbar-nav>li:first-child a {padding-left: 17px;}
	.fl-page-nav-toggle-button.fl-page-nav-toggle-visible-mobile.fl-page-nav-left .fl-page-logo-wrap, .fl-page-nav-toggle-button.fl-page-nav-toggle-visible-mobile.fl-page-nav-left .fl-page-nav-col {width: 100%;}
	.fl-framework-bootstrap-4 .fl-page-nav-toggle-button.fl-page-nav-toggle-visible-mobile.fl-page-nav-left .fl-page-header-logo-col, .fl-framework-bootstrap-4 .fl-page-nav-toggle-button.fl-page-nav-toggle-visible-mobile.fl-page-nav-left .fl-page-nav-col {flex-basis: 100%;max-width: 100%;}
	.fl-page-nav-toggle-button.fl-page-nav-toggle-visible-mobile.fl-page-nav-centered-inline-logo {text-align: left;}
	.fl-page-nav-toggle-button.fl-page-nav-toggle-visible-mobile.fl-page-nav-centered-inline-logo .fl-page-header-logo {display: block;}
	.fl-page-nav-toggle-button.fl-page-nav-toggle-visible-mobile.fl-page-header-vertical {top: 0;}
	.fl-page-nav-toggle-button.fl-page-nav-toggle-visible-mobile .fl-page-nav-collapse {border-top: 1px solid #e6e6e6;padding-bottom: 10px;}
	.fl-page-nav-toggle-button.fl-page-nav-toggle-visible-mobile .fl-page-nav-collapse.collapse {display: none !important;visibility: hidden !important;}
	.fl-page-nav-toggle-button.fl-page-nav-toggle-visible-mobile .fl-page-nav-collapse.collapse.in, .fl-page-nav-toggle-button.fl-page-nav-toggle-visible-mobile .fl-page-nav-collapse.collapse.show {display: block !important;visibility: visible !important;}
	.fl-page-nav-toggle-button.fl-page-nav-toggle-visible-mobile .fl-page-nav-collapse.collapsing {display: block !important;}
	.fl-page-nav-toggle-button.fl-page-nav-toggle-visible-mobile .fl-page-nav-collapse ul.navbar-nav {display: block;float: none;}
	.fl-page-nav-toggle-button.fl-page-nav-toggle-visible-mobile .fl-page-nav-collapse ul.navbar-nav>li {border-color: #e6e6e6;border-bottom-style: solid;border-bottom-width: 1px;display: block;float: none;position: relative;}
	.fl-page-nav-toggle-button.fl-page-nav-toggle-visible-mobile .fl-page-nav-collapse ul.navbar-nav>li>a {color: #428bca;text-align: left;}
	.fl-page-nav-toggle-button.fl-page-nav-toggle-visible-mobile .fl-page-nav-collapse ul.navbar-nav>li>a:hover, .fl-page-nav-toggle-button.fl-page-nav-toggle-visible-mobile .fl-page-nav-collapse ul.navbar-nav>li>a:focus {color: #428bca;}
	.fl-page-nav-toggle-button.fl-page-nav-toggle-visible-mobile .fl-page-nav-collapse ul.navbar-nav>li.current-menu-item>a, .fl-page-nav-toggle-button.fl-page-nav-toggle-visible-mobile .fl-page-nav-collapse ul.navbar-nav>li.current-menu-item>.fl-submenu-icon-wrap .fl-submenu-toggle-icon {color: #428bca;}
	.fl-page-nav-toggle-button.fl-page-nav-toggle-visible-mobile .fl-page-nav-collapse ul.navbar-nav>li.current-menu-item~li.current-menu-item>a {color: #428bca;}
	.fl-page-nav-toggle-button.fl-page-nav-toggle-visible-mobile .fl-page-nav-collapse ul.sub-menu li {border-color: #e6e6e6;}
	.fl-page-nav-toggle-button.fl-page-nav-toggle-visible-mobile .fl-page-nav-collapse ul.sub-menu li a {color: #428bca;}
	.fl-page-nav-toggle-button.fl-page-nav-toggle-visible-mobile .fl-page-nav-collapse ul.sub-menu li a:hover {color: #428bca;}
	.fl-page-nav-toggle-button.fl-page-nav-toggle-visible-mobile .fl-page-nav-collapse .fl-page-nav-search {display: none;}
	.fl-page-nav-toggle-button.fl-page-nav-toggle-visible-mobile .fl-page-nav ul.sub-menu {background-color: transparent;border: none;float: none;height: 100%;list-style: none;overflow: hidden;padding: 0;position: absolute;top: 0;width: auto;-moz-box-shadow: none;-webkit-box-shadow: none;box-shadow: none;}
	.fl-page-nav-toggle-button.fl-page-nav-toggle-visible-mobile .fl-page-nav ul.sub-menu ul.sub-menu {padding-bottom: 0;margin-left: 15px;}
	.fl-page-nav-toggle-button.fl-page-nav-toggle-visible-mobile .fl-page-nav ul.sub-menu li {border-top: 1px solid #e6e6e6;}
	.fl-page-nav-toggle-button.fl-page-nav-toggle-visible-mobile .fl-page-nav ul.sub-menu li a {clear: both;color: #428bca;display: block;font-weight: 400;line-height: 20px;margin: 0;padding: 15px;}
	.fl-page-nav-toggle-button.fl-page-nav-toggle-visible-mobile .fl-page-nav ul.sub-menu li a:hover, .fl-page-nav-toggle-button.fl-page-nav-toggle-visible-mobile .fl-page-nav ul.sub-menu li a:focus {color: #428bca;text-decoration: none;}
	.fl-page-nav-toggle-button.fl-page-nav-toggle-visible-mobile .fl-page-nav ul.sub-menu li a:before {font-family: "Font Awesome 5 Free";content: "";font-weight: 900;margin-right: 10px;}
	.fl-page-nav-toggle-button.fl-page-nav-toggle-visible-mobile .fl-page-nav ul li.fl-mobile-sub-menu-open ul.sub-menu {position: static;}
	.fl-submenu-toggle .fl-page-nav-toggle-button.fl-page-nav-toggle-visible-mobile .fl-page-nav ul.navbar-nav .sub-menu {position: absolute;}
	.fl-submenu-toggle .fl-page-nav-toggle-button.fl-page-nav-toggle-visible-mobile .fl-page-nav ul.navbar-nav li.menu-item-has-children>a {padding-right: 40px;}
	.fl-submenu-toggle .fl-page-nav-toggle-button.fl-page-nav-toggle-visible-mobile .fl-page-nav ul.navbar-nav li.menu-item-has-children>.fl-submenu-icon-wrap {visibility: visible;}
	.fl-submenu-toggle .fl-page-nav-toggle-button.fl-page-nav-toggle-visible-mobile .fl-page-nav ul.navbar-nav li.fl-mobile-sub-menu-open>.fl-submenu-icon-wrap .fl-submenu-toggle-icon:after {content: "";}
	.fl-submenu-toggle .fl-page-nav-toggle-button.fl-page-nav-toggle-visible-mobile .fl-page-nav ul.navbar-nav li.fl-mobile-sub-menu-open>ul.sub-menu, .fl-submenu-toggle .fl-page-nav-toggle-button.fl-page-nav-toggle-visible-mobile .fl-page-nav ul.navbar-nav li.fl-mobile-sub-menu-open .hide-heading>ul.sub-menu {position: static;}
	.fl-submenu-toggle .fl-page-nav-toggle-button.fl-page-nav-toggle-visible-mobile .fl-page-nav ul.navbar-nav li a {padding: 15px;}
	.fl-submenu-toggle .fl-page-nav-toggle-button.fl-page-nav-toggle-visible-mobile .fl-page-nav ul.navbar-nav li:hover>.fl-submenu-icon-wrap .fl-submenu-toggle-icon, .fl-submenu-toggle .fl-page-nav-toggle-button.fl-page-nav-toggle-visible-mobile .fl-page-nav ul.navbar-nav li:focus>.fl-submenu-icon-wrap .fl-submenu-toggle-icon {color: #428bca;}
	.fl-submenu-indicator .fl-page-nav-toggle-button.fl-page-nav-toggle-visible-mobile ul.navbar-nav li.menu-item-has-children>a {padding-right: 40px;}
	.fl-submenu-indicator .fl-page-nav-toggle-button.fl-page-nav-toggle-visible-mobile ul.navbar-nav li.menu-item-has-children>a:after {content: "" !important;}
	.fl-submenu-indicator .fl-page-nav-toggle-button.fl-page-nav-toggle-visible-mobile ul.navbar-nav li.menu-item-has-children>.fl-submenu-icon-wrap {visibility: visible;}
	.fl-submenu-indicator .fl-page-nav-toggle-button.fl-page-nav-toggle-visible-mobile ul.navbar-nav li.menu-item-has-children:hover>.fl-submenu-icon-wrap .fl-submenu-toggle-icon, .fl-submenu-indicator .fl-page-nav-toggle-button.fl-page-nav-toggle-visible-mobile ul.navbar-nav li.menu-item-has-children:focus>.fl-submenu-icon-wrap .fl-submenu-toggle-icon {color: #428bca;}
	.fl-submenu-indicator .fl-page-nav-toggle-button.fl-page-nav-toggle-visible-mobile ul.navbar-nav li.menu-item-has-children.fl-mobile-sub-menu-open>.fl-submenu-icon-wrap .fl-submenu-toggle-icon:after {content: "";}
	.fl-page-nav-toggle-button.fl-page-nav-toggle-visible-mobile .fl-submenu-icon-wrap {visibility: hidden;}
	.fl-page-nav-toggle-button.fl-page-nav-toggle-visible-mobile .fl-submenu-icon-wrap .fl-submenu-toggle-icon {position: absolute;padding: 15px;top: 0;right: 0;bottom: 0;cursor: pointer;}
	.fl-page-nav-toggle-button.fl-page-nav-toggle-visible-mobile .fl-submenu-icon-wrap .fl-submenu-toggle-icon:after {font-family: "Font Awesome 5 Free";content: "";font-weight: 900;font-size: 14px;float: right;}
	.fl-page-nav-toggle-button.fl-page-nav-toggle-visible-mobile .fl-page-nav-wrap {border: 0 none;margin: 0;padding-bottom: 20px;}
	.fl-page-nav-toggle-button.fl-page-nav-toggle-visible-mobile .fl-page-nav .navbar-toggle {display: block;background: #e6e6e6;color: #428bca;}
	.fl-page-nav-toggle-button.fl-page-nav-toggle-visible-mobile .fl-page-nav .navbar-toggle * {color: #428bca;}
	.fl-page-nav-toggle-button.fl-page-nav-toggle-visible-mobile .fl-page-nav .navbar-toggle:hover, .fl-page-nav-toggle-button.fl-page-nav-toggle-visible-mobile .fl-page-nav .navbar-toggle:focus {background: #e6e6e6;}
	.fl-page-nav-toggle-button.fl-page-nav-toggle-visible-mobile.fl-page-header-fixed .fl-page-nav-wrap {padding-top: 20px;}}
.fl-page-nav-right.fl-page-header-fixed, .fl-page-header-fixed {display: none;left: 0;position: fixed !important;top: 0;width: 100%;z-index: 100;border-color: #e6e6e6;background-color: #fff;color: #000;-moz-box-shadow: 0 0 7px rgba(0,0,0,.1);-webkit-box-shadow: 0 0 7px rgba(0,0,0,.1);box-shadow: 0 0 7px rgba(0,0,0,.1);}
.fl-page-nav-right.fl-page-header-fixed *, .fl-page-header-fixed *, .fl-page-nav-right.fl-page-header-fixed h1, .fl-page-header-fixed h1, .fl-page-nav-right.fl-page-header-fixed h2, .fl-page-header-fixed h2, .fl-page-nav-right.fl-page-header-fixed h3, .fl-page-header-fixed h3, .fl-page-nav-right.fl-page-header-fixed h4, .fl-page-header-fixed h4, .fl-page-nav-right.fl-page-header-fixed h5, .fl-page-header-fixed h5, .fl-page-nav-right.fl-page-header-fixed h6, .fl-page-header-fixed h6 {color: #000;}
.fl-page-nav-right.fl-page-header-fixed a, .fl-page-header-fixed a, .fl-page-nav-right.fl-page-header-fixed a *, .fl-page-header-fixed a *, .fl-page-nav-right.fl-page-header-fixed a.fas, .fl-page-header-fixed a.fas, .fl-page-nav-right.fl-page-header-fixed a.fab, .fl-page-header-fixed a.fab {color: #428bca;}
.fl-page-nav-right.fl-page-header-fixed a:hover, .fl-page-header-fixed a:hover, .fl-page-nav-right.fl-page-header-fixed a:focus, .fl-page-header-fixed a:focus, .fl-page-nav-right.fl-page-header-fixed a:hover *, .fl-page-header-fixed a:hover *, .fl-page-nav-right.fl-page-header-fixed a:focus *, .fl-page-header-fixed a:focus *, .fl-page-nav-right.fl-page-header-fixed a.fas:hover, .fl-page-header-fixed a.fas:hover, .fl-page-nav-right.fl-page-header-fixed a.fab:hover, .fl-page-header-fixed a.fab:hover, .fl-page-nav-right.fl-page-header-fixed a.fas:focus, .fl-page-header-fixed a.fas:focus, .fl-page-nav-right.fl-page-header-fixed a.fab:focus, .fl-page-header-fixed a.fab:focus {color: #428bca;}
.fl-page-nav-right.fl-page-header-fixed .navbar-nav li>a, .fl-page-header-fixed .navbar-nav li>a {color: #428bca;}
.fl-page-nav-right.fl-page-header-fixed .navbar-nav li>a:hover, .fl-page-header-fixed .navbar-nav li>a:hover, .fl-page-nav-right.fl-page-header-fixed .navbar-nav li>a:focus, .fl-page-header-fixed .navbar-nav li>a:focus {color: #428bca;}
.fl-page-nav-right.fl-page-header-fixed .navbar-nav li.current-menu-ancestor>a, .fl-page-header-fixed .navbar-nav li.current-menu-ancestor>a, .fl-page-nav-right.fl-page-header-fixed .navbar-nav li.current-menu-parent>a, .fl-page-header-fixed .navbar-nav li.current-menu-parent>a, .fl-page-nav-right.fl-page-header-fixed .navbar-nav li.current-menu-item>a, .fl-page-header-fixed .navbar-nav li.current-menu-item>a {color: #428bca;}
.fl-page-nav-right.fl-page-header-fixed .navbar-nav li.current-menu-item~li.current-menu-item>a, .fl-page-header-fixed .navbar-nav li.current-menu-item~li.current-menu-item>a {color: #000;}
.fl-page-nav-right.fl-page-header-fixed .fl-page-header-container.container, .fl-page-header-fixed .fl-page-header-container.container {padding-bottom: 8px;padding-top: 8px;}
.fl-page-nav-right.fl-page-header-fixed.fl-page-header.fl-page-nav-toggle-visible-always .fl-page-header-row .fl-page-header-logo, .fl-page-header-fixed.fl-page-header.fl-page-nav-toggle-visible-always .fl-page-header-row .fl-page-header-logo {padding-bottom: 0;}
.fl-page-nav-right.fl-page-header-fixed.fl-page-header.fl-page-nav-toggle-visible-always .fl-page-nav-collapse, .fl-page-header-fixed.fl-page-header.fl-page-nav-toggle-visible-always .fl-page-nav-collapse {margin-top: 20px;}
.fl-page-nav-right.fl-page-header-fixed.fl-page-header.fl-page-nav-toggle-visible-always .fl-page-nav .navbar-toggle, .fl-page-header-fixed.fl-page-header.fl-page-nav-toggle-visible-always .fl-page-nav .navbar-toggle {top: 15px;}
.fl-page-nav-right.fl-page-header-fixed .fl-logo-img, .fl-page-header-fixed .fl-logo-img {max-height: 46px !important;width: auto !important;}
.fl-page-nav-right.fl-page-header-fixed .fl-logo-text, .fl-page-header-fixed .fl-logo-text {font-size: 28px;}
.fl-page-nav-right.fl-page-header-fixed .fl-page-nav-wrap .navbar-nav>li>a, .fl-page-header-fixed .fl-page-nav-wrap .navbar-nav>li>a {padding: 10px 15px;}
.fl-page-nav-right.fl-page-header-fixed .fl-page-nav ul.sub-menu, .fl-page-header-fixed .fl-page-nav ul.sub-menu {background-color: #fff;}
.admin-bar .fl-page-nav-right.fl-page-header-fixed, .admin-bar .fl-page-header-fixed, .admin-bar .fl-page-header-vertical {top: 32px;}
@media (min-width:991px) {.fl-page-header-fixed .fl-page-fixed-nav-wrap {padding-right: 0;}}
.fl-page-nav-right .fl-page-header-container {padding-bottom: 0;}
.fl-page-nav-right .fl-page-header-logo {padding-bottom: 30px;}
.fl-page-nav-right .fl-page-nav-search {order: 1;position: relative;}
.fl-page-nav-right .fl-page-nav-search a.fa-search {padding: 13px 0 13px 15px;position: static;}
.fl-page-nav-right .fl-page-nav-collapse {display: inline-flex !important;align-items: center;justify-content: flex-end;}
@media (min-width:768px) {.fl-page-nav-right {text-align: center;}
	.fl-page-nav-right .fl-page-header-container {padding-left: 15px;padding-right: 15px;}
	.fl-page-nav-right .fl-page-header-logo {padding-left: 40px;padding-right: 40px;}
	.fl-page-nav-right .fl-page-nav-wrap {margin-left: -15px;margin-right: -15px;}
	.fl-page-nav-right .fl-page-nav ul.navbar-nav {float: none !important;}
	.fl-page-nav-right .fl-page-nav ul.navbar-nav:last-child {margin-right: 0;}
	.fl-page-nav-right .fl-page-nav ul.navbar-nav>li {display: inline-block;float: none;}
	.fl-page-nav-right .fl-page-nav ul.sub-menu {text-align: left;}}
@media (min-width:992px) {.fl-page-nav-right {text-align: right;}
	.fl-page-nav-right .fl-page-header-wrap {border-bottom: 1px solid rgba(0,0,0,.13);}
	.fl-page-nav-right .fl-page-header-container {padding-bottom: 30px;}
	.fl-page-nav-right .fl-page-header-row {display: table;table-layout: fixed;width: 100%;margin-left: 0;margin-right: 0;}
	.fl-page-nav-right .fl-page-header-row>div {display: table-cell;float: none;vertical-align: middle;}
	.fl-page-nav-right .fl-page-header-row .fl-page-header-logo-col {padding-left: 0;}
	.fl-page-nav-right .fl-page-header-row .fl-page-logo-wrap {padding-left: 0;}
	.fl-page-nav-right .fl-page-header-row .fl-page-nav-col {padding-right: 0;}
	.fl-page-nav-right.fl-page-nav-toggle-visible-always .fl-page-header-row {display: block;width: auto;}
	.fl-page-nav-right.fl-page-nav-toggle-visible-always .fl-page-header-row>div {display: block;width: 100%;}
	.fl-page-nav-right .fl-page-header-logo {padding: 0;text-align: left;}
	.fl-page-nav-right .fl-page-nav-wrap {border-color: #e6e6e6;background-color: #fff;color: #000;background: none;border: none;margin-left: 0;margin-right: 0;}
	.fl-page-nav-right .fl-page-nav-wrap *, .fl-page-nav-right .fl-page-nav-wrap h1, .fl-page-nav-right .fl-page-nav-wrap h2, .fl-page-nav-right .fl-page-nav-wrap h3, .fl-page-nav-right .fl-page-nav-wrap h4, .fl-page-nav-right .fl-page-nav-wrap h5, .fl-page-nav-right .fl-page-nav-wrap h6 {color: #000;}
	.fl-page-nav-right .fl-page-nav-wrap a, .fl-page-nav-right .fl-page-nav-wrap a *, .fl-page-nav-right .fl-page-nav-wrap a.fas, .fl-page-nav-right .fl-page-nav-wrap a.fab {color: #428bca;}
	.fl-page-nav-right .fl-page-nav-wrap a:hover, .fl-page-nav-right .fl-page-nav-wrap a:focus, .fl-page-nav-right .fl-page-nav-wrap a:hover *, .fl-page-nav-right .fl-page-nav-wrap a:focus *, .fl-page-nav-right .fl-page-nav-wrap a.fas:hover, .fl-page-nav-right .fl-page-nav-wrap a.fab:hover, .fl-page-nav-right .fl-page-nav-wrap a.fas:focus, .fl-page-nav-right .fl-page-nav-wrap a.fab:focus {color: #428bca;}
	.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li>a {color: #428bca;}
	.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li>a:hover, .fl-page-nav-right .fl-page-nav-wrap .navbar-nav li>a:focus {color: #428bca;}
	.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li.current-menu-ancestor>a, .fl-page-nav-right .fl-page-nav-wrap .navbar-nav li.current-menu-parent>a, .fl-page-nav-right .fl-page-nav-wrap .navbar-nav li.current-menu-item>a {color: #428bca;}
	.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li.current-menu-item~li.current-menu-item>a {color: #000;}
	.fl-page-nav-right .fl-page-nav {border: none;margin: 0;}
	.fl-page-nav-right .fl-page-nav ul.navbar-nav {float: right !important;}
	.fl-page-nav-right .fl-page-nav ul.navbar-nav>li {display: block;float: left;}
	.fl-fixed-width .fl-page-nav-right .fl-page-header-container {padding-left: 0;padding-right: 0;}}
@media (min-width:1100px) {.fl-page-nav-right.fl-page-nav-toggle-visible-always .fl-page-header-container, .fl-page-nav-right.fl-page-nav-toggle-visible-medium-mobile .fl-page-header-container, .fl-page-nav-right .fl-page-header-container {padding-left: 0;padding-right: 0;}}
.fl-page-footer-widgets {border-top: 1px solid #e6e6e6;border-color: #e6e6e6;background-color: #fff;color: #000;}
.fl-page-footer-widgets *, .fl-page-footer-widgets h1, .fl-page-footer-widgets h2, .fl-page-footer-widgets h3, .fl-page-footer-widgets h4, .fl-page-footer-widgets h5, .fl-page-footer-widgets h6 {color: #000;}
.fl-page-footer-widgets a, .fl-page-footer-widgets a *, .fl-page-footer-widgets a.fas, .fl-page-footer-widgets a.fab {color: #428bca;}
.fl-page-footer-widgets a:hover, .fl-page-footer-widgets a:focus, .fl-page-footer-widgets a:hover *, .fl-page-footer-widgets a:focus *, .fl-page-footer-widgets a.fas:hover, .fl-page-footer-widgets a.fab:hover, .fl-page-footer-widgets a.fas:focus, .fl-page-footer-widgets a.fab:focus {color: #428bca;}
.fl-page-footer-widgets .navbar-nav li>a {color: #428bca;}
.fl-page-footer-widgets .navbar-nav li>a:hover, .fl-page-footer-widgets .navbar-nav li>a:focus {color: #428bca;}
.fl-page-footer-widgets .navbar-nav li.current-menu-ancestor>a, .fl-page-footer-widgets .navbar-nav li.current-menu-parent>a, .fl-page-footer-widgets .navbar-nav li.current-menu-item>a {color: #428bca;}
.fl-page-footer-widgets .navbar-nav li.current-menu-item~li.current-menu-item>a {color: #000;}
.fl-page-footer-widgets-container {padding-top: 30px;}
@media (min-width:992px) {.fl-page-footer-widgets {display: block;}}
body.has-blocks .fl-post-content>.alignwide {max-width: 1100px;}
body.has-blocks .fl-post-content>.alignfull {margin: 1.5em 0;max-width: 100%;}
body.has-blocks .fl-post-content ul, body.has-blocks .fl-post-content ol {margin: 1.5em auto;max-width: 740px;list-style-position: outside;}
body.has-blocks .fl-post-content li {list-style-position: outside;}
.wp-block-video video {max-width: 740px;}
.wp-block-embed.type-video>.wp-block-embed__wrapper {position: relative;width: 100%;height: 0;padding-top: 56.25%;}
.wp-block-embed.type-video>.wp-block-embed__wrapper>iframe {position: absolute;width: 100%;height: 100%;top: 0;left: 0;bottom: 0;right: 0;}
.wp-block-gallery:not(.components-placeholder) {margin: 1.5em auto;}
.wp-block-cover-text p {padding: 1.5em 20px;}
@media screen and (min-width:768px) {.wp-block-cover-text p {padding: 1.5em 0;}}
ul.wp-block-latest-posts.alignwide, ul.wp-block-latest-posts.alignfull, ul.wp-block-latest-posts.is-grid.alignwide, ul.wp-block-latest-posts.is-grid.alignwide {padding: 0 20px;}
.wp-block-table {display: block;overflow-x: auto;}
.wp-block-table table {border-collapse: collapse;width: 100%;}
.wp-block-table td, .wp-block-table th {padding: .5em;}
@media (max-width:991px) {body {font-size: 14px;line-height: 1.45;}
	h1 {font-size: 36px;line-height: 1.4;letter-spacing: 0px;}
	h2 {font-size: 30px;line-height: 1.4;letter-spacing: 0px;}
	h3 {font-size: 24px;line-height: 1.4;letter-spacing: 0px;}
	h4 {font-size: 18px;line-height: 1.4;letter-spacing: 0px;}
	h5 {font-size: 14px;line-height: 1.4;letter-spacing: 0px;}
	h6 {font-size: 12px;line-height: 1.4;letter-spacing: 0px;}}
@media (max-width:767px) {body {font-size: 14px;line-height: 1.45;}
	h1 {font-size: 36px;line-height: 1.4;letter-spacing: 0px;}
	h2 {font-size: 30px;line-height: 1.4;letter-spacing: 0px;}
	h3 {font-size: 24px;line-height: 1.4;letter-spacing: 0px;}
	h3 {font-size: 24px;line-height: 1.4;letter-spacing: 0px;}
	h4 {font-size: 18px;line-height: 1.4;letter-spacing: 0px;}
	h5 {font-size: 14px;line-height: 1.4;letter-spacing: 0px;}
	h6 {font-size: 12px;line-height: 1.4;letter-spacing: 0px;}}