<div class="container">
  <div class="row " >
      <mat-card class="example-full-width mat-elevation-z10">
          <mat-card-title class="text-center">Gestionar nuevo Código de Barras
            <span class="tky-right example-margin" >... </span>
          </mat-card-title>
        </mat-card>
  </div>
  <br>
  <div class="example-full-width row">
    <form novalidate [formGroup]="form" class="example-full-width" >
        <mat-card class="example-full-width mat-elevation-z10">
        <div class="center-block">
            <mat-card-title>
                <mat-form-field class="example-full-width text-center" >
                    <mat-icon matPrefix>view_week</mat-icon>
                    <input class="text-center" matInput #code maxlength="56" placeholder="Código de Barras"  formControlName="code">
                    <mat-hint align="end">{{code.value.length}} / 56</mat-hint>
                    <mat-error *ngIf="form.controls.code.errors && form.controls.code.touched">
                        <mat-error *ngIf="form.controls.code.errors.required">
                            El Código es <strong>requerido</strong>
                        </mat-error>
                    </mat-error>
                </mat-form-field>
            </mat-card-title>
        </div>
        </mat-card>
    </form>

  </div>
  <br>
  <div class="row">
    <div class="example-full-width">
        <h2 class="title text-center">Descripción del Código de Barras</h2>

    </div>

  </div>
  <div class="example-full-width row">
    <div class=" example-full-width col col-4">

        <mat-card class="example-full-width ">
            <h3 class="text-center"> <b>Productos</b> </h3>
            <mat-selection-list #myProduct dense>
                <mat-list-option *ngFor="let product of productList; let i = index" (click)="addID(i,product.id_product,1)" >
                 {{product.name_product}}
                </mat-list-option>
              </mat-selection-list>
              <p>
                  Options selected: {{myProduct.selectedOptions.selected.length}}
              </p>
        </mat-card>
    </div>
    <div class=" example-full-width col col-4">

        <mat-card class="example-full-width ">
            <h3 class="text-center"><b>Unidad de Medida</b></h3>
            <mat-selection-list #myMeasureUnit dense>
                <mat-list-option *ngFor="let measureUnit of measureUnitList" (click)="addID(-1,measureUnit.id_measure_unit,2)" >
                 {{measureUnit.name_measure_unit}}
                </mat-list-option>
              </mat-selection-list>
              <p>
                  Options selected: {{myMeasureUnit.selectedOptions.selected.length}}
              </p>

        </mat-card>
    </div>
    <div class=" example-full-width col col-4">
        <mat-card class="example-full-width ">
            <h3 class="text-center"><b>Atributos</b></h3>
            <mat-selection-list #myAttributeList dense>
                <mat-list-option *ngFor="let attributeList of attributeLists" (click)="addID(-1,attributeList.id_attribute_list,3)" >
                 {{attributeList.id_attribute_list}}
                </mat-list-option>
              </mat-selection-list>
              <p>
                  Options selected: {{myAttributeList.selectedOptions.selected.length}}
              </p>
        </mat-card>
    </div>
  </div>

  <div class="row">
    <span class="fill-space"></span>
    <button mat-raised-button (click)="save()" [disabled]="!form.valid">GUARDAR</button>
  </div>

</div>

