<div style="margin-top:-10vh"> 
    <span *ngIf="tipoFactura=='compra'">
      
      <!-- <div class="row">
        <div class="col-12">
          <div class="card card-nav-tabs">
            <div class="card-header card-header-danger" style ="background: linear-gradient(60deg, #ef5350, #e53935)">
              <h4 class="title">Selecciona el tercero para la factura</h4>
              <p class="title">Si es un usuario ocasional no necesitas editar nada.</p>
            </div> 
            <div class="card-body">
              <div class="row">
                <div class="col">
                  
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card card-nav-tabs">
            <div class="card-header card-header-danger">
              <h3 class="title">Vendedor</h3>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h4>
                    <b>Nombre:</b> {{vendedor.fullname}}
                  </h4>
                  <h4>
                    <b>Cargo:</b> {{vendedor.cargo}}
                  </h4>
                  <h4>
                    <b>Caja N°:</b> 1
                  </h4>
                </div>
              </div>
            </div>
          </div>
        </div> 
      </div> -->

      <mat-card style="padding-top: 100px">
      <mat-card-content>
        <div class="row" >
          <div class="col">
                   <div class="row" *ngIf="tab == 0">
                      <div class="col">
                          <div class="row">
                            <div class="col-2">
                                <mat-form-field>
                                    <input (ngModelChange)="listLoad()" [(ngModel)]="inputForCode" matInput class="text-center" type="text" placeholder="Código de producto" #nameit (keyup.enter)="addDetail($event)">
                                </mat-form-field>
                            </div>
                            
                            <!-- <div class="col">
                              <mat-form-field>
                                <input matInput placeholder="N° de pedido" formControlName="number_order">
                                <mat-error *ngIf="form.controls.number_order.errors && form.controls.number_order.touched">
                                  <mat-error *ngIf="form.controls.number_order.errors.required">
                                    El Numero de Pedido es
                                    <strong>requerido</strong>
                                  </mat-error>
                                  <mat-error *ngIf="form.controls.number_order.errors.pattern">
                                    El Numero de Pedido tiene formato
                                    <strong> No valido</strong>
                                  </mat-error>
                                </mat-error>
                              </mat-form-field> 
                            </div> -->
                            <div class="col-5 text-align:right;">
                              <button mat-stroked-button color="primary" type="button" (click)="openCategories2()">Busqueda de Productos</button>
                              <button mat-stroked-button color="primary" type="button" (click)="openDialogTransactionConfirm()" [disabled]="!setObject.length">Actualizar Inventario</button>
                              <button mat-stroked-button color="warn" type="button" (click)="cancel()">Cancelar</button>
                            </div>
                          </div>
                      </div>
                      <div class="row" >
                      <div class="col-6" >
                        <div class="row" style="max-height: 180px; overflow-y: scroll; margin-top: -15px;text-align: center;" *ngIf="listElem!=''" >
                          <div class="row" style="width: 80%;margin-top:0px;text-align: center;" *ngFor="let item of listaElem">
                            <div class="col" style="text-align: center;" *ngIf="!disableDoubleClickSearch" (click)="addDetail2(item.ownbarcode)">
                              {{item.product_STORE_NAME}} - {{item.ownbarcode}} - {{item.product_STORE_CODE}} 
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                      
                      
                      <div class="row" style="text-align:center;width: 100%">
                          <div class="col">
                                <h5 class="left-scroll">
                                  Precio Venta  
                                </h5>
                                <h3 class="left-scroll">
                                  <mat-form-field style="width:15vw"> 
                                    <input currencyMask [options]="{ precision: 1 }" [(ngModel)]="precio" matInput class="text-center" type="number" type="text">
                                  </mat-form-field>
                                </h3>
                              </div>
                              <div class="col">
                                <h5 class="left-scroll">
                                  Costo  
                                </h5>
                                <h3 class="left-scroll">
                                  <mat-form-field style="width:15vw"> 
                                    <input currencyMask [options]="{ precision: 1 }" [(ngModel)]="costo" matInput class="text-center" type="number" type="text">
                                  </mat-form-field>
                                </h3>
                              </div>
                          <div class="col">
                              <h5 class="left-scroll">
                                  Cantidad  
                              </h5>
                              <h3 class="left-scroll">
                                <mat-form-field style="width:15vw"> 
                                  <input  [(ngModel)]="cantidad" matInput class="text-center" type="number" type="text">
                                </mat-form-field>
                              </h3>
                          </div>
                        </div>
                    </div>
                <!-- <div class="row">
                  <div class="col" *ngIf="tab == 0">
                      <div class="float-left">
                        <button mat-stroked-button color="primary" type="submit" (click)="openDialogSearchProduct()">Busqueda</button>
                      </div>
                      <div class="float-right">
                        <button mat-stroked-button color="primary" type="submit" (click)="openDialogClient()">Registrar Cliente</button>
                        <button mat-stroked-button color="primary" type="submit" (click)="openDialogSearchClient()">Cargar Cliente</button>
                      </div> 
                  </div>
      
                </div> --> 
                
    
    
    
    
    
                        <div class="table-responsive">
                            <div class="text-center" *ngIf="setObject.length==0" style="margin-top: 20px">
                              <i class="material-icons">
                                <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                              </i>
                              <h4>
                                Productos
                              </h4>
                            </div>
                          <br>
                        <br>
                        <table class="table table-hover" style="text-align: center" *ngIf="setObject.length>0">
                          <thead>
                            <tr>
                              <th class="text-center">Código</th>
                              <th class="text-center">Producto</th>
                              <th class="text-center"> </th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let key of setObject; let idx= index; let last= last;">
                              <td class="text-center">{{productsObject[key].code}}</td>
                              <td>{{productsObject[key].description}}</td>
                              <td class="text-center">
                                <div>
                                  <button mat-icon-button color="warn" (click)="individualDelete(key)">
                                    <mat-icon aria-label="Example icon-button with a heart icon">clear</mat-icon>
                                  </button>
                                </div>
                              </td>
                            </tr> 
                          </tbody>
                        </table>
                        </div>
      <!-- 
                    <mat-tab label="Busqueda de Productos"> 
    
    
                      
                        <div class="row">
                            <div class="col-4">
                                <mat-form-field>
                                  <input matInput placeholder="Nombre" [matMenuTriggerFor]="menu2" [(ngModel)]="searchInput" (change)="searchFilter(1)">
                                </mat-form-field>
                                <mat-menu #menu2="matMenu">
                                  <button mat-menu-item *ngFor="let data of searchData">
                                    {{data.product.code}}
                                  </button>
                                </mat-menu>
                            </div>
                            <div class="col-4">
                              <mat-form-field>
                                <input matInput placeholder="Codigo">
                              </mat-form-field>
                            </div>
                            <div class="col-4">
                              <mat-form-field>
                                <input matInput placeholder="Descripcion">
                              </mat-form-field>
                            </div>
                          </div>
                  
                        <div class="float-right">
                          <button mat-dialog-close class="btn btn-secundary">Cancelar</button>
                          <button class="btn btn-primary">Buscar</button>
                        </div>
    
    
    
                    </mat-tab> -->
    
    
    
    
    
    
          
            <!-- <div class="row">
              <div class="col-12">
                
              </div>
              <div class="col-12">
                
              </div>
            </div> -->
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    </span>
    
    
    
    
    
    
    
    
    