<div style="margin-top:-10vh">
  <!-- <button mat-stroked-button color="warn" type="button" (click)="openDialogClient(0)">Empresa</button>
  <button mat-stroked-button color="warn" type="button" (click)="openDialogClient(1)">Persona</button>
  <button mat-stroked-button color="warn" type="button" (click)="openReportes()">Reportes</button> -->
  <!--
  <button mat-stroked-button color="warn" type="button" (click)="openInventories()">Inventario</button>
  <button mat-stroked-button color="warn" type="button" (click)="openStores()">Administrar Tiendas</button>
  <button mat-stroked-button color="warn" type="button" (click)="openUpdateLegalData()">Actualizar Mis Datos Legales</button> -->

  
  
  
  
  
  
  <span *ngIf="tipoFactura=='devolucion'">
  
      <mat-card style="height: 100%;width:100%;padding:0px">
          <mat-card-header style="background-color:rgb(5, 53, 107);margin:0px;padding:20px"> 
        
              <mat-card-title style="font-family: Roboto;font-size: 1.3em; font-weight: 700; margin-bottom:15px; color:white">Generar devolucion de mercancia</mat-card-title>
              <mat-card-subtitle style="font-size: 0.8em;font-weight: 300;text-emphasis: left; color:white;margin-bottom:0px">Llene los datos a continuacion presentados para generar la anulacion de factura por devolución.</mat-card-subtitle>
          </mat-card-header>
          </mat-card>
  
   
  
        <mat-card>
          <mat-card-content>
            <div class="row" *ngIf="this.locStorage.getRol()[0].id_rol==7777">
              <mat-form-field>
                <mat-label>Seleccione tienda</mat-label>
                <mat-select [(ngModel)]="SelectedStore" (change)="getBoxes()">
                  <mat-option *ngFor="let elem of Stores" [value]="elem.id_STORE">
                    {{elem.store_NAME}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
        
                
              <mat-form-field *ngIf="!storesEmpty">
                <mat-label>Seleccione Caja</mat-label>
                <mat-select [(ngModel)]="SelectedBox">
                  <mat-option *ngFor="let elem of Boxes" [value]="elem.id_CIERRE_CAJA">
                    {{elem.caja}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
        
        
              <button mat-stroked-button color="primary" type="button" (click)="getData()">Cargar Caja</button>
        
              </div>
              <div class="row" *ngIf="tab == 0">
                  <div class="col">
                      <div class="row">
                      <div class="col-12">
                        <mat-form-field>
                          <input matInput [(ngModel)]="consecutive" class="text-center" type="text" placeholder="Consecutivo de factura" #nameit (keyup.enter)="getBillData($event)" [disabled]=" !locStorage.getBoxStatus()">
                        </mat-form-field>                        
                      </div>
                      
                        <!-- <div class="col">
                          <mat-form-field>
                            <input matInput placeholder="N° de pedido" formControlName="number_order">
                            <mat-error *ngIf="form.controls.number_order.errors && form.controls.number_order.touched">
                              <mat-error *ngIf="form.controls.number_order.errors.required">
                                El Numero de Pedido es
                                <strong>requerido</strong>
                              </mat-error>
                              <mat-error *ngIf="form.controls.number_order.errors.pattern">
                                El Numero de Pedido tiene formato
                                <strong> No valido</strong>
                              </mat-error>
                            </mat-error>
                          </mat-form-field>
                        </div> -->
                  </div>
                  <div class="row" style="width:100%;">
                    <div class="col">
                            <h5 class="left-scroll" style="font-size:1em; font-weight: 700">
                                Fecha de Factura  
                            </h5>
                            <h3 class="left-scroll" style="font-size:1em">
                                {{FechaDevolucion}}
                            </h3>
                        </div>
                        <div class="col">
                            <h5 class="left-scroll" style="font-size:1em; font-weight: 700">
                                Notas de la factura 
                            </h5>
                            <h3 class="left-scroll" style="font-size:1em">
                                {{NotasDevolucion}}
                            </h3>
                        </div>
                    <div class="col">
                        <h5 class="left-scroll" style="font-size:1em; font-weight: 700">
                            Total de la compra 
                        </h5>
                        <h2 class="left-scroll" style="font-size:1em"> 
                          <b> {{TotalDevolucion | currency}} </b>
                        </h2>
                    </div>
                  </div>
                </div>
              </div>
              <div class="float-right" style="margin-top:10px">
                <button disabled={{botonDevolucionActive}} mat-stroked-button color="primary" type="button" (click)="anularFacturaPorDevolucion()">Anular Factura por devolucion</button>
              </div>
              <br><br>
            </mat-card-content>
        </mat-card>
  
  
  </span>
  </div>