.avatar-img{
    background-image: url('http://www.lindt.fr/fileadmin/Global_content_all_access/new_store_locator/lindt_yvr-01423.jpg');
    background-size: cover;
}

/* ::ng-deep .parametersPanel .mat-expansion-panel-body {
    padding: 0;
} */
.mat-expansion-panel-content > .mat-expansion-panel-body {
    padding: 0 !important;
}