@font-face {
    font-family: 'thefont';
    src: url('../../assets/img/Fuente/d-din/D-DINExp-Bold.otf');
    font-style: normal;
}

@font-face {
    font-family: 'thefont2';
    src: url('../../assets/img/Fuente/d-din/D-DIN-Bold.otf');
    font-style: normal;
}

.item {
    background-image: url("../../assets/img/Background/Imagen-de-fondo-inferior.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 100%;
    padding: 0px;
    margin: 0px;
} 



    .st0
    {
      background : -moz-linear-gradient(0% 50% 0deg,rgba(91, 40, 14, 1) 0%,rgba(168, 68, 0, 1) 50%,rgba(91, 40, 14, 1) 100%);
      background : -webkit-linear-gradient(0deg, rgba(91, 40, 14, 1) 0%, rgba(168, 68, 0, 1) 50%, rgba(91, 40, 14, 1) 100%);
      background : -webkit-gradient(linear,0% 50% ,100% 50% ,color-stop(0,rgba(91, 40, 14, 1) ),color-stop(0.5,rgba(168, 68, 0, 1) ),color-stop(1,rgba(91, 40, 14, 1) ));
      background : -o-linear-gradient(0deg, rgba(91, 40, 14, 1) 0%, rgba(168, 68, 0, 1) 50%, rgba(91, 40, 14, 1) 100%);
      background : -ms-linear-gradient(0deg, rgba(91, 40, 14, 1) 0%, rgba(168, 68, 0, 1) 50%, rgba(91, 40, 14, 1) 100%);
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#5B280E', endColorstr='#5B280E' ,GradientType=0)";
      background : linear-gradient(90deg, rgba(91, 40, 14, 1) 0%, rgba(168, 68, 0, 1) 50%, rgba(91, 40, 14, 1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5B280E',endColorstr='#5B280E' , GradientType=1);
    }
 

.layer {
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.form__field {
  font-family: 'thefont';
  width: 100%;
  border: 0;
  border-bottom: 2px solid white;
  outline: 0;
  font-size: 1.3rem;
  color: white;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
  position: relative
}

