<div class="item" style="background-color: rgb(0,0,0,0.5);">
    <div class="layer">
        <div style="margin-left:6%;margin-right:6%;text-align: justify;">
            <p style="padding-top:5%;">
                <span style="font-size: 55px;font-family: 'thefont';color:white">
                    Sigamos en contacto
                </span>
            </p>
        </div>
        <div style="margin-left:7%;margin-right:6%;text-align: justify;">
            <div class="row" style="margin-top: 5%;margin-bottom: 2.5%;">
                <div class="col-25" style="font-family: 'thefont2';font-size: 40px;color: white;margin-right: 2%;">
                    <label for="fname">Nombre y Apellido: </label>
                </div>
                <div class="col-75">
                    <input type="text" id="fname" name="firstname" placeholder="" class="form__field">
                </div>
            </div>
            <div class="row" style="margin-bottom: 2.5%;">
                <div class="col-25" style="font-family: 'thefont2';font-size: 40px;color: white;margin-right: 2%;">
                    <label for="lname">Teléfono: </label>
                </div>
                <div class="col-75">
                    <input type="text" id="lname" name="lastname" placeholder="" class="form__field">
                </div>
            </div>
            <div class="row" style="padding-bottom: 6%;">
                <div class="col-25" style="font-family: 'thefont2';font-size: 40px;color: white;margin-right: 2%;">
                <label for="country">E-Mail: </label>
                </div>
                <div class="col-75">
                    <input type="text" id="lname" name="lastname" placeholder="" class="form__field">
                </div>
            </div>
        </div>
        <div style="background-color: orange;text-align: center;" (click)="function()">
            <div class="st0">
                <span style="font-size: 35px;font-family: 'thefont';color:white">
                    Enviar
                </span>
            </div>
        </div>
        <br> 
        <br> 
        <br> 
        <br> 
        <br> 
        <br> 
    </div>
</div>