<div class="wrapper fadeInDown">
  <div id="formContent">
        <!-- Icon -->
        <div class="fadeIn first">
            <!-- <img src="../../assets/img/apple-icon.png" id="icon" alt="User Icon" /> -->
            <h1 style="color: rgb(112, 112, 112)">AutoNet</h1>
          </div>

    <form novalidate [formGroup]="form" >
      <div class="input-container">
        <input type="#{type}" id="#{label}" required="required" formControlName="usuario" class="menus" placeholder="Usuario"/>
        <div class="bar"></div>
        <div *ngIf="form.controls.usuario.errors && form.controls.usuario.touched">
            <div *ngIf="form.controls.usuario.errors.required" class="alert alert-danger">
                El Campo es requerido!
            </div>
            <div *ngIf="form.controls.usuario.errors.minlength" class="alert alert-danger">
                El Campo debe ser mayor a 3 caracteres!
            </div>
            <div *ngIf="form.controls.usuario.errors.maxlength" class="alert alert-danger">
                El Campo debe ser menor a 50 caracteres!
            </div>
            <div *ngIf="form.controls.usuario.errors.pattern" class="alert alert-danger">
                El Campo debe iniciar con almenos una letra
            </div>
        </div>
      </div>
      <div class="input-container">
        <input type="password" id="#{label}" required="required" formControlName="clave" placeholder="Contraseña"/>
        <div class="bar"></div>
        <div *ngIf="form.controls.clave.errors && form.controls.clave.touched">
            <div *ngIf="form.controls.clave.errors.required" class="alert alert-danger">
                El Campo es requerido!
            </div>
            <div *ngIf="form.controls.clave.errors.minlength" class="alert alert-danger">
                El Campo debe ser mayor a 3 caracteres!
            </div>
            <div *ngIf="form.controls.clave.errors.maxlength" class="alert alert-danger">
                El Campo debe ser menor a 100 caracteres!
            </div>
            <div *ngIf="form.controls.clave.errors.pattern" class="alert alert-danger">
                El Campo debe iniciar con almenos una letra
            </div>
        </div>
      </div>
      <div class="button-container">
        <button type="submit" (click)="login()" class="fadeIn fourth" [disabled]="!form.valid" style = "color: white; background-color: red"><span>Iniciar Sesion</span></button>
      </div>
      <div id="formFooter">
          Comienza a vender!
      </div>
    </form>
  </div>

</div>
