.cdk-global-overlay-wrapper, .cdk-overlay-container {
    z-index: 99999 !important;
 }





.mat-dialog-container {
    background: transparent;
    box-shadow: none;
}



/*modal publicacion nueva*/
.pn_modal_contenido2{
    background-color:#fff;
    color: #333333;
    border: 0.5px solid #fff;
    box-sizing: border-box;
    width: 30%;
    min-width: 450px;
    padding: 10px 50px;
    margin: 12% auto;
    position: relative;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  
  }

  @media only screen and (max-width:767px) {

  .pn_modal_contenido2 {
    min-width: 260px;
    padding: 10px 0px;
    }
  }

.modal_titulo{
    font-size: 4.5vh;
    line-height: 4.5vh;
    font-weight: 600;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 1%;
}
  

.modal_texto{
    margin-top: 5%;
    margin-bottom: 10%;
    font-size: 2vh;
    line-height: 2.5vh;
    text-align: center;
}

.modal_contenedor_boton{
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    text-align: center;
  }

.pn_modal_boton{
    font-weight: 700;
    font-size: 2vh;
    text-transform: uppercase;
    color: #fff;
    background-color: #333333;
    padding: 4% 7%;
    border-radius: 500px;
    border: 0.5px solid #fff;
  }

.pn_modal_boton:hover{
    color: #333333;
    background-color: #fff;
    border: 0.5px solid #333333;
    text-decoration: none !important;
  }

 


  .dialog-responsive {
    width: 40%;
}

@media only screen and (max-width: 760px) {
    .dialog-responsive {
        width: 100%;
    }
}