/* You can add global styles to this file, and also import other style files */
// regular style toast
@import '~ngx-toastr/toastr';

// if you'd like to use it without importing all of bootstrap it requires
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
//@import '~ngx-toastr/toastr-bs4-alert';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
//*:not(.DAGF):not(mat-icon):not(.ae-picker-item):not(.igx-icon) {
//  font-family: Montserrat,sans-serif;
//}

.ScrollBar::-webkit-scrollbar
{
  width: 8px;
  height: 8px;
  background-color: #e4e4e3;
}

.ScrollBar::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #cacaca;
}

.custom-mat-dialog-container{
  mat-dialog-container{
    display: block;
    padding: 0;
    border-radius: 10px;
    box-sizing: border-box;
    outline: 0;
    width: 25vw;
    height: 25vh;
    min-height: inherit;
    max-height: inherit;
    overflow: hidden;
  }
}

.custom-mat-dialog-container-large{
  max-width: 90vw !important;
  mat-dialog-container{
    display: block;
    padding: 0;
    border-radius: 10px;
    box-sizing: border-box;
    outline: 0;
    width: 100%;
    height: 100%;
    min-height: inherit;
    max-height: inherit;
    overflow: hidden;
  }
}
.custom-mat-dialog-container-large{
  mat-dialog-container{
    display: block;
    padding: 0;
    border-radius: 10px;
    box-sizing: border-box;
    outline: 0;
    width: 100%;
    height: 100%;
    min-height: inherit;
    max-height: inherit;
    overflow: hidden;
  }
}

.custom-mat-dialog-container-large_full_page{
  mat-dialog-container{
    display: block;
    padding: 0;
    border-radius: 0 !important;
    box-sizing: border-box;
    outline: 0;
    width: 100%;
    height: 100%;
    min-height: inherit;
    max-height: inherit;
    overflow: hidden;
  }
}


/* Styles for the ink bar */
.mat-ink-bar {
  background-color: #83BFE3 !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.ldBar path.baseline {
  stroke-width: 25;
}
