<div style="padding: 0 !important;margin: 0 !important;width: 100%;max-height: 100vh;">
  <!--  EL HEADER DE PEDIDOS-->
  <div style="">
    <mat-card style="height: 100%;width:100%;padding:0">
      <mat-card-header style="background-color:rgb(5, 53, 107);margin:0;padding:20px">
        <mat-card-title style="font-size: 1.3em; font-weight: 700; margin-bottom:15px; color:white">Pedidos</mat-card-title>
        <mat-card-subtitle  style="color:white"> Utilize el selector de la derecha para las operaciones en esta sección </mat-card-subtitle>

        <!--          SELECCIONAR TIENDA-->
        <div style="width: 20%;margin: auto 0 auto auto;background-color: white;border-radius: 30px;display: flex;height: 40%;">
          <mat-form-field color="warn" style="margin: auto;width: 80%;height: 7vh;">
              <mat-select  [(ngModel)]="SelectedStore">
                <mat-option *ngFor="let elem of Stores" [value]="elem.id_STORE">
                  {{elem.store_NAME}}
                </mat-option>
              </mat-select>
          </mat-form-field>
        </div>
      </mat-card-header>
    </mat-card>
    <!--    EL GRUPO DE PESTAÑAS-->
    <!--    <mat-tab-group [dynamicHeight]='true'>-->
    <mat-tab-group style="background-color: white">
      <!--      PESTAÑA DE VER MIS PEDIDOS-->
      <mat-tab label="Ver mis pedidos">
        <!--            CONTENIDO DE LA PESTAÑA-->
        <div style="padding: 10px;height: calc(100vh - 137px - 2px);">
          <!--            CONTENEDOR DE OPCIONES-->
          <div style="box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 3px 14px 2px rgba(0, 0, 0, 0.12);display: flex;padding-top: 5px;height: 9%;">
            <!--          SELECCIONAR TIPO-->
            <mat-form-field style="width: 16%;margin: auto;">
              <mat-label>Selec. tipo factura</mat-label>
              <mat-select [(ngModel)]="SelectedBillType" (selectionChange)="cleanList2()">
                <mat-option value="86">Pedidos Proveedor</mat-option>
                <mat-option value="87">Pedidos Cliente</mat-option>
                <mat-option value="88">Remision</mat-option>
                <mat-option value="89">Pedidos Faltantes Bodega</mat-option>
                <mat-option value="90">Pedidos Faltantes Cliente</mat-option>
              </mat-select>
            </mat-form-field>
            <!--          SELECCIONAR ESTADO-->
            <mat-form-field style="width: 15%;margin: auto;">
              <mat-label>Selec. Estado de Factura</mat-label>
              <mat-select [(ngModel)]="SelectedBillState" (selectionChange)="cleanList()" *ngIf="SelectedBillType=='1' || SelectedBillType=='2' || SelectedBillType=='3' || SelectedBillType=='4'">
                <mat-option value="1">Factura Creada</mat-option>
                <mat-option value="41">Anulada por devolucion</mat-option>
                <mat-option value="42">Pendiente de pago</mat-option>
                <mat-option value="43">Anulada</mat-option>
              </mat-select>
              <mat-select [(ngModel)]="SelectedBillState" (selectionChange)="cleanList()" *ngIf="SelectedBillType=='86'">
                <mat-option value="62">Solicitud Recibida</mat-option>
                <mat-option value="82">Pedidos Pendientes por Aceptar</mat-option>
                <mat-option value="63">Pedido Despachado</mat-option>
              </mat-select>
              <mat-select [(ngModel)]="SelectedBillState" (selectionChange)="cleanList()" *ngIf="SelectedBillType=='87'">
                <mat-option value="61">Solicitud Enviada</mat-option>
                <mat-option value="81">Pedidos Pendientes por Recibir</mat-option>
                <mat-option value="64">Pedido Recibido</mat-option>
              </mat-select>
              <mat-select [(ngModel)]="SelectedBillState" (selectionChange)="cleanList()" *ngIf="SelectedBillType=='88'">
                <mat-option value="1">Factura Creada</mat-option>
              </mat-select>
              <mat-select [(ngModel)]="SelectedBillState" (selectionChange)="cleanList()" *ngIf="SelectedBillType=='89'">
                <mat-option value="65">Pedido Faltante Proveedor - Pendiente</mat-option>
                <mat-option value="66">Pedido Faltante Proveedor - Entregado</mat-option>
              </mat-select>
              <mat-select [(ngModel)]="SelectedBillState" (selectionChange)="cleanList()" *ngIf="SelectedBillType=='90'">
                <mat-option value="67">Pedido Faltante Cliente - Pendiente</mat-option>
                <mat-option value="68">Pedido Faltante Cliente - Entregado</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field style="width: 10%;margin: auto;">
              <input matInput [matDatepicker]="picker" placeholder="Inicio" [(ngModel)]="date1" (dateChange)="SelectorFechaFinal_Facturacion.open()">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker disabled="false"></mat-datepicker>
            </mat-form-field>
            <mat-form-field style="width: 10%;margin: auto;">
              <input matInput [matDatepicker]="picker2" placeholder="Fin" [(ngModel)]="date2">
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2 disabled="false"></mat-datepicker>
            </mat-form-field>
            <!--          BOTON CONSULTAR-->
            <button style="width: 9%;margin: auto;" mat-stroked-button color="primary" type="button" (click)="getRepProdList()">Consultar</button>
            <!--          BOTON ENVIAR VARIOS PEDIDOS-->
            <button style="width: 10%;margin: auto;" mat-stroked-button color="primary" type="button" (click)="NewSendItems()" *ngIf="this.SelectedBillType == '86' && this.SelectedBillState == '62'" [disabled]="GetKeysSeleccionados().length == 0">Enviar Pedidos</button>
            <!--          BOTON PICKING-->
            <button style="width: 10%;margin: auto" mat-stroked-button color="primary" type="button" (click)="getPicking()" *ngIf="SelectedBillType == '86' && SelectedBillState == '82'" [disabled]="GetKeysSeleccionados().length == 0">Generar Picking</button>
          </div>
<!--          SEGUNDA FILA EN CASO DE PEDIDOS PROVEEDOR-->
          <div style="box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 3px 14px 2px rgba(0, 0, 0, 0.12);display: flex;height: 9%;margin-top: 0.9%;" *ngIf="(this.SelectedBillType == '86' && this.SelectedBillState == '62')">
<!--            SELECCIONAR PLANILLA-->
            <mat-form-field style="width: 30%;margin: auto;" *ngIf="(this.SelectedBillType == '86' && this.SelectedBillState == '62')">
              <mat-label>Seleccione Planilla</mat-label>
              <mat-select [(ngModel)]="selectedPlanilla">
                <mat-option *ngFor="let item of planillasSelector" [value]="item.id_PLANILLA">{{item.num_PLANILLA}} - {{item.placa}} - {{item.conductor}}</mat-option>
              </mat-select>
            </mat-form-field>
            <!--          BOTON CREAR PLANILLAS NUEVAS-->
            <button style="width: 20%;margin: auto;" mat-stroked-button color="primary" type="button" (click)="openPostPlanilla()" *ngIf="(this.SelectedBillType == '86' && this.SelectedBillState == '62')">Crear Planilla</button>
          </div>
          <div class="ScrollBar" style="overflow: auto;box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 3px 14px 2px rgba(0, 0, 0, 0.12);margin-top: 0.9%;" [style.height] = "(this.SelectedBillType == '86' && this.SelectedBillState == '62') ? '80%':'89.8%'">
            <div [hidden]="isListProdFull" style="height: 100%;">
              <div style="display: flex;height: 50%;width: 100%; margin: auto;">
                <mat-icon style="margin: auto;font-size: 90px;text-align: center;width: 100%;color: gray;margin-bottom: 5%;">search</mat-icon>
              </div>
              <div style="display: flex;height: 50%;width: 100%; margin: auto;">
                <mat-label style="font-size: 30px;margin: auto;color: gray;margin-top: 1%;">Acá aparecerá su consulta</mat-label>
              </div>
            </div>
            <div [hidden]="!isListProdFull" style="max-height: 75vh;overflow: visible;">
              <div>
                <mat-form-field style="margin-left: 20px">
                  <!--suppress TypeScriptUnresolvedVariable -->
                  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscador">
                </mat-form-field>
                <mat-label style="color: gray; font-size: 13px;  text-align: center; margin-left: 20px;">De click sobre un pedido para ver más opciones</mat-label>
              </div>
              <!--            MAT_TABLE-->
              <table mat-table multiTemplateDataRows [dataSource]="dataSource" matSort class="mat-elevation-z8" style="width: 100%">
                <!--              CREO LAS COLUMNAS DINAMICAMENTE-->
                <ng-container *ngFor="let col of GetKeys()" matColumnDef="{{col}}">
                  <!--                CASO ESPECIFICO PARA EL CHECKBOX-->
                  <div *ngIf="col == 'select'">
                    <th mat-header-cell *matHeaderCellDef style="width: 1vw">
                      <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? masterToggle() : null" [checked]="GetKeysSeleccionados().length > 0 && isAllSelected()" [indeterminate]="GetKeysSeleccionados().length > 0 && !isAllSelected()" [aria-label]="checkboxLabel()">
                      </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let row" style="width: 1vw">
                      <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? CustomSelect(row) : null" [checked]="DictSelection[row.id_BILL] != null" [aria-label]="checkboxLabel(row)">
                      </mat-checkbox>
                    </td>
                  </div>
                  <!--                RESTO DE LOS CASOS-->
                  <div *ngIf="col != 'select'">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header [style.width]=AnchosColumnas[col] [style.max-width]=AnchosColumnas[col] style="padding: 0 !important;text-align: center !important;">{{DiccionarioColumnas[col]}}</th>
                    <td mat-cell *matCellDef="let element" [style.width]=AnchosColumnas[col] [style.max-width]=AnchosColumnas[col] style="word-break: break-word;padding: 0 !important;color: inherit" [style.text-align]="col == 'fecha' ? 'center':'center'">
                      {{element[col]}}
                    </td>
                  </div>
                </ng-container>

                <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
                <ng-container matColumnDef="expandedDetail">
                  <td mat-cell *matCellDef="let element" [attr.colspan]="GetKeys().length">
                    <div style="background-color: #f1f1f1;border-radius: 20px;" class="example-element-detail" [ngClass]="element == expandedElement ? '' : 'collapsed'">
                      <div style="width: 100%; height: 40px; margin: 5px; display: flex;">
                        <div style="display: flex;margin: auto;width: 26%;">
                          <mat-label style="margin: auto;">Ver los detalles del pedido</mat-label>
                          <button style="margin: auto;" class="text-center" mat-stroked-button color="primary" type="button" (click)="goToSubMenu(element)">Ver Detalles</button>
                        </div>
                        <div style="display: flex;margin:auto;width: 16%">
                          <mat-label style="margin: auto;">Generar PDF</mat-label>
                          <button style="margin: auto; color: red;" mat-stroked-button color="warn" type="button" (click)="pdf(element)">PDF<img style="margin-left: 10px;" src="https://upload.wikimedia.org/wikipedia/commons/8/87/PDF_file_icon.svg" height="15" width="15" /></button>
                        </div>
                         <div style="display: flex;margin:auto;width: 26%" *ngIf="SelectedBillType == '86' && SelectedBillState == '62'">
                          <mat-label style="margin: auto;">Click para enviar el pedido</mat-label>
                          <button style="margin: auto;" class="text-center" mat-stroked-button color="primary" type="button" (click)="changeState(element)">Enviar Pedido</button>
                        </div>
                        <div style="display: flex;margin:auto;width: 20%" *ngIf="SelectedBillType == '87' && SelectedBillState == '81'">
                          <mat-label style="margin: auto;">Click para confirmar</mat-label>
                          <button style="margin: auto;" class="text-center" mat-stroked-button color="primary" type="button" (click)="confirmarEnv(element)">Confirmar Recibido</button>
                        </div>
                      </div>
                    </div>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="GetKeys(); sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: GetKeys();" class="example-element-row" [class.example-expanded-row]="expandedElement === row" (click)="expandedElement = expandedElement === row ? null : row"> </tr>
                <tr mat-row *matRowDef="let row2; columns: ['expandedDetail']" class="example-detail-row"></tr>
              </table>
            </div>
          </div>
        </div>
      </mat-tab>
      <!--      PESTAÑA DE GENERAR PEDIDO-->
      <mat-tab label="Generar Pedido"  [hidden]="true" >
        <!--        INJECTO EL COMPONENTE-->
        <app-bill-order [pedidosRef_input]="this">
        </app-bill-order>
      </mat-tab>
      <!--      PESTAÑA DE PLANILLA-->
      <mat-tab label="Planilla">
        <mat-card style="padding:20px">

          <div class="row" style="height: 100%;width:100%;padding:15px">
            <div class="col-2">
              <mat-form-field style="width: 100%;margin: auto;">
                <mat-label>Seleccione Vehiculo</mat-label>
                <mat-select [(ngModel)]="SelectedVehiclePlanilla">
                  <mat-option value="-1">
                    Todos
                  </mat-option>
                  <mat-option *ngFor="let item of ListVehicles" [value]="item.id_VEHICULO">{{item.placa}} - {{item.conductor}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-2" >
              <!--      SELECTOR ESTADO PLANILLAS-->
              <mat-form-field style="width: 100%;margin: auto;">
                <mat-label>Seleccione Estado Planilla</mat-label>
                <mat-select [(ngModel)]="SelectedPlanillaState">
                  <mat-option value="C,O">
                    Todos
                  </mat-option>
                  <mat-option value="O">
                    Abierta
                  </mat-option>
                  <mat-option value="C">
                    Cerrada
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-2" >
              <!--      SELECTOR FECHA INICIAL PLANILLAS-->
              <mat-form-field style="width: 100%;margin: auto;margin-bottom: -10px;">
                <input matInput [matDatepicker]="pd2" placeholder="Fecha Inicial" [(ngModel)]="planillaDate1">
                <mat-datepicker-toggle matSuffix [for]="pd2"></mat-datepicker-toggle>
                <mat-datepicker #pd2 disabled="false"></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-2" >
              <!--      SELECTOR FECHA FINAL PLANILLAS-->
              <mat-form-field style="width: 100%;margin: auto;margin-bottom: -10px;">
                <input matInput [matDatepicker]="pd1" placeholder="Fecha Inicial" [(ngModel)]="planillaDate2">
                <mat-datepicker-toggle matSuffix [for]="pd1"></mat-datepicker-toggle>
                <mat-datepicker #pd1 disabled="false"></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col" style="text-align:center;height: 100%;width:150%;padding:15px">
              <button mat-stroked-button color="primary" type="button" (click)="getPlanillaList()">Cargar Planillas</button>
            </div>
          </div>
          <mat-card-content *ngIf=" isPlanillaFull === true ">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                <tr>
                  <th class="text-center"><b>Fecha Apertura</b></th>
                  <th class="text-center"><b>Conductor</b></th>
                  <th class="text-center"><b>Placa</b></th>
                  <th class="text-center"><b>Numero Planilla</b></th>
                  <th class="text-center"><b></b></th>
                  <th class="text-center"><b></b></th>
                  <th class="text-center"><b></b></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let elem of ListPlanilla">
                  <td class="text-center"> {{elem.fecha_INICIO}} </td>
                  <td class="text-center"> {{elem.conductor}} </td>
                  <td class="text-center"> {{elem.placa}} </td>
                  <td class="text-center"> {{elem.num_PLANILLA}} </td>
                  <td class="text-center"> <button mat-stroked-button color="primary" type="button" (click)="exportarPdf(elem)">PDF</button> </td>
                  <td class="text-center"> <button mat-stroked-button color="primary" type="button" (click)="verDetalles(elem.id_PLANILLA)">Ver Facturas Asociadas</button> </td>
                  <td class="text-center"> <button mat-stroked-button color="primary" type="button" (click)="openClosePanilla(elem.id_PLANILLA)">Cerrar Planilla</button> </td>
                </tr>
                </tbody>
              </table>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-tab>
      <mat-tab label="Pedidos Reorden">
        <mat-tab-group style="background-color: white">
          <mat-tab label="Reorden Normal">
            <app-re-orden-normal [Pedidos_Input]="this"></app-re-orden-normal>
          </mat-tab>
          <mat-tab label="Reorden Por Proveedor">
            <app-re-orden-por-provider [Pedidos_Input]="this"></app-re-orden-por-provider>
          </mat-tab>
        </mat-tab-group>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>


<div class="ContenedorLoading" *ngIf="mostrandoCargando">
  <div style="width: 30%;margin: auto;height: 30%;">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title style="font-weight: 500;">Realizando operación, espere un momento.</mat-card-title>
        <mat-card-subtitle>{{estadoCargando}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content style="align-items: center;justify-content: center;display: flex">
        <mat-spinner style="margin: 10px"></mat-spinner>
      </mat-card-content>
    </mat-card>
  </div>
</div>
