<div class="container row">
  <mat-card class="col-sm-12 col-mat-12	col-lg-12 col-xl-12">
    <mat-card-title >Editar producto Tercero
      <span class="tky-right example-margin" >Datos del producto</span>
    </mat-card-title>
    <mat-card-content>

<form novalidate [formGroup]="form">
  
<table class="field-full-width center-text text-center" cellspacing="0">

<tr class="row">
  <td class=" col-sm-12	col-mat-12	col-lg-12 col-xl-12 ">
    <h3 class="title">Codigo de barras: {{currentProductThird?.code.code}}</h3>
  </td>
</tr>


  <tr class="row">
  <td class=" col-sm-12	col-mat-6	col-lg-6 col-xl6 ">
    <mat-form-field class="example-full-width">

      <input matInput placeholder="Precio minimo "  formControlName="min_price">
      <mat-error *ngIf="form.controls.min_price.errors && form.controls.min_price.touched">
        <mat-error *ngIf="form.controls.min_price.errors.required">
          Precio minimo es requerido:
          <strong>requerido</strong>
        </mat-error>
      </mat-error>

    </mat-form-field>
  </td>
  <td class=" col-sm-12	col-mat-6	col-lg-6 col-xl-6 ">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Precio estandar" formControlName="standard_price">
      <mat-error *ngIf="form.controls.standard_price.errors && form.controls.standard_price.touched">
        <mat-error *ngIf="form.controls.standard_price.errors.required">
          El precio estandar es requerido
          <strong>requerido</strong>
        </mat-error>
      </mat-error>
    </mat-form-field>
  </td>
</tr>

<tr class="row">
  <td class=" col-sm-12	col-mat-12	col-lg-12 col-xl-12 ">
    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Localizacion" formControlName="location"></textarea>
      <mat-error *ngIf="form.controls.location.errors && form.controls.location.touched">
        <mat-error *ngIf="form.controls.location.errors.required">
          La localizacion es requerida
          <strong>requerido</strong>
        </mat-error>
      </mat-error>
    </mat-form-field>
  </td>
</tr>

</table>

</form>


</mat-card-content>

  <button mat-button routerLink="/dashboard/business/product-third/list"> Atras </button>
  <button mat-fab color="primary" [disabled]="!form.valid" (click)="editProductThird()"  class="tky-right"> <mat-icon>save</mat-icon></button>

</mat-card>
</div>
