<mat-card style="width:100%;padding:0" class="scroll">
    <mat-card-header style="background-color:rgb(5, 53, 107);margin:0;padding:20px; height: 70px;">
        <mat-card-title style="font-family: Roboto;font-size: 1.3em; font-weight: 700; margin-bottom:30px; color:white">Confirma la Transacción</mat-card-title>
    </mat-card-header>
    <mat-card-content style="padding:20px">
        <div class="uk-flex uk-flex-middle" style="margin-top: 20px;" *ngIf="data.isValues">
          <div class="col" style="text-align: left">
            <h2 style="font-size: 23px; font-weight: 600"> <span class="color-blue">Subtotal:</span> {{subtotal | currency : 'USD' : 'symbol' : '1.0'}}</h2>
          </div>
          <div class="col" style="text-align: left">
            <h2 style="font-size: 23px; font-weight: 600"> <span class="color-blue">Impuestos:</span> {{impuesto | currency : 'USD' : 'symbol' : '1.0'}}</h2>
          </div>
          <div class="col" style="text-align: left">
            <h2 style="font-size: 23px; font-weight: 600"> <span class="color-blue">Servicio:</span> {{servicio | currency : 'USD' : 'symbol' : '1.0'}}</h2>
          </div>
        </div>
        <div class="uk-flex uk-flex-middle" style="margin-top: 20px;">
            <div class="col" style="text-align: left">
                <h2 style="font-size: 23px; font-weight: 600"> <span class="color-blue">Total Factura:</span> {{roundnum(cash) | currency : 'USD' : 'symbol' : '1.0'}}</h2>
            </div>
            <div class="col" style="text-align: left">
                <h2 style="font-size: 23px; font-weight: 600"> <span class="color-blue">Total Pagos:</span> {{roundnum(getTotalPagos()) | currency : 'USD' : 'symbol' : '1.0'}}</h2>
            </div>
            <div class="col" style="text-align: left">
                <h2 style="font-size: 23px; font-weight: 600"> <span class="color-blue">Faltante:</span> {{roundnum(cash)-roundnum(getTotalPagos()) | currency : 'USD' : 'symbol' : '1.0'}}</h2>
            </div>
            <div class=" uk-flex uk-flex-middle" style="text-align: right">
                <button mat-dialog-close type="submit" style="margin-right: 15px; height: 40px;" class="button-red" (click)="outWind()">Cancelar</button>
                <!-- <button type="submit" style="height: 40px;" (click)="returnData()" [disabled]="disableButton() || validate()" class="button-green-conf">Confirmar</button> -->
                <button type="submit" style="height: 40px;" (click)="returnData()" [disabled]="validate2()" class="button-green-conf">Confirmar</button>
            </div>
        </div>
        <div class="uk-flex uk-flex-middle" style="margin-top: 20px;" *ngIf="this.data.mesas">
          <div class="col" style="text-align: left">
            <h2 style="font-size: 23px; font-weight: 600"> <span class="color-blue">Valor Descuento:</span></h2>
          </div>
          <div class="col" style="text-align: left">
            <input class="text-align: left" currencyMask [options]="{ precision: 0 }" matInput type="text" (keyup)="calcPercent()"  [(ngModel)]="disccount" (click)="$event.target.select()">
          </div>
          <div class="col" style="text-align: left">
            <h2 style="font-size: 23px; font-weight: 600"> <span class="color-blue">Porcentaje de Descuento:</span></h2>
          </div>
          <div class="col" style="text-align: left">
            <input class="text-align: left" matInput type="number"  (keyup)="calcDiscount()" [(ngModel)]="disccountPercent" (click)="$event.target.select()">
          </div>
          <!-- <div class="col" style="text-align: left">
            <h2 style="font-size: 23px; font-weight: 600"> <span class="color-blue">Porcentaje de servicio:</span></h2>
          </div>
          <div class="col" style="text-align: left">
            <input class="text-align: left" matInput type="number" [(ngModel)]="tip" (click)="$event.target.select()">
          </div> -->
        </div>
        <span *ngIf="paymentMethod=='efectivo' && wayToPay == 'contado' ">
        <!-- <div class="row">
          <div class="col">
            Cantidad Recibida
          </div>
        </div> -->
            <div>
            </div>
        </span>
        <div class="col-12" *ngIf="(paymentMethod=='debito' && wayToPay == 'contado')||(paymentMethod=='credito' && wayToPay == 'contado')||(paymentMethod=='transferencia' && wayToPay == 'contado')">
            <div class="row mt-5">
                <div class="col-6">
                    <h2>N° de aprobación</h2>
                </div>
                <div class="col-6">
                    <h2>
                        <input type="text" class="tcgw-100" [(ngModel)]="transactionCode">
                    </h2>
                </div>
            </div>
            <!-- <div class="row mb-5">
          <div class="col-6">
            <h2>Entidad Bancaria</h2>
          </div>
          <div class="col-6">
            <h2>
            <mat-form-field>
              <mat-select [(value)]="creditBank">
                <mat-option value="">Seleccionar</mat-option>
                <mat-option value="1">Option1</mat-option>
              </mat-select>
            </mat-form-field>
          </h2>
          </div>
        </div> -->
        </div>
        <div class="col-12" *ngIf="paymentMethod=='credito' && wayToPay == 'credito'">
            <div class="row mt-5">
                <div class="col-6">
                    <h2>N° de aprobación</h2>
                </div>
                <div class="col-6">
                    <h2>
                        <input type="text" class="tcgw-100" [(ngModel)]="transactionCode">
                    </h2>
                </div>
            </div>
            <!-- <div class="row mb-5">
          <div class="col-6">
            <h2>Entidad Bancaria</h2>
          </div>
          <div class="col-6">
              <h2>
            <mat-form-field>
              <mat-select [(value)]="creditBank">
                <mat-option value="">Seleccionar</mat-option>
                <mat-option value="1">Option1</mat-option>
              </mat-select>
            </mat-form-field>
              </h2>
          </div>
        </div> -->
        </div>
        <div style="padding-left: 20px; ">
            <div class="row" style="margin-top:22px">
                <b class="font-size-23 color-blue">Detalles de medios de pago</b>
            </div>
            <div style="margin-top: 10px; margin-bottom: 30px;">
                <div class="uk-flex">
                    <div>
                        <h6 class="uk-margin-remove font">Medio Pago</h6>
                        <div class="uk-margin-remove">
                            <div>
                                <select class="select" [(ngModel)]="newMedio">
                                  <option [value]="1">Efectivo</option>
                                  <option [value]="2">Tarjeta Debito</option>
                                  <option [value]="3">Tarjeta Credito</option>
                                  <option [value]="4">Transferencia</option>
                              </select>
                            </div>
                        </div>
                    </div>
                    <div class="padding-horizontal-20">
                        <h6 class="uk-margin-remove font">Valor pago</h6>
                        <input class="inputs uk-text-left" style="width: 110px;" currencyMask [options]="{ precision: 0 }" [(ngModel)]="newValor" type="text">
                    </div>
                    <div>
                        <h6 class="uk-margin-remove font">Código Confirmación / Observaciones</h6>
                        <input class="inputs" type="text" [(ngModel)]="newConfCode" style="width: 350px;">
                    </div>
                    <button class="button-add" (click)="efectivoValidation()" [disabled]="Number(newValor)<=0 || Number(newValor)>roundnum(cash)-roundnum(getTotalPagos()) || roundnum(cash)-roundnum(getTotalPagos()) == 0">+</button>
                </div>
            </div>
            <table border="1" style="margin-top: 20px;">
                <tr>
                    <td class="uk-text-center uk-text-bold font-size-18" height="35" width="150"> Medio Pago </td>
                    <td class="uk-text-center uk-text-bold font-size-18" width="150"> Valor pago </td>
                    <td class="uk-text-center uk-text-bold font-size-18" width="350"> Código Confirmación / Observaciones </td>
                    <td class="uk-text-center uk-text-bold font-size-18" width="100"></td>
                </tr>
                <tr *ngFor="let item of paymentDetailList">
                    <td height="25">
                        <div class="width-150 uk-flex uk-flex-center">
                            <div class="uk-margin-remove">
                                <div>
                                    <select class="select-list" [(ngModel)]="item.medio">
                                        <option [value]="1">Efectivo</option>
                                        <option [value]="2">Tarjeta Debito</option>
                                        <option [value]="3">Tarjeta Credito</option>
                                        <option [value]="4">Transferencia</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class=" uk-flex uk-flex-center">
                            <input class="inputs-list uk-text-center" type="text" currencyMask [options]="{ precision: 0 }" [(ngModel)]="item.valor" style="width: 90px;">
                        </div>
                    </td>
                    <td height="25">
                        <div class=" uk-flex uk-flex-center">
                            <input class="inputs-list uk-text-left" type="text" [(ngModel)]="item.cod" style="width: 290px;">
                        </div>
                    </td>
                    <td height="25">
                        <div class=" uk-flex uk-flex-center">
                            <button class="button-red-quit" (click)="deleteElement(item.id)">Quitar</button>
                            <!-- <button class="button-green">Guardar</button> -->
                        </div>
                    </td>
                </tr>
            </table>
            <div class="row" style="margin-top:30px">
                <b class="font-size-23 color-blue">Datos Cliente</b>
            </div>
            <div class="uk-flex uk-flex-between">
                <div class="uk-flex uk-flex-middle">
                    <input class="input-date" type="text" placeholder="Cedula Cliente" id="reader" (keyup.enter)="searchClient($event)" [(ngModel)]="ccClient">
                    <button (click)="searchClient2()" mat-stroked-button color="primary" type="submit" style="font-size: 15px;">Buscar</button>
                </div>
                <div class="col-6" style="margin-bottom: px;margin-top: 0px;">
                    <h5> <span class="color-blue uk-text-bold">Cliente:</span> Cliente: {{cliente}}</h5>
                </div>
            </div>
            <div class="row" style="margin-top:30px">
                <b class="font-size-23 color-blue">Agregar Observaciones</b>
            </div>
            <mat-form-field style="width: 100% !important; margin-top:15px;">
                <textarea matInput placeholder="Ingrese aqui observaciones" [(ngModel)]="observations" style="width: 100% !important;"></textarea>
            </mat-form-field>
        </div>







    </mat-card-content>
</mat-card>
