@font-face {
    font-family: 'thefont2';
    src: url('../assets/fonts/SourceSansPro-Black.otf');
    font-style: normal;
}



.topdiv {
    background-image: url("../assets/img/Fondo_del_inicio.png");
    background-color: #cccccc;
    background-size: cover;
    background-size: 100% 100%;
   }


.responsiveTopLogo {
    width: 65%;
    height: 65%; 
   }

.responsiveIngresar {
    width: 200%;
    height: 45%; 
    margin-left: -100%;
    margin-top: 50%
   }

.responsiveTopLogo2 {
    width: 20%;
    height: 20%; 
    margin-top:-6.5%;margin-bottom: -4%;margin-left: 48%;
   }

.responsiveimg {
    width: 100%;
    height: 100%; 
   }


.lineSep
{
  background : -moz-linear-gradient(0% 50% 0deg,rgba(54, 8, 170, 1) 0%,rgba(54, 9, 168, 1) 0.01%,rgba(52, 31, 105, 1) 0.27%,rgba(51, 46, 66, 1) 0.46%,rgba(51, 51, 51, 1) 0.56%,rgba(51, 0, 168, 1) 50%,rgba(51, 51, 51, 1) 100%);
  background : -webkit-linear-gradient(0deg, rgba(54, 8, 170, 1) 0%, rgba(54, 9, 168, 1) 0.01%, rgba(52, 31, 105, 1) 0.27%, rgba(51, 46, 66, 1) 0.46%, rgba(51, 51, 51, 1) 0.56%, rgba(51, 0, 168, 1) 50%, rgba(51, 51, 51, 1) 100%);
  background : -webkit-gradient(linear,0% 50% ,100% 50% ,color-stop(0,rgba(54, 8, 170, 1) ),color-stop(0.0001,rgba(54, 9, 168, 1) ),color-stop(0.0027,rgba(52, 31, 105, 1) ),color-stop(0.0046,rgba(51, 46, 66, 1) ),color-stop(0.0056,rgba(51, 51, 51, 1) ),color-stop(0.5,rgba(51, 0, 168, 1) ),color-stop(1,rgba(51, 51, 51, 1) ));
  background : -o-linear-gradient(0deg, rgba(54, 8, 170, 1) 0%, rgba(54, 9, 168, 1) 0.01%, rgba(52, 31, 105, 1) 0.27%, rgba(51, 46, 66, 1) 0.46%, rgba(51, 51, 51, 1) 0.56%, rgba(51, 0, 168, 1) 50%, rgba(51, 51, 51, 1) 100%);
  background : -ms-linear-gradient(0deg, rgba(54, 8, 170, 1) 0%, rgba(54, 9, 168, 1) 0.01%, rgba(52, 31, 105, 1) 0.27%, rgba(51, 46, 66, 1) 0.46%, rgba(51, 51, 51, 1) 0.56%, rgba(51, 0, 168, 1) 50%, rgba(51, 51, 51, 1) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#3608AA', endColorstr='#333333' ,GradientType=0)";
  background : linear-gradient(90deg, rgba(54, 8, 170, 1) 0%, rgba(54, 9, 168, 1) 0.01%, rgba(52, 31, 105, 1) 0.27%, rgba(51, 46, 66, 1) 0.46%, rgba(51, 51, 51, 1) 0.56%, rgba(51, 0, 168, 1) 50%, rgba(51, 51, 51, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3608AA',endColorstr='#333333' , GradientType=1);
}

.lineSep2 {
    background : -moz-linear-gradient(0% 50% 0deg,rgba(0, 20, 168, 1) 0%,rgba(102, 204, 169, 1) 50%,rgba(0, 20, 168, 1) 98.88%);
    background : -webkit-linear-gradient(0deg, rgba(0, 20, 168, 1) 0%, rgba(102, 204, 169, 1) 50%, rgba(0, 20, 168, 1) 98.88%);
    background : -webkit-gradient(linear,0% 50% ,100% 50% ,color-stop(0,rgba(0, 20, 168, 1) ),color-stop(0.5,rgba(102, 204, 169, 1) ),color-stop(0.9888,rgba(0, 20, 168, 1) ));
    background : -o-linear-gradient(0deg, rgba(0, 20, 168, 1) 0%, rgba(102, 204, 169, 1) 50%, rgba(0, 20, 168, 1) 98.88%);
    background : -ms-linear-gradient(0deg, rgba(0, 20, 168, 1) 0%, rgba(102, 204, 169, 1) 50%, rgba(0, 20, 168, 1) 98.88%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#0014A8', endColorstr='#0014A8' ,GradientType=0)";
    background : linear-gradient(90deg, rgba(0, 20, 168, 1) 0%, rgba(102, 204, 169, 1) 50%, rgba(0, 20, 168, 1) 98.88%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0014A8',endColorstr='#0014A8' , GradientType=1);
  }


  .layer {
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.form__field {
  font-family: 'thefont';
  width: 100%;
  border: 0;
  border-bottom: 2px solid grey;
  outline: 0;
  font-size: 1.3rem;
  color: grey;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
  position: relative
}


@media screen and (max-width: 700px) {
  .responsiveTopLogo {
    width: 100%;
    height: 100%; 
  }

  .responsiveIngresar {
    width: 20%;
    height: 20%; 
   }

   .responsiveTopLogo2 {
    width: 20%;
    height: 20%;
   }
}

.sep0
{
  display: flex;
  justify-content: center;
  align-items: center;
  background : -moz-linear-gradient(0% 50% 0deg,rgba(54, 8, 170, 1) 0%,rgba(54, 9, 168, 1) 0.01%,rgba(52, 31, 105, 1) 0.27%,rgba(51, 46, 66, 1) 0.46%,rgba(51, 51, 51, 1) 0.56%,rgba(51, 0, 168, 1) 50%,rgba(51, 51, 51, 1) 100%);
  background : -webkit-linear-gradient(0deg, rgba(54, 8, 170, 1) 0%, rgba(54, 9, 168, 1) 0.01%, rgba(52, 31, 105, 1) 0.27%, rgba(51, 46, 66, 1) 0.46%, rgba(51, 51, 51, 1) 0.56%, rgba(51, 0, 168, 1) 50%, rgba(51, 51, 51, 1) 100%);
  background : -webkit-gradient(linear,0% 50% ,100% 50% ,color-stop(0,rgba(54, 8, 170, 1) ),color-stop(0.0001,rgba(54, 9, 168, 1) ),color-stop(0.0027,rgba(52, 31, 105, 1) ),color-stop(0.0046,rgba(51, 46, 66, 1) ),color-stop(0.0056,rgba(51, 51, 51, 1) ),color-stop(0.5,rgba(51, 0, 168, 1) ),color-stop(1,rgba(51, 51, 51, 1) ));
  background : -o-linear-gradient(0deg, rgba(54, 8, 170, 1) 0%, rgba(54, 9, 168, 1) 0.01%, rgba(52, 31, 105, 1) 0.27%, rgba(51, 46, 66, 1) 0.46%, rgba(51, 51, 51, 1) 0.56%, rgba(51, 0, 168, 1) 50%, rgba(51, 51, 51, 1) 100%);
  background : -ms-linear-gradient(0deg, rgba(54, 8, 170, 1) 0%, rgba(54, 9, 168, 1) 0.01%, rgba(52, 31, 105, 1) 0.27%, rgba(51, 46, 66, 1) 0.46%, rgba(51, 51, 51, 1) 0.56%, rgba(51, 0, 168, 1) 50%, rgba(51, 51, 51, 1) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#3608AA', endColorstr='#333333' ,GradientType=0)";
  background : linear-gradient(90deg, rgba(54, 8, 170, 1) 0%, rgba(54, 9, 168, 1) 0.01%, rgba(52, 31, 105, 1) 0.27%, rgba(51, 46, 66, 1) 0.46%, rgba(51, 51, 51, 1) 0.56%, rgba(51, 0, 168, 1) 50%, rgba(51, 51, 51, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3608AA',endColorstr='#333333' , GradientType=1);
}


.sep1
{
  display: flex;
  justify-content: center;
  align-items: center;
  background : -moz-linear-gradient(0% 50% 0deg,rgba(0, 20, 168, 1) 0%,rgba(102, 204, 169, 1) 50%,rgba(0, 20, 168, 1) 98.88%);
  background : -webkit-linear-gradient(0deg, rgba(0, 20, 168, 1) 0%, rgba(102, 204, 169, 1) 50%, rgba(0, 20, 168, 1) 98.88%);
  background : -webkit-gradient(linear,0% 50% ,100% 50% ,color-stop(0,rgba(0, 20, 168, 1) ),color-stop(0.5,rgba(102, 204, 169, 1) ),color-stop(0.9888,rgba(0, 20, 168, 1) ));
  background : -o-linear-gradient(0deg, rgba(0, 20, 168, 1) 0%, rgba(102, 204, 169, 1) 50%, rgba(0, 20, 168, 1) 98.88%);
  background : -ms-linear-gradient(0deg, rgba(0, 20, 168, 1) 0%, rgba(102, 204, 169, 1) 50%, rgba(0, 20, 168, 1) 98.88%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#0014A8', endColorstr='#0014A8' ,GradientType=0)";
  background : linear-gradient(90deg, rgba(0, 20, 168, 1) 0%, rgba(102, 204, 169, 1) 50%, rgba(0, 20, 168, 1) 98.88%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0014A8',endColorstr='#0014A8' , GradientType=1);
}