<div *ngIf="!mobile" >
<div class="topdiv" >
  <div class="row">
    <div class="col-md-10 col-sm-12" style="text-align: center">
      <img src="assets/img/Logo_EDS-IA_para_encabezado.png" class="responsiveTopLogo">
    </div>
    <div class="col-md-2 col-sm-12">
      <img src="assets/img/BotonIngresar.png"  class="responsiveIngresar" >
    </div> 
  </div>
  <div class="row">
    <img src="assets/img/ia_para_estaciones.png" class="responsiveTopLogo2">
  </div>
</div>
<div class="lineSep" >
  <br>
</div>
<div class="row" style="background-color: #edeffe;">
  <div class="row" style="background-image: url('../assets/img/fondo1.png'); background-size: contain;background-repeat: no-repeat; background-position-x: 5%;background-position-y: -15px;">
    <div class="col-md-5 col-sm-12" style="text-align: left;">
      <img src="assets/img/Logo1a.png" style="max-height: 25%;max-width: 50%;text-align: left;margin-left: 15%;" class="responsiveimg">
      <p style="text-align: justify; margin-left: 15%;margin-right: 15%; font-size: 25px;font-family: 'thefont2';">Es una plataforma tecnológica que controla la administración de su estacion de servicio permitiéndole ser más eficiente en su negocio</p>
    </div>
    <div class="col-md-5 col-sm-12">
      <img src="assets/img/i1.png" class="responsiveimg" >
    </div>
  </div>
</div>
<div class="lineSep" style="margin-top:-1%">
  <br>
</div>
<div class="row"> 
  <div class="row">
      <div class="col-md-5 col-sm-12" style="margin-left: 5%;margin-right: 5%;">
        <img src="assets/img/AO.png" sytle="height: 30%;width: 50%">
        <ul style="margin-left: 7%;">
          <li style="color: green"><p style="color: black;font-size: 25px;font-family: 'thefont2';"> Control diario de existencias de producto</p></li>
          <li style="color: green"><p style="color: black;font-size: 25px;font-family: 'thefont2';"> Elaboración de planilla diaria</p></li>
          <li style="color: green"><p style="color: black;font-size: 25px;font-family: 'thefont2';"> Registro de ventas</p></li>
          <li style="color: green"><p style="color: black;font-size: 25px;font-family: 'thefont2';"> Consignaciones</p></li>
          <li style="color: green"><p style="color: black;font-size: 25px;font-family: 'thefont2';"> Pedidos a mayoristas</p></li>
          <li style="color: green"><p style="color: black;font-size: 25px;font-family: 'thefont2';"> Registro de movimiento Sicom</p></li>
        </ul>   
      </div>
      <div class="col-md-5 col-sm-12">
        <img src="assets/img/ref.png" class="responsiveimg" >
      </div>
  </div>
  <div class="row">
    <div class="col-md-5 col-sm-12" style="margin-left: 5%;margin-right: 5%;">
      <img src="assets/img/camion.png" class="responsiveimg" >
    </div>
    <div class="col-md-5 col-sm-12">
      <img src="assets/img/sistem.png" sytle="height: 30%;width: 50%">
      <ul style="margin-left: 7%;">
        <li style="color: green"><p style="color: black;font-size: 25px;font-family: 'thefont2';"> Registros Contables</p></li>
        <li style="color: green"><p style="color: black;font-size: 25px;font-family: 'thefont2';"> Elaboración de estados financieros</p></li>
        <li style="color: green"><p style="color: black;font-size: 25px;font-family: 'thefont2';"> Control de presupuesto</p></li>
        <li style="color: green"><p style="color: black;font-size: 25px;font-family: 'thefont2';"> Control de inventarios con proveedor mayorista</p></li>
        <li style="color: green"><p style="color: black;font-size: 25px;font-family: 'thefont2';"> Control de dotaciones</p></li>
        <li style="color: green"><p style="color: black;font-size: 25px;font-family: 'thefont2';"> Seguimiento a programas de capacitación en mantenimiento</p></li>
        <li style="color: green"><p style="color: black;font-size: 25px;font-family: 'thefont2';"> Generación de informes diarios</p></li>
      </ul>  
    </div>
  </div>
  <div class="row">
    <div class="col-md-5 col-sm-12" style="margin-left: 5%;margin-right: 5%;">
      <img src="assets/img/crm.png" sytle="height: 30%;width: 50%">
      <ul style="margin-left: 7%;">
        <li style="color: green"><p style="color: black;font-size: 25px;font-family: 'thefont2';"> Marketing 4.0</p></li>
        <li style="color: green"><p style="color: black;font-size: 25px;font-family: 'thefont2';"> Mercadeo en cliente 360</p></li>
        <li style="color: green"><p style="color: black;font-size: 25px;font-family: 'thefont2';"> Foco en beneficios</p></li>
        <li style="color: green"><p style="color: black;font-size: 25px;font-family: 'thefont2';"> Mercadeo en redes sociales</p></li>
        <li style="color: green"><p style="color: black;font-size: 25px;font-family: 'thefont2';"> Análisis de datos del cliente</p></li>
        <li style="color: green"><p style="color: black;font-size: 25px;font-family: 'thefont2';"> Fidelización de clientes</p></li>
        <br>
      </ul>   
    </div>
    <div class="col-md-5 col-sm-12">
      <img src="assets/img/tablet.png" class="responsiveimg" >
    </div>
  </div>
</div>
<div class="lineSep2" >
  <br>
</div>
<div class="row" style="background-image: url('../assets/img/end.png');background-size: cover;">
  <div class="col-md-5 col-sm-12" style="margin-left: 5%;margin-right: 5%;">
    <div style="margin-left:6%;margin-right:6%;text-align: justify;">
      <img src="assets/img/Contactenos.png" style="height: 70%;width: 70%;margin-top: 15%;margin-left: -6%;">
  </div>
  <div style="margin-left:7%;margin-right:6%;text-align: justify;">
      <div class="row" style="margin-top: 5%;margin-bottom: 2.5%;">
          <div class="col-25" style="font-family: 'thefont2';font-size: 40px;color: black;margin-right: 2%;">
              <label for="fname">Nombre y Apellido: </label>
          </div>
          <div class="col-75">
              <input type="text" id="fname" name="firstname" placeholder="" class="form__field">
          </div>
      </div>
      <div class="row" style="margin-bottom: 2.5%;">
          <div class="col-25" style="font-family: 'thefont2';font-size: 40px;color: black;margin-right: 2%;">
              <label for="lname">Teléfono: </label>
          </div>
          <div class="col-75">
              <input type="text" id="lname" name="lastname" placeholder="" class="form__field">
          </div>
      </div>
      <div class="row" style="padding-bottom: 6%;">
          <div class="col-25" style="font-family: 'thefont2';font-size: 40px;color: black;margin-right: 2%;">
          <label for="country">E-Mail: </label>
          </div>
          <div class="col-75">
              <input type="text" id="lname" name="lastname" placeholder="" class="form__field">
          </div>
      </div>
      <div class="row" style="padding-bottom: 6%;">
        <textarea id="subject" name="subject" placeholder="" style="height:200px;width: 100%;"></textarea>
      </div>
  </div>
  <div (click)="function()">
    <img src="assets/img/send.png" style="height: 40%;width: 60%;margin-top: -15%;margin-left: -7%;">
  </div>
  </div>
  <div class="col-md-5 col-sm-12">
    <img src="assets/img/mod.png" style="height: 40%;width: 70%;margin-top: 40%;">
  </div>
</div>
</div>

<div *ngIf="mobile">
  <div style="display: flex; background-color: white">
    <div style="background-color: white;width:48%; margin-left: 2%;">
      <img src="assets/img/Logo_EDS-IA_para_encabezado.png" style="max-height: 100%;max-width: 100%;" >
    </div>
    <div style="background-color: white;width:48%; margin-right: 2%;">
      <img src="assets/img/ia_para_estaciones.png" style="max-height: 100%;max-width: 100%;" >
    </div>
  </div>   
  <div class="sep0">
    <div style="width:100%;text-align: center;">
      <p style="font-family: 'thefont2'; font-size:4vmin; width: 100%;color:white;margin-bottom: -0.2%;">
        INGRESAR
      </p>
    </div>
  </div>
  <div style=" background-image: url('assets/img/bg.png');background-size: 101% 101%;background-repeat: no-repeat;">
    <div style="display: flex;">
      <div style="width:90%;text-align: justify;margin-left: 5%;margin-right: 5%;margin-top: 5%;">
        <p style="font-size: 4.5vmin;font-family: 'thefont2';">Es una plataforma tecnológica que controla la administracion de su estacion de servicio permitiéndole ser más eficiente en su negocio</p>
      </div>
    </div>
    <div style="display: flex;">
      <div style="width:90%;text-align: justify;margin-left: 5%;margin-right: 5%;margin-top: 5%;">
        <img src="assets/img/i1.png" style="max-height: 100%;max-width: 100%;" >
      </div>
    </div>
  </div>
  <div class="sep0">
    <div style="width:100%;text-align: center;">
      <br>
    </div>
  </div>
  <div style="display: flex; background-color: white;margin-bottom: 10%;">
    <div style="width:50%">
      <img src="assets/img/AO.png" style="max-height: 100%;max-width: 100%">
      <ul>
        <li style="color: green"><p style="color: black;font-size: 4vmin;font-family: 'thefont2';"> Control diario de existencias de producto</p></li>
        <li style="color: green"><p style="color: black;font-size: 4vmin;font-family: 'thefont2';"> Elaboración de planilla diaria</p></li>
        <li style="color: green"><p style="color: black;font-size: 4vmin;font-family: 'thefont2';"> Registro de ventas</p></li>
        <li style="color: green"><p style="color: black;font-size: 4vmin;font-family: 'thefont2';"> Consignaciones</p></li>
        <li style="color: green"><p style="color: black;font-size: 4vmin;font-family: 'thefont2';"> Pedidos a mayoristas</p></li>
        <li style="color: green"><p style="color: black;font-size: 4vmin;font-family: 'thefont2';"> Registro de movimiento Sicom</p></li>
      </ul>   
    </div>
    <div style="width:50%">
      <img src="assets/img/fabrica.png" style="max-height: 100%; max-width: 100%;margin-left: 13%;margin-top: 45%;" >
    </div>
  </div>
  <div style="display: flex; background-color: white;margin-bottom: 10%;">
    <div style="width:50%">
      <img src="assets/img/sistem.png" style="max-height: 100%;max-width: 100%">
      <ul>
        <li style="color: green"><p style="color: black;font-size: 4vmin;font-family: 'thefont2';"> Registros Contables</p></li>
        <li style="color: green"><p style="color: black;font-size: 4vmin;font-family: 'thefont2';"> Elaboración de estados financieros</p></li>
        <li style="color: green"><p style="color: black;font-size: 4vmin;font-family: 'thefont2';"> Control de presupuesto</p></li>
        <li style="color: green"><p style="color: black;font-size: 4vmin;font-family: 'thefont2';"> Control de inventarios con proveedor mayorista</p></li>
        <li style="color: green"><p style="color: black;font-size: 4vmin;font-family: 'thefont2';"> Control de dotaciones</p></li>
        <li style="color: green"><p style="color: black;font-size: 4vmin;font-family: 'thefont2';"> Seguimiento a programas de capacitación en mantenimiento</p></li>
        <li style="color: green"><p style="color: black;font-size: 4vmin;font-family: 'thefont2';"> Generación de informes diarios</p></li>
      </ul>   
    </div>
    <div style="width:50%">
      <img src="assets/img/camion2.png" style="max-height: 100%; max-width: 100%;margin-left: 13%;margin-top: 75%;" >
    </div>
  </div>
  <div style="display: flex; background-color: white;margin-bottom: 10%;">
    <div style="width:50%">
      <img src="assets/img/crm.png" style="max-height: 100%;max-width: 100%">
      <ul>
        <li style="color: green"><p style="color: black;font-size: 4vmin;font-family: 'thefont2';"> Marketing 4.0</p></li>
        <li style="color: green"><p style="color: black;font-size: 4vmin;font-family: 'thefont2';"> Mercadeo en cliente 360</p></li>
        <li style="color: green"><p style="color: black;font-size: 4vmin;font-family: 'thefont2';"> Foco en beneficios</p></li>
        <li style="color: green"><p style="color: black;font-size: 4vmin;font-family: 'thefont2';"> Mercadeo en redes sociales</p></li>
        <li style="color: green"><p style="color: black;font-size: 4vmin;font-family: 'thefont2';"> Análisis de datos del cliente</p></li>
        <li style="color: green"><p style="color: black;font-size: 4vmin;font-family: 'thefont2';"> Fidelización de clientes</p></li>
      </ul>   
    </div>  
    <div style="width:50%">
      <img src="assets/img/ejecutivo.png" style="max-height: 100%; max-width: 100%;margin-left: 13%;margin-top: 45%;" >
    </div>
  </div>
  <div class="sep1">
    <div style="width:100%;text-align: center;">
      <br>
      <br>
    </div>
  </div>
  <div style="display: flex; background-image: url('assets/img/end.png');background-size: 101% 101%;background-repeat: no-repeat;">
    <div style="margin-left: 5%;margin-right: 5%;">
      <div style="margin-left:6%;margin-right:6%;text-align: justify;">
        <img src="assets/img/Contactenos.png" style="height: 70%;width: 70%;margin-top: 15%;margin-left: -6%;">
    </div>
    <div style="margin-left:7%;margin-right:6%;text-align: justify;">
        <div  style="margin-top: 5%;margin-bottom: 2.5%;">
            <div style="font-family: 'thefont2';font-size: 4vmin;color: black;margin-right: 2%;">
                <label for="fname">Nombre y Apellido: </label>
            </div>
            <div>
                <input type="text" id="fname" name="firstname" placeholder="" class="form__field">
            </div>
        </div>
        <div style="margin-bottom: 2.5%;">
            <div style="font-family: 'thefont2';font-size: 4vmin;color: black;margin-right: 2%;">
                <label for="lname">Teléfono: </label>
            </div>
            <div>
                <input type="text" id="lname" name="lastname" placeholder="" class="form__field">
            </div>
        </div>
        <div style="padding-bottom: 6%;">
            <div style="font-family: 'thefont2';font-size: 4vmin;color: black;margin-right: 2%;">
            <label for="country">E-Mail: </label>
            </div>
            <div>
                <input type="text" id="lname" name="lastname" placeholder="" class="form__field">
            </div>
        </div>
        <div style="padding-bottom: 6%;">
          <p style="font-size: 4.5vmin;font-family: 'thefont2';">
            Somos el nuevo modelo en empresas de economía digital.
          </p>
          <textarea id="subject" name="subject" placeholder="" style="height:200px;width: 100%;"></textarea>
        </div>
    </div>
    <div (click)="function()" style="text-align: center;">
      <img src="assets/img/send.png" style="height: 40%;width: 100%;margin-top: -15%;margin-left: -7%;">
    </div>
    </div>
  
  </div>
</div>