<div class="login-page">
    <div class="row">
        <div class="col-md-4 push-md-4">
            <img class="user-avatar" src="assets/images/logo.png" width="150px" />
                        <h1>Admin Apps</h1>
            <form novalidate [formGroup]="form">
                <div class="form-content">
                    <div class="form-group">
                         <md-input-container>
                                    <input mdInput placeholder="Nombre Completo" class="form-control" #count_nombre maxlength="50" id="nombre" formControlName="nombre">
                                    <md-hint align="end">{{count_nombre.value.length}} / 50</md-hint>
                                </md-input-container>
                                <div *ngIf="form.controls.nombre.errors && form.controls.nombre.touched">
                                    <div *ngIf="form.controls.nombre.errors.required" class="alert alert-danger">
                                        El Campo es requerido!
                                    </div>
                                    <div *ngIf="form.controls.nombre.errors.minlength" class="alert alert-danger">
                                        El Campo debe ser mayor a 3 caracteres!
                                    </div>
                                    <div *ngIf="form.controls.nombre.errors.maxlength" class="alert alert-danger">
                                        El Campo debe ser menor a 50 caracteres!
                                    </div>
                                    <div *ngIf="form.controls.nombre.errors.pattern" class="alert alert-danger">
                                        El Campo debe iniciar con almenos una letra
                                    </div>
                                </div>
                    </div>

                    <div class="form-group">
                                <md-input-container>
                                    <input mdInput placeholder="Nombre de Usuario" class="form-control" #count_name maxlength="50" id="usuario" formControlName="usuario">
                                    <md-hint align="end">{{count_name.value.length}} / 50</md-hint>
                                </md-input-container>
                                <div *ngIf="form.controls.usuario.errors && form.controls.usuario.touched">
                                    <div *ngIf="form.controls.usuario.errors.required" class="alert alert-danger">
                                        El Campo es requerido!
                                    </div>
                                    <div *ngIf="form.controls.usuario.errors.minlength" class="alert alert-danger">
                                        El Campo debe ser mayor a 3 caracteres!
                                    </div>
                                    <div *ngIf="form.controls.usuario.errors.maxlength" class="alert alert-danger">
                                        El Campo debe ser menor a 50 caracteres!
                                    </div>
                                    <div *ngIf="form.controls.usuario.errors.pattern" class="alert alert-danger">
                                        El Campo debe iniciar con almenos una letra
                                    </div>
                                </div>
                    </div>

                    <div class="form-group">
                         <md-input-container class="example-full-width">
                                    <input  mdInput  type="password"  placeholder="Clave" id="clave"  #count_des maxlength="100" formControlName="clave">
                                    <md-hint align="end">{{count_des.value.length}} / 100</md-hint>
                                </md-input-container>
                                
                                    <div *ngIf="form.controls.clave.errors && form.controls.clave.touched">
                                        <div *ngIf="form.controls.clave.errors.required" class="alert alert-danger">
                                            El Campo es requerido!
                                        </div>
                                        <div *ngIf="form.controls.clave.errors.minlength" class="alert alert-danger">
                                            El Campo debe ser mayor a 3 caracteres!
                                        </div>
                                        <div *ngIf="form.controls.clave.errors.maxlength" class="alert alert-danger">
                                            El Campo debe ser menor a 100 caracteres!
                                        </div>
                                        <div *ngIf="form.controls.clave.errors.pattern" class="alert alert-danger">
                                            El Campo debe iniciar con almenos una letra
                                        </div>
                                    </div>
                    </div>
                     <md-input-container class="example-full-width">
                                    <input  mdInput  type="password"  placeholder="Repetir Clave" id="repetir_clave"  #count_repetir_clave maxlength="100" formControlName="repetir_clave">
                                    <md-hint align="end">{{count_repetir_clave.value.length}} / 100</md-hint>
                                </md-input-container>
                                
                                    <div *ngIf="form.controls.repetir_clave.errors && form.controls.repetir_clave.touched">
                                        <div *ngIf="form.controls.repetir_clave.errors.required" class="alert alert-danger">
                                            El Campo es requerido!
                                        </div>
                                        <div *ngIf="form.controls.repetir_clave.errors.minlength" class="alert alert-danger">
                                            El Campo debe ser mayor a 3 caracteres!
                                        </div>
                                        <div *ngIf="form.controls.repetir_clave.errors.maxlength" class="alert alert-danger">
                                            El Campo debe ser menor a 100 caracteres!
                                        </div>
                                        <div *ngIf="form.controls.repetir_clave.errors.pattern" class="alert alert-danger">
                                            El Campo debe iniciar con almenos una letra
                                        </div>
                                    </div>
                </div>
              
                <button class="btn rounded-btn" (click)="register()" [disabled]="!form.valid" > Register </button>
                &nbsp;
                <button class="btn rounded-btn"  [routerLink]="['/auth/login']"  >Log in</button>
            </form>
        </div>
    </div>
</div>
