<div style="width: 100%;height: 100vh;height: calc(var(--vh, 1vh) * 100);display: flex;flex-direction: column" *ngIf="this.commonOperations.IsMobile()">
  <!--  EL HEADER-->
  <div style="width: 100%;height: 10%;background-color: white;display: flex;position: relative;border-bottom: solid 2px gray">
    <mat-icon style="position: absolute;left: 5%;top:40%;margin: auto 0;color: black" (click)="CerrarModal()">keyboard_arrow_left</mat-icon>
    <img style="margin: auto;height: 70%" src="{{billingService.ProviderInfo.LogoURL}}">
  </div>
  <!--  CUERPO-->
  <div style="width: 100%;height: 90%;display: flex;flex-direction: column">
    <!--    SUB HEDER-->
    <div style="width: 100%;height: 8%;padding-left: 10%;border-bottom: solid 12px #FBF489;display: flex;flex-shrink: 0">
      <mat-label style="margin: auto 0;font-weight: bold;font-size: 200%;color: black">Checkout</mat-label>
    </div>
    <!--    SUB CUERPO-->
    <div #TheScroll style="width: 80%;margin: 0 auto;display: flex;flex-direction: column;overflow: auto">
      <!--      PRODUCTOS-->
      <div class="ScrollBar" style="height: 30vh;width: 100%;flex-shrink: 0;display: flex;flex-direction: column;overflow: auto;">
        <div style="display: flex;flex-direction:column;box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.28);justify-content: space-evenly;width: 92%;margin: 10px auto;height: 8vh;flex-wrap: wrap;border-radius: 10px" *ngFor="let product of inventoryService.cartService.ListaTablaProductosSeleccionados">
          <mat-label style="margin: 0 auto;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;font-weight: bold;font-size: 70%;color: black;width: 35%;">{{product.description}}</mat-label>
          <mat-label *ngIf="locStorage.getidCountry() == 'ES'" style="margin:0 auto;font-size: 70%;width: 35%;">Unidad {{product.price | currency  : 'EUR' : 'symbol' : '1.0'}}</mat-label>
          <mat-label *ngIf="locStorage.getidCountry() != 'ES'" style="margin:0 auto;font-size: 70%;width: 35%;">Unidad {{product.price | currency  : 'USD' : 'symbol' : '1.0'}}</mat-label>
          <div style="margin:0 auto;height: 100%;width: 15%;display: flex"><mat-label style="margin:auto;font-weight: bold;font-size: 120%;width: 100%">{{product.quantity}}</mat-label></div>
          <div style="margin:0 auto;height: 100%;width: 25%;display: flex"><mat-label *ngIf="locStorage.getidCountry() == 'ES'" style="margin:auto;font-size: 100%;width: 100%;text-align: center">{{GetItemPrice(product) | currency  : 'EUR' : 'symbol' : '1.0'}}</mat-label></div>
          <div style="margin:0 auto;height: 100%;width: 25%;display: flex"><mat-label *ngIf="locStorage.getidCountry() != 'ES'" style="margin:auto;font-size: 100%;width: 100%;text-align: center">{{GetItemPrice(product) | currency  : 'USD' : 'symbol' : '1.0'}}</mat-label></div>
        </div>
      </div>
      <!--      FECHA ENTREGA-->
      <div style="width: 100%;display: flex;flex-direction: column;flex-shrink: 0">
        <mat-label style="margin: 0 auto;font-weight: bold;font-size: 100%;color: black">Programa tu pedido</mat-label>
        <mat-radio-group aria-label="Select an option" disabled style="width: 100%;display: flex;justify-content: space-evenly;margin-top: 5px">
          <mat-radio-button value="1" checked>Ahora</mat-radio-button>
          <mat-radio-button value="2">Otra fecha</mat-radio-button>
        </mat-radio-group>
        <!--          -->
        <div style="width: 100%;flex: auto;display: flex;flex-direction: column">
          <img style="margin: auto;width: 80%;opacity: 0.5;" src="assets/temp.PNG">
        </div>
      </div>
      <!--      DIRECCIÓN ENTREGA-->
      <div style="display: flex;width: 100%;justify-content: space-between;flex-shrink: 0">
        <div style="width: 48%;display: flex;flex-direction: column">
          <mat-label style="padding-top: 10px;font-weight: bold">Origen</mat-label>
          <mat-label style="padding-top: 10px;text-transform: capitalize">{{this.billingService.ProviderInfo.Name.toLowerCase()}}</mat-label>
          <mat-label style="padding-top: 10px;text-transform: capitalize;">{{this.billingService.ProviderInfo.CityName.toLowerCase()}},{{this.billingService.ProviderInfo.Address}}</mat-label></div>
        <div style="width: 48%;display: flex;flex-direction: column">
          <mat-label style="padding-top: 10px;font-weight: bold">Destino</mat-label>
          <mat-label style="padding-top: 10px;text-transform: capitalize">{{this.accountService.GetNormalName().toLowerCase()}}</mat-label>
          <mat-label style="padding-top: 10px;text-transform: capitalize">{{this.accountService.usuarioCompleto.city_NAME.toLowerCase()}},{{this.accountService.usuarioCompleto.address}}</mat-label>
        </div>
      </div>
      <mat-label style="margin-bottom: 0;font-size: 100%;margin-top: 10px;text-align: center;flex-shrink: 0" *ngIf="Distancia > 0">Distancia: {{this.Distancia/1000 | number:'1.0-1'}} km</mat-label>
      <mat-label style="margin-bottom: 0;font-size: 100%;margin-top: 10px;text-align: center;flex-shrink: 0" *ngIf="Distancia <= 0">Distancia: Mayor a 50 km</mat-label>

      <div style="height: 40vh;width: 100%;margin: 5px 0;display: flex;flex-direction: column;flex-shrink: 0">
        <!--    Mostrar dirección de entrega-->
        <div style="width: 100%;height: 90%;display: flex;margin: auto 0">
          <mat-label style="font-weight: bold;font-size: 100%;color: black">Dirección: </mat-label>
          <mat-label style="padding-top: 10px;margin: auto;">{{this.accountService.usuarioCompleto.address}}</mat-label>
        </div>
        <!--      contenedor mapa-->
        <div style="width: 100%;height: 90%;flex-shrink:0;overflow: hidden;border-radius: 20px;display: flex;position: relative;">
          <!--                    PUNTO EN EL CENTRO-->
          <div style="margin: auto;border-radius: 40px;width: 10px;height: 10px;background-color: red;z-index: 1"></div>
          <!--                    EL MAPA COMO TAL-->
          <div style="position: absolute;height: 100%;width: 100%;" >
            <app-here-map #ElMap appId="EMebuedoPRx7d9k0fCQn" appCode="nlzkZnNOoP5qeVGUW2ujGg" lat="3.9638013527816924" lng="-73.31064117957077"></app-here-map>
          </div>
          <div style="background-color: #777777b3;position: absolute;height: 100%;width: 100%;overflow: hidden;display: flex;z-index: 10" *ngIf="CargandoMapa">
            <ngx-loading [show]="CargandoMapa" [config]="{animationType: this.commonOperations.ngxLoadingAnimationTypes.rectangleBounce, primaryColour: 'rgb(5, 53, 107)', backdropBorderRadius: '3px'}"></ngx-loading>
          </div>
          <div style="background-color: #e0e6ea00;position: absolute;height: 100%;width: 100%;overflow: hidden;display: flex;z-index: 10" >
          </div>
        </div>
      </div>
      <!--      RESUMEN-->
      <div style="height: 30vh;flex-shrink: 0;width: 100%;margin: 5px 0;display: flex;flex-direction: column;justify-content: space-between;flex-shrink: 0">
        <mat-label style="font-weight: bold;font-size: 100%;color: black;margin-left: 3%">Resumen</mat-label>
        <div style="margin: auto;box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.28);height: 90%;width: 95%;border-radius: 10px;display: flex">
          <div style="display: flex;flex-direction: column;width: 85%;height: 85%;margin: auto;justify-content: space-evenly">
            <div style="display: flex;">
              <mat-label style="margin-right: auto;font-weight: bold">Subtotal:</mat-label>
              <mat-label *ngIf="locStorage.getidCountry() == 'ES'" >{{this.inventoryService.cartService.ValorSubTotalTabla | currency  : 'EUR' : 'symbol' : '1.0-2'}}</mat-label>
              <mat-label *ngIf="locStorage.getidCountry() != 'ES'" >{{this.inventoryService.cartService.ValorSubTotalTabla | currency  : 'USD' : 'symbol' : '1.0-2'}}</mat-label>
            </div>
            <div style="display: flex;">
              <mat-label style="margin-right: auto;font-weight: bold">IVA:</mat-label>
              <mat-label *ngIf="locStorage.getidCountry() == 'ES'">{{this.inventoryService.cartService.ValorImpuestoTabla | currency  : 'EUR' : 'symbol' : '1.0-2'}}</mat-label>
              <mat-label *ngIf="locStorage.getidCountry() != 'ES'">{{this.inventoryService.cartService.ValorImpuestoTabla | currency  : 'USD' : 'symbol' : '1.0-2'}}</mat-label>
            </div>
            <div style="display: flex;">
              <mat-label style="margin-right: auto;font-weight: bold">Envío:</mat-label>
              <mat-label *ngIf="locStorage.getidCountry() == 'ES'">{{roundnum(0) | currency  : 'EUR' : 'symbol' : '1.0'}}</mat-label>
              <mat-label *ngIf="locStorage.getidCountry() != 'ES'">{{roundnum(0) | currency  : 'USD' : 'symbol' : '1.0'}}</mat-label>
            </div>
            <div style="display: flex;">
              <mat-label style="margin-right: auto;font-weight: bold">Descuento:</mat-label>
              <mat-label *ngIf="locStorage.getidCountry() == 'ES'">{{roundnum(0) | currency  : 'EUR' : 'symbol' : '1.0'}}</mat-label>
              <mat-label *ngIf="locStorage.getidCountry() != 'ES'">{{roundnum(0) | currency  : 'USD' : 'symbol' : '1.0'}}</mat-label>
            </div>
            <div style="display: flex;background-color: #FBF489;height: 10%;width: 100%">
              <mat-label style="margin: auto;font-weight: bold;font-size: 3.2vmin;">¡Click aquí para ingresar tu cupón!</mat-label>
            </div>
            <div style="width: 100%;height: 2px;background-color: black"></div>
            <div style="display: flex;justify-content: space-around">
              <mat-label style="font-size: 120%">TOTAL</mat-label>
              <mat-label *ngIf="locStorage.getidCountry() == 'ES'" style="font-size: 120%;font-weight: bold">{{this.inventoryService.cartService.ValorTotalTabla | currency  : 'EUR' : 'symbol' : '1.0'}}</mat-label>
              <mat-label *ngIf="locStorage.getidCountry() != 'ES'" style="font-size: 120%;font-weight: bold">{{this.inventoryService.cartService.ValorTotalTabla | currency  : 'USD' : 'symbol' : '1.0'}}</mat-label>
            </div>
            <!--            <div style="display: flex;margin: auto;height: 65%;"><p style="margin: 0;font-size: 3vw;margin-top: 5px">Mediante {{this.MetodosPago[this.MetodoPagoSeleccionado][1]}}</p></div>-->
          </div>
        </div>
      </div>
      <!--      METODO DE PAGO-->
      <div style="height: 30vh;width: 100%;margin: 5px 0;display: flex;flex-direction: column;flex-shrink: 0">
        <mat-label style="font-weight: bold;font-size: 100%;color: black;margin-left: 3%">Método de pago</mat-label>
        <mat-radio-group [(ngModel)]="MetodoPagoSeleccionado" style="display: flex;flex-direction: column;margin: 0 auto;width: 90%;justify-content: space-evenly;height: 60%;">
          <mat-radio-button *ngFor="let metodo of MetodosPago;" [value]="metodo[0]">
            {{metodo[1]}}
          </mat-radio-button>
        </mat-radio-group>
        <button mat-flat-button style="width: 100%;height: 10vh;font-weight: bold;border: unset;cursor: pointer;background-color: #FFF385;font-size: 120%;margin: 10px auto;" color="primary" (click)="CompletarPedido()">Completar pedido</button>
      </div>
    </div>
  </div>
</div>

<!--ESCRITORIO-->

<div style="width: 100%;height: 100%;display: flex;flex-direction: column" *ngIf="!this.commonOperations.IsMobile()">
  <!--  EL HEADER-->
  <div style="width: 100%;height: 10%;background-color: white;display: flex;position: relative;border-bottom: solid 2px gray">
    <mat-icon style="position: absolute;left: 5%;top:40%;margin: auto 0;color: black" (click)="CerrarModal()">keyboard_arrow_left</mat-icon>
    <img style="margin: auto;height: 30%" src="{{billingService.ProviderInfo.LogoURL}}">
  </div>
  <!--  CUERPO-->
  <div style="width: 100%;height: 90%;display: flex;flex-direction: column">
    <!--    SUB HEDER-->
    <div style="width: 100%;height: 8%;padding-left: 10%;border-bottom: solid 12px #FBF489;display: flex">
      <mat-label style="margin: auto 0;font-weight: bold;font-size: 200%;color: black">Checkout</mat-label>
    </div>
    <!--    SUB CUERPO-->
    <div style="width: 80%;margin: 0 auto;height: 92%;display: flex;flex-wrap: wrap;flex-direction: column">
      <!--      &lt;!&ndash;      PRODUCTOS&ndash;&gt;-->
      <!--      <div style="height: calc(49% - 5px*2);width: calc(30% - 5px*2);margin: 5px;background-color: #FF0000"></div>-->
      <!--      &lt;!&ndash;      PRODUCTOS&ndash;&gt;-->
      <!--      <div style="height: calc(49% - 5px*2);width: calc(30% - 5px*2);margin: 5px;background-color: #FF0000"></div>-->
      <!--      &lt;!&ndash;      PRODUCTOS&ndash;&gt;-->
      <!--      <div style="height: calc(59% - 5px*2);width: calc(40% - 5px*2);margin: 5px;background-color: #FF0000"></div>-->
      <!--      &lt;!&ndash;      PRODUCTOS&ndash;&gt;-->
      <!--      <div style="height: calc(49% - 5px*2);width: calc(60% - 5px*2);margin: 5px;background-color: #FF0000"></div>-->
      <!--      &lt;!&ndash;      PRODUCTOS&ndash;&gt;-->
      <!--      <div style="height: calc(39% - 5px*2);width: calc(40% - 5px*2);margin: 5px;background-color: #FF0000"></div>-->
      <!--      CONTENEDOR-->
      <div style="height: calc(49% - 5px*2);width: calc(60% - 5px*2);margin: 5px;display: flex;justify-content: space-between">
        <!--      PRODUCTOS-->
        <div class="ScrollBar" style="height: 100%;width: 48%;display: flex;flex-direction: column;overflow: auto">
          <div style="display: flex;flex-direction:column;box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.28);justify-content: space-evenly;width: 92%;margin: 10px auto;height: 8vh;flex-wrap: wrap;border-radius: 10px" *ngFor="let product of inventoryService.cartService.ListaTablaProductosSeleccionados">
            <mat-label style="margin: 0 auto;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;font-weight: bold;font-size: 70%;color: black;width: 35%;">{{product.description}}</mat-label>
            <mat-label *ngIf="locStorage.getidCountry() == 'ES'"  style="margin:0 auto;font-size: 70%;width: 35%;">Unidad {{product.price | currency  : 'EUR' : 'symbol' : '1.0'}}</mat-label>
            <mat-label *ngIf="locStorage.getidCountry() != 'ES'"  style="margin:0 auto;font-size: 70%;width: 35%;">Unidad {{product.price | currency  : 'USD' : 'symbol' : '1.0'}}</mat-label>
            <div style="margin:0 auto;height: 100%;width: 15%;display: flex"><mat-label style="margin:auto;font-weight: bold;font-size: 120%;width: 100%">{{product.quantity}}</mat-label></div>
            <div style="margin:0 auto;height: 100%;width: 25%;display: flex">
              <mat-label *ngIf="locStorage.getidCountry() == 'ES'" style="margin:auto;font-size: 100%;width: 100%;text-align: center">{{GetItemPrice(product) | currency  : 'EUR' : 'symbol' : '1.0'}}</mat-label>
              <mat-label *ngIf="locStorage.getidCountry() != 'ES'" style="margin:auto;font-size: 100%;width: 100%;text-align: center">{{GetItemPrice(product) | currency  : 'USD' : 'symbol' : '1.0'}}</mat-label>
            </div>
          </div>
        </div>
        <!--      FECHA ENTREGA-->
        <div style="height: 100%;width: 48%;display: flex;flex-direction: column">
          <mat-label style="margin: 0 auto;font-weight: bold;font-size: 100%;color: black">Programa tu pedido</mat-label>
          <mat-radio-group aria-label="Select an option" disabled style="width: 100%;display: flex;justify-content: space-evenly;margin-top: 5px">
            <mat-radio-button value="1" checked>Ahora</mat-radio-button>
            <mat-radio-button value="2">Otra fecha</mat-radio-button>
          </mat-radio-group>
          <!--          -->
          <div style="width: 100%;flex: auto;display: flex;flex-direction: column">
            <img style="margin: auto;width: 80%;opacity: 0.5;" src="assets/temp.PNG">
          </div>
        </div>
      </div>
      <!--      DIRECCIÓN ENTREGA-->
      <div style="height: calc(49% - 5px*2);width: calc(60% - 5px*2);margin: 5px;display: flex;">
        <!--    Mostrar dirección de entrega-->
        <div style="width: 40%;display: flex;flex-direction: column;margin: auto 0;height: 100%">
          <div style="width: 100%;display: flex;flex-direction: column;min-height: 30%">
            <mat-label style="padding-top: 10px;font-weight: bold;font-size: 2vmin;">Origen</mat-label>
            <mat-label style="padding-top: 10px;text-transform: capitalize;font-size: 2vmin;">{{this.billingService.ProviderInfo.Name.toLowerCase()}}</mat-label>
            <mat-label style="padding-top: 10px;text-transform: capitalize;font-size: 2vmin;">{{this.billingService.ProviderInfo.CityName.toLowerCase()}},{{this.billingService.ProviderInfo.Address}}</mat-label>
          </div>
          <div style="width: 100%;display: flex;flex-direction: column;min-height: 30%">
            <mat-label style="padding-top: 10px;font-weight: bold;font-size: 2vmin;">Destino</mat-label>
            <mat-label style="padding-top: 10px;text-transform: capitalize;font-size: 2vmin;">{{this.accountService.GetNormalName().toLowerCase()}}</mat-label>
            <mat-label style="padding-top: 10px;text-transform: capitalize;font-size: 2vmin;">{{this.accountService.usuarioCompleto.city_NAME.toLowerCase()}},{{this.accountService.usuarioCompleto.address}}</mat-label>
          </div>
          <mat-label style="margin-bottom: 0;font-size: 2vmin;margin-top: 10px;text-align: left" *ngIf="Distancia > 0"><b>Distancia:</b> {{this.Distancia/1000 | number:'1.0-1'}} km</mat-label>
          <mat-label style="margin-bottom: 0;font-size: 2vmin;margin-top: 10px;text-align: left" *ngIf="Distancia <= 0">Distancia: Mayor a 50 km</mat-label>

        </div>
        <!--      contenedor mapa-->
        <div style="width: 60%;height: 90%;overflow: hidden;border-radius: 20px;display: flex;position: relative;">
          <!--                    PUNTO EN EL CENTRO-->
          <div style="margin: auto;border-radius: 40px;width: 10px;height: 10px;background-color: red;z-index: 1"></div>
          <!--                    EL MAPA COMO TAL-->
          <div style="position: absolute;height: 100%;width: 100%;" >
            <app-here-map #ElMap appId="EMebuedoPRx7d9k0fCQn" appCode="nlzkZnNOoP5qeVGUW2ujGg" lat="3.9638013527816924" lng="-73.31064117957077"></app-here-map>
          </div>
          <div style="background-color: #777777b3;position: absolute;height: 100%;width: 100%;overflow: hidden;display: flex;z-index: 10" *ngIf="CargandoMapa">
            <ngx-loading [show]="CargandoMapa" [config]="{animationType: this.commonOperations.ngxLoadingAnimationTypes.rectangleBounce, primaryColour: 'rgb(5, 53, 107)', backdropBorderRadius: '3px'}"></ngx-loading>
          </div>
          <div style="background-color: #e0e6ea00;position: absolute;height: 100%;width: 100%;overflow: hidden;display: flex;z-index: 10" >
          </div>
        </div>
      </div>
      <!--      RESUMEN-->
      <div style="height: calc(59% - 5px*2);width: calc(40% - 5px*2);margin: 5px;display: flex;flex-direction: column;justify-content: space-between">
        <mat-label style="font-weight: bold;font-size: 100%;color: black;margin-left: 3%">Resumen</mat-label>
        <div style="margin: auto;box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.28);height: 90%;width: 95%;border-radius: 10px;display: flex">
          <div style="display: flex;flex-direction: column;width: 85%;height: 85%;margin: auto;justify-content: space-evenly">
            <div style="display: flex;">
              <mat-label style="margin-right: auto;font-weight: bold">Subtotal:</mat-label>
              <mat-label *ngIf="locStorage.getidCountry() == 'ES'" >{{this.inventoryService.cartService.ValorSubTotalTabla | currency  : 'EUR' : 'symbol' : '1.0-2'}}</mat-label>
              <mat-label *ngIf="locStorage.getidCountry() != 'ES'" >{{this.inventoryService.cartService.ValorSubTotalTabla | currency  : 'USD' : 'symbol' : '1.0-2'}}</mat-label>
            </div>
            <div style="display: flex;">
              <mat-label style="margin-right: auto;font-weight: bold">IVA:</mat-label>
              <mat-label *ngIf="locStorage.getidCountry() == 'ES'" >{{this.inventoryService.cartService.ValorImpuestoTabla | currency  : 'EUR' : 'symbol' : '1.0-2'}}</mat-label>
              <mat-label *ngIf="locStorage.getidCountry() != 'ES'" >{{this.inventoryService.cartService.ValorImpuestoTabla | currency  : 'USD' : 'symbol' : '1.0-2'}}</mat-label>
            </div>
            <div style="display: flex;">
              <mat-label style="margin-right: auto;font-weight: bold">Envío:</mat-label>
              <mat-label *ngIf="locStorage.getidCountry() == 'ES'">{{roundnum(0) | currency  : 'EUR' : 'symbol' : '1.0'}}</mat-label>
              <mat-label *ngIf="locStorage.getidCountry() != 'ES'">{{roundnum(0) | currency  : 'USD' : 'symbol' : '1.0'}}</mat-label>
            </div>
            <div style="display: flex;">
              <mat-label style="margin-right: auto;font-weight: bold">Descuento:</mat-label>
              <mat-label *ngIf="locStorage.getidCountry() == 'ES'">{{roundnum(0) | currency  : 'EUR' : 'symbol' : '1.0'}}</mat-label>
              <mat-label *ngIf="locStorage.getidCountry() != 'ES'">{{roundnum(0) | currency  : 'USD' : 'symbol' : '1.0'}}</mat-label>
            </div>
            <div style="display: flex;background-color: #FBF489;height: 10%;width: 100%">
              <mat-label style="margin: auto;font-weight: bold">¡Click aquí para ingresar tu cupón!</mat-label>
            </div>
            <div style="width: 100%;height: 2px;background-color: black"></div>
            <div style="display: flex;justify-content: space-around">
              <mat-label style="font-size: 120%">TOTAL</mat-label>
              <mat-label *ngIf="locStorage.getidCountry() == 'ES'" style="font-size: 120%;font-weight: bold">{{this.inventoryService.cartService.ValorTotalTabla | currency  : 'EUR' : 'symbol' : '1.0'}}</mat-label>
              <mat-label *ngIf="locStorage.getidCountry() != 'ES'" style="font-size: 120%;font-weight: bold">{{this.inventoryService.cartService.ValorTotalTabla | currency  : 'USD' : 'symbol' : '1.0'}}</mat-label>
            </div>
            <!--            <div style="display: flex;margin: auto;height: 65%;"><p style="margin: 0;font-size: 3vw;margin-top: 5px">Mediante {{this.MetodosPago[this.MetodoPagoSeleccionado][1]}}</p></div>-->
          </div>
        </div>
      </div>
      <!--      METODO DE PAGO-->
      <div style="height: calc(39% - 5px*2);width: calc(40% - 5px*2);margin: 5px;display: flex;flex-direction: column">
        <mat-label style="font-weight: bold;font-size: 100%;color: black;margin-left: 3%">Método de pago</mat-label>
        <mat-radio-group [(ngModel)]="MetodoPagoSeleccionado" style="display: flex;flex-direction: column;margin: 0 auto;width: 90%;justify-content: space-evenly;height: 60%;">
          <mat-radio-button *ngFor="let metodo of MetodosPago;" [value]="metodo[0]">
            {{metodo[1]}}
          </mat-radio-button>
        </mat-radio-group>
        <button mat-flat-button style="width: 85%;height: 20%;font-weight: bold;border: unset;cursor: pointer;background-color:#FFF385;font-size: 120%;margin: 0 auto" color="primary" (click)="CompletarPedido()">Completar pedido</button>
      </div>
    </div>
  </div>
</div>
