<div class="container">
  <div class="row">
    <mat-card class="example-full-width text-center mat-elevation-z12">
      <mat-card-title class="text-center">
        <div class="row">
            <span >
                <h3> <b>{{currentCode?.product.name_product }}</b></h3>
              </span>
              <span class="fill-space"></span>
              <span>
                  <mat-card class="tky-rigth text-center">
                      <h5>{{currentCode?.code.code}}</h5>
                      <span>Código de Barras</span>
                  </mat-card>
              </span>
        </div>
      </mat-card-title>
           
    </mat-card>

  </div>
  <br>
  <div class="row">
      <div class="col col-4 text-center mat-elevation-z6">
        <div class="container">
          <h3><strong>Descripción del Producto</strong></h3>
        </div>
        <div class="main-content">
            <p class="category">
                {{currentCode?.product.description_product }}
            </p>
        </div>
        
          
  
      </div>
      <div class="col col-8">

          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img class="d-block w-100" src="https://elandroidelibre.elespanol.com/wp-content/uploads/2015/03/tienda-google.png" alt="First slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="http://conservasasturias.com/WebRoot/StoreES3/Shops/eb7242/MediaGallery/ya.jpg" alt="Second slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="http://conservasasturias.com/WebRoot/StoreES3/Shops/eb7242/MediaGallery/ya.jpg" alt="Third slide">
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
  
      
      
          </div>
  </div>
<br>
  <div class="row">
    <div class="col">
      <mat-card class="text-center" >
        <mat-card-header class="text-center">
            <mat-card-title> <b>Desc. Producto</b></mat-card-title>
            <img mat-card-sm-image src="http://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo">
        </mat-card-header>
          
          <br>
          <mat-card-content class="text-center">
              <p>
                  Categoria :{{category.common?.name}} <br>
                  Num. Impuesto :{{currentCode?.product.id_tax?currentCode?.product.id_tax:'No Tiene' }} <br>
                  Stock   :{{currentCode?.product.stock }} <br>
                  Stock Min:{{currentCode?.product.stock_min }} <br>
                 
              </p>
            </mat-card-content>
            <mat-card-footer>
              <button mat-button> {{currentCode?.product.creation_product}} </button>
              <button mat-button> {{currentCode?.product.modify_product }}</button>
            </mat-card-footer>
      </mat-card>
      

    </div>
    <div class="col">
        <mat-card class="text-center" >
            <mat-card-header class="text-center">
              <mat-card-title> <b>Producto Tercero</b></mat-card-title>
                <img mat-card-sm-image src="http://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo">
            </mat-card-header>
              
              <br>
              <mat-card-content class="text-center">
                  <p>
                      Categoria Personalizada : {{currentCode?.description.id_category_third?currentCode?.description.id_category_third:'No tiene' }} <br>
                      Precio Estandar : {{currentCode?.description.standard_price}} <br>
                      Precio Minimo : {{currentCode?.description.min_price}} <br>
                      Ubicación : {{currentCode?.description.location}} <br>

                  </p>
                </mat-card-content>
                <mat-card-footer>
                  <button mat-button> {{currentCode?.description.creation_prod_third}} </button>
                  <button mat-button> {{currentCode?.description.modify_prod_third }}</button>
                </mat-card-footer>
          </mat-card>
          <br>
          <mat-card class="text-center" >
              <mat-card-header class="text-center">
                <mat-card-title> <b>Código de Barras</b></mat-card-title>
                  
              </mat-card-header>
              
                <br>
                <mat-card-content class="text-center">
                  <h2 class="title">Atributo {{currentCode?.code.id_attribute_list}} <mat-icon matTooltip="Ver Detalle Atributo" (click)="detailProduct(currentCode?.code.id_attribute_list)">visibility</mat-icon></h2>
                  Código de Barras: {{currentCode?.code.code}}
                    
                  </mat-card-content>
                  <mat-card-footer>
                    <button mat-button> {{currentCode?.code.creation_cod}} </button>
                    <button mat-button> {{ currentCode?.code.modify_cod }} </button>
                  </mat-card-footer>
            </mat-card>
  
          
     </div>
    <div class="col">
        <mat-card class="text-center" >
            <mat-card-header class="text-center">
              <mat-card-title> Unidad de Medida</mat-card-title>
                <img mat-card-sm-image src="http://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo">
            </mat-card-header>
              
              <br>
              <mat-card-content class="text-center">
                  <p>
                    <span *ngIf=" currentCode?.description.measure_unit.id_measure_unit_father>0">Sub Unidad de Medida <br></span>
                    <span *ngIf="0>= currentCode?.description.measure_unit.id_measure_unit_father ">Unidad de Medida <br> </span>
                      Nombre :{{currentCode?.description.measure_unit.name_measure_unit}} <br>
                  </p>
                  <p>
                      Descripcion: <br>
                      {{currentCode?.description.measure_unit.description_measure_unit}}  
                  </p>
                </mat-card-content>
                <mat-card-footer>
                  <button mat-button> {{currentCode?.description.measure_unit.creation_measure_unit}} </button>
                  <button mat-button> {{currentCode?.description.measure_unit.modify_measure_unit}}</button>
                </mat-card-footer>
          </mat-card>  
  

         </div>
  </div>
  <div class="card">

  </div>
    

  <button mat-button routerLink="/dashboard/business/product-third"> Atras </button>
</div>