.WelcomMSGoculto{
  opacity: 0 !important;
  transition: all 1s ease-in;
}
.WelcomMSGmostrando{
  opacity: 1 !important;
  transition: all 1s ease-in;
}

.ContenedorLoading{
  display: flex;
  left: 0;
  width: 100%;
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 1000;
}

.wrapper2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  background-color: #f5f5f5;
}

.ThePreLoader {
  height: 200px;
  width: 40vw;
  margin: auto;
  margin-top: 5vh;
}
.loader--dot {
  animation-name: loader;
  animation-timing-function: ease-in-out;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background-color: black;
  position: absolute;
  border: 2px solid white;
}
.loader--dot:first-child {
  background-color: #8cc759;
  animation-delay: 0.5s;
}
.loader--dot:nth-child(2) {
  background-color: #8c6daf;
  animation-delay: 0.4s;
}
.loader--dot:nth-child(3) {
  background-color: #ef5d74;
  animation-delay: 0.3s;
}
.loader--dot:nth-child(4) {
  background-color: #f9a74b;
  animation-delay: 0.2s;
}
.loader--dot:nth-child(5) {
  background-color: #60beeb;
  animation-delay: 0.1s;
}
.loader--dot:nth-child(6) {
  background-color: #fbef5a;
  animation-delay: 0s;
}
.loader--text {
  /*position: absolute;*/
  top: 200%;
  left: 0;
  right: 0;
  width: 10rem;
  margin: auto;
  text-align: center;
  padding-top: 5vh;
}
.loader--text:after {
  content: "Cargando";
  font-weight: bold;
  animation-name: loading-text;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes loader {
  15% {
    transform: translateX(0);
  }
  45% {
    transform: translateX(40vw);
  }
  65% {
    transform: translateX(40vw);
  }
  95% {
    transform: translateX(0);
  }
}
@keyframes loading-text {
  0% {
    content: "Cargando";
  }
  25% {
    content: "Cargando.";
  }
  50% {
    content: "Cargando..";
  }
  75% {
    content: "Cargando...";
  }
}

.ContenedorLineasAnimation{
  transition: all 0.8s ease-out;
  overflow:hidden;
}

.SidebarOpcion{
  display: flex;
  width: 100%;
  height: 10%;
  ion-icon{
    width: 20%;
    margin: auto 0;
    font-size: x-large;
    color: red;
  }
  ion-label{
    flex: auto;
    margin: auto 0;
    font-size: large;
  }
}

.EstiloCarrito{
  margin: auto;
  display: flex;
  background-color: #FAD263;
  width: 44%;
  height: 7.5%;
  border-radius: 30px;
  padding-right: 10px;
  position: absolute;
  border: solid 1px #a6a6a6;
  bottom: 2%;
  left: 27%;
}

.ContenedorImagen{
  height: 70%;
  width: 100%;
  text-align: center;
}

.TextoCategoria{
  flex: auto;
  text-transform: capitalize;
  //white-space:nowrap;
  text-align: center;
  //padding: 4px;
  //background-color: #178ec7;
  color: inherit;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ContenidoLinea{
  height: 100%;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.AjusteImg{
  height: 100%;
  width: 100%;
}

.ContenedorLinea{
  margin: 0;
  display: flex;
  float:left;
  width: calc(33vw - 12px);
  margin-top: 10px;
  margin-left: 10px;
  height: 15vh;
  color: #f2f2f1;
  background-color: #58A7DF;
  border: solid 2px #58A7DF;
  border-radius: 10px;
  overflow: hidden;
}

.ContenedorLinea:after{clear:both}


.TarjetaPedido{
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  border: solid 2px #FAD263;
  padding: 5px;
  width: 100%;
  height: 14vh;
  margin: 0 auto;
  margin-top: 10px;
}
