<footer>
    <div class="container-fluid">
        <nav class="pull-left">
                <ul *ngIf="!token">
                        <li>
                            <a href="#">
                                Tienda 724
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                About Us
                            </a>
                        </li>
                        <li>
                            <a href="#"> 
                                Blog
                            </a>
                        </li>
                        <li>
                            <a routerLink="/auth">
                                Iniciar Sesión
                            </a>
                        </li>
        
                    </ul>
            <ul *ngIf="token">
                <li>
                    <a href="#">
                        Tienda 724
                    </a>
                </li>
                <li>
                    <a href="#">
                        About Us
                    </a>
                </li>
                <li>
                    <a href="#"> 
                        Blog
                    </a>
                </li>
                <li>
                    <a routerLink="/dashboard/business">
                        DASHBOARD
                    </a>
                </li>

            </ul>
        </nav>
        <p class="copyright pull-right tky-right">
            &copy; {{test | date: 'yyyy'}} <a target="_black" href="http://proveedor.com/">Entidad</a>
            
        </p>
    </div>
</footer>
