
    <mat-card-header style="background-color:rgb(5, 53, 107);margin:0px;padding:20px">
      <mat-card-title style="font-family: Roboto;font-size: 1.3em; font-weight: 700; margin-bottom:15px; color:white"><span *ngIf="editingBrand">Editando</span><span *ngIf="!editingBrand">Agregando</span> marca</mat-card-title>
    </mat-card-header>
    <mat-card-content style="padding:20px">
        <form #muForm="ngForm" class="my-form" (ngSubmit)="createBrand()">
          <div class="row">
            <div class="col">
            <mat-form-field>
              <input [(ngModel)]="brandToPost.brand" matInput class="text-center" type="text" placeholder="Nombre de la marca" id="reader" autofocus type="text" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
            <mat-form-field>
              <input [(ngModel)]="brandToPost.url_img" matInput class="text-center" type="text" placeholder="Url de la imagen" id="reader" autofocus type="text" [ngModelOptions]="{standalone: true}">
            </mat-form-field>  
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button mat-stroked-button color="primary" type="submit" [disabled]="!muForm.valid"><span *ngIf="!editingBrand">Agregar</span><span *ngIf="editingBrand">Editar</span> Marca</button>          
          </div>
        </div>
        </form>
    </mat-card-content>
