.no-spin::-webkit-inner-spin-button, .no-spin::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
  -moz-appearance:textfield !important;
}
table {
    width: 100%;
    th{
      font-weight: 800;
    }
  }
  
  mat-form-field{
    width: 100%;
    font-size:1.2em;
  }
  .example-card {
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  
  .img-table {
    max-width: 100px;
    max-height: 100px;
  }
  
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
  .row{
    padding-top:25px;
  }
  
  
  .card2:hover {
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  }
  .card2{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .img-card {
  width: 100%;
  height:200px;
  border-top-left-radius:2px;
  border-top-right-radius:2px;
  display:block;
    overflow: hidden;
  }
  .img-card img{
  width: 100%;
  height: 200px;
  object-fit:cover;
  transition: all .25s ease;
  }
  .card2-content {
  padding:15px;
  text-align:left;
  }
  .card2-title {
  margin-top: 10px;
  font-weight: 700;
  font-size: 1.65em;
  }
  .card2-title a {
  color: #000;
  text-decoration: none !important;
  }
  .card2-read-more {
  border-top: 1px solid #D4D4D4;
  }
  .card2-read-more a {
  text-decoration: none !important;
  padding:5px;
  font-weight:600;
  text-transform: uppercase
  }