<div style="margin-top:-10vh"> 
    <span *ngIf="tipoFactura=='compra'">
      
      <!-- <div class="row">
        <div class="col-12">
          <div class="card card-nav-tabs">
            <div class="card-header card-header-danger" style ="background: linear-gradient(60deg, #ef5350, #e53935)">
              <h4 class="title">Selecciona el tercero para la factura</h4>
              <p class="title">Si es un usuario ocasional no necesitas editar nada.</p>
            </div> 
            <div class="card-body">
              <div class="row">
                <div class="col"> 
                  
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card card-nav-tabs">
            <div class="card-header card-header-danger">
              <h3 class="title">Vendedor</h3>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h4>
                    <b>Nombre:</b> {{vendedor.fullname}}
                  </h4>
                  <h4>
                    <b>Cargo:</b> {{vendedor.cargo}}
                  </h4>
                  <h4>
                    <b>Caja N°:</b> 1
                  </h4>
                </div>
              </div>
            </div>
          </div>
        </div> 
      </div> -->
      <mat-card style="height: 100%;width:100%;padding:0px">
      <mat-card-header style="background-color:rgb(5, 53, 107);margin:0px;padding:10px">
    
          <mat-card-title style="font-family: Roboto;font-size: 1.3em; font-weight: 700; margin-bottom:10px; color:white">Registro de Compra</mat-card-title>
          <mat-card-subtitle style="font-size: 0.8em;font-weight: 300;text-emphasis: left; color:white;margin-bottom:0px">Completar el formulario para registrar una compra.</mat-card-subtitle>
      </mat-card-header>
      </mat-card>
      <mat-card>
      <mat-card-content>
        <div class="row" >
          <div class="col">
                   <div class="col" *ngIf="tab == 0">
                      <div class="row">
                          <div class="col-3">
                            <mat-form-field>
                              <input matInput class="text-center" type="text"  placeholder="Documento Proveedor"  (keyup.enter)="searchClient($event)" [(ngModel)]="ccClient" #nameot>
                            </mat-form-field>
                          </div>
                          <div class="col-1"> 
                            <button (click)="searchClient2()" mat-stroked-button color="primary" type="submit">Buscar</button>
                          </div>
                          <div class="col-2" style="margin-bottom: px;margin-top: 0px;"> 
                            <h4>Proveedor: </h4>{{cliente}}
                          </div>
                          <div class="col-2" style="margin-bottom: px;margin-top: 0px;"> 
                            <h4>Documento: </h4>{{clientData.document_type}} - {{clientData.document_number}}
                          </div>
                          <div class="col-2" style="margin-bottom: px;margin-top: 0px;"> 
                            <h4>Telefono: </h4>{{clientData.phone}}
                          </div>
                          <div class="col-2" style="margin-bottom: px;margin-top: 0px;"> 
                            <h4>Direccion: </h4>{{clientData.address}}
                          </div>
                    </div>
                          <div class="row">
                            <div class="col-2">
                                <mat-form-field>
                                    <input [(ngModel)]="inputForCode" matInput class="text-center" type="text" placeholder="Código de producto" #nameit (keyup.enter)="addDetail($event)" (ngModelChange)="listLoad()">
                                </mat-form-field>
                            </div>
                            
                            <!-- <div class="col">
                              <mat-form-field>
                                <input matInput placeholder="N° de pedido" formControlName="number_order">
                                <mat-error *ngIf="form.controls.number_order.errors && form.controls.number_order.touched">
                                  <mat-error *ngIf="form.controls.number_order.errors.required">
                                    El Numero de Pedido es
                                    <strong>requerido</strong>
                                  </mat-error>
                                  <mat-error *ngIf="form.controls.number_order.errors.pattern">
                                    El Numero de Pedido tiene formato
                                    <strong> No valido</strong>
                                  </mat-error> 
                                </mat-error>
                              </mat-form-field>
                            </div> -->
                            <div class="col-2">
                                <mat-form-field>
                                  <input matInput [matDatepicker]="picker3" placeholder="Fecha de Compra" [(ngModel)]="date3">
                                  <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                                  <mat-datepicker #picker3 disabled="false"></mat-datepicker>
                                </mat-form-field>  

                            </div>
                            <div class="col-2"> 
                              <mat-form-field>
                                <input matInput class="text-center" type="text" placeholder="Numero de factura" [(ngModel)]="datos" >
                              </mat-form-field>
                            </div>
                            <div class="col-6">
                              <button mat-stroked-button color="primary" type="button" (click)="openCategories2()">Busqueda de Productos</button>
                              <button mat-stroked-button color="primary" type="button" (click)="quickConfirm()" [disabled]="((this.setObject.length==0) || (this.clientData.document_type=='--') || (datos=='') || (date3==''))">Confirmar transacción</button>
                              <!-- <button mat-stroked-button color="primary" type="button" (click)="openDialogTransactionConfirm(2,2)" [disabled]="!setObject.length">Confirmar transacción</button> -->
                              <button mat-stroked-button color="warn" type="button" (click)="cancel()">Cancelar</button>
                            </div>
                          </div>


                      
                      <div class="row">
                        <div class="col-6" >
                          <div class="row" style="max-height: 180px; overflow-y: scroll; margin-top: -45px;text-align: center;"  >
                            <div class="row" style="width: 80%;margin-top:-25px;text-align: center;" *ngFor="let item of listaElem">
                              <div class="col" style="text-align: center;" (click)="addDetail2(item.ownbarcode)">
                                {{item.product_STORE_NAME}} - {{item.ownbarcode}} - {{item.product_STORE_CODE}} 
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                     
                      
                      <div class="row" style="text-align:center;width: 100%">
                          <div class="col">
                                  <h5 class="left-scroll">
                                      Subtotal: {{calculateSubtotal() | currency  : 'USD' : 'symbol' : '1.0'}} 
                                  </h5>
                                  <!-- <h3 class="left-scroll">
                                      {{calculateSubtotal() | currency  : 'USD' : 'symbol' : '1.0'}}
                                  </h3> -->
                              </div>
                              <div class="col">
                                  <h5 class="left-scroll">
                                      Impuesto: {{calculateTax() | currency  : 'USD' : 'symbol' : '1.0'}}
                                  </h5>
                                  <!-- <h3 class="left-scroll">
                                      {{calculateTax() | currency  : 'USD' : 'symbol' : '1.0'}}
                                  </h3> -->
                              </div>
                          <div class="col">
                              <h5 class="left-scroll">
                                  Total: {{calculateSubtotal()+calculateTax() | currency  : 'USD' : 'symbol' : '1.0'}}  
                              </h5>
                              <!-- <h3 class="left-scroll">
                                  {{calculateSubtotal()+calculateTax() | currency  : 'USD' : 'symbol' : '1.0'}}
                              </h3> -->
                          </div>
                        </div>
                        <div class="row" style="text-align: center">
                          <div class="col" style="text-align: center">
                            <!-- <button mat-stroked-button color="primary" type="button" [disabled]="!locStorage.getBoxStatus()" (click)="quickConfirm()">Confirmacion Rapida</button> -->
                          </div>
                        </div>
                    </div>
                <!-- <div class="row">
                  <div class="col" *ngIf="tab == 0">
                      <div class="float-left">
                        <button mat-stroked-button color="primary" type="submit" (click)="openDialogSearchProduct()">Busqueda</button>
                      </div>
                      <div class="float-right">
                        <button mat-stroked-button color="primary" type="submit" (click)="openDialogClient()">Registrar Cliente</button>
                        <button mat-stroked-button color="primary" type="submit" (click)="openDialogSearchClient()">Cargar Cliente</button>
                      </div> 
                  </div>
      
                </div> --> 
      
    
    
    
     
    
                        <div class="table-responsive" style="width: 100%;max-height: 385px; overflow-y: scroll;">
                            <div class="text-center" *ngIf="setObject.length==0" style="margin-top: 10px">
                              <i class="material-icons">
                                <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                              </i>
                              <h4>
                                Productos
                              </h4>
                            </div>
                          <br>
                        <br>
                        <table class="table table-hover" style="text-align: center" *ngIf="setObject.length>0">
                          <thead>
                            <tr>
                              <th class="text-center">Código</th>
                              <th class="text-center">Producto</th>
                              <th class="text-center">Cantidad</th>
                              <th class="text-center">Precio de Venta</th>
                              <th class="text-center">Costo Actual</th>
                              <th class="text-center">Ubicacion</th>
                              <th class="text-center">Total</th>
                              <th class="text-center"> </th>
                              <th class="text-center" [hidden]="true"> </th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let key of setObject; let idx= index; let last= last;">
                              <td class="text-center">{{productsObject[key].code}}</td>
                              <td>{{productsObject[key].description}}</td>
                              <td class="text-center">
                                <mat-form-field style="width:2vw"> 
                                    <input [(ngModel)]="productsObject[key].quantity" matInput type="number" id="reader" autofocus  class="no-spin text-center">
                                </mat-form-field>
                              </td>
                              <td class="text-center"> 
                                <mat-form-field>
                                  <mat-select [(value)]="productsObject[key].priceGen" >
                                    <mat-option *ngFor="let price of productsObject[key].pricelist" [value]="price.price"> {{price.price_DESCRIPTION}} - {{price.price | currency  : 'USD' : 'symbol' : '1.0'}} </mat-option>
                                  </mat-select>
                                </mat-form-field>
                              </td>
                              <td>
                                <mat-form-field style="width:5vw"> 
                                  <input currencyMask [options]="{ precision: 0 }" [(ngModel)]="productsObject[key].price" matInput class="text-center" type="number" id="reader" autofocus type="text">
                                </mat-form-field>
                              </td>
                              <!-- <td class="text-center">{{productsObject[key].price | currency}}</td> -->
                              <td class="text-center">
                                <mat-form-field>
                                  <mat-select [(value)]="productsObject[key].id_storage" >
                                    <mat-option *ngFor="let storage of storageList" [value]="storage.id_storage"> {{storage.storage_name}} </mat-option>
                                  </mat-select>
                                </mat-form-field>
                                </td>
                              <td class="text-center">{{ calculateTotalPrice(key) | currency  : 'USD' : 'symbol' : '1.0'}}</td>
                              <td class="text-center">
                                <div>
                                  <button mat-icon-button color="warn" (click)="upQuantity(key)">
                                    <mat-icon aria-label="Example icon-button with a heart icon">keyboard_arrow_up</mat-icon>
                                  </button>
                                  <button mat-icon-button color="warn" (click)="downQuantity(key)">
                                    <mat-icon aria-label="Example icon-button with a heart icon">keyboard_arrow_down</mat-icon>
                                  </button>
                                  <button mat-icon-button color="warn" (click)="individualDelete(key)">
                                    <mat-icon aria-label="Example icon-button with a heart icon">clear</mat-icon>
                                  </button>
                                </div>
                              </td>
                              <td [hidden]="true">

                                
                                <button mat-stroked-button color="primary" type="button" (click)="putStandardPrice(productsObject[key])" [disabled]="productsObject[key].price==productsObject[key].standarPrice">Actualizar Costo</button>
                              </td>
                            </tr> 
                          </tbody>
                        </table>
                        </div>
      <!-- 
                    <mat-tab label="Busqueda de Productos"> 
    
    
                      
                        <div class="row">
                            <div class="col-4">
                                <mat-form-field>
                                  <input matInput placeholder="Nombre" [matMenuTriggerFor]="menu2" [(ngModel)]="searchInput" (change)="searchFilter(1)">
                                </mat-form-field>
                                <mat-menu #menu2="matMenu">
                                  <button mat-menu-item *ngFor="let data of searchData">
                                    {{data.product.code}}
                                  </button>
                                </mat-menu>
                            </div>
                            <div class="col-4">
                              <mat-form-field>
                                <input matInput placeholder="Codigo">
                              </mat-form-field>
                            </div>
                            <div class="col-4">
                              <mat-form-field>
                                <input matInput placeholder="Descripcion">
                              </mat-form-field>
                            </div>
                          </div>
                  
                        <div class="float-right">
                          <button mat-dialog-close class="btn btn-secundary">Cancelar</button>
                          <button class="btn btn-primary">Buscar</button>
                        </div>
    
    
    
                    </mat-tab> -->
    
    
    
    
    
    
          
            <!-- <div class="row">
              <div class="col-12">
                
              </div>
              <div class="col-12">
                
              </div>
            </div> -->
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    </span>
    
    
    
    
    
    
    
    
    