<!-- CONTENEDOR DE TODO EL MODULO DE COMPRA-->
<div style="">
  <!--	EL TITULO, HEADER-->
  <mat-card style="height: 100%;width:100%;padding:0">
    <mat-card-header style="background-color:rgb(5, 53, 107);margin:0;padding:20px">
      <!--			TITULO-->
      <mat-card-title style="font-size: 1.3em; font-weight: 700; margin-bottom:10px; color:white">Detalle Credito</mat-card-title>
      <!--			SUB TITULO-->
      <!-- <mat-card-subtitle style="font-size: 0.8em;font-weight: 300;color:white;margin-bottom:0">Completar el formulario para registrar una compra.</mat-card-subtitle> -->
    </mat-card-header>
  </mat-card>
  <!--	EL CONTENIDO-->
  <mat-card>
    <mat-tab-group [selectedIndex]="tab">
      <mat-tab label="Datos del Credito">
        <div class = "Simple example" style="padding-top: 1%;">
          <div class="row">
            <div class="col">
              <h4>Estado</h4>
              <h5> {{data.element.estado_credito }} </h5>
            </div>
            <div class="col">
              <h4>ID </h4>
              <h5> {{data.element.id_CREDITO}} </h5>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col">
              <h4>Monto del Credito</h4>
              <h5> {{data.element.monto | currency}} </h5>
            </div>
            <div class="col">
              <h4>Cuotas</h4>
              <h5> {{data.element.num_CUOTAS}} </h5>
            </div>
            <div class="col">
              <h4>Fecha Creacion</h4>
              <h5> {{data.element.fecha_CREACION}} </h5>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col">
              <h4>Periodicidad</h4>
              <h5> {{data.element.perdiodicidad_DIAS}}  Dias</h5>
            </div>
            <div class="col">
              <h4>Fecha Desembolso</h4>
              <h5> {{data.element.fecha_DESEMBOLSO}} </h5>
            </div>
            <div class="col">
              <h4>Fecha Aprobacion</h4>
              <h5> {{data.element.fecha_APROBACION}} </h5>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col" *ngIf="data.element.fecha_DESEMBOLSO==null">
              <button mat-raised-button color="primary" (click)="desembolsarCredito()" style="width:90%;">Desembolsar Credito</button>
            </div>
            <div class="col" *ngIf="data.element.fecha_APROBACION==null">
              <button mat-raised-button color="primary" (click)="aprobarCredito()" style="width:90%;">Aprobar Credito</button>
            </div>
          </div>
          <br>
        </div>
      </mat-tab>
      <mat-tab label="Datos del Terceros">
        <mat-tab-group>
          <mat-tab label="Datos del Cliente">
            <div class="row">
              <div class="col">
                <h4>Cliente</h4>
                <h5> {{data.element.cliente}} </h5>
              </div>
              <div class="col">
                <h4>Documento</h4>
                <h5> {{data.element.doccliente}} </h5>
              </div>
              <div class="col">
                <h4>Ciudad</h4>
                <h5> {{data.element.ciudadCliente}} </h5>
              </div>
              <div class="col">
                <h4>Direccion</h4>
                <h5> {{data.element.dircliente}} </h5>
              </div>
              <div class="col">
                <h4>Telefono</h4>
                <h5> {{data.element.phonecliente}} </h5>
              </div>
            </div>
            <br>
          </mat-tab>
          <mat-tab label="Datos del Codeudor">
            <div class="row">
              <div class="col">
                <h4>Codeudor</h4>
                <h5> {{data.element.codeudor}} </h5>
              </div>
              <div class="col">
                <h4>Documento</h4>
                <h5> {{data.element.doccodeudor}} </h5>
              </div>
              <div class="col">
                <h4>Ciudad</h4>
                <h5> {{data.element.ciudadCodeudor}} </h5>
              </div>
              <div class="col">
                <h4>Direccion</h4>
                <h5> {{data.element.dircodeudor}} </h5>
              </div>
              <div class="col">
                <h4>Telefono</h4>
                <h5> {{data.element.phonecodeudor}} </h5>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </mat-tab>
      <mat-tab label="Facturas / Documentos Asociados">
        <mat-tab-group>
          <mat-tab label="Facturas">
            <mat-label style="width: 100%; padding-left:0.5%" *ngIf="this.data.element.id_BILL_FACTURA != 0"> Credito Asociado a Factura </mat-label>
            <mat-form-field appearance = "fill" style="width: 100%; padding-left:0.5%" *ngIf="this.data.element.id_BILL_FACTURA == 0">
              <mat-label> Factura a Buscar </mat-label>
              <input matInput [(ngModel)]="numDoc">
            </mat-form-field>

            <button style="width: 100%; padding-left:0.5%" mat-raised-button color="primary" (click)="buscarFacturas()" *ngIf="this.data.element.id_BILL_FACTURA == 0">Buscar Factura</button>

            <mat-form-field style="width: 100%;" *ngIf="listBills!=[] && this.data.element.id_BILL_FACTURA == 0">
              <mat-label>Facturas para asociar</mat-label>
              <mat-select [(ngModel)]="billToAsociate" >
                <mat-option [value]=-1>Sin Factura</mat-option>
                <mat-option [value]=item.id_bill *ngFor="let item of listBills"> {{item.num_documento}} - {{item.tienda}} </mat-option>
              </mat-select>
            </mat-form-field>

            <button style="width: 100%; padding-left:0.5%" mat-raised-button color="primary" (click)="asociarFactura()" *ngIf="this.data.element.id_BILL_FACTURA == 0 && billToAsociate!=-1">Asociar Factura</button>
          </mat-tab>
          <mat-tab label="Documentos Asociados">
            <div class="row">
              <div class="col">
                <mat-form-field appearance = "fill" style="width:99%; padding-left:0.5%">
                  <mat-label> Nombre Archivo </mat-label>
                  <input matInput  [(ngModel)]="filePseudonimn">
                </mat-form-field>
              </div>
              <div class="col">
                <input type="file" (change)="setFile($event)" #myInput id="file" [hidden]="true">
                <label for="file" class="left-scroll"  style="width: 99%;">
                  <mat-icon>file_copy</mat-icon><div> Selector de Archivo </div>
                </label>
                <h5 style="margin-left: 1%; margin-top: 4%;" >
                  {{urlUploaded}}
                </h5>
              </div>
              <div class="col">
                <button mat-raised-button color="primary" (click)="uploadFile()">Subir Archivo</button>
              </div>
            </div>
            <table mat-table [dataSource]="dataSource"  style="width: 99%;" class="mat-elevation-z8">



              <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->

              <!-- Position Column -->
              <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef> Nombre </th>
                <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
              </ng-container>

              <!-- <ng-container matColumnDef="ruta">
                <th mat-header-cell *matHeaderCellDef> Ruta </th>
                <td mat-cell *matCellDef="let element"> {{element.ruta}} </td>
              </ng-container> -->

              <!-- <ng-container matColumnDef="tipo_DOCUMENTO">
                <th mat-header-cell *matHeaderCellDef> Formato </th>
                <td mat-cell *matCellDef="let element"> {{element.tipo_DOCUMENTO}} </td>
              </ng-container> -->

              <ng-container matColumnDef="others">
                <th mat-header-cell *matHeaderCellDef>  </th>
                <td mat-cell *matCellDef="let element">
                  <button mat-raised-button color="primary" (click)="openFile(element)">Ver Documento</button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </mat-tab>
        </mat-tab-group>
      </mat-tab>
      <mat-tab label="Cuotas">
        <mat-tab-group>

          <mat-tab label="Ver Cuotas / Abonos">
            <h3>Cuotas</h3>
            <table mat-table [dataSource]="dataSource3" class="mat-elevation-z8">

              <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->

              <!-- Position Column -->
              <ng-container matColumnDef="estado_CUOTA">
                <th mat-header-cell *matHeaderCellDef> Estado </th>
                <td mat-cell *matCellDef="let element"> {{element.estado_CUOTA}} </td>
              </ng-container>

              <ng-container matColumnDef="fecha_VENCIMIENTO">
                <th mat-header-cell *matHeaderCellDef> Fecha Vencimiento </th>
                <td mat-cell *matCellDef="let element"> {{element.fecha_VENCIMIENTO}} </td>
              </ng-container>

              <ng-container matColumnDef="valor">
                <th mat-header-cell *matHeaderCellDef> Valor </th>
                <td mat-cell *matCellDef="let element"> {{element.valor | currency}} </td>
              </ng-container>

              <ng-container matColumnDef="others">
                <th mat-header-cell *matHeaderCellDef>  </th>
                <td mat-cell *matCellDef="let element">
                  <button mat-raised-button color="primary" (click)="getAbonos(element)" style="margin-right:10px">Ver Abonos</button>
                  <button mat-raised-button color="primary" (click)="createAbono(element)" *ngIf="element.id_ESTADO_CUOTA!=53">Nuevo Abono</button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns3"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns3;"></tr>
            </table>
            <br *ngIf="newAbonos">
            <h3 *ngIf="newAbonos">Nuevo Abono</h3>
            <div *ngIf="newAbonos">
              <mat-form-field style="width: 100%;">
                <mat-label>Fecha de Abono</mat-label>
                <input matInput [matDatepicker]="picker" [(ngModel)]="fechaAbono">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>

              <mat-form-field style="width: 100%;">
                <mat-label> Valor Abono </mat-label>
                <input matInput currencyMask [options]="{ precision: 0 }" [(ngModel)]="valorAbono">
              </mat-form-field>

              <mat-form-field style="width: 100%;">
                <mat-label>Medio de pago</mat-label>
                <mat-select [(ngModel)]="paymentMethod" >
                  <mat-option value="1">Efectivo</mat-option>
                  <mat-option value="2">Debito</mat-option>
                  <mat-option value="3">Credito</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field style="width: 100%;">
                <mat-label>Medio de pago</mat-label>
                <mat-select [(ngModel)]="selectedDocument" >
                  <mat-option value="-1">Sin Documento</mat-option>
                  <mat-option [value]="item.id_credito_documento" *ngFor="let item of dataSource"> {{item.nombre}} </mat-option>
                </mat-select>
              </mat-form-field>

              <button mat-raised-button color="primary" (click)="postAbono()" style="margin-right:10px">Crear Abono</button>
            </div>
            <br *ngIf="abonos">
            <h3 *ngIf="abonos">Abonos</h3>
            <table mat-table [dataSource]="dataSource4" class="mat-elevation-z8" *ngIf="abonos">

              <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->

              <!-- Position Column -->
              <ng-container matColumnDef="paymentmethod">
                <th mat-header-cell *matHeaderCellDef> Metodo de Pago </th>
                <td mat-cell *matCellDef="let element"> {{element.paymentmethod}} </td>
              </ng-container>

              <ng-container matColumnDef="fecha_ABONO">
                <th mat-header-cell *matHeaderCellDef> Fecha Del Abono </th>
                <td mat-cell *matCellDef="let element"> {{element.fecha_ABONO}} </td>
              </ng-container>

              <ng-container matColumnDef="valor_ABONO">
                <th mat-header-cell *matHeaderCellDef> Valor del Abono </th>
                <td mat-cell *matCellDef="let element"> {{element.valor_ABONO | currency}} </td>
              </ng-container>


              <tr mat-header-row *matHeaderRowDef="displayedColumns4"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns4;"></tr>
            </table>
          </mat-tab>
          <mat-tab label="Nueva Cuota">

                  <mat-form-field style="width: 100%;">
                    <mat-label>Fecha de Cuota</mat-label>
                    <input matInput [matDatepicker]="picker" [(ngModel)]="fechaCuota">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                <!-- <mat-form-field appearance="fill" style="width: 33%; padding-left:0.5%">
                  <mat-label>Fecha de Desembolso</mat-label>
                  <input matInput [matDatepicker]="picker2">
                  <mat-hint>MM/DD/YYYY</mat-hint>
                  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                  <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field> -->
                  <mat-form-field style="width: 100%;">
                    <mat-label> Valor Cuota </mat-label>
                    <input matInput currencyMask [options]="{ precision: 0 }" [(ngModel)]="valorCuota">
                  </mat-form-field>

                  <button mat-raised-button color="primary" (click)="postCuota()">Crear Cuota</button>

          </mat-tab>

        </mat-tab-group>
      </mat-tab>
      <mat-tab label="Ver Logs">
        <h3>Logs</h3>
        <table mat-table [dataSource]="dataSource2" class="mat-elevation-z8">
          <ng-container matColumnDef="fecha">
            <th mat-header-cell *matHeaderCellDef> Fecha </th>
            <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
          </ng-container>

          <ng-container matColumnDef="texto">
            <th mat-header-cell *matHeaderCellDef> Log </th>
            <td mat-cell *matCellDef="let element"> {{element.texto}} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
        </table>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>
