:host ::ng-deep .mat-sort-header-container {
  display: flex;
  font-size: larger;
  justify-content: center;
  font-weight: 800 !important;
}
:host ::ng-deep .mat-header-row {
  height: 32px !important;
}



table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
  color: black;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: #777;
  color: white;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
  color: black;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.collapsed{
  height: 0;
  min-height: 0;
}



[type="file"] + label {
  background:  rgb(5, 53, 107);
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
    font-family: 'Rubik', sans-serif;
    font-size: inherit;
  font-weight: 500;
  margin-bottom: 1rem;
  outline: none;
  padding: 1rem 50px;
  position: relative;
  transition: all 0.3s;
  vertical-align: middle;

  &:hover {
    background-color: rgb(35, 96, 165);
  }

  &.btn-1 {
    background-color: #f79159;
    box-shadow: 0 6px darken(#f79159, 10%);
    transition: none;

    &:hover {
      box-shadow: 0 4px darken(#f79159, 10%);
      top: 2px;
    }
  }

  &.btn-2 {
    background-color: #99c793;
    border-radius: 50px;
    overflow: hidden;

    &::before {
      color: #fff;
      content: "\f382";
      font-family: "Font Awesome 5 Pro";
      font-size: 100%;
      height: 100%;
      right: 130%;
      line-height: 3.3;
      position: absolute;
      top: 0px;
      transition: all 0.3s;
    }

    &:hover {
      background-color: darken(#99c793, 30%);

      &::before {
        right: 75%;
      }
    }
  }

  &.btn-3 {
    background-color: #ee6d9e;
    border-radius: 0;
    overflow: hidden;

    span {
      display: inline-block;
      height: 100%;
      transition: all 0.3s;
      width: 100%;
    }

    &::before {
      color: #fff;
      content: "\f382";
      font-family: "Font Awesome 5 Pro";
      font-size: 130%;
      height: 100%;
      left: 0;
      line-height: 2.6;
      position: absolute;
      top: -180%;
      transition: all 0.3s;
      width: 100%;
    }

    &:hover {
      background-color: darken(#ee6d9e, 30%);

      span {
        transform: translateY(300%);
      }

      &::before {
        top: 0;
      }
    }
  }
}

// Demo specific styles below
body {
  font-family: 'Literata', serif;
  font-size: 18px;
  line-height: 1.3;
  margin: 1rem 0;
  text-align: center;
}

.wrapper {
  background-color: #fff;
  border-radius: 1rem;
  margin: 0 auto;
  max-width: 500px;
  padding: 2rem;
  width: 100%;
}

.footer {
  font-size: .8rem;
  margin-bottom: 0;
  margin-top: 3rem;
}

h1,
p {
  margin-bottom: 2rem;
}

h1 {
  font-family: 'Rubik', sans-serif;
  font-size: 1.7rem;
}

a {
  color: #31c1ef;
  text-decoration: none;
}
