<!-- MAPA -->
<main class="detalle bg_blanco">
    <div class="mapa">

        <div class="punto_cultura unselectable" (click)="culturaFunction()">
            <div class="isla_cultura unselectable">
                <figure>
                    <img src="assets/images/cultura.png" class="img_isla unselectable">
                </figure>
            </div>
        </div>
        <div class="punto_deporte unselectable" (click)="deportesFunction()">
            <div class="isla_deporte unselectable">
                <figure>
                    <img src="assets/images/deporte.png" class="img_isla unselectable">
                </figure>
            </div>
        </div>
        <div class="punto_conocimiento unselectable" (click)="conocimientoFunction()">
            <div class="isla_conocimiento unselectable">
                <figure>
                    <img src="assets/images/conocimiento.png" class="img_isla unselectable">
                </figure>
            </div>
        </div>

        <div class="punto_salud unselectable" (click)="saludFunction()">
            <div class="isla_salud unselectable">
                <figure>
                    <img src="assets/images/salud.png" class="img_isla unselectable">
                </figure>
            </div>
        </div>
        <div class="punto_naturaleza unselectable" (click)="naturalezaFunction()">
            <div class="isla_naturaleza unselectable">
                <figure>
                    <img src="assets/images/naturaleza.png" class="img_isla unselectable">
                </figure>
            </div>
        </div>

        <div class="punto_espacios unselectable" (click)="espaciosFunction()">
            <div class="isla_espacios unselectable">
                <figure>
                    <img src="assets/images/espacios.png" class="img_isla unselectable">
                </figure>
            </div>
        </div>

        <!-- PUBLICACIONES -->

        <!-- PUBLICACION NUEVO USUARIO -->
        <div #testing *ngIf="this.param1!='0' && this.idPregunta!=-1" class="punto_publicacion_nueva unselectable">
            <div class="contenedor_publicacion_nueva" (click)='firstComponentFunction()'>
                <a>
                    <figure>
                        <img src="assets/images/icon_avatar.png" class="img_publicacion">
                    </figure>
                </a>
            </div>
            <div class="contenedor_cta">
                <div class="cta">Arrastre para explorar</div>
            </div>
        </div>


        <!-- PUBLICACION REALIZADA-->
        <!--
        <div class="unselectable"
        [ngStyle]="getMapCoordinates(item)"
        [style.width]="'14%'"
        [style.height]="'2%'"
        [style.z-index]="'9'"
        [style.overflow-y]="'hidden'"
        [style.display]="'flex'"
        [style.flex-wrap]="'wrap'"
        [style.align-items]="'center'"
        *ngFor="let item of listaPublicacionesPadre">
            <div class="contenedor_publicacion">
                <a onclick="$('#Modal3').show(); abrirModal();" (click)="setModalInfo(item)" >
                <figure>
                    <img src="{{item.img_URL}}" class="img_publicacion">
                </figure>
                </a>
            </div>

            <div class="contenedor_nombre">
                <div class="nombre">{{item.username}} <br>{{item.distancia_KMS}} Km de la UN</div>
            </div>
        </div> -->

        <div class="punto_publicacion" [ngStyle]="getMapCoordinates(item)" [style.width]="'14%'" [style.height]="'2%'" [style.z-index]="'9'" [style.overflow-y]="'hidden'" [style.display]="'flex'" [style.flex-wrap]="'wrap'" [style.align-items]="'center'" *ngFor="let item of listaPublicacionesPadre">
            <div class="contenedor_publicacion">
                <a (click)="secondComponentFunction(item)">
                    <!--<figure>
                    <img src="images/icon_avatar_02.png" class="img_publicacion">
                </figure> -->
                    <div class="p_publicacion" [ngStyle]="{'background-image': 'url(' + item.img_URL + ')'}"></div>
                </a>
            </div>

            <div class="contenedor_nombre" *ngIf="item.distancia_KMS >= 8200">
                <div class="nombre">{{item.username}} <br>A varios Km de la UN</div>
            </div>
            <div class="contenedor_nombre" *ngIf="item.distancia_KMS < 8200">
                <div class="nombre">{{item.username}} <br>{{item.distancia_KMS}} Km de la UN</div>
            </div>
        </div>
        <!--

        <div class="punto_publicacion unselectable"
        [ngStyle]="getMapCoordinates(item)"
        [style.width]="'14%'"
        [style.height]="'2%'"
        [style.z-index]="'9'"
        [style.overflow-y]="'hidden'"
        [style.display]="'flex'"
        [style.flex-wrap]="'wrap'"
        [style.align-items]="'center'"
        *ngFor="let item of listaPublicacionesPadre">
            <div class="contenedor_publicacion">
                <a onclick="$('#Modal3').show(); abrirModal();" (click)="setModalInfo(item)">
                <figure>
                    <img src="assets/images/icon_avatar_02.png" class="img_publicacion">
                </figure>
                </a>
            </div>

            <div class="contenedor_nombre">
                <div class="nombre">Laura S. <br>126 Km de la UN</div>
            </div>
        </div> -->

        <!--  PUBLICACION PRUEBA  -->


        <!-- FIN PUBLICACION  -->
        <!-- FIN PUBLICACIONES -->

        <img src="assets/images/mapa.png" class="unselectable img_mapa">
    </div>




    <div class="clouds unselectable"></div>
    <!-- FIN MAPA -->
</main>
<!-- MODAL -->
<div id="Modal1" class="modal_home">
    <div class="modal-contenido">
        <div class="contenedor_cerrar">
            <a onclick="$('#Modal1').hide(); cerrarModal();" class="modal_cerrar pointer">X</a>
        </div>
        <h3 class="modal_titulo">Inicia Sesión</h3>
        <p class="modal_texto">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.</p>
        <input type="text" placeholder="usuario" class="modal_input" [(ngModel)]="user">
        <input type="password" placeholder="contraseña" class="modal_input" [(ngModel)]="password">
        <div class="modal_contenedor_boton">
            <a class="modal_boton_ingresar" href="javascript:void(0)" (click)="ingresar()">Ingresa</a>
        </div>
        <div class="modal_contenedor_boton">
            <a class="modal_boton_continua pointer" href="javascript:void(0)" (click)="mapNoLoggin()">Continúa sin iniciar sesión</a>
        </div>
    </div>
</div>

<!-- FIN MODAL-->

<!-- MODAL PUBLICACION REALIZADA-->
<div id="Modal3" #Modal3 class="modal_home2" style="padding-top: 40%;">
    <div class="modal-contenido2">
        <div class="contenedor_cerrar2">
            <a onclick="$('#Modal3').hide(); cerrarModal();" class="modal_cerrar pointer">X</a>
        </div>

        <div class="contenedor_modal" style="width: 100%;">
            <div class="contenedor_postcard">
                <div class="contenedor_img_postcard">
                    <div [style.width]="'95%'" [style.padding-bottom]="'95%'" [style.border]="'3px solid white'" [style.background-size]="'cover'" [ngStyle]="{'background-image': 'url(' + postStructure.imgUrl + ')'}">
                    </div>
                </div>
                <div class="texto_postcard">
                    <div class="persona_postcard">
                        <p class="nombre_postcard"> {{postStructure.name}} </p>
                        <p class="distancia_postcard" *ngIf="returnAsNumber(postStructure.km) >= 8200"> A varios Km de la UN</p>
                        <p class="distancia_postcard" *ngIf="returnAsNumber(postStructure.km) < 8200"> {{postStructure.km}} Km de la UN</p>
                        <p class="descripcion_postcard"> {{postStructure.post}} </p>
                    </div>
                </div>
            </div>
            <div class="escribir_comentario" *ngIf="this.param1!='0'">
                <input style="width: 100%;" role="textbox" [(ngModel)]="stringPublicationModal" id="txt_comentario" placeholder="Escriba un comentario" contenteditable>
                <div class="btn_enviar" (click)="postModalPublication()">
                    <div class="icono_enviar"></div>
                </div>
            </div>

            <div class="contenedor_comentarios">

                <div class="comentario" *ngFor="let item of postStructure.listChildPost">
                    <p class="nombre_comentario"> {{item.username}} </p>
                    <p class="descripcion_comentario">{{item.publicacion}}</p>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- FIN MODAL-->
<!-- FIN MODAL-->




<div id="Modal40" class="modal_home2">
    <div class="pn_modal_contenido">
        <h3 class="modal_titulo"> {{dialogTitle}} </h3>
        <p class="modal_texto"> {{dialogMessage}} </p>
        <div class="modal_contenedor_boton">
            <a class="pn_modal_boton" href="javascript:void(0)" onclick="return false;" (click)="close()">Aceptar</a>
        </div>
    </div>
</div>

<div id="Modal41" class="modal_home2">
    <div class="pn_modal_contenido">
        <h3 class="modal_titulo"> {{dialogTitle}} </h3>
        <p class="modal_texto"> {{dialogMessage}} </p>
        <div class="modal_contenedor_boton">
            <a class="pn_modal_boton" href="javascript:void(0)" onclick="return false;" (click)="close1()">Aceptar</a>
        </div>
    </div>
</div>

<div id="Modal42" class="modal_home2">
    <div class="pn_modal_contenido">
        <h3 class="modal_titulo"> {{dialogTitle}} </h3>
        <p class="modal_texto"> {{dialogMessage}} </p>
        <div class="modal_contenedor_boton">
            <a class="pn_modal_boton" href="javascript:void(0)" onclick="return false;" (click)="close2()">Aceptar</a>
        </div>
    </div>
</div>