<div class="card">
  <div class="card-body">
    <h3>Filters</h3>
    <div class="row">
      <div class="col">
        <mat-form-field class="example-full-width">
          <input matInput [matDatepicker]="startDate" placeholder="Choose start date">
          <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
          <mat-datepicker touchUi #startDate></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="example-full-width">
          <input matInput [matDatepicker]="endDate" placeholder="Choose end date">
          <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
          <mat-datepicker touchUi #endDate></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="float-right">
          <button type="button" class="btn btn-primary">Search</button>
        </div>
      </div>
    </div>
  </div>
</div>