<!-- Servicios -->
<div id="services">
    <div class="indicator d-none d-md-block"></div>
    <ul class="dropdown-menu" id="servicios">
        <li>
            <a href="http://correo.unal.edu.co" target="_blank"><img src="assets/images/icnServEmail.png" width="32" height="32" alt="Correo Electrónico">Correo Electrónico</a>
        </li>
        <li>
            <a href="http://dninfoa.unal.edu.co" target="_blank"><img src="assets/images/icnServSia.png" width="32" height="32" alt="Dirección Nacional de Información Académica">DNINFOA - SIA</a>
        </li>
        <li>
            <a href="http://bibliotecas.unal.edu.co" target="_blank"><img src="assets/images/icnServLibrary.png" width="32" height="32" alt="Biblioteca">Bibliotecas</a>
        </li>
        <li>
            <a href="http://personal.unal.edu.co" target="_blank"><img src="assets/images/icnServCall.png" width="32" height="32" alt="Convocatorias">Convocatorias</a>
        </li>
        <li>
            <a href="http://identidad.unal.edu.co"><img src="assets/images/icnServIdentidad.png" width="32" height="32" alt="Identidad U.N.">Identidad U.N.</a>
        </li>
    </ul>
</div>


<!-- defaultpanel -->

<!-- Panel de accesibilidad -->
<div class="tx-unal-accesibilidad">
    <!-- defaultpanel -->
    <div class="tx-unal-accesibilidad">
        <!-- defaultpanel -->

      </div>
                </div>
            <!-- </div>
        </div> -->
        <!-- /content wrapper for padding
<div id="pestania-accesibilidad" class="">Panel de Accesibilidad</div>
</div> -->
        <!-- /content wrapper for padding -->
    <!-- </div>
</div> -->
<!-- /content wrapper for padding -->

<!-- Contenido -->
<!-- HOME -->
<main class="detalle">
    <div class="contenedor_general"> 
        <div class="contenedor_izq"> 

            <figure class="contenedor_identificador"> 
                <img class="logo_proyecto" src="assets/images/logo_postal.png"> 
            </figure>

            <div class="contenedor_linea"> 
                <div class="linea_home"> </div>
            </div>

            <div class="contenedor_descripcion"> 
                <h4 class="descripcion_proyecto">Extrañamos nuestro campus, nuestras zonas verdes, aulas y laboratorios. Extrañamos los atardeceres en las azoteas, los almuerzos al aire libre y los cafés para iniciar el día. Sabemos que pronto nos volveremos a encontrar, pero mientras llega el día, te invitamos a encontrarnos en este espacio.</h4>
            </div>
            <div class="contenedor_boton">
                <a class="boton_ingresar pointer" onclick="$('#Modal1').show()">Ingresa</a>
            </div>

        </div>  
        <div class="contenedor_der">
          
                <div class="img_home"> </div> 
         
        </div>
    </div>
    <!-- FIN HOME -->
</main>

    <!-- MODAL -->
        <div id="Modal1" class="modal_home">
          <div class="modal-contenido">
                <div class="contenedor_cerrar">
                    <a onclick="$('#Modal1').hide()" class="modal_cerrar pointer">X</a>
                </div>
                <h3 class="modal_titulo">Inicia Sesión</h3>
                <p class="modal_texto">Para publicar, comentar y acceder a la experiencia completa, ingresa con tu correo y contraseña UNAL. De lo contrario continúa sin iniciar sesión</p>
                <input type="text" placeholder="usuario" class="modal_input" [(ngModel)]="user" >
                <input type="password" placeholder="contraseña"class="modal_input" [(ngModel)]="password">
                <div class="modal_contenedor_boton">
                    <a class="modal_boton_ingresar" href="javascript:void(0)" (click)="ingresar()">Ingresa</a>
               </div>
                <div class="modal_contenedor_boton">
                    <a class="modal_boton_continua" href="javascript:void(0)" (click)="mapNoLoggin()">Continúa sin iniciar sesión</a>
               </div>
        </div>
    </div>

    <!-- FIN MODAL-->

<!-- Loader -->
<!-- <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
        <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
        <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div> -->
<!-- End loader -->
<!-- Footer -->