<div class="container-fluid">
  <app-menu></app-menu>
  <app-filters></app-filters>
  <div class="row">
    <div class="col">
      <app-table></app-table>
    </div>
    <div class="col">
      <app-graphics title="Test" desription="test description"></app-graphics>
    </div>
  </div>
</div>