<div class="container row ">
    <form novalidate [formGroup]="form">
        <mat-card class="col-sm-12 col-mat-12	col-lg-12 col-xl-12 mat-elevation-z12">
            <mat-card-title class="center-text text-center">Filtros de Inventario</mat-card-title>
            <mat-card-content>

                <div class="row field-full-width center-text text-center">
                    <!-- Tercero -->
                    <div class=" col-sm-12	col-mat-4	col-lg-4 col-xl-4 " *ngIf="isThird">
                        <mat-card class=" center-text text-center">
                            <h4>Buscar por Tercero
                                <a>
                                    <mat-icon>visibility</mat-icon>
                                </a>
                            </h4>
                            <mat-checkbox class="example-margin" formControlName="is_name_third">Por Nombre</mat-checkbox>

                            <div *ngIf="form.value['is_name_third']; then isNameThirdBlock; else elseNameThirdBlock">this is ignored</div>

                            <ng-template #isNameThirdBlock>
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Tercero" formControlName="name_third">

                                    <mat-error *ngIf="form.controls.name_third.errors && form.controls.name_third.touched">
                                        <mat-error *ngIf="form.controls.name_third.errors.required">
                                            Es
                                            <strong>requerido</strong>
                                        </mat-error>
                                    </mat-error>
                                </mat-form-field>
                            </ng-template>

                            <ng-template #elseNameThirdBlock>
                                <div class="row">
                                    <mat-form-field class="example-full-width">
                                        <mat-select placeholder="Tipo de Documento" formControlName="document_type_th">
                                            <mat-option *ngFor="let documentType of documentTypes" required [value]="documentType.id_document_type">
                                                {{ documentType.name }}
                                            </mat-option>
                                        </mat-select>

                                        <mat-error *ngIf="form.controls.document_type_th.errors && form.controls.document_type_th.touched">
                                            <mat-error *ngIf="form.controls.document_type_th.errors.required">
                                                Tipo de Doc. es
                                                <strong>requerido</strong>
                                            </mat-error>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="row" *ngIf="form.value['document_type_th']">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Numero de Documento" formControlName="document_number_th">
                                    </mat-form-field>
                                </div>
                            </ng-template>
                        </mat-card>
                    </div>
                    <!-- Sedes -->
                    <div class=" col-sm-12	col-mat-4	col-lg-4 col-xl-4 " *ngIf="isVenueThird">
                        <mat-card class=" center-text text-center">

                            <h4>Buscar por Sede
                                <mat-checkbox class="example-margin" formControlName="is_venue"></mat-checkbox>
                            </h4>

<!--                            <div *ngIf="form.value['is_name_third_venue']; then isNameThirdVenueBlock; else elseNameThirdVenueBlock">this is ignored</div>-->

                            <ng-template *ngIf="form.value['is_name_third_venue']">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Nombre de Sede" formControlName="name_third_venue">

                                    <mat-error *ngIf="form.controls.name_third_venue.errors && form.controls.name_third_venue.touched">
                                        <mat-error *ngIf="form.controls.name_third_venue.errors.required">
                                            Es
                                            <strong>requerido</strong>
                                        </mat-error>
                                    </mat-error>
                                </mat-form-field>
                            </ng-template>
                            <ng-template *ngIf="!form.value['is_venue'] && !form.value['is_name_third_venue']">
                                <div class="row">
                                    <mat-form-field class="example-full-width">
                                        <mat-select placeholder="Tipo de Documento Sede" formControlName="document_type_th_venue">
                                            <mat-option *ngFor="let documentType of documentTypes" required [value]="documentType.id_document_type">
                                                {{ documentType.name }}
                                            </mat-option>
                                        </mat-select>

                                        <mat-error *ngIf="form.controls.document_type_th_venue.errors && form.controls.document_type_th_venue.touched">
                                            <mat-error *ngIf="form.controls.document_type_th_venue.errors.required">
                                                Tipo de Doc. es
                                                <strong>requerido</strong>
                                            </mat-error>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="row" *ngIf="form.value['document_type_th_venue']">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Numero de Documento" formControlName="document_number_th_venue">
                                    </mat-form-field>

                                </div>
                            </ng-template>
                            <div class="row" *ngIf="form.value['is_venue']">
                                <mat-form-field class="example-full-width">
                                    <mat-select placeholder="Sedes" formControlName="id_th_venue">
                                        <mat-option *ngFor="let documentType of thirdStoreVenue" required [value]="documentType.id_third">
                                            {{ documentType.info.fullname}}
                                        </mat-option>
                                    </mat-select>

                                    <mat-error *ngIf="form.controls.id_th_venue.errors && form.controls.id_th_venue.touched">
                                        <mat-error *ngIf="form.controls.id_th_venue.errors.required">
                                            Tipo de Doc. es
                                            <strong>requerido</strong>
                                        </mat-error>
                                    </mat-error>
                                </mat-form-field>



                            </div>
                            <span *ngIf="!form.value['is_venue']">
                                    <h4>{{thirdFathet?.info.fullname}} </h4>
                            </span>




                        </mat-card>
                    </div>


                    <!-- Anadido para tarjeta  -->

                    <!-- <mat-card class=" center-text text-center"> -->

                    <!-- <mat-checkbox class="example-margin" formControlName="is_productor_cat">Productores</mat-checkbox> -->
                    <!-- Anadido para tarjeta  -->


                    <!-- Productores -->
                    <div class=" col-sm-12	col-mat-4	col-lg-4 col-xl-4 " *ngIf="form.value['is_catal_general']" >
                      <mat-card class=" center-text text-center">
                        <h4>Catálogo General</h4>
                        <mat-checkbox class="example-margin" formControlName="is_id_productor">Todas</mat-checkbox>
                        <div *ngIf="!form.value['is_id_productor']">

                        <mat-form-field class="example-full-width"  >
                          <mat-select placeholder="Catálogo General " formControlName="id_productor">
                              <mat-option *ngFor="let product of productorList" required [value]="product.id_category"  >
                                {{ product.common?.name }}
                              </mat-option>
                            </mat-select>

                            <mat-error *ngIf="form.controls.id_productor.errors && form.controls.id_productor.touched">
                                <mat-error *ngIf="form.controls.id_productor.errors.required">
                                    Tipo de Doc. es <strong>requerido</strong>
                                </mat-error>
                            </mat-error>
                        </mat-form-field>


                          <mat-checkbox class="example-margin" formControlName="is_cat_prod">Por Categorias</mat-checkbox>

                          <div class="row" *ngIf="form.value['is_cat_prod']">
                            <mat-form-field class="example-full-width"  >
                                <mat-select placeholder="Categorias" formControlName="id_cat_prod">
                                    <mat-option *ngFor="let categoryProductor of categoryProductorList" required [value]="categoryProductor.id_category"  >
                                      {{ categoryProductor.common?.name }}
                                    </mat-option>
                                </mat-select>

                                <mat-error *ngIf="form.controls.id_productor.errors && form.controls.id_productor.touched">
                                    <mat-error *ngIf="form.controls.id_productor.errors.required">
                                        Tipo de Doc. es
                                        <strong>requerido</strong>
                                    </mat-error>
                                </mat-error>
                            </mat-form-field>
                          </div>

                        </div>
                          <mat-card-footer>
                          <mat-checkbox class="example-margin" formControlName="is_catal_propio">
                            <strong>Por Catálogo Propio</strong>
                          </mat-checkbox>
                        </mat-card-footer>


                      </mat-card>
                    </div>

                    <!-- Mis Categorias -->
                    <div class=" col-sm-12	col-mat-4	col-lg-4 col-xl-4 " *ngIf="form.value['is_catal_propio']">
                      <mat-card class=" center-text text-center">
                        <h4>Catálogo Propio</h4>
                        <mat-checkbox class="example-margin" formControlName="is_id_category_th">Todas</mat-checkbox>

                        <mat-form-field *ngIf="!form.value['is_id_category_th']" class="example-full-width"  >
                          <mat-select placeholder="Categoria Personal " formControlName="id_category_th">
                              <mat-option *ngFor="let myCategory of MyCategoryList" required [value]="myCategory.id_category"  >
                                {{ myCategory.common?.name}}
                              </mat-option>
                            </mat-select>
                            <mat-error *ngIf="form.controls.id_category_th.errors && form.controls.id_category_th.touched">
                                <mat-error *ngIf="form.controls.id_category_th.errors.required">
                                    Tipo de Doc. es <strong>requerido</strong>
                                </mat-error>
                            </mat-error>
                        </mat-form-field>

                        <mat-card-footer>
                          <mat-checkbox class="example-margin" formControlName="is_catal_general">
                            <h5>Por Catálogo General</h5>
                          </mat-checkbox>
                        </mat-card-footer>

                      </mat-card>
                    </div>

                    <!-- MI tarjeta -->
                    <!-- </mat-card> -->


                    <!-- MI tarjeta -->

                    <br>
                    <br>
                    <!-- Unidades -->
                    <div class=" col-sm-12	col-mat-4	col-lg-4 col-xl-4 ">
                        <mat-card class=" center-text text-center">
                            <h4>Unidades</h4>
                            <mat-checkbox class="example-margin" formControlName="is_measure_unit">Todas</mat-checkbox>
                            <mat-form-field *ngIf="!form.value['is_measure_unit']" class="example-full-width">
                                <mat-select placeholder="Unidades " formControlName="measure_unit">
                                    <mat-option *ngFor="let measureUnit of measureUnitList " required [value]="measureUnit.id_measure_unit">
                                        {{ measureUnit.name_measure_unit }}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="form.controls.measure_unit.errors && form.controls.measure_unit.touched">
                                    <mat-error *ngIf="form.controls.measure_unit.errors.required">
                                        Tipo de Doc. es
                                        <strong>requerido</strong>
                                    </mat-error>
                                </mat-error>
                            </mat-form-field>
                        </mat-card>
                    </div>
                </div>
                <!-- Atributos -->
                <div class="row  field-full-width example-full-width">
                    <h3 class="example-full-width text-center center-text" (click)="seenAttribute()">
                        <b>Attributos</b>
                    </h3>
                    <div *ngIf="isseenAttribute">
                        <div class="col-12 col-sm-6  col-md-6 col-lg-4 col-xl-4 " *ngFor="let attrib of attributeComplete; let i = index">
                            <mat-card class=" example-full-width tky-top-buffer">
                                <h3 class="text-center">
                                    <b>{{attrib?.attribute?.common?.name}}</b>
                                </h3>

                                <mat-divider></mat-divider>

                                <div class="row xample-full-width" *ngIf="attrib.values.length>0; let i=index">
                                    <mat-radio-group class="example-radio-group text-center" click="alert('THIS')">
                                        <mat-radio-button class="example-radio-button" *ngFor="let value of attrib.values" (click)="addValue(false,value)" [value]="value?.name_attrib_value">
                                            <h4 class="text-center">
                                                <b>{{value?.name_attrib_value}}</b>
                                            </h4>
                                        </mat-radio-button>
                                        <mat-radio-button class="example-radio-button" (click)="addValue(attrib?.attribute?.id_attribute)" [value]="false">
                                            <h4 class="text-center">
                                                <b>Ninguno</b>
                                            </h4>
                                        </mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </mat-card>
                        </div>

                    </div>

                </div>


            </mat-card-content>
            <mat-card-actions align="end">
                <button mat-raised-button (click)="responseFilter(responseFilter)" [disabled]="!form.valid " matTooltip="Iniciar Proceso de Busqueda!">
                    <mat-icon>search</mat-icon>
                </button>
            </mat-card-actions>
            <mat-card-footer>
              <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </mat-card-footer>
          </mat-card>
  </form>
</div>


