<div class="mobile">
  <div style="text-align: center;padding-top: 25px;">
    <h3>Orden</h3>
  </div>
  <div class="comments-list">

    <table>
      <tr>
        <th>Producto</th>
        <th>Cantidad</th>
        <th>Precio</th>
      </tr>
      <tr *ngFor="let item of inventory">
        <td>{{item.description}}</td>
        <td>{{item.quantity}}</td>
        <td>{{item.price * item.quantity | currency}}</td>
      </tr>
    </table>
  </div>
  <div style="text-align: center;padding-top: 25px;">
    <h4>
      Productos: {{total | currency}}
    </h4>
  </div>
  <div style="text-align: center;">
    <h4>
      Envio: {{envio | currency}}
    </h4>
  </div>
  <div style="text-align: center;">
    <h4>
      Total: {{envio+total | currency}}
    </h4>
  </div>
  <div style="text-align: center;padding-top: 25px;">
    <input class="button-finish-order-tables-responsive uk-modal-close" type="submit" value="Confirmar pedido" (click)="confirm()" >
  </div>
</div>
