<form novalidate [formGroup]="form_qu" >
 
    <mat-card class=" row center-text text-center">

      <mat-card-title>
          <mat-form-field class="field-full-width example-full-width">
              <input matInput placeholder="Actualizar Cantidad" formControlName="quantity">
              <mat-error *ngIf="form_qu.controls.quantity.errors && form_qu.controls.quantity.touched">
                  <mat-error *ngIf="form_qu.controls.quantity.errors.required">
                      la cantidad es requerida <strong>requerido</strong>
                  </mat-error>
              </mat-error>
            </mat-form-field>
      </mat-card-title>
      <mat-card-actions>
          <button mat-fab color="primary" mat-dialog-close class="tky-left" > <mat-icon>keyboard_return</mat-icon>  </button>
          <button mat-fab color="primary"  (click)="save()"    class="tky-right" align='end'>
             <mat-icon>save</mat-icon>   
            </button>
      </mat-card-actions>
    </mat-card>
  
  
</form>