<mat-card>
  <mat-card-title>Confirmar Transacción</mat-card-title>
  <!-- <h1>Total: {{data.total | currency}}</h1> -->
  <h1 class="mb-5">Cantidad de productos: {{data.productsQuantity}}</h1>
  <mat-card-content>
    <div class="row">
      <div class="col-12">
        <mat-form-field>
          <textarea matInput placeholder="Ingrese aqui observaciones" [(ngModel)]="observations"></textarea>
        </mat-form-field>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <div class="float-right">
      <button mat-dialog-close class="btn btn-secundary">Cancelar</button>
      <button class="btn btn-primary" (click)="returnData()">Confirmar</button>
    </div>
  </mat-card-actions>
</mat-card>