<!-- CONTENEDOR DE TODO EL MODULO DE COMPRA-->
<div style="">
  <!--	EL TITULO, HEADER-->
  <mat-card style="height: 100%;width:100%;padding:0px">
    <mat-card-header style="background-color:rgb(5, 53, 107);margin:0px;padding:10px">
      <!--			TITULO-->
      <mat-card-title style="font-size: 1.3em; font-weight: 700; margin-bottom:10px; color:white">Registro de Compra</mat-card-title>
      <!--			SUB TITULO-->
      <mat-card-subtitle style="font-size: 0.8em;font-weight: 300;color:white;margin-bottom:0">Completar el formulario para registrar una compra.</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <!--	EL CONTENIDO-->
  <mat-card>
    <!--            CONTENIDO DE LA PESTAÑA-->
    <div style="height: 87.9vh;">
      <!--            CONTENEDOR DE OPCIONES-->
      <div>
<!--						FILA QUE CONTIENE DATOS PROVEEDOR-->
        <div style="display: flex">
          <!--          PARTE IZQUIERDA-->
          <div style="box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 3px 14px 2px rgba(0, 0, 0, 0.12);padding-top: 5px;width: 49%;margin-right: auto;display: flex;font-size: small;">
            <!--						BOTON-->
            <button style="margin: auto" (click)="searchClient2()" mat-stroked-button color="primary" type="submit">Buscar Proveedor</button>
            <!--						BUSCADOR-->
            <mat-form-field style="width: 25vw;margin: auto;">
              <input matInput class="text-center" type="text"  placeholder="Documento Proveedor"  (keyup.enter)="searchClient($event)" [(ngModel)]="ccClient" #nameot>
            </mat-form-field>
          </div>
          <!--          PERTE DERECHA-->
          <div style="box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 3px 14px 2px rgba(0, 0, 0, 0.12);padding-top: 5px;width: 49%;display: flex;">
            <!--						TITULO PROVEEDOR-->
            <div style="margin: 0 auto;padding: 0 5px">
              <h5>Proveedor: </h5>{{cliente}}
            </div>
            <!--						DOCUMENTO-->
            <div style="margin: 0 auto;padding: 0 5px">
              <h5>Documento: </h5>{{clientData.document_type}} - {{clientData.document_number}}
            </div>
            <!--						TELEFONO-->
            <div style="margin: 0 auto;padding: 0 5px">
              <h5>Telefono: </h5>{{clientData.phone}}
            </div>
            <!--						DIRECCION-->
            <div style="margin: 0 auto;padding: 0 5px">
              <h5>Direccion: </h5>{{clientData.address}}
            </div>
          </div>
        </div>
<!--					FILA CON DATOS DEL PRODUCTO Y BOTONES-->
        <div style="display: flex;margin-top: 10px">
          <!--          PARTE IZQUIERDA-->
          <div style="box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 3px 14px 2px rgba(0, 0, 0, 0.12);padding-top: 5px;width: 49%;display: flex;margin-right: auto;font-size: small;">
            <!--						BUSCAR PRODUCTOS-->
            <button style="margin: auto" mat-stroked-button color="primary" type="button" (click)="openCategories2()">Buscar Productos</button>
            <!--						BUSCADOR PRODUCTOS-->
            <mat-form-field style="width: 25vw;margin: auto;">
              <input [(ngModel)]="inputForCode" matInput type="text" placeholder="Código de producto" #nameit (keyup.enter)="addDetail($event)" (ngModelChange)="listLoad()">
            </mat-form-field>
          </div>
          <!--          PARTE DERECHA-->
          <div style="box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 3px 14px 2px rgba(0, 0, 0, 0.12);padding-top: 5px;width: 49%;display: flex;">
            <!--						SELECTOR FECHA-->
            <mat-form-field style="margin: auto;width:16vw;">
              <input matInput [matDatepicker]="picker3" placeholder="Fecha de Compra" [(ngModel)]="date3">
              <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
              <mat-datepicker #picker3 disabled="false"></mat-datepicker>
            </mat-form-field>
            <!--						NUMERO FACTURA-->
            <mat-form-field style="margin: auto;width:16vw;">
              <input matInput class="text-center" type="text" placeholder="Numero de factura" [(ngModel)]="datos" >
            </mat-form-field>
          </div>
        </div>
<!--					FILA CON TABLA PRODUCTOS DISPONIBLES Y OBS-->
        <div style="display: flex;height: 20vh;margin-top: 10px">
          <!--          PARTE IZQUIERDA-->
          <div class="ScrollBar" style="height: 90.3%;overflow: auto;box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 3px 14px 2px rgba(0, 0, 0, 0.12);padding-top: 5px;width: 49%;display: flex;margin-right: auto;height: 100%">
            <div style="width: 100%;" *ngIf="listaElem.length != 0">
              <div style="margin: 0;padding: 0;text-align: center;border-bottom: solid;border-bottom-color: #d8d8d8;border-bottom-width: thin;" *ngFor="let item of listaElem" class="example-element-row">
                <div style="text-align: center;font-size: 14px;" (click)="addDetail2(item.ownbarcode)">
                  {{item.product_STORE_NAME}} - {{item.ownbarcode}} - {{item.product_STORE_CODE}}
                </div>
              </div>
            </div>
            <div *ngIf="listaElem.length == 0" style="height: 100%;width: 100%;">
              <div style="display: flex;height: 50%;width: 100%; margin: auto;">
                <mat-icon *ngIf="EstadoBusquedaProducto == -1" style="margin: auto;font-size: 90px;text-align: center;width: 100%;color: gray;margin-bottom: 9%;">search</mat-icon>
                <mat-icon *ngIf="EstadoBusquedaProducto == 1" style="margin: auto;font-size: 90px;text-align: center;width: 100%;color: gray;margin-bottom: 9%;">cached</mat-icon>
                <mat-icon *ngIf="EstadoBusquedaProducto == 2" style="margin: auto;font-size: 90px;text-align: center;width: 100%;color: gray;margin-bottom: 9%;">error_outline</mat-icon>
              </div>
              <div style="display: flex;height: 50%;width: 100%; margin: auto;">
                <mat-label *ngIf="EstadoBusquedaProducto == -1" style="font-size: 30px;margin: auto;color: gray;margin-top: 1%;">Ingrese un producto</mat-label>
                <mat-label *ngIf="EstadoBusquedaProducto == 1" style="font-size: 30px;margin: auto;color: gray;margin-top: 1%;">Buscando, espere...</mat-label>
                <mat-label *ngIf="EstadoBusquedaProducto == 2" style="font-size: 30px;margin: auto;color: gray;margin-top: 1%;">No se encontraron registros</mat-label>
              </div>
            </div>
          </div>
          <!--          PARTE DERECHA-->
          <div style="box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 3px 14px 2px rgba(0, 0, 0, 0.12);padding-top: 5px;width: 49%;height: 100%">
            <!--								LAS OBSERVACIONES-->
            <div style="display: flex;width: 100%">
              <mat-form-field style="margin: auto;width: 90%;margin-bottom: -10px;">
                <input matInput class="text-center" type="text" placeholder="Observaciones" [(ngModel)]="obs" >
              </mat-form-field>
            </div>
            <!--								CONFIRMAR TRASACCIÓN-->
            <div style="display: flex;width: 100%">
              <button style="margin: auto;width: 90%" mat-stroked-button color="primary" type="button" (click)="quickConfirm()" [disabled]="((this.productsObject.length==0) || (this.clientData.document_type=='--') || (datos=='') || (date3==''))">Confirmar transacción</button>
            </div>
            <!--								CANCELAR-->
            <div style="display: flex;width: 100%;margin-top: 10px;">
              <button style="margin: auto;width: 90%" mat-stroked-button color="warn" type="button" (click)="cancel()">Cancelar</button>
            </div>
          </div>
        </div>
<!--						FILA CON VALORES TOTALES Y SUB TOTALES-->
        <div style="box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 3px 14px 2px rgba(0, 0, 0, 0.12);padding-top: 5px;display: flex;margin-right: auto;margin-top: 10px">
          <!--							SUB TOTAL-->
          <div class="col">
            <h5 class="left-scroll">
              Subtotal: {{calculateSubtotal() | currency  : 'USD' : 'symbol' : '1.0'}}
            </h5>
          </div>
          <!--							IMPUESTO-->
          <div class="col">
            <h5 class="left-scroll">
              Impuesto: {{calculateTax() | currency  : 'USD' : 'symbol' : '1.0'}}
            </h5>
          </div>
          <!--							TOTAL-->
          <div class="col">
            <h5 class="left-scroll">
              Total: {{calculateSubtotal()+calculateTax() | currency  : 'USD' : 'symbol' : '1.0'}}
            </h5>
          </div>
        </div>
      </div>
<!--      LA TABLA DE PRODUCTOS SELECCIONADOS-->
      <div class="ScrollBar" style="margin: 0;padding: 0;height: 47%;overflow: auto;box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 3px 14px 2px rgba(0, 0, 0, 0.12);margin-top: 10px">
        <table mat-table multiTemplateDataRows [dataSource]="dataSourceProductosSeleccionados" matSort class="mat-elevation-z8" style="width: 100%;box-shadow: unset;">
          <!--              CREO LAS COLUMNAS-->
          <!-- CODIGO-->
          <ng-container matColumnDef="code">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding: 0 !important;text-align: center !important;">Código</th>
            <td mat-cell *matCellDef="let element" style="padding: 0 !important;color: inherit" [style.text-align]="'center'"> {{element["code"]}} </td>
          </ng-container>
          <!-- PRODUCTO-->
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding: 0 !important;text-align: center !important;">Producto</th>
            <td mat-cell *matCellDef="let element" style="padding: 0 !important;color: inherit" [style.text-align]="'center'"> {{element["description"]}} </td>
          </ng-container>
          <!-- CANTIDAD-->
          <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding: 0 !important;text-align: center !important;width: 140px;min-width: 140px">Cantidad</th>
            <td mat-cell *matCellDef="let element" style="padding: 0 !important;color: inherit;width: 140px;min-width: 140px" [style.text-align]="'center'">
              <div style="display: inline-block;margin-top: 16px;">
                <div class="row" >
                  <mat-label (click)="downQuantity(element)" style="color:#4e5fbb;cursor: pointer;font-size: x-large;"><</mat-label>
                  <mat-form-field class="row" style="width:5vw;margin-top: -15px;margin-bottom: -20px;z-index: 1">
                    <!--suppress TypeScriptUnresolvedVariable -->
                    <input required [(ngModel)]="element.quantity" matInput type="number" step="1" id="readerQuantity" class="no-spin text-center" min="1" pattern="^[0-9]+.{1,}" oninput="validity.valid||(value='');">
                  </mat-form-field>
                  <mat-label (click)="upQuantity(element)" style="color:#4e5fbb;cursor: pointer;font-size: x-large;">></mat-label>
                </div>
                <mat-label class="row" (click)="individualDelete(element)" style="color:#4e5fbb;cursor: pointer;position: relative;z-index: 10"><div style="margin: auto">Quitar</div></mat-label>
              </div>
            </td>
          </ng-container>
          <!-- PRECIO DE VENTA-->
          <ng-container matColumnDef="priceGen">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding: 0 !important;text-align: center !important;">Precio de Venta</th>
            <td mat-cell *matCellDef="let element" style="padding: 0 !important;color: inherit" [style.text-align]="'center'">
              <mat-form-field>
                <mat-select [(value)]="element.priceGen" >
                  <mat-option *ngFor="let price of element.pricelist" [value]="price.price"> {{price.price_DESCRIPTION}} - {{price.price | currency  : 'USD' : 'symbol' : '1.0'}} </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
          </ng-container>
          <!-- COSTO ACTUAL-->
          <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding: 0 !important;text-align: center !important;">Costo Actual</th>
            <td mat-cell *matCellDef="let element" style="padding: 0 !important;color: inherit" [style.text-align]="'center'">
              <mat-form-field style="width:5vw">
                <input currencyMask [options]="{ precision: 0 }" [(ngModel)]="element.price" matInput class="text-center" type="number" id="reader" autofocus type="text">
              </mat-form-field>
            </td>
          </ng-container>
          <!-- UBICACIÓN-->
          <ng-container matColumnDef="id_storage">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding: 0 !important;text-align: center !important;">Ubicacion</th>
            <td mat-cell *matCellDef="let element" style="padding: 0 !important;color: inherit" [style.text-align]="'center'">
              <mat-form-field>
                <mat-select [(value)]="element.id_storage" >
                  <mat-option *ngFor="let storage of storageList" [value]="storage.id_storage"> {{storage.storage_name}} </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
          </ng-container>
          <!-- IMPUESTO-->
          <ng-container matColumnDef="tax">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding: 0 !important;text-align: center !important;">IVA</th>
            <td mat-cell *matCellDef="let element" style="padding: 0 !important;color: inherit" [style.text-align]="'center'"> {{element["tax"] | percent}} </td>
          </ng-container>
          <!-- TOTAL-->
          <ng-container matColumnDef="total">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding: 0 !important;text-align: center !important;">Total</th>
            <td mat-cell *matCellDef="let element" style="padding: 0 !important;color: inherit" [style.text-align]="'center'"> {{calculateTotalPrice(element) | currency : 'USD' : 'symbol' : '1.0'}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="GetKeys(); sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: GetKeys();"> </tr>
        </table>
        <div *ngIf="dataSourceProductosSeleccionados.filteredData.length == 0" style="height: 90%;background-color: white;">
          <div style="display: flex;height: 50%;width: 100%; margin: auto;">
            <mat-icon style="margin: auto;font-size: 90px;text-align: center;width: 100%;color: gray;margin-bottom: 5%;">local_grocery_store</mat-icon>
          </div>
          <div style="display: flex;height: 50%;width: 100%; margin: auto;">
            <mat-label style="font-size: 30px;margin: auto;color: gray;margin-top: 1%;">Seleccione productos a vender</mat-label>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
</div>
