.Oculto{
  transition: all 1s;
  transform: scale(0);
  display: none;
  position: absolute;
}
.Normal{
  transition: all 1s;
  transform: scale(0.8) perspective(1px);
  position: relative;
}
.Seleccionado{
  transition: all 1s;
  transform: scale(1);
  //height: 40vh !important;
  position: relative;
  margin: 30px 0;
}
.DefaultContainer{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 10vh;
  flex-shrink: 0;
}

.EstiloBasicoBoton{
  margin: auto;
  width: 100%;
  border-radius: 20px;
  overflow: auto;
  --background: black;
}

.EstiloBotonUsado{
  --background: #5e5e5e;
}
