<div class="container-fluid">
    <app-bill-header [ID_BILLTYPE]="ID_BILL_TYPE" (emmitType)="showType($event)">
    </app-bill-header>
    <form novalidate [formGroup]="form">
      <div class="row tky-full-width">
          <div class="tky-full-width">
              <button mat-raised-button  (click)="addDocument('docu')" color="primary" class="tky-top-buffer tky-right">
                  <mat-icon>description</mat-icon> {{documentDTO?.body!=null ? "Ver Documento":"Agregar Documento" }} 
              </button>
          </div>
        <div class="col col-50  ky-full-width">
            <mat-card class="tky-top-buffer text-center">
                <mat-card-title>Buscar la factura {{form.value['consecutive_number'] ? 'N° '+ form.value['consecutive_number']:''}}</mat-card-title>
                <!-- Incluir la la busqueda por número de factura  -->
                <h3>
                  <mat-form-field class="tky-full-width text-center">
                    <input matInput placeholder="Ingrese el numero de la Factura" 
                    formControlName="consecutive_number" class="text-center">
                  </mat-form-field>
                </h3>
                <button mat-raised-button color="primary" class="tky-right" (click)="searchBill()">Buscar</button>
               
            </mat-card>
        </div>
        <div class="col col-50  ky-full-width" *ngIf="showBill" >
          <mat-card class="tky-top-buffer text-center">
            <mat-card-title>Descripción de la Factura</mat-card-title>
            <h3>{{billDescription.length < 1 ? "Factura no encontrada":""}}</h3>
           
            <div *ngIf="billDescription.length > 0">
              <h3>Nombre del vendedor: {{thirdEmployee.info.fullname}}</h3>
              <h3>Consecutivo: {{billDescription[0].billing.consecutive}}</h3>
              <h3>Fecha de la factura: {{billDescription[0].billing.purchase_date}}</h3>
              <h3>Precio Total: {{billDescription[0].billing.totalprice}}</h3>
            </div>
          </mat-card>
          </div>
      </div>
      <div *ngIf="billDescription.length > 0" class="row tky-full-width">
        <div class="col tky-full-width">
          <mat-card class=" tky-full-width tky-top-buffer text-center">
            <mat-card-title>Lector de Código de Barras</mat-card-title>
            <h3>
              <mat-form-field class="example-full-width text-white">
                <mat-select placeholder="Simulación de lectura de Código de Barras" formControlName="codeProd">
                  <mat-option *ngFor="let element of productsBill" required [value]="element">
                    <span>{{ element.inv.description.code}} -> {{ element.inv.product.name_product}}</span>
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </h3>
          </mat-card>
        </div>
      </div>
    </form>
    <div *ngIf="detailBillingDTOList.length>0">
      <app-bill-detail [DETAILLIST]="detailBillingDTOList" [TYPE_NAME]="TYPE_NAME" [TOTAL_PRICE]="TOTAL_PRICE" (detailEmitter)="getDetails($event)">
      </app-bill-detail>
  
      <button mat-raised-button  (click)="save()" class="tky-top-buffer tky-right">Cerrar Factura</button>
    </div>
  </div>