<div class="web">

</div>
<div class="mobile">
  <!-- Navbar -->

  <div class="uk-flex uk-flex-middle" style="padding-top: 5px;" *ngIf="user=='73214195'">
    <i class="fas fa-angle-double-left padding-horizontal-5 uk-text-muted"></i>
    <div class="uk-link-muted" (click)="goToLogin()">Ir a iniciar Sesion</div>
  </div>
  <div class="uk-flex uk-flex-middle" style="padding-top: 5px;" *ngIf="user!='73214195'">
    <div class="dropdown">
      <div class="uk-link-muted dropbtn" > <i class="fas fa-bars padding-horizontal-5 uk-text-muted"></i> Menu</div>
      <div class="dropdown-content">
        <ul>
          <li>
            <div (click)="goToMenu()">
              Realizar Pedido
            </div>
          </li>
          <li>
            <div (click)="goToPedidos()">
              Mis pedidos Finalizados
            </div>
          </li>
          <li>
            <div (click)="goToPedidosActivos()">
              Mis pedidos Activos
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div style="padding-top: 50px;">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <div class="card" style="padding-top: 30px;">
      <!-- <img src="img.jpg" alt="John" style="width:100%"> -->
      <h1>{{token.third.fullname}}</h1>
      <p class="title">{{returnRoles()}}</p>
      <p>{{returnDocument()}}</p>
      <p>{{token.third_father.fullname}}</p>
      <p>{{token.third_father.document_type}} - {{token.third_father.document}}</p>
      <!-- <p><button>Contact</button></p> -->
    </div>
  </div>
</div>
