<div style="">
<mat-card style="height: 100%;width:100%;padding:0px" *ngIf="!currentCategory">
  <mat-card-header style="background-color:rgb(5, 53, 107);margin:0px;padding:20px">
    <mat-card-title style="font-family: Roboto;font-size: 1.3em; font-weight: 700; margin-bottom:15px; color:white"><span *ngIf="selectedTab === 0">Categorías</span><span *ngIf="selectedTab === 1">Tiendas</span></mat-card-title>
    <mat-card-subtitle  style="font-size: 0.8em;font-weight: 300;color:white;margin-bottom:0px">Por favor seleccione una <span *ngIf="selectedTab === 0">categoria</span><span *ngIf="selectedTab === 1">tienda</span>.</mat-card-subtitle>
  </mat-card-header>
</mat-card>
<mat-card style="height: 100%;width:100%;padding:0px" *ngIf="currentCategory">
    <mat-card-header style="background-color:rgb(5, 53, 107);margin:0px;padding:20px">
      <mat-card-title style="font-family: Roboto;font-size: 1.3em; font-weight: 700; margin-bottom:15px; color:white">{{currentCategory}}</mat-card-title>
      <mat-card-subtitle  style="font-size: 0.8em;font-weight: 300;text-emphasis: left; color:white;margin-bottom:0px">Subcategorias</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <mat-card style="padding:20px">
  <mat-card-content>
      <mat-tab-group (selectedTabChange)="tabChanged($event)">
        <mat-tab label="Categorias">
          <div class="row" style="padding:20px">
                <div class="col my-col" *ngIf="categoryStack && categoryStack.length > 0" style="padding-top: 40px;padding-left: 14px;padding-right: 14px;">
                    <button mat-flat-button color="warn" (click)="gotoFatherCategory()">Volver</button>
                </div>
                <div class="col my-col" *ngIf="categoryStack && categoryStack.length > 0" style="padding-top: 40px;padding-left: 14px;padding-right: 14px;">
                    <button mat-flat-button color="warn" (click)="gotoProductsCategory()">Productos</button>
                </div>
            <div class="col my-col" *ngFor="let category of generalCategories" >
              <mat-card color="toolbar" (click)="loadCategory(category)" float-right style="width:120px;max-height: 120px;overflow: visible;padding:0px;">
                <img src={{category.img_URL}} style="width:100%;height:80px" />
                <mat-card-header style="word-wrap: break-word;">
                  <mat-card-title style="padding-top: 0px;font-size: 1em;" text-wrap matTooltip={{category.category}} *ngIf="category.category">{{category.category}}</mat-card-title>
                  <mat-card-title style="padding-top: 0px;font-size: 1em;" text-wrap matTooltip={{category.name}} *ngIf="category.name">{{category.name}}</mat-card-title>
                </mat-card-header>
              </mat-card>
            </div>
          </div>
          </mat-tab>
          <mat-tab label="Tiendas">
                  <div class="row" style="width: 100%;padding:20px">
                    <div class="col my-col" *ngFor="let store of stores">
                      <mat-card color="toolbar" (click)="loadStore(store)" float-right style="width:120px;height: 120px;">
                        <mat-card-header style="word-wrap: break-word;font-weight: 400;text-align: center">
                          <mat-card-title style="font-size: 2em; padding-bottom: 0px; padding-top: 10px;text-align:center;width:100%; color:rgb(126,126,126)"><mat-icon>home</mat-icon></mat-card-title>
                          <mat-card-title style="padding-top: 0px;font-size: 1em;width:100%;line-height : 15px;max-height: 25px" text-wrap>{{store?.store_NAME}}</mat-card-title>
                        </mat-card-header>
                      </mat-card>
                    </div>
                </div>
          </mat-tab>

          <mat-tab label="Reporte Inventario">
            <div class="row" style="width: 100%;padding:20px;text-align: center;">



              <mat-form-field style="padding-left: 10px;">
                <mat-label>Seleccione tienda</mat-label>
                <mat-select [(ngModel)]="SelectedStoreProd">
                  <mat-option value="-1">
                      Todas
                  </mat-option>
                  <mat-option *ngFor="let elem of Stores" [value]="elem.id_STORE">
                    {{elem.store_NAME}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field style="padding-left: 10px;">
                <mat-label>Seleccione Linea</mat-label>
                <mat-select [(ngModel)]="SelectedLine" (selectionChange) = "getSecondLvlCategory()">
                  <mat-option [value]="-1">Todas</mat-option>
                  <mat-option *ngFor="let elem of CategoryFirstLvlList" [value]="elem.id_CATEGORY">
                    {{elem.category}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field style="padding-left: 10px;">
                <mat-label>Seleccione categoria</mat-label>
                <mat-select [(ngModel)]="SelectedSubCategory">
                  <mat-option [value]="-1">Todas</mat-option>
                  <mat-option *ngFor="let elem of SubCategoryList" [value]="elem.id_CATEGORY">
                    {{elem.category}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field style="padding-left: 10px;">
                  <mat-label>Seleccione marca</mat-label>
                  <mat-select [(ngModel)]="SelectedBrand">
                    <mat-option [value]="-1">Todas</mat-option>
                    <mat-option *ngFor="let elem of Brands" [value]="elem.id_BRAND">
                      {{elem.brand}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>


                <div class="col my-col" style="padding-left: 10px;">
                  <button mat-flat-button color="warn" (click)="generate()">Generar</button>
                </div>
                <div class="col my-col" style="padding-left: 10px;">
                    <input type="image" (click)="excel()" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7f/Microsoft_Office_Excel_%282018%E2%80%93present%29.svg/1200px-Microsoft_Office_Excel_%282018%E2%80%93present%29.svg.png" height="42" width="42" />
                </div>
              </div>

                <div class="row" style="text-align:center;width: 100%">
                    <div class="col">
                      <h5 class="left-scroll">
                        Cantidad
                      </h5>
                      <h3 class="left-scroll">
                        {{Cantidad }}
                      </h3>
                    </div>
                    <div class="col">
                      <h5 class="left-scroll">
                        Costo Total
                      </h5>
                      <h3 class="left-scroll">
                        {{CostoTotal | currency}}
                      </h3>
                    </div>
                  </div>



            <mat-card-content>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                              <th class="text-center">
                                <div (click)="SortBy('producto',0)" style="justify-content: center;align-items: center;display: flex;cursor: pointer;">
                                  <b>Producto</b>
                                  <mat-icon *ngIf="CampoSorteando[0] == 'producto'">{{Invertido[0]?"arrow_drop_down":"arrow_drop_up"}}</mat-icon>
                                  <mat-icon *ngIf="CampoSorteando[0] != 'producto'" style="color:#d9d9d9">arrow_drop_down</mat-icon>
                                </div>
                              </th>
                              <th class="text-center">
                                <div (click)="SortBy('barcode',0)" style="justify-content: center;align-items: center;display: flex;cursor: pointer;">
                                  <b>Codigo de Barras</b>
                                  <mat-icon *ngIf="CampoSorteando[0] == 'barcode'">{{Invertido[0]?"arrow_drop_down":"arrow_drop_up"}}</mat-icon>
                                  <mat-icon *ngIf="CampoSorteando[0] != 'barcode'" style="color:#d9d9d9">arrow_drop_down</mat-icon>
                                </div>
                              </th>
                              <th class="text-center">
                                <div (click)="SortBy('codigotienda',0)" style="justify-content: center;align-items: center;display: flex;cursor: pointer;">
                                  <b>Codigo Rapido</b>
                                  <mat-icon *ngIf="CampoSorteando[0] == 'codigotienda'">{{Invertido[0]?"arrow_drop_down":"arrow_drop_up"}}</mat-icon>
                                  <mat-icon *ngIf="CampoSorteando[0] != 'codigotienda'" style="color:#d9d9d9">arrow_drop_down</mat-icon>
                                </div>
                              </th>
                              <th class="text-center">
                                <div (click)="SortBy('linea',0)" style="justify-content: center;align-items: center;display: flex;cursor: pointer;">
                                  <b>Linea</b>
                                  <mat-icon *ngIf="CampoSorteando[0] == 'linea'">{{Invertido[0]?"arrow_drop_down":"arrow_drop_up"}}</mat-icon>
                                  <mat-icon *ngIf="CampoSorteando[0] != 'linea'" style="color:#d9d9d9">arrow_drop_down</mat-icon>
                                </div>
                              </th>
                              <th class="text-center">
                                <div (click)="SortBy('categoria',0)" style="justify-content: center;align-items: center;display: flex;cursor: pointer;">
                                  <b>Categoria</b>
                                  <mat-icon *ngIf="CampoSorteando[0] == 'categoria'">{{Invertido[0]?"arrow_drop_down":"arrow_drop_up"}}</mat-icon>
                                  <mat-icon *ngIf="CampoSorteando[0] != 'categoria'" style="color:#d9d9d9">arrow_drop_down</mat-icon>
                                </div>
                              </th>
                              <th class="text-center">
                                <div (click)="SortBy('marca',0)" style="justify-content: center;align-items: center;display: flex;cursor: pointer;">
                                  <b>Marca</b>
                                  <mat-icon *ngIf="CampoSorteando[0] == 'marca'">{{Invertido[0]?"arrow_drop_down":"arrow_drop_up"}}</mat-icon>
                                  <mat-icon *ngIf="CampoSorteando[0] != 'marca'" style="color:#d9d9d9">arrow_drop_down</mat-icon>
                                </div>
                              </th>
                              <th class="text-center">
                                <div (click)="SortBy('cantidad',0)" style="justify-content: center;align-items: center;display: flex;cursor: pointer;">
                                  <b>Cantidad</b>
                                  <mat-icon *ngIf="CampoSorteando[0] == 'cantidad'">{{Invertido[0]?"arrow_drop_down":"arrow_drop_up"}}</mat-icon>
                                  <mat-icon *ngIf="CampoSorteando[0] != 'cantidad'" style="color:#d9d9d9">arrow_drop_down</mat-icon>
                                </div>
                              </th>
                              <th class="text-center">
                                <div (click)="SortBy('precio',0)" style="justify-content: center;align-items: center;display: flex;cursor: pointer;">
                                  <b>Precio</b>
                                  <mat-icon *ngIf="CampoSorteando[0] == 'precio'">{{Invertido[0]?"arrow_drop_down":"arrow_drop_up"}}</mat-icon>
                                  <mat-icon *ngIf="CampoSorteando[0] != 'precio'" style="color:#d9d9d9">arrow_drop_down</mat-icon>
                                </div>
                              </th>
                              <th class="text-center">
                                <div (click)="SortBy('costo',0)" style="justify-content: center;align-items: center;display: flex;cursor: pointer;">
                                  <b>Costo</b>
                                  <mat-icon *ngIf="CampoSorteando[0] == 'costo'">{{Invertido[0]?"arrow_drop_down":"arrow_drop_up"}}</mat-icon>
                                  <mat-icon *ngIf="CampoSorteando[0] != 'costo'" style="color:#d9d9d9">arrow_drop_down</mat-icon>
                                </div>
                              </th>
                              <th class="text-center">
                                <div (click)="SortBy('costototal',0)" style="justify-content: center;align-items: center;display: flex;cursor: pointer;">
                                  <b>Costo Total</b>
                                  <mat-icon *ngIf="CampoSorteando[0] == 'costototal'">{{Invertido[0]?"arrow_drop_down":"arrow_drop_up"}}</mat-icon>
                                  <mat-icon *ngIf="CampoSorteando[0] != 'costototal'" style="color:#d9d9d9">arrow_drop_down</mat-icon>
                                </div>
                              </th>
                              <th class="text-center">
                                <div (click)="SortBy('pct_INVENTARIO',0)" style="justify-content: center;align-items: center;display: flex;cursor: pointer;">
                                  <b>PCT</b>
                                  <mat-icon *ngIf="CampoSorteando[0] == 'pct_INVENTARIO'">{{Invertido[0]?"arrow_drop_down":"arrow_drop_up"}}</mat-icon>
                                  <mat-icon *ngIf="CampoSorteando[0] != 'pct_INVENTARIO'" style="color:#d9d9d9">arrow_drop_down</mat-icon>
                                </div>
                              </th>
                              <th class="text-center">
                                <div (click)="SortBy('nodisp',0)" style="justify-content: center;align-items: center;display: flex;cursor: pointer;">
                                  <b>No disponibles</b>
                                  <mat-icon *ngIf="CampoSorteando[0] == 'nodisp'">{{Invertido[0]?"arrow_drop_down":"arrow_drop_up"}}</mat-icon>
                                  <mat-icon *ngIf="CampoSorteando[0] != 'nodisp'" style="color:#d9d9d9">arrow_drop_down</mat-icon>
                                </div>
                              </th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let elem of dataTable">
                              <td class="text-center"> {{elem.producto}} </td>
                              <td class="text-center"> {{elem.barcode}} </td>
                              <td class="text-center"> {{elem.codigotienda}} </td>
                              <td class="text-center"> {{elem.linea}} </td>
                              <td class="text-center"> {{elem.categoria}} </td>
                              <td class="text-center"> {{elem.marca}} </td>
                              <td class="text-center"> {{elem.cantidad}} </td>
                              <td class="text-center"> {{elem.precio|currency}} </td>
                              <td class="text-center"> {{elem.costo|currency}} </td>
                              <td class="text-center"> {{elem.costototal|currency}} </td>
                              <td class="text-center"> {{elem.pct_INVENTARIO}} </td>
                              <td class="text-center" (click)="openDialog(elem.barcode)"> {{elem.nodisp}} </td>
                            </tr>
                          </tbody>
                    </table>
                  </div>
              </mat-card-content>
          </mat-tab>
          <mat-tab label="Reporte Rotacion">
              <div class="row" style="width: 100%;padding:20px">
                <mat-form-field style="padding-left: 10px;">
                  <mat-label>Seleccione tienda</mat-label>
                  <mat-select [(ngModel)]="SelectedStoreProd">
                    <mat-option value="-1">
                        Todas
                    </mat-option>
                    <mat-option *ngFor="let elem of Stores" [value]="elem.id_STORE">
                      {{elem.store_NAME}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field style="padding-left: 10px;">
                  <mat-label>Seleccione Linea</mat-label>
                  <mat-select [(ngModel)]="SelectedLine" (selectionChange) = "getSecondLvlCategory()">
                    <mat-option [value]="-1">Todas</mat-option>
                    <mat-option *ngFor="let elem of CategoryFirstLvlList" [value]="elem.id_CATEGORY">
                      {{elem.category}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field style="padding-left: 10px;">
                  <mat-label>Seleccione categoria</mat-label>
                  <mat-select [(ngModel)]="SelectedSubCategory">
                    <mat-option [value]="-1">Todas</mat-option>
                    <mat-option *ngFor="let elem of SubCategoryList" [value]="elem.id_CATEGORY">
                      {{elem.category}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field style="padding-left: 10px;">
                    <mat-label>Seleccione marca</mat-label>
                    <mat-select [(ngModel)]="SelectedBrand">
                      <mat-option [value]="-1">Todas</mat-option>
                      <mat-option *ngFor="let elem of Brands" [value]="elem.id_BRAND">
                        {{elem.brand}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field style="padding-left: 10px;">
                    <input [(ngModel)]="days" matInput type="number" placeholder="Dias rotacion" autofocus>
                  </mat-form-field>
                  <div class="col my-col" style="padding-left: 10px;">
                    <button mat-flat-button color="warn" (click)="gen()">Generar</button>
                  </div>
                  <div class="col my-col" style="padding-left: 10px;">
                    <input type="image" (click)="excelrot()" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7f/Microsoft_Office_Excel_%282018%E2%80%93present%29.svg/1200px-Microsoft_Office_Excel_%282018%E2%80%93present%29.svg.png" height="42" width="42" />
                </div>
              </div>
              <div class="row" style="text-align:center;width: 100%">
                  <div class="col">
                    <h5 class="left-scroll">
                      Cantidad Actual
                    </h5>
                    <h3 class="left-scroll">
                      {{CantidadA}}
                    </h3>
                  </div>
                  <div class="col">
                    <h5 class="left-scroll">
                      Cantidad Vendida
                    </h5>
                    <h3 class="left-scroll">
                      {{CantidadV}}
                    </h3>
                  </div>
                  <div class="col">
                    <h5 class="left-scroll">
                      Días de Rotacion
                    </h5>
                    <h3 class="left-scroll">
                      {{roundRot()}}
                    </h3>
                </div>
                </div>
              <mat-card-content>
                  <div class="table-responsive">
                      <table class="table table-hover">
                          <thead>
                              <tr>
                                <th class="text-center">
                                  <div (click)="SortBy('producto',1)" style="justify-content: center;align-items: center;display: flex;cursor: pointer;">
                                    <b>Producto</b>
                                    <mat-icon *ngIf="CampoSorteando[1] == 'producto'">{{Invertido[1]?"arrow_drop_down":"arrow_drop_up"}}</mat-icon>
                                    <mat-icon *ngIf="CampoSorteando[1] != 'producto'" style="color:#d9d9d9">arrow_drop_down</mat-icon>
                                  </div>
                                </th>
                                <th class="text-center">
                                  <div (click)="SortBy('linea',1)" style="justify-content: center;align-items: center;display: flex;cursor: pointer;">
                                    <b>Linea</b>
                                    <mat-icon *ngIf="CampoSorteando[1] == 'linea'">{{Invertido[1]?"arrow_drop_down":"arrow_drop_up"}}</mat-icon>
                                    <mat-icon *ngIf="CampoSorteando[1] != 'linea'" style="color:#d9d9d9">arrow_drop_down</mat-icon>
                                  </div>
                                </th>
                                <th class="text-center">
                                  <div (click)="SortBy('categoria',1)" style="justify-content: center;align-items: center;display: flex;cursor: pointer;">
                                    <b>Categoria</b>
                                    <mat-icon *ngIf="CampoSorteando[1] == 'categoria'">{{Invertido[1]?"arrow_drop_down":"arrow_drop_up"}}</mat-icon>
                                    <mat-icon *ngIf="CampoSorteando[1] != 'categoria'" style="color:#d9d9d9">arrow_drop_down</mat-icon>
                                  </div>
                                </th>
                                <th class="text-center">
                                  <div (click)="SortBy('marca',1)" style="justify-content: center;align-items: center;display: flex;cursor: pointer;">
                                    <b>Marca</b>
                                    <mat-icon *ngIf="CampoSorteando[1] == 'marca'">{{Invertido[1]?"arrow_drop_down":"arrow_drop_up"}}</mat-icon>
                                    <mat-icon *ngIf="CampoSorteando[1] != 'marca'" style="color:#d9d9d9">arrow_drop_down</mat-icon>
                                  </div>
                                </th>
                                <th class="text-center">
                                  <div (click)="SortBy('cantidadactual',1)" style="justify-content: center;align-items: center;display: flex;cursor: pointer;">
                                    <b>Cantidad Actual</b>
                                    <mat-icon *ngIf="CampoSorteando[1] == 'cantidadactual'">{{Invertido[1]?"arrow_drop_down":"arrow_drop_up"}}</mat-icon>
                                    <mat-icon *ngIf="CampoSorteando[1] != 'cantidadactual'" style="color:#d9d9d9">arrow_drop_down</mat-icon>
                                  </div>
                                </th>
                                <th class="text-center">
                                  <div (click)="SortBy('cantidadvendida',1)" style="justify-content: center;align-items: center;display: flex;cursor: pointer;">
                                    <b>Cantidad Vendida</b>
                                    <mat-icon *ngIf="CampoSorteando[1] == 'cantidadvendida'">{{Invertido[1]?"arrow_drop_down":"arrow_drop_up"}}</mat-icon>
                                    <mat-icon *ngIf="CampoSorteando[1] != 'cantidadvendida'" style="color:#d9d9d9">arrow_drop_down</mat-icon>
                                  </div>
                                </th>
                                <th class="text-center">
                                  <div (click)="SortBy('dias_ROTACION',1)" style="justify-content: center;align-items: center;display: flex;cursor: pointer;">
                                    <b>Dias Rotacion</b>
                                    <mat-icon *ngIf="CampoSorteando[1] == 'dias_ROTACION'">{{Invertido[1]?"arrow_drop_down":"arrow_drop_up"}}</mat-icon>
                                    <mat-icon *ngIf="CampoSorteando[1] != 'dias_ROTACION'" style="color:#d9d9d9">arrow_drop_down</mat-icon>
                                  </div>
                                </th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let elem of dataTable2">
                                <td class="text-center"> {{elem.producto}} </td>
                                <td class="text-center"> {{elem.linea}} </td>
                                <td class="text-center"> {{elem.categoria}} </td>
                                <td class="text-center"> {{elem.marca}} </td>
                                <td class="text-center"> {{elem.cantidadactual}} </td>
                                <td class="text-center"> {{elem.cantidadvendida}} </td>
                                <td class="text-center"> {{elem.dias_ROTACION}} </td>
                              </tr>
                            </tbody>
                      </table>
                    </div>
                </mat-card-content>
            </mat-tab>
            <mat-tab label="Actualizar Inventario">
                <app-products-oncategory-update></app-products-oncategory-update>
            </mat-tab>
            <mat-tab label="Auditoria">
              <app-auditoria></app-auditoria>
            </mat-tab>
      </mat-tab-group>

  </mat-card-content>
</mat-card>
