<div class="backgroundDiv" *ngIf="!mobile" >
  
  <div class="row">
    <img src="assets/img/Logo.png" class="responsiveTopLogo">
  </div>
  <div class="row">
    
      <p class="ingresar"><a href="https://pruebas.tienda724.com/app/#/login?appid=30">Ingresar</a></p>
    
  </div>
  <div class="backgroundDiv2">
    <div class="row">
      <div class="firstParagraph">
        <p>Acceso y eficacia. Motor 1A es servicio establecido para interconectar, Clientes, Con Servitecas y Proveedores en un mismo Sistema.</p>
        <p>A su vez, cuando un cliente requiera mantenimiento de su vehículo, el sistema le mantiene informado del estado del automotor, le permite
          cotizar los repuestos y obtener un aviso en el momento que el vehículo se encuentre listo.
        </p>
        <img src="assets/img/flecha.png" class="arrow">
      </div>
    </div>
    <div class="row">
      <div class="secondParagraph">
        <p style="font-size: 4vmin;">Ingreso</p>
        <p>
          Un cliente tiene un problema con su vehículo.
        </p>
      </div>
      <div class="thirdParagraph">
        <p>
          Usando la aplicacion movil de Motor1A desde su celular, se le asigna un taller de servicio apropiado para atender el caso. 
        </p>
      </div>
    </div>
    <div class="row">
      <div class="fourthParagraph">
        <p style="font-size: 4vmin;">Diagnostico</p>
        <p>
          Una vez llevado el automovil al servicio asignado, el taller emitira un diagnostico que le sera informado al cliente a través de la aplicacion.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="fifthParagraph">
        <p style="font-size: 4vmin;">Cotización</p>
        <p>
          El cliente recibe la Cotización de repuestos y/o servicios.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="sixthParagraph">
        <p>
          Una vez aprobada se genera una orden de trabajo para el taller.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="seventhParagraph">
        <p style="font-size: 4vmin;">Reparación</p>
        <p>
          El Taller recibe la orden a través de la plataforma web de  Motor1A e inicia las labores de Reparación, Motor1A notificará al cliente permanentemente por el estado de los  trabajos realizados a su vehículo.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="eigthParagraph">
        <p style="font-size: 4vmin;">Entrega</p>
        <p>
          Finalmente el taller informa al cliente que el trabajo ha terminado y puede recoger su vehículo. El cliente puede pagar a través de Motor1A en linea o directamente en el taller.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="ninthParagraph">
        <p>
          Motor1A genera la correspondiente factura de venta, descuenta los inventarios de los repuestos vendidos y genera los registros en el módulo de contabilidad.
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="row" style="text-align: center;width:100%">
      <div class="col-3" style="margin-left: 5%;color: white;">
        <img src="assets/img/mundo.png" class="icon">
        <p>
          Acceda desde cualquier parte del mundo a la información de su negocio.
        </p>
      </div>
      <div class="col-3" style="margin-left: 5%;color: white;">
        <img src="assets/img/celular.png" class="icon">
        <p>
          Reciba notificaciones de indicadores de Gestión importantes para su negocio.
        </p>
      </div>
      <div class="col-3" style="margin-left: 5%;color: white;">
        <img src="assets/img/dinero.png" class="icon">
        <p>
          Controle el manejo de efectivo en sus cajas.
        </p>
      </div>
    </div>
    <div class="row" style="text-align: center;width:100%">
      <div class="col-3" style="margin-left: 5%;color: white;">
        <img src="assets/img/barras.png" class="icon">
        <p>
          Controle y administre sus inventarios fácil y eficientemente.
        </p>
      </div>
      <div class="col-3" style="margin-left: 5%;color: white;">
        <img src="assets/img/calendario.png" class="icon">
        <p>
          Monitoree y controle sus procesos internos de servicio de taller optimizando recursos.
        </p>
      </div>
      <div class="col-3" style="margin-left: 5%;color: white;">
        <img src="assets/img/redes.png" class="icon">
        <p>
          Motor1A tiene un módulo logístico que permite conectarse con sus distribuidores para hacer los pedidos de sus repuestos de manera automática.
        </p>
      </div>
    </div>
    <div class="row" style="text-align: center; width:100%">
      <div class="col-3" style="margin-left: 5%;color: white;">
        <br>
      </div>
      <div class="col-3" style="margin-left: 5%;color: white;">
        <img src="assets/img/carro.png" class="icon">
        <p>
          Distribuya sus repuestos y servicios a domicilio, Motor1A le permite administrar completamente estos procesos de haciendo un rastreo de sus pedidos desde que se crean hasta que se entregan y se pagan. Sus clientes pueden hacer los pedidos usando el APP de Motor1A.
        </p>
      </div>
      <div class="col-3" style="margin-left: 5%;color: white;">
        <img src="assets/img/mana.png" class="icon">
        <p>
          Genere fidelización prestando el mejor servicio post-venta. Cree y distribuya ofertas y promociones que sus clientes recibirán en su celular.
        </p>
      </div>
    </div>
    
  </div>
  <div class="form">
    <div>
      <div style="margin-left:6%;margin-right:6%;text-align: justify;">
          <p style="padding-top:5%;">
              <span style="font-size: 55px;font-family: 'thefont';color:white">
                  Sigamos en contacto
              </span>
          </p>
      </div>
      <div style="margin-left:7%;margin-right:6%;text-align: justify;">
          <div class="row" style="margin-top: 5%;margin-bottom: 2.5%;">
              <div class="col-25" style="font-family: 'thefont2';font-size: 40px;color: white;margin-right: 2%;">
                  <label for="fname">Nombre y Apellido: </label>
              </div>
              <div class="col-75">
                  <input type="text" id="fname" name="firstname" placeholder="" class="form__field">
              </div>
          </div>
          <div class="row" style="margin-bottom: 2.5%;">
              <div class="col-25" style="font-family: 'thefont2';font-size: 40px;color: white;margin-right: 2%;">
                  <label for="lname">Teléfono: </label>
              </div>
              <div class="col-75">
                  <input type="text" id="lname" name="lastname" placeholder="" class="form__field">
              </div>
          </div>
      </div>
      <!-- <div style="background-color: lightblue;text-align: center;" (click)="function()">
          <div class="st0">
              <span style="font-size: 35px;font-family: 'thefont';color:white">
                  Enviar
              </span>
          </div>
          
      </div> -->  
  </div>  
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>  
  </div>
  <div class="row">
    <img src="assets/img/Logo.png" class="responsiveBotLogo">
    <p style="margin-left: 75%;margin-top: -3%;">www.motor1a.com, Bogotá, +57 320 8403594</p>  
  </div>
</div>


<div *ngIf="mobile" style="background-color: #010234;">
  <div style="display: flex; background-image: url('assets/img/fondo1.png');background-size: 100% 100%;background-repeat: no-repeat;">
    <div style="width:65%; margin-left: 5%;">
      <img src="assets/img/Logo.png" style="max-height: 100%;max-width: 80%;margin-top: 5%;" >
    </div>
    <div style="width:25%;margin-right: 5%;">
      <p style="font-family: 'thefont2';
      font-size: 4vmin;margin-top: 20%;"><a href="https://pruebas.tienda724.com/app/#/login?appid=30">Ingresar</a></p>
       <br>
       <br>
       <br>
       <br>  
       <br>
       <br>
       <br> 
    </div>
  </div>
  <div style="display: flex; background-color: #010234;">
    <div style="width:90%; margin-left: 5%;margin-right: 5%;">
      <p style="font-family: 'thefont'; font-size: 3.5vmin; color: white;text-align: left;">
        Es un sistema de información especializado en el sector automotriz, donde los Clientes, Talleres de Servicio, Almacenes de Repuestos, Distribuidores y Mayoristas interactúan optimizando sus procesos de negocio. 
      </p> <br> 
    </div>
  </div>
  <div style="display: flex; background-color: #010234;">
    <div style="width:40%; margin-left: 5%;margin-right: 5%;">
      <p style="font-family: 'thefont2'; font-size: 4vmin; color: white;text-align: left;">
        Servicio de Taller 
      </p>
      <p style="font-family: 'thefont'; font-size: 3.5vmin; color: white;text-align: left;">
        Un cliente tiene un problema con su vehículo 
      </p>
    </div>
    <div style="width:50%;">
      <img src="assets/img/1.png" style="max-height: 100%;max-width: 100%;margin-left: 33.1%;" >
    </div>
  </div>
  <div style="display: flex; background-color: #010234;">
    <div style="width:100%;text-align: center;">
      <img src="assets/img/2.png" style="max-height: 200%;max-width: 1200%;" >
    </div>
  </div>
  <div style="display: flex; background-color: #010234;">
    <div style="width:90%; margin-left: 5%;margin-right: 5%;">
      <p style="font-family: 'thefont'; font-size: 3.5vmin; color: white;text-align: left;">
        Usando la aplicación movil de Motor1A desde su celular se le asigna un taller de servicio apropiado para tender el caso.
      </p>
      <br>
    </div>
  </div>
  <div style="display: flex; background-color: #010234;">
    <div style="width:90%; margin-left: 5%;margin-right: 5%;">
      <p style="font-family: 'thefont2'; font-size: 4vmin; color: white;text-align: left;">
        Diagnóstico 
      </p>
      <p style="font-family: 'thefont'; font-size: 3.5vmin; color: white;text-align: left;">
        Una vez llevado el automovil al servicio asignado, el taller emitirá un diagnostico que le sera informado al cliente a través de la aplicación.
      </p>
    </div>
  </div>
  <div style="display: flex; background-color: #010234;">
    <div style="width:100%;text-align: center;">
      <img src="assets/img/3.png" style="max-height: 200%;max-width: 1200%;" >
      <br>
      <br>
      <br>
    </div>
  </div>
  <div style="display: flex; background-color: #010234;">
    <div style="width:90%; margin-left: 5%;margin-right: 5%;">
      <p style="font-family: 'thefont2'; font-size: 4vmin; color: white;text-align: left;">
        Cotización 
      </p>
      <p style="font-family: 'thefont'; font-size: 3.5vmin; color: white;text-align: left;">
        El cliente recibe  la cotización de respuestos y/o servicios. Una vez aprobada se genera una orden de trabajo para el taller.
      </p>
    </div>
  </div>
  <div style="display: flex; background-color: #010234;">
    <div style="width:100%;text-align: center;">
      <img src="assets/img/4.png" style="max-height: 200%;max-width: 1200%;" >
      <br>
      <br>
      <br>
    </div>
  </div>
  <div style="display: flex; background-color: #010234;">
    <div style="width:90%; margin-left: 5%;margin-right: 5%;">
      <p style="font-family: 'thefont2'; font-size: 4vmin; color: white;text-align: left;">
        Reparación 
      </p>
      <p style="font-family: 'thefont'; font-size: 3.5vmin; color: white;text-align: left;">
        El taller recibe la orden a través de la plataforma web de Motor1A e inicia las labores de reparación, Motor1A notificará al cliente permanentemente por el estado de los trabajos realizados a su vehículo
      </p>
    </div>
  </div>
  <div style="display: flex; background-color: #010234;">
    <div style="width:100%;text-align: center;">
      <img src="assets/img/5.png" style="max-height: 200%;max-width: 1200%;" >
      <br>
      <br>
      <br>
    </div>
  </div>
  <div style="display: flex; background-color: #010234;">
    <div style="width:90%; margin-left: 5%;margin-right: 5%;">
      <p style="font-family: 'thefont2'; font-size: 4vmin; color: white;text-align: left;">
        Entrega 
      </p>
      <p style="font-family: 'thefont'; font-size: 3.5vmin; color: white;text-align: left;">
        Finalmente el taller informa al cliente que el trabajo ha terminado y puede recoger su vehículo. El cliente puede pagar a través de Motor1A en línea o directamente en el taller. Motor1A genera la correspondiente factura de venta, descuenta los inventarios de los repuestos vendidos y genera los registros en el módulo de contabilidad.
      </p>
    </div>
  </div>
  <div style="display: flex; background-color: #010234;">
    <div style="width:100%;text-align: center;">
      <img src="assets/img/6.png" style="max-height: 200%;max-width: 1200%;" >
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
  </div>
  <div style="display: flex; background-color: #010234;">
    <div style="width:70%; margin-left: 15%;margin-right: 15%; text-align: center;">
      <img src="assets/img/mundo.png" class="icon">
      <p style="font-family: 'thefont'; font-size: 3.5vmin; color: white;">
        Acceda desde cualquier parte del mundo a la información de su negocio.
      </p>
      <br>
      <br>
    </div>
  </div>
  <div style="display: flex; background-color: #010234;">
    <div style="width:70%; margin-left: 15%;margin-right: 15%; text-align: center;">
      <img src="assets/img/celular.png" class="icon">
      <p style="font-family: 'thefont'; font-size: 3.5vmin; color: white;">
        Reciba notificaciones de indicadores de Gestión importantes para su negocio.
      </p>
      <br>
      <br>
    </div>
  </div>
  <div style="display: flex; background-color: #010234;">
    <div style="width:70%; margin-left: 15%;margin-right: 15%; text-align: center;">
      <img src="assets/img/dinero.png" class="icon">
      <p style="font-family: 'thefont'; font-size: 3.5vmin; color: white;">
        Controle el manejo de efectivo en sus cajas.
      </p>
      <br>
      <br>
    </div>
  </div>
  <div style="display: flex; background-color: #010234;">
    <div style="width:70%; margin-left: 15%;margin-right: 15%; text-align: center;">
      <img src="assets/img/barras.png" class="icon">
      <p style="font-family: 'thefont'; font-size: 3.5vmin; color: white;">
        Controle y administre sus inventarios fácil y eficientemente.
      </p>
      <br>
      <br>
    </div>
  </div>
  <div style="display: flex; background-color: #010234;">
    <div style="width:70%; margin-left: 15%;margin-right: 15%; text-align: center;">
      <img src="assets/img/calendario.png" class="icon">
      <p style="font-family: 'thefont'; font-size: 3.5vmin; color: white;">
        Monitoree y controle sus procesos internos de servicio de taller optimizando recursos.
      </p>
      <br>
      <br>
    </div>
  </div>
  <div style="display: flex; background-color: #010234;">
    <div style="width:70%; margin-left: 15%;margin-right: 15%; text-align: center;">
      <img src="assets/img/redes.png" class="icon">
      <p style="font-family: 'thefont'; font-size: 3.5vmin; color: white;">
        Motor1A tiene un módulo logístico que permite conectarse con sus distribuidores para hacer los pedidos de sus repuestos de manera automática.
      </p>
      <br>
      <br>
    </div>
  </div>
  <div style="display: flex; background-color: #010234;">
    <div style="width:70%; margin-left: 15%;margin-right: 15%; text-align: center;">
      <img src="assets/img/carro.png" class="icon">
      <p style="font-family: 'thefont'; font-size: 3.5vmin; color: white;">
        Distribuya sus repuestos y servicios a domicilio, Motor1A le permite administrar completamente estos procesos de haciendo un rastreo de sus pedidos desde que se crean hasta que se entregan y se pagan. Sus clientes pueden hacer los pedidos usando el APP de Motor1A.
      </p>
      <br>
      <br>
    </div>
  </div>
  <div style="display: flex; background-color: #010234;">
    <div style="width:70%; margin-left: 15%;margin-right: 15%; text-align: center;">
      <img src="assets/img/mana.png" class="icon">
      <p style="font-family: 'thefont'; font-size: 3.5vmin; color: white;">
        Genere fidelización prestando el mejor servicio post-venta. Cree y distribuya ofertas y promociones que sus clientes recibirán en su celular.
      </p>
      <br>
      <br>
    </div>
  </div>
  <div style="display: flex; background-color: #010234;">
    <div style="width:90%; margin-left: 5%;margin-right: 5%;">
      <p style="font-family: 'thefont'; font-size: 5.5vmin; color: white;">
        Permitanos Contactarle
      </p>
      <label for="fname" style="font-family: 'thefont'; font-size: 3.5vmin; color: white">Nombre y Apellido </label>
      <input type="text" id="fname" name="firstname" placeholder="" class="form__field">
      <br>
      <br>
      <br>
      <label for="lname" style="font-family: 'thefont'; font-size: 3.5vmin; color: white">Teléfono </label>
      <input type="text" id="lname" name="lastname" placeholder="" class="form__field">
      <br>
      <br>
      <br>
    </div>
  </div>
  <div style="display: flex; background-image: url('assets/img/fondo2.png');background-size: 100% 100%;background-repeat: no-repeat;">
    <div style="width:25%;margin-right: 5%;">
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>  
    </div>
    <div style="width:90%; margin-left: 5%;margin-right: 5%;">
      <img src="assets/img/Logo.png" style="max-height: 100%;max-width: 80%;margin-top: 80%;margin-left: 20%;margin-bottom: 5%;" >
    </div>
  </div>
</div>


