@font-face {
    font-family: 'thefont';
    src: url('../assets/font/roboto/Roboto-Regular.ttf');
    font-style: normal;
}

@font-face {
    background-repeat: no-repeat;
    font-family: 'thefont2';
    src: url('../assets/font/roboto/Roboto-Bold.ttf');
    font-style: normal;
}

.backgroundDiv{
    background-image: url("../assets/img/fondo.png");
    background-size: cover;
}

.backgroundDiv2{
    background-image: url("../assets/img/infografia.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y:100%;
    margin-bottom: 10%;
}

.responsiveTopLogo{
    width: 20%;
    height: 20%;
    margin: 4%;
}

.responsiveBody{
    margin-left: 5%;
    width: 90%;
    height: 100%;
    position: relative;
}


.ingresar{
    font-family: "thefont2";
    font-size: 3vmin;
    margin-left: 4%;
    margin-top: -3%;
}
.firstParagraph{

    text-align: left;
    margin-right: 75%;
    font-family: "thefont";
    font-size: 2vmin;
    margin-left: 4%;
    color: white;
    margin-top: 15%;
    margin-bottom: 8%;
}

.secondParagraph{
    text-align: left;
    font-family: "thefont";
    font-size: 2vmin;
    margin-left: 25%;
    margin-right: 57%;
    margin-top: -5%;
    color: white;
}


.arrow{
    size: 100% 100%;
    margin-left: 90%;
}

.thirdParagraph{
    text-align: left;
    font-family: "thefont";
    font-size: 2vmin;
    margin-left: 77%;
    margin-right: 5%;
    margin-top: -8.2%;
    color: white;
}

.fourthParagraph{
    text-align: left;
    font-family: "thefont";
    font-size: 2vmin;
    margin-left: 35%;
    margin-right: 45%;
    margin-top: 36%;
    color: white;
}


.fifthParagraph{
    text-align: left;
    font-family: "thefont";
    font-size: 2vmin;
    margin-left: 20%;
    margin-right: 60%;
    margin-top: 17%;
    color: white;
}


.sixthParagraph{
    text-align: left;
    font-family: "thefont";
    font-size: 2vmin;
    margin-left: 20%;
    margin-right: 65%;
    margin-top: 0.5%;
    color: white;
}

.seventhParagraph{
    text-align: right;
    font-family: "thefont";
    font-size: 2vmin;
    margin-left: 15%;
    margin-right: 60%;
    margin-top: 41%;
    color: white;
}

.eigthParagraph{
    text-align: left;
    font-family: "thefont";
    font-size: 2vmin;
    margin-left: 55%;
    margin-right: 20%;
    margin-top: 33%;
    color: white;
}


.ninthParagraph{
    text-align: left;
    font-family: "thefont";
    font-size: 2vmin;
    margin-left: 55%;
    margin-right: 20%;
    margin-top: 1%;
    color: white;
}


.item {
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 100%;
    margin-top: 100%;
} 


.form__field {
  font-family: 'thefont';
  width: 100%;
  border: 0;
  border-bottom: 2px solid #ebcc34;
  outline: 0;
  font-size: 3vmin;
  color: white;
  background: transparent;
  transition: border-color 0.2s;
  position: relative
}

.responsiveBotLogo{
    width: 20%;
    height: 20%;
    margin-left: 75%;
    margin-bottom: 3%;
}


.icon{
    max-width: 1000%;
    max-height: 100%;
    margin-bottom: 2%;
}