
.ContenedorImagen{
  height: 70%;
  width: 100%;
  text-align: center;
}

.TextoCategoria{
  flex: auto;
  text-transform: capitalize;
  //white-space:nowrap;
  text-align: center;
  //padding: 4px;
  //background-color: #178ec7;
  color: inherit;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ContenidoLinea{
  height: 100%;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.AjusteImg{
  height: 100%;
  width: 100%;
}

.ContenedorLinea{
  margin: 0;
  display: flex;
  float:left;
  width: calc(33vw - 12px);
  margin-top: 10px;
  margin-left: 10px;
  height: 15vh;
  color: #f2f2f1;
  background-color: #58A7DF;
  border: solid 2px #58A7DF;
  border-radius: 10px;
  overflow: hidden;
}

.ContenedorLinea:after{clear:both}
