<h1 mat-dialog-title>Hi {{data.name}}</h1>
<div mat-dialog-content>
  <p>What's your favorite animal?</p>
  <div class="row">
        <mat-form-field>
                <input matInput tabindex="1" [(ngModel)]="data.animal">
              </mat-form-field>

  </div>
  <div class="row">
        <mat-form-field>
            <input matInput tabindex="1" [(ngModel)]="data.animal">
        </mat-form-field>
  </div>
 
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()" tabindex="-1">Salir</button>
  <button mat-button [mat-dialog-close]="data.animal" tabindex="2">Guardar Todo</button>
  
</div>