<img (click)="ClickWhatsApp()" style="height: unset;width: 3%;margin: 0 auto;cursor: pointer;border-radius: 120px;position: absolute;bottom: 2vw;right: 2vw;z-index: 10;" src="assets/ws.png">
<div class="ScrollBar" style="overflow: auto;background-image: linear-gradient(#337acc, white);height: 100vh;height: calc(var(--vh, 1vh) * 100);width: 100vw;overflow-x: hidden;" *ngIf="!mobile" >
  <div class="parent">
    <img src="assets/img/inicio.png" style="height: 100%;width: 107.3%; margin-top: -4.3%;margin-left: -3.5%; position:relative" >
    <img src="assets/img/Logo.png" style="height: 35%;width: 25%; margin-top: -44%;margin-left: 21%; position:absolute" >
    <img src="assets/img/plataforma.png" style="height: 30%;width: 35%; margin-top: -45.5%;margin-left: 33.8%; position:absolute" >
    <img src="assets/img/servicio.png" style="height: 30%;width: 35%; margin-top: -42.5%;margin-left: 34%; position:absolute" >
    <img src="assets/img/contacto.png" style="height: 30%;width: 35%; margin-top: -39.2%;margin-left: 33.7%; position:absolute" >
    <div style="height: 100%;width:30%;margin-top: -20%;margin-left:23%;text-align: justify;position: absolute;">
      <p style="font-family: 'thefont'; font-size: 2.3vmin;">
        <span style="font-family: 'thefont3';font-size: 2.3vmin;color: #337acc;">Denlíne@</span> te ofrece una plataforma tecnológica integral para que comercialices tus productos a través de internet.
      </p>
      <p>
        <span style="font-family: 'thefont';font-size: 2.3vmin;">Y te otorga una plataforma </span><span style="font-family: 'thefont2';font-size: 2.3vmin;">gratuita </span><span style="font-family: 'thefont';font-size: 2.3vmin;">para que puedas administrar tu negocio y tus ventas, ¡Sin salir de casa! </span>
      </p>
    </div>
    <img src="assets/img/venta.png" style="height: 75%;width: 45%;margin-top: -50% ;margin-left: 55% ; position:absolute" >
  </div>
  <div class="row">
    <p style="font-family: 'thefont'; font-size: 2.3vmin; margin-left: 10%;margin-right: 70%;color: white;margin-top:5%">
      Sistema de Pedidos en línea que garantiza comunicación de doble vía durante todo el proceso desde que se crea el producto hasta que se entrega.
    </p>
    <div style="color:white; font-family: 'thefont'; font-size:2.3vmin; margin-left: 9%; margin-right:71%">
      <ul>
        <li>Tienda on-line</li>
        <li>Carrito de compras</li>
        <li>Control de inventarios</li>
        <li>Registra tus compras</li>
      </ul>
    </div>

    <p style="font-family: 'thefont'; font-size: 2.3vmin; margin-left: 60%;margin-right: 10%;margin-bottom:5%;margin-top:-5%;color: white">
      Marketing digital especializado
    </p>
    <p style="font-family: 'thefont'; font-size: 2.3vmin; margin-left: 70%;margin-right: 5%;color: white;margin-bottom:5%;">
      Página web con tu propia imagen corporativa
    </p>
    <p style="font-family: 'thefont'; font-size: 2.3vmin; margin-left: 80%;margin-right: 5%;color: white;margin-bottom:5%;">
      Administra tu catálogo de productos
    </p>

    <img src="assets/img/carrito.png" style="height: 30%;width: 30%;margin-left: 30%;margin-top:-50%;position:relative" >
    <img src="assets/img/cel.png" style="height: 30%;width: 30%;margin-left: 45%;margin-top: -5%;position:relative" >
    <img src="assets/img/usuario.png" style="height: 30%;width: 30%;margin-left: 10%;margin-top: -15%;position:relative">
    <p style="font-family: 'thefont'; font-size: 2.3vmin; margin-left: 40%;margin-right: 40%;color: white;margin-top:-30%">
      Controla y monitorea tu negocio a través de informes y reportes inteligentes.
    </p>
    <div style="color:white; font-family: 'thefont'; font-size:2.3vmin; margin-left: 39%; margin-right:41%;;margin-bottom: 20%;">
      <ul>
        <li>Genera tus facturas</li>
        <li>Lleva tu contabilidad de manera fácil y segura</li>
        <li>Permítele a tus clientes pagar en línea</li>
      </ul>
    </div>
  </div>
  <div class="parent">
    <img src="assets/img/negocio.png" style="height: 60%;width: 100%;margin-top: 6% ;margin-left: 20% ;" >
    <img src="assets/img/hombre.png" style="height: 70%;width: 25%;margin-top: -45% ;margin-left: 40% ; position:absolute" >
    <img src="assets/img/mujer.png" style="height: 70%;width: 20%;margin-top: -48% ;margin-left: 75% ;position:absolute" >
    <div style="height: 100%;width:30%;margin-top: -20%;margin-left:33%;text-align: justify;position: absolute;">
      <p style="font-family: 'thefont2'; font-size: 2.3vmin;">
        Nada puede detener tu negocio.
      </p>
      <p>
        <span style="font-family: 'thefont';font-size: 2.3vmin;">!Contrólalo, adminístralo, desde cualquier parte del mundo!, Todo lo tienes aquí, con nosotros.</span>
      </p>
    </div>
    <img src="assets/img/white.png" style="height: 20%;width: 109.1%;position: absolute;margin-top: -1%;margin-left:-3%;" >
    <img src="assets/img/pregunta.png" style="height: 20%;width: 30%;position: absolute;margin-top: -1%;margin-left:20%;" >
  </div>




  <div style="margin-top: 10%;margin-left: 23%;display: flex;flex-direction: column">

    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="form_main">
            <div class="form">
              <form action="contact_send_mail.php" method="post" id="contactFrm" name="contactFrm">
                <input type="text" required="" placeholder="Nomre y Apellido" value="" name="name" class="txt">
                <input type="text" required="" placeholder="Teléfono" value="" name="mob" class="txt">
                <input type="text" required="" placeholder="E-mail" value="" name="email" class="txt"><br>
                <span style="font-family: 'thefont2';font-size: 1.5vmin;">Somos tu solución para todas tus necesidades de distribución y venta en línea.    </span>
                <input type="submit" value="Enviar" name="submit" class="txt2" style="margin-left: 2%;">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <br><br><br><br><br><br>
  <div class="row">
    <span style="font-family: 'thefont2';font-size: 12px;margin-left: 90% ;">www.denlinea.com</span>
  </div>
  <div class="row">
    <span style="font-family: 'thefont2';font-size: 12px;margin-left: 90% ">Bogotá, +57 320 8403594 </span>
  </div>
</div>

<div *ngIf="mobile">
  <div style="display: flex; background-color: #337acc">
    <div style="background-color: white;width:48%; margin-left: 2%;">
      <img src="assets/img/Logo.png" style="max-height: 100%;max-width: 100%;" >
    </div>
    <div style=" width:50%;margin-top: 5%;">
      <ul style="list-style-type: none;">
        <li style="font-family: 'thefont'; font-size: 5vmin;color: white">Plataforma</li>
        <li style="font-family: 'thefont'; font-size: 5vmin;color: white">Servicios</li>
        <li style="font-family: 'thefont'; font-size: 5vmin;color: white">Contacto</li>
      </ul>
    </div>
  </div>
  <div style="display: flex;background-color: white;">
    <div style="width:80%;margin-left: 10%;margin-right: 10%;text-align: justify;">
      <p style="font-family: 'thefont'; font-size: 4vmin;">
        <span style="font-family: 'thefont3';font-size: 4vmin;color: #337acc;">Denlíne@</span> te ofrece una plataforma tecnológica integral para que comercialices tus productos a través de internet.
      </p>
    </div>
  </div>
  <div style="display: flex;background-color: #337acc">
    <br>
    <br>
    <br>
  </div>
  <div style="display: flex;background-color: white;margin-bottom: 35%;">
    <div style="width:80%;margin-left: 10%;margin-right: 10%;text-align: justify;">
      <img src="assets/img/venta.png" style="max-height: 65%;max-width: 65%;margin-top: -25%; position:absolute; margin-left: 20%" >
    </div>
  </div>
  <div style="display: flex;background-color: white">
    <div style="width:80%;margin-left: 10%;margin-right: 10%;text-align: justify;">
      <p style="font-family: 'thefont'; font-size:4vmin; width: 100%;">
        Además te ofrecemos un sistema de Pedidos en línea que garantiza comunicación de doble vía durante todo el proceso desde que se crea el producto hasta que se entrega.
      </p>
    </div>
  </div>
  <div style="display: flex;background-color: white">
    <div style="width:80%;margin-left: 10%;margin-right: 10%;">
      <ul>
        <li style="font-family: 'thefont'; font-size: 4vmin;">Tienda On-line</li>
        <li style="font-family: 'thefont'; font-size: 4vmin;">Carrito de Compras</li>
        <li style="font-family: 'thefont'; font-size: 4vmin;">Control de Inventarios</li>
        <li style="font-family: 'thefont'; font-size: 4vmin;">Registra tus Compras</li>
      </ul>
    </div>
  </div>
  <div style="display: flex;background-color: #337acc">
    <div style="width:80%;margin-left: 10%;margin-right: 10%;">
      <div style="width:50%;">
        <img src="assets/img/cel.png" style="max-height: 50%;max-width: 50%; position:absolute;margin-top: 5%;margin-left: -15%;">
      </div>
      <p style="font-family: 'thefont'; font-size:4.2vmin; width: 60%;color: white;margin-left: 40%;">
        Administra tu catálogo de productos
      </p>
      <p style="font-family: 'thefont'; font-size:4.2vmin; width: 50%;color: white;margin-left: 50%;">
        Pagina web con tu propia imagen corporativa
      </p>
    </div>
  </div>
  <div style="display: flex;background-color: #337acc">
    <div style="width:80%;margin-left: 10%;margin-right: 10%;">
      <p style="font-family: 'thefont'; font-size:4.2vmin; width: 40%;color: white;">
        Marketing digital Especializado
      </p>
      <div style="width:50%;">
        <img src="assets/img/mujer.png" style="max-height: 45%;max-width: 45%; position:absolute;margin-top: -30%;margin-left: 45%;transform: scaleX(-1)">
      </div>
    </div>
  </div>
  <div style="display: flex;background-color: white">
    <div style="width:80%;margin-left: 10%;margin-right: 10%;margin-top: 2%;margin-bottom: 2%;">
      <p style="font-family: 'thefont'; font-size:4vmin; width: 100%;">
        Controla y monitorea tu negocio a través de informes y reportes inteligentes
      </p>
    </div>
  </div>
  <div style="display: flex;background-color: #337acc">
    <div style="width:80%;margin-left: 10%;margin-right: 10%;">
      <p style="font-family: 'thefont'; font-size:4.1vmin; width: 50%;color: white;">
        Genera tus Facturas
      </p>
      <p style="font-family: 'thefont'; font-size:4.1vmin; width: 50%;color: white;">
        Lleva tu contabilidad de manera fácil y segura
      </p>
      <p style="font-family: 'thefont'; font-size:4.1vmin; width: 50%;color: white;">
        Permítele a tus clientes Pagar en línea
      </p>
      <div style="width:50%;">
        <img src="assets/img/usuario.png" style="max-height: 30%;max-width: 30%; position:absolute;margin-top: -52%;margin-left: 45%;transform: scaleX(-1)">
      </div>
    </div>
  </div>
  <div style="display: flex;background-color: white;">
    <div style="width:80%;margin-left: 10%;margin-right: 10%;text-align: justify;margin-top: 10%;margin-bottom: 10%;">
      <p style="font-family: 'thefont'; font-size: 4vmin;">
        !Administra tu negocio, desde cualquier parte del mundo!, Todo lo tienes aquí, con nosotros.
      </p>
    </div>
  </div>
  <div style="display: flex;background-color: #337acc;">
    <br>
  </div>
  <div style="display: flex;background-color: white;">
    <div style="width:100%;text-align: center;">
      <p style="font-family: 'thefont3'; font-size: 5vmin;">
        ¿Listo para comenzar?
      </p>
    </div>
  </div>

  <div style="display: flex;background-color: #337acc;">
    <div style="width:100%;text-align: center;margin-bottom: 2%;">
      <div class="form">
        <img (click)="ClickWhatsApp()" style="height: unset;width: 90%;margin: 0 auto;cursor: pointer" src="https://tienda724.com/tienda724/wp-content/uploads/2019/10/wp.jpg">
        <form action="contact_send_mail.php" method="post" id="contactFrm" name="contactFrm">
          <input type="text" required="" placeholder="Nomre y Apellido" value="" name="name" class="txt" style="width: 98%">
          <input type="text" required="" placeholder="Teléfono" value="" name="mob" class="txt"style="width: 98%">
          <input type="text" required="" placeholder="E-mail" value="" name="email" class="txt"style="width: 98%"><br>
          <input type="submit" value="Enviar" name="submit" class="txt2" style="width: 100%;"><br>
          <span style="font-family: 'thefont2';font-size: 4vmin;">Somos tu solución para todas tus necesidades de distribución y venta en línea.    </span>

        </form>

      </div>
    </div>
  </div>
</div>
