@font-face {
  font-family: 'thefont';
  src: url('src/assets/font/SourceSansPro-Regular.otf');
  font-style: normal;
}
@font-face {
  font-family: 'thefont2';
  src: url('src/assets/font/SourceSansPro-Bold.otf');
  font-style: normal;
}

@font-face {
  font-family: 'thefont3';
  src: url('src/assets/font/SourceSansPro-BoldIt.otf');
  font-style: italic;
}


.parent {
  position: relative;
  top: 0;
  left: 0;
}





.form_main h4 {
  font-family: roboto;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 15px;
  margin-top: 20px;
  text-transform: uppercase;
}
.form {
  border-radius: 7px;
  padding: 6px;
}
.txt[type="text"] {
  border: 1px solid white;
  border-radius: 5px;
  margin: 10px 0;
  padding: 10px 0 10px 5px;
  width: 50%;
}
.txt_3[type="text"] {
  margin: 10px 0 0;
  padding: 10px 0 10px 5px;
  width: 100%;
}
.txt2[type="submit"] {
  background: #99cc66 none repeat scroll 0 0;
  border: 1px solid #99cc66;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  line-height: 35px;
  margin: 10px 0;
  padding: 0;
  text-transform: uppercase;
  width: 15%;
}
.txt2:hover {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  color: #5793ef;
  transition: all 0.5s ease 0s;
}
