
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 tky-full-width" *ngFor="let item of SubMenu">
            <div class="card card-stats tky-cursor"  [routerLink]="item.route" [queryParams]="{ type: item.id }"  >
              <div class="card-header" data-background-color="item.color">
                <i class="material-icons">{{item.icon}}</i>
              </div>
              <div class="card-content">
                <h3 class="title">Movimiento de {{item.name}}</h3>
              </div>
              <div class="card-footer">
                <div class="stats">
                    <button mat-raised-button color="primary" class="tky-full-width"  
                    [routerLink]="item.route" [queryParams]="{ type: item.id }"
                    matTooltip="MENU!" >
                      
                    <i class="material-icons text-danger">warning</i>  Acceder
                    </button>
                   
                </div>
              </div>
            </div>
          </div>
    </div>
    </div>
