@font-face {
    font-family: 'thefont';
    src: url('../../assets/img/Fuente/d-din/D-DINExp.otf');
    font-style: normal;
}
@font-face {
    font-family: 'thefont2';
    src: url('../../assets/img/Fuente/d-din/D-DINExp-Bold.otf');
    font-style: normal;
}

.responsive {
    width: 75%;
    height: 50%; 
    margin-top: -15%;
  }

.responsiveCentered {
    width: 75%;
    margin-top: -12%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.responsiveSideLogo {
    max-width: 100%;
    max-height:100%;
    margin-top: 0%;

}

.responsiveTopLogo {
    max-width: 110%;
    max-height:110%;
    margin-top: 0%;

}

.column {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }