<div style="background-color: rgb(255,255,255,0.8)">
    <img src="assets/img/svgtopng/Recursos-01.png" class="responsive">
    <div style="margin-top: -22%;margin-left: 27.5%; margin-right: 27.5%;margin-bottom:5%;text-align: justify;">
        <p style="line-height: 1.5em;">
            <span style="font-size: 25px;font-family: 'thefont';">
                Para su empresa, mantener las bases de datos de misión crítica disponibles la mayor cantidad de tiempo y ofreciendo el mejor servicio es fundamental.
            </span>
        </p>
        <p style="line-height: 1.5em;">
            <span style="font-size: 25px;font-family: 'thefont';">Conscientes de esto le presentamos </span><span style="color:red;font-size: 25px;font-family: 'thefont2';">Data Base Administration 724.</span>
        </p>
    </div>

    <div class="row">
        <div class="col-md-5 col-sm-12" style="margin-left:6%;margin-bottom:4%;text-align: justify;">
            <img src="assets/img/svgtopng/SVG 4 Reexportado.png" class="responsiveTopLogo" style="margin-left: -15%;">
            <p style="line-height: 1.5em;">
                <span style="font-size: 25px;font-family: 'thefont';">
                    Nuestro trabajo es asegurar el óptimo desempeño de sus bases de datos y servidores de aplicaciones. Este servicio garantiza la disponibilidad  y máximo rendimiento  implementando las mejores prácticas en administración certificada Oracle y prestando atención  24/7/365  ante cualquier incidente.
                </span>
            </p>
        </div>
        <div class="col-md-5 col-sm-12" style="margin-top: 4%;margin-left:4%;text-align: center;">
            <img src="assets/img/svgtopng/Recursos-02.png" class="responsiveCentered">
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 col-sm-12" style="margin-left:6.65%;margin-bottom:5%;text-align: justify;">
            <img src="assets/img/svgtopng/Recursos-03.png" class="responsiveCentered">
        </div>
        <div class="col-md-5 col-sm-12" style="margin-top:4%;margin-left:6.65%;margin-bottom:5%;text-align: justify;">
            <p style="line-height: 1.5em;">
                <span style="font-size: 25px;font-family: 'thefont';">
                    Podrá concentrarse en su negocio contando con un aliado experto en el manejo de soluciones Oracle. Apoyaremos en todo momento al personal de soporte de primer nivel. Adicionalmente el cliente deja de pagar los altos costos de consultoría requeridos cuando sucede algún incidente o cuando se necesita implementar complejas tecnologías como RAC, Data Guard, RMAN, ASM, etc.
                </span>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-sm-10" style="margin-left:6.65%;margin-bottom:5%;text-align: justify;">
            <p style="line-height: 1.5em;">
                <span style="font-size: 25px;font-family: 'thefont';">
                    Somos consultores certificados Oracle con más de 12 años de experiencia en administración de las herramientas que soportamos.
                    Nuestros servicios se han prestado exitosamente en el sector privado y gobierno en diferentes países de Latinoamérica.
                </span>
            </p>
            <p style="line-height: 1.5em;">
                <span style="font-size: 25px;font-family: 'thefont';">
                    La calidad es nuestro sello y la tranquilidad, su mejor inversión.
                </span>
            </p>
        </div>
    </div>
</div>
