<mat-toolbar class=" navbar-transparent fixed-top mat-elevation-z12" style="background-color: #052f5f; color: rgb(255, 255, 255);display: flex;position: relative" >
  <span style="margin: auto">RestoBar724</span>
  <div style="position: absolute;right: 0" class="navbar-header">
    <button style="background: #052f5f;" type="button" class="navbar-toggle" data-toggle="collapse" (click)="sidebarToggle()">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
</mat-toolbar>

