 <!-- Servicios -->
 <div id="services">
    <div class="indicator d-none d-md-block"></div>
    <ul class="dropdown-menu" id="servicios">
        <li>
            <a href="http://correo.unal.edu.co" target="_blank"><img src="assets/images/icnServEmail.png" width="32" height="32" alt="Correo Electrónico">Correo Electrónico</a>
        </li>
        <li>
            <a href="https://dninfoa.unal.edu.co" target="_blank"><img src="assets/images/icnServSia.png" width="32" height="32" alt="Dirección Nacional de Información Académica">DNINFOA - SIA</a>
        </li>
        <li>
            <a href="http://bibliotecas.unal.edu.co" target="_blank"><img src="assets/images/icnServLibrary.png" width="32" height="32" alt="Biblioteca">Bibliotecas</a>
        </li>
        <li>
            <a href="http://personal.unal.edu.co" target="_blank"><img src="assets/images/icnServCall.png" width="32" height="32" alt="Convocatorias">Convocatorias</a>
        </li>
        <li>
            <a href="http://identidad.unal.edu.co"><img src="assets/images/icnServIdentidad.png" width="32" height="32" alt="Identidad U.N.">Identidad U.N.</a>
        </li>
    </ul>
</div>
<!-- Header -->
<header id="unalTop">
    <!-- Logo -->
    <div class="logo">
        <a href="https://unal.edu.co">
            <!--[if (gte IE 9)|!(IE)]><!-->
            <svg width="93%" height="93%">
                <image xlink:href="assets/images/escudoUnal.svg" width="100%" height="100%" class="hidden-print" alt="Escudo de la Universidad Nacional de Colombia" />
            </svg>

            <!--<![endif]-->
            <!--[if lt IE 9]> <img src="assets/images/escudoUnal.png" width="93%" height="auto"
    class="hidden-print"/> <![endif]-->
            <img src="assets/images/escudoUnal_black.png" class="d-none d-print-block" alt="Escudo de la Universidad Nacional de Colombia" />
        </a>
    </div>
    <!-- Seal -->
    <div class="seal">
        <img class="hidden-print" alt="Escudo de la República de Colombia" src="assets/images/sealColombia.png" width="66" height="66" />

        <img class="d-none d-print-block" alt="Escudo de la República de Colombia" src="assets/images/sealColombia_black.png" width="66" height="66" />
    </div>

    <!-- Menú superior -->
    <div class="firstMenu d-none d-md-block">
        <div class="content-fluid">
            <nav class="navbar navbar-expand-md nav navbar-dark">
                <!-- perfiles -->
                <div class=" collapse navbar-collapse navbar-default" id="navbarSupportedContent">
                    <nav id="profiles">
                        <ul class="mr-auto nav justify-content-end">
                            <!-- <ul class="navbar-nav mr-auto nav justify-content-end"> -->
                            <li class="nav-item item_Aspirantes #>">
                                <a href="http://aspirantes.unal.edu.co">Aspirantes</a>
                            </li>
                            <li class="nav-item item_Estudiantes #>">
                                <a href="http://estudiantes.unal.edu.co">Estudiantes</a>
                            </li>
                            <li class="nav-item item_Egresados #>">
                                <a href="http://egresados.unal.edu.co">Egresados</a>
                            </li>
                            <li class="nav-item item_Docentes #>">
                                <a href="http://docentes.unal.edu.co">Docentes</a>
                            </li>
                            <li class="nav-item item_Administrativos #>">
                                <a href="http://administrativos.unal.edu.co">Administrativos</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <!-- redes sociales -->
                <ul class="socialLinks d-none d-md-block">
                    <li>
                        <a href="https://www.facebook.com/UNColombia" target="_blank" class="facebook" title="Página oficial en Facebook"></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/UNColombia" target="_blank" class="twitter" title="Cuenta oficial en Twitter"></a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/channel/UCnE6Zj2llVxcvL5I38B0Ceg" target="_blank" class="youtube" title="Canal oficial de Youtube"></a>
                    </li>
                    <li>
                        <a href="http://agenciadenoticias.unal.edu.co/nc/sus/type/rss2.html" target="_blank" class="rss" title="Suscripción a canales de información RSS"></a>
                    </li>
                </ul>
                <!-- idioma -->
                <div class="collapse btn-group languageMenu d-none d-md-block">
                    <div class="btn btn-default dropdown-toggle" data-toggle="dropdown">es<span class="caret"></span></div>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="index.html#">EN - English</a></li>
                        <li><a href="index.html#">GUC - Wayuunaiki</a></li>
                        <li><a href="index.html#">PBB - Nasa yuwe</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>

    <!-- Menú inferior -->
    <div id="bs-navbar" class="navigation d-none d-md-block">
        <!-- Título del sitio -->
        <div class="site-url" id="subdominio">
            <a href="http://somoscampus.unal.edu.co/">somoscampus.unal.edu.co</a>
        </div>
        <!-- Buscador -->
        <div class="buscador" id="buscador">
            <div class="gcse-searchbox-only" data-resultsurl="https://unal.edu.co/resultados-de-la-busqueda/" data-newwindow="true"></div>
        </div>
        <!-- Main menu -->
        <div class="navbar-dark mainMenu" id="main_menu_container">
            <!-- Items menú principal -->

                       <div class="btn-group">
                          <div class="btn-group">
                             <a href="http://somoscampus.unal.edu.co/nosotros.html" class="btn btn-default">NOSOTROS</a>
                          </div>

                          <div class="btn-group">
                             <a href="http://somoscampus.unal.edu.co/album-reconozco-patrimonio.html" class="btn btn-default">RECONOZCO EL PATRIMONIO</a>
                          </div>

                          <div class="btn-group">
                             <a href="http://somoscampus.unal.edu.co/album-somos-campus.html" class="btn btn-default">ÁLBUM SOMOS CAMPUS</a>
                          </div>

                          <div class="btn btn-default dropdown-toggle" data-toggle="dropdown">ACCIONES<span class="caret"></span></div>
                          <ul class="dropdown-menu">
                             <li>
                                <a class="dropdown-item" href="http://somoscampus.unal.edu.co/undia/index.html">UN DÍA EN LA UN</a>
                             </li>
                             <li>
                                <a class="dropdown-item" href="http://somoscampus.unal.edu.co/festival_anual_somos_campus.html">FESTIVAL SOMOS CAMPUS</a>
                             </li>
                             <li>
                                <a class="dropdown-item" href="http://somoscampus.unal.edu.co/carrera-observacion.html">CARRERA DE OBSERVACIÓN</a>
                             </li>
                          </ul>
                       </div>
            <!-- Sedes -->
            <div class="btn-group menu_sedes">
                <div class="btn btn-default dropdown-toggle" data-toggle="dropdown">Sedes<span class="caret"></span></div>
                <ul class="dropdown-menu" id="sedes">
                    <li>
                        <a class="dropdown-item" href="http://amazonia.unal.edu.co" target="_blank">Amazonia</a>
                        <span class="caret-right"></span></li>
                    <li>
                        <a class="dropdown-item" href="http://bogota.unal.edu.co" target="_blank">Bogotá</a>
                        <span class="caret-right"></span></li>
                    <li>
                        <a class="dropdown-item" href="http://caribe.unal.edu.co" target="_blank">Caribe</a>
                        <span class="caret-right"></span></li>
                    <li>
                        <a class="dropdown-item" href="http://delapaz.unal.edu.co" target="_blank">De La Paz</a>
                        <span class="caret-right"></span></li>
                    <li>
                        <a class="dropdown-item" href="http://www.manizales.unal.edu.co" target="_blank">Manizales</a>
                        <span class="caret-right"></span></li>
                    <li>
                        <a class="dropdown-item" href="http://medellin.unal.edu.co" target="_blank">Medellín</a>
                        <span class="caret-right"></span></li>
                    <li>
                        <a class="dropdown-item" href="http://orinoquia.unal.edu.co" target="_blank">Orinoquia</a>
                        <span class="caret-right"></span></li>
                    <li>
                        <a class="dropdown-item" href="http://www.palmira.unal.edu.co" target="_blank">Palmira</a>
                        <span class="caret-right"></span></li>
                    <li>
                        <a class="dropdown-item" href="http://tumaco-pacifico.unal.edu.co" target="_blank">Tumaco</a>
                        <span class="caret-right"></span></li>
                </ul>
            </div>
        </div>
        <!-- Servicios label -->
        <div class="btn-group d-none">
            <div class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="navbarSupportedContent" data-target="#services">Servicios<span class="caret"></span>
            </div>
        </div>
        <!-- Perfiles -->
        <div class="btn-group d-none">
            <div class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="navbarSupportedContent" data-target="#profiles">Perfiles<span class="caret"></span>
            </div>
        </div>
    </div>

    <!--Navbar-->
    <nav class="navbar navbar-light light-blue lighten-4 main_menu">
        <!-- Navbar brand -->
        <a class="navbar-brand d-block d-md-none" href="#"></a>

        <!-- Collapse button -->
        <button class="navbar-toggler collapsed d-block d-md-none" type="button" data-toggle="collapse" data-target="#navbar_content" aria-controls="navbar_content" aria-expanded="false" aria-label="Toggle navigation" id="btn_hamburguer">
            <!-- <span class="navbar-toggler-icon"></span> -->
        </button>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="navbar_content">
            <!-- subdominio -->
            <div class="site-url" id="container_subdominio_mobil"></div>
            <!-- buscador -->
            <div class="buscador" id="container_buscador_mobil"></div>
            <!-- main -->
            <div id="container_mainmenu_mobil"></div>
            <!-- Sedes -->
            <div class="btn-group d-block d-md-none hidden-print">
                <div class="btn btn-default dropdown-toggle" data-toggle="collapse" data-target="#container_sedes_mobil" aria-controls="container_sedes_mobil">Sedes<span class="caret"> </span>
                </div>
            </div>
            <div class="collapse" id="container_sedes_mobil"></div>

            <!-- Servicios -->
            <div class="btn-group d-block d-md-none hidden-print">
                <div class="btn btn-default dropdown-toggle" data-toggle="collapse" data-target="#container_servicios_mobil" aria-controls="container_servicios_mobil">Servicios<span class="caret"> </span>
                </div>
            </div>
            <div class="collapse" id="container_servicios_mobil"></div>

            <!-- Perfiles -->
            <div class="btn-group d-block d-md-none hidden-print">
                <div class="btn btn-default dropdown-toggle" data-toggle="collapse" data-target="#container_profiles_mobil" aria-controls="container_profiles_mobil">Perfiles<span class="caret"> </span>
                </div>
            </div>
            <div class="collapse" id="container_profiles_mobil"></div>
        </div>

        <!-- Collapsible content -->
    </nav>
    <!-- name office -->
    <!-- end name office -->
</header>

<!-- /content wrapper for padding -->


<main class="detalle">
    <div class="cont_admin">
        <div class="cont_tit">
            <h3 class= "tit_panel">Panel de Administración</h3>

        </div>
        <div class="btn_admin btn_admin_active" id="boton_panel_1" onclick="mostrarpanel('panel_1')"> 
            <a class="btn_panel nombres_modulos">Publicaciones y comentarios</a>
        </div>
          
        <div class="btn_admin" id="boton_panel_2" onclick="mostrarpanel('panel_2')">
              <a class="btn_panel nombres_modulos">Temas y preguntas</a>
        </div>

        <div class="btn_admin" id="boton_panel_3" onclick="mostrarpanel('panel_3')">
            <a class="btn_panel nombres_modulos">Administradores</a>

        </div>
    </div>


    <div class="container-xl" id="panel_1">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-6">
                            <h2>Publicaciones y comentarios</h2>
                        </div>
                        <div class="col-sm-6">
                             <a href="#addEmployeeModal" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xe5ca;</i> <span>Aprobar seleccionados</span></a>

                            <a href="#deleteEmployeeModal" class="btn btn-danger" data-toggle="modal"><i class="material-icons">&#xe5cd;</i> <span>Rechazar seleccionados</span></a>

                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>
                                <span class="custom-checkbox">
                                    <input type="checkbox" id="selectAll">
                                    <label for="selectAll"></label>
                                </span>
                            </th>
                            <th>Tipo de contenido</th>
                            <th>Contenido</th>
                            <th>Categoría</th>
                            <th>Usuario</th>
                            <th>Imagen</th>
                            <th>Estado</th>
                            <th>Fecha</th>
                            <th>Aprobación</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <span class="custom-checkbox">
                                    <input type="checkbox" id="checkbox1" name="options[]" value="1">
                                    <label for="checkbox1"></label>
                                </span>
                            </td>
                            <td class="cont_tabla">Publicación</td>
                            <td class="cont_tabla">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</td>
                            <td class="cont_tabla">Somos deporte
                            <td class="cont_tabla">malopezh@unal.edu.co</td>
                            <td>
                                <a class="v_image" onclick="$('#Modal3').show(); abrirModal();">Ver publicación</a>
                            </td>
                            <td class="cont_tabla">Aprobado</td>
                            <td class="cont_tabla">27/12/2020<br>8:15</td>
                            <td class="cont_tabla">
                                <a href="#editEmployeeModal" class="check" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Aprobar">&#xe5ca;</i></a>
                                <a href="#deleteEmployeeModal" class="uncheck" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Rechazar">&#xe5cd;</i></a>
                            </td>

                        </tr>
                        <tr>
                            
                            
                            <td>
                                <span class="custom-checkbox">
                                    <input type="checkbox" id="checkbox2" name="options[]" value="1">
                                    <label for="checkbox2"></label>
                                </span>
                            </td>
                            <td class="cont_tabla">Comentario</td>
                            <td class="cont_tabla">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</td>
                            <td class="cont_tabla">Somos espacios</td>
                            <td class="cont_tabla">jdperezu@unal.edu.co</td>
                            <td>
                                <a class="v_image" onclick="$('#Modal3').show(); abrirModal();">Ver publicación</a>
                            </td>
                            <td class="cont_tabla">Pendiente</td>
                            <td class="cont_tabla">26/12/2020<br>14:32</td>
                            <td class="cont_tabla">
                                <a href="#editEmployeeModal" class="check" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Aprobar">&#xe5ca;</i></a>
                                <a href="#deleteEmployeeModal" class="uncheck" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Rechazar">&#xe5cd;</i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="custom-checkbox">
                                    <input type="checkbox" id="checkbox3" name="options[]" value="1">
                                    <label for="checkbox3"></label>
                                </span>
                            </td>
                            <td class="cont_tabla">Publicación</td>
                            <td class="cont_tabla">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</td>
                            <td class="cont_tabla">Somos cultura</td>
                            <td class="cont_tabla">tamanriquep@unal.edu.co</td>
                            <td> 
                                <a class="v_image" onclick="$('#Modal3').show(); abrirModal();">Ver publicación</a>
                            </td>
                            <td class="cont_tabla">Rechazado</td>
                            <td class="cont_tabla">25/12/2020<br>16:29</td>
                            <td>
                                <a href="#editEmployeeModal" class="check" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Aprobar">&#xe5ca;</i></a>
                                <a href="#deleteEmployeeModal" class="uncheck" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Rechazar">&#xe5cd;</i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="custom-checkbox">
                                    <input type="checkbox" id="checkbox4" name="options[]" value="1">
                                    <label for="checkbox4"></label>
                                </span>
                            </td>
                            <td class="cont_tabla">Comentario</td>
                            <td class="cont_tabla">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempo</td>
                            <td class="cont_tabla">Somos conocimiento</td>
                            <td class="cont_tabla">amhernandezt@unal.edu.co</td>
                            <td>
                                <a class="v_image" onclick="$('#Modal3').show(); abrirModal();">Ver publicación</a>
                            </td>
                            <td class="cont_tabla">Pendiente</td>
                            <td class="cont_tabla">24/12/2020<br>18:12</td>
                            <td>
                                <a href="#editEmployeeModal" class="check" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Aprobar">&#xe5ca;</i></a>
                                <a href="#deleteEmployeeModal" class="uncheck" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Rechazar">&#xe5cd;</i></a>
                            </td>
                        </tr>					
                        <tr>
                            <td>
                                <span class="custom-checkbox">
                                    <input type="checkbox" id="checkbox5" name="options[]" value="1">
                                    <label for="checkbox5"></label>
                                </span>
                            </td>
                            <td class="cont_tabla">Comentario</td>
                            <td class="cont_tabla">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</td>
                            <td class="cont_tabla">Somos naturaleza</td>
                            <td class="cont_tabla">csrinconp@unal.edu.co</td>
                            <td>
                                <a class="v_image" onclick="$('#Modal3').show(); abrirModal();">Ver publicación</a>
                            </td>
                            <td class="cont_tabla">Aprobado</td>
                            <td class="cont_tabla">23/12/2020<br>21:13</td>
                            <td>
                                <a href="#editEmployeeModal" class="check" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Aprobar">&#xe5ca;</i></a>
                                <a href="#deleteEmployeeModal" class="uncheck" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Rechazar">&#xe5cd;</i></a>
                            </td>
                        </tr> 
                    </tbody>
                </table>
                <div class="clearfix">
                    <div class="hint-text">Mostrando <b>5</b> de <b>25</b> entradas</div>
                    <ul class="pagination">
                        <li class="page-item disabled"><a href="#">Anterior</a></li>
                        <li class="page-item"><a href="#" class="page-link">1</a></li>
                        <li class="page-item"><a href="#" class="page-link">2</a></li>
                        <li class="page-item active"><a href="#" class="page-link">3</a></li>
                        <li class="page-item"><a href="#" class="page-link">4</a></li>
                        <li class="page-item"><a href="#" class="page-link">5</a></li>
                        <li class="page-item"><a href="#" class="page-link">Siguiente</a></li>
                    </ul>
                </div>
            </div>
        </div>        
    </div>

    <div class="container-xl oculto" id="panel_2">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-6">
                            <h2>Temas y preguntas</h2>
                        </div>
                        <div class="col-sm-6">
                   

                            <a href="#addTemaModal" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Agregar nueva pregunta</span></a>

                            <a href="#deleteEmployeeModal" class="btn btn-danger" data-toggle="modal"><i class="material-icons">&#xE15C;</i> <span>Borrar seleccionados</span></a>

                            <a href="#addCategoria" class="btn btn-info" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Crear categorías</span></a>                      
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>
                                <span class="custom-checkbox">
                                    <input type="checkbox" id="selectAll">
                                    <label for="selectAll"></label>
                                </span>
                            </th>
                            <th>Nombre de la pregunta</th>
                            <th>Categoría</th>
                            <th>Número de publicaciones</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <span class="custom-checkbox">
                                    <input type="checkbox" id="checkbox1" name="options[]" value="1">
                                    <label for="checkbox1"></label>
                                </span>
                            </td>
                            <td class="cont_tabla_grande">¿Cuál es el lugar que más extrañas de la UN?</td>
                            <td class="cont_tabla_grande">Somos espacios</td>
                            <td class="cont_tabla_grande">10</td>
                            <td class="cont_tabla_grande">
                                <a href="#editEmployeeModal" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Editar">&#xE254;</i></a>
                                <a href="#deleteEmployeeModal" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Borrar">&#xE872;</i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="custom-checkbox">
                                    <input type="checkbox" id="checkbox2" name="options[]" value="1">
                                    <label for="checkbox2"></label>
                                </span>
                            </td>
                            <td class="cont_tabla_grande">¿Qué habilidad aprendiste durante el aislamiento?</td>
                            <td class="cont_tabla_grande">Somos cultura</td>
                            <td class="cont_tabla_grande">20</td>
                            <td>
                                <a href="#editEmployeeModal" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Editar">&#xE254;</i></a>
                                <a href="#deleteEmployeeModal" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Borrar">&#xE872;</i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="custom-checkbox">
                                    <input type="checkbox" id="checkbox3" name="options[]" value="1">
                                    <label for="checkbox3"></label>
                                </span>
                            </td>
                            <td class="cont_tabla_grande">Lorem ipsum</td>
                            <td class="cont_tabla_grande">Somos salud</td>
                            <td class="cont_tabla_grande">14</td>
                            <td>
                                <a href="#editEmployeeModal" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Editar">&#xE254;</i></a>
                                <a href="#deleteEmployeeModal" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Borrar">&#xE872;</i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="custom-checkbox">
                                    <input type="checkbox" id="checkbox4" name="options[]" value="1">
                                    <label for="checkbox4"></label>
                                </span>
                            </td>
                            <td class="cont_tabla_grande">Lorem ipsum</td>
                            <td class="cont_tabla_grande">Somos deporte</td>
                            <td class="cont_tabla_grande">22</td>
                            <td>
                                <a href="#editEmployeeModal" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Editar">&#xE254;</i></a>
                                <a href="#deleteEmployeeModal" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Borrar">&#xE872;</i></a>
                            </td>
                        </tr>                   
                        <tr>
                            <td>
                                <span class="custom-checkbox">
                                    <input type="checkbox" id="checkbox5" name="options[]" value="1">
                                    <label for="checkbox5"></label>
                                </span>
                            </td>
                            <td class="cont_tabla_grande">Lorem ipsum</td>
                            <td class="cont_tabla_grande">Somos naturaleza</td>
                            <td class="cont_tabla_grande">13</td>
                            <td>
                                <a href="#editEmployeeModal" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Editar">&#xE254;</i></a>
                                <a href="#deleteEmployeeModal" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Borrar">&#xE872;</i></a>
                            </td>
                        </tr> 
                    </tbody>
                </table>
                <div class="clearfix">
                    <div class="hint-text">Mostrando <b>5</b> de <b>25</b> entradas</div>
                    <ul class="pagination">
                        <li class="page-item disabled"><a href="#">Anterior</a></li>
                        <li class="page-item"><a href="#" class="page-link">1</a></li>
                        <li class="page-item"><a href="#" class="page-link">2</a></li>
                        <li class="page-item active"><a href="#" class="page-link">3</a></li>
                        <li class="page-item"><a href="#" class="page-link">4</a></li>
                        <li class="page-item"><a href="#" class="page-link">5</a></li>
                        <li class="page-item"><a href="#" class="page-link">Siguiente</a></li>
                    </ul>
                </div>
            </div>
        </div>        
    </div>

    <div class="container-xl oculto" id="panel_3">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-6">
                            <h2>Administradores</h2>
                        </div>
                        <div class="col-sm-6">
                            <a href="#addAdminModal" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Agregar nuevo administrador</span></a>

                            <a href="#deleteEmployeeModal" class="btn btn-danger" data-toggle="modal"><i class="material-icons">&#xE15C;</i> <span>Borrar seleccionados</span></a>                      
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>
                                <span class="custom-checkbox">
                                    <input type="checkbox" id="selectAll">
                                    <label for="selectAll"></label>
                                </span>
                            </th>
                            <th>Nombre</th>
                            <th>Correo</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <span class="custom-checkbox">
                                    <input type="checkbox" id="checkbox1" name="options[]" value="1">
                                    <label for="checkbox1"></label>
                                </span>
                            </td>
                            <td class="cont_tabla_extragrande">Sandra Forigua Beltran</td>
                            <td class="cont_tabla_extragrande">smforiguab@unal.edu.co</td>
                            <td class="cont_tabla_extragrande">
                                <a href="#editAdminModal" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Editar">&#xE254;</i></a>
                                <a href="#deleteEmployeeModal" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Borrar">&#xE872;</i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="custom-checkbox">
                                    <input type="checkbox" id="checkbox2" name="options[]" value="1">
                                    <label for="checkbox2"></label>
                                </span>
                            </td>
                            <td class="cont_tabla_extragrande">Angie Figueroa Cárdenas</td>
                            <td class="cont_tabla_extragrande">akfigueroac@unal.edu.co</td>
                            <td class="cont_tabla_extragrande">
                                <a href="#editAdminModal" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Editar">&#xE254;</i></a>
                                <a href="#deleteEmployeeModal" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Borrar">&#xE872;</i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="custom-checkbox">
                                    <input type="checkbox" id="checkbox3" name="options[]" value="1">
                                    <label for="checkbox3"></label>
                                </span>
                            </td>
                            <td class="cont_tabla_extragrande">--</td>
                            <td class="cont_tabla_extragrande">--</td>
                            <td class="cont_tabla_extragrande">
                                <a href="#editAdminModal" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Editar">&#xE254;</i></a>
                                <a href="#deleteEmployeeModal" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Borrar">&#xE872;</i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="custom-checkbox">
                                    <input type="checkbox" id="checkbox4" name="options[]" value="1">
                                    <label for="checkbox4"></label>
                                </span>
                            </td>
                            <td class="cont_tabla_extragrande">--</td>
                            <td class="cont_tabla_extragrande">--</td>
                            <td class="cont_tabla_extragrande">
                                <a href="#editAdminModal" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Editar">&#xE254;</i></a>
                                <a href="#deleteEmployeeModal" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Borrar">&#xE872;</i></a>
                            </td>
                        </tr>                   
                        <tr>
                            <td>
                                <span class="custom-checkbox">
                                    <input type="checkbox" id="checkbox5" name="options[]" value="1">
                                    <label for="checkbox5"></label>
                                </span>
                            </td>
                            <td class="cont_tabla_extragrande">--</td>
                            <td class="cont_tabla_extragrande">--</td>
                            <td class="cont_tabla_extragrande">
                                <a href="#editAdminModal" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Editar">&#xE254;</i></a>
                                <a href="#deleteEmployeeModal" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Borrar">&#xE872;</i></a>
                            </td>
                        </tr> 
                    </tbody>
                </table>
                <div class="clearfix">
                    <div class="hint-text">Mostrando <b>5</b> de <b>25</b> entradas</div>
                    <ul class="pagination">
                        <li class="page-item disabled"><a href="#">Anterior</a></li>
                        <li class="page-item"><a href="#" class="page-link">1</a></li>
                        <li class="page-item"><a href="#" class="page-link">2</a></li>
                        <li class="page-item active"><a href="#" class="page-link">3</a></li>
                        <li class="page-item"><a href="#" class="page-link">4</a></li>
                        <li class="page-item"><a href="#" class="page-link">5</a></li>
                        <li class="page-item"><a href="#" class="page-link">Siguiente</a></li>
                    </ul>
                </div>
            </div>
        </div>        
    </div>
    <div class="cont_admin">        
        <div class="btn_admin" onclick="location.href='mapa.html'">
              <a class="btn_panel nombres_modulos" >Ir al mapa</a>
        </div>
    </div>
</main>

<div id="Modal3" class="modal_home2">
  <div class="modal-contenido2">                    
        <div class="contenedor_cerrar2">
            <a onclick="$('#Modal3').hide(); cerrarModal();" class="modal_cerrar pointer">X</a>
        </div>
        
        <div class="contenedor_modal">
            <div class="contenedor_postcard">
                <div class="contenedor_img_postcard">
                    <div class="img_postcard">
                    </div>
                </div>
                
                <div class="texto_postcard">
                    <div class="persona_postcard">
                        <p class="nombre_postcard">Laura Sanchez</p>
                        <p class="distancia_postcard">126 Km de la UN</p>
                        <p class="descripcion_postcard">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>                            
                    </div>
                </div>
            </div>
            
            <div class="contenedor_comentarios">
                <div class="comentario">
                    <p class="nombre_comentario">Andrea Carrillo</p>
                    <p class="descripcion_comentario">Es genial. Te felicito!</p>   
                </div>
                
                <div class="comentario">
                    <p class="nombre_comentario">Santiago Rincón</p>
                    <p class="descripcion_comentario">Puedes contarme donde aprendiste?</p> 
                </div>

                <div class="comentario">
                    <p class="nombre_comentario">Maria Pérez</p>
                    <p class="descripcion_comentario">Lorem ipsum dolor sit amet consectetur adipiscing elit dui mauris, maecenas primis interdum integer eleifend ligula euismod quis sollicitudin accumsan</p>    
                </div>
                
                <div class="comentario">
                    <p class="nombre_comentario">Carlos Martínez</p>
                    <p class="descripcion_comentario">Lorem ipsum dolor sit amet consectetur adipiscing elit dui mauris, maecenas primis interdum integer eleifend ligula euismod quis sollicitudin.</p>    
                </div>
                
                <div class="comentario">
                    <p class="nombre_comentario">Juana Prieto</p>
                    <p class="descripcion_comentario">Lorem ipsum dolor sit amet consectetur adipiscing elit dui mauris, maecenas primis interdum integer eleifend ligula.</p>  
                </div>
                
                <div class="comentario">
                    <p class="nombre_comentario">Carlos Martínez</p>
                    <p class="descripcion_comentario">Puedes contarme donde aprendiste?</p> 
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Agregar Modal HTML -->
<div id="addTemaModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">						
                    <h4 class="modal-title">Agregar nueva pregunta</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">					
                    <div class="form-group">
                        <label>Nombre de la pregunta</label>
                        <input type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Seleccionar Categoría</label>
                        <select name="seleccionar categoría" class="form_select" size="1">
                        <option>Somos espacios</option>
                        <option>Somos cultura</option>
                        <option>Somos deporte</option>
                        <option>Somos naturaleza</option>
                        <option>Somos conocimiento</option>
                        <option>Somos salud</option>
                        </select>
                    </div>				
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
                    <input type="submit" class="btn btn-success" value="Agregar">
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Agregar Categoria HTML -->
<div id="addCategoria" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">						
                    <h4 class="modal-title">Agregar nueva categoría</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">					
                    <div class="form-group">
                        <label>Nombre de la categoría</label>
                        <input type="text" class="form-control" required>
                    </div>			
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
                    <input type="submit" class="btn btn-success" value="Agregar">
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Agregar Admin Modal HTML -->
<div id="addAdminModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">                      
                    <h4 class="modal-title">Agregar Administrador</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">                    
                    <div class="form-group">
                        <label>Nombre</label>
                        <input type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Correo</label>
                        <input type="email" class="form-control" required>
                    </div>             
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
                    <input type="submit" class="btn btn-success" value="Agregar">
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Edit Modal Temas HTML -->
<div id="editEmployeeModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">						
                    <h4 class="modal-title">Editar</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">					
                    <div class="form-group">
                        <label>Nombre de la pregunta</label>
                        <input type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Categoría</label>
                        <input type="email" class="form-control" required>
                    </div>
                
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
                    <input type="submit" class="btn btn-info" value="Guardar">
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Editar Modal Admin HTML -->
<div id="editAdminModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">                      
                    <h4 class="modal-title">Editar</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">                    
                    <div class="form-group">
                        <label>Nombre</label>
                        <input type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Correo</label>
                        <input type="email" class="form-control" required>
                    </div>
                
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
                    <input type="submit" class="btn btn-info" value="Guardar">
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Delete Modal HTML -->
<div id="deleteEmployeeModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">						
                    <h4 class="modal-title">Borrar</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">					
                    <p>¿Está seguro que desea eliminar?</p>
                    <p class="text-warning"><small>Esta acción no puede rehacerse.</small></p>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
                    <input type="submit" class="btn btn-danger" value="Borrar">
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Loader -->
<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
        <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
        <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>
<!-- End loader -->
<!-- Footer -->
<footer class="clear container-fluid footer_modal">
    <div class="row">
        <nav class="col-lg-3 col-md-3 col-sm-4 col-6 gobiernoLinea">
            <a href="http://www.legal.unal.edu.co" target="_top">Régimen Legal</a>
            <a href="http://personal.unal.edu.co" target="_top">Talento humano</a>
            <a href="http://contratacion.unal.edu.co" target="_top">Contratación</a>
            <a href="http://personal.unal.edu.co" target="_top">Ofertas de empleo</a>
            <a href="http://launalcuenta.unal.edu.co/" target="_top">Rendición de cuentas</a>
            <a href="http://docentes.unal.edu.co/concurso-profesoral/" target="_top">Concurso docente</a>
            <a href="http://www.pagovirtual.unal.edu.co/" target="_top">Pago Virtual</a>
            <a href="http://controlinterno.unal.edu.co/" target="_top">Control interno</a>
            <a href="http://siga.unal.edu.co" target="_top">Calidad</a>
            <a href="http://unal.edu.co/buzon-de-notificaciones/" target="_self">Buzón de notificaciones</a>
        </nav>
        <nav class="col-lg-3 col-md-3 col-sm-4 col-6 gobiernoLinea">
            <a href="http://correo.unal.edu.co" target="_top">Correo institucional</a>
            <a href="index.html#">Mapa del sitio</a>
            <a href="http://redessociales.unal.edu.co" target="_top">Redes Sociales</a>
            <a href="index.html#">FAQ</a>
            <a href="http://unal.edu.co/quejas-y-reclamos/" target="_self">Quejas y reclamos</a>
            <a href="http://unal.edu.co/atencion-en-linea/" target="_self">Atención en línea</a>
            <a href="http://unal.edu.co/encuesta/" target="_self">Encuesta</a>
            <a href="index.html#">Contáctenos</a>
            <a href="http://estadisticas.unal.edu.co/" target="_top">Estadísticas</a>
            <a href="index.html#">Glosario</a>
        </nav>
        <div class="col-lg-4 col-md-4 col-sm-4 col-12 footer-info">
            <div class="row footer-info-spacing">
                <p class="col-lg-6 col-md-12 col-sm-12 col-6 contacto">
                    <b>Contacto página web:</b><br />
                    Secretaría de Sede<br />
                    Carrera 45 N° 26-85<br />
                    Edificio Uriel Gutiérrez<br />
                    Bogotá D.C., Colombia<br />
                    (+57 1) 316 5000 Ext. 18275<br />
                    Correo: <a title="Comuníquese con el administrador de este sitio web" href="mailto:EMAIL@unal.edu.co">webmaster_bog@unal.edu.co</a><br />
                </p>

                <p class="col-lg-6 col-md-12 col-sm-12 col-6 derechos">
                    &copy; Copyright 2019<br />
                    Algunos derechos reservados.<br />

                    <a href="index.html#">Acerca de este sitio web</a><br />
                    Actualización: 14/11/19
                </p>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12 col-12 logos">
            <div class="row px-3">
                <div class="col-lg-6 col-md-12 col-sm-6 col-6 no-padding">
                    <div class="row mx-1">
                        <a class="col-md-12 col-sm-6 col-6" href="http://www.orgulloun.unal.edu.co">
                            <img class="hidden-print" alt="Orgullo UN" src="assets/images/log_orgullo.png" width="78" height="21" />
                            <img class="d-none d-print-block" alt="Orgullo UN" src="assets/images/log_orgullo_black.png" width="94" height="37" />
                        </a>
                        <a class="col-md-12 col-sm-6 col-6 imgAgencia" href="http://www.agenciadenoticias.unal.edu.co/inicio.html">
                            <img class="hidden-print" alt="Agencia de Noticias" src="assets/images/log_agenc.png" width="94" height="25" />
                            <img class="d-none d-print-block" alt="Agencia de Noticias" src="assets/images/log_agenc_black.png" width="94" height="37" />
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-6 col-6 no-padding">
                    <div class="row mx-1">
                        <a class="col-md-12 col-sm-6 col-6" href="https://www.sivirtual.gov.co/memoficha-entidad/-/entidad/T0356">
                            <img alt="Portal Único del Estado Colombiano" src="assets/images/log_gobiern.png" width="67" height="51" />
                        </a>
                        <a class="col-md-12 col-sm-6 col-6" href="http://www.contaduria.gov.co/">
                            <img alt="Contaduría General de la República" src="assets/images/log_contra.png" width="67" height="51" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>