<mat-toolbar class=" navbar-transparent fixed-top mat-elevation-z12" style="background-color: #ef5350; color: rgb(255, 255, 255)" >
  <span>{{getTitle()}}</span>
  <span class="fill-space"></span>

  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" (click)="sidebarToggle()">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
</mat-toolbar>

