
    <mat-card-header style="background-color:rgb(5, 53, 107);margin:0px;padding:20px">
      <mat-card-title style="font-family: Roboto;font-size: 1.3em; font-weight: 700; margin-bottom:15px; color:white"><span *ngIf="editingMeasure">Editando</span><span *ngIf="!editingMeasure">Agregando</span> unidad de medida</mat-card-title>
    </mat-card-header>
    <mat-card-content style="padding:20px">
<form #muForm="ngForm" class="my-form" (ngSubmit)="createMeassureUnit()">
  <div class="row">
    <div class="col">
    <mat-form-field>
      <input [(ngModel)]="measureToPost.MUName" matInput class="text-center" type="text" placeholder="Nombre de la MU" id="reader" autofocus type="text" [ngModelOptions]="{standalone: true}">
    </mat-form-field>
    <mat-form-field>
      <input [(ngModel)]="measureToPost.MUDescription" matInput class="text-center" type="text" placeholder="Descripción" id="reader" autofocus type="text" [ngModelOptions]="{standalone: true}">
    </mat-form-field> 
    </div>
  </div> 
  <div class="row">
    <div class="col">
    <button mat-stroked-button color="primary" type="submit" [disabled]="!muForm.valid"><span *ngIf="!editingMeasure">Agregar</span><span *ngIf="editingMeasure">Editar</span> Unidad de Medida</button>         
  </div>
</div>

  </form>
  
</mat-card-content>