<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <ul class="list-group">
        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" [queryParams]="{app: id_aplicacion }" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ 'dashboard' | translate }}
        </a>
        <a [routerLink]="['/dashboard/menu']" [routerLinkActive]="['router-link-active']" [queryParams]="{app: id_aplicacion }" class="list-group-item">
            <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;{{ 'Menus' | translate }}
        </a>
        <a [routerLink]="['/dashboard/rol']" [routerLinkActive]="['router-link-active']" [queryParams]="{app: id_aplicacion }" class="list-group-item">
            <i class="fa fa-fw fa-table"></i>&nbsp;{{ 'Roles' | translate }}
        </a>
        <a [routerLink]="['/dashboard/usuario']" [routerLinkActive]="['router-link-active']" [queryParams]="{app: id_aplicacion }" class="list-group-item">
            <i class="fa fa-fw fa-table"></i>&nbsp;{{ 'Usuarios' | translate }}
        </a>

        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('pages')">
                <span><i class="fa fa-plus"></i>&nbsp;{{ 'menu' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'pages'">
                <ul class="submenu">
                    <li>
                        <a href="javascript:void(0)"><span>{{ 'submenu' | translate }}</span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><span>{{ 'submenu' | translate }}</span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><span>{{ 'submenu' | translate }}</span></a>
                    </li>
                </ul>
            </li>
        </div>
    </ul>
</nav>
