#unalTop {
    position: relative;
}

.footer_plantilla {
  display: inline;
  position: relative;
}

.form_select{
	width: 100%;
	padding: 2% 0%;
	border: 1px solid #e5e5e5;
}

.cont_admin{
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.cont_tit{
	width: 100%;
	display: flex;
	justify-content: center;
	margin: 80px 0px 30px 0px;
}

.tit_panel{
	font-size: 40px;
	letter-spacing: 5px;
	line-height: 40px;
	color: #fff;
	text-align: center;
	font-weight: 800;
	text-transform: uppercase;

}

.btn_admin{
  width: auto;
  margin: 1% 70px;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  background: #fff;
  color: #333333;
  border: 0.5px solid #fff;
  cursor: pointer;
}

.btn_admin:hover{
	background: #333333;
	color: #fff;
	border: 0.5px solid #fff;
}

.btn_admin_active{
	background: #333333;
	color: #fff;
	border: 0.5px solid #fff;
}

.btn_map{
	width: auto;
	margin: 1% 60px;
	padding: 10px 20px;
	display: flex;
	justify-content: center;
	background: #fff;
	color: #333333;
	border: 0.5px solid #333333;
	cursor: pointer;
}

.btn_map:hover{
	background: #333333;
	color: #fff;
	border: 0.5px solid #333333;
}

.nombres_modulos{
	font-size: 20px;
	line-height: 26px;
	font-weight: 700;
}

.oculto{
	display:none;
}

.cont_tabla{
	width: 13%;
}

.cont_tabla_grande{
	width: 30%;
}

.cont_tabla_extragrande{
	width: 45%;
}

.table-responsive {
    margin: 30px 0;
}
.table-wrapper {
	background: #fff;
	padding: 20px 25px;
	border-radius: 3px;
	min-width: 1000px;
	box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.table-title {
	padding-bottom: 15px;
	background: #dadada;
	color: #333333;
	padding: 16px 30px;
	min-width: 100%;
	margin: -20px -25px 10px;
	border-radius: 3px 3px 0 0;
}
.table-title h2 {
	margin: 5px 0 0;
	font-size: 24px;
	font-weight: 700;
}
.table-title .btn-group {
	float: right;
}
.table-title .btn {
	color: #fff;
	float: right;
	font-size: 13px;
	border: none;
	min-width: 50px;
	border-radius: 2px;
	border: none;
	outline: none !important;
	margin-left: 10px;
}
.table-title .btn i {
	float: left;
	font-size: 21px;
	margin-right: 5px;
}
.table-title .btn span {
	float: left;
	margin-top: 2px;
}
table.table tr th, table.table tr td {
	border-color: #e9e9e9;
	padding: 12px 15px;
	vertical-align: middle;
}
table.table tr th:first-child {
	width: 60px;
}
table.table tr th:last-child {
	width: 100px;
}
table.table-striped tbody tr:nth-of-type(odd) {
	background-color: #fcfcfc;
}
table.table-striped.table-hover tbody tr:hover {
	background: #f5f5f5;
}
table.table th i {
	font-size: 13px;
	margin: 0 5px;
	cursor: pointer;
}
table.table td:last-child i {
	opacity: 0.9;
	font-size: 22px;
	margin: 0 5px;
}
table.table td a {
	font-weight: bold;
	color: #566787;
	display: inline-block;
	text-decoration: none;
	outline: none !important;
}
table.table td a:hover {
	color: #2196F3;
}
table.table td a.edit {
	color: #FFC107;
}
table.table td a.delete {
	color: #F44336;
}
table.table td a.check {
	color: #28a745;
}
table.table td a.uncheck {
	color: #dc3545;
}
table.table td a.v_image {
	color: #00BFBF;
	text-decoration: underline;
	cursor: pointer;
}

table.table td i {
	font-size: 19px;
}
table.table .avatar {
	border-radius: 50%;
	vertical-align: middle;
	margin-right: 10px;
}
.pagination {
	float: right;
	margin: 0 0 5px;
}
.pagination li a {
	border: none;
	font-size: 13px;
	min-width: 30px;
	min-height: 30px;
	color: #999;
	margin: 0 2px;
	line-height: 30px;
	border-radius: 2px !important;
	text-align: center;
	padding: 0 6px;
}
.pagination li a:hover {
	color: #666;
}
.pagination li.active a, .pagination li.active a.page-link {
	background: #03A9F4;
}
.pagination li.active a:hover {
	background: #0397d6;
}
.pagination li.disabled i {
	color: #ccc;
}
.pagination li i {
	font-size: 16px;
	padding-top: 6px
}
.hint-text {
	float: left;
	margin-top: 10px;
	font-size: 13px;
}
/* Custom checkbox */
.custom-checkbox {
	position: relative;
}
.custom-checkbox input[type="checkbox"] {
	opacity: 0;
	position: absolute;
	margin: 5px 0 0 3px;
	z-index: 9;
}
.custom-checkbox label:before{
	width: 18px;
	height: 18px;
}
.custom-checkbox label:before {
	content: '';
	margin-right: 10px;
	display: inline-block;
	vertical-align: text-top;
	background: white;
	border: 1px solid #bbb;
	border-radius: 2px;
	box-sizing: border-box;
	z-index: 2;
}
.custom-checkbox input[type="checkbox"]:checked + label:after {
	content: '';
	position: absolute;
	left: 6px;
	top: 3px;
	width: 6px;
	height: 11px;
	border: solid #000;
	border-width: 0 3px 3px 0;
	transform: inherit;
	z-index: 3;
	transform: rotateZ(45deg);
}
.custom-checkbox input[type="checkbox"]:checked + label:before {
	border-color: #03A9F4;
	background: #03A9F4;
}
.custom-checkbox input[type="checkbox"]:checked + label:after {
	border-color: #fff;
}
.custom-checkbox input[type="checkbox"]:disabled + label:before {
	color: #b8b8b8;
	cursor: auto;
	box-shadow: none;
	background: #ddd;
}
/* Modal styles */
.modal .modal-dialog {
	max-width: 400px;
}
.modal .modal-header, .modal .modal-body, .modal .modal-footer {
	padding: 20px 30px;
}
.modal .modal-content {
	border-radius: 3px;
	font-size: 14px;
}
.modal .modal-footer {
	background: #ecf0f1;
	border-radius: 0 0 3px 3px;
}
.modal .modal-title {
	display: inline-block;
}
.modal .form-control {
	border-radius: 2px;
	box-shadow: none;
	border-color: #dddddd;
}
.modal textarea.form-control {
	resize: vertical;
}
.modal .btn {
	border-radius: 2px;
	min-width: 100px;
}
.modal form label {
	font-weight: normal;
}

.field_tit_isla{
	vertical-align: middle;
	font-size: 1.4em;
	font-weight: 600;
}
.center{
	display: flex;
	justify-content: center;
	margin-bottom: 10px;
}
.cont_adjunto_admin{
	width: 100%;
}

.adjunto_admin{
	display: flex;
    width: 100%;
}

.w_100{
	  width: 100%;
}

.red{
	color: red;
}

.cont_fields_isla{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.margin_btm_admin{
	margin-bottom: 20px
}

.disp_flex{
	display: flex !important;
}

.green{
	color: #89c11e;
}
.blue{
		color: #21a3b5;
}

.add_islas{
	font-size: 2em;
	margin: 0px 5px 5px 5px;
	cursor: pointer;
}
.restablecer{
	margin: 0px 0px 8px 0px;
	font-size: 0.8em;
	color: #890000;
}

.select_islas{
	padding: 8px 0px;
}
