<!-- Servicios -->
<div id="services">
    <div class="indicator d-none d-md-block"></div>
    <ul class="dropdown-menu" id="servicios">
        <li>
            <a href="http://correo.unal.edu.co" target="_blank"><img src="assets/images/icnServEmail.png" width="32" height="32" alt="Correo Electrónico">Correo Electrónico</a>
        </li>
        <li>
            <a href="https://dninfoa.unal.edu.co" target="_blank"><img src="assets/images/icnServSia.png" width="32" height="32" alt="Dirección Nacional de Información Académica">DNINFOA - SIA</a>
        </li>
        <li>
            <a href="http://bibliotecas.unal.edu.co" target="_blank"><img src="assets/images/icnServLibrary.png" width="32" height="32" alt="Biblioteca">Bibliotecas</a>
        </li>
        <li>
            <a href="http://personal.unal.edu.co" target="_blank"><img src="assets/images/icnServCall.png" width="32" height="32" alt="Convocatorias">Convocatorias</a>
        </li>
        <li>
            <a href="http://identidad.unal.edu.co"><img src="assets/images/icnServIdentidad.png" width="32" height="32" alt="Identidad U.N.">Identidad U.N.</a>
        </li>
    </ul>
</div>

<!-- /content wrapper for padding -->


<main class="detalle bg_blanco">

    <!-- LOGIN SUPERIOR -->
    <div class="login_sup">
        <div class="login_contenedor">
            <div class="espacio_logo"> 
                <figure class="contenedor_logo_sp"> 
                    <img class="logo_sp" src="assets/images/logo_somos_project.png">
                </figure>
            </div>
            <div class="inputs_login">
                <input type="text" placeholder="correo@unal.edu.co" class="log_input">
                <input type="password" placeholder="contraseña"class="log_input">
                <div class="log_contenedor_boton">
                    <a class="log_boton_ingresar" href="#">Iniciar Sesión</a>
                 </div>
                 <div class="log_contenedor_boton_responsive">
                    <a class="log_boton_ingresar_responsive pointer" onclick="$('#Modal1').show(); abrirModal();">Iniciar Sesión</a>
                 </div>
            </div>
        </div>
        
        <!-- PREGUNTA O TEMA-->
        <div class="tema">
            <h3 class="texto_tema">{{pregunta}}</h3>
        </div>
        <!-- PREGUNTA O TEMA -->
    </div>
    <!-- FIN LOGIN SUPERIOR -->




    <!-- BOTON GALERIA-->
    <div class="contenedor_galeria_boton">
           <a class="galeria_boton" routerLink="/galery" routerLinkActive="active" >Ver Galería</a>
    </div>
    <!-- FIN BOTON GALERIA-->

       <!-- BOTON AYUDA-->
    <div class="contenedor_ayuda">
        <figure class="contenedor_img_ayuda">
            <img class="ayuda_boton_img pointer" src="assets/images/ayuda_logo.png"> 
        </figure>
         <a class="ayuda_texto"  onclick="$('#Modal2').show(); abrirModal();">¿No te sientes bien? <br>Te escuchamos</a>
    </div>
    <!-- FIN BOTON AYUDA-->

    <!-- MODAL -->
        <div id="Modal2" class="modal_home2">
          <div class="modal-contenido">
                <div class="contenedor_cerrar">
                    <a onclick="$('#Modal2').hide(); cerrarModal();" class="modal_cerrar pointer">X</a>
                </div>
                <h3 class="modal_titulo">¿No te sientes bien?</h3>
                <p class="modal_texto">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.</p>
                <textarea placeholder="Escríbenos en qué podemos ayudarte..." class="modal_input input_textarea" ></textarea>

                <div class="modal_contenedor_boton">
                    <a class="modal_boton_ingresar" href="#">Enviar</a>
               </div>
        </div>
    </div>

    <!-- FIN MODAL-->


    <!-- FILTROS-->
    <!-- <div class="contenedor_filtros">
        <h4 class="titulo_filtros">Descubre quien comparte tus interéses</h4>
        <h5 class="cta_filtros"> Filtrar</h5>

        <div class="contenedor_input_filtros">
            <div *ngFor="let item of listaPreguntas">
                <input (click)="setPregunta(item)" type="radio" name="transporte2" value="1" class="tema_filtro"> {{item.pregunta}} <br><br>
            </div>
            
        </div>

    </div> -->
    <!-- FIN FILTROS-->

    
	    <!-- FILTROS-->
	    <div class="contenedor_filtros">
	    	<h4 class="titulo_filtros">Descubre quien comparte tus interéses</h4>
	    	<h5 class="cta_filtros"> Filtrar</h5>

	    	<!--<div class="contenedor_input_filtros">

		    	<input type="radio" name="transporte2" value="1" class="tema_filtro">¿Qué habilidad aprendiste durante el aislamiento?</br></br>


				<input type="radio" name="transporte2" value="2" class="tema_filtro" checked>¿Lorem impsum dolor sit, amet consecteur?</br></br>

				<input type="radio" name="transporte2" value="3" class="tema_filtro">¿Lorem impsum dolor sit, amet consecteur?</br></br>
			</div> -->

            <div class="contenedor_input_filtros">
                <select name="seleccionar categoría" [(ngModel)]="idPregunta" (change) = "setPregunta(preguntaElement)" class="form_select">
                    <option *ngFor="let item of this.listaPreguntas" [value]="item.id_pregunta"> {{item.pregunta}} </option>
                </select>
            </div>
	    </div>

         <!-- FIN FILTROS-->
	   
    <!-- MAPA -->
        <div  class="mapa">
            
            <div class="punto_cultura unselectable">
                <div class="isla_cultura">
                    <figure>
                        <img src="assets/images/cultura.png" class="img_isla">
                    </figure>
                </div>
            </div>
            <div class="punto_deporte unselectable">
                <div class="isla_deporte">
                    <figure>
                        <img src="assets/images/deporte.png" class="img_isla">
                    </figure>
                </div>
            </div>
            <div class="punto_conocimiento unselectable">
                <div class="isla_conocimiento">
                    <figure>
                        <img src="assets/images/conocimiento.png" class="img_isla">
                    </figure>
                </div>
            </div>

            <div class="punto_salud unselectable">
                <div class="isla_salud">
                    <figure>
                        <img src="assets/images/salud.png" class="img_isla">
                    </figure>
                </div>
            </div>
            <div class="punto_naturaleza unselectable">
                <div class="isla_naturaleza">
                    <figure>
                        <img src="assets/images/naturaleza.png" class="img_isla">
                    </figure>
                </div>
            </div>

            <div class="punto_espacios unselectable">
                <div class="isla_espacios">
                    <figure>
                        <img src="assets/images/espacios.png" class="img_isla">
                    </figure>
                </div>
            </div>

    <!-- PUBLICACIONES -->

            <!-- PUBLICACION NUEVO USUARIO -->

            <div class="punto_publicacion_nueva unselectable">
                <div class="contenedor_publicacion_nueva">
                    <a onclick="$('#Modal4').show(); abrirModal();">
                    <figure>
                        <img src="assets/images/icon_avatar.png" class="img_publicacion">
                    </figure>
                    </a>
                </div>
                <div class="contenedor_cta">
                    <div class="cta">Arrastra para explorar</div>
                </div>
            </div>
            <!-- FIN PUBLICACION NUEVO USUARIO -->


            <!-- PUBLICACION REALIZADA-->
        
                <div class="unselectable" 
                [ngStyle]="getMapCoordinates(item)"
                [style.width]="'14%'" 
                [style.height]="'2%'" 
                [style.z-index]="'9'" 
                [style.overflow-y]="'hidden'" 
                [style.display]="'flex'" 
                [style.flex-wrap]="'wrap'" 
                [style.align-items]="'center'" 
                *ngFor="let item of listaPublicacionesPadre">
                    <div class="contenedor_publicacion">
                        <a onclick="$('#Modal3').show(); abrirModal();" (click)="setModalInfo(item)" >
                        <figure>
                            <img src="{{item.img_URL}}" class="img_publicacion">
                        </figure>
                        </a>
                    </div>

                    <div class="contenedor_nombre">
                        <div class="nombre">{{item.username}} <br>{{item.distancia_KMS}} Km de la UN</div>
                    </div>
                </div>
       
            <!-- FIN PUBLICACION  -->

            <div class="unselectable" 
            [ngStyle]="{top: '49.5%', left: '118%'}"
            [style.width]="'14%'" 
            [style.height]="'2%'" 
            [style.z-index]="'9'" 
            [style.overflow-y]="'hidden'" 
            [style.display]="'flex'" 
            [style.flex-wrap]="'wrap'" 
            [style.align-items]="'center'" >
                <div class="contenedor_publicacion">
                    <a onclick="$('#Modal3').show(); abrirModal();"  >
                    <figure>
                        <img src="www.imagen.com" class="img_publicacion">
                    </figure>
                    </a>
                </div>

                <div class="contenedor_nombre">
                    <div class="nombre">prueba <br>prueba Km de la UN</div>
                </div>
            </div>


    <!-- FIN PUBLICACIONES -->

            <img src="assets/images/mapa.png" class="unselectable img_mapa">
        </div>




        <div class="clouds unselectable"></div>	
    <!-- FIN MAPA -->




</main>

    <!-- MODAL -->
        <div id="Modal1" class="modal_home">
          <div class="modal-contenido">
                <div class="contenedor_cerrar">
                    <a onclick="$('#Modal1').hide(); cerrarModal();" class="modal_cerrar pointer">X</a>
                </div>
                <h3 class="modal_titulo">Inicia Sesión</h3>
                <p class="modal_texto">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.</p>
                <input type="text" placeholder="correo@unal.edu.co" class="modal_input">
                <input type="password" placeholder="contraseña"class="modal_input">
                <div class="modal_contenedor_boton">
                    <a class="modal_boton_ingresar" href="#">Ingresa</a>
               </div>
                <div class="modal_contenedor_boton">
                    <a class="modal_boton_continua pointer" onclick="$('#Modal1').hide(); cerrarModal();">Continúa sin iniciar sesión</a>
               </div>
        </div>
    </div>

    <!-- FIN MODAL-->

    <!-- MODAL PUBLICACION REALIZADA-->    
        <div id="Modal3" #Modal3 class="modal_home2">
          <div class="modal-contenido2">                    
                <div class="contenedor_cerrar2">
                    <a onclick="$('#Modal3').hide(); cerrarModal();" class="modal_cerrar pointer">X</a>
                </div>
                
                <div class="contenedor_modal" style="width: 100%;">
                    <div class="contenedor_postcard">
                        <div class="contenedor_img_postcard">
                            <div [style.width]="'95%'"  
                                 [style.padding-bottom]="'95%'" 
                                 [style.border]="'3px solid white'" 
                                 [style.background-size]="'cover'"
                                 [ngStyle]="{'background-image': 'url(' + postStructure.imgUrl + ')'}">
                            </div>
                        </div>
                        
                        <div class="texto_postcard" >
                            <div class="persona_postcard">
                                <p class="nombre_postcard"> {{postStructure.name}} </p>
                                <p class="distancia_postcard"> {{postStructure.km}} Km de la UN</p>
                                <p class="descripcion_postcard"> {{postStructure.post}} </p>							
                            </div>
                        </div>
                    </div>
                    <div class="escribir_comentario" >
                        <input style="width: 100%;" role="textbox" [(ngModel)]="stringPublicationModal" id="txt_comentario" placeholder="Escriba un comentario" contenteditable>
                        <div class="btn_enviar" (click)="postModalPublication()">
                            <div class="icono_enviar"></div>
                        </div>
                    </div> 
                    
                    <div class="contenedor_comentarios">
     
                        <div class="comentario" *ngFor="let item of postStructure.listChildPost">
                            <p class="nombre_comentario"> {{item.username}} </p>
                            <p class="descripcion_comentario">{{item.publicacion}}</p>	
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>

    <!-- FIN MODAL-->

    <!-- MODAL PUBLICACION NUEVA-->    
        <div id="Modal4" class="modal_home2">
          <div class="pn_modal_contenido">
                <div class="pn_contenedor_cerrar">
                    <a onclick="$('#Modal4').hide(); cerrarModal();" class="pn_modal_cerrar pointer">X</a>
                </div>
                <h3 class="modal_titulo">Comparte tu postcard</h3>
                <input type= "file" id="adjuntar" (change)="setFileImage($event)"> 
                
                <img [src]="imgURL" height="100" *ngIf="imgURL">
                <div class="contenedor_img_texto">
                    <a class="contenedor_icon_publicacion"onclick="$('#adjuntar').click()">
                    <figure >
                        <img class="icon_publicacion" src="assets/images/icon_publicacion.png">
                    </figure> 
                    </a>
                    <div class="contenedor_texto">
                        <textarea [(ngModel)]="stringTextoPublicacion" placeholder="Déjanos tu comentario..." class="pn_modal_input input_textarea" ></textarea>
                    </div>
                </div>
                    <div class="modal_contenedor_boton">
                        <a class="pn_modal_boton" href="javascript:void(0)" (click)="postPublicacionInicial()">Publicar</a>
                   </div>
            </div>
        </div>

    <!-- FIN MODAL-->



<!-- Loader -->
<!-- <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
        <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
        <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div> -->
<!-- End loader -->
<!-- Footer -->
