<div style="max-height: 85vh">
    <mat-card style="height: 100%;width:100%;padding:0">
      <mat-card-header style="background-color:rgb(5, 53, 107);margin:0;padding:20px">
        <mat-card-title style="font-family: Roboto;font-size: 1.3em; font-weight: 700; margin-bottom:15px; color:white">Registar un nuevo Proveedor</mat-card-title>
        <mat-card-subtitle  style="font-size: 0.8em;font-weight: 300;text-emphasis: left; color:white;margin-bottom:0px">Ingresa los datos a continuación</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
    <mat-tab-group>
      <mat-tab label="Persona">
        <app-new-person [mainclassref_input] = "this" #nuevaPersona></app-new-person>
      </mat-tab>
      <mat-tab label="Empresa">
        <app-new-third  #nuevaEmpresa></app-new-third>
      </mat-tab>
    </mat-tab-group>
</div>
