<div style="margin-top:-10vh">
<!-- <button mat-stroked-button color="warn" type="button" (click)="openDialogClient(0)">Empresa</button>
<button mat-stroked-button color="warn" type="button" (click)="openDialogClient(1)">Persona</button>
<button mat-stroked-button color="warn" type="button" (click)="openReportes()">Reportes</button> -->
<!--
<button mat-stroked-button color="warn" type="button" (click)="openInventories()">Inventario</button>
<button mat-stroked-button color="warn" type="button" (click)="openStores()">Administrar Tiendas</button>
<button mat-stroked-button color="warn" type="button" (click)="openUpdateLegalData()">Actualizar Mis Datos Legales</button> -->
<!-- <button mat-stroked-button color="warn" type="button" (click)="openCompra()">Compras</button>
<button mat-stroked-button color="warn" type="button" (click)="openEntrada()">Entrada</button>
<button mat-stroked-button color="warn" type="button" (click)="openSalida()">Salida</button>
<button mat-stroked-button color="warn" type="button" (click)="openDevolucion()">Devolucion</button> -->

<span *ngIf="tipoFactura=='venta'">
    <mat-card style="height: 100%;width:100%;padding:0px">
        <mat-card-header style="background-color:rgb(5, 53, 107);margin:0px;padding:20px">
            <div class="DivOpcionesCaja">
              <button [color]="'success'" [disabled]="!locStorage.getBoxStatus()" mat-stroked-button type="button" color="white" (click)="openCierreCaja()">Opciones de Caja</button>             
            </div>
            <mat-card-title style="font-family: Roboto;font-size: 1.3em; font-weight: 700; margin-bottom:15px; color:white">Punto de Venta</mat-card-title>
            <mat-card-subtitle style="font-size: 0.8em;font-weight: 300;text-emphasis: left; color:white;margin-bottom:0px">Completar el formulario para registrar una venta</mat-card-subtitle>
        </mat-card-header>
    </mat-card>
    <mat-card>
        <mat-card-content>
            <!-- <div class="row" *ngIf="tab == 0"> 
              <mat-expansion-panel style="border:0px;box-shadow: none !important; width:100%;" [disabled]="!locStorage.getBoxStatus()">
                <mat-expansion-panel-header style="padding:0px;margin-left: 50px;margin-right: 50px;">
                    <mat-panel-title style="font-size: 0.9;font-weight: 300;text-emphasis: left;">
                      <mat-icon>search</mat-icon>  Busqueda
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="col-11" >
                  <mat-form-field style="padding:0px;margin-left: 50px;margin-right: 50px;">
                    <input matInput class="text-center" type="text" placeholder="Nombre de Producto" [(ngModel)]="busqueda">
                  </mat-form-field>
                  <div style="max-height: 100px;overflow-y: scroll;">
                    <div *ngFor= "let item of inventoryList | filter: busqueda" style="text-align: center;" >
                      <p (click)="addDetail2(item.code)">
                        {{item.product_STORE_CODE}} - {{item.ownbarcode}} -  {{item.product_STORE_NAME}}
                      </p>
                    </div>
                  </div>
                </div>
              </mat-expansion-panel>
            </div> --> 
            <div class="row" style="margin-top: -70px" >
                <div class="col">
            <div class="row" *ngIf="tab == 0">
                <div class="col"> 
                    <div class="row">
                      <div class="col-6">
                        <mat-form-field> 
                          <input [disabled]="!locStorage.getBoxStatus() || quickconfirm  || isfull()" matInput class="text-center" type="text" placeholder="Código de producto" (keyup.enter)="addDetail($event)"  (ngModelChange)="listLoad()" [(ngModel)]="listElem" #nameit>
                        </mat-form-field>
                      </div>
                      <div class="col-6 float-right">
                        <button mat-stroked-button color="primary" type="button" [disabled]="!locStorage.getBoxStatus() || quickconfirm" (click)="openCategories()">Busqueda de Productos</button>
                        <button mat-stroked-button color="primary" type="button" [disabled]="!locStorage.getBoxStatus() || quickconfirm" (click)="reload()">Recargar</button> 
                        <!-- <button [disabled]="!locStorage.getBoxStatus()" (click)="openTop()"><img src="https://dunzaglobal.com/wp-content/uploads/2015/09/Top20.png" width="400" height="300"></button> -->
                        <button mat-stroked-button color="primary" type="button" (click)="openDialogTransactionConfirm(1,1)" [disabled]="setObject.length==0 || !locStorage.getBoxStatus() || quickconfirm">Confirmar transacción</button>
                        <button mat-stroked-button color="warn" type="button" (click)="cancel()" [disabled]="!locStorage.getBoxStatus() || quickconfirm">Cancelar</button>
                      
                        <mat-form-field>
                          <mat-select [(value)]="selectedDomi">
                            <mat-option value="-1"> 
                              Sin domiciliario
                            </mat-option>
                            <mat-option *ngFor="let domi of domiList" [value]="domi.id_THIRD_DOMICILIARIO"> 
                              {{domi.domiciliario}} 
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="col" [hidden]="true"> 
                        <mat-form-field>
                          <input matInput [matDatepicker]="picker" placeholder="Choose a date">
                          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                          <mat-datepicker #picker disabled="false"></mat-datepicker>
                        </mat-form-field>
                      </div>
                    </div>
                </div>
              </div>
              <div class="row">
                <div class="col-6" >
                  <div class="row" style="max-height: 180px; overflow-y: scroll; margin-top: -45px;text-align: center;" *ngIf="listElem!=''" >
                    <div class="row" style="width: 80%;margin-top:-25px;text-align: center;" *ngFor="let item of listaElem">
                      <div class="col" style="text-align: center;" *ngIf="!disableDoubleClickSearch" (click)="addDetail2(item.ownbarcode)">
                        {{item.product_STORE_NAME}} - {{item.ownbarcode}} - {{item.product_STORE_CODE}} 
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-6" style="text-align: center; padding-top: 5px" >
                   <img (click)="openTop()" src="http://tienda724.com/imagenes/productos/top20.png" class="responsive">
                  <!-- <button mat-stroked-button color="primary" type="button" (click)="openTop()" [disabled]="!locStorage.getBoxStatus()">Top productos</button> -->
                </div>
              </div>
              <div class="row" style="text-align:center;width: 100%;margin-top:-20px">
                <div class="col">
                  <h3 class="left-scroll">
                    <b>
                      Subtotal  
                    </b>
                  </h3>
                  <h3 class="left-scroll" style="margin-top: -15px">
                    {{roundnum(calculateSubtotal()) | currency  : 'USD' : 'symbol' : '1.0'}}
                  </h3>
                </div>
                <div class="col">
                  <h3 class="left-scroll">
                    <b>
                      Impuesto
                    </b>  
                  </h3>
                  <h3 class="left-scroll" style="margin-top: -15px">
                    {{this.roundnum(calculateTax()) | currency  : 'USD' : 'symbol' : '1.0'}}
                  </h3>
                </div>
                <div class="col">
                  <h3 class="left-scroll">
                    <b>
                      Total 
                    </b>  
                  </h3>
                  <h3 class="left-scroll" style="margin-top: -15px">
                    {{this.roundnum(calculateSubtotal()+calculateTax()) | currency  : 'USD' : 'symbol' : '1.0'}}
                  </h3>
                </div>
              </div>
              <div class="row" style="text-align: center">
                <div class="col-6" style="text-align: center">
                  <button mat-stroked-button color="primary" type="button" [disabled]="setObject.length==0 || !locStorage.getBoxStatus() || quickconfirm" (click)="quickConfirm()">Confirmacion Rapida</button>
                </div>
                <div class="col-6" style="text-align: center">
                    <button mat-stroked-button color="primary" type="button" [disabled]="setObject.length==0 || !locStorage.getBoxStatus() || quickconfirm" (click)="quickConfirmPDF()">Confirmacion Rapida con Factura</button>
                  </div>
              </div>
                  <div class="table-responsive" style="width: 100%;max-height: 385px; overflow-y: scroll;">
                      <div class="text-center" *ngIf="setObject.length==0" style="margin-top: 20px">
                        <i class="material-icons">
                          <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                        </i>
                        <h4>
                          Productos
                        </h4>
                      </div>
                    <br>
                  <br> 

                  <table class="table table-hover" style="text-align: center;margin-top: -20px" *ngIf="setObject.length>0">
                    <thead>
                      <tr>
                        <th class="text-center">Código</th>
                        <th class="text-center">Producto</th>
                        <th class="text-center">Cantidad</th>
                        <th class="text-center">Valor Unitario</th>
                        <th class="text-center">Impuesto</th>
                        <th class="text-center">Total</th>
                        <th class="text-center"> </th>
                      </tr> 
                    </thead>
                    <tbody>
                      <tr *ngFor="let key of setObject; let idx= index; let last= last;">
                        <td class="text-center">{{productsObject[key].code}}</td>
                        <td>{{productsObject[key].description}}</td>
                        <td class="text-center">
                          <mat-form-field style="width:5vw"> 
                              <input required [(ngModel)]="productsObject[key].quantity" matInput type="number" step="1" id="readerQuantity" class="no-spin text-center" min="1" pattern="^[0-9]+.{1,}" oninput="validity.valid||(value='');">
                          </mat-form-field>
                        </td>
                        <td class="text-center">
                            <mat-form-field>
                                <mat-select [(value)]="productsObject[key].price" >
                                  <mat-option *ngFor="let price of productsObject[key].pricelist" [value]="price.price"> {{price.price_DESCRIPTION}} - {{price.price | currency  : 'USD' : 'symbol' : '1.0'}} </mat-option>
                                </mat-select>
                              </mat-form-field>
                        </td>
                        <td class="text-center">{{productsObject[key].tax | percent}}</td>
                        <td class="text-center">{{calculateTotalPrice(key) | currency  : 'USD' : 'symbol' : '1.0'}}</td>
                        <td class="text-center">
                          <div>
                              <button mat-icon-button color="warn" (click)="upQuantity(key)">
                                  <mat-icon aria-label="Example icon-button with a heart icon">keyboard_arrow_up</mat-icon>
                              </button>
                              <button mat-icon-button color="warn" (click)="downQuantity(key)">
                                  <mat-icon aria-label="Example icon-button with a heart icon">keyboard_arrow_down</mat-icon>
                              </button>
                              <button mat-icon-button color="warn" (click)="individualDelete(key)">
                                  <mat-icon aria-label="Example icon-button with a heart icon">clear</mat-icon>
                              </button>
                          </div>
                        </td>
                      </tr> 
                    </tbody>
                  </table>
                  </div>
                    
                  </div>
                </div>
      </mat-card-content>
      <!-- <mat-card-content>
          <div class="row" style="padding:20px; text-align: center" *ngIf="locStorage.getIdStore()!=1">
            <div class="col my-col" *ngFor="let prod of topProds" style="margin-top: 5px;">
              <mat-card color="toolbar" (click)="setCode(prod.ownbarcode)" style="width:80px;height:80px;text-align: center; padding: 0px;">
                <img src={{prod.img}} style="width:35%;height:50px" />
                <div class="text" style="font-size: 9px;line-height: 85%">
                  {{prod.product_STORE_NAME}}
                </div>
              </mat-card>
            </div>          
          </div>
  </mat-card-content> -->
    </mat-card>
  
 
</span> <!-- hasta aca -->



