<div class="row">
  <mat-card class="example-full-width">
    <h4 class="text-center">Producto: {{currentProduct?.name_product}}
      
      <span>
          <h5 class="text-center tky-right">Productor</h5>
      </span>
    </h4>
    <blockquote>
      {{currentProduct |json}}
    </blockquote>
    <div class="row">
      <div class="col">Unidad</div>
      <div class="col">Atributos</div>
      <div class="col">Categoria</div>
    </div>
  </mat-card>
</div>