<div id="modal-test">
  <div class="" style="text-align:center">
      <!-- <div>
        <h4 >Total</h4>
        <h5> {{total | currency : 'USD' : 'symbol' : '1.0-0'}} </h5>
      </div>
      <div>
        <h4 >Valor del servicio</h4>
        <h5 *ngIf="tip==-1"> {{cantidadDinero | currency : 'USD' : 'symbol' : '1.0-0'}} </h5>
        <h5 *ngIf="tip!=-1"> {{(total*tip)/100 | currency : 'USD' : 'symbol' : '1.0-0'}} </h5>
      </div> -->
      <div>
        <h4 >Servicio</h4>
      </div>
      <div class="form-group" style="text-align:center">
        <div style="margin-top: 10px;" >
          <input type="radio" [value]="0" [(ngModel)]="tip"> 0%
        </div>
        <div style="margin-top: 10px;" >
          <input type="radio" [value]="5" [(ngModel)]="tip"> 5%
        </div>
        <div style="margin-top: 10px;" >
          <input type="radio" [value]="10" [(ngModel)]="tip"> 10%
        </div>
        <div style="margin-top: 10px;" >
          <input type="radio" [value]="15" [(ngModel)]="tip"> 15%
        </div>
        <div style="margin-top: 10px;" >
          <input type="radio" [value]="-1" [(ngModel)]="tip"> Personalizado
        </div>
        <div style="margin-top: 10px;" *ngIf="tip==-1">
          <input type="radio" [value]="0" [(ngModel)]="tipType"> Porcentaje
          <input type="radio" [value]="1" [(ngModel)]="tipType" > Cantidad
        </div>
        <div style="margin-top: 10px;" *ngIf="tip==-1 && tipType==0" >
          <label for="fname">Porcentaje:</label><br>
        </div>
        <div style="margin-top: 10px;" *ngIf="tip==-1 && tipType==0" >
          <input (ngModelChange)="setCerrarMesa1($event)" currencyMask [options]="{ min:0, max:100, thousands: '.', decimal: ',' , precision: 0, align:'left', suffix: '%', prefix: ''}" [(ngModel)]="porcentaje"><br>
        </div>
        <div style="margin-top: 10px;" *ngIf="tip==-1 && tipType==1" >
          <label for="fname">Dinero:</label><br>
        </div>
        <div style="margin-top: 10px;" *ngIf="tip==-1 && tipType==1" >
          <input (ngModelChange)="setCerrarMesa2($event)" currencyMask [options]="{ thousands: '.', decimal: ',' , precision: 0, align:'left'}" [(ngModel)]="cantidadDinero"><br>
        </div>
      </div>
      <div style="margin-top: 10px;text-align:center">
        <button mat-button color="primary" type="button" (click)="sendCloseTable()">Aceptar</button>
        <button mat-button color="primary" type="button" (click)="onNoClick()">Cancelar</button>
      </div>
  </div>
</div>
