.AjusteContenedorInput{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 90%;
  position: relative;
  mat-label{
    font-size: 100%;
    color: black;
    margin: 4px 0;
  }
  input{
    width: 100%;
    height: 30px;
    border: solid 1px #9B9B9B;
    border-radius: 7px;
    text-align: center;
  }
}

:host mat-select{
  display: flex;
  ::ng-deep span{
    margin: 0;
    margin-top: 5px;
    font-size: 12px;
    //color: #252682;
    font-weight: bold;
  }
  ::ng-deep .mat-select-trigger{
    margin: auto;
    width: 90%;
    text-align: center;
  }
}
