<div style="width: 100%;height: 100%;display: flex;flex-direction: column">
  <!--  EL HEADER-->
  <div style="width: 100%;height: 10%;background-color: white;display: flex;position: relative;border-bottom: solid 2px gray">
    <mat-icon style="position: absolute;left: 5%;top:40%;margin: auto 0;color: black;cursor:pointer;" (click)="CerrarModal()">keyboard_arrow_left</mat-icon>
    <img style="margin: auto;height: 30%" src="{{billingService.ProviderInfo.LogoURL}}">
  </div>
<!--  CUERPO PARA FASE UNO-->
  <div style="display: flex;width: 100%;height: 90%;justify-content:space-evenly" *ngIf="FaseRegistro == 1">
<!--    VERSIÓN MOVIL-->
    <div style="overflow: auto;display: flex;flex-direction: column;width: 100%;height: 100%" *ngIf="this.commonOperations.IsMobile()">
      <!--    PARTE DEL LOGIN-->
      <form [formGroup]="loginForm" style="display: flex;flex-direction: column;height: 60vh;width: 80%;margin: 0 auto" *ngIf="this.GoToCheckout">
        <mat-label style="font-weight: bold;font-size: 130%;color: black;margin-bottom: 10px">Inicia Sesión</mat-label>
        <div class="AjusteContenedorInput">
          <mat-label>Correo Electrónico</mat-label>
          <input formControlName="username" placeholder="Correo" type="text"/>
        </div>
        <div class="AjusteContenedorInput">
          <mat-label>Contraseña</mat-label>
          <input formControlName="password" placeholder="Contraseña" [type]="!MostrarClaveLogin ? 'password':'text'"/>
          <div style="position: absolute;width: 10%;height: 60%;display: flex;right: 0;bottom: 0;z-index: 1;cursor: pointer" (click)="MostrarClaveLogin = !MostrarClaveLogin">
            <mat-icon style="margin: auto" *ngIf="!MostrarClaveLogin">visibility</mat-icon>
            <mat-icon style="margin: auto" *ngIf="MostrarClaveLogin">visibility_off</mat-icon>
          </div>
        </div>
        <div style="display: flex;width: 100%;height: 20%">
          <button (click)="Login()" mat-flat-button style="width: 40%;height: 60%;font-weight: bold;border: unset;cursor: pointer;background-color:#FFF385;font-size: 120%;margin: auto 0" color="primary">Entrar</button>
          <mat-label style="margin: auto;font-size: 90%;color: black;cursor: pointer;text-align: center;">¿Olvidaste tu contraseña?</mat-label>
        </div>
      </form>

      <!--    PARTE DEL REGISTRO-->
      <form [formGroup]="signinForm" style="display: flex;flex-direction: column;width: 80%;margin: 0 auto;height: 90vh">
        <mat-label [style]="!this.GoToCheckout ? 'width: 90%;margin: 0 auto;':''" style="font-weight: bold;font-size: 130%;color: black;margin-bottom: 10px">Regístrate</mat-label>
        <div class="ScrollBar" style="overflow: auto;height: 95%">
          <div class="AjusteContenedorInput" [style]="!this.GoToCheckout ? 'margin:0 auto;margin-top: 20px;':''">
            <mat-label>Nombres</mat-label>
            <input formControlName="names" placeholder="Nombres" type="text"/>
          </div>
          <div class="AjusteContenedorInput" [style]="!this.GoToCheckout ? 'margin:0 auto;margin-top: 20px;':''">
            <mat-label>Apellidos</mat-label>
            <input formControlName="lastnames" placeholder="Apellidos" type="text"/>
          </div>
          <div class="AjusteContenedorInput" [style]="!this.GoToCheckout ? 'margin:0 auto;margin-top: 20px;':''">
            <mat-label>Documento</mat-label>
            <div style="display: flex;width: 100%;justify-content: space-between">
              <mat-select formControlName="doctype" style="border: solid 1px #9B9B9B;width: 30%;border-radius: 10px">
                <mat-option value="3">C.C</mat-option>
                <mat-option value="42">T.I</mat-option>
                <mat-option value="2">C.E</mat-option>
                <mat-option value="81">PEP</mat-option>
                <mat-option value="41">P.A</mat-option>
                <mat-option value="44">R.C</mat-option>
                <mat-option value="43">RUT</mat-option>
                <mat-option value="61">T.E</mat-option>
                <mat-option value="62">NIT</mat-option>
              </mat-select>
              <input formControlName="doc" style="width: 65%;height: 40px;border: solid 1px #9B9B9B;border-radius: 7px;text-align: center;" placeholder="Documento" type="text"/>
            </div>
          </div>
          <div class="AjusteContenedorInput" [style]="!this.GoToCheckout ? 'margin:0 auto;margin-top: 20px;':''">
            <mat-label>Correo Electrónico</mat-label>
            <input formControlName="email" placeholder="Correo" type="text"/>
          </div>
          <div class="AjusteContenedorInput" [style]="!this.GoToCheckout ? 'margin:0 auto;margin-top: 20px;':''">
            <mat-label>Celular</mat-label>
            <input formControlName="phone" placeholder="Celular" type="text"/>
          </div>
          <div class="AjusteContenedorInput" [style]="!this.GoToCheckout ? 'margin:0 auto;margin-top: 20px;':''">
            <mat-label>Contraseña</mat-label>
            <input formControlName="password" placeholder="Contraseña" [type]="!MostrarClaveRegistro ? 'password':'text'"/>
            <div style="position: absolute;width: 10%;height: 60%;display: flex;right: 0;bottom: 0;z-index: 1;cursor: pointer" (click)="MostrarClaveRegistro = !MostrarClaveRegistro">
              <mat-icon style="margin: auto" *ngIf="!MostrarClaveRegistro">visibility</mat-icon>
              <mat-icon style="margin: auto" *ngIf="MostrarClaveRegistro">visibility_off</mat-icon>
            </div>
          </div>
          <div style="display: flex;width: 100%;height: 20%">
            <button [style]="!this.GoToCheckout ? 'margin:auto;width:90%':''" (click)="SignIn()" mat-flat-button style="width: 40%;height: 30%;font-weight: bold;border: unset;cursor: pointer;background-color:#FFF385;font-size: 120%;margin: auto 0" color="primary">Siguiente</button>
          </div>
        </div>
      </form>
    </div>

    <!--    VERSIÓN NO MOVIL-->
    <div style="display: flex;width: 100%;height: 90%;justify-content:space-evenly" *ngIf="!this.commonOperations.IsMobile()">
      <!--    PARTE DEL LOGIN-->
      <form [formGroup]="loginForm" style="display: flex;flex-direction: column;height: 95%;margin: auto 0;width: 35%" *ngIf="this.GoToCheckout">
        <mat-label style="font-weight: bold;font-size: 130%;color: black;margin-bottom: 10px">Inicia Sesión</mat-label>
        <div class="AjusteContenedorInput">
          <mat-label>Correo Electrónico</mat-label>
          <input formControlName="username" placeholder="Correo" type="text"/>
        </div>
        <div class="AjusteContenedorInput">
          <mat-label>Contraseña</mat-label>
          <input formControlName="password" placeholder="Contraseña" [type]="!MostrarClaveLogin ? 'password':'text'"/>
          <div style="position: absolute;width: 10%;height: 60%;display: flex;right: 0;bottom: 0;z-index: 1;cursor: pointer" (click)="MostrarClaveLogin = !MostrarClaveLogin">
            <mat-icon style="margin: auto" *ngIf="!MostrarClaveLogin">visibility</mat-icon>
            <mat-icon style="margin: auto" *ngIf="MostrarClaveLogin">visibility_off</mat-icon>
          </div>
        </div>
        <div style="display: flex;width: 100%;height: 20%">
          <button (click)="Login()" mat-flat-button style="width: 40%;height: 30%;font-weight: bold;border: unset;cursor: pointer;background-color:#FFF385;font-size: 120%;margin: auto 0" color="primary">Entrar</button>
          <mat-label style="margin: auto;font-size: 90%;color: black;cursor: pointer">¿Olvidaste tu contraseña?</mat-label>
        </div>
      </form>

      <!--    PARTE DEL REGISTRO-->
      <form [formGroup]="signinForm" [style]="!this.GoToCheckout ? 'width: 90%':'width: 35%'" style="display: flex;flex-direction: column;height: 95%;margin: auto 0">
        <mat-label [style]="!this.GoToCheckout ? 'width: 90%;margin: 0 auto;':''" style="font-weight: bold;font-size: 130%;color: black;margin-bottom: 10px">Regístrate</mat-label>
        <div class="ScrollBar" style="overflow: auto;height: 95%">
          <div class="AjusteContenedorInput" [style]="!this.GoToCheckout ? 'margin:0 auto;margin-top: 20px;':''">
            <mat-label>Nombres</mat-label>
            <input formControlName="names" placeholder="Nombres" type="text"/>
          </div>
          <div class="AjusteContenedorInput" [style]="!this.GoToCheckout ? 'margin:0 auto;margin-top: 20px;':''">
            <mat-label>Apellidos</mat-label>
            <input formControlName="lastnames" placeholder="Apellidos" type="text"/>
          </div>
          <div class="AjusteContenedorInput" [style]="!this.GoToCheckout ? 'margin:0 auto;margin-top: 20px;':''">
            <mat-label>Documento</mat-label>
            <div style="display: flex;width: 100%;justify-content: space-between">
              <mat-select formControlName="doctype" style="border: solid 1px #9B9B9B;width: 30%;border-radius: 10px">
                <mat-option value="3">C.C</mat-option>
                <mat-option value="42">T.I</mat-option>
                <mat-option value="2">C.E</mat-option>
                <mat-option value="81">PEP</mat-option>
                <mat-option value="41">P.A</mat-option>
                <mat-option value="44">R.C</mat-option>
                <mat-option value="43">RUT</mat-option>
                <mat-option value="61">T.E</mat-option>
                <mat-option value="62">NIT</mat-option>
              </mat-select>
              <input formControlName="doc" style="width: 65%;height: 40px;border: solid 1px #9B9B9B;border-radius: 7px;text-align: center;" placeholder="Documento" type="text"/>
            </div>
          </div>
          <div class="AjusteContenedorInput" [style]="!this.GoToCheckout ? 'margin:0 auto;margin-top: 20px;':''">
            <mat-label>Correo Electrónico</mat-label>
            <input formControlName="email" placeholder="Correo" type="text"/>
          </div>
          <div class="AjusteContenedorInput" [style]="!this.GoToCheckout ? 'margin:0 auto;margin-top: 20px;':''">
            <mat-label>Celular</mat-label>
            <input formControlName="phone" placeholder="Celular" type="text"/>
          </div>
          <div class="AjusteContenedorInput" [style]="!this.GoToCheckout ? 'margin:0 auto;margin-top: 20px;':''">
            <mat-label>Contraseña</mat-label>
            <input formControlName="password" placeholder="Contraseña" [type]="!MostrarClaveRegistro ? 'password':'text'"/>
            <div style="position: absolute;width: 10%;height: 60%;display: flex;right: 0;bottom: 0;z-index: 1;cursor: pointer" (click)="MostrarClaveRegistro = !MostrarClaveRegistro">
              <mat-icon style="margin: auto" *ngIf="!MostrarClaveRegistro">visibility</mat-icon>
              <mat-icon style="margin: auto" *ngIf="MostrarClaveRegistro">visibility_off</mat-icon>
            </div>
          </div>
          <div style="display: flex;width: 100%;height: 20%">
            <button [style]="!this.GoToCheckout ? 'margin:auto;width:90%':''" (click)="SignIn()" mat-flat-button style="width: 40%;height: 30%;font-weight: bold;border: unset;cursor: pointer;background-color:#FFF385;font-size: 120%;margin: auto 0" color="primary">Siguiente</button>
          </div>
        </div>
      </form>
    </div>
  </div>
<!--  CUERPO PARA FASE DOS, OSEA, MAPA-->
  <!--  MAPA PARA MOVIL-->
  <div style="display: flex;width: 100%;height: 90%;justify-content:space-between" *ngIf="FaseRegistro == 2 && commonOperations.IsMobile()">
    <form [formGroup]="signinFormPart2" style="display: flex;height: 95%;margin: auto;width: 85%;justify-content:space-between;flex-direction:column;">
      <!--        ARRIBA-->
      <div style="display: flex;flex-direction: column;height: 55%;width: 100%;justify-content: space-between">
        <mat-label style="font-weight: bold;font-size: 130%;color: black;margin-bottom: 10px">Dirección</mat-label>
        <div style="width: 100%;height: 10%">
          <mat-label>Escribela y da click en 'Localizar'.</mat-label>
        </div>
        <!--                        CITY-->
        <div style="display: flex;width: 100%;justify-content: space-between;height: 10%">
          <mat-icon style="margin: auto 0;width: 15%;font-size: 250%;height: unset;">location_city</mat-icon>
          <mat-select (selectionChange)="this.signinFormPart2.controls.street.enable();streetType.open()" #SelectCity formControlName="city" value="11001" placeholder="Selecciona tu ciudad" style="border: solid 1px #9B9B9B;border-radius: 7px;height: 90%;margin: auto 0;width: 85%;">
            <mat-option *ngFor="let city of cityList" [value]="city.id_CITY">{{city.city_NAME}}</mat-option>
          </mat-select>
        </div>
        <!--        CALLE-->
        <div class="AjusteContenedorInput" style="display: flex;flex-direction: row;width: 100%;height: 10%">
          <mat-icon style="margin: auto 0;width: 15%;font-size: 250%;height: unset;">location_on</mat-icon>
          <!--                                STREET-->
          <mat-select (selectionChange)="this.signinFormPart2.controls.streetNumber1.enable();this.signinFormPart2.controls.streetNumber2.enable();this.signinFormPart2.controls.streetNumber3.enable();this.signinFormPart2.controls.streetOptinalInfo.enable();" #streetType formControlName="street" value="Calle" placeholder="Seleccione" style="border: solid 1px #9B9B9B;border-radius: 7px;width: 30%;height: 90%;margin: auto 0;">
            <mat-option value="Avenida">Avenida</mat-option>
            <mat-option value="Avenida Calle">Avenida Calle</mat-option>
            <mat-option value="Avenida Carrera">Avenida Carrera</mat-option>
            <mat-option value="Calle">Calle</mat-option>
            <mat-option value="Carrera">Carrera</mat-option>
            <mat-option value="Circular">Circular</mat-option>
            <mat-option value="Circunvalar">Circunvalar</mat-option>
            <mat-option value="Diagonal">Diagonal</mat-option>
            <mat-option value="Manzana">Manzana</mat-option>
            <mat-option value="Transversal">Transversal</mat-option>
            <mat-option value="Via">Via</mat-option>
          </mat-select>
          <input #streetNumber1 style="width: 50%;background-color: white;height: 90%;margin: auto 0;flex: unset;margin-left: auto" formControlName="streetNumber1" type="text" placeholder="1a sur"/>
        </div>
        <!--        COMPLEMENTOS CALLE-->
        <div class="AjusteContenedorInput" style="display: flex;flex-direction: row;width: 100%;justify-content: space-between;height: 10%">
          <mat-label style="margin: auto 0;width: 14%;font-size: 200%">N°</mat-label>
          <input #streetNumber2 style="width: 28%;background-color: white;margin: auto;flex: unset;height: 90%;" formControlName="streetNumber2" type="text" placeholder="2c"/>
          <mat-label style="margin: auto 0;font-weight: bold">-</mat-label>
          <input #streetNumber3 autocomplete="off" style="width: 50%;background-color: white;margin: auto;height: 90%;flex: unset;" formControlName="streetNumber3" type="text" placeholder="32"/>
        </div>
        <div class="AjusteContenedorInput" style="display: flex;flex-direction: row;width: 100%;height: 10%">
          <mat-icon style="margin: auto 0;width: 15%;font-size: 250%;height: unset;">location_searching</mat-icon>
          <input #streetOptinalInfo style="background-color: white;margin: auto;flex: unset;height: 90%;width: 90%" formControlName="streetOptinalInfo" type="text" placeholder="edificio 3 apt 405 (opcional)"/>
        </div>
        <div style="display: flex;width: 100%;justify-content: space-between;height: 10%;margin-top: 20px;">
          <button [disabled]="!signinFormPart2.valid" [style]="signinFormPart2.valid ? 'background-color: #FFF385;':'background-color: gray;'" mat-flat-button style="width: 48%;height: 100%;border-radius: 20px;font-weight: bold;border: unset;cursor: pointer;background-color: #FFF385;font-size: 120%;" color="primary" (click)="BuscarAddress()">Localizar</button>
          <button [disabled]="!BusquedaAddress" [style]="BusquedaAddress ? 'background-color: #FFF385;':'background-color: gray;'" mat-flat-button style="width: 48%;height: 100%;border-radius: 20px;font-weight: bold;border: unset;cursor: pointer;font-size: 120%;" color="primary" (click)="SignInPart2()">Siguiente</button>
        </div>
      </div>
      <!--        DERECHA-->
      <div style="margin: auto 0;display: flex;flex-direction: column;height: 40%;width: 100%">
        <!--  EL MAPA-->
        <div style="height: 100%;width: 100%;display: flex;position: relative;border-radius: 20px;overflow: hidden;">
          <!--                    PUNTO EN EL CENTRO-->
          <div style="margin: auto;border-radius: 40px;width: 10px;height: 10px;background-color: red;z-index: 1"></div>
          <!--                    EL MAPA COMO TAL-->
          <div style="position: absolute;height: 100%;width: 100%;overflow: hidden" >
            <app-here-map #ElMap appId="EMebuedoPRx7d9k0fCQn" appCode="nlzkZnNOoP5qeVGUW2ujGg" lat="3.9638013527816924" lng="-73.31064117957077"></app-here-map>
          </div>
          <!--                        COORDENADAS FLOTANTES-->
          <div style="position: absolute;width: 100%;bottom: 0;z-index: 1;background-color: #0c0000a3;color: white;font-size: 80%;text-align: center">
            {{this.ElMap.GetCenter().lat | number:"1.0-5"}} {{this.ElMap.GetCenter().lng | number:"1.0-5"}}
          </div>
          <!--          DIRECCIÓN FLOTANTE-->
          <div style="position: absolute;width: 100%;top: 0;z-index: 1;background-color: #0c0000a3;color: white;font-size: 80%;text-align: center" *ngIf="signinFormPart2.controls.streetNumber1.value != ''">
            <!--              <mat-icon style="margin: auto 0" name="navigate-circle-outline"></mat-icon>-->
            <mat-label style="width: calc(100% - 30px);font-size: 120%;justify-content: center;display: flex;align-items: center;">{{ReturnFullAddress(false)}}</mat-label>
          </div>
        </div>
      </div>
    </form>
  </div>

<!--  MAPA PARA ESCRITORIO-->
  <div style="display: flex;flex-direction:column;width: 100%;height: 90%;justify-content:space-between" *ngIf="FaseRegistro == 2 && !commonOperations.IsMobile()">
    <form [formGroup]="signinFormPart2" style="display: flex;height: 85%;margin: auto;width: 85%;justify-content:space-between">
      <!--        IZQUIERDA-->
      <div style="display: flex;flex-direction: column;height: 100%;width: 48%;justify-content: space-between">
        <mat-label style="font-weight: bold;font-size: 130%;color: black;margin-bottom: 10px">Dirección</mat-label>
        <div style="width: 100%;">
          <mat-label>Escribela y da click en 'Localizar'.</mat-label>
        </div>
        <!--                        CITY-->
        <div style="display: flex;width: 100%;justify-content: space-between">
          <mat-icon style="margin: auto 0;width: 15%;font-size: 250%;height: unset;">location_city</mat-icon>
          <mat-select (selectionChange)="this.signinFormPart2.controls.street.enable();streetType.open()" #SelectCity formControlName="city" value="11001" placeholder="Selecciona tu ciudad" style="border: solid 1px #9B9B9B;border-radius: 7px;height: 90%;margin: auto 0;width: 85%;">
            <mat-option *ngFor="let city of cityList" [value]="city.id_CITY">{{city.city_NAME}}</mat-option>
          </mat-select>
        </div>
        <!--        CALLE-->
        <div class="AjusteContenedorInput" style="display: flex;flex-direction: row;width: 100%;">
          <mat-icon style="margin: auto 0;width: 15%;font-size: 250%;height: unset;">location_on</mat-icon>
          <!--                                STREET-->
          <mat-select (selectionChange)="this.signinFormPart2.controls.streetNumber1.enable();this.signinFormPart2.controls.streetNumber2.enable();this.signinFormPart2.controls.streetNumber3.enable();this.signinFormPart2.controls.streetOptinalInfo.enable();" #streetType formControlName="street" value="Calle" placeholder="Seleccione" style="border: solid 1px #9B9B9B;border-radius: 7px;width: 30%;height: 90%;margin: auto 0;">
            <mat-option value="Avenida">Avenida</mat-option>
            <mat-option value="Avenida Calle">Avenida Calle</mat-option>
            <mat-option value="Avenida Carrera">Avenida Carrera</mat-option>
            <mat-option value="Calle">Calle</mat-option>
            <mat-option value="Carrera">Carrera</mat-option>
            <mat-option value="Circular">Circular</mat-option>
            <mat-option value="Circunvalar">Circunvalar</mat-option>
            <mat-option value="Diagonal">Diagonal</mat-option>
            <mat-option value="Manzana">Manzana</mat-option>
            <mat-option value="Transversal">Transversal</mat-option>
            <mat-option value="Via">Via</mat-option>
          </mat-select>
          <input #streetNumber1 style="width: 50%;background-color: white;height: 90%;margin: auto 0;flex: unset;margin-left: auto" formControlName="streetNumber1" type="text" placeholder="1a sur"/>
        </div>
        <!--        COMPLEMENTOS CALLE-->
        <div class="AjusteContenedorInput" style="display: flex;flex-direction: row;width: 100%;justify-content: space-between">
          <mat-label style="margin: auto 0;width: 14%;font-size: 200%">N°</mat-label>
          <input #streetNumber2 style="width: 28%;background-color: white;margin: auto;flex: unset;height: 90%;" formControlName="streetNumber2" type="text" placeholder="2c"/>
          <mat-label style="margin: auto 0;font-weight: bold">-</mat-label>
          <input #streetNumber3 autocomplete="off" style="width: 50%;background-color: white;margin: auto;height: 90%;flex: unset;" formControlName="streetNumber3" type="text" placeholder="32"/>
        </div>
        <div class="AjusteContenedorInput" style="display: flex;flex-direction: row;width: 100%">
          <mat-icon style="margin: auto 0;width: 15%;font-size: 250%;height: unset;">location_searching</mat-icon>
          <input #streetOptinalInfo style="background-color: white;margin: auto;flex: unset;height: 90%;width: 90%" formControlName="streetOptinalInfo" type="text" placeholder="edificio 3 apt 405 (opcional)"/>
        </div>
        <button [disabled]="!signinFormPart2.valid" [style]="signinFormPart2.valid ? 'background-color: #FFF385;':'background-color: gray;'" mat-flat-button style="width: 100%;height: 8%;border-radius: 20px;font-weight: bold;border: unset;cursor: pointer;background-color: #FFF385;font-size: 120%;" color="primary" (click)="BuscarAddress()">Localizar</button>
        <button [disabled]="!BusquedaAddress" [style]="BusquedaAddress ? 'background-color: #FFF385;':'background-color: gray;'" mat-flat-button style="width: 100%;height: 10%;border-radius: 20px;font-weight: bold;border: unset;cursor: pointer;font-size: 120%;" color="primary" (click)="SignInPart2()">Siguiente</button>
      </div>
      <!--        DERECHA-->
      <div style="margin: auto 0;display: flex;flex-direction: column;height: 100%;width: 48%">
        <!--  EL MAPA-->
        <div style="height: 100%;width: 100%;display: flex;position: relative;border-radius: 20px;overflow: hidden;">
          <!--                    PUNTO EN EL CENTRO-->
          <div style="margin: auto;border-radius: 40px;width: 10px;height: 10px;background-color: red;z-index: 1"></div>
          <!--                    EL MAPA COMO TAL-->
          <div style="position: absolute;height: 100%;width: 100%;overflow: hidden" >
            <app-here-map #ElMap appId="EMebuedoPRx7d9k0fCQn" appCode="nlzkZnNOoP5qeVGUW2ujGg" lat="3.9638013527816924" lng="-73.31064117957077"></app-here-map>
          </div>
          <!--                        COORDENADAS FLOTANTES-->
          <div style="position: absolute;width: 100%;bottom: 0;z-index: 1;background-color: #0c0000a3;color: white;font-size: 80%;text-align: center">
            {{this.ElMap.GetCenter().lat | number:"1.0-5"}} {{this.ElMap.GetCenter().lng | number:"1.0-5"}}
          </div>
          <!--          DIRECCIÓN FLOTANTE-->
          <div style="position: absolute;width: 100%;top: 0;z-index: 1;background-color: #0c0000a3;color: white;font-size: 80%;text-align: center" *ngIf="signinFormPart2.controls.streetNumber1.value != ''">
            <!--              <mat-icon style="margin: auto 0" name="navigate-circle-outline"></mat-icon>-->
            <mat-label style="width: calc(100% - 30px);font-size: 120%;justify-content: center;display: flex;align-items: center;">{{ReturnFullAddress(false)}}</mat-label>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
