.EstiloProgressBar{
  height: 40% !important;
  width: 100% !important;
  top: 30%;
  margin: auto;
  position: absolute;
}
::ng-deep.ldBar-label {
  color: #ffffff00;
  font-size: 2.5em;
  font-weight: 900;
  text-shadow: unset !important;
}

.CirculoPendiente{
  height: 5vmin;
  width: 5vmin;
  border-radius: 60px;
  background-color: #FAD263;
  border: solid 1px black;
  display: flex;
  div[name="dentro"]{
    height: 3vmin;
    width: 3vmin;
    border-radius: 60px;
    border: solid 2px white;
    background-color: gray;
    margin: auto;
  }
}

.MostrarProgress{

}
.Ocultar{
  //display: none !important;
  z-index: -1;
}

.CirculoCompletado{
  height: 5vmin;
  width: 5vmin;
  border-radius: 60px;
  background-color: #FAD263;
  border: solid 1px black;
  display: flex;
  div[name="dentro"]{
    height: 3vmin;
    width: 3vmin;
    border-radius: 60px;
    border: solid 2px white;
    background-color: #01B6B2;
    margin: auto
  }
}

.CirculoCompletadoCancelado{
  height: 5vmin;
  width: 5vmin;
  border-radius: 60px;
  background-color: #FAD263;
  border: solid 1px black;
  display: flex;
  div[name="dentro"]{
    height: 3vmin;
    width: 3vmin;
    border-radius: 60px;
    border: solid 2px white;
    background-color: #BF1757;
    margin: auto
  }
}

@media (min-width: 700px){
  .EstiloProgressBar{
    height: 60vh !important;
    width: 8% !important;
    top: unset;
    margin: unset;
    margin-top: 9vh;
    position: static;
    margin-left: calc( 2vw + (5vmin)/4 );
  }
}
