<div style="width: 100%;height: 100%;display: flex;flex-direction: column">
  <!--  EL HEADER-->
  <div style="width: 100%;height: 10%;background-color: white;display: flex;position: relative;border-bottom: solid 2px rgba(135, 135, 135, 0.5)">
    <mat-icon style="margin: auto 0;height: unset;width: unset;color: black;font-size: 50px;margin-left: 10px;" (click)="ClickCerrar()">keyboard_arrow_left</mat-icon>
    <img style="margin: auto;height: 50%;margin: auto" src="{{billingService.ProviderInfo.LogoURL}}">
    <mat-icon style="height: unset;width: unset;color: black;font-size: 50px;margin: 10px 0;margin-right: 10px;" (click)="ClickActualizar()">refresh</mat-icon>
  </div>
  <!--  CUERPO-->
<!--  VERSIÓN MOVIL-->
  <div #TheScroll style="width: 100%;height: 95%;display: flex;flex-direction: column;margin: auto;overflow: auto" *ngIf="commonOperations.IsMobile()">
<!--    PARTE de arriba-->
<!--      TITULO-->
    <div style="display: flex;width: 100%;justify-content: space-between;flex-direction: column;flex-shrink: 0;">
      <mat-label style="font-weight: bold;font-size: 150%;color: black;width: 100%;text-align: center">{{Pedido.tienda}}</mat-label>
      <mat-label style="font-weight: bold;font-size: 100%;color: black;width: 100%;text-align: center">Resumen de tu pedido</mat-label>
      <mat-label style="font-weight: bold;font-size: 100%;color: black;width: 100%;text-align: center">{{this.Pedido.numpedido}}</mat-label>
    </div>
    <div  style="display: flex;flex-direction: column;padding: 20px;height: 15vh;flex-shrink: 0;">
      <!--    PARTE QUE MUESTRA EL ESTADO DE LA ORDEN-->
      <div style="display: flex;flex-direction: column">
        <div style="display: flex;margin: auto;position: relative;">
          <mat-label style="font-size: 180%;font-weight: bold;text-align: center">{{BillStateToText(Pedido.id_BILL_STATE)}}</mat-label>
<!--            <ion-icon *ngIf="Pedido.id_BILL_STATE == 99" (click)="this.ShowCancelReason()" style="font-size: x-large;position: absolute;right: -20%;top: 24%;" name="help-circle-outline"></ion-icon>-->
        </div>
        <mat-label style="margin: auto;font-size: 80%">Estado</mat-label>
      </div>
      <div style="height: 40%;display: flex;flex-direction: column;position: relative">
        <div #Progress id="1" class="EstiloProgressBar label-center"></div>
        <div #Progress id="2" class="EstiloProgressBar label-center Ocultar"></div>
        <div #Progress id="3" class="EstiloProgressBar label-center Ocultar"></div>
        <!--        <div #Progress id="4" class="EstiloProgressBar label-center Ocultar"></div>-->
        <!--          el contenido del spinner-->
        <div style="position: absolute;top: 0;left: 0;display: flex;width: 100%;height: 100%;">
          <div [ngClass]="EtapaAvance >= 0 ? (Pedido.id_BILL_STATE == 99 ? 'CirculoCompletadoCancelado':'CirculoCompletado'):'CirculoPendiente'" style="margin: auto 0;"><div name="dentro"></div></div>
          <div [ngClass]="EtapaAvance >= 1 ? (Pedido.id_BILL_STATE == 99 ? 'CirculoCompletadoCancelado':'CirculoCompletado'):'CirculoPendiente'" style="margin: auto;margin-right: 0"><div name="dentro"></div></div>
          <div [ngClass]="EtapaAvance >= 2 ? (Pedido.id_BILL_STATE == 99 ? 'CirculoCompletadoCancelado':'CirculoCompletado'):'CirculoPendiente'" style="margin: auto;"><div name="dentro"></div></div>
          <div [ngClass]="EtapaAvance >= 3 ? (Pedido.id_BILL_STATE == 99 ? 'CirculoCompletadoCancelado':'CirculoCompletado'):'CirculoPendiente'" style="margin: auto 0;"><div name="dentro"></div></div>
        </div>
      </div>
    </div>
    <!--    PARTE ABAJO-->
    <div style="width: 90%;margin: 0 auto;flex-shrink: 0;">
      <div style="display: flex;width: 100%;flex-direction: column;margin-bottom: 15px;">
        <mat-label style="text-align: center;font-size: 100%;color: black;">Fecha Orden: <b>{{FormatedDate()}}</b></mat-label>
        <mat-label style="text-align: center;font-size: 100%;color: black;"><b>{{["Efectivo","Tarjeta de Crédito (Datáfono)","Tarjeta de Débito (Datáfono)"][Pedido.id_PAYMENT]}}</b></mat-label>
      </div>
      <!--      CONTENEDOR PRODUCTOS, RESUMEN-->
      <!--        RESUMEN-->
      <div style="height: 30vh;width: 100%;margin: 0 auto;display: flex;flex-direction: column;margin-bottom: 10px;justify-content: space-between">
        <div style="margin: auto;box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.28);height: 100%;width: 95%;border-radius: 10px;display: flex">
          <div style="display: flex;flex-direction: column;width: 85%;height: 85%;margin: auto;justify-content: space-evenly">
            <div style="display: flex;">
              <mat-label style="margin-right: auto;font-weight: bold">Cantidad Productos:</mat-label>
              <mat-label>{{this.DetallesPedido.length}}</mat-label>
            </div>
            <div style="display: flex;">
              <mat-label style="margin-right: auto;font-weight: bold">Productos:</mat-label>
              <mat-label *ngIf="locStorage.getidCountry() == 'ES'">{{roundnum(this.Pedido.totalprice) | currency  : 'EUR' : 'symbol' : '1.0'}}</mat-label>
              <mat-label *ngIf="locStorage.getidCountry() != 'ES'">{{roundnum(this.Pedido.totalprice) | currency  : 'USD' : 'symbol' : '1.0'}}</mat-label>
            </div>
            <div style="display: flex;">
              <mat-label style="margin-right: auto;font-weight: bold">Envío:</mat-label>
              <mat-label *ngIf="locStorage.getidCountry() == 'ES'">{{roundnum(0) | currency  : 'EUR' : 'symbol' : '1.0'}}</mat-label>
              <mat-label *ngIf="locStorage.getidCountry() != 'ES'">{{roundnum(0) | currency  : 'USD' : 'symbol' : '1.0'}}</mat-label>
            </div>
            <div style="display: flex;">
              <mat-label style="margin-right: auto;font-weight: bold">Descuento:</mat-label>
              <mat-label *ngIf="locStorage.getidCountry() == 'ES'">{{roundnum(0) | currency  : 'EUR' : 'symbol' : '1.0'}}</mat-label>
              <mat-label *ngIf="locStorage.getidCountry() != 'ES'">{{roundnum(0) | currency  : 'USD' : 'symbol' : '1.0'}}</mat-label>
            </div>
            <div style="width: 100%;height: 2px;background-color: black"></div>
            <div style="display: flex;justify-content: space-around">
              <mat-label style="font-size: 120%">TOTAL</mat-label>
              <mat-label *ngIf="locStorage.getidCountry() == 'ES'" style="font-size: 120%;font-weight: bold">{{roundnum(this.Pedido.totalprice) | currency  : 'EUR' : 'symbol' : '1.0'}}</mat-label>
              <mat-label *ngIf="locStorage.getidCountry() != 'ES'" style="font-size: 120%;font-weight: bold">{{roundnum(this.Pedido.totalprice) | currency  : 'USD' : 'symbol' : '1.0'}}</mat-label>
            </div>
            <!--            <div style="display: flex;margin: auto;height: 65%;"><p style="margin: 0;font-size: 3vw;margin-top: 5px">Mediante {{this.MetodosPago[this.MetodoPagoSeleccionado][1]}}</p></div>-->
          </div>
        </div>
      </div>
      <!--        PRODUCTOS-->
      <div class="ScrollBar" style="width: 100%;margin: 0 auto;display: flex;flex-direction: column;overflow: auto;max-height: 30vh">
        <div style="display: flex;flex-direction:column;box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.28);justify-content: space-evenly;margin: 5px;height: 8vh;flex-wrap: wrap;border-radius: 10px" *ngFor="let detalle of this.DetallesPedido">
          <mat-label style="margin: 0 auto;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;font-weight: bold;font-size: 70%;color: black;width: 35%;">{{detalle[1]}}</mat-label>
          <mat-label *ngIf="locStorage.getidCountry() == 'ES'" style="margin:0 auto;font-size: 70%;width: 35%;">Unidad {{GetUnitPrice(detalle[2],detalle[0]) | currency  : 'EUR' : 'symbol' : '1.0'}}</mat-label>
          <mat-label *ngIf="locStorage.getidCountry() != 'ES'" style="margin:0 auto;font-size: 70%;width: 35%;">Unidad {{GetUnitPrice(detalle[2],detalle[0]) | currency  : 'USD' : 'symbol' : '1.0'}}</mat-label>
          <div style="margin:0 auto;height: 100%;width: 15%;display: flex"><mat-label style="margin:auto;font-weight: bold;font-size: 120%;width: 100%">{{detalle[0]}}</mat-label></div>
          <div style="margin:0 auto;height: 100%;width: 25%;display: flex">
            <mat-label *ngIf="locStorage.getidCountry() == 'ES'" style="margin:auto;font-size: 100%;width: 100%;text-align: center">{{detalle[2] | currency  : 'EUR' : 'symbol' : '1.0'}}</mat-label>
            <mat-label *ngIf="locStorage.getidCountry() != 'ES'" style="margin:auto;font-size: 100%;width: 100%;text-align: center">{{detalle[2] | currency  : 'USD' : 'symbol' : '1.0'}}</mat-label>
          </div>
        </div>
      </div>
      <!--          LOS DATOS Y EL MAPA-->
      <div style="display: flex;width: 100%">
        <div style="display: flex;width: 48%;flex-direction: column">
          <mat-label style="padding-top: 10px;font-weight: bold">Entrega</mat-label>
          <mat-label style="padding-top: 10px">{{this.Pedido.address}}</mat-label>

          <div *ngIf="this.Distancia != -1" style="display: flex;flex-direction: column;margin-left: 0;width: 70%;">
            <mat-label style="margin: auto;margin-bottom: 0;font-size: 120%">{{this.Distancia/1000 | number:'1.0-1'}}</mat-label>
            <mat-label style="margin: auto;margin-top: 0;font-size: 80%">km</mat-label>
          </div>
        </div>
        <div style="display: flex;width: 48%;flex-direction: column">
          <mat-label style="padding-top: 10px;font-weight: bold">Tienda</mat-label>
          <div style="display: flex;flex-direction: column;">
            <mat-label style="padding-top: 10px">{{this.Pedido.tienda}}</mat-label>
            <mat-label style="padding-top: 10px">{{this.Pedido.addressp}}</mat-label>
          </div>
        </div>
      </div>
      <!--            EL MAPA-->
      <div style="width: 100%;height: 30vh;overflow: hidden;border-radius: 20px;display: flex;position: relative;padding-top: 10px;">
        <div style="width: 100%;height: 100%;display: flex;position: absolute;">
          <!--                    EL MAPA COMO TAL-->
          <div style="position: absolute;height: 100%;width: 100%;overflow: hidden" >
            <app-here-map #ElMap appId="EMebuedoPRx7d9k0fCQn" appCode="nlzkZnNOoP5qeVGUW2ujGg" lat="3.9638013527816924" lng="-73.31064117957077"></app-here-map>
          </div>
          <div style="background-color: #777777b3;position: absolute;height: 100%;width: 100%;overflow: hidden;display: flex;z-index: 10" *ngIf="CargandoMapa">
            <ngx-loading [config]="{animationType: this.commonOperations.ngxLoadingAnimationTypes.rectangleBounce, primaryColour: 'rgb(5, 53, 107)', backdropBorderRadius: '3px'}"></ngx-loading>
          </div>
          <div style="background-color: #e0e6ea00;position: absolute;height: 100%;width: 100%;overflow: hidden;display: flex;z-index: 10" ></div>
        </div>
        <!--      CONTENEDOR DE LAS OPCIONES EN CASO DE PROCESADO CON NOVEDAD-->
        <div *ngIf="Pedido.id_BILL_STATE == 807" style="background-color: white;width: 100%;height: 100%;justify-content: space-between;display: flex;flex-direction:column;position: absolute;z-index: 20">
          <div style="width: 100%;height: 65%;">
            <mat-label style="padding-top: 10px">{{this.Pedido.body.split("-")[this.Pedido.body.split("-").length-1]}}</mat-label>
          </div>
          <div style="width: 100%;height: 35%;display: flex;justify-content: space-between">
            <button style="width: 50%;color: black;--background: #fad263;font-weight: bold;" (click)="AceptarNovedad()">Aceptar Novedad</button>
            <button style="width: 50%;color: black;--background: #ff2452;font-weight: bold;" (click)="CancelarPedidoProcesadoConNovedad()">Cancelar Pedido</button>
          </div>
        </div>
      </div>
    </div>
  </div>
<!--  VERSIÓN ESCRITORIO-->
  <div style="width: 100%;height: 90%;display: flex;" *ngIf="!commonOperations.IsMobile()">
    <!--    PARTE IZQUIERDA-->
    <div style="height: 100%;width: 25%;box-shadow: -1px 3px 6px 1px rgba(0, 0, 0, 0.5)">
      <div style="height: 100%;display: flex;flex-direction: column;position: relative;width: 100%">
        <div #Progress id="1" class="EstiloProgressBar label-center"></div>
        <div #Progress id="2" class="EstiloProgressBar label-center Ocultar"></div>
        <div #Progress id="3" class="EstiloProgressBar label-center Ocultar"></div>
        <!--        <div #Progress id="4" class="EstiloProgressBar label-center Ocultar"></div>-->
        <!--          el contenido del spinner-->
        <div style="position: absolute;top: 0;left: 2.2vw;display: flex;flex-direction: column;width: 85%;height: 65vh !important;margin-top: 7.5vh;justify-content: space-between">
          <div style="display: flex">
            <div [ngClass]="EtapaAvance >= 0 ? (Pedido.id_BILL_STATE == 99 ? 'CirculoCompletadoCancelado':'CirculoCompletado'):'CirculoPendiente'" style=""><div name="dentro"></div></div>
            <mat-label style="margin: auto 0;margin-left: 1vw;font-size: 150%;color: black">Recibido</mat-label>
          </div>
          <div style="display: flex">
            <div [ngClass]="EtapaAvance >= 1 ? (Pedido.id_BILL_STATE == 99 ? 'CirculoCompletadoCancelado':'CirculoCompletado'):'CirculoPendiente'" style=""><div name="dentro"></div></div>
            <mat-label style="margin: auto 0;margin-left: 1vw;font-size: 150%;color: black">En Proceso</mat-label>
          </div>
          <div style="display: flex">
            <div [ngClass]="EtapaAvance >= 2 ? (Pedido.id_BILL_STATE == 99 ? 'CirculoCompletadoCancelado':'CirculoCompletado'):'CirculoPendiente'" style=""><div name="dentro"></div></div>
            <mat-label style="margin: auto 0;margin-left: 1vw;font-size: 150%;color: black">Alistando Pedido</mat-label>
          </div>
          <div style="display: flex">
            <div [ngClass]="EtapaAvance >= 3 ? (Pedido.id_BILL_STATE == 99 ? 'CirculoCompletadoCancelado':'CirculoCompletado'):'CirculoPendiente'" style=""><div name="dentro"></div></div>
            <mat-label style="margin: auto 0;margin-left: 1vw;font-size: 150%;color: black">En Camino</mat-label>
          </div>
        </div>
      </div>
    </div>
    <!--    PARTE DERECHA-->
    <div style="height: 100%;width: 75%;display: flex;flex-direction: column">
      <div style="display: flex;width: 100%;justify-content: space-between">
        <mat-label style="margin: 15px 20px;font-weight: bold;font-size: 130%;color: black">Resumen de tu pedido - {{Pedido.tienda}}</mat-label>
        <div style="display: flex;margin-right: 20px;cursor: pointer" (click)="ClickActualizar()">
          <mat-label style="margin: 15px 20px;font-size: 100%;color: black">Actualizar</mat-label>
          <mat-icon style="height: fit-content;width: fit-content;font-size: 200%;margin: auto;">refresh</mat-icon>
        </div>
      </div>
      <div style="display: flex;width: 100%">
        <mat-label style="margin: 15px 20px;font-size: 100%;color: black">Pedido: <b>{{Pedido.numpedido}}</b></mat-label>
        <mat-label style="margin: 15px 20px;font-size: 100%;color: black">Estado: <b>{{BillStateToText(Pedido.id_BILL_STATE)}}</b></mat-label>
        <mat-label style="margin: 15px 20px;font-size: 100%;color: black;margin-left: 3vw">Fecha Orden: <b>{{FormatedDate()}}</b></mat-label>
      </div>
      <!--      CONTENEDOR PRODUCTOS, RESUMEN-->
      <div style="display: flex;width: 100%;height: 40%;justify-content: space-evenly">
        <!--        PRODUCTOS-->
        <div class="ScrollBar" style="height: 100%;width: 45%;display: flex;flex-direction: column;overflow: auto">
          <div style="display: flex;flex-direction:column;box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.28);justify-content: space-evenly;width: 92%;margin: 10px auto;height: 8vh;flex-wrap: wrap;border-radius: 10px" *ngFor="let detalle of this.DetallesPedido">
            <mat-label style="margin: 0 auto;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;font-weight: bold;font-size: 70%;color: black;width: 35%;">{{detalle[1]}}</mat-label>
            <mat-label *ngIf="locStorage.getidCountry() == 'ES'" style="margin:0 auto;font-size: 70%;width: 35%;">Unidad {{GetUnitPrice(detalle[2],detalle[0]) | currency  : 'EUR' : 'symbol' : '1.0'}}</mat-label>
            <mat-label *ngIf="locStorage.getidCountry() != 'ES'" style="margin:0 auto;font-size: 70%;width: 35%;">Unidad {{GetUnitPrice(detalle[2],detalle[0]) | currency  : 'USD' : 'symbol' : '1.0'}}</mat-label>
            <div style="margin:0 auto;height: 100%;width: 15%;display: flex"><mat-label style="margin:auto;font-weight: bold;font-size: 120%;width: 100%">{{detalle[0]}}</mat-label></div>
            <div style="margin:0 auto;height: 100%;width: 25%;display: flex">
              <mat-label *ngIf="locStorage.getidCountry() == 'ES'" style="margin:auto;font-size: 100%;width: 100%;text-align: center">{{detalle[2] | currency  : 'EUR' : 'symbol' : '1.0'}}</mat-label>
              <mat-label *ngIf="locStorage.getidCountry() != 'ES'" style="margin:auto;font-size: 100%;width: 100%;text-align: center">{{detalle[2] | currency  : 'USD' : 'symbol' : '1.0'}}</mat-label>
            </div>
          </div>
        </div>
        <!--        RESUMEN-->
        <div style="height: 100%;width: 45%;margin: 5px;display: flex;flex-direction: column;justify-content: space-between">
          <div style="margin: auto;box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.28);height: 100%;width: 95%;border-radius: 10px;display: flex">
            <div style="display: flex;flex-direction: column;width: 85%;height: 85%;margin: auto;justify-content: space-evenly">
              <div style="display: flex;">
                <mat-label style="margin-right: auto;font-weight: bold">Cantidad Productos:</mat-label>
                <mat-label>{{this.DetallesPedido.length}}</mat-label>
              </div>
              <div style="display: flex;">
                <mat-label style="margin-right: auto;font-weight: bold">Productos:</mat-label>
                <mat-label *ngIf="locStorage.getidCountry() == 'ES'" >{{roundnum(this.Pedido.totalprice) | currency  : 'EUR' : 'symbol' : '1.0'}}</mat-label>
                <mat-label *ngIf="locStorage.getidCountry() != 'ES'" >{{roundnum(this.Pedido.totalprice) | currency  : 'USD' : 'symbol' : '1.0'}}</mat-label>
              </div>
              <div style="display: flex;">
                <mat-label style="margin-right: auto;font-weight: bold">Envío:</mat-label>
                <mat-label *ngIf="locStorage.getidCountry() == 'ES'" >{{roundnum(0) | currency  : 'EUR' : 'symbol' : '1.0'}}</mat-label>
                <mat-label *ngIf="locStorage.getidCountry() != 'ES'" >{{roundnum(0) | currency  : 'USD' : 'symbol' : '1.0'}}</mat-label>
              </div>
              <div style="display: flex;">
                <mat-label style="margin-right: auto;font-weight: bold">Descuento:</mat-label>
                <mat-label *ngIf="locStorage.getidCountry() == 'ES'" >{{roundnum(0) | currency  : 'EUR' : 'symbol' : '1.0'}}</mat-label>
                <mat-label *ngIf="locStorage.getidCountry() != 'ES'" >{{roundnum(0) | currency  : 'USD' : 'symbol' : '1.0'}}</mat-label>
              </div>
              <div style="width: 100%;height: 2px;background-color: black"></div>
              <div style="display: flex;justify-content: space-around">
                <mat-label style="font-size: 120%">TOTAL</mat-label>
                <mat-label *ngIf="locStorage.getidCountry() == 'ES'" style="font-size: 120%;font-weight: bold">{{roundnum(this.Pedido.totalprice) | currency  : 'EUR' : 'symbol' : '1.0'}}</mat-label>
                <mat-label *ngIf="locStorage.getidCountry() != 'ES'" style="font-size: 120%;font-weight: bold">{{roundnum(this.Pedido.totalprice) | currency  : 'USD' : 'symbol' : '1.0'}}</mat-label>
              </div>
              <!--            <div style="display: flex;margin: auto;height: 65%;"><p style="margin: 0;font-size: 3vw;margin-top: 5px">Mediante {{this.MetodosPago[this.MetodoPagoSeleccionado][1]}}</p></div>-->
            </div>
          </div>
        </div>
      </div>
      <!--          LOS DATOS Y EL MAPA-->
      <div style="display: flex;width: 100%;height: 40%;justify-content: space-evenly;margin: auto">
        <!--            DATOS-->
        <div style="height: 100%;width: 45%;display: flex;flex-direction: column">
          <div style="display: flex;height: 80%;flex-direction: column">
            <div style="display: flex;width: 100%;justify-content: space-between">
              <div style="width: 48%;display: flex;flex-direction: column">
                <mat-label style="padding-top: 10px;font-weight: bold;font-size: 2vmin;">Origen</mat-label>
                <mat-label style="padding-top: 10px;text-transform: capitalize;font-size: 2vmin;">{{this.billingService.ProviderInfo.Name.toLowerCase()}}</mat-label>
                <mat-label style="padding-top: 10px;text-transform: capitalize;font-size: 2vmin;">{{this.billingService.ProviderInfo.CityName.toLowerCase()}},{{this.billingService.ProviderInfo.Address}}</mat-label></div>
              <div style="width: 48%;display: flex;flex-direction: column">
                <mat-label style="padding-top: 10px;font-weight: bold;font-size: 2vmin;">Destino</mat-label>
                <mat-label style="padding-top: 10px;text-transform: capitalize;font-size: 2vmin;">{{this.accountService.GetNormalName().toLowerCase()}}</mat-label>
                <mat-label style="padding-top: 10px;text-transform: capitalize;font-size: 2vmin;">{{this.accountService.usuarioCompleto.city_NAME.toLowerCase()}},{{this.accountService.usuarioCompleto.address}}</mat-label>
              </div>
            </div>
            <mat-label style="margin-bottom: 0;font-size: 2vmin;margin-top: 10px;text-align: center" *ngIf="Distancia > 0">Distancia: {{this.Distancia/1000 | number:'1.0-1'}} km</mat-label>
            <mat-label style="margin-bottom: 0;font-size: 2vmin;margin-top: 10px;text-align: center" *ngIf="Distancia <= 0">Distancia: Mayor a 50 km</mat-label>

          </div>
          <div>
            <mat-label style="padding-top: 10px;font-weight: bold;font-size: 2vmin;">Metodo pago</mat-label>
            <mat-label style="padding-top: 10px;font-size: 2vmin;">{{["Efectivo","Tarjeta de Crédito (Datáfono)","Tarjeta de Débito (Datáfono)"][Pedido.id_PAYMENT]}}</mat-label>
          </div>
          <div *ngIf="this.Distancia != -1" style="display: flex;flex-direction: column;margin-left: auto;width: 18%;">
            <mat-label style="margin: auto;margin-bottom: 0;font-size: 120%">{{this.Distancia/1000 | number:'1.0-1'}}</mat-label>
            <mat-label style="margin: auto;margin-top: 0;font-size: 80%">km</mat-label>
          </div>
        </div>
        <!--            EL MAPA-->
        <div style="width: 45%;height: 90%;overflow: hidden;border-radius: 20px;display: flex;position: relative;padding-top: 10px;">
          <div style="width: 100%;height: 100%;display: flex;position: absolute;">
            <!--                    EL MAPA COMO TAL-->
            <div style="position: absolute;height: 100%;width: 100%;overflow: hidden" >
              <app-here-map #ElMap appId="EMebuedoPRx7d9k0fCQn" appCode="nlzkZnNOoP5qeVGUW2ujGg" lat="3.9638013527816924" lng="-73.31064117957077"></app-here-map>
            </div>
            <div style="background-color: #777777b3;position: absolute;height: 100%;width: 100%;overflow: hidden;display: flex;z-index: 10" *ngIf="CargandoMapa">
              <ngx-loading [config]="{animationType: this.commonOperations.ngxLoadingAnimationTypes.rectangleBounce, primaryColour: 'rgb(5, 53, 107)', backdropBorderRadius: '3px'}"></ngx-loading>
            </div>
            <div style="background-color: #e0e6ea00;position: absolute;height: 100%;width: 100%;overflow: hidden;display: flex;z-index: 10" ></div>
          </div>
          <!--      CONTENEDOR DE LAS OPCIONES EN CASO DE PROCESADO CON NOVEDAD-->
          <div *ngIf="Pedido.id_BILL_STATE == 807" style="background-color: white;width: 100%;height: 100%;justify-content: space-between;display: flex;flex-direction:column;position: absolute;z-index: 20">
            <div style="width: 100%;height: 65%;">
              <mat-label style="padding-top: 10px">{{this.Pedido.body.split("-")[this.Pedido.body.split("-").length-1]}}</mat-label>
            </div>
            <div style="width: 100%;height: 35%;display: flex;justify-content: space-between">
              <button style="width: 50%;color: black;--background: #fad263;font-weight: bold;" (click)="AceptarNovedad()">Aceptar Novedad</button>
              <button style="width: 50%;color: black;--background: #ff2452;font-weight: bold;" (click)="CancelarPedidoProcesadoConNovedad()">Cancelar Pedido</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
