.nav-tabs .nav-item .nav-link.active {
    background-color: hsla(0,0%,100%,.2);
    transition: background-color .3s .2s;
}

mat-form-field{
    width: 100%;
    font-size: 1.4em;
}

.vertical-radio-group {
    display: inline-flex;
    flex-direction: column;
}
  