<!-- CONTENEDOR DE TODO EL MODULO DE COMPRA-->
<div style="">
  <!--	EL TITULO, HEADER-->
  <mat-card style="height: 100%;width:100%;padding:0">
    <mat-card-header style="background-color:rgb(5, 53, 107);margin:0;padding:20px">
      <!--			TITULO-->
      <mat-card-title style="font-size: 1.3em; font-weight: 700; margin-bottom:10px; color:white">Creditos</mat-card-title>
      <!--			SUB TITULO-->
      <!-- <mat-card-subtitle style="font-size: 0.8em;font-weight: 300;color:white;margin-bottom:0">Completar el formulario para registrar una compra.</mat-card-subtitle> -->
    </mat-card-header>
  </mat-card>
  <!--	EL CONTENIDO-->
  <mat-card>
    <mat-tab-group [selectedIndex]="tab">
      <mat-tab label="Nuevo Credito">
        <div class="panel1" *ngIf="panel1">
          <div class = "col">
            <div class = "row">
              <h3>Formulario</h3>
            </div>
            <div class = "row">
              <mat-form-field appearance = "fill" style="width: 33%; padding-left:0.5%">
                <mat-label> Monto del Credito </mat-label>
                <input currencyMask [options]="{ precision: 0 }" matInput [(ngModel)]="valor">
              </mat-form-field>

              <mat-form-field appearance="fill" style="width: 33%; padding-left:0.5%">
                <mat-label>Fecha de inicio</mat-label>
                <input matInput [matDatepicker]="picker" [(ngModel)]="fechacreacion">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              <!-- <mat-form-field appearance="fill" style="width: 33%; padding-left:0.5%">
                <mat-label>Fecha de Desembolso</mat-label>
                <input matInput [matDatepicker]="picker2">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field> -->
              <mat-form-field appearance = "fill" style="width: 33%; padding-left:0.5%">
                <mat-label> Numero Cuotas </mat-label>
                <input matInput [(ngModel)]="numcuotas">
              </mat-form-field>
            </div>
            <div class = "row">
              <!-- <mat-form-field appearance="fill" style="width: 33%; padding-left:0.5%">
                <mat-label>Fecha de Aprovacion</mat-label>
                <input matInput [matDatepicker]="picker3">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                <mat-datepicker #picker3></mat-datepicker>
              </mat-form-field> -->

              <mat-form-field appearance = "fill" style="width: 33%; padding-left:0.5%">
                <mat-label> Modalidad de Pago </mat-label>
                <mat-select [(value)]="periodicidad">
                  <mat-option value = "7"> Semanal </mat-option>
                  <mat-option value = "15"> Quincenal </mat-option>
                  <mat-option value = "30"> Mensual </mat-option>
                  <mat-option value = "60"> Bimensual</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance = "fill" style="width: 33%; padding-left:0.5%">
                <mat-label> Interes </mat-label>
                <input matInput type="number" [(ngModel)]="interes">
              </mat-form-field>
              <mat-form-field appearance = "fill" style="width: 33%; padding-left:0.5%">
                <mat-label> Interes de mora </mat-label>
                <input matInput type="number" [(ngModel)]="interesmora">
              </mat-form-field>
            </div>
            <div class = "row">
              <mat-form-field appearance = "fill" style="width: 49%; padding-left:0.5%">
                <mat-label> Cuota inicial </mat-label>
                <input matInput currencyMask [options]="{ precision: 0 }" [(ngModel)]="cuotainicial">
              </mat-form-field>
              <mat-form-field appearance = "fill" style="width: 49%; padding-left:0.5%">
                <mat-label> Cuota Calculada </mat-label>
                <input matInput disabled currencyMask [options]="{ precision: 0 }" [(ngModel)]="valor/numcuotas">
              </mat-form-field>
            </div>
            <div class = "row">
              <button mat-raised-button color="primary" (click)="next(1)">Siguiente</button>
            </div>
          </div>
        </div>
        <div class="panel2" *ngIf="panel2">
          <div class = "col">
            <div class = "row">
              <h3>Terceros</h3>
            </div>
            <div class = "row">
              <div class = "Simple example">
                <mat-form-field appearance = "fill">
                  <mat-label> Documento/Nombre a Buscar </mat-label>
                  <input matInput [(ngModel)]="ccClient">
                </mat-form-field>
                <br>
                <button mat-raised-button color="primary" (click)="searchClient2()">Buscar Cliente</button>
                <br>
                Cliente Seleccionado: {{cliente}}
              </div>
            </div>
            <div class = "row">
              <div class = "Simple example">
                <mat-form-field appearance = "fill">
                  <mat-label> Documento/Nombre a Buscar </mat-label>
                  <input matInput [(ngModel)]="ccCodeudor">
                </mat-form-field>
                <br>
                <button mat-raised-button color="primary" (click)="searchCodeudor2()">Buscar Codeudor</button>
                <br>
                Codeudor Seleccionado: {{codeudor}}
              </div>
            </div>
            <div class = "row">
              <button mat-raised-button color="primary" (click)="back(2)">Anterior</button>
              <button mat-raised-button color="primary" (click)="crearCredito()">Finalizar</button>
            </div>
          </div>
        </div>
        <div class="panel3" *ngIf="panel3">
          <div class = "col">
            <div class = "row">
              <h3>Terceros</h3>
            </div>
            <div class = "row">
              <div class = "Simple example">
                <mat-form-field appearance = "fill">
                  <mat-label> Documento/Nombre a Buscar </mat-label>
                  <input matInput [(ngModel)]="ccCodeudor">
                </mat-form-field>
                <br>
                <button mat-raised-button color="primary" (click)="searchCodeudor2()">Buscar Codeudor</button>
                <br>
                Codeudor Seleccionado: {{codeudor}}
              </div>
            </div>
            <div class = "row">
              <button mat-raised-button color="primary" (click)="back(3)">Anterior</button>
              <button mat-raised-button color="primary" (click)="next(3)">Siguiente</button>
            </div>
          </div>
        </div>
        <div class="panel4" *ngIf="panel4">
          <div class = "col">
            <div class = "row">
              <h3>Formulario</h3>
            </div>
            <div class = "row">
              <div class="form-group">
                <label for="file">Seleccionar archivo File</label>
                <input type="file"
                       id="file"
                       (change)="handleFileInput($event.target.files)">
                </div>
            </div>
            <div class = "row">
              <table mat-table [dataSource]="dataSource2" class="mat-elevation-z8">

                <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->

                <!-- Position Column -->
                <ng-container matColumnDef="position">
                  <th mat-header-cell *matHeaderCellDef> Documento </th>
                  <td mat-cell *matCellDef="let element"> {{element.position}}.pdf </td>
                </ng-container>

                <ng-container matColumnDef="others">
                  <th mat-header-cell *matHeaderCellDef>  </th>
                  <td mat-cell *matCellDef="let element">
                    <button mat-raised-button color="primary">Ver Documento</button>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
              </table>
            </div>
            <div class = "row">
              <button mat-raised-button color="primary" (click)="back(4)">Anterior</button>
              <button mat-raised-button color="primary" (click)="next(4)">Siguiente</button>
            </div>
          </div>
        </div>
        <div class="panel5" *ngIf="panel5">
          <div class = "col">
            <div class = "row">
              <h3>Formulario</h3>
            </div>
            <div class = "row">
              <div class = "Simple example">
                <mat-form-field appearance = "fill">
                  <mat-label> Documento/Nombre a Buscar </mat-label>
                  <input matInput [(ngModel)]="ccCodeudor">
                </mat-form-field>
                <br>
                <button mat-raised-button color="primary" (click)="searchCodeudor2()">Buscar Codeudor</button>
                <br>
                Codeudor Seleccionado: {{codeudor}}
              </div>
            </div>
            <div class = "row">
              <button mat-raised-button color="primary" (click)="back(5)">Anterior</button>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Buscar Creditos">
        <mat-form-field class="example-full-width" appearance="fill" style="width: 74%; padding-right:0.5%">
          <mat-label>Buscar Credito</mat-label>
          <input matInput value="CREDITO PRUEBA" [(ngModel)]="cedulaCred">
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="buscarCredito()" style="width: 24%; padding-right:0.5%">Buscar Credito</button>
        <hr>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

          <!-- Position Column -->
          <ng-container matColumnDef="fecha_CREACION">
            <th mat-header-cell *matHeaderCellDef> Fecha Credito </th>
            <td mat-cell *matCellDef="let element"> {{element.fecha_CREACION}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="id_THIRD_CLIENT">
            <th mat-header-cell *matHeaderCellDef> Nombre Cliente </th>
            <td mat-cell *matCellDef="let element"> {{element.cliente}} </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="id_THIRD_CODEUDOR">
            <th mat-header-cell *matHeaderCellDef> Nombre Codeudor </th>
            <td mat-cell *matCellDef="let element"> {{element.codeudor }} </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="monto">
            <th mat-header-cell *matHeaderCellDef> Monto </th>
            <td mat-cell *matCellDef="let element"> {{element.monto | currency}} </td>
          </ng-container>

          <ng-container matColumnDef="num_CUOTAS">
            <th mat-header-cell *matHeaderCellDef> Cuotas </th>
            <td mat-cell *matCellDef="let element"> {{element.num_CUOTAS}} </td>
          </ng-container>

          <ng-container matColumnDef="others">
            <th mat-header-cell *matHeaderCellDef>  </th>
            <td mat-cell *matCellDef="let element">
              <button mat-raised-button color="primary" (click)="verDetalle(element,0)" style="width: 100%">Ver Detalle</button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </mat-tab>


      <!-- <mat-tab label="Umbral">
        3
      </mat-tab> -->
    </mat-tab-group>
  </mat-card>
</div>
