<style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }
  </style>

<h2>Reporte Basico</h2>
<div class="row">

    <mat-label>Fecha Inicial    </mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="date1">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>

    <mat-label>Fecha Final    </mat-label>
    <input matInput [matDatepicker]="picker2" [(ngModel)]="date2">
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2></mat-datepicker>

    <mat-label>Selecciona Prefijo     </mat-label>
    <mat-form-field>
      <mat-select placeholder="Prefijos" multiple>
        <mat-option *ngFor="let item of listaPrefs" [value]="item.check" (click)="setValue(item)">{{item.con_prefijo}}</mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-button color="primary" (click)="getReport()">Calcular</button>


    <mat-label>       Selecciona Estado     </mat-label>
    <mat-form-field>
      <mat-select placeholder="Estados" [(ngModel)]="selectedState" (selectionChange)="filter()">
        <mat-option [value]="'M'" >Todos</mat-option>
        <mat-option [value]="'A'" >Aceptado</mat-option>
        <mat-option [value]="'R'" >Rechazado</mat-option>
        <mat-option [value]="'T'" >Pendiente</mat-option>
      </mat-select>
    </mat-form-field>

</div>
<div class="row">

  <input type="text"  [(ngModel)]="nrorecibo">

  <button mat-button color="primary" (click)="getReport2()">Calcular</button>

</div>
<div class="row">
  <table>
    <thead>
        <tr>
          <th>#</th>
          <th>PREFIJO</th>
          <th>NUMUNAL</th>
          <th>NUM_NOTA</th>
          <th>CONSEC_DIAN</th>
          <th>FECHA</th>
          <th>TIPO_DOCUMENTO</th>
          <th>VALOR</th>
          <th>ESTADO</th>
          <th>MENSAJE_ERROR</th>
        </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listaPublicacionesPadre | paginate : {
      id: 'pagination1',
      itemsPerPage: tableSize,
      currentPage: page,
      totalItems: count
      }; let i =index">
        <td> {{(page-1) * 20 + i + 1}} </td>
        <td> {{item.prefijo}} </td>
        <td> {{item.numunal}} </td>
        <td> {{item.num_NOTA}} </td>
        <td> {{item.consec_DIAN}} </td>
        <td> {{item.fecha}} </td>
        <td> {{item.tipo_DOCUMENTO}} </td>
        <td> {{item.valor}} </td>
        <td>
          <div *ngIf="item.estado === 'A'">Aceptado</div>
          <div *ngIf="item.estado === 'R'">Rechazado</div>
          <div *ngIf="item.estado === 'T'">Pendiente</div>
        </td>
        <td> {{item.mensaje_ERROR}} </td>
      </tr>
    </tbody>
  </table>
</div>
<div>
  <div >Mostrando <b>{{getAmountShown()}}</b> de <b>{{this.listaPublicacionesPadre.length}}</b> entradas</div>
  <pagination-controls id = "pagination1"
  responsive="true"
  previousLabel="Anterior"
  nextLabel="Siguiente"
  (pageChange)="onTableDataChange($event)">
  </pagination-controls>
</div>
