<nav>
  <ul>
    <li><a  routerLink="/" >Inicio</a></li>
    <li><a  routerLink="/about" >Acerca</a></li>
     <li><a  routerLink="/perfil" routeLinkActive="active">Perfil</a></li>
      <li><a  routerLink="/auth" routeLinkActive="active">Login</a></li>
  </ul>
</nav>
<h1>
    Bienvenidos
</h1>

<div class="panel panel-default">
  BIENVENIDOS
</div>

<router-outlet></router-outlet>