<div style="margin-top:-10vh">

  <mat-card style="height: 100%;width:100%;padding:0px">
    <mat-card-header style="background-color:rgb(5, 53, 107);margin:0px;padding:20px">
      <mat-card-title style="font-family: Roboto;font-size: 1.3em; font-weight: 700; margin-bottom:15px; color:white">Manejo de terceros</mat-card-title>
    </mat-card-header>
  </mat-card>
  
  <mat-tab-group>
    <mat-tab label="Buscar">
      <mat-card>
        
        <mat-card-content>


            <div class="col" >
                <div class="row">
                    <div class="col-6">
                       <mat-form-field>
                        <input matInput class="text-center" type="text"  placeholder="Documento Tercero"  (keyup.enter)="searchClient($event)" [(ngModel)]="ccClient" #nameot>
                      </mat-form-field>
                    </div>
                    <div class="col-6"> 
                      <button (click)="searchClient2()" mat-stroked-button color="primary" type="submit">Buscar</button>
                      <button (click)="update()" mat-stroked-button color="warn" type="submit">Actualizar Datos</button>
                    </div>
              </div>
              <div class="row">
                  <div class="col-3" style="margin-bottom: px;margin-top: 0px;"> 
                    <h4>Tercero: </h4>{{cliente}}
                  </div>
                  <div class="col-2" style="margin-bottom: px;margin-top: 0px;"> 
                    <h4>Documento: </h4>{{clientData.document_type}} - {{clientData.document_number}}
                  </div>
                  <div class="col-2" style="margin-bottom: px;margin-top: 0px;"> 
                    <!-- <h4>Direccion: </h4>{{clientData.address}} -->
                    <mat-form-field>
                      <input matInput class="text-center" type="text"  placeholder="Direccion:"  [(ngModel)]="clientData.address" >
                    </mat-form-field>
                  </div>
                  <div class="col-2" style="margin-bottom: px;margin-top: 0px;"> 
                    <!-- <h4>Telefono: </h4>{{clientData.phone}} -->
                    <mat-form-field>
                      <input matInput class="text-center" type="text"  placeholder="Telefono:"  [(ngModel)]="clientData.phone" >
                    </mat-form-field>
                  </div>
                  <div class="col-2" style="margin-bottom: px;margin-top: 0px;"> 
                    <!-- <h4>Email: </h4>{{clientData.email}} -->
                    <mat-form-field>
                      <input matInput class="text-center" type="text"  placeholder="E-Mail:"  [(ngModel)]="clientData.email" >
                    </mat-form-field>
                  </div>
              </div>
            </div>


          <!-- <div class="row" >
            <div class="col">
              <div class="form-row">
                <div class="col-6">
                  <mat-form-field>
                    <input matInput class="text-center" type="text" placeholder="Documento" #nameit [(ngModel)]="document">
                  </mat-form-field>
                </div>
                <div class="col-6">
                  <button mat-stroked-button color="warn" type="button" (click)="buscarTercero()">
                    Buscar Tercero
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="row" >
            <div class="table-responsive">
              <table class="table table-hover" *ngIf="address != ''">
                <thead>
                  <tr>
                    <th class="text-center"><b>Nombre</b></th>
                    <th class="text-center"><b>Documento</b></th>
                    <th class="text-center"><b>Ciudad</b></th>
                    <th class="text-center"><b>Direccion</b></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="text-center"> {{fullname}} </td>
                    <td class="text-center"> {{docType + " " + doc}} </td>
                    <td class="text-center"> {{city}} </td>
                    <td class="text-center"> {{address}} </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row" >
            <div class="col-6" >
              <div class="table-responsive">
                  <table class="table table-hover" *ngIf="phones.length != 0">
                      <thead>
                          <tr>
                            <th class="text-center"><b>Telefonos</b></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let phone of phones">
                            <td class="text-center"> {{phone}} </td>
                          </tr>
                        </tbody>
                  </table>
                </div>
              </div>
              <div class="col-6" >
                  <div class="table-responsive">
                      <table class="table table-hover" *ngIf="mails.length != 0">
                          <thead>
                              <tr>
                                <th class="text-center"><b>Correos</b></th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let mail of mails">
                                <td class="text-center"> {{mail}} </td>
                              </tr>
                            </tbody>
                      </table>
                    </div>
                  </div>
          </div> -->
        </mat-card-content>
      </mat-card>
      
    </mat-tab>
    <mat-tab label="Persona">
      <app-new-person></app-new-person>
    </mat-tab>
    <mat-tab label="Empresa"> 
      <app-new-third></app-new-third>
    </mat-tab>
  </mat-tab-group>

   
</div>