/*loader*/

#ftco-loader {
  position: fixed;
  width: 96px;
  height: 96px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
  border-radius: 16px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .2s ease-out, visibility 0s linear .2s;
  -o-transition: opacity .2s ease-out, visibility 0s linear .2s;
  transition: opacity .2s ease-out, visibility 0s linear .2s;
  z-index: 1000; }

#ftco-loader.fullscreen {
  padding: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  background-color: #fff;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none; }

#ftco-loader.show {
  -webkit-transition: opacity .4s ease-out, visibility 0s linear 0s;
  -o-transition: opacity .4s ease-out, visibility 0s linear 0s;
  transition: opacity .4s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1; }

#ftco-loader .circular {
  -webkit-animation: loader-rotate 2s linear infinite;
  animation: loader-rotate 2s linear infinite;
  position: absolute;
  left: calc(50% - 24px);
  top: calc(50% - 24px);
  display: block;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg); }

#ftco-loader .path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  -webkit-animation: loader-dash 1.5s ease-in-out infinite;
  animation: loader-dash 1.5s ease-in-out infinite;
  stroke-linecap: round; }

@-webkit-keyframes loader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes loader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-webkit-keyframes loader-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0; }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px; }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -136px; } }

@keyframes loader-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0; }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px; }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -136px; } }

/*end loader*/
#letrasdfa2 {
   color: #fff;
    font-family: 'Ancizar sans';
    font-style: normal;
    padding: 10px 5% 10px 0px;
    text-align: right;
    background: #94b43b;
}
.tx-unal-accesibilidad {
    z-index: 2;
    width: 100%;
    left: 0;
    background-color: transparent;
    position: absolute;
    bottom: 0;
}
main.detalle {
    margin: 0 0 0 0;
    z-index: 0;
}



/*home*/
.detalle{
 background-color: #333333;
}

.contenedor_general{
  display: flex;
  width: 100%;
}

.contenedor_izq{
  display: flex;
  flex-wrap: wrap;
  width: 40%;
  padding-left: 7%;
  background-color: #333333;
}

.contenedor_identificador{
  align-items:flex-start;
  display: flex;
  justify-content: center;
  width: 80%;
  margin-top: 12%;
}

.logo_proyecto{
  width: 85%;
  margin-left: 41%;
  margin-top: 10%;
}

.identificador{
  display: flex;
  flex-wrap: wrap;
  margin: 15% 0px 1% 0px;
  display: none;
}

.identificador_proyecto{
  padding-top: 5px;
  font-size: 7.5vh;
  padding-left: 6%;
  padding-right: 6%;
  text-transform: uppercase;
  /*white-space: pre-line;*/
  background-color: #fff;
  color: #333333;
  letter-spacing: 0.2em;
}
.identificador_proyecto2{
  font-size: 12vh;
  color: #fff;
  background-color: #333333;
  letter-spacing: 0.2em;
}
.contenedor_descripcion{
  width: 90%;
  margin-bottom: 2%;

}

.descripcion_proyecto{
font-size: 2.2vh;
    line-height: 2.8vh;
  color: #fff;
  text-align: center;

}

.contenedor_boton{
    width: 90%;
    display: flex;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 20%;
}

.boton_ingresar{
  font-weight: 700;
  font-size: 2.5vh;
  text-transform: uppercase;
  color: #333333 !important;
  background-color: #fff;
  padding: 20px 20px;
  border-radius: 100px;
  border: 0.5px solid #fff;
}

.boton_ingresar:hover{
  font-weight: 700;
  font-size: 2.5vh;
  text-transform: uppercase;
  color: #fff !important;
  background-color: #333333;

  border: 0.5px solid #fff;
}

.contenedor_linea{
    width: 80%;
    display: flex;
    justify-content: center;
    margin: 20px 0% 3% 0%;

}

.linea_home{
  border-bottom: 3px #Fff solid;
  width: 20%;
  display: none;
}

.contenedor_logo_somos{
    width: 80%;
    display: flex;
    justify-content: center;
}

.logo_somos{
  width:20%;
}


.contenedor_der{
  display: flex;
  width: 60%;
}

.contenedor_img_home{
  width: 100%;
}

.img_home{
    width: 100%;
    background: url(../images/home_postcard.jpg);
    background-size: cover;
}

/*fin home*/

/*modal*/
.modal-contenido{
  background-color:#333333;
  color: #fff;
  border: 0.5px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 2px 6px rgb(0 0 0);
  width: 30%;
  min-width: 450px;
  padding: 10px 50px;
  margin: 12% auto;
  position: relative;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.modal_home{
  background-color: rgba(255,255,255,0.54);
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index: 10;
  display: none;
  overflow-y: auto;
}
.footer_modal {
  position: relative;
}
.modal_titulo{
    font-size: 4.5vh;
    line-height: 4.5vh;
    font-weight: 600;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 1%;
}

.modal_texto{
    margin-top: 5%;
    margin-bottom: 10%;
    font-size: 2vh;
    line-height: 2.5vh;
    text-align: center;
}

.modal_input{
    width: 70%;
    background-color: #666666;
    padding: 3% 6%;
    margin-bottom: 2%;
    border: 0;
    font-size: 2vh;
    line-height: 2.3vh;
}

 .modal_input::placeholder { 
  color: #fff;
  opacity: 0.7 
}

.modal_input:focus{
  background-color: #fff;
  border: none;
  outline:none !important;
  outline-width: 0 !important;
  color: #333333;
}

 .modal_input:focus::placeholder { 
  color: #333333;
  opacity: 0.7 
}

.modal_contenedor_boton{
  width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.modal_boton_ingresar{
  width:auto;
  font-weight: 700;
  font-size: 2vh;
  text-transform: uppercase;
  color: #333333;
  background-color: #fff;
  padding: 4% 7%;
  border-radius: 500px;
  border: 0.5px solid #fff;
}


.modal_boton_ingresar:hover{
  color: #fff;
  background-color: #333333;
  border: 0.5px solid #fff;
  text-decoration: none !important;
}

.modal_boton_continua{
  font-weight: 600;
  font-size: 2vh;
  line-height: 2vh;
  text-transform: uppercase;
  color: #fff;
  padding: 15px 40px;
  text-decoration: underline;
}

.modal_boton_continua:hover{
  color: #d3d3d3;
}

.contenedor_cerrar{
  display: flex;
  justify-content: end;
  margin: auto;
  width: 100%;
  color: #333333;
  flex-direction: row-reverse;
  margin-right: -66px;
  margin-top: -27px;
}

.modal_cerrar{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  font-size: 2.5vh;
  text-align: center;
  background-color: #fff;
  border-radius: 50%;
  padding: 5%;
  width: 40px;
  height: 40px;
  border: 0.5px solid #E7E7E7;
  box-sizing: border-box;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
  
}

.modal_cerrar:hover{
  background-color: #333333;
  border: 0.5px solid #333333;
  color: #fff !important; 
}


.pointer{
  cursor: pointer;
}


/*fin modal*/


/*responsive*/
@media screen and (max-width:1000px) {


.logo_proyecto{
  width: 70%;
  margin-left: 25%;
}


.contenedor_der{
  display: none;
}

.contenedor_izq{
    width: 100%;
    padding-left: 0%;
}
.contenedor_general {
    display: flex;
    justify-content: center;
}

.contenedor_logo_somos{
    display: flex;
    justify-content: center;
}

.identificador{
    display: flex;
    justify-content: center;
    width: 100%;
}

.identificador_proyecto{
  display: flex;
  justify-content: center;
  width:100%;
}
.identificador_proyecto2{
  display: flex;
  justify-content: center
  width:100%;
}

.contenedor_identificador{
  width: 100%;
}

.contenedor_boton{
  width: 100%;
}

.contenedor_descripcion{
   display: flex;
    justify-content: center;
    width: 100%;
}

.descripcion_proyecto{
    width: 50%;
    text-align: center;
}

.contenedor_linea {
    width:100%;
    display: flex;
    justify-content: center;
}

.contenedor_boton{
    display: flex;
    justify-content: center;
}


}

@media screen and (max-width:768px) {

.identificador_proyecto {
    font-size: 6vh;
    line-height: 6vh;
  }

.identificador_proyecto2{
  font-size: 10vh;
  line-height: 10vh;
}

.descripcion_proyecto {
  font-size: 2vh;
  line-height: 2.2vh;
  width: 80%;
}

.modal-contenido{
  min-width:310px;
  padding: 10px 20px;
}


.contenedor_cerrar {
  margin-right: -30px;
}

.boton_ingresar {
    font-weight: 700;
    font-size: 2vh;
    padding: 3% 5%;
  }

}



@media only screen and (orientation: landscape) and (max-width:800px) {

/*home*/

.identificador_proyecto {
    font-size: 7.5vw;
    line-height: 7.5vw;
  }

.identificador_proyecto2{
  font-size: 12vw;
  line-height: 12vw;
}

.descripcion_proyecto{
  font-size: 2.5vw;
  line-height: 2.5vw;
}

.boton_ingresar{
  font-size: 2.5vw;
  line-height: 2.5vw;

}

.boton_ingresar:hover{
  font-size: 2.5vw;
  line-height: 2.5vw;
}

/*fin home*/


.modal_titulo{
    font-size: 4.5vw;
    line-height: 4.5vw;
}

.modal_texto{
    font-size: 2vw;
    line-height: 2.1vw;
    text-align: center;
}

.modal_boton_ingresar{
  font-size: 2vw;
  line-height: 2.1vw;
}

.modal_boton_continua{
  font-size: 2vw;
  line-height: 2.1vw;
}

.modal_cerrar{
  font-size: 2.5vw;
  line-height: 2.5vw;
}

.modal_input{
    font-size: 2vw;
    line-height: 2.3vw;
}

.contenedor_galeria_boton{
    top: 56% !important;
  }

.ayuda_texto {
    top: 80% !important;
  }

.contenedor_img_ayuda {
    top: 75% !important;
  }


}




/*fin responsive*/