.fl-builder-content *, .fl-builder-content *:before, .fl-builder-content *:after {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.fl-row:before, .fl-row:after, .fl-row-content:before, .fl-row-content:after, .fl-col-group:before, .fl-col-group:after, .fl-col:before, .fl-col:after, .fl-module:before, .fl-module:after, .fl-module-content:before, .fl-module-content:after {display: table;content: " ";}
.fl-row:after, .fl-row-content:after, .fl-col-group:after, .fl-col:after, .fl-module:after, .fl-module-content:after {clear: both;}
.fl-row, .fl-row-content, .fl-col-group, .fl-col, .fl-module, .fl-module-content {zoom: 1;}
.fl-clear {clear: both;}
.fl-clearfix:before, .fl-clearfix:after {display: table;content: " ";}
.fl-clearfix:after {clear: both;}
.fl-clearfix {zoom: 1;}
.fl-visible-medium, .fl-visible-medium-mobile, .fl-visible-mobile, .fl-col-group .fl-visible-medium.fl-col, .fl-col-group .fl-visible-medium-mobile.fl-col, .fl-col-group .fl-visible-mobile.fl-col {display: none;}
.fl-row, .fl-row-content {margin-left: auto;margin-right: auto;}
.fl-row-content-wrap {position: relative;}
.fl-builder-mobile .fl-row-bg-photo .fl-row-content-wrap {background-attachment: scroll;}
.fl-row-bg-video, .fl-row-bg-video .fl-row-content {position: relative;}
.fl-row-bg-video .fl-bg-video {bottom: 0;left: 0;overflow: hidden;position: absolute;right: 0;top: 0;}
.fl-row-bg-video .fl-bg-video video {bottom: 0;left: 0px;max-width: none;position: absolute;right: 0;top: 0px;}
.fl-row-bg-video .fl-bg-video iframe {pointer-events: none;width: 100vw;height: 56.25vw;max-width: none;min-height: 100vh;min-width: 177.77vh;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);-ms-transform: translate(-50%,-50%);-webkit-transform: translate(-50%,-50%);}
.fl-bg-video-fallback {background-position: 50% 50%;background-repeat: no-repeat;background-size: cover;bottom: 0px;left: 0px;position: absolute;right: 0px;top: 0px;}
.fl-row-bg-slideshow, .fl-row-bg-slideshow .fl-row-content {position: relative;}
.fl-row .fl-bg-slideshow {bottom: 0;left: 0;overflow: hidden;position: absolute;right: 0;top: 0;z-index: 0;}
.fl-builder-edit .fl-row .fl-bg-slideshow * {bottom: 0;height: auto !important;left: 0;position: absolute !important;right: 0;top: 0;}
.fl-row-bg-overlay .fl-row-content-wrap:after {border-radius: inherit;content: "";display: block;position: absolute;top: 0;right: 0;bottom: 0;left: 0;z-index: 0;}
.fl-row-bg-overlay .fl-row-content {position: relative;z-index: 1;}
.fl-row-full-height .fl-row-content-wrap, .fl-row-custom-height .fl-row-content-wrap {display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex;min-height: 100vh;}
.fl-row-overlap-top .fl-row-content-wrap {display: -webkit-inline-box;display: -webkit-inline-flex;display: -moz-inline-box;display: -ms-inline-flexbox;display: inline-flex;width: 100%;}
.fl-row-custom-height .fl-row-content-wrap {min-height: 0;}
.fl-builder-edit .fl-row-full-height .fl-row-content-wrap {min-height: calc(100vh - 48px);}
.fl-row-full-height .fl-row-content, .fl-row-custom-height .fl-row-content {-webkit-box-flex: 1 1 auto;-moz-box-flex: 1 1 auto;-webkit-flex: 1 1 auto;-ms-flex: 1 1 auto;flex: 1 1 auto;}
.fl-row-full-height .fl-row-full-width.fl-row-content, .fl-row-custom-height .fl-row-full-width.fl-row-content {max-width: 100%;width: 100%;}
.fl-builder-ie-11 .fl-row.fl-row-full-height:not(.fl-visible-medium):not(.fl-visible-medium-mobile):not(.fl-visible-mobile), .fl-builder-ie-11 .fl-row.fl-row-custom-height:not(.fl-visible-medium):not(.fl-visible-medium-mobile):not(.fl-visible-mobile) {display: flex;flex-direction: column;height: 100%;}
.fl-builder-ie-11 .fl-row-full-height .fl-row-content-wrap, .fl-builder-ie-11 .fl-row-custom-height .fl-row-content-wrap {height: auto;}
.fl-builder-ie-11 .fl-row-full-height .fl-row-content, .fl-builder-ie-11 .fl-row-custom-height .fl-row-content {flex: 0 0 auto;flex-basis: 100%;margin: 0;}
.fl-builder-ie-11 .fl-row-full-height.fl-row-align-top .fl-row-content, .fl-builder-ie-11 .fl-row-full-height.fl-row-align-bottom .fl-row-content, .fl-builder-ie-11 .fl-row-custom-height.fl-row-align-top .fl-row-content, .fl-builder-ie-11 .fl-row-custom-height.fl-row-align-bottom .fl-row-content {margin: 0 auto;}
.fl-builder-ie-11 .fl-row-full-height.fl-row-align-center .fl-col-group:not(.fl-col-group-equal-height), .fl-builder-ie-11 .fl-row-custom-height.fl-row-align-center .fl-col-group:not(.fl-col-group-equal-height) {display: flex;align-items: center;justify-content: center;-webkit-align-items: center;-webkit-box-align: center;-webkit-box-pack: center;-webkit-justify-content: center;-ms-flex-align: center;-ms-flex-pack: center;}
.fl-row-full-height.fl-row-align-center .fl-row-content-wrap, .fl-row-custom-height.fl-row-align-center .fl-row-content-wrap {align-items: center;justify-content: center;-webkit-align-items: center;-webkit-box-align: center;-webkit-box-pack: center;-webkit-justify-content: center;-ms-flex-align: center;-ms-flex-pack: center;}
.fl-row-full-height.fl-row-align-bottom .fl-row-content-wrap, .fl-row-custom-height.fl-row-align-bottom .fl-row-content-wrap {align-items: flex-end;justify-content: flex-end;-webkit-align-items: flex-end;-webkit-justify-content: flex-end;-webkit-box-align: end;-webkit-box-pack: end;-ms-flex-align: end;-ms-flex-pack: end;}
.fl-builder-ie-11 .fl-row-full-height.fl-row-align-bottom .fl-row-content-wrap, .fl-builder-ie-11 .fl-row-custom-height.fl-row-align-bottom .fl-row-content-wrap {justify-content: flex-start;-webkit-justify-content: flex-start;}
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {.fl-row-full-height .fl-row-content-wrap {min-height: 1024px;}}
@media all and (device-width: 1024px) and (device-height: 768px) and (orientation:landscape) {.fl-row-full-height .fl-row-content-wrap {min-height: 768px;}}
@media screen and (device-aspect-ratio: 40/71) {.fl-row-full-height .fl-row-content-wrap {min-height: 500px;}}
.fl-col-group-equal-height, .fl-col-group-equal-height .fl-col, .fl-col-group-equal-height .fl-col-content {display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex;}
.fl-col-group-equal-height {-webkit-flex-wrap: wrap;-ms-flex-wrap: wrap;flex-wrap: wrap;width: 100%;}
.fl-col-group-equal-height.fl-col-group-has-child-loading {-webkit-flex-wrap: nowrap;-ms-flex-wrap: nowrap;flex-wrap: nowrap;}
.fl-col-group-equal-height .fl-col, .fl-col-group-equal-height .fl-col-content {-webkit-box-flex: 1 1 auto;-moz-box-flex: 1 1 auto;-webkit-flex: 1 1 auto;-ms-flex: 1 1 auto;flex: 1 1 auto;}
.fl-col-group-equal-height .fl-col-content {-webkit-box-orient: vertical;-webkit-box-direction: normal;-webkit-flex-direction: column;-ms-flex-direction: column;flex-direction: column;flex-shrink: 1;min-width: 1px;max-width: 100%;width: 100%;}
.fl-col-group-equal-height:before, .fl-col-group-equal-height .fl-col:before, .fl-col-group-equal-height .fl-col-content:before, .fl-col-group-equal-height:after, .fl-col-group-equal-height .fl-col:after, .fl-col-group-equal-height .fl-col-content:after {content: none;}
.fl-col-group-equal-height.fl-col-group-align-center .fl-col-content {align-items: center;justify-content: center;-webkit-align-items: center;-webkit-box-align: center;-webkit-box-pack: center;-webkit-justify-content: center;-ms-flex-align: center;-ms-flex-pack: center;}
.fl-col-group-equal-height.fl-col-group-align-bottom .fl-col-content {justify-content: flex-end;-webkit-justify-content: flex-end;-webkit-box-align: end;-webkit-box-pack: end;-ms-flex-pack: end;}
.fl-col-group-equal-height.fl-col-group-align-center .fl-module, .fl-col-group-equal-height.fl-col-group-align-center .fl-col-group {width: 100%;}
.fl-builder-ie-11 .fl-col-group-equal-height, .fl-builder-ie-11 .fl-col-group-equal-height .fl-col, .fl-builder-ie-11 .fl-col-group-equal-height .fl-col-content, .fl-builder-ie-11 .fl-col-group-equal-height .fl-module, .fl-col-group-equal-height.fl-col-group-align-center .fl-col-group {min-height: 1px;}
.fl-col {float: left;min-height: 1px;}
.fl-col-bg-overlay .fl-col-content {position: relative;}
.fl-col-bg-overlay .fl-col-content:after {border-radius: inherit;content: "";display: block;position: absolute;top: 0;right: 0;bottom: 0;left: 0;z-index: 0;}
.fl-col-bg-overlay .fl-module {position: relative;z-index: 2;}
.fl-module img {max-width: 100%;}
.fl-builder-module-template {margin: 0 auto;max-width: 1100px;padding: 20px;}
.fl-builder-content a.fl-button, .fl-builder-content a.fl-button:visited {border-radius: 4px;-moz-border-radius: 4px;-webkit-border-radius: 4px;display: inline-block;font-size: 16px;font-weight: normal;line-height: 18px;padding: 12px 24px;text-decoration: none;text-shadow: none;}
.fl-builder-content .fl-button:hover {text-decoration: none;}
.fl-builder-content .fl-button:active {position: relative;top: 1px;}
.fl-builder-content .fl-button-width-full .fl-button {display: block;text-align: center;}
.fl-builder-content .fl-button-width-custom .fl-button {display: inline-block;text-align: center;max-width: 100%;}
.fl-builder-content .fl-button-left {text-align: left;}
.fl-builder-content .fl-button-center {text-align: center;}
.fl-builder-content .fl-button-right {text-align: right;}
.fl-builder-content .fl-button i {font-size: 1.3em;height: auto;margin-right: 8px;vertical-align: middle;width: auto;}
.fl-builder-content .fl-button i.fl-button-icon-after {margin-left: 8px;margin-right: 0;}
.fl-builder-content .fl-button-has-icon .fl-button-text {vertical-align: middle;}
.fl-icon-wrap {display: inline-block;}
.fl-icon {display: table-cell;vertical-align: middle;}
.fl-icon a {text-decoration: none;}
.fl-icon i {float: left;height: auto;width: auto;}
.fl-icon i:before {border: none !important;height: auto;width: auto;}
.fl-icon-text {display: table-cell;text-align: left;padding-left: 15px;vertical-align: middle;}
.fl-icon-text-empty {display: none;}
.fl-icon-text *:last-child {margin: 0 !important;padding: 0 !important;}
.fl-icon-text a {text-decoration: none;}
.fl-icon-text span {display: block;}
.fl-icon-text span.mce-edit-focus {min-width: 1px;}
.fl-photo {line-height: 0;position: relative;}
.fl-photo-align-left {text-align: left;}
.fl-photo-align-center {text-align: center;}
.fl-photo-align-right {text-align: right;}
.fl-photo-content {display: inline-block;line-height: 0;position: relative;max-width: 100%;}
.fl-photo-img-svg {width: 100%;}
.fl-photo-content img {display: inline;height: auto;max-width: 100%;}
.fl-photo-crop-circle img {-webkit-border-radius: 100%;-moz-border-radius: 100%;border-radius: 100%;}
.fl-photo-caption {font-size: 13px;line-height: 18px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.fl-photo-caption-below {padding-bottom: 20px;padding-top: 10px;}
.fl-photo-caption-hover {background: rgba(0,0,0,.7);bottom: 0;color: #fff;left: 0;opacity: 0;filter: alpha(opacity=0);padding: 10px 15px;position: absolute;right: 0;-webkit-transition: opacity .3s ease-in;-moz-transition: opacity .3s ease-in;transition: opacity .3s ease-in;}
.fl-photo-content:hover .fl-photo-caption-hover {opacity: 100;filter: alpha(opacity=100);}
.fl-builder-pagination, .fl-builder-pagination-load-more {padding: 40px 0;}
.fl-builder-pagination ul.page-numbers {list-style: none;margin: 0;padding: 0;text-align: center;}
.fl-builder-pagination li {display: inline-block;list-style: none;margin: 0;padding: 0;}
.fl-builder-pagination li a.page-numbers, .fl-builder-pagination li span.page-numbers {border: 1px solid #e6e6e6;display: inline-block;padding: 5px 10px;margin: 0 0 5px;}
.fl-builder-pagination li a.page-numbers:hover, .fl-builder-pagination li span.current {background: #f5f5f5;text-decoration: none;}
.fl-slideshow, .fl-slideshow * {-webkit-box-sizing: content-box;-moz-box-sizing: content-box;box-sizing: content-box;}
.fl-slideshow .fl-slideshow-image img {max-width: none !important;}
.fl-slideshow-social {line-height: 0 !important;}
.fl-slideshow-social * {margin: 0 !important;}
.fl-builder-content .bx-wrapper .bx-viewport {background: transparent;border: none;box-shadow: none;-moz-box-shadow: none;-webkit-box-shadow: none;left: 0;}
.mfp-wrap button.mfp-arrow, .mfp-wrap button.mfp-arrow:active, .mfp-wrap button.mfp-arrow:hover, .mfp-wrap button.mfp-arrow:focus {background: transparent !important;border: none !important;outline: none;position: absolute;top: 50%;box-shadow: none !important;-moz-box-shadow: none !important;-webkit-box-shadow: none !important;}
.mfp-wrap .mfp-close, .mfp-wrap .mfp-close:active, .mfp-wrap .mfp-close:hover, .mfp-wrap .mfp-close:focus {background: transparent !important;border: none !important;outline: none;position: absolute;top: 0;box-shadow: none !important;-moz-box-shadow: none !important;-webkit-box-shadow: none !important;}
.admin-bar .mfp-wrap .mfp-close, .admin-bar .mfp-wrap .mfp-close:active, .admin-bar .mfp-wrap .mfp-close:hover, .admin-bar .mfp-wrap .mfp-close:focus {top: 32px !important;}
img.mfp-img {padding: 0;}
.mfp-counter {display: none;}
.mfp-wrap .mfp-preloader.fa {font-size: 30px;}
.fl-form-field {margin-bottom: 15px;}
.fl-form-field input.fl-form-error {border-color: #dd6420;}
.fl-form-error-message {clear: both;color: #dd6420;display: none;padding-top: 8px;font-size: 12px;font-weight: lighter;}
.fl-form-button-disabled {opacity: .5;}
.fl-animation {opacity: 0;}
.fl-builder-preview .fl-animation, .fl-builder-edit .fl-animation, .fl-animated {opacity: 1;}
.fl-animated {animation-fill-mode: both;-webkit-animation-fill-mode: both;}
.fl-button.fl-button-icon-animation i {width: 0 !important;opacity: 0;-ms-filter: "alpha(opacity=0)";transition: all .2s ease-out;-webkit-transition: all .2s ease-out;}
.fl-button.fl-button-icon-animation:hover i {opacity: 1 !important;-ms-filter: "alpha(opacity=100)";}
.fl-button.fl-button-icon-animation i.fl-button-icon-after {margin-left: 0px !important;}
.fl-button.fl-button-icon-animation:hover i.fl-button-icon-after {margin-left: 10px !important;}
.fl-button.fl-button-icon-animation i.fl-button-icon-before {margin-right: 0 !important;}
.fl-button.fl-button-icon-animation:hover i.fl-button-icon-before {margin-right: 20px !important;margin-left: -10px;}
.single:not(.woocommerce).single-fl-builder-template .fl-content {width: 100%;}
.fl-builder-layer {position: absolute;top: 0;left: 0;right: 0;bottom: 0;z-index: 0;pointer-events: none;overflow: hidden;}
.fl-builder-shape-layer {z-index: 0;}
.fl-builder-shape-layer.fl-builder-bottom-edge-layer {z-index: 1;}
.fl-row-bg-overlay .fl-builder-shape-layer {z-index: 1;}
.fl-row-bg-overlay .fl-builder-shape-layer.fl-builder-bottom-edge-layer {z-index: 2;}
.fl-row-has-layers .fl-row-content {z-index: 1;}
.fl-row-bg-overlay .fl-row-content {z-index: 2;}
.fl-builder-layer > * {display: block;position: absolute;top: 0;left: 0;width: 100%;}
.fl-builder-layer + .fl-row-content {position: relative;}
.fl-builder-layer .fl-shape {fill: #aaa;stroke: none;stroke-width: 0;width: 100%;}
.fl-row-content-wrap {margin: 0px;}
.fl-row-content-wrap {padding: 20px;}
.fl-row-fixed-width {max-width: 1100px;}
.fl-module-content {margin: 20px;}
@media (max-width: 992px) {.fl-visible-desktop, .fl-visible-mobile, .fl-col-group .fl-visible-desktop.fl-col, .fl-col-group .fl-visible-mobile.fl-col {display: none;}
	.fl-visible-desktop-medium, .fl-visible-medium, .fl-visible-medium-mobile, .fl-col-group .fl-visible-desktop-medium.fl-col, .fl-col-group .fl-visible-medium.fl-col, .fl-col-group .fl-visible-medium-mobile.fl-col {display: block;}
	.fl-col-group-equal-height .fl-visible-desktop-medium.fl-col, .fl-col-group-equal-height .fl-visible-medium.fl-col, .fl-col-group-equal-height .fl-visible-medium-mobile.fl-col {display: flex;}}
@media (max-width: 768px) {.fl-visible-desktop, .fl-visible-desktop-medium, .fl-visible-medium, .fl-col-group .fl-visible-desktop.fl-col, .fl-col-group .fl-visible-desktop-medium.fl-col, .fl-col-group .fl-visible-medium.fl-col, .fl-col-group-equal-height .fl-visible-desktop-medium.fl-col, .fl-col-group-equal-height .fl-visible-medium.fl-col {display: none;}
	.fl-visible-medium-mobile, .fl-visible-mobile, .fl-col-group .fl-visible-medium-mobile.fl-col, .fl-col-group .fl-visible-mobile.fl-col {display: block;}
	.fl-row-content-wrap {background-attachment: scroll !important;}
	.fl-row-bg-parallax .fl-row-content-wrap {background-attachment: scroll !important;background-position: center center !important;}
	.fl-col-group.fl-col-group-equal-height {display: block;}
	.fl-col-group.fl-col-group-equal-height.fl-col-group-custom-width {display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex;}
	.fl-col-group.fl-col-group-responsive-reversed {display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -moz-flex;display: -webkit-flex;display: flex;flex-flow: row wrap;-ms-box-orient: horizontal;-webkit-flex-flow: row wrap;}
	.fl-col-group.fl-col-group-responsive-reversed .fl-col {-webkit-box-flex: 0 0 100%;-moz-box-flex: 0 0 100%;-webkit-flex: 0 0 100%;-ms-flex: 0 0 100%;flex: 0 0 100%;max-width: 100%;}
	.fl-col-group-responsive-reversed .fl-col:nth-of-type(1) {-webkit-box-ordinal-group: 12;-moz-box-ordinal-group: 12;-ms-flex-order: 12;-webkit-order: 12;order: 12;}
	.fl-col-group-responsive-reversed .fl-col:nth-of-type(2) {-webkit-box-ordinal-group: 11;-moz-box-ordinal-group: 11;-ms-flex-order: 11;-webkit-order: 11;order: 11;}
	.fl-col-group-responsive-reversed .fl-col:nth-of-type(3) {-webkit-box-ordinal-group: 10;-moz-box-ordinal-group: 10;-ms-flex-order: 10;-webkit-order: 10;order: 10;}
	.fl-col-group-responsive-reversed .fl-col:nth-of-type(4) {-webkit-box-ordinal-group: 9;-moz-box-ordinal-group: 9;-ms-flex-order: 9;-webkit-order: 9;order: 9;}
	.fl-col-group-responsive-reversed .fl-col:nth-of-type(5) {-webkit-box-ordinal-group: 8;-moz-box-ordinal-group: 8;-ms-flex-order: 8;-webkit-order: 8;order: 8;}
	.fl-col-group-responsive-reversed .fl-col:nth-of-type(6) {-webkit-box-ordinal-group: 7;-moz-box-ordinal-group: 7;-ms-flex-order: 7;-webkit-order: 7;order: 7;}
	.fl-col-group-responsive-reversed .fl-col:nth-of-type(7) {-webkit-box-ordinal-group: 6;-moz-box-ordinal-group: 6;-ms-flex-order: 6;-webkit-order: 6;order: 6;}
	.fl-col-group-responsive-reversed .fl-col:nth-of-type(8) {-webkit-box-ordinal-group: 5;-moz-box-ordinal-group: 5;-ms-flex-order: 5;-webkit-order: 5;order: 5;}
	.fl-col-group-responsive-reversed .fl-col:nth-of-type(9) {-webkit-box-ordinal-group: 4;-moz-box-ordinal-group: 4;-ms-flex-order: 4;-webkit-order: 4;order: 4;}
	.fl-col-group-responsive-reversed .fl-col:nth-of-type(10) {-webkit-box-ordinal-group: 3;-moz-box-ordinal-group: 3;-ms-flex-order: 3;-webkit-order: 3;order: 3;}
	.fl-col-group-responsive-reversed .fl-col:nth-of-type(11) {-webkit-box-ordinal-group: 2;-moz-box-ordinal-group: 2;-ms-flex-order: 2;-webkit-order: 2;order: 2;}
	.fl-col-group-responsive-reversed .fl-col:nth-of-type(12) {-webkit-box-ordinal-group: 1;-moz-box-ordinal-group: 1;-ms-flex-order: 1;-webkit-order: 1;order: 1;}
	.fl-col {clear: both;float: none;margin-left: auto;margin-right: auto;width: auto !important;}
	.fl-col-small:not(.fl-col-small-full-width) {max-width: 400px;}
	.fl-block-col-resize {display: none;}
	.fl-row[data-node] .fl-row-content-wrap {margin: 0;padding-left: 0;padding-right: 0;}
	.fl-row[data-node] .fl-bg-video, .fl-row[data-node] .fl-bg-slideshow {left: 0;right: 0;}
	.fl-col[data-node] .fl-col-content {margin: 0;padding-left: 0;padding-right: 0;}}
.page .fl-post-header, .single-fl-builder-template .fl-post-header {display: none;}
.fl-node-5d94e91079fd7 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5d94e91079fd7 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5d94e91079fd7 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
.fl-node-5d94e91079fd7 > .fl-row-content-wrap {background-color: #006566;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5d94e91079fd7 > .fl-row-content-wrap {padding-top: 0px;padding-right: 300px;padding-bottom: 0px;padding-left: 300px;}
.fl-node-5ea2e219bb421 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5ea2e219bb421 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5ea2e219bb421 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
.fl-node-5ea2e219bb421 > .fl-row-content-wrap {background-color: #ededed;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5ea2e219bb421 > .fl-row-content-wrap {padding-top: 5px;padding-bottom: 5px;}
.fl-node-5d94e91079f85 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5d94e91079f85 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5d94e91079f85 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5d94e91079f85 > .fl-row-content-wrap {margin-top: 0px;}
.fl-node-5d94e91079f85 > .fl-row-content-wrap {padding-top: 0px;padding-bottom: 0px;padding-left: 0px;}
.fl-node-5d94e91079f8f .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5d94e91079f8f .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5d94e91079f8f .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
.fl-node-5d94e91079f8f > .fl-row-content-wrap {background-color: #f2f2f2;}
.fl-node-5d94e91079f8f .fl-row-content {max-width: 914px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5d94e91079f8f > .fl-row-content-wrap {margin-top: 0px;}
.fl-node-5d94e91079f8f > .fl-row-content-wrap {padding-top: 20px;}
.fl-node-5d94e91079fad .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5d94e91079fad .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5d94e91079fad .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5d94e91079fad > .fl-row-content-wrap {padding-left: 0px;}
.fl-node-5d94f91285e12 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5d94f91285e12 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5d94f91285e12 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
.fl-node-5d94f91285e12.fl-row-fixed-width, .fl-node-5d94f91285e12 .fl-row-fixed-width {max-width: 606px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5d94f91285e12 > .fl-row-content-wrap {padding-top: 0px;}
.fl-node-5d94e91079f9c .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5d94e91079f9c .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5d94e91079f9c .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5d94e91079f9c > .fl-row-content-wrap {padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 40px;}
.fl-node-5d94e91079fb4 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5d94e91079fb4 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5d94e91079fb4 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
.fl-node-5d94e91079fb4.fl-row-fixed-width, .fl-node-5d94e91079fb4 .fl-row-fixed-width {max-width: 718px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5d94e91079fc1 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5d94e91079fc1 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5d94e91079fc1 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
.fl-node-5d94e91079fc1.fl-row-fixed-width, .fl-node-5d94e91079fc1 .fl-row-fixed-width {max-width: 996px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5d94fc65e5ed4 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5d94fc65e5ed4 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5d94fc65e5ed4 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
.fl-node-5d94fc65e5ed4 > .fl-row-content-wrap {background-color: #fb1c1c;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5ea2e219d279c {width: 32.55%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5ea2e219d27a0 {width: 32.9%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5ea2e219d27a1 {width: 15.28%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5ea2e219d27a3 {width: 19.27%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5d94e91079f87 {width: 54.73%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {.fl-builder-content .fl-node-5d94e91079f87 {width: 100% !important;max-width: none;clear: none;float: left;}}
.fl-node-5d94e91079f87 > .fl-col-content {margin-top: 0px;}
.fl-node-5d94e91079f87 > .fl-col-content {padding-top: 0px;}
.fl-node-5d94e91079f88 {width: 45.27%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {.fl-builder-content .fl-node-5d94e91079f88 {width: 100% !important;max-width: none;clear: none;float: left;}}
@media ( max-width: 768px ) {.fl-node-5d94e91079f88.fl-col > .fl-col-content {margin-top: 30px;}}
.fl-node-5d94f5745ef2f {width: 100%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5d94e91079f91 {width: 10.58%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5d94f4fad06ec {width: 39.42%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5d94f650723f0 {width: 10.38%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5d94f650723f6 {width: 39.62%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5d94f6a4bd72f {width: 10.41%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5d94f6a4bd734 {width: 39.59%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5d94f6a4bd737 {width: 10.41%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5d94f6a4bd739 {width: 39.59%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5d94e91079faf {width: 49.57%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5d94e91079fb1 {width: 50.43%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5d94f912c58ea {width: 100%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5d94e91079fa0 {width: 48.06%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5d94e91079fa1 {width: 51.94%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5d94e91079fb6 {width: 45.78%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5d94e91079fb7 {width: 54.22%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5d94e91079fc6 {width: 100%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5d94e91079fc3 {width: 50.21%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5d94e91079fc4 {width: 49.79%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5d94fc661fe76 {width: 100%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.pp-photo-container .pp-photo-align-left {text-align: left;}
.pp-photo-container .pp-photo-align-center {text-align: center;}
.pp-photo-container .pp-photo-align-right {text-align: right;}
.pp-photo {line-height: 0;position: relative;}
.pp-photo-align-left {text-align: left;}
.pp-photo-align-center {text-align: center;}
.pp-photo-align-right {text-align: right;}
.pp-photo-content {display: inline-block;line-height: 0;position: relative;max-width: 100%;}
.pp-photo-content img {display: inline;max-width: 100%;}
.pp-photo-crop-circle img {-webkit-border-radius: 100% !important;-moz-border-radius: 100% !important;border-radius: 100% !important;}
.pp-photo-caption {font-size: 13px;line-height: 18px;overflow: hidden;text-overflow: ellipsis;white-space: normal;width: 100%;}
.pp-photo-caption-below {padding-bottom: 20px;padding-top: 10px;}
.pp-photo-caption-overlay {bottom: 0;color: #fff;left: 0;padding: 10px 15px;position: absolute;right: 0;-webkit-transition: opacity .3s ease-in;-moz-transition: opacity .3s ease-in;transition: opacity .3s ease-in;}
.pp-overlay-wrap .pp-overlay-bg {bottom: 0;content: "";left: 0;opacity: 0;position: absolute;right: 0;top: 0;-webkit-transition: opacity .3s linear;-moz-transition: opacity .3s linear;-o-transition: opacity .3s linear;-ms-transition: opacity .3s linear;transition: opacity .3s linear;}
.pp-photo-caption-hover {left: 50%;opacity: 0;position: absolute;top: 50%;-webkit-transform: translate(-50%,-50%);-moz-transform: translate(-50%,-50%);-o-transform: translate(-50%,-50%);-ms-transform: translate(-50%,-50%);transform: translate(-50%,-50%);-webkit-transition: opacity .3s linear;-moz-transition: opacity .3s linear;-o-transition: opacity .3s linear;-ms-transition: opacity .3s linear;transition: opacity .3s linear;}
.pp-photo-container .pp-photo-content:hover .pp-overlay-bg, .pp-photo-container .pp-photo-content:hover .pp-photo-caption-hover {opacity: 1;-webkit-transition: opacity .3s linear;-moz-transition: opacity .3s linear;-o-transition: opacity .3s linear;-ms-transition: opacity .3s linear;transition: opacity .3s linear;}
.pp-photo-container a:focus {outline: none;}
.pp-photo-container .pp-photo-content .pp-photo-content-inner {overflow: hidden;position: relative;}
.pp-photo-content-inner img {-webkit-transition-duration: .3s;-moz-transition-duration: .3s;-ms-transition-duration: .3s;-o-transition-duration: .3s;transition-duration: .3s;}
.fl-node-5e7e4af0a2158 .pp-photo-container .pp-photo-content {}
.fl-node-5e7e4af0a2158 .pp-photo-container .pp-photo-content .pp-photo-content-inner {background-clip: border-box;border-top-left-radius: px;border-top-right-radius: px;border-bottom-left-radius: px;border-bottom-right-radius: px;transition: all .3s ease-in-out;}
.fl-node-5e7e4af0a2158 .pp-photo-container .pp-photo-content:hover .pp-photo-content-inner {}
.fl-node-5e7e4af0a2158 .pp-photo-container .pp-photo-content .pp-photo-content-inner a {display: block;text-decoration: none !important;}
.fl-node-5e7e4af0a2158 .pp-photo-container .pp-photo-content .pp-photo-content-inner img {border-color: #000;border-style: none;border-width: 1px;border-top-left-radius: px;border-top-right-radius: px;border-bottom-left-radius: px;border-bottom-right-radius: px;}
.fl-node-5e7e4af0a2158 .pp-photo-caption {background-color: #ddd;color: #000;}
.fl-node-5e7e4af0a2158 .pp-overlay-wrap .pp-overlay-bg {background-color: #ddd;border-top-left-radius: px;border-top-right-radius: px;border-bottom-left-radius: px;border-bottom-right-radius: px;}
@media only screen and (max-width: 768px) {.pp-photo-container .pp-photo-align-responsive-left {text-align: left !important;}
	.pp-photo-container .pp-photo-align-responsive-center {text-align: center !important;}
	.pp-photo-container .pp-photo-align-responsive-right {text-align: right !important;}}
.fl-node-5e7e4af0a2158 .pp-photo-container .pp-photo-content .pp-photo-content-inner {padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;}
.fl-node-5e7e4af0a2158 .pp-photo-container .pp-photo-content .pp-photo-content-inner img {width: 130px;}
.fl-node-5e7e4af0a2158 .pp-photo-caption {padding-top: 10px;padding-right: 10px;padding-bottom: 10px;padding-left: 10px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5e7e4af0a2158 > .fl-module-content {margin-top: 5px;margin-bottom: 5px;}
a.pp-button, a.pp-button:visited {display: inline-block;overflow: hidden;position: relative;text-decoration: none;text-shadow: none;-webkit-transform: translateZ(0);-moz-transform: translateZ(0);-o-transform: translateZ(0);-ms-transform: translateZ(0);transform: translateZ(0);-webkit-transition: all .3s linear;-moz-transition: all .3s linear;-o-transition: all .3s linear;-ms-transition: all .3s linear;transition: all .3s linear;}
.pp-button:hover {text-decoration: none;}
.pp-button:active {position: relative;top: 1px;}
.pp-button-width-full .pp-button {display: block;text-align: center;}
.pp-button-width-custom .pp-button {display: inline-block;text-align: center;max-width: 100%;}
.pp-button-left {text-align: left;}
.pp-button-center {text-align: center;}
.pp-button-right {text-align: right;}
.pp-button i {font-size: 1.3em;height: auto;margin-right: 8px;vertical-align: middle;width: auto;}
.pp-button i.pp-button-icon-after {margin-left: 8px;margin-right: 0;}
.pp-button-has-icon .pp-button-text {vertical-align: middle;}
.pp-button-wrap a.pp-button:before {position: absolute;z-index: -1;top: 0;left: 0;right: 0;bottom: 0;-webkit-transition-property: transform;-moz-transition-property: transform;-o-transition-property: transform;-ms-transition-property: transform;transition-property: transform;-webkit-transition-timing-function: ease-out;-moz-transition-timing-function: ease-out;-o-transition-timing-function: ease-out;-ms-transition-timing-function: ease-out;transition-timing-function: ease-out;}
.pp-button .dashicons, .pp-button .dashicons-before:before {font-size: inherit;height: auto;width: auto;}
@media (max-width: 768px) {.fl-module-button .pp-button-left, .fl-module-button .pp-button-right {text-align: center;}}
.fl-node-5e7e4af0a215a .pp-button-wrap a.pp-button, .fl-node-5e7e4af0a215a .pp-button-wrap a.pp-button:visited {text-decoration: none;background: #fff;background-clip: border-box;}
.fl-node-5e7e4af0a215a .pp-button-wrap a.pp-button:hover, .fl-node-5e7e4af0a215a .pp-button-wrap a.pp-button:focus {text-decoration: none;background: #fff;}
.fl-node-5e7e4af0a215a .pp-button .pp-button-icon {font-size: 16px;}
.fl-node-5e7e4af0a215a a.pp-button {-webkit-transition: all .3s ease 0s;-moz-transition: all .3s ease 0s;-o-transition: all .3s ease 0s;-ms-transition: all .3s ease 0s;transition: all .3s ease 0s;}
.fl-node-5e7e4af0a215a a.pp-button, .fl-node-5e7e4af0a215a a.pp-button * {color: #07356b;}
.fl-node-5e7e4af0a215a a.pp-button:hover, .fl-node-5e7e4af0a215a a.pp-button:focus, .fl-node-5e7e4af0a215a a.pp-button:hover *, .fl-node-5e7e4af0a215a a.pp-button:focus * {color: #07356b;}
.fl-node-5e7e4af0a215a .pp-button-wrap a.pp-button, .fl-node-5e7e4af0a215a .pp-button-wrap a.pp-button:visited {transition-duration: 500ms;}
@media only screen and (max-width: 992px) {.fl-node-5e7e4af0a215a .pp-button-wrap {text-align: ;}
	.fl-node-5e7e4af0a215a .pp-button-wrap a.pp-button, .fl-node-5e7e4af0a215a .pp-button-wrap a.pp-button:visited {}}
@media only screen and (max-width: 768px) {.fl-node-5e7e4af0a215a .pp-button-wrap {text-align: ;}
	.fl-node-5e7e4af0a215a .pp-button-wrap a.pp-button, .fl-node-5e7e4af0a215a .pp-button-wrap a.pp-button:visited {}}
.fl-node-5e7e4af0a215a .pp-button-wrap {text-align: right;}
.fl-node-5e7e4af0a215a a.pp-button {padding-top: 5px;padding-right: 15px;padding-bottom: 5px;padding-left: 15px;}
.fl-node-5e7e4af0a215a .pp-button-wrap a.pp-button, .fl-node-5e7e4af0a215a .pp-button-wrap a.pp-button:visited {border-top-left-radius: 15px;border-top-right-radius: 15px;border-bottom-left-radius: 15px;border-bottom-right-radius: 15px;}
.fl-node-5e7e4af0a215a .pp-button-wrap a.pp-button:hover, .fl-node-5e7e4af0a215a .pp-button-wrap a.pp-button:focus {border-top-left-radius: 15px;border-top-right-radius: 15px;border-bottom-left-radius: 15px;border-bottom-right-radius: 15px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5e7e4af0a215a > .fl-module-content {margin-top: 0px;margin-bottom: 0px;}
@media (max-width: 768px) {.fl-module-icon {text-align: center;}}
.fl-node-5e7e4af0a215c .fl-module-content .fl-icon i, .fl-node-5e7e4af0a215c .fl-module-content .fl-icon i:before {color: #07356b;}
.fl-node-5e7e4af0a215c .fl-module-content .fl-icon i, .fl-node-5e7e4af0a215c .fl-module-content .fl-icon i:before {font-size: 20px;}
.fl-node-5e7e4af0a215c .fl-module-content .fl-icon-text {height: 35px;}
.fl-node-5e7e4af0a215c.fl-module-icon {text-align: center;}
.fl-node-5e7e4af0a215c .fl-icon-text, .fl-node-5e7e4af0a215c .fl-icon-text-link {color: #07356b;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5e7e4af0a215c > .fl-module-content {margin-top: 0px;margin-bottom: 0px;}
.fl-node-5d94e91079f89 .pp-photo-container .pp-photo-content {}
.fl-node-5d94e91079f89 .pp-photo-container .pp-photo-content .pp-photo-content-inner {background-clip: border-box;border-top-left-radius: px;border-top-right-radius: px;border-bottom-left-radius: px;border-bottom-right-radius: px;transition: all .3s ease-in-out;}
.fl-node-5d94e91079f89 .pp-photo-container .pp-photo-content:hover .pp-photo-content-inner {}
.fl-node-5d94e91079f89 .pp-photo-container .pp-photo-content .pp-photo-content-inner a {display: block;text-decoration: none !important;}
.fl-node-5d94e91079f89 .pp-photo-container .pp-photo-content .pp-photo-content-inner img {border-color: #000;border-style: none;border-width: 1px;border-top-left-radius: px;border-top-right-radius: px;border-bottom-left-radius: px;border-bottom-right-radius: px;}
.fl-node-5d94e91079f89 .pp-photo-caption {background-color: #ddd;color: #000;}
.fl-node-5d94e91079f89 .pp-overlay-wrap .pp-overlay-bg {background-color: #ddd;border-top-left-radius: px;border-top-right-radius: px;border-bottom-left-radius: px;border-bottom-right-radius: px;}
@media only screen and (max-width: 768px) {.pp-photo-container .pp-photo-align-responsive-left {text-align: left !important;}
	.pp-photo-container .pp-photo-align-responsive-center {text-align: center !important;}
	.pp-photo-container .pp-photo-align-responsive-right {text-align: right !important;}}
.fl-node-5d94e91079f89 .pp-photo-container .pp-photo-content .pp-photo-content-inner {padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;}
.fl-node-5d94e91079f89 .pp-photo-caption {padding-top: 10px;padding-right: 10px;padding-bottom: 10px;padding-left: 10px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5d94e91079f89 > .fl-module-content {margin-top: 0px;margin-bottom: 0px;margin-left: 0px;}
@media ( max-width: 768px ) {.fl-node-5d94e91079f89.fl-module > .fl-module-content {margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;}}
img.mfp-img {padding-bottom: 40px !important;}
@media (max-width: 768px) {.fl-photo-content {width: 100%;}}
.fl-node-5e7e46b7795f9 .fl-photo {text-align: center;}
.fl-node-5e7e46b7795f9 .fl-photo-img, .fl-node-5e7e46b7795f9 .fl-photo-content {width: 320px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5e7e46b7795f9 > .fl-module-content {margin-top: 30px;margin-bottom: 30px;}
@media (max-width: 768px) {.fl-node-5e7e46b7795f9 > .fl-module-content {margin-top: 20px;margin-bottom: 20px;}}
.fl-node-5d94e91079fb3 .fl-rich-text, .fl-node-5d94e91079fb3 .fl-rich-text * {color: #808080;font-size: 16px;text-align: center;}
.fl-node-5d94e91079fb3 .fl-rich-text strong {font-weight: bold;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5d94e91079fb3 > .fl-module-content {margin-top: 0px;margin-right: 50px;margin-bottom: 0px;margin-left: 50px;}
@media (max-width: 768px) {.fl-node-5d94e91079fb3 > .fl-module-content {margin-left: 20px;margin-right: 20px;}}
.fl-node-5d94f56fde084 .fl-rich-text, .fl-node-5d94f56fde084 .fl-rich-text * {color: #ff1b3b;font-weight: 900;font-size: 23px;line-height: 1.2;text-align: left;}
.fl-node-5d94f56fde084 .fl-rich-text strong {font-weight: bold;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5d94f56fde084 > .fl-module-content {margin-top: 40px;}
@media (max-width: 768px) {.fl-node-5d94f56fde084 > .fl-module-content {margin-top: 20px;}}
.fl-node-5d94f6c194af2 .pp-photo-container .pp-photo-content {}
.fl-node-5d94f6c194af2 .pp-photo-container .pp-photo-content .pp-photo-content-inner {background-clip: border-box;border-top-left-radius: px;border-top-right-radius: px;border-bottom-left-radius: px;border-bottom-right-radius: px;transition: all .3s ease-in-out;}
.fl-node-5d94f6c194af2 .pp-photo-container .pp-photo-content:hover .pp-photo-content-inner {}
.fl-node-5d94f6c194af2 .pp-photo-container .pp-photo-content .pp-photo-content-inner a {display: block;text-decoration: none !important;}
.fl-node-5d94f6c194af2 .pp-photo-container .pp-photo-content .pp-photo-content-inner img {border-color: #000;border-style: none;border-width: 1px;border-top-left-radius: px;border-top-right-radius: px;border-bottom-left-radius: px;border-bottom-right-radius: px;}
.fl-node-5d94f6c194af2 .pp-photo-caption {background-color: #ddd;color: #000;}
.fl-node-5d94f6c194af2 .pp-overlay-wrap .pp-overlay-bg {background-color: #ddd;border-top-left-radius: px;border-top-right-radius: px;border-bottom-left-radius: px;border-bottom-right-radius: px;}
@media only screen and (max-width: 768px) {.pp-photo-container .pp-photo-align-responsive-left {text-align: left !important;}
	.pp-photo-container .pp-photo-align-responsive-center {text-align: center !important;}
	.pp-photo-container .pp-photo-align-responsive-right {text-align: right !important;}}
.fl-node-5d94f6c194af2 .pp-photo-container .pp-photo-content .pp-photo-content-inner {padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;}
.fl-node-5d94f6c194af2 .pp-photo-container .pp-photo-content .pp-photo-content-inner img {width: 60px;}
.fl-node-5d94f6c194af2 .pp-photo-caption {padding-top: 10px;padding-right: 10px;padding-bottom: 10px;padding-left: 10px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {.fl-node-5d94f6c194af2 .pp-photo-container .pp-photo-content .pp-photo-content-inner img {width: 90px;}}
.fl-node-5d94f6ced46af .fl-rich-text, .fl-node-5d94f6ced46af .fl-rich-text * {color: #07356b;font-weight: 500;font-size: 20px;line-height: 1.2;text-align: left;}
.fl-node-5d94f6ced46af .fl-rich-text strong {font-weight: bold;}
@media (max-width: 992px) {}
@media (max-width: 768px) {.fl-node-5d94f6ced46af .fl-rich-text, .fl-node-5d94f6ced46af .fl-rich-text * {text-align: center;}}
.fl-node-5d94f6ced46af > .fl-module-content {margin-top: 10px;margin-bottom: 0px;}
.fl-node-5d94f6894e09a .fl-rich-text, .fl-node-5d94f6894e09a .fl-rich-text * {color: #999;font-weight: 300;font-size: 16px;line-height: 1.2;text-align: left;font-style: normal;}
.fl-node-5d94f6894e09a .fl-rich-text strong {font-weight: bold;}
@media (max-width: 992px) {}
@media (max-width: 768px) {.fl-node-5d94f6894e09a .fl-rich-text, .fl-node-5d94f6894e09a .fl-rich-text * {text-align: center;}}
.fl-node-5d94f6894e09a > .fl-module-content {margin-top: 0px;}
.fl-node-5d94e91079f95 .pp-photo-container .pp-photo-content {}
.fl-node-5d94e91079f95 .pp-photo-container .pp-photo-content .pp-photo-content-inner {background-clip: border-box;border-top-left-radius: px;border-top-right-radius: px;border-bottom-left-radius: px;border-bottom-right-radius: px;transition: all .3s ease-in-out;}
.fl-node-5d94e91079f95 .pp-photo-container .pp-photo-content:hover .pp-photo-content-inner {}
.fl-node-5d94e91079f95 .pp-photo-container .pp-photo-content .pp-photo-content-inner a {display: block;text-decoration: none !important;}
.fl-node-5d94e91079f95 .pp-photo-container .pp-photo-content .pp-photo-content-inner img {border-color: #000;border-style: none;border-width: 1px;border-top-left-radius: px;border-top-right-radius: px;border-bottom-left-radius: px;border-bottom-right-radius: px;}
.fl-node-5d94e91079f95 .pp-photo-caption {background-color: #ddd;color: #000;}
.fl-node-5d94e91079f95 .pp-overlay-wrap .pp-overlay-bg {background-color: #ddd;border-top-left-radius: px;border-top-right-radius: px;border-bottom-left-radius: px;border-bottom-right-radius: px;}
@media only screen and (max-width: 768px) {.pp-photo-container .pp-photo-align-responsive-left {text-align: left !important;}
	.pp-photo-container .pp-photo-align-responsive-center {text-align: center !important;}
	.pp-photo-container .pp-photo-align-responsive-right {text-align: right !important;}}
.fl-node-5d94e91079f95 .pp-photo-container .pp-photo-content .pp-photo-content-inner {padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;}
.fl-node-5d94e91079f95 .pp-photo-container .pp-photo-content .pp-photo-content-inner img {width: 60px;}
.fl-node-5d94e91079f95 .pp-photo-caption {padding-top: 10px;padding-right: 10px;padding-bottom: 10px;padding-left: 10px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {.fl-node-5d94e91079f95 .pp-photo-container .pp-photo-content .pp-photo-content-inner img {width: 90px;}}
.fl-node-5d94e91079f9a .fl-rich-text, .fl-node-5d94e91079f9a .fl-rich-text * {color: #07356b;font-weight: 500;font-size: 20px;line-height: 1.2;text-align: left;}
.fl-node-5d94e91079f9a .fl-rich-text strong {font-weight: bold;}
@media (max-width: 992px) {}
@media (max-width: 768px) {.fl-node-5d94e91079f9a .fl-rich-text, .fl-node-5d94e91079f9a .fl-rich-text * {text-align: center;}}
.fl-node-5d94e91079f9a > .fl-module-content {margin-top: 10px;margin-bottom: 0px;}
.fl-node-5d94e91079f9b .fl-rich-text, .fl-node-5d94e91079f9b .fl-rich-text * {color: #999;font-weight: 300;font-size: 16px;line-height: 1.2;text-align: left;font-style: normal;}
.fl-node-5d94e91079f9b .fl-rich-text strong {font-weight: bold;}
@media (max-width: 992px) {}
@media (max-width: 768px) {.fl-node-5d94e91079f9b .fl-rich-text, .fl-node-5d94e91079f9b .fl-rich-text * {text-align: center;}}
.fl-node-5d94e91079f9b > .fl-module-content {margin-top: 0px;}
.fl-node-5d94f6e19b1d4 .pp-photo-container .pp-photo-content {}
.fl-node-5d94f6e19b1d4 .pp-photo-container .pp-photo-content .pp-photo-content-inner {background-clip: border-box;border-top-left-radius: px;border-top-right-radius: px;border-bottom-left-radius: px;border-bottom-right-radius: px;transition: all .3s ease-in-out;}
.fl-node-5d94f6e19b1d4 .pp-photo-container .pp-photo-content:hover .pp-photo-content-inner {}
.fl-node-5d94f6e19b1d4 .pp-photo-container .pp-photo-content .pp-photo-content-inner a {display: block;text-decoration: none !important;}
.fl-node-5d94f6e19b1d4 .pp-photo-container .pp-photo-content .pp-photo-content-inner img {border-color: #000;border-style: none;border-width: 1px;border-top-left-radius: px;border-top-right-radius: px;border-bottom-left-radius: px;border-bottom-right-radius: px;}
.fl-node-5d94f6e19b1d4 .pp-photo-caption {background-color: #ddd;color: #000;}
.fl-node-5d94f6e19b1d4 .pp-overlay-wrap .pp-overlay-bg {background-color: #ddd;border-top-left-radius: px;border-top-right-radius: px;border-bottom-left-radius: px;border-bottom-right-radius: px;}
@media only screen and (max-width: 768px) {.pp-photo-container .pp-photo-align-responsive-left {text-align: left !important;}
	.pp-photo-container .pp-photo-align-responsive-center {text-align: center !important;}
	.pp-photo-container .pp-photo-align-responsive-right {text-align: right !important;}}
.fl-node-5d94f6e19b1d4 .pp-photo-container .pp-photo-content .pp-photo-content-inner {padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;}
.fl-node-5d94f6e19b1d4 .pp-photo-container .pp-photo-content .pp-photo-content-inner img {width: 60px;}
.fl-node-5d94f6e19b1d4 .pp-photo-caption {padding-top: 10px;padding-right: 10px;padding-bottom: 10px;padding-left: 10px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {.fl-node-5d94f6e19b1d4 .pp-photo-container .pp-photo-content .pp-photo-content-inner img {width: 90px;}}
.fl-node-5d94f6e5ef03f .fl-rich-text, .fl-node-5d94f6e5ef03f .fl-rich-text * {color: #07356b;font-weight: 500;font-size: 20px;line-height: 1.2;text-align: left;}
.fl-node-5d94f6e5ef03f .fl-rich-text strong {font-weight: bold;}
@media (max-width: 992px) {}
@media (max-width: 768px) {.fl-node-5d94f6e5ef03f .fl-rich-text, .fl-node-5d94f6e5ef03f .fl-rich-text * {text-align: center;}}
.fl-node-5d94f6e5ef03f > .fl-module-content {margin-top: 10px;margin-bottom: 0px;}
.fl-node-5d94f6e99f2be .fl-rich-text, .fl-node-5d94f6e99f2be .fl-rich-text * {color: #999;font-weight: 300;font-size: 16px;line-height: 1.2;text-align: left;font-style: normal;}
.fl-node-5d94f6e99f2be .fl-rich-text strong {font-weight: bold;}
@media (max-width: 992px) {}
@media (max-width: 768px) {.fl-node-5d94f6e99f2be .fl-rich-text, .fl-node-5d94f6e99f2be .fl-rich-text * {text-align: center;}}
.fl-node-5d94f6e99f2be > .fl-module-content {margin-top: 0px;}
.fl-node-5d94f66889ac8 .pp-photo-container .pp-photo-content {}
.fl-node-5d94f66889ac8 .pp-photo-container .pp-photo-content .pp-photo-content-inner {background-clip: border-box;border-top-left-radius: px;border-top-right-radius: px;border-bottom-left-radius: px;border-bottom-right-radius: px;transition: all .3s ease-in-out;}
.fl-node-5d94f66889ac8 .pp-photo-container .pp-photo-content:hover .pp-photo-content-inner {}
.fl-node-5d94f66889ac8 .pp-photo-container .pp-photo-content .pp-photo-content-inner a {display: block;text-decoration: none !important;}
.fl-node-5d94f66889ac8 .pp-photo-container .pp-photo-content .pp-photo-content-inner img {border-color: #000;border-style: none;border-width: 1px;border-top-left-radius: px;border-top-right-radius: px;border-bottom-left-radius: px;border-bottom-right-radius: px;}
.fl-node-5d94f66889ac8 .pp-photo-caption {background-color: #ddd;color: #000;}
.fl-node-5d94f66889ac8 .pp-overlay-wrap .pp-overlay-bg {background-color: #ddd;border-top-left-radius: px;border-top-right-radius: px;border-bottom-left-radius: px;border-bottom-right-radius: px;}
@media only screen and (max-width: 768px) {.pp-photo-container .pp-photo-align-responsive-left {text-align: left !important;}
	.pp-photo-container .pp-photo-align-responsive-center {text-align: center !important;}
	.pp-photo-container .pp-photo-align-responsive-right {text-align: right !important;}}
.fl-node-5d94f66889ac8 .pp-photo-container .pp-photo-content .pp-photo-content-inner {padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;}
.fl-node-5d94f66889ac8 .pp-photo-container .pp-photo-content .pp-photo-content-inner img {width: 60px;}
.fl-node-5d94f66889ac8 .pp-photo-caption {padding-top: 10px;padding-right: 10px;padding-bottom: 10px;padding-left: 10px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {.fl-node-5d94f66889ac8 .pp-photo-container .pp-photo-content .pp-photo-content-inner img {width: 90px;}}
.fl-node-5d94f67d33da7 .fl-rich-text, .fl-node-5d94f67d33da7 .fl-rich-text * {color: #07356b;font-weight: 500;font-size: 20px;line-height: 1.2;text-align: left;}
.fl-node-5d94f67d33da7 .fl-rich-text strong {font-weight: bold;}
@media (max-width: 992px) {}
@media (max-width: 768px) {.fl-node-5d94f67d33da7 .fl-rich-text, .fl-node-5d94f67d33da7 .fl-rich-text * {text-align: center;}}
.fl-node-5d94f67d33da7 > .fl-module-content {margin-top: 10px;margin-bottom: 0px;}
.fl-node-5d94f6d496746 .fl-rich-text, .fl-node-5d94f6d496746 .fl-rich-text * {color: #999;font-weight: 300;font-size: 16px;line-height: 1.2;text-align: left;font-style: normal;}
.fl-node-5d94f6d496746 .fl-rich-text strong {font-weight: bold;}
@media (max-width: 992px) {}
@media (max-width: 768px) {.fl-node-5d94f6d496746 .fl-rich-text, .fl-node-5d94f6d496746 .fl-rich-text * {text-align: center;}}
.fl-node-5d94f6d496746 > .fl-module-content {margin-top: 0px;}
.fl-node-5d94e91079fb0 .pp-photo-container .pp-photo-content {}
.fl-node-5d94e91079fb0 .pp-photo-container .pp-photo-content .pp-photo-content-inner {background-clip: border-box;border-top-left-radius: px;border-top-right-radius: px;border-bottom-left-radius: px;border-bottom-right-radius: px;transition: all .3s ease-in-out;}
.fl-node-5d94e91079fb0 .pp-photo-container .pp-photo-content:hover .pp-photo-content-inner {}
.fl-node-5d94e91079fb0 .pp-photo-container .pp-photo-content .pp-photo-content-inner a {display: block;text-decoration: none !important;}
.fl-node-5d94e91079fb0 .pp-photo-container .pp-photo-content .pp-photo-content-inner img {border-color: #000;border-style: none;border-width: 1px;border-top-left-radius: px;border-top-right-radius: px;border-bottom-left-radius: px;border-bottom-right-radius: px;}
.fl-node-5d94e91079fb0 .pp-photo-caption {background-color: #ddd;color: #000;}
.fl-node-5d94e91079fb0 .pp-overlay-wrap .pp-overlay-bg {background-color: #ddd;border-top-left-radius: px;border-top-right-radius: px;border-bottom-left-radius: px;border-bottom-right-radius: px;}
@media only screen and (max-width: 768px) {.pp-photo-container .pp-photo-align-responsive-left {text-align: left !important;}
	.pp-photo-container .pp-photo-align-responsive-center {text-align: center !important;}
	.pp-photo-container .pp-photo-align-responsive-right {text-align: right !important;}}
.fl-node-5d94e91079fb0 .pp-photo-container .pp-photo-content .pp-photo-content-inner {padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;}
.fl-node-5d94e91079fb0 .pp-photo-container .pp-photo-content .pp-photo-content-inner img {width: 800px;}
.fl-node-5d94e91079fb0 .pp-photo-caption {padding-top: 10px;padding-right: 10px;padding-bottom: 10px;padding-left: 10px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5d94e91079fb0 > .fl-module-content {margin-top: 0px;margin-right: 0px;margin-left: -100px;}
@media ( max-width: 768px ) {.fl-node-5d94e91079fb0.fl-module > .fl-module-content {margin-left: -200px;}}
.fl-animated.fl-fade-left {animation: fl-fade-left 1s ease;-webkit-animation: fl-fade-left 1s ease;}
@-webkit-keyframes fl-fade-left {from {opacity: 0;-webkit-transform: translate3d(-50%,0,0);transform: translate3d(-50%,0,0);}
	to {opacity: 1;-webkit-transform: translate3d(0,0,0);transform: translate3d(0,0,0);}}
@keyframes fl-fade-left {from {opacity: 0;-webkit-transform: translate3d(-50%,0,0);transform: translate3d(-50%,0,0);}
	to {opacity: 1;-webkit-transform: translate3d(0,0,0);transform: translate3d(0,0,0);}}
.fl-node-5d94e91079f9e .fl-rich-text, .fl-node-5d94e91079f9e .fl-rich-text * {color: #808080;font-weight: 400;font-size: 20px;line-height: 1.2;text-align: left;}
.fl-node-5d94e91079f9e .fl-rich-text strong {font-weight: bold;}
@media (max-width: 992px) {}
@media (max-width: 768px) {.fl-node-5d94e91079f9e .fl-rich-text, .fl-node-5d94e91079f9e .fl-rich-text * {text-align: center;}}
.fl-node-5d94e91079f9e > .fl-module-content {margin-top: 34px;margin-right: 0px;margin-left: 280px;}
@media (max-width: 768px) {.fl-node-5d94e91079f9e > .fl-module-content {margin-top: 20px;margin-left: 20px;}}
.fl-node-5d94f77b06dfe .pp-photo-container .pp-photo-content {}
.fl-node-5d94f77b06dfe .pp-photo-container .pp-photo-content .pp-photo-content-inner {background-clip: border-box;border-top-left-radius: px;border-top-right-radius: px;border-bottom-left-radius: px;border-bottom-right-radius: px;transition: all .3s ease-in-out;}
.fl-node-5d94f77b06dfe .pp-photo-container .pp-photo-content:hover .pp-photo-content-inner {}
.fl-node-5d94f77b06dfe .pp-photo-container .pp-photo-content .pp-photo-content-inner a {display: block;text-decoration: none !important;}
.fl-node-5d94f77b06dfe .pp-photo-container .pp-photo-content .pp-photo-content-inner img {border-color: #000;border-style: none;border-width: 1px;border-top-left-radius: px;border-top-right-radius: px;border-bottom-left-radius: px;border-bottom-right-radius: px;}
.fl-node-5d94f77b06dfe .pp-photo-caption {background-color: #ddd;color: #000;}
.fl-node-5d94f77b06dfe .pp-overlay-wrap .pp-overlay-bg {background-color: #ddd;border-top-left-radius: px;border-top-right-radius: px;border-bottom-left-radius: px;border-bottom-right-radius: px;}
@media only screen and (max-width: 768px) {.pp-photo-container .pp-photo-align-responsive-left {text-align: left !important;}
	.pp-photo-container .pp-photo-align-responsive-center {text-align: center !important;}
	.pp-photo-container .pp-photo-align-responsive-right {text-align: right !important;}}
.fl-node-5d94f77b06dfe .pp-photo-container .pp-photo-content .pp-photo-content-inner {padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;}
.fl-node-5d94f77b06dfe .pp-photo-container .pp-photo-content .pp-photo-content-inner img {width: 450px;}
.fl-node-5d94f77b06dfe .pp-photo-caption {padding-top: 10px;padding-right: 10px;padding-bottom: 10px;padding-left: 10px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5d94f77b06dfe > .fl-module-content {margin-top: 70px;}
@media (max-width: 768px) {.fl-node-5d94f77b06dfe > .fl-module-content {margin-top: 20px;}}
.fl-animated.fl-fade-right {animation: fl-fade-right 1s ease;-webkit-animation: fl-fade-right 1s ease;}
@-webkit-keyframes fl-fade-right {from {opacity: 0;-webkit-transform: translate3d(50%,0,0);transform: translate3d(50%,0,0);}
	to {opacity: 1;-webkit-transform: translate3d(0,0,0);transform: translate3d(0,0,0);}}
@keyframes fl-fade-right {from {opacity: 0;-webkit-transform: translate3d(50%,0,0);transform: translate3d(50%,0,0);}
	to {opacity: 1;-webkit-transform: translate3d(0,0,0);transform: translate3d(0,0,0);}}
.fl-node-5d94f88b359bf .fl-rich-text, .fl-node-5d94f88b359bf .fl-rich-text * {font-weight: 300;font-size: 16px;font-style: italic;}
.fl-node-5d94f88b359bf .fl-rich-text strong {font-weight: bold;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5d94f8df657e2 .pp-button-wrap a.pp-button, .fl-node-5d94f8df657e2 .pp-button-wrap a.pp-button:visited {text-decoration: none;background: #07356b;background-clip: border-box;}
.fl-node-5d94f8df657e2 .pp-button-wrap a.pp-button:hover, .fl-node-5d94f8df657e2 .pp-button-wrap a.pp-button:focus {text-decoration: none;background: #07356b;}
.fl-node-5d94f8df657e2 .pp-button .pp-button-icon {font-size: 16px;}
.fl-node-5d94f8df657e2 a.pp-button {-webkit-transition: all .3s ease 0s;-moz-transition: all .3s ease 0s;-o-transition: all .3s ease 0s;-ms-transition: all .3s ease 0s;transition: all .3s ease 0s;}
.fl-node-5d94f8df657e2 a.pp-button, .fl-node-5d94f8df657e2 a.pp-button * {color: #fff;}
.fl-node-5d94f8df657e2 a.pp-button:hover, .fl-node-5d94f8df657e2 a.pp-button:focus, .fl-node-5d94f8df657e2 a.pp-button:hover *, .fl-node-5d94f8df657e2 a.pp-button:focus * {color: #fff;}
.fl-node-5d94f8df657e2 .pp-button-wrap a.pp-button, .fl-node-5d94f8df657e2 .pp-button-wrap a.pp-button:visited {transition-duration: 500ms;}
@media only screen and (max-width: 992px) {.fl-node-5d94f8df657e2 .pp-button-wrap {text-align: ;}
	.fl-node-5d94f8df657e2 .pp-button-wrap a.pp-button, .fl-node-5d94f8df657e2 .pp-button-wrap a.pp-button:visited {}}
@media only screen and (max-width: 768px) {.fl-node-5d94f8df657e2 .pp-button-wrap {text-align: ;}
	.fl-node-5d94f8df657e2 .pp-button-wrap a.pp-button, .fl-node-5d94f8df657e2 .pp-button-wrap a.pp-button:visited {}}
.fl-node-5d94f8df657e2 .pp-button-wrap {text-align: center;}
.fl-node-5d94f8df657e2 a.pp-button {padding-top: 10px;padding-right: 10px;padding-bottom: 10px;padding-left: 10px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5d94f8df657e2 > .fl-module-content {margin-bottom: 0px;}
.fl-node-5d94f90738341 .fl-rich-text, .fl-node-5d94f90738341 .fl-rich-text * {color: #808080;font-weight: 400;font-size: 18px;text-align: center;}
.fl-node-5d94f90738341 .fl-rich-text strong {font-weight: bold;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5d94e91079fa7 .fl-photo {text-align: center;}
.fl-node-5d94e91079fa7 .fl-photo-img, .fl-node-5d94e91079fa7 .fl-photo-content {width: 450px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5d94e91079fa7 > .fl-module-content {margin-top: 40px;}
@media (max-width: 768px) {.fl-node-5d94e91079fa7 > .fl-module-content {margin-top: 20px;}}
.fl-animated.fl-slide-in-left {animation: fl-slide-in-left 1s ease;-webkit-animation: fl-slide-in-left 1s ease;}
@-webkit-keyframes fl-slide-in-left {from {-webkit-transform: translate3d(-50%,0,0);transform: translate3d(-50%,0,0);visibility: visible;}
	to {-webkit-transform: translate3d(0,0,0);transform: translate3d(0,0,0);}}
@keyframes fl-slide-in-left {from {-webkit-transform: translate3d(-50%,0,0);transform: translate3d(-50%,0,0);visibility: visible;}
	to {-webkit-transform: translate3d(0,0,0);transform: translate3d(0,0,0);}}
.fl-node-5d94e91079f9d .pp-photo-container .pp-photo-content {}
.fl-node-5d94e91079f9d .pp-photo-container .pp-photo-content .pp-photo-content-inner {background-clip: border-box;border-top-left-radius: px;border-top-right-radius: px;border-bottom-left-radius: px;border-bottom-right-radius: px;transition: all .3s ease-in-out;}
.fl-node-5d94e91079f9d .pp-photo-container .pp-photo-content:hover .pp-photo-content-inner {}
.fl-node-5d94e91079f9d .pp-photo-container .pp-photo-content .pp-photo-content-inner a {display: block;text-decoration: none !important;}
.fl-node-5d94e91079f9d .pp-photo-container .pp-photo-content .pp-photo-content-inner img {border-color: #000;border-style: none;border-width: 1px;border-top-left-radius: px;border-top-right-radius: px;border-bottom-left-radius: px;border-bottom-right-radius: px;}
.fl-node-5d94e91079f9d .pp-photo-caption {background-color: #ddd;color: #000;}
.fl-node-5d94e91079f9d .pp-overlay-wrap .pp-overlay-bg {background-color: #ddd;border-top-left-radius: px;border-top-right-radius: px;border-bottom-left-radius: px;border-bottom-right-radius: px;}
@media only screen and (max-width: 768px) {.pp-photo-container .pp-photo-align-responsive-left {text-align: left !important;}
	.pp-photo-container .pp-photo-align-responsive-center {text-align: center !important;}
	.pp-photo-container .pp-photo-align-responsive-right {text-align: right !important;}}
.fl-node-5d94e91079f9d .pp-photo-container .pp-photo-content .pp-photo-content-inner {padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;}
.fl-node-5d94e91079f9d .pp-photo-container .pp-photo-content .pp-photo-content-inner img {width: 750px;}
.fl-node-5d94e91079f9d .pp-photo-caption {padding-top: 10px;padding-right: 10px;padding-bottom: 10px;padding-left: 10px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5d94e91079f9d > .fl-module-content {margin-top: 60px;margin-right: 0px;margin-left: 0px;}
@media (max-width: 768px) {.fl-node-5d94e91079f9d > .fl-module-content {margin-top: 20px;}}
.fl-node-5d94fa9fec708 .pp-photo-container .pp-photo-content {}
.fl-node-5d94fa9fec708 .pp-photo-container .pp-photo-content .pp-photo-content-inner {background-clip: border-box;border-top-left-radius: px;border-top-right-radius: px;border-bottom-left-radius: px;border-bottom-right-radius: px;transition: all .3s ease-in-out;}
.fl-node-5d94fa9fec708 .pp-photo-container .pp-photo-content:hover .pp-photo-content-inner {}
.fl-node-5d94fa9fec708 .pp-photo-container .pp-photo-content .pp-photo-content-inner a {display: block;text-decoration: none !important;}
.fl-node-5d94fa9fec708 .pp-photo-container .pp-photo-content .pp-photo-content-inner img {border-color: #000;border-style: none;border-width: 1px;border-top-left-radius: px;border-top-right-radius: px;border-bottom-left-radius: px;border-bottom-right-radius: px;}
.fl-node-5d94fa9fec708 .pp-photo-caption {background-color: #ddd;color: #000;}
.fl-node-5d94fa9fec708 .pp-overlay-wrap .pp-overlay-bg {background-color: #ddd;border-top-left-radius: px;border-top-right-radius: px;border-bottom-left-radius: px;border-bottom-right-radius: px;}
@media only screen and (max-width: 768px) {.pp-photo-container .pp-photo-align-responsive-left {text-align: left !important;}
	.pp-photo-container .pp-photo-align-responsive-center {text-align: center !important;}
	.pp-photo-container .pp-photo-align-responsive-right {text-align: right !important;}}
.fl-node-5d94fa9fec708 .pp-photo-container .pp-photo-content .pp-photo-content-inner {padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;}
.fl-node-5d94fa9fec708 .pp-photo-container .pp-photo-content .pp-photo-content-inner img {width: 300px;}
.fl-node-5d94fa9fec708 .pp-photo-caption {padding-top: 10px;padding-right: 10px;padding-bottom: 10px;padding-left: 10px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5d94e91079fb8 .pp-photo-container .pp-photo-content {}
.fl-node-5d94e91079fb8 .pp-photo-container .pp-photo-content .pp-photo-content-inner {background-clip: border-box;border-top-left-radius: px;border-top-right-radius: px;border-bottom-left-radius: px;border-bottom-right-radius: px;transition: all .3s ease-in-out;}
.fl-node-5d94e91079fb8 .pp-photo-container .pp-photo-content:hover .pp-photo-content-inner {}
.fl-node-5d94e91079fb8 .pp-photo-container .pp-photo-content .pp-photo-content-inner a {display: block;text-decoration: none !important;}
.fl-node-5d94e91079fb8 .pp-photo-container .pp-photo-content .pp-photo-content-inner img {border-color: #000;border-style: none;border-width: 1px;border-top-left-radius: px;border-top-right-radius: px;border-bottom-left-radius: px;border-bottom-right-radius: px;}
.fl-node-5d94e91079fb8 .pp-photo-caption {background-color: #ddd;color: #000;}
.fl-node-5d94e91079fb8 .pp-overlay-wrap .pp-overlay-bg {background-color: #ddd;border-top-left-radius: px;border-top-right-radius: px;border-bottom-left-radius: px;border-bottom-right-radius: px;}
@media only screen and (max-width: 768px) {.pp-photo-container .pp-photo-align-responsive-left {text-align: left !important;}
	.pp-photo-container .pp-photo-align-responsive-center {text-align: center !important;}
	.pp-photo-container .pp-photo-align-responsive-right {text-align: right !important;}}
.fl-node-5d94e91079fb8 .pp-photo-container .pp-photo-content .pp-photo-content-inner {padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;}
.fl-node-5d94e91079fb8 .pp-photo-container .pp-photo-content .pp-photo-content-inner img {width: 300px;}
.fl-node-5d94e91079fb8 .pp-photo-caption {padding-top: 10px;padding-right: 10px;padding-bottom: 10px;padding-left: 10px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5d94e91079fb8 > .fl-module-content {margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;}
.fl-node-5d94e91079fc7 .pp-photo-container .pp-photo-content {}
.fl-node-5d94e91079fc7 .pp-photo-container .pp-photo-content .pp-photo-content-inner {background-clip: border-box;border-top-left-radius: px;border-top-right-radius: px;border-bottom-left-radius: px;border-bottom-right-radius: px;transition: all .3s ease-in-out;}
.fl-node-5d94e91079fc7 .pp-photo-container .pp-photo-content:hover .pp-photo-content-inner {}
.fl-node-5d94e91079fc7 .pp-photo-container .pp-photo-content .pp-photo-content-inner a {display: block;text-decoration: none !important;}
.fl-node-5d94e91079fc7 .pp-photo-container .pp-photo-content .pp-photo-content-inner img {border-color: #000;border-style: none;border-width: 1px;border-top-left-radius: px;border-top-right-radius: px;border-bottom-left-radius: px;border-bottom-right-radius: px;}
.fl-node-5d94e91079fc7 .pp-photo-caption {background-color: #ddd;color: #000;}
.fl-node-5d94e91079fc7 .pp-overlay-wrap .pp-overlay-bg {background-color: #ddd;border-top-left-radius: px;border-top-right-radius: px;border-bottom-left-radius: px;border-bottom-right-radius: px;}
@media only screen and (max-width: 768px) {.pp-photo-container .pp-photo-align-responsive-left {text-align: left !important;}
	.pp-photo-container .pp-photo-align-responsive-center {text-align: center !important;}
	.pp-photo-container .pp-photo-align-responsive-right {text-align: right !important;}}
.fl-node-5d94e91079fc7 .pp-photo-container .pp-photo-content .pp-photo-content-inner {padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;}
.fl-node-5d94e91079fc7 .pp-photo-container .pp-photo-content .pp-photo-content-inner img {width: 380px;}
.fl-node-5d94e91079fc7 .pp-photo-caption {padding-top: 10px;padding-right: 10px;padding-bottom: 10px;padding-left: 10px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-animated.fl-fancy-pulse {animation: fl-fancy-pulse 1s ease;-webkit-animation: fl-fancy-pulse 1s ease;}
@-webkit-keyframes fl-fancy-pulse {from {-webkit-transform: scale3d(1,1,1);transform: scale3d(1,1,1);}
	50% {-webkit-transform: scale3d(1.05,1.05,1.05);transform: scale3d(1.05,1.05,1.05);}
	to {-webkit-transform: scale3d(1,1,1);transform: scale3d(1,1,1);}}
@keyframes fl-fancy-pulse {from {-webkit-transform: scale3d(1,1,1);transform: scale3d(1,1,1);}
	50% {-webkit-transform: scale3d(1.05,1.05,1.05);transform: scale3d(1.05,1.05,1.05);}
	to {-webkit-transform: scale3d(1,1,1);transform: scale3d(1,1,1);}}
.bb-gf-input.input-small {width: 46px !important;}
.fl-module .pp-cf7-content input.wpcf7-submit {clear: both;}
@media only screen and (min-width: 769px) {.pp-cf7-content .pp-cf7-col-1 {width: 100%;padding: 0 5px;clear: left;}
	.pp-cf7-content .pp-cf7-col-2 {width: 50%;float: left;padding: 0 5px;}
	.pp-cf7-content .pp-cf7-col-3 {width: 33.33%;float: left;padding: 0 5px;}
	.pp-cf7-content .pp-cf7-col-4 {width: 25%;float: left;padding: 0 5px;}
	.pp-cf7-content .pp-cf7-col-5 {width: 20%;float: left;padding: 0 5px;}
	.pp-cf7-content .pp-cf7-col-6 {width: 16.66%;float: left;padding: 0 5px;}}
@media only screen and (max-width: 768px) {.pp-cf7-content .wpcf7-text, .pp-cf7-content .wpcf7-email, .pp-cf7-content .wpcf7-textarea, .pp-cf7-content .wpcf7-quiz, .pp-cf7-content .wpcf7-number {width: 100% !important;}}
@media (max-width: 768px) {}
.fl-node-5d94e91079fc8 .pp-cf7-content {}
.fl-node-5d94e91079fc8 .pp-cf7-form-title {}
.fl-node-5d94e91079fc8 .pp-cf7-form-description {}
.fl-node-5d94e91079fc8 .pp-cf7-content form p {}
.fl-node-5d94e91079fc8 .pp-cf7-content .wpcf7-text, .fl-node-5d94e91079fc8 .pp-cf7-content .wpcf7-email, .fl-node-5d94e91079fc8 .pp-cf7-content .wpcf7-textarea, .fl-node-5d94e91079fc8 .pp-cf7-content .wpcf7-quiz, .fl-node-5d94e91079fc8 .pp-cf7-content .wpcf7-number {color: #07356b;background-color: #f6f6f6;border-radius: 2px;-moz-border-radius: 2px;-webkit-border-radius: 2px;-ms-border-radius: 2px;-o-border-radius: 2px;border-width: 0px;border-width: 0px;height: 40px;width: 100%;padding: 10px;margin-top: 5px;margin-bottom: 5px;}
.fl-node-5d94e91079fc8 .pp-cf7-content .wpcf7-text:focus, .fl-node-5d94e91079fc8 .pp-cf7-content .wpcf7-email:focus, .fl-node-5d94e91079fc8 .pp-cf7-content .wpcf7-textarea:focus, .fl-node-5d94e91079fc8 .pp-cf7-content .wpcf7-quiz:focus, .fl-node-5d94e91079fc8 .pp-cf7-content .wpcf7-number:focus {}
.fl-node-5d94e91079fc8 .pp-cf7-content .wpcf7-textarea {height: 110px;}
.fl-node-5d94e91079fc8 .pp-cf7-content .wpcf7-file {height: 40px;}
.fl-node-5d94e91079fc8 .pp-cf7-content .wpcf7-text, .fl-node-5d94e91079fc8 .pp-cf7-content .wpcf7-email, .fl-node-5d94e91079fc8 .pp-cf7-content .wpcf7-textarea, .fl-node-5d94e91079fc8 .pp-cf7-content .wpcf7-quiz, .fl-node-5d94e91079fc8 .pp-cf7-content .wpcf7-number {}
.fl-node-5d94e91079fc8 .pp-cf7-content form p:before, .fl-node-5d94e91079fc8 .pp-cf7-content form p:after {content: "";display: table;}
.fl-node-5d94e91079fc8 .pp-cf7-content form p:after {clear: both;}
.fl-node-5d94e91079fc8 .pp-cf7-content input.wpcf7-submit {background: #07356b;padding-top: 10px;padding-bottom: 10px;padding-left: 30px;padding-right: 30px;float: right;width: px;}
.fl-node-5d94e91079fc8 .pp-cf7-content input.wpcf7-submit:hover {}
.fl-node-5d94e91079fc8 .pp-cf7-content .wpcf7-response-output {background-color: #fff;color: #000;}
.fl-node-5d94e91079fc8 .pp-cf7-content .wpcf7-not-valid-tip {display: true;color: #f00;}
.fl-node-5d94e91079fc8 .pp-cf7-content input[type=text]::-webkit-input-placeholder {color: #07356b;}
.fl-node-5d94e91079fc8 .pp-cf7-content input[type=text]:-moz-placeholder {color: #07356b;}
.fl-node-5d94e91079fc8 .pp-cf7-content input[type=text]::-moz-placeholder {color: #07356b;}
.fl-node-5d94e91079fc8 .pp-cf7-content input[type=text]:-ms-input-placeholder {color: #07356b;}
.fl-node-5d94e91079fc8 .pp-cf7-content input[type=tel]::-webkit-input-placeholder {color: #07356b;}
.fl-node-5d94e91079fc8 .pp-cf7-content input[type=tel]:-moz-placeholder {color: #07356b;}
.fl-node-5d94e91079fc8 .pp-cf7-content input[type=tel]::-moz-placeholder {color: #07356b;}
.fl-node-5d94e91079fc8 .pp-cf7-content input[type=tel]:-ms-input-placeholder {color: #07356b;}
.fl-node-5d94e91079fc8 .pp-cf7-content input[type=email]::-webkit-input-placeholder {color: #07356b;}
.fl-node-5d94e91079fc8 .pp-cf7-content input[type=email]:-moz-placeholder {color: #07356b;}
.fl-node-5d94e91079fc8 .pp-cf7-content input[type=email]::-moz-placeholder {color: #07356b;}
.fl-node-5d94e91079fc8 .pp-cf7-content input[type=email]:-ms-input-placeholder {color: #07356b;}
.fl-node-5d94e91079fc8 .pp-cf7-content textarea::-webkit-input-placeholder {color: #07356b;}
.fl-node-5d94e91079fc8 .pp-cf7-content textarea:-moz-placeholder {color: #07356b;}
.fl-node-5d94e91079fc8 .pp-cf7-content textarea::-moz-placeholder {color: #07356b;}
.fl-node-5d94e91079fc8 .pp-cf7-content textarea:-ms-input-placeholder {color: #07356b;}
.fl-node-5d94e91079fc8 .pp-cf7-content input.wpcf7-submit {border-top-left-radius: 0px;border-top-right-radius: 0px;border-bottom-left-radius: 0px;border-bottom-right-radius: 0px;font-size: 16px;}
.fl-node-5d94e91079fc8 .pp-cf7-content form p {font-weight: 500;}
.fl-node-5d94e91079fc8 .pp-cf7-content .wpcf7-text, .fl-node-5d94e91079fc8 .pp-cf7-content .wpcf7-email, .fl-node-5d94e91079fc8 .pp-cf7-content .wpcf7-textarea, .fl-node-5d94e91079fc8 .pp-cf7-content .wpcf7-quiz, .fl-node-5d94e91079fc8 .pp-cf7-content .wpcf7-number {font-weight: 600;font-size: 16px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5d94e91079fc8 > .fl-module-content {margin-top: 0px;}
.fl-node-5d94e91079fcb .fl-rich-text, .fl-node-5d94e91079fcb .fl-rich-text * {font-size: 18px;line-height: 1.3;}
.fl-node-5d94e91079fcb .fl-rich-text strong {font-weight: bold;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5d94e91079fca .fl-separator {border-top: 2px solid #ff1b3b;max-width: 50%;margin: 0 0 0 0;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5d94e91079fb2 .fl-rich-text, .fl-node-5d94e91079fb2 .fl-rich-text * {font-size: 18px;line-height: 1.3;}
.fl-node-5d94e91079fb2 .fl-rich-text strong {font-weight: bold;}
@media (max-width: 992px) {}
@media (max-width: 768px) {.fl-node-5d94e91079fb2 .fl-rich-text, .fl-node-5d94e91079fb2 .fl-rich-text * {text-align: center;}}
.fl-node-5d94e91079fb2 > .fl-module-content {margin-bottom: 0px;}
.fl-node-5d94e91079fcc .fl-rich-text, .fl-node-5d94e91079fcc .fl-rich-text * {color: #999;line-height: 1;}
.fl-node-5d94e91079fcc .fl-rich-text strong {font-weight: bold;}
@media (max-width: 992px) {}
@media (max-width: 768px) {.fl-node-5d94e91079fcc .fl-rich-text, .fl-node-5d94e91079fcc .fl-rich-text * {text-align: center;}}
.fl-node-5d94e91079fcc > .fl-module-content {margin-top: 0px;margin-bottom: 0px;}
.fl-node-5d94fc7eaebbe .fl-rich-text, .fl-node-5d94fc7eaebbe .fl-rich-text * {color: #fff;font-family: Dosis,sans-serif;font-weight: 800;font-size: 20px;letter-spacing: 2px;}
.fl-node-5d94fc7eaebbe .fl-rich-text strong {font-weight: bold;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-builder-row-settings #fl-field-separator_position {display: none !important;}
.fl-builder-row-settings #fl-field-separator_position {display: none !important;}
.fl-builder-row-settings #fl-field-separator_position {display: none !important;}
.fl-builder-row-settings #fl-field-separator_position {display: none !important;}
.fl-builder-row-settings #fl-field-separator_position {display: none !important;}
.fl-builder-row-settings #fl-field-separator_position {display: none !important;}
.fl-builder-row-settings #fl-field-separator_position {display: none !important;}
.fl-builder-row-settings #fl-field-separator_position {display: none !important;}
.fl-builder-row-settings #fl-field-separator_position {display: none !important;}
.fl-builder-row-settings #fl-field-separator_position {display: none !important;}