.fl-node-5d94e91079fd7 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5d94e91079fd7 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5d94e91079fd7 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
.fl-node-5d94e91079fd7 > .fl-row-content-wrap {background-color: #006566;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5d94e91079fd7 > .fl-row-content-wrap {padding-top: 0px;padding-right: 300px;padding-bottom: 0px;padding-left: 300px;}
.fl-node-5ea2e219bb421 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5ea2e219bb421 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5ea2e219bb421 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
.fl-node-5ea2e219bb421 > .fl-row-content-wrap {background-color: #ededed;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5ea2e219bb421 > .fl-row-content-wrap {padding-top: 5px;padding-bottom: 5px;}
.fl-node-5d94e91079f85 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5d94e91079f85 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5d94e91079f85 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5d94e91079f85 > .fl-row-content-wrap {margin-top: 0px;}
.fl-node-5d94e91079f85 > .fl-row-content-wrap {padding-top: 0px;padding-bottom: 0px;padding-left: 0px;}
.fl-node-5d94e91079f8f .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5d94e91079f8f .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5d94e91079f8f .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
.fl-node-5d94e91079f8f > .fl-row-content-wrap {background-color: #f2f2f2;}
.fl-node-5d94e91079f8f .fl-row-content {max-width: 914px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5d94e91079f8f > .fl-row-content-wrap {margin-top: 0px;}
.fl-node-5d94e91079f8f > .fl-row-content-wrap {padding-top: 20px;}
.fl-node-5d94e91079fad .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5d94e91079fad .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5d94e91079fad .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5d94e91079fad > .fl-row-content-wrap {padding-left: 0px;}
.fl-node-5d94f91285e12 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5d94f91285e12 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5d94f91285e12 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
.fl-node-5d94f91285e12.fl-row-fixed-width, .fl-node-5d94f91285e12 .fl-row-fixed-width {max-width: 606px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5d94f91285e12 > .fl-row-content-wrap {padding-top: 0px;}
.fl-node-5d94e91079f9c .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5d94e91079f9c .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5d94e91079f9c .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5d94e91079f9c > .fl-row-content-wrap {padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 40px;}
.fl-node-5d94e91079fb4 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5d94e91079fb4 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5d94e91079fb4 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
.fl-node-5d94e91079fb4.fl-row-fixed-width, .fl-node-5d94e91079fb4 .fl-row-fixed-width {max-width: 718px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5d94e91079fc1 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5d94e91079fc1 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5d94e91079fc1 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
.fl-node-5d94e91079fc1.fl-row-fixed-width, .fl-node-5d94e91079fc1 .fl-row-fixed-width {max-width: 996px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5d94fc65e5ed4 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5d94fc65e5ed4 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5d94fc65e5ed4 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
.fl-node-5d94fc65e5ed4 > .fl-row-content-wrap {background-color: #fb1c1c;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5ea2e219d279c {width: 32.55%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5ea2e219d27a0 {width: 32.9%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5ea2e219d27a1 {width: 15.28%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5ea2e219d27a3 {width: 19.27%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5d94e91079f87 {width: 54.73%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {.fl-builder-content .fl-node-5d94e91079f87 {width: 100% !important;max-width: none;clear: none;float: left;}}
.fl-node-5d94e91079f87 > .fl-col-content {margin-top: 0px;}
.fl-node-5d94e91079f87 > .fl-col-content {padding-top: 0px;}
.fl-node-5d94e91079f88 {width: 45.27%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {.fl-builder-content .fl-node-5d94e91079f88 {width: 100% !important;max-width: none;clear: none;float: left;}}
@media ( max-width: 768px ) {.fl-node-5d94e91079f88.fl-col > .fl-col-content {margin-top: 30px;}}
.fl-node-5d94f5745ef2f {width: 100%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5d94e91079f91 {width: 10.58%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5d94f4fad06ec {width: 39.42%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5d94f650723f0 {width: 10.38%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5d94f650723f6 {width: 39.62%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5d94f6a4bd72f {width: 10.41%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5d94f6a4bd734 {width: 39.59%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5d94f6a4bd737 {width: 10.41%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5d94f6a4bd739 {width: 39.59%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5d94e91079faf {width: 49.57%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5d94e91079fb1 {width: 50.43%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5d94f912c58ea {width: 100%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5d94e91079fa0 {width: 48.06%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5d94e91079fa1 {width: 51.94%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5d94e91079fb6 {width: 45.78%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5d94e91079fb7 {width: 54.22%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5d94e91079fc6 {width: 100%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5d94e91079fc3 {width: 50.21%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5d94e91079fc4 {width: 49.79%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5d94fc661fe76 {width: 100%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5e7e4af0a2158 > .fl-module-content {margin-top: 5px;margin-bottom: 5px;}
.fl-node-5e7e4af0a215a > .fl-module-content {margin-top: 0px;margin-bottom: 0px;}
.fl-node-5e7e4af0a215c > .fl-module-content {margin-top: 0px;margin-bottom: 0px;}
.fl-node-5d94e91079f89 > .fl-module-content {margin-top: 0px;margin-bottom: 0px;margin-left: 0px;}
@media ( max-width: 768px ) {.fl-node-5d94e91079f89.fl-module > .fl-module-content {margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;}}
.fl-node-5e7e46b7795f9 > .fl-module-content {margin-top: 30px;margin-bottom: 30px;}
@media (max-width: 768px) {.fl-node-5e7e46b7795f9 > .fl-module-content {margin-top: 20px;margin-bottom: 20px;}}
.fl-node-5d94e91079fb3 > .fl-module-content {margin-top: 0px;margin-right: 50px;margin-bottom: 0px;margin-left: 50px;}
@media (max-width: 768px) {.fl-node-5d94e91079fb3 > .fl-module-content {margin-left: 20px;margin-right: 20px;}}
.fl-node-5d94f56fde084 > .fl-module-content {margin-top: 40px;}
@media (max-width: 768px) {.fl-node-5d94f56fde084 > .fl-module-content {margin-top: 20px;}}
.fl-node-5d94f6ced46af > .fl-module-content {margin-top: 10px;margin-bottom: 0px;}
.fl-node-5d94f6894e09a > .fl-module-content {margin-top: 0px;}
.fl-node-5d94e91079f9a > .fl-module-content {margin-top: 10px;margin-bottom: 0px;}
.fl-node-5d94e91079f9b > .fl-module-content {margin-top: 0px;}
.fl-node-5d94f6e5ef03f > .fl-module-content {margin-top: 10px;margin-bottom: 0px;}
.fl-node-5d94f6e99f2be > .fl-module-content {margin-top: 0px;}
.fl-node-5d94f67d33da7 > .fl-module-content {margin-top: 10px;margin-bottom: 0px;}
.fl-node-5d94f6d496746 > .fl-module-content {margin-top: 0px;}
.fl-node-5d94e91079fb0 > .fl-module-content {margin-top: 0px;margin-right: 0px;margin-left: -100px;}
@media ( max-width: 768px ) {.fl-node-5d94e91079fb0.fl-module > .fl-module-content {margin-left: -200px;}}
.fl-node-5d94e91079f9e > .fl-module-content {margin-top: 34px;margin-right: 0px;margin-left: 280px;}
@media (max-width: 768px) {.fl-node-5d94e91079f9e > .fl-module-content {margin-top: 20px;margin-left: 20px;}}
.fl-node-5d94f77b06dfe > .fl-module-content {margin-top: 70px;}
@media (max-width: 768px) {.fl-node-5d94f77b06dfe > .fl-module-content {margin-top: 20px;}}
.fl-node-5d94f8df657e2 > .fl-module-content {margin-bottom: 0px;}
.fl-node-5d94e91079fa7 > .fl-module-content {margin-top: 40px;}
@media (max-width: 768px) {.fl-node-5d94e91079fa7 > .fl-module-content {margin-top: 20px;}}
.fl-node-5d94e91079f9d > .fl-module-content {margin-top: 60px;margin-right: 0px;margin-left: 0px;}
@media (max-width: 768px) {.fl-node-5d94e91079f9d > .fl-module-content {margin-top: 20px;}}
.fl-node-5d94e91079fb8 > .fl-module-content {margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;}
.fl-node-5d94e91079fc8 > .fl-module-content {margin-top: 0px;}
.fl-node-5d94e91079fb2 > .fl-module-content {margin-bottom: 0px;}
.fl-node-5d94e91079fcc > .fl-module-content {margin-top: 0px;margin-bottom: 0px;}
.fl-builder-row-settings #fl-field-separator_position {display: none !important;}
.fl-builder-row-settings #fl-field-separator_position {display: none !important;}
.fl-builder-row-settings #fl-field-separator_position {display: none !important;}
.fl-builder-row-settings #fl-field-separator_position {display: none !important;}
.fl-builder-row-settings #fl-field-separator_position {display: none !important;}
.fl-builder-row-settings #fl-field-separator_position {display: none !important;}
.fl-builder-row-settings #fl-field-separator_position {display: none !important;}
.fl-builder-row-settings #fl-field-separator_position {display: none !important;}
.fl-builder-row-settings #fl-field-separator_position {display: none !important;}
.fl-builder-row-settings #fl-field-separator_position {display: none !important;}