.fl-builder-content *, .fl-builder-content *:before, .fl-builder-content *:after {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.fl-row:before, .fl-row:after, .fl-row-content:before, .fl-row-content:after, .fl-col-group:before, .fl-col-group:after, .fl-col:before, .fl-col:after, .fl-module:before, .fl-module:after, .fl-module-content:before, .fl-module-content:after {display: table;content: " ";}
.fl-row:after, .fl-row-content:after, .fl-col-group:after, .fl-col:after, .fl-module:after, .fl-module-content:after {clear: both;}
.fl-row, .fl-row-content, .fl-col-group, .fl-col, .fl-module, .fl-module-content {zoom: 1;}
.fl-clear {clear: both;}
.fl-clearfix:before, .fl-clearfix:after {display: table;content: " ";}
.fl-clearfix:after {clear: both;}
.fl-clearfix {zoom: 1;}
.fl-visible-medium, .fl-visible-medium-mobile, .fl-visible-mobile, .fl-col-group .fl-visible-medium.fl-col, .fl-col-group .fl-visible-medium-mobile.fl-col, .fl-col-group .fl-visible-mobile.fl-col {display: none;}
.fl-row, .fl-row-content {margin-left: auto;margin-right: auto;}
.fl-row-content-wrap {position: relative;}
.fl-builder-mobile .fl-row-bg-photo .fl-row-content-wrap {background-attachment: scroll;}
.fl-row-bg-video, .fl-row-bg-video .fl-row-content {position: relative;}
.fl-row-bg-video .fl-bg-video {bottom: 0;left: 0;overflow: hidden;position: absolute;right: 0;top: 0;}
.fl-row-bg-video .fl-bg-video video {bottom: 0;left: 0px;max-width: none;position: absolute;right: 0;top: 0px;}
.fl-row-bg-video .fl-bg-video iframe {pointer-events: none;width: 100vw;height: 56.25vw;max-width: none;min-height: 100vh;min-width: 177.77vh;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);-ms-transform: translate(-50%,-50%);-webkit-transform: translate(-50%,-50%);}
.fl-bg-video-fallback {background-position: 50% 50%;background-repeat: no-repeat;background-size: cover;bottom: 0px;left: 0px;position: absolute;right: 0px;top: 0px;}
.fl-row-bg-slideshow, .fl-row-bg-slideshow .fl-row-content {position: relative;}
.fl-row .fl-bg-slideshow {bottom: 0;left: 0;overflow: hidden;position: absolute;right: 0;top: 0;z-index: 0;}
.fl-builder-edit .fl-row .fl-bg-slideshow * {bottom: 0;height: auto !important;left: 0;position: absolute !important;right: 0;top: 0;}
.fl-row-bg-overlay .fl-row-content-wrap:after {border-radius: inherit;content: "";display: block;position: absolute;top: 0;right: 0;bottom: 0;left: 0;z-index: 0;}
.fl-row-bg-overlay .fl-row-content {position: relative;z-index: 1;}
.fl-row-full-height .fl-row-content-wrap, .fl-row-custom-height .fl-row-content-wrap {display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex;min-height: 100vh;}
.fl-row-overlap-top .fl-row-content-wrap {display: -webkit-inline-box;display: -webkit-inline-flex;display: -moz-inline-box;display: -ms-inline-flexbox;display: inline-flex;width: 100%;}
.fl-row-custom-height .fl-row-content-wrap {min-height: 0;}
.fl-builder-edit .fl-row-full-height .fl-row-content-wrap {min-height: calc(100vh - 48px);}
.fl-row-full-height .fl-row-content, .fl-row-custom-height .fl-row-content {-webkit-box-flex: 1 1 auto;-moz-box-flex: 1 1 auto;-webkit-flex: 1 1 auto;-ms-flex: 1 1 auto;flex: 1 1 auto;}
.fl-row-full-height .fl-row-full-width.fl-row-content, .fl-row-custom-height .fl-row-full-width.fl-row-content {max-width: 100%;width: 100%;}
.fl-builder-ie-11 .fl-row.fl-row-full-height:not(.fl-visible-medium):not(.fl-visible-medium-mobile):not(.fl-visible-mobile), .fl-builder-ie-11 .fl-row.fl-row-custom-height:not(.fl-visible-medium):not(.fl-visible-medium-mobile):not(.fl-visible-mobile) {display: flex;flex-direction: column;height: 100%;}
.fl-builder-ie-11 .fl-row-full-height .fl-row-content-wrap, .fl-builder-ie-11 .fl-row-custom-height .fl-row-content-wrap {height: auto;}
.fl-builder-ie-11 .fl-row-full-height .fl-row-content, .fl-builder-ie-11 .fl-row-custom-height .fl-row-content {flex: 0 0 auto;flex-basis: 100%;margin: 0;}
.fl-builder-ie-11 .fl-row-full-height.fl-row-align-top .fl-row-content, .fl-builder-ie-11 .fl-row-full-height.fl-row-align-bottom .fl-row-content, .fl-builder-ie-11 .fl-row-custom-height.fl-row-align-top .fl-row-content, .fl-builder-ie-11 .fl-row-custom-height.fl-row-align-bottom .fl-row-content {margin: 0 auto;}
.fl-builder-ie-11 .fl-row-full-height.fl-row-align-center .fl-col-group:not(.fl-col-group-equal-height), .fl-builder-ie-11 .fl-row-custom-height.fl-row-align-center .fl-col-group:not(.fl-col-group-equal-height) {display: flex;align-items: center;justify-content: center;-webkit-align-items: center;-webkit-box-align: center;-webkit-box-pack: center;-webkit-justify-content: center;-ms-flex-align: center;-ms-flex-pack: center;}
.fl-row-full-height.fl-row-align-center .fl-row-content-wrap, .fl-row-custom-height.fl-row-align-center .fl-row-content-wrap {align-items: center;justify-content: center;-webkit-align-items: center;-webkit-box-align: center;-webkit-box-pack: center;-webkit-justify-content: center;-ms-flex-align: center;-ms-flex-pack: center;}
.fl-row-full-height.fl-row-align-bottom .fl-row-content-wrap, .fl-row-custom-height.fl-row-align-bottom .fl-row-content-wrap {align-items: flex-end;justify-content: flex-end;-webkit-align-items: flex-end;-webkit-justify-content: flex-end;-webkit-box-align: end;-webkit-box-pack: end;-ms-flex-align: end;-ms-flex-pack: end;}
.fl-builder-ie-11 .fl-row-full-height.fl-row-align-bottom .fl-row-content-wrap, .fl-builder-ie-11 .fl-row-custom-height.fl-row-align-bottom .fl-row-content-wrap {justify-content: flex-start;-webkit-justify-content: flex-start;}
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {.fl-row-full-height .fl-row-content-wrap {min-height: 1024px;}}
@media all and (device-width: 1024px) and (device-height: 768px) and (orientation:landscape) {.fl-row-full-height .fl-row-content-wrap {min-height: 768px;}}
@media screen and (device-aspect-ratio: 40/71) {.fl-row-full-height .fl-row-content-wrap {min-height: 500px;}}
.fl-col-group-equal-height, .fl-col-group-equal-height .fl-col, .fl-col-group-equal-height .fl-col-content {display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex;}
.fl-col-group-equal-height {-webkit-flex-wrap: wrap;-ms-flex-wrap: wrap;flex-wrap: wrap;width: 100%;}
.fl-col-group-equal-height.fl-col-group-has-child-loading {-webkit-flex-wrap: nowrap;-ms-flex-wrap: nowrap;flex-wrap: nowrap;}
.fl-col-group-equal-height .fl-col, .fl-col-group-equal-height .fl-col-content {-webkit-box-flex: 1 1 auto;-moz-box-flex: 1 1 auto;-webkit-flex: 1 1 auto;-ms-flex: 1 1 auto;flex: 1 1 auto;}
.fl-col-group-equal-height .fl-col-content {-webkit-box-orient: vertical;-webkit-box-direction: normal;-webkit-flex-direction: column;-ms-flex-direction: column;flex-direction: column;flex-shrink: 1;min-width: 1px;max-width: 100%;width: 100%;}
.fl-col-group-equal-height:before, .fl-col-group-equal-height .fl-col:before, .fl-col-group-equal-height .fl-col-content:before, .fl-col-group-equal-height:after, .fl-col-group-equal-height .fl-col:after, .fl-col-group-equal-height .fl-col-content:after {content: none;}
.fl-col-group-equal-height.fl-col-group-align-center .fl-col-content {align-items: center;justify-content: center;-webkit-align-items: center;-webkit-box-align: center;-webkit-box-pack: center;-webkit-justify-content: center;-ms-flex-align: center;-ms-flex-pack: center;}
.fl-col-group-equal-height.fl-col-group-align-bottom .fl-col-content {justify-content: flex-end;-webkit-justify-content: flex-end;-webkit-box-align: end;-webkit-box-pack: end;-ms-flex-pack: end;}
.fl-col-group-equal-height.fl-col-group-align-center .fl-module, .fl-col-group-equal-height.fl-col-group-align-center .fl-col-group {width: 100%;}
.fl-builder-ie-11 .fl-col-group-equal-height, .fl-builder-ie-11 .fl-col-group-equal-height .fl-col, .fl-builder-ie-11 .fl-col-group-equal-height .fl-col-content, .fl-builder-ie-11 .fl-col-group-equal-height .fl-module, .fl-col-group-equal-height.fl-col-group-align-center .fl-col-group {min-height: 1px;}
.fl-col {float: left;min-height: 1px;}
.fl-col-bg-overlay .fl-col-content {position: relative;}
.fl-col-bg-overlay .fl-col-content:after {border-radius: inherit;content: "";display: block;position: absolute;top: 0;right: 0;bottom: 0;left: 0;z-index: 0;}
.fl-col-bg-overlay .fl-module {position: relative;z-index: 2;}
.fl-module img {max-width: 100%;}
.fl-builder-module-template {margin: 0 auto;max-width: 1100px;padding: 20px;}
.fl-builder-content a.fl-button, .fl-builder-content a.fl-button:visited {border-radius: 4px;-moz-border-radius: 4px;-webkit-border-radius: 4px;display: inline-block;font-size: 16px;font-weight: normal;line-height: 18px;padding: 12px 24px;text-decoration: none;text-shadow: none;}
.fl-builder-content .fl-button:hover {text-decoration: none;}
.fl-builder-content .fl-button:active {position: relative;top: 1px;}
.fl-builder-content .fl-button-width-full .fl-button {display: block;text-align: center;}
.fl-builder-content .fl-button-width-custom .fl-button {display: inline-block;text-align: center;max-width: 100%;}
.fl-builder-content .fl-button-left {text-align: left;}
.fl-builder-content .fl-button-center {text-align: center;}
.fl-builder-content .fl-button-right {text-align: right;}
.fl-builder-content .fl-button i {font-size: 1.3em;height: auto;margin-right: 8px;vertical-align: middle;width: auto;}
.fl-builder-content .fl-button i.fl-button-icon-after {margin-left: 8px;margin-right: 0;}
.fl-builder-content .fl-button-has-icon .fl-button-text {vertical-align: middle;}
.fl-icon-wrap {display: inline-block;}
.fl-icon {display: table-cell;vertical-align: middle;}
.fl-icon a {text-decoration: none;}
.fl-icon i {float: left;height: auto;width: auto;}
.fl-icon i:before {border: none !important;height: auto;width: auto;}
.fl-icon-text {display: table-cell;text-align: left;padding-left: 15px;vertical-align: middle;}
.fl-icon-text-empty {display: none;}
.fl-icon-text *:last-child {margin: 0 !important;padding: 0 !important;}
.fl-icon-text a {text-decoration: none;}
.fl-icon-text span {display: block;}
.fl-icon-text span.mce-edit-focus {min-width: 1px;}
.fl-photo {line-height: 0;position: relative;}
.fl-photo-align-left {text-align: left;}
.fl-photo-align-center {text-align: center;}
.fl-photo-align-right {text-align: right;}
.fl-photo-content {display: inline-block;line-height: 0;position: relative;max-width: 100%;}
.fl-photo-img-svg {width: 100%;}
.fl-photo-content img {display: inline;height: auto;max-width: 100%;}
.fl-photo-crop-circle img {-webkit-border-radius: 100%;-moz-border-radius: 100%;border-radius: 100%;}
.fl-photo-caption {font-size: 13px;line-height: 18px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.fl-photo-caption-below {padding-bottom: 20px;padding-top: 10px;}
.fl-photo-caption-hover {background: rgba(0,0,0,.7);bottom: 0;color: #fff;left: 0;opacity: 0;filter: alpha(opacity=0);padding: 10px 15px;position: absolute;right: 0;-webkit-transition: opacity .3s ease-in;-moz-transition: opacity .3s ease-in;transition: opacity .3s ease-in;}
.fl-photo-content:hover .fl-photo-caption-hover {opacity: 100;filter: alpha(opacity=100);}
.fl-builder-pagination, .fl-builder-pagination-load-more {padding: 40px 0;}
.fl-builder-pagination ul.page-numbers {list-style: none;margin: 0;padding: 0;text-align: center;}
.fl-builder-pagination li {display: inline-block;list-style: none;margin: 0;padding: 0;}
.fl-builder-pagination li a.page-numbers, .fl-builder-pagination li span.page-numbers {border: 1px solid #e6e6e6;display: inline-block;padding: 5px 10px;margin: 0 0 5px;}
.fl-builder-pagination li a.page-numbers:hover, .fl-builder-pagination li span.current {background: #f5f5f5;text-decoration: none;}
.fl-slideshow, .fl-slideshow * {-webkit-box-sizing: content-box;-moz-box-sizing: content-box;box-sizing: content-box;}
.fl-slideshow .fl-slideshow-image img {max-width: none !important;}
.fl-slideshow-social {line-height: 0 !important;}
.fl-slideshow-social * {margin: 0 !important;}
.fl-builder-content .bx-wrapper .bx-viewport {background: transparent;border: none;box-shadow: none;-moz-box-shadow: none;-webkit-box-shadow: none;left: 0;}
.mfp-wrap button.mfp-arrow, .mfp-wrap button.mfp-arrow:active, .mfp-wrap button.mfp-arrow:hover, .mfp-wrap button.mfp-arrow:focus {background: transparent !important;border: none !important;outline: none;position: absolute;top: 50%;box-shadow: none !important;-moz-box-shadow: none !important;-webkit-box-shadow: none !important;}
.mfp-wrap .mfp-close, .mfp-wrap .mfp-close:active, .mfp-wrap .mfp-close:hover, .mfp-wrap .mfp-close:focus {background: transparent !important;border: none !important;outline: none;position: absolute;top: 0;box-shadow: none !important;-moz-box-shadow: none !important;-webkit-box-shadow: none !important;}
.admin-bar .mfp-wrap .mfp-close, .admin-bar .mfp-wrap .mfp-close:active, .admin-bar .mfp-wrap .mfp-close:hover, .admin-bar .mfp-wrap .mfp-close:focus {top: 32px !important;}
img.mfp-img {padding: 0;}
.mfp-counter {display: none;}
.mfp-wrap .mfp-preloader.fa {font-size: 30px;}
.fl-form-field {margin-bottom: 15px;}
.fl-form-field input.fl-form-error {border-color: #dd6420;}
.fl-form-error-message {clear: both;color: #dd6420;display: none;padding-top: 8px;font-size: 12px;font-weight: lighter;}
.fl-form-button-disabled {opacity: .5;}
.fl-animation {opacity: 0;}
.fl-builder-preview .fl-animation, .fl-builder-edit .fl-animation, .fl-animated {opacity: 1;}
.fl-animated {animation-fill-mode: both;-webkit-animation-fill-mode: both;}
.fl-button.fl-button-icon-animation i {width: 0 !important;opacity: 0;-ms-filter: "alpha(opacity=0)";transition: all .2s ease-out;-webkit-transition: all .2s ease-out;}
.fl-button.fl-button-icon-animation:hover i {opacity: 1 !important;-ms-filter: "alpha(opacity=100)";}
.fl-button.fl-button-icon-animation i.fl-button-icon-after {margin-left: 0px !important;}
.fl-button.fl-button-icon-animation:hover i.fl-button-icon-after {margin-left: 10px !important;}
.fl-button.fl-button-icon-animation i.fl-button-icon-before {margin-right: 0 !important;}
.fl-button.fl-button-icon-animation:hover i.fl-button-icon-before {margin-right: 20px !important;margin-left: -10px;}
.single:not(.woocommerce).single-fl-builder-template .fl-content {width: 100%;}
.fl-builder-layer {position: absolute;top: 0;left: 0;right: 0;bottom: 0;z-index: 0;pointer-events: none;overflow: hidden;}
.fl-builder-shape-layer {z-index: 0;}
.fl-builder-shape-layer.fl-builder-bottom-edge-layer {z-index: 1;}
.fl-row-bg-overlay .fl-builder-shape-layer {z-index: 1;}
.fl-row-bg-overlay .fl-builder-shape-layer.fl-builder-bottom-edge-layer {z-index: 2;}
.fl-row-has-layers .fl-row-content {z-index: 1;}
.fl-row-bg-overlay .fl-row-content {z-index: 2;}
.fl-builder-layer > * {display: block;position: absolute;top: 0;left: 0;width: 100%;}
.fl-builder-layer + .fl-row-content {position: relative;}
.fl-builder-layer .fl-shape {fill: #aaa;stroke: none;stroke-width: 0;width: 100%;}
.fl-row-content-wrap {margin: 0px;}
.fl-row-content-wrap {padding: 20px;}
.fl-row-fixed-width {max-width: 1100px;}
.fl-module-content {margin: 20px;}
@media (max-width: 992px) {.fl-visible-desktop, .fl-visible-mobile, .fl-col-group .fl-visible-desktop.fl-col, .fl-col-group .fl-visible-mobile.fl-col {display: none;}
	.fl-visible-desktop-medium, .fl-visible-medium, .fl-visible-medium-mobile, .fl-col-group .fl-visible-desktop-medium.fl-col, .fl-col-group .fl-visible-medium.fl-col, .fl-col-group .fl-visible-medium-mobile.fl-col {display: block;}
	.fl-col-group-equal-height .fl-visible-desktop-medium.fl-col, .fl-col-group-equal-height .fl-visible-medium.fl-col, .fl-col-group-equal-height .fl-visible-medium-mobile.fl-col {display: flex;}}
@media (max-width: 768px) {.fl-visible-desktop, .fl-visible-desktop-medium, .fl-visible-medium, .fl-col-group .fl-visible-desktop.fl-col, .fl-col-group .fl-visible-desktop-medium.fl-col, .fl-col-group .fl-visible-medium.fl-col, .fl-col-group-equal-height .fl-visible-desktop-medium.fl-col, .fl-col-group-equal-height .fl-visible-medium.fl-col {display: none;}
	.fl-visible-medium-mobile, .fl-visible-mobile, .fl-col-group .fl-visible-medium-mobile.fl-col, .fl-col-group .fl-visible-mobile.fl-col {display: block;}
	.fl-row-content-wrap {background-attachment: scroll !important;}
	.fl-row-bg-parallax .fl-row-content-wrap {background-attachment: scroll !important;background-position: center center !important;}
	.fl-col-group.fl-col-group-equal-height {display: block;}
	.fl-col-group.fl-col-group-equal-height.fl-col-group-custom-width {display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex;}
	.fl-col-group.fl-col-group-responsive-reversed {display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -moz-flex;display: -webkit-flex;display: flex;flex-flow: row wrap;-ms-box-orient: horizontal;-webkit-flex-flow: row wrap;}
	.fl-col-group.fl-col-group-responsive-reversed .fl-col {-webkit-box-flex: 0 0 100%;-moz-box-flex: 0 0 100%;-webkit-flex: 0 0 100%;-ms-flex: 0 0 100%;flex: 0 0 100%;max-width: 100%;}
	.fl-col-group-responsive-reversed .fl-col:nth-of-type(1) {-webkit-box-ordinal-group: 12;-moz-box-ordinal-group: 12;-ms-flex-order: 12;-webkit-order: 12;order: 12;}
	.fl-col-group-responsive-reversed .fl-col:nth-of-type(2) {-webkit-box-ordinal-group: 11;-moz-box-ordinal-group: 11;-ms-flex-order: 11;-webkit-order: 11;order: 11;}
	.fl-col-group-responsive-reversed .fl-col:nth-of-type(3) {-webkit-box-ordinal-group: 10;-moz-box-ordinal-group: 10;-ms-flex-order: 10;-webkit-order: 10;order: 10;}
	.fl-col-group-responsive-reversed .fl-col:nth-of-type(4) {-webkit-box-ordinal-group: 9;-moz-box-ordinal-group: 9;-ms-flex-order: 9;-webkit-order: 9;order: 9;}
	.fl-col-group-responsive-reversed .fl-col:nth-of-type(5) {-webkit-box-ordinal-group: 8;-moz-box-ordinal-group: 8;-ms-flex-order: 8;-webkit-order: 8;order: 8;}
	.fl-col-group-responsive-reversed .fl-col:nth-of-type(6) {-webkit-box-ordinal-group: 7;-moz-box-ordinal-group: 7;-ms-flex-order: 7;-webkit-order: 7;order: 7;}
	.fl-col-group-responsive-reversed .fl-col:nth-of-type(7) {-webkit-box-ordinal-group: 6;-moz-box-ordinal-group: 6;-ms-flex-order: 6;-webkit-order: 6;order: 6;}
	.fl-col-group-responsive-reversed .fl-col:nth-of-type(8) {-webkit-box-ordinal-group: 5;-moz-box-ordinal-group: 5;-ms-flex-order: 5;-webkit-order: 5;order: 5;}
	.fl-col-group-responsive-reversed .fl-col:nth-of-type(9) {-webkit-box-ordinal-group: 4;-moz-box-ordinal-group: 4;-ms-flex-order: 4;-webkit-order: 4;order: 4;}
	.fl-col-group-responsive-reversed .fl-col:nth-of-type(10) {-webkit-box-ordinal-group: 3;-moz-box-ordinal-group: 3;-ms-flex-order: 3;-webkit-order: 3;order: 3;}
	.fl-col-group-responsive-reversed .fl-col:nth-of-type(11) {-webkit-box-ordinal-group: 2;-moz-box-ordinal-group: 2;-ms-flex-order: 2;-webkit-order: 2;order: 2;}
	.fl-col-group-responsive-reversed .fl-col:nth-of-type(12) {-webkit-box-ordinal-group: 1;-moz-box-ordinal-group: 1;-ms-flex-order: 1;-webkit-order: 1;order: 1;}
	.fl-col {clear: both;float: none;margin-left: auto;margin-right: auto;width: auto !important;}
	.fl-col-small:not(.fl-col-small-full-width) {max-width: 400px;}
	.fl-block-col-resize {display: none;}
	.fl-row[data-node] .fl-row-content-wrap {margin: 0;padding-left: 0;padding-right: 0;}
	.fl-row[data-node] .fl-bg-video, .fl-row[data-node] .fl-bg-slideshow {left: 0;right: 0;}
	.fl-col[data-node] .fl-col-content {margin: 0;padding-left: 0;padding-right: 0;}}
.page .fl-post-header, .single-fl-builder-template .fl-post-header {display: none;}
.fl-node-5d94ed9dc040e .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5d94ed9dc040e .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5d94ed9dc040e .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
.fl-node-5d94ed9dc040e > .fl-row-content-wrap {background-color: #fff;}
.fl-node-5d94ed9dc040e .fl-row-content {max-width: 1332px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5d94ed9dc040e > .fl-row-content-wrap {margin-top: 0px;}
.fl-node-5d94ed9dc040e > .fl-row-content-wrap {padding-top: 0px;padding-bottom: 0px;}
.fl-node-5e7e4ad9aaaf3 {width: 25%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5d94ed9dc0408 {width: 25%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5d94ed9dc0409 {width: 25%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5d94ed9dc040a {width: 25%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.pp-photo-container .pp-photo-align-left {text-align: left;}
.pp-photo-container .pp-photo-align-center {text-align: center;}
.pp-photo-container .pp-photo-align-right {text-align: right;}
.pp-photo {line-height: 0;position: relative;}
.pp-photo-align-left {text-align: left;}
.pp-photo-align-center {text-align: center;}
.pp-photo-align-right {text-align: right;}
.pp-photo-content {display: inline-block;line-height: 0;position: relative;max-width: 100%;}
.pp-photo-content img {display: inline;max-width: 100%;}
.pp-photo-crop-circle img {-webkit-border-radius: 100% !important;-moz-border-radius: 100% !important;border-radius: 100% !important;}
.pp-photo-caption {font-size: 13px;line-height: 18px;overflow: hidden;text-overflow: ellipsis;white-space: normal;width: 100%;}
.pp-photo-caption-below {padding-bottom: 20px;padding-top: 10px;}
.pp-photo-caption-overlay {bottom: 0;color: #fff;left: 0;padding: 10px 15px;position: absolute;right: 0;-webkit-transition: opacity .3s ease-in;-moz-transition: opacity .3s ease-in;transition: opacity .3s ease-in;}
.pp-overlay-wrap .pp-overlay-bg {bottom: 0;content: "";left: 0;opacity: 0;position: absolute;right: 0;top: 0;-webkit-transition: opacity .3s linear;-moz-transition: opacity .3s linear;-o-transition: opacity .3s linear;-ms-transition: opacity .3s linear;transition: opacity .3s linear;}
.pp-photo-caption-hover {left: 50%;opacity: 0;position: absolute;top: 50%;-webkit-transform: translate(-50%,-50%);-moz-transform: translate(-50%,-50%);-o-transform: translate(-50%,-50%);-ms-transform: translate(-50%,-50%);transform: translate(-50%,-50%);-webkit-transition: opacity .3s linear;-moz-transition: opacity .3s linear;-o-transition: opacity .3s linear;-ms-transition: opacity .3s linear;transition: opacity .3s linear;}
.pp-photo-container .pp-photo-content:hover .pp-overlay-bg, .pp-photo-container .pp-photo-content:hover .pp-photo-caption-hover {opacity: 1;-webkit-transition: opacity .3s linear;-moz-transition: opacity .3s linear;-o-transition: opacity .3s linear;-ms-transition: opacity .3s linear;transition: opacity .3s linear;}
.pp-photo-container a:focus {outline: none;}
.pp-photo-container .pp-photo-content .pp-photo-content-inner {overflow: hidden;position: relative;}
.pp-photo-content-inner img {-webkit-transition-duration: .3s;-moz-transition-duration: .3s;-ms-transition-duration: .3s;-o-transition-duration: .3s;transition-duration: .3s;}
.fl-node-5d94ed9dc040b .pp-photo-container .pp-photo-content {}
.fl-node-5d94ed9dc040b .pp-photo-container .pp-photo-content .pp-photo-content-inner {background-clip: border-box;border-top-left-radius: px;border-top-right-radius: px;border-bottom-left-radius: px;border-bottom-right-radius: px;transition: all .3s ease-in-out;}
.fl-node-5d94ed9dc040b .pp-photo-container .pp-photo-content:hover .pp-photo-content-inner {}
.fl-node-5d94ed9dc040b .pp-photo-container .pp-photo-content .pp-photo-content-inner a {display: block;text-decoration: none !important;}
.fl-node-5d94ed9dc040b .pp-photo-container .pp-photo-content .pp-photo-content-inner img {border-color: #000;border-style: none;border-width: 1px;border-top-left-radius: px;border-top-right-radius: px;border-bottom-left-radius: px;border-bottom-right-radius: px;}
.fl-node-5d94ed9dc040b .pp-photo-caption {background-color: #ddd;color: #000;}
.fl-node-5d94ed9dc040b .pp-overlay-wrap .pp-overlay-bg {background-color: #ddd;border-top-left-radius: px;border-top-right-radius: px;border-bottom-left-radius: px;border-bottom-right-radius: px;}
@media only screen and (max-width: 768px) {.pp-photo-container .pp-photo-align-responsive-left {text-align: left !important;}
	.pp-photo-container .pp-photo-align-responsive-center {text-align: center !important;}
	.pp-photo-container .pp-photo-align-responsive-right {text-align: right !important;}}
.fl-node-5d94ed9dc040b .pp-photo-container .pp-photo-content .pp-photo-content-inner {padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;}
.fl-node-5d94ed9dc040b .pp-photo-container .pp-photo-content .pp-photo-content-inner img {width: 130px;}
.fl-node-5d94ed9dc040b .pp-photo-caption {padding-top: 10px;padding-right: 10px;padding-bottom: 10px;padding-left: 10px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5d94ed9dc040b > .fl-module-content {margin-top: 5px;margin-bottom: 5px;}
a.pp-button, a.pp-button:visited {display: inline-block;overflow: hidden;position: relative;text-decoration: none;text-shadow: none;-webkit-transform: translateZ(0);-moz-transform: translateZ(0);-o-transform: translateZ(0);-ms-transform: translateZ(0);transform: translateZ(0);-webkit-transition: all .3s linear;-moz-transition: all .3s linear;-o-transition: all .3s linear;-ms-transition: all .3s linear;transition: all .3s linear;}
.pp-button:hover {text-decoration: none;}
.pp-button:active {position: relative;top: 1px;}
.pp-button-width-full .pp-button {display: block;text-align: center;}
.pp-button-width-custom .pp-button {display: inline-block;text-align: center;max-width: 100%;}
.pp-button-left {text-align: left;}
.pp-button-center {text-align: center;}
.pp-button-right {text-align: right;}
.pp-button i {font-size: 1.3em;height: auto;margin-right: 8px;vertical-align: middle;width: auto;}
.pp-button i.pp-button-icon-after {margin-left: 8px;margin-right: 0;}
.pp-button-has-icon .pp-button-text {vertical-align: middle;}
.pp-button-wrap a.pp-button:before {position: absolute;z-index: -1;top: 0;left: 0;right: 0;bottom: 0;-webkit-transition-property: transform;-moz-transition-property: transform;-o-transition-property: transform;-ms-transition-property: transform;transition-property: transform;-webkit-transition-timing-function: ease-out;-moz-transition-timing-function: ease-out;-o-transition-timing-function: ease-out;-ms-transition-timing-function: ease-out;transition-timing-function: ease-out;}
.pp-button .dashicons, .pp-button .dashicons-before:before {font-size: inherit;height: auto;width: auto;}
@media (max-width: 768px) {.fl-module-button .pp-button-left, .fl-module-button .pp-button-right {text-align: center;}}
.fl-node-5d94ed9dc040c .pp-button-wrap a.pp-button, .fl-node-5d94ed9dc040c .pp-button-wrap a.pp-button:visited {text-decoration: none;background: #fff;background-clip: border-box;}
.fl-node-5d94ed9dc040c .pp-button-wrap a.pp-button:hover, .fl-node-5d94ed9dc040c .pp-button-wrap a.pp-button:focus {text-decoration: none;background: #fff;}
.fl-node-5d94ed9dc040c .pp-button .pp-button-icon {font-size: 16px;}
.fl-node-5d94ed9dc040c a.pp-button {-webkit-transition: all .3s ease 0s;-moz-transition: all .3s ease 0s;-o-transition: all .3s ease 0s;-ms-transition: all .3s ease 0s;transition: all .3s ease 0s;}
.fl-node-5d94ed9dc040c a.pp-button, .fl-node-5d94ed9dc040c a.pp-button * {color: #07356b;}
.fl-node-5d94ed9dc040c a.pp-button:hover, .fl-node-5d94ed9dc040c a.pp-button:focus, .fl-node-5d94ed9dc040c a.pp-button:hover *, .fl-node-5d94ed9dc040c a.pp-button:focus * {color: #07356b;}
.fl-node-5d94ed9dc040c .pp-button-wrap a.pp-button, .fl-node-5d94ed9dc040c .pp-button-wrap a.pp-button:visited {transition-duration: 500ms;}
@media only screen and (max-width: 992px) {.fl-node-5d94ed9dc040c .pp-button-wrap {text-align: ;}
	.fl-node-5d94ed9dc040c .pp-button-wrap a.pp-button, .fl-node-5d94ed9dc040c .pp-button-wrap a.pp-button:visited {}}
@media only screen and (max-width: 768px) {.fl-node-5d94ed9dc040c .pp-button-wrap {text-align: ;}
	.fl-node-5d94ed9dc040c .pp-button-wrap a.pp-button, .fl-node-5d94ed9dc040c .pp-button-wrap a.pp-button:visited {}}
.fl-node-5d94ed9dc040c .pp-button-wrap {text-align: right;}
.fl-node-5d94ed9dc040c a.pp-button {padding-top: 5px;padding-right: 15px;padding-bottom: 5px;padding-left: 15px;}
.fl-node-5d94ed9dc040c .pp-button-wrap a.pp-button, .fl-node-5d94ed9dc040c .pp-button-wrap a.pp-button:visited {border-top-left-radius: 15px;border-top-right-radius: 15px;border-bottom-left-radius: 15px;border-bottom-right-radius: 15px;}
.fl-node-5d94ed9dc040c .pp-button-wrap a.pp-button:hover, .fl-node-5d94ed9dc040c .pp-button-wrap a.pp-button:focus {border-top-left-radius: 15px;border-top-right-radius: 15px;border-bottom-left-radius: 15px;border-bottom-right-radius: 15px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5d94ed9dc040c > .fl-module-content {margin-top: 0px;margin-bottom: 0px;}
@media (max-width: 768px) {.fl-module-icon {text-align: center;}}
.fl-node-5d94ed9dc040d .fl-module-content .fl-icon i, .fl-node-5d94ed9dc040d .fl-module-content .fl-icon i:before {color: #07356b;}
.fl-node-5d94ed9dc040d .fl-module-content .fl-icon i, .fl-node-5d94ed9dc040d .fl-module-content .fl-icon i:before {font-size: 20px;}
.fl-node-5d94ed9dc040d .fl-module-content .fl-icon-text {height: 35px;}
.fl-node-5d94ed9dc040d.fl-module-icon {text-align: center;}
.fl-node-5d94ed9dc040d .fl-icon-text, .fl-node-5d94ed9dc040d .fl-icon-text-link {color: #07356b;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5d94ed9dc040d > .fl-module-content {margin-top: 0px;margin-bottom: 0px;}
.fl-builder-content[data-type="header"].bb-powerpack-header-sticky {left: 0;position: fixed;right: 0;top: 0;width: 100%;z-index: 100;}
.admin-bar .fl-builder-content[data-type="header"].bb-powerpack-header-sticky {top: 32px;}
.fl-builder-content[data-shrink="1"] .fl-row-content-wrap, .fl-builder-content[data-shrink="1"] .fl-col-content, .fl-builder-content[data-shrink="1"] .fl-module-content, .fl-builder-content[data-shrink="1"] img {-webkit-transition: all .3s ease-in-out,background-position 1ms;-moz-transition: all .3s ease-in-out,background-position 1ms;transition: all .3s ease-in-out,background-position 1ms;}
.fl-builder-content[data-shrink="1"] img {width: auto;}
.fl-builder-content[data-type="header"].bb-powerpack-header-shrink .fl-row-content-wrap {margin-bottom: 0;margin-top: 0;}
.bb-powerpack-header-shrink-row-bottom.fl-row-content-wrap {padding-bottom: 5px;}
.bb-powerpack-header-shrink-row-top.fl-row-content-wrap {padding-top: 5px;}
.fl-builder-content[data-type="header"].bb-powerpack-header-shrink .fl-col-content {margin-bottom: 0;margin-top: 0;padding-bottom: 0;padding-top: 0;}
.bb-powerpack-header-shrink-module-bottom.fl-module-content {margin-bottom: 5px;}
.bb-powerpack-header-shrink-module-top.fl-module-content {margin-top: 5px;}
.fl-builder-content[data-type="header"].bb-powerpack-header-shrink img {max-height: 50px;}
.fl-builder-content[data-overlay="1"]:not(.bb-powerpack-header-sticky) {position: absolute;width: 100%;z-index: 100;}
.fl-builder-edit body:not(.single-fl-theme-layout) .fl-builder-content[data-overlay="1"] {display: none;}
body:not(.single-fl-theme-layout) .fl-builder-content[data-overlay="1"]:not(.bb-powerpack-header-scrolled):not([data-overlay-bg="default"]) .fl-row-content-wrap, body:not(.single-fl-theme-layout) .fl-builder-content[data-overlay="1"]:not(.bb-powerpack-header-scrolled):not([data-overlay-bg="default"]) .fl-col-content {background: transparent;}
.fl-builder-row-settings #fl-field-separator_position {display: none !important;}