<mat-card-header style="background-color:rgb(5, 53, 107);margin:0px;padding:20px">
  <mat-card-title style="font-family: Roboto;font-size: 1.3em; font-weight: 700; margin-bottom:15px; color:white">Confirma la Transacción</mat-card-title>
</mat-card-header>
<mat-card-content style="padding:20px">
  <div class="row">
    <h1>
      {{data.producto}}
    </h1>
  </div>
  <div class="row">
    <h4>
      Las unidades retiradas por vencimiento son: {{vencimiento}}
    </h4>
  </div>
  <div class="row">
    <h4>
      Las unidades retiradas por daño o averia son: {{averia}}
    </h4>
  </div>
  <div class="row">
    <h4>
      Las unidades retiradas por devolucion al proveedor son: {{devolucion}}
    </h4>
  </div>
  <div class="row">
    <h4>
      Las unidades retiradas por traslado de mercancia son: {{traslado}}
    </h4>
  </div>
  <div class="row">
    <h4>
      Las unidades retiradas por robo son: {{robo}}
    </h4>
  </div>
</mat-card-content>