<div class="container row">
  <mat-card class="col-sm-12 col-mat-12	col-lg-12 col-xl-12">
    <mat-card-title >Gestión de Attributos
      <span class="tky-right example-margin" >Notas</span>
    </mat-card-title>
    <mat-card-content>
      <form novalidate [formGroup]="form">
        <div class="row">
          <div class="col col-sm-12	col-mat-7	col-lg-7 col-xl-7 text-center">
                <strong>Visualización Detalle</strong>
                <mat-nav-list>
                    <mat-list-item *ngFor="let attributePOSTList of attributeValuePOSTList">
                        <a matLine href="...">
                            Atributo: {{ attributePOSTList.attribute.common.name }} <br>
                            Valor: {{ attributePOSTList.value.name_attrib_value }}
                         </a>

                        <button mat-icon-button (click)="removeAttributeValue(attributePOSTList)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </mat-list-item>
                </mat-nav-list>
          </div>
          <div class="col col-sm-12	col-mat-5	col-lg-5 col-xl-5 text-center">
              <strong>Panel Seleccionable</strong>
              <div class="row example-full-width">
                <span>
                    <mat-form-field class="example-full-width"  >
                        <mat-select  placeholder=" Atributo " formControlName="selectAttribute">
                            <mat-option *ngFor="let attribute of attributes" [value]="attribute">
                              {{ attribute.common.name }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="form.controls.selectAttribute.errors && form.controls.selectAttribute.touched">
                            <mat-error *ngIf="form.controls.selectAttribute.errors.required">
                                El Attributo es <strong>requerido</strong>
                            </mat-error>
                        </mat-error>
                    </mat-form-field>
                    
                </span>
                <span class="fill-space"></span>
                <span>
                    <mat-icon (click)="addAttribute()">add</mat-icon>
                </span>
                  
              </div>
              <div class="row" *ngIf="activateValue">
                  <div class="col  col-sm-11 col-mat-11	col-lg-11 col-xl-11">
                    <mat-form-field class="example-full-width"  >
                        <mat-select  placeholder="Valor de Atributo" formControlName="selectAttributeValue">
                            <mat-option *ngFor="let attributeValue of attributeValues" [value]="attributeValue">
                                {{ attributeValue.name_attrib_value }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="form.controls.selectAttributeValue.errors && form.controls.selectAttributeValue.touched">
                            <mat-error *ngIf="form.controls.selectAttributeValue.errors.required">
                                Valor del Attributo es <strong>requerido</strong>
                            </mat-error>
                        </mat-error>
                    </mat-form-field>

                  </div>
                <div class="col col-sm-1 col-mat-1	col-lg-1 col-xl-1">
                  <span>
                    <mat-icon (click)="addAttribute(true)">add</mat-icon>
                  </span>
                </div>
                  
              </div>

              <div class="row example-full-width">
                  <button mat-button [disabled]="!IsValueToAdd" (click)="addAttributeDetailList()" > Agregar Detalle de Attributo </button>                  
              </div>
          </div>
          <div  *ngIf="IsCreateAttr" class="col text-center">
              <span>Crear Attributos</span>

          </div>
        </div>
      
      </form>
    </mat-card-content>

    <button mat-button routerLink="/dashboard/business/attribute"> Atras </button>
    <button mat-fab color="primary"  (click)="save()"  class="tky-right"> <mat-icon>save</mat-icon>    </button>

  </mat-card>
</div>
