<div class="ContenedorSidebar">
    <div class="UsarEspacioFijo">
        <!--        tarjeta que contiene toda la parte de arriba-->
        <mat-card [style.width]="compressed? '75px':'250px'" style="z-index: 10;padding:15px;margin-right:0px" id="leftcol">
            <!--            Tarjeta que contiene titulo, listado de tiendas y nombre usuario-->
            <mat-card-content style="">
                <img src={{imgurl}} onError="this.src='https://www.pngitem.com/pimgs/m/75-759411_clip-art-shop-logo-transparent-shop-logo-png.png'" class="logo"/> 
                <!--                Nombre de tienda-->
                <mat-card-title *ngIf="!compressed" style="font-size: 1.2em; font-weight: 700; margin-bottom:10px"> {{thirdFather?.info.fullname ? thirdFather?.info.fullname: 'Tienda 724'}}</mat-card-title>
                <mat-card-title *ngIf="!compressed && locStorage.getRol()[0].id_rol==8888" style="font-size: 1.2em; font-weight: 700; margin-bottom:10px"> {{storeName}}</mat-card-title>
                <!--                Contenedor listado de tiendas-->
                <mat-form-field *ngIf="!compressed && locStorage.getRol()[0].id_rol!=8888">
                    <mat-label>Seleccione tienda</mat-label>
                    <mat-select [(ngModel)]="SelectedStore" (change) = "setIdStore()">
                        <mat-option *ngFor="let elem of Stores" [value]="elem.id_STORE">
                            {{elem.store_NAME}}
                        </mat-option>
                    </mat-select>
                </mat-form-field> 
                <!--                Expandible en el nombre de usuario-->
                <mat-expansion-panel *ngIf="!compressed" style="border:0px;box-shadow: none !important; width:100%;padding:0px;margin:0px;margin-top:-20px;margin-bottom:-10px;">
                    <!--                    Mostrar nombre-->
                    <mat-expansion-panel-header style="padding:0px;margin:0px">
                        <mat-panel-title style="font-size: 0.9;font-weight: 300;text-emphasis: left;">
                            {{person?.first_name}} {{person?.first_lastname}}
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <!--                    Opciones del expandible-->
                    <mat-list>
                        <!--                        Primera opción, los ROLES-->
                        <mat-list-item>
                            <mat-icon mat-list-icon style="color: lightslategrey">supervised_user_circle</mat-icon>
                            <h4 mat-line style="color: lightslategrey">Sus roles son:</h4>
                            <p mat-line *ngFor="let rol of token.roles" style="color: lightslategrey">{{token.roles.length>1? rol.rol+"/":rol.rol}}</p>
                        </mat-list-item>
                        <!--                        Segunda opción, datos-->
                        <mat-list-item>
                            <mat-icon mat-list-icon style="color: lightslategrey">assignment_ind</mat-icon>
                            <h4 mat-line style="color: lightslategrey">Sus documento es:</h4>
                            <p mat-line style="color: lightslategrey" *ngIf="person.info.type_document && person.info.document_number">{{person?.info.type_document}}: {{person?.info.document_number}}</p>
                            <p mat-line style="color: lightslategrey">Id de usuario: {{person?.uuid.UUID}}</p>
                        </mat-list-item>
                    </mat-list>
                    <!--                    Boton de cerrar sesión-->
                    <mat-list style="margin-left:-10px" >
                        <mat-list-item (click)="logout()" style="cursor:pointer;">
                            <mat-icon mat-list-icon style="color: lightslategrey">exit_to_app</mat-icon>
                            <h4 style="font-weight: 700;font-size:0.9em; color:rgb(43, 43, 43)" mat-line>Cerrar Sesión</h4>
                        </mat-list-item>
                    </mat-list>
                </mat-expansion-panel>
                <!--                Otro boton de cerrar sesión-->
                <mat-list *ngIf="compressed" style="margin-left:-10px" >
                    <mat-list-item (click)="logout()" style="cursor:pointer;">
                        <mat-icon mat-list-icon style="color: lightslategrey">exit_to_app</mat-icon>
                        <!-- <h4 style="font-weight: 700;font-size:0.9em; color:rgb(43, 43, 43)" mat-line>Cerrar Sesión</h4> -->
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </div>
<!--Contenedor ya de los menus del sidebar-->
    <div [ngClass]="!compressed ? 'UsarRestoEspacio':'UsarRestoEspacioColapsado'">
<!--        Tarjeta que contiene todas las opciones-->
        <mat-card [style.width]="compressed? '75px':'250px'" style="z-index: 1;padding:15px;margin-right:0px;height: calc(100% - 60px); overflow-y: auto;background: none;">
<!--            Tarjeta que se instancia Fpara cada opción del sidebar, esto es un item-->
            <mat-card *ngFor="let menu of menusLista" class="itemContainer">
                <mat-expansion-panel *ngIf="menu.submenus" style="border:0px;box-shadow: none !important; width:100%;padding:0px;margin:0px">
                    <mat-expansion-panel-header style="padding:0px">
                        <mat-list style="margin-left:-10px">
                            <mat-list-item>
                                <mat-icon mat-list-icon style="color: lightslategrey">{{menu.icon}}</mat-icon>
                                <h4 style="font-weight: 700;font-size:0.9em; color:rgb(43, 43, 43)" mat-line>{{menu.name}}</h4>
                            </mat-list-item>
                        </mat-list>
                    </mat-expansion-panel-header>
                    <mat-list>
                        <mat-list-item *ngFor="let submenu of menu.submenus" (click)="gotoMenu(submenu)" style="cursor:pointer;">
                            <mat-icon mat-list-icon style="color: lightslategrey">{{submenu.icon}}</mat-icon>
                            <h4 style="font-weight: 700;font-size:0.9em; color:rgb(43, 43, 43)" mat-line>{{submenu.name}}</h4>
                        </mat-list-item>
                    </mat-list>
                </mat-expansion-panel>
                <mat-list style="margin-left:-10px;margin-right:-10px">
                    <mat-list-item (click)="gotoMenu(menu)" style="cursor:pointer;"[ngClass]="menu.activo  ? 'item_active':''" [ngClass]="!menu.activo ? 'item':''">
                        <mat-icon mat-list-icon style="">{{menu.icono}}</mat-icon>
                        <h4 *ngIf="!compressed" style="font-weight: 700;font-size:0.9em;" mat-line>{{menu.nombre}}</h4>
                    </mat-list-item>
                </mat-list>
            </mat-card>
        </mat-card >
        <!--            Tarjeta que contiene el icono del avatar-->
        <mat-card-header *ngIf="!isMobileMenu()" (click)="ComprimirSidebar()" class="ContenedorBarraInferior" [style.width]="compressed? '75px':'250px'">
<!--            <div [style.margin-left]="compressed? '2px':'0px'" mat-card-avatar class="avatar-img"></div>-->
            <div mat-card-avatar class="avatar-img"></div>
            <mat-icon *ngIf="!compressed" class="icono_toggle">play_arrow</mat-icon>
        </mat-card-header>
    </div>
</div>
<!-- 
<div class="logo">
    <div class="logo-img">
        <div *ngIf="thirdFather?.info.img ; else elseBlock ">
            <img class="img-fluid  " [src]="thirdFather?.info.img"/>
        </div>
        <ng-template #elseBlock>
            <img src="/assets/img/logo.ico"/>
        </ng-template>
    </div>
    <h5 class="text-center">
        {{thirdFather?.info.fullname ? thirdFather?.info.fullname: 'Tienda 724'}}
    </h5>
    <a class="text-center" *ngIf="isMobileMenu()">
        <h4 class="title"><b>{{person?.info.fullname}}</b></h4>
    </a>
</div>


<div class="logo">
    <h5 class="text-center">
        Usuario: {{person?.first_name}} {{person?.first_lastname}}
    </h5>  
    <h5 *ngFor="let rol of token.roles" class="text-center"> 
        Su rol es: {{token.roles.length>1? rol.rol+"/":rol.rol}}
    </h5>
    <h5 class="text-center">
        {{person?.info.type_document}}: {{person?.info.document_number}} {{space}} UUID: {{person?.uuid.UUID}}
    </h5>
</div>


<div class="logo">
    <h5 class="text-center">
        {{thirdFather?.info.type_document}}: {{thirdFather?.info.document_number}}
    </h5>
    <h5 class="text-center">
        {{thirdFather?.directory[0].phones[0].phone ? thirdFather?.directory[0].phones[0].phone :''}}
    </h5>
    <h5 class="text-center">
        {{thirdFather?.directory[0].address ? thirdFather?.directory[0].address :''}}, {{thirdFather?.directory[0].city ? thirdFather?.directory[0].city
        :''}}
    </h5>
    <h5 class="text-center">
        {{thirdFather?.directory[0].mails[0].mail ? thirdFather?.directory[0].mails[0].mail :''}}
    </h5>
</div>


<div class="sidebar-wrapper" >
    <div class="sidebar-nav"> -->

<!--         
        <form class="navbar-form navbar-right  nav example-full-width" role="search" *ngIf="isMobileMenu()">
            <div class="form-group form-black is-empty">
                <input type="text" class="form-control" placeholder="Search">
                <span class="material-input"></span>
            </div>
            <button type="submit" class="btn btn-white btn-round btn-just-icon">
                <i class="material-icons">search</i><div class="ripple-container"></div>
            </button>
        </form>   -->
        
        
        <!-- <ul class="navbar-nav nav example-full-width ">
            <li routerLinkActive="active" *ngFor="let menuItem of menuItemsStart" class="example-full-width">
                <a  [routerLink]="[menuItem.path]">
                    <i class="material-icons">{{menuItem.icon}}</i>
                    <p>{{menuItem.title}}</p>
                </a>
            </li>
        </ul> -->


        <!-- <ul class="navbar-nav nav example-full-width ">
            <li routerLinkActive="active" *ngFor="let navItem of menusLista" class="example-full-width">
                <a  [routerLink]="[navItem.ruta]">
                    <i class="material-icons">library_books</i>
                    <p> {{navItem.nombre}}</p>
                </a>
            </li>
            <li routerLinkActive="active" class="example-full-width">
                <a  routerLink="/dashboard/user-profile">
                    <i class="material-icons">library_books</i>
                    <p>Editar Perfil</p>
                </a>
            </li>
            <li routerLinkActive="active" class="example-full-width">
                <a  (click)="logout()" *ngIf="(token)" >
                    <i class="material-icons">library_books</i>
                    <p>Salir</p>
                </a>
            </li>
        </ul> -->

<!-- 
        <ul class="navbar-nav nav example-full-width ">
            <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="example-full-width">
                <a  [routerLink]="[menuItem.path]">
                    <i class="material-icons">{{menuItem.icon}}</i>
                    <p>{{menuItem.title}}</p>
                </a>
            </li>
        </ul> -->


    <!-- </div> 
</div> -->
