.mat-expansion-panel-content > .mat-expansion-panel-body {
    padding: 0 !important;
}
/*Esto es para poder controlar el responsive del sidebar*/
.ContenedorSidebar {
    height: 100vh;
    display: table;
    background-image: url("../../../assets/img/sidebar-4.jpg");
    background-size: cover;
}

.UsarRestoEspacio::before{
    z-index: 1;
    content: "";
    position: fixed;
    width: 250px;
    height: 90%;
    opacity: 0.89;
    background: white;
}
.UsarEspacioFijo {
    display: table-row;
    height: 0;
}
.UsarRestoEspacioColapsado::before{
    content: "";
    position: fixed;
    width: 75px;
    height: 90%;
    opacity: 0.89;
    background: white;
}
.UsarRestoEspacioColapsado {
    display: table-row;
    height: auto;
}

.UsarRestoEspacio {
    display: table-row;
    height: auto;
}

/*Esto es para controlar los items del sidebar*/

.itemContainer{
    border:0px;
    box-shadow: none !important;
    background: none !important;;
    width:100%;
    padding:0px !important;
    margin:0px !important;
}
.item{
    color: lightslategrey;
 /*   color:rgb(43, 43, 43)*/
 }

.item:hover{
    background-color: gray;
    color:white;
}
.item_active{
    background-color: #14d3f9;
    color:white;
    border-radius: 4px;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(244,67,54,.4);
}

/*Esto tiene que ver con ajustes en la parte del avatar y separador*/
.ContenedorBarraInferior{
    bottom: 0;
    position: absolute;
    z-index: 1;
    width: 100%;
    background: #05356b;
    padding-top: 10px;
    padding-bottom: 10px;
}
.icono_toggle{
    color: white;
    right: 10px;
    position: absolute;
    font-size: 40px;
    transform: scale(-1, 1);
}
.avatar-img{
    margin-left: 15px;
    background-image: url('http://www.lindt.fr/fileadmin/Global_content_all_access/new_store_locator/lindt_yvr-01423.jpg');
    background-size: cover;
}

/*.avatar-img::after{
    content: '';
    position: absolute;
    right: 15px;
    height: 3px;
    width: calc(100% - 30px);
    top: 60px;
    background-color: rgba(5, 53, 107);
}*/
.logo{
    width:100%;
    max-width:600px;
}