<!-- /content wrapper for padding -->
<main class="detalle bg_blanco">

    <!-- LOGIN SUPERIOR -->
    <div class="login_sup">
        <div class="login_contenedor uk-flex uk-flex-middle">
            <div class="espacio_logo">
                <figure class="contenedor_logo_sp">
                    <a href="http://postalunal.unal.edu.co/">
                        <img class="logo_sp" src="assets/images/logo_somos_project.png">
                    </a>
                </figure>
            </div>
            <div class="inputs_login" *ngIf="this.locStorage.getLogginState()==0">
                <input type="text" placeholder="usuario" class="log_input" [(ngModel)]="user">
                <input type="password" placeholder="contraseña" class="log_input" [(ngModel)]="password" (keyup.enter)="ingresar()">
                <div class="log_contenedor_boton">
                    <a class="log_boton_ingresar" href="javascript:void(0)" (click)="ingresar()">Iniciar Sesión</a>
                </div>
                <div class="log_contenedor_boton_responsive">
                    <a class="log_boton_ingresar_responsive pointer" onclick="$('#Modal1').show(); abrirModal();">Iniciar Sesión</a>
                </div>
                <!-- <div class="log_contenedor_boton_responsive">
                    <a class="log_boton_ingresar_responsive pointer" (click)="postOnIframe()">Iniciar Sesión</a>
                 </div> -->
            </div>
            <div class="inputs_login" *ngIf=" this.locStorage.getLogginState()==1">
                <a class="cont_general_notification" onclick="$('#notificaciones').slideToggle('slow')" (click)="updateNotificaciones()">
                    <i class="fas fa-bell notification"></i>
                    <div class="cont_notifications" *ngIf="notificaciones.length>0">
                        <div class="contador_notifications" style="color: white !important;"> {{getNewNotif()}} </div>
                    </div>
                </a>

                <div class="bandeja_notificaciones oculto uk-padding-remove" id=" notificaciones " uk-dropdown="pos: top-right; offset:-6">
                    <ul *ngFor="let notificacion of notificaciones " class="uk-padding-remove">
                        <p class="text_bandeja uk-margin-remove" *ngIf=" notificacion.tipo_NOTIFICACION==1 ">
                            <strong>{{notificacion.notificador}}</strong> ha comentado en tu postal. <a class="link_notificacion " onclick="$('#Modal3').show(); abrirModal();" (click)="setModalInfo2(notificacion)">ver comentario</a>
                        </p>
                        <p class="text_bandeja uk-margin-remove" *ngIf="notificacion.tipo_NOTIFICACION==0 ">
                            A <strong>{{notificacion.notificador}}</strong> le gusta tu postal. <a class="link_notificacion " onclick="$('#Modal3').show(); abrirModal();" (click)="setModalInfo2(notificacion)">ver postal</a>
                        </p>
                        <div class="separacion_notificaciones"></div>
                    </ul>
                </div>

                <div class="log_contenedor_boton">
                    <a class="log_boton_ingresar" href="javascript:void(0)" (click)="logout()">Cerrar Sesión</a>
                </div>
                <div class="log_contenedor_boton_responsive">
                    <a class="log_boton_ingresar_responsive pointer" href="javascript:void(0)" (click)="logout()">Cerrar Sesión</a>
                </div>
            </div>
            <div class="inputs_login" *ngIf=" this.locStorage.getLogginState()==2">
                <!-- <div class="log_contenedor_boton">
                    <a class="log_boton_ingresar" (click)="showCoordinates()" >PRUEBA</a>
                </div> -->
                <a class="cont_general_notification" onclick="$('#notificaciones').slideToggle('slow')" (click)="updateNotificaciones()">
                    <i class="fas fa-bell notification"></i>
                    <div class="cont_notifications" *ngIf="notificaciones.length>0">
                        <div class="contador_notifications" style="color: white !important;"> {{getNewNotif()}} </div>
                    </div>
                </a>

                <div class="bandeja_notificaciones oculto uk-padding-remove" id=" notificaciones " uk-dropdown="pos: top-right; offset:-6">
                    <ul *ngFor="let notificacion of notificaciones " class="uk-padding-remove">
                        <p class="text_bandeja uk-margin-remove" *ngIf=" notificacion.tipo_NOTIFICACION==1 ">
                            <strong>{{notificacion.notificador}}</strong> ha comentado en tu postal. <a class="link_notificacion " onclick="$('#Modal3').show(); abrirModal();" (click)="setModalInfo2(notificacion)">ver comentario</a>
                        </p>
                        <p class="text_bandeja uk-margin-remove" *ngIf="notificacion.tipo_NOTIFICACION==0 ">
                            A <strong>{{notificacion.notificador}}</strong> le gusta tu postal. <a class="link_notificacion " onclick="$('#Modal3').show(); abrirModal();" (click)="setModalInfo2(notificacion)">ver postal</a>
                        </p>
                        <div class="separacion_notificaciones"></div>
                    </ul>
                </div>

                <!-- <div class="bandeja_notificaciones oculto " id="notificaciones ">
                    <div *ngFor="let notificacion of notificaciones ">
                        <p class="text_bandeja " *ngIf="notificacion.tipo_NOTIFICACION==1 ">
                            <strong>{{notificacion.notificador}}</strong> ha comentado en tu postal. <a class="link_notificacion " href="# ">ver comentario</a>
                        </p>
                        <p class="text_bandeja " *ngIf="notificacion.tipo_NOTIFICACION==0 ">
                            A <strong>{{notificacion.notificador}}</strong> le gusta tu postal. <a class="link_notificacion " href="# ">ver postal</a>
                        </p>
                        <div class="separacion_notificaciones "></div>
                    </div>
                </div> -->


                <div class="log_contenedor_boton ">
                    <a class="log_boton_ingresar " routerLink="/admin" routerLinkActive="active ">Administración</a>
                </div>
                <div class="log_contenedor_boton ">
                    <a class="log_boton_ingresar " href="javascript:void(0) " (click)="logout() ">Cerrar Sesión</a>
                </div>
                <div class="log_contenedor_boton_responsive ">
                    <a class="log_boton_ingresar_responsive pointer " href="javascript:void(0) " (click)="logout() ">Cerrar Sesión</a>
                </div>
            </div>
        </div>

        <div class="tema ">
            <h3 class="texto_tema ">{{pregunta}}</h3>
        </div>
    </div>
    <!-- FIN LOGIN SUPERIOR -->




    <!-- BOTON GALERIA-->
    <div class="contenedor_galeria_boton ">
        <a class="galeria_boton " routerLink="/galery" routerLinkActive="active ">Ver Galería</a>
    </div>
    <!-- FIN BOTON GALERIA-->

    <!-- BOTON AYUDA-->
    <div class="contenedor_ayuda " *ngIf="this.locStorage.getLogginState()!=0 ">
        <figure class="contenedor_img_ayuda ">
            <img class="ayuda_boton_img pointer " src="assets/images/ayuda_logo.png ">
        </figure>
        <a class="ayuda_texto " onclick="$( '#Modal2').show(); abrirModal(); ">¿No te sientes bien? <br>Te escuchamos</a>
    </div>
    <!-- FIN BOTON AYUDA-->

    <!-- MODAL -->
    <div id="Modal2 " class="modal_home2 ">
        <div class="modal-contenido ">
            <div class="contenedor_cerrar ">
                <a onclick="$( '#Modal2').hide(); cerrarModal(); " class="modal_cerrar pointer ">X</a>
            </div>
            <h3 class="modal_titulo ">¿No te sientes bien?</h3>
            <p class="modal_texto ">La Dirección de Bienestar Bogotá te escucha.Envíanos tu mensaje y un profesional se pondrá en contacto contigo.</p>
            <textarea placeholder="Escríbenos en qué podemos ayudarte... " [(ngModel)]="notesientesInput " class="modal_input input_textarea "></textarea>

            <div class="modal_contenedor_boton ">
                <a class="modal_boton_ingresar " href="javascript:void(0) " (click)="postMensajeAyuda() ">Enviar</a>
            </div>
        </div>
    </div>

    <!-- FIN MODAL-->


    <!-- FILTROS-->
    <!-- <div class="contenedor_filtros ">
        <h4 class="titulo_filtros ">Descubre quien comparte tus interéses</h4>
        <h5 class="cta_filtros "> Filtrar</h5>

        <div class="contenedor_input_filtros ">
            <div *ngFor="let item of listaPreguntas ">
                <input (click)="setPregunta(item) " type="radio " name="transporte2 " value="1 " class="tema_filtro "> {{item.pregunta}} <br><br>
            </div>

        </div>

    </div> -->
    <!-- FIN FILTROS-->


    <!-- FILTROS-->
    <div class="contenedor_filtros ">
        <h4 class="titulo_filtros ">Descubre quien comparte tus interéses</h4>
        <h5 class="cta_filtros "> Filtrar </h5>

        <!--<div class="contenedor_input_filtros ">

		    	<input type="radio " name="transporte2 " value="1 " class="tema_filtro ">¿Qué habilidad aprendiste durante el aislamiento?</br></br>


				<input type="radio " name="transporte2 " value="2 " class="tema_filtro " checked>¿Lorem impsum dolor sit, amet consecteur?</br></br>

				<input type="radio " name="transporte2 " value="3 " class="tema_filtro ">¿Lorem impsum dolor sit, amet consecteur?</br></br>
			</div> -->


        <!-- <div uk-form-custom="target:> * > span:first-child">
            <select name="seleccionar_filtro" [(ngModel)]="idPregunta" (change)="setPregunta()" uk-toggle="target: .chevron-up-down">
                <option *ngFor="let item of this.listaPreguntas" [value]="item.id_pregunta"> {{item.pregunta}} </option>
            </select>
            <button class="contenedor-filtros-input uk-text-left uk-flex uk-flex-middle" type="button" tabindex="-1">
                <span></span>
                    <span class="chevron-up-down uk-align-right uk-margin-remove-bottom" style="width: 13px;" uk-icon="icon: chevron-down"></span>
                    <span class="chevron-up-down uk-align-right uk-margin-remove-bottom" style="width: 13px;" uk-icon="icon: chevron-up" hidden></span>
            </button>
        </div> -->

        <div class="uk-position-relative" style="display: none;">
            <div class="contenedor-filtros-input" uk-toggle="target: #toggle-options">
                <div class="uk-flex uk-flex-middle uk-flex-between" style="height: 50px; min-width: 120px; max-width: 400px;" uk-toggle="target: .toggle">
                    <div style="margin-left: 10px; min-width: 120px; max-width: 400px;">
                        <h6 class="uk-margin-remove"> {{StringPregunta}} </h6>
                    </div>
                    <div class="uk-align-right uk-margin-remove">
                        <i style="font-size: 15px" class="toggle fas fa-angle-down"></i>
                        <i style="font-size: 15px" class="toggle fas fa-angle-up" hidden></i>
                    </div>
                </div>
            </div>
            <div id="toggle-options" class="box-scroll-filter" name="seleccionar_filtro" hidden>
                <div *ngFor="let item of this.listaPreguntas" class="hover-options" (click)="setPregunta(item)">{{item.pregunta}}</div>
            </div>
        </div>

        <div class="uk-inline">
            <div>
                <button class="uk-flex uk-flex-middle uk-flex-between contenedor-filtros-input" uk-toggle="target: .toggle">
                    <div>
                        {{StringPregunta}}
                    </div>
                    <div class="uk-align-right uk-margin-remove">
                        <i style="font-size: 15px" class="toggle fas fa-angle-down"></i>
                        <i style="font-size: 15px" class="toggle fas fa-angle-up" hidden></i>
                    </div>
                </button>
            </div>
            <div class="box-scroll-filter uk-padding-remove" uk-dropdown="pos: bottom-justify;">
                <div name="seleccionar_filtro">
                    <div *ngFor="let item of this.listaPreguntas" class="hover-options" (click)="setPregunta(item)">{{item.pregunta}}</div>
                </div>
            </div>
        </div>


    </div>

    <!-- FIN FILTROS-->

    <div *ngIf="sizex>767">
        <!-- MAPA -->
        <div class="mapa">

            <div class="punto_cultura unselectable" onclick="$('#ModalCultura').show()">
                <div class="isla_cultura">
                    <figure>
                        <img src="assets/images/cultura.png" class="img_isla">
                    </figure>
                </div>
            </div>
            <div class="punto_deporte unselectable" onclick="$('#ModalDeportes').show()">
                <div class="isla_deporte">
                    <figure>
                        <img src="assets/images/deporte.png" class="img_isla">
                    </figure>
                </div>
            </div>
            <div class="punto_conocimiento unselectable" onclick="$('#ModalConocimiento').show()">
                <div class="isla_conocimiento">
                    <figure>
                        <img src="assets/images/conocimiento.png" class="img_isla">
                    </figure>
                </div>
            </div>

            <div class="punto_salud unselectable" onclick="$('#ModalSalud').show()">
                <div class="isla_salud">
                    <figure>
                        <img src="assets/images/salud.png" class="img_isla">
                    </figure>
                </div>
            </div>
            <div class="punto_naturaleza unselectable" onclick="$('#ModalNaturaleza').show()">
                <div class="isla_naturaleza">
                    <figure>
                        <img src="assets/images/naturaleza.png" class="img_isla">
                    </figure>
                </div>
            </div>

            <div class="punto_espacios unselectable" onclick="$('#ModalEspacios').show()">
                <div class="isla_espacios">
                    <figure>
                        <img src="assets/images/espacios.png" class="img_isla">
                    </figure>
                </div>
            </div>

            <!-- PUBLICACIONES -->

            <!-- PUBLICACION NUEVO USUARIO -->
            <div #testing *ngIf="this.locStorage.getLogginState()!=0 && this.idPregunta!=-1" class="punto_publicacion_nueva unselectable">
                <div class="contenedor_publicacion_nueva">
                    <a onclick="$('#Modal4').show(); abrirModal();">
                        <figure>
                            <img src="assets/images/icon_avatar.png" class="img_publicacion">
                        </figure>
                    </a>
                </div>
                <div class="contenedor_cta">
                    <div class="cta">Publica aquí</div>
                </div>
            </div>
            <!-- FIN PUBLICACION NUEVO USUARIO -->
            <!-- <div *ngIf="this.locStorage.getLogginState()!=0 && this.idPregunta==-1" (click)="dialogQuestion()" class="punto_publicacion_nueva unselectable">
                <div class="contenedor_publicacion_nueva">
                    <figure>
                        <img src="assets/images/icon_avatar.png" class="img_publicacion">
                    </figure>
                </div>
                <div class="contenedor_cta">
                    <div class="cta">Arrastra para explorar</div>
                </div>
            </div> -->

            <div #testing2></div>
            <!-- PUBLICACION REALIZADA-->
            <!--
                <div class="unselectable"
                [ngStyle]="getMapCoordinates(item)"
                [style.width]="'14%'"
                [style.height]="'2%'"
                [style.z-index]="'9'"
                [style.overflow-y]="'hidden'"
                [style.display]="'flex'"
                [style.flex-wrap]="'wrap'"
                [style.align-items]="'center'"
                *ngFor="let item of listaPublicacionesPadre">
                    <div class="contenedor_publicacion">
                        <a onclick="$('#Modal3').show(); abrirModal();" (click)="setModalInfo(item)" >
                        <figure>
                            <img src="{{item.img_URL}}" class="img_publicacion">
                        </figure>
                        </a>
                    </div>

                    <div class="contenedor_nombre">
                        <div class="nombre">{{item.username}} <br>{{item.distancia_KMS}} Km de la UN</div>
                    </div>
                </div> -->

            <div class="punto_publicacion" [ngStyle]="getMapCoordinates(item)" [style.width]="'14%'" [style.height]="'2%'" [style.z-index]="'9'" [style.overflow-y]="'hidden'" [style.display]="'flex'" [style.flex-wrap]="'wrap'" [style.align-items]="'center'" *ngFor="let item of listaPublicacionesPadre">
                <div class="contenedor_publicacion">
                    <a onclick="$('#Modal3').show(); abrirModal();" (click)="setModalInfo(item)">
                        <!--<figure>
                            <img src="images/icon_avatar_02.png" class="img_publicacion">
                        </figure> -->
                        <div class="p_publicacion" [ngStyle]="{'background-image': 'url(' + item.img_URL + ')'}"></div>
                    </a>
                </div>

                <div class="contenedor_nombre" *ngIf="item.distancia_KMS >= 5000">
                    <div class="nombre">{{item.usuario}} <br>A varios Km</div>
                </div>
                <div class="contenedor_nombre" *ngIf="item.distancia_KMS < 5000">
                    <div class="nombre">{{item.usuario}} <br>{{item.distancia_KMS}} Km de la UN</div>
                </div>
            </div> -
            <!--

                <div class="punto_publicacion unselectable"
                [ngStyle]="getMapCoordinates(item)"
                [style.width]="'14%'"
                [style.height]="'2%'"
                [style.z-index]="'9'"
                [style.overflow-y]="'hidden'"
                [style.display]="'flex'"
                [style.flex-wrap]="'wrap'"
                [style.align-items]="'center'"
                *ngFor="let item of listaPublicacionesPadre">
                    <div class="contenedor_publicacion">
                        <a onclick="$('#Modal3').show(); abrirModal();" (click)="setModalInfo(item)">
                        <figure>
                            <img src="assets/images/icon_avatar_02.png" class="img_publicacion">
                        </figure>
                        </a>
                    </div>

                    <div class="contenedor_nombre">
                        <div class="nombre">Laura S. <br>126 Km de la UN</div>
                    </div>
                </div> -->

            <!--  PUBLICACION PRUEBA  -->

            <!-- <div class="punto_publicacion unselectable"
                [ngStyle]="{top: '14.7%', left : '95.5%'}"
                [style.width]="'14%'"
                [style.height]="'2%'"
                [style.z-index]="'9'"
                [style.overflow-y]="'hidden'"
                [style.display]="'flex'"
                [style.flex-wrap]="'wrap'"
                [style.align-items]="'center'" >
            <div class="contenedor_publicacion">
                <a onclick="$('#Modal3').show(); abrirModal();">
                <figure>
                    <img src="assets/images/icon_avatar_02.png" class="img_publicacion">
                </figure>
                </a>
            </div>

            <div class="contenedor_nombre">
                <div class="nombre">Laura S. <br>126 Km de la UN</div>
            </div>
        </div> -->
            <div class="punto_publicacion unselectable" *ngFor="let item of coordList" [ngStyle]="{top: item.y, left : item.x}" [style.width]="'14%'" [style.height]="'2%'" [style.z-index]="'9'" [style.overflow-y]="'hidden'" [style.display]="'flex'" [style.flex-wrap]="'wrap'"
                [style.align-items]="'center'">
                <div class="contenedor_publicacion">
                    <a onclick="$('#Modal3').show(); abrirModal();">
                        <figure>
                            <img src="assets/images/icon_avatar_02.png" class="img_publicacion">
                        </figure>
                    </a>
                </div>

                <div class="contenedor_nombre">
                    <div class="nombre">Laura S. <br>126 Km de la UN</div>
                </div>
            </div>


            <!-- FIN PUBLICACION  -->
            <!-- FIN PUBLICACIONES -->

            <img src="assets/images/mapa.png" class="unselectable img_mapa">
        </div>




        <div class="clouds unselectable"></div>
        <!-- FIN MAPA -->
    </div>

    <iframe #iframe1 name="iframe1" id="iframe1" *ngIf="this.locStorage.getLogginState()!=0 && sizex<=767" title="Inline Frame Example" [width]="sizex" [height]="sizey" style="padding-top: 165px !important; margin-top: 200px !important;" src="https://postalunal.unal.edu.co/inner?logged=1">
        </iframe>

    <iframe #iframe1 name="iframe1" id="iframe1" *ngIf="this.locStorage.getLogginState()==0 && sizex<=767" title="Inline Frame Example" [width]="sizex" [height]="sizey" style="padding-top: 165px !important; margin-top: 200px !important;" src="https://postalunal.unal.edu.co/inner?logged=0">
        </iframe>

</main>

<!-- MODAL -->
<div id="Modal1" class="modal_home">
    <div class="modal-contenido">
        <div class="contenedor_cerrar">
            <a onclick="$('#Modal1').hide(); cerrarModal();" class="modal_cerrar pointer">X</a>
        </div>
        <h3 class="modal_titulo">Inicia Sesión</h3>
        <input type="text" placeholder="usuario" class="modal_input" [(ngModel)]="user">
        <input type="password" placeholder="contraseña" class="modal_input" [(ngModel)]="password" (keyup.enter)="ingresar()">
        <div class="modal_contenedor_boton">
            <a class="modal_boton_ingresar" href="javascript:void(0)" (click)="ingresar()">Ingresa</a>
        </div>
        <div class="modal_contenedor_boton">
            <a class="modal_boton_continua pointer" href="javascript:void(0)" (click)="mapNoLoggin()">Continúa sin iniciar sesión</a>
        </div>
    </div>
</div>

<!-- FIN MODAL-->

<!-- MODAL PUBLICACION REALIZADA-->
<div id="Modal3" #Modal3 class="modal_home2">
    <div class="modal-contenido2">
        <div class="contenedor_cerrar2">
            <a onclick="$('#Modal3').hide(); cerrarModal();" class="modal_cerrar pointer" (click)="resetHasLike()">X</a>
        </div>

        <div class="contenedor_modal" style="width: 100%;">
            <div class="contenedor_postcard">
                <div class="contenedor_img_postcard">
                    <div [style.width]="'95%'" [style.padding-bottom]="'95%'" [style.border]="'3px solid white'" [style.background-size]="'cover'" [ngStyle]="{'background-image': 'url(' + postStructure.imgUrl + ')'}">
                    </div>
                </div>
                <div class="texto_postcard">
                    <div class="persona_postcard">
                        <p class="nombre_postcard"> {{postStructure.name}} </p>
                        <p class="distancia_postcard" *ngIf="returnAsNumber(postStructure.km) >= 5000"> A varios Km de la UN</p>
                        <p class="distancia_postcard" *ngIf="returnAsNumber(postStructure.km) < 5000"> {{postStructure.km}} Km de la UN</p>
                        <p class="descripcion_postcard"> {{postStructure.post}} </p>
                    </div>
                </div>
                <div class="cont_like">
                    <div *ngIf="hasLike">
                        <i class="fas fa-heart like-active animacion toggle-active-like" (click)="createLike()"></i>
                    </div>
                    <div *ngIf="!hasLike">
                        <i class="fas fa-heart like animacion toggle-active-like" (click)="createLike()"></i>
                    </div>
                    <p class="txt_like " (click)="createLike()">{{likeCount}}</p>
                    <!-- Cuando ya se haya dado like a una publicación, la visualización debe ser la de abajo y la app no debe premitir realizar más likes en esa publicación, al hacer nuevamente click se debe quitar el like  -->
                    <!-- 						<i class="fas fa-heart like_active animacion"></i>
                  <p class="txt_like ">13</p>  -->

                </div>

            </div>
            <div class="escribir_comentario" *ngIf="this.locStorage.getLogginState()!=0">
                <input style="width: 100%;" (keyup.enter)="postModalPublication()" role="textbox" [(ngModel)]="stringPublicationModal" id="txt_comentario" placeholder="Escriba un comentario" contenteditable>
                <div class="btn_enviar" (click)="postModalPublication()">
                    <div class="icono_enviar"></div>
                </div>
            </div>

            <div class="contenedor_comentarios">

                <div class="comentario" *ngFor="let item of postStructure.listChildPost">
                    <p class="nombre_comentario"> {{item.usuario}} </p>
                    <p class="descripcion_comentario">{{item.publicacion}}</p>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- FIN MODAL-->
<div id="ModalDeportes" class="modal_home_islas">
    <div class="modal_contenido_islas">
        <div class="contenedor_cerrar_islas">
            <a onclick="$('#ModalDeportes').hide(); cerrarModal();" class="modal_cerrar_islas pointer">X</a>
        </div>

        <div class="contenedor_modal_islas">
            <div class="contenido_islas" id="isla_deporte">
                <h3 class="titulo_islas" *ngIf="islaData[1].mostrar[0]"> {{islaData[1].titulo}} </h3>

                <div class="video_islas" *ngIf="islaData[1].mostrar[1]">
                    <div class="embed-responsive embed-responsive-4by3">
                        <div class="videoWrapper">
                            <iframe id="vid_frame_islas" class="iframe_islas" width="700" height="315" [src]="transform(islaData[1].url)" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>

                <div class="descripcion_islas" *ngIf="islaData[1].mostrar[2]">
                  <p class="texto_descripcion_islas">
                    <span [innerHTML]="islaData[1].descripcion"></span>
                  </p>
                </div>

                <div class="imagenes_islas" *ngIf="islaData[1].mostrar[3]">
                  <div class="div_imagen_islas"
                  *ngIf="islaData[1].mostrar[19]"
                  [ngStyle]="{'background-image': 'url(/islas/deporte1.jpg)'}">
                  </div>
                  <div
                  *ngIf="islaData[1].mostrar[20]"
                  class="div_imagen_islas"
                  [ngStyle]="{'background-image': 'url(/islas/deporte2.jpg)'}">
                  </div>
                  <div
                  *ngIf="islaData[1].mostrar[21]"
                  class="div_imagen_islas"
                  [ngStyle]="{'background-image': 'url(/islas/deporte3.jpg)'}">
                  </div>
                  <div
                  *ngIf="islaData[1].mostrar[22]"
                  class="div_imagen_islas"
                  [ngStyle]="{'background-image': 'url(/islas/deporte4.jpg)'}">
                  </div>
                  <div
                  *ngIf="islaData[1].mostrar[23]"
                  class="div_imagen_islas"
                  [ngStyle]="{'background-image': 'url(/islas/deporte5.jpg)'}">
                  </div>
                  <div
                  *ngIf="islaData[1].mostrar[24]"
                  class="div_imagen_islas"
                  [ngStyle]="{'background-image': 'url(/islas/deporte6.jpg)'}">
                  </div>
              </div>

                <div class="contenedor_datos_importancia">
                    <p class="titulo_datos_importancia" *ngIf="islaData[1].mostrar[4]">{{islaData[1].subtitulo1}}</p>

                    <div class="datos_importancia_islas" [ngStyle]="{'background-image': 'linear-gradient( rgb(2 9 22 / 45%), rgb(2 9 22 / 45%)), url(/islas/deporte.jpg)'}" *ngIf="islaData[1].mostrar[5]||islaData[1].mostrar[6]||islaData[1].mostrar[7]||islaData[1].mostrar[8]||islaData[1].mostrar[9]||islaData[1].mostrar[105]">
                      <div class="datos_islas">
                        <div class="dato_islas" [innerHTML]="islaData[1].info1" *ngIf="islaData[1].mostrar[5]">
                        </div>
                        <div class="dato_islas" [innerHTML]="islaData[1].info2" *ngIf="islaData[1].mostrar[6]">
                        </div>
                        <div class="dato_islas" [innerHTML]="islaData[1].info3" *ngIf="islaData[1].mostrar[7]">
                        </div>
                        <div class="dato_islas" [innerHTML]="islaData[1].info4" *ngIf="islaData[1].mostrar[8]">
                        </div>
                        <div class="dato_islas" [innerHTML]="islaData[1].info5" *ngIf="islaData[1].mostrar[9]">
                        </div>
                        <div class="dato_islas" [innerHTML]="islaData[1].info6" *ngIf="islaData[1].mostrar[10]">
                        </div>
                      </div>
                    </div>
                </div>

                <div class="contenedor_programacion">
                    <p class="titulo_programacion" *ngIf="islaData[1].mostrar[16]">{{islaData[1].tituloProgramacion}}</p>

                    <div class="cont_enlace_programacion" *ngIf="islaData[1].mostrar[17]">
                        <a class="enlace_programacion cont_enlace" [href]="islaData[1].programacion1.split(';')[0]" target="_blank">{{islaData[1].programacion1.split(';')[1]}}</a>
                    </div>
                    <div class="cont_enlace_programacion" *ngIf="islaData[1].mostrar[18]">
                        <a class="enlace_programacion cont_enlace2" [href]="islaData[1].programacion2.split(';')[0]" target="_blank">{{islaData[1].programacion2.split(';')[1]}}</a>
                    </div>
                </div>

                <div class="contenedor_redes_sociales">
                    <p class="titulo_redes_sociales" *ngIf="islaData[1].mostrar[11]">{{islaData[1].subtitulo2}}</p>
                    <div class="botones_redes_sociales" *ngIf="islaData[1].mostrar[12]">
                        <a class="boton_redes_sociales" [href]="islaData[1].facebook" target="_blank" *ngIf="islaData[1].mostrar[25]">
                            <figure>
                                <img class="img_redes_sociales" alt="Facebook" src="assets/images/facebook.png">
                            </figure>
                        </a>
                        <a class="boton_redes_sociales" [href]="islaData[1].instagram" target="_blank" *ngIf="islaData[1].mostrar[26]">
                            <figure>
                                <img class="img_redes_sociales" alt="Instagram" src="assets/images/instagram.png">
                            </figure>
                        </a>
                        <a class="boton_redes_sociales" [href]="islaData[1].youtube" target="_blank" *ngIf="islaData[1].mostrar[27]">
                            <figure>
                                <img class="img_redes_sociales" alt="Youtube" src="assets/images/youtube.png">
                            </figure>
                        </a>
                        <a class="boton_redes_sociales" [href]="islaData[1].twitter" target="_blank" *ngIf="islaData[1].mostrar[28]">
                            <figure>
                                <img class="img_redes_sociales" alt="Youtube" src="assets/images/youtube.png">
                            </figure>
                        </a>
                    </div>
                </div>




                <div class="contenedor_contacto">
                    <p class="titulo_contacto" *ngIf="islaData[1].mostrar[13]">{{islaData[1].contactenos}}</p>
                    <div *ngIf="islaData[1].mostrar[14]">
                        <p class="dato_contacto" *ngFor="let item of getMails(islaData[1].correos)">
                          <strong class="correo_contacto">{{item}}</strong>
                        </p>
                    </div>
                    <!-- <p class="dato_contacto">DAFD: <strong class="correo_contacto">divrecd_bog@unal.edu.co</strong></p>
                    <p class="dato_contacto">Vitalízate: <strong class="correo_contacto">vitalizate@unal.edu.co</strong></p>
                    <p class="dato_contacto">Acondicionamiento físico: <strong class="correo_contacto">afdunal_bog@unal.edu.co</strong></p>
                    <p class="dato_contacto">Deporte de Competencia: <strong class="correo_contacto">oabohorqueza@unal.edu.co</strong></p> -->
                    <p class="dato_contacto_pagina" *ngIf="islaData[1].mostrar[15]"> {{islaData[1].urlsitioWeb.split(",")[0]}} <a [href]="islaData[1].urlsitioWeb.split(',')[2]" target="_blank" class="enlace_pagina">{{islaData[1].urlsitioWeb.split(",")[1]}}</a></p>

                </div>
            </div>
        </div>
    </div>
</div>

<div id="ModalCultura" class="modal_home_islas">
    <div class="modal_contenido_islas">
        <div class="contenedor_cerrar_islas">
            <a onclick="$('#ModalCultura').hide(); cerrarModal();" class="modal_cerrar_islas pointer">X</a>
        </div>

        <div class="contenedor_modal_islas">
            <div class="contenido_islas" id="isla_cultura">
                <h3 class="titulo_islas" *ngIf="islaData[0].mostrar[0]"> {{islaData[0].titulo}} </h3>

                <div class="video_islas" *ngIf="islaData[0].mostrar[1]">
                    <div class="embed-responsive embed-responsive-4by3">
                        <div class="videoWrapper">
                            <iframe id="vid_frame_islas" class="iframe_islas" width="700" height="315" [src]="transform(islaData[0].url)" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>

                <div class="descripcion_islas" *ngIf="islaData[0].mostrar[2]">
                  <p class="texto_descripcion_islas">
                    <span [innerHTML]="islaData[0].descripcion"></span>
                  </p>
                </div>

                <div class="imagenes_islas" *ngIf="islaData[0].mostrar[3]">
                    <div class="div_imagen_islas"
                    *ngIf="islaData[0].mostrar[19]"
                    [ngStyle]="{'background-image': 'url(/islas/cultura1.jpg)'}">
                    </div>
                    <div
                    *ngIf="islaData[0].mostrar[20]"
                    class="div_imagen_islas"
                    [ngStyle]="{'background-image': 'url(/islas/cultura2.jpg)'}">
                    </div>
                    <div
                    *ngIf="islaData[0].mostrar[21]"
                    class="div_imagen_islas"
                    [ngStyle]="{'background-image': 'url(/islas/cultura3.jpg)'}">
                    </div>
                    <div
                    *ngIf="islaData[0].mostrar[22]"
                    class="div_imagen_islas"
                    [ngStyle]="{'background-image': 'url(/islas/cultura4.jpg)'}">
                    </div>
                    <div
                    *ngIf="islaData[0].mostrar[23]"
                    class="div_imagen_islas"
                    [ngStyle]="{'background-image': 'url(/islas/cultura5.jpg)'}">
                    </div>
                    <div
                    *ngIf="islaData[0].mostrar[24]"
                    class="div_imagen_islas"
                    [ngStyle]="{'background-image': 'url(/islas/cultura6.jpg)'}">
                    </div>
                </div>

                <div class="contenedor_datos_importancia">
                    <p class="titulo_datos_importancia" *ngIf="islaData[0].mostrar[4]">{{islaData[0].subtitulo1}}</p>

                    <div class="datos_importancia_islas" [ngStyle]="{'background-image': 'linear-gradient( rgb(2 9 22 / 45%), rgb(2 9 22 / 45%)), url(/islas/cultura.jpg)'}" *ngIf="islaData[0].mostrar[5] ||islaData[0].mostrar[6] || islaData[0].mostrar[7] || islaData[0].mostrar[8] || islaData[0].mostrar[9] || islaData[0].mostrar[10]">
                        <div class="datos_islas">
                            <div class="dato_islas" [innerHTML]="islaData[0].info1" *ngIf="islaData[0].mostrar[5]">
                            </div>
                            <div class="dato_islas" [innerHTML]="islaData[0].info2" *ngIf="islaData[0].mostrar[6]">
                            </div>
                            <div class="dato_islas" [innerHTML]="islaData[0].info3" *ngIf="islaData[0].mostrar[7]">
                            </div>
                            <div class="dato_islas" [innerHTML]="islaData[0].info4" *ngIf="islaData[0].mostrar[8]">
                            </div>
                            <div class="dato_islas" [innerHTML]="islaData[0].info5" *ngIf="islaData[0].mostrar[9]">
                            </div>
                            <div class="dato_islas" [innerHTML]="islaData[0].info6" *ngIf="islaData[0].mostrar[10]">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="contenedor_programacion">
                    <p class="titulo_programacion" *ngIf="islaData[0].mostrar[16]">{{islaData[0].tituloProgramacion}}</p>

                    <div class="cont_enlace_programacion" *ngIf="islaData[0].mostrar[17]">
                        <a class="enlace_programacion cont_enlace" [href]="islaData[0].programacion1.split(';')[0]" target="_blank">{{islaData[0].programacion1.split(';')[1]}}</a>
                    </div>
                    <div class="cont_enlace_programacion" *ngIf="islaData[0].mostrar[18]">
                        <a class="enlace_programacion cont_enlace2" [href]="islaData[0].programacion2.split(';')[0]" target="_blank">{{islaData[0].programacion2.split(';')[1]}}</a>
                    </div>
                </div>

                <div class="contenedor_redes_sociales">
                    <p class="titulo_redes_sociales" *ngIf="islaData[0].mostrar[11]">{{islaData[0].subtitulo2}}</p>
                    <div class="botones_redes_sociales" *ngIf="islaData[0].mostrar[12]">
                        <a class="boton_redes_sociales" [href]="islaData[0].facebook" target="_blank" *ngIf="islaData[0].mostrar[25]">
                            <figure>
                                <img class="img_redes_sociales" alt="Facebook" src="assets/images/facebook.png">
                            </figure>
                        </a>
                        <a class="boton_redes_sociales" [href]="islaData[0].instagram" target="_blank" *ngIf="islaData[0].mostrar[26]">
                            <figure>
                                <img class="img_redes_sociales" alt="Instagram" src="assets/images/instagram.png">
                            </figure>
                        </a>
                        <a class="boton_redes_sociales" [href]="islaData[0].youtube" target="_blank" *ngIf="islaData[0].mostrar[27]">
                            <figure>
                                <img class="img_redes_sociales" alt="Youtube" src="assets/images/youtube.png">
                            </figure>
                        </a>
                        <a class="boton_redes_sociales" [href]="islaData[0].twitter" target="_blank" *ngIf="islaData[0].mostrar[28]">
                            <figure>
                                <img class="img_redes_sociales" alt="Youtube" src="assets/images/youtube.png">
                            </figure>
                        </a>
                    </div>
                </div>

                <div class="contenedor_contacto">
                    <p class="titulo_contacto" *ngIf="islaData[0].mostrar[13]">{{islaData[0].contactenos}}</p>
                    <div *ngIf="islaData[0].mostrar[14]">
                      <p class="dato_contacto" *ngFor="let item of getMails(islaData[0].correos)">
                        <strong class="correo_contacto">{{item}}</strong>
                      </p>
                    </div>
                    <p class="dato_contacto_pagina" *ngIf="islaData[0].mostrar[15]"> {{islaData[0].urlsitioWeb.split(",")[0]}} <a [href]="islaData[0].urlsitioWeb.split(',')[2]" target="_blank" class="enlace_pagina">{{islaData[0].urlsitioWeb.split(",")[1]}}</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="ModalSalud" class="modal_home_islas">
    <div class="modal_contenido_islas">
        <div class="contenedor_cerrar_islas">
            <a onclick="$('#ModalSalud').hide(); cerrarModal();" class="modal_cerrar_islas pointer">X</a>
        </div>

        <div class="contenedor_modal_islas">
            <div class="contenido_islas" id="isla_salud">


                <h3 class="titulo_islas" *ngIf="islaData[2].mostrar[0]"> {{islaData[2].titulo}} </h3>

                <div class="video_islas" *ngIf="islaData[2].mostrar[1]">
                    <div class="embed-responsive embed-responsive-4by3">
                        <div class="videoWrapper">
                            <iframe id="vid_frame_islas" class="iframe_islas" width="700" height="315" [src]="transform(islaData[2].url)" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>

                <div class="descripcion_islas" *ngIf="islaData[2].mostrar[2]">
                  <p class="texto_descripcion_islas">
                    <span [innerHTML]="islaData[2].descripcion"></span>
                  </p>
                </div>

                <div class="imagenes_islas" *ngIf="islaData[2].mostrar[3]">
                  <div class="div_imagen_islas"
                  *ngIf="islaData[2].mostrar[19]"
                  [ngStyle]="{'background-image': 'url(/islas/salud1.jpg)'}">
                  </div>
                  <div
                  *ngIf="islaData[2].mostrar[20]"
                  class="div_imagen_islas"
                  [ngStyle]="{'background-image': 'url(/islas/salud2.jpg)'}">
                  </div>
                  <div
                  *ngIf="islaData[2].mostrar[21]"
                  class="div_imagen_islas"
                  [ngStyle]="{'background-image': 'url(/islas/salud3.jpg)'}">
                  </div>
                  <div
                  *ngIf="islaData[2].mostrar[22]"
                  class="div_imagen_islas"
                  [ngStyle]="{'background-image': 'url(/islas/salud4.jpg)'}">
                  </div>
                  <div
                  *ngIf="islaData[2].mostrar[23]"
                  class="div_imagen_islas"
                  [ngStyle]="{'background-image': 'url(/islas/salud5.jpg)'}">
                  </div>
                  <div
                  *ngIf="islaData[2].mostrar[24]"
                  class="div_imagen_islas"
                  [ngStyle]="{'background-image': 'url(/islas/salud6.jpg)'}">
                  </div>
              </div>

                <div class="contenedor_datos_importancia">
                    <p class="titulo_datos_importancia"*ngIf="islaData[2].mostrar[4]">{{islaData[2].subtitulo1}}</p>

                    <div class="datos_importancia_islas" [ngStyle]="{'background-image': 'linear-gradient( rgb(2 9 22 / 45%), rgb(2 9 22 / 45%)), url(/islas/salud.jpg)'}" *ngIf="islaData[2].mostrar[5]||islaData[2].mostrar[6]||islaData[2].mostrar[7]||islaData[2].mostrar[8]||islaData[2].mostrar[9]||islaData[2].mostrar[10]">
                      <div class="datos_islas">
                        <div class="dato_islas" [innerHTML]="islaData[2].info1" *ngIf="islaData[2].mostrar[5]">
                        </div>
                        <div class="dato_islas" [innerHTML]="islaData[2].info2" *ngIf="islaData[2].mostrar[6]">
                        </div>
                        <div class="dato_islas" [innerHTML]="islaData[2].info3" *ngIf="islaData[2].mostrar[7]">
                        </div>
                        <div class="dato_islas" [innerHTML]="islaData[2].info4" *ngIf="islaData[2].mostrar[8]">
                        </div>
                        <div class="dato_islas" [innerHTML]="islaData[2].info5" *ngIf="islaData[2].mostrar[9]">
                        </div>
                        <div class="dato_islas_final" [innerHTML]="islaData[2].info6" *ngIf="islaData[2].mostrar[10]">
                        </div>
                      </div>
                    </div>
                </div>

                <div class="contenedor_programacion">
                    <p class="titulo_programacion" *ngIf="islaData[2].mostrar[16]">{{islaData[2].tituloProgramacion}}</p>

                    <div class="cont_enlace_programacion" *ngIf="islaData[2].mostrar[17]">
                        <a class="enlace_programacion cont_enlace" [href]="islaData[2].programacion1.split(';')[0]" target="_blank">{{islaData[2].programacion1.split(';')[1]}}</a>
                    </div>
                    <div class="cont_enlace_programacion" *ngIf="islaData[2].mostrar[18]">
                        <a class="enlace_programacion cont_enlace2" [href]="islaData[2].programacion2.split(';')[0]" target="_blank">{{islaData[2].programacion2.split(';')[1]}}</a>
                    </div>
                </div>

                <div class="contenedor_redes_sociales">
                    <p class="titulo_redes_sociales" *ngIf="islaData[2].mostrar[11]">{{islaData[2].subtitulo2}}</p>
                    <div class="botones_redes_sociales" *ngIf="islaData[2].mostrar[12]">
                        <a class="boton_redes_sociales" [href]="islaData[2].facebook" target="_blank" *ngIf="islaData[2].mostrar[25]">
                            <figure>
                                <img class="img_redes_sociales" alt="Facebook" src="assets/images/facebook.png">
                            </figure>
                        </a>
                        <a class="boton_redes_sociales" [href]="islaData[2].instagram" target="_blank" *ngIf="islaData[2].mostrar[26]">
                            <figure>
                                <img class="img_redes_sociales" alt="Instagram" src="assets/images/instagram.png">
                            </figure>
                        </a>
                        <a class="boton_redes_sociales" [href]="islaData[2].youtube" target="_blank" *ngIf="islaData[2].mostrar[27]">
                            <figure>
                                <img class="img_redes_sociales" alt="Youtube" src="assets/images/youtube.png">
                            </figure>
                        </a>
                        <a class="boton_redes_sociales" [href]="islaData[2].twitter" target="_blank" *ngIf="islaData[2].mostrar[28]">
                            <figure>
                                <img class="img_redes_sociales" alt="Youtube" src="assets/images/youtube.png">
                            </figure>
                        </a>
                    </div>
                </div>

                <div class="contenedor_contacto">
                    <p class="titulo_contacto" *ngIf="islaData[2].mostrar[13]">{{islaData[2].contactenos}}</p>
                    <div *ngIf="islaData[2].mostrar[14]">
                      <p class="dato_contacto" *ngFor="let item of getMails(islaData[2].correos)">
                        <strong class="correo_contacto">{{item}}</strong>
                      </p>
                    </div>
                    <p class="dato_contacto_pagina" *ngIf="islaData[2].mostrar[15]"> {{islaData[2].urlsitioWeb.split(",")[0]}} <a [href]="islaData[2].urlsitioWeb.split(',')[2]" target="_blank" class="enlace_pagina">{{islaData[2].urlsitioWeb.split(",")[1]}}</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="ModalConocimiento" class="modal_home_islas">
    <div class="modal_contenido_islas">
        <div class="contenedor_cerrar_islas">
            <a onclick="$('#ModalConocimiento').hide(); cerrarModal();" class="modal_cerrar_islas pointer">X</a>
        </div>

        <div class="contenedor_modal_islas">
            <div class="contenido_islas" id="isla_conocimiento">
                <!-- <h3 class="titulo_islas">SOMOS CONOCIMIENTO</h3>

                <div class="video_islas">
                    <div class="embed-responsive embed-responsive-4by3">
                        <div class="videoWrapper">
                            <iframe id="vid_frame_islas" class="iframe_islas" width="700" height="315" src="https://www.youtube.com/embed/USM8QTFUKSU?mute=1&enablejsapi=1" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div> -->

                <h3 class="titulo_islas" *ngIf="islaData[4].mostrar[0]"> {{islaData[4].titulo}} </h3>

                <div class="video_islas" *ngIf="islaData[4].mostrar[1]">
                    <div class="embed-responsive embed-responsive-4by3">
                        <div class="videoWrapper">
                            <iframe id="vid_frame_islas" class="iframe_islas" width="700" height="315" [src]="transform(islaData[4].url)" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>

                <!--
                  <div class="imagenes_islas">
                    <div class="div_imagen_islas" id="img_conocimiento_1">
                    </div>
                    <div class="div_imagen_islas" id="img_conocimiento_2">
                    </div>
                    <div class="div_imagen_islas" id="img_conocimiento_3">
                    </div>
                  </div>
                -->
                <div class="descripcion_islas" *ngIf="islaData[4].mostrar[2]">
                  <p class="texto_descripcion_islas">
                    <span [innerHTML]="islaData[4].descripcion"></span>
                  </p>
                </div>

              <div class="imagenes_islas" *ngIf="islaData[4].mostrar[3]">
                <div class="div_imagen_islas"
                *ngIf="islaData[4].mostrar[19]"
                [ngStyle]="{'background-image': 'url(/islas/conocimiento1.jpg)'}">
                </div>
                <div
                *ngIf="islaData[4].mostrar[20]"
                class="div_imagen_islas"
                [ngStyle]="{'background-image': 'url(/islas/conocimiento2.jpg)'}">
                </div>
                <div
                *ngIf="islaData[4].mostrar[21]"
                class="div_imagen_islas"
                [ngStyle]="{'background-image': 'url(/islas/conocimiento3.jpg)'}">
                </div>
                <div
                *ngIf="islaData[2].mostrar[22]"
                class="div_imagen_islas"
                [ngStyle]="{'background-image': 'url(/islas/conocimiento4.jpg)'}">
                </div>
                <div
                *ngIf="islaData[4].mostrar[23]"
                class="div_imagen_islas"
                [ngStyle]="{'background-image': 'url(/islas/conocimiento5.jpg)'}">
                </div>
                <div
                *ngIf="islaData[4].mostrar[24]"
                class="div_imagen_islas"
                [ngStyle]="{'background-image': 'url(/islas/conocimiento6.jpg)'}">
                </div>
            </div>

              <div class="contenedor_datos_importancia">
                  <p class="titulo_datos_importancia" *ngIf="islaData[4].mostrar[4]">{{islaData[4].subtitulo1}}</p>

                  <div class="datos_importancia_islas" [ngStyle]="{'background-image': 'linear-gradient( rgb(2 9 22 / 45%), rgb(2 9 22 / 45%)), url(/islas/conocimiento.jpg)'}" *ngIf="islaData[4].mostrar[5] && islaData[4].mostrar[6] && islaData[4].mostrar[7] && islaData[4].mostrar[8] && islaData[4].mostrar[9] && islaData[4].mostrar[10]">
                    <div class="datos_islas">
                      <div class="dato_islas" [innerHTML]="islaData[4].info1" *ngIf="islaData[4].mostrar[5]">
                      </div>
                      <div class="dato_islas" [innerHTML]="islaData[4].info2" *ngIf="islaData[4].mostrar[6]">
                      </div>
                      <div class="dato_islas" [innerHTML]="islaData[4].info3" *ngIf="islaData[4].mostrar[7]">
                      </div>
                      <div class="dato_islas" [innerHTML]="islaData[4].info4" *ngIf="islaData[4].mostrar[8]">
                      </div>
                      <div class="dato_islas" [innerHTML]="islaData[4].info5" *ngIf="islaData[4].mostrar[9]">
                      </div>
                      <div class="dato_islas" [innerHTML]="islaData[4].info6" *ngIf="islaData[4].mostrar[10]">
                      </div>
                    </div>
                  </div>
              </div>

              <div div class="contenedor_programacion">
                <p class="titulo_programacion" *ngIf="islaData[4].mostrar[16]">{{islaData[4].tituloProgramacion}}</p>

                <div class="cont_enlace_programacion" *ngIf="islaData[4].mostrar[17]">
                    <a class="enlace_programacion cont_enlace" [href]="islaData[4].programacion1.split(';')[0]" target="_blank">{{islaData[4].programacion1.split(';')[1]}}</a>
                </div>
                <div class="cont_enlace_programacion" *ngIf="islaData[4].mostrar[18]">
                    <a class="enlace_programacion cont_enlace2" [href]="islaData[4].programacion2.split(';')[0]" target="_blank">{{islaData[4].programacion2.split(';')[1]}}</a>
                </div>
              </div>

              <div class="contenedor_redes_sociales">
                  <p class="titulo_redes_sociales" *ngIf="islaData[4].mostrar[11]">{{islaData[4].subtitulo2}}</p>
                  <div class="botones_redes_sociales" *ngIf="islaData[4].mostrar[12]">
                    <a class="boton_redes_sociales" [href]="islaData[4].facebook" target="_blank" *ngIf="islaData[4].mostrar[25]">
                        <figure>
                            <img class="img_redes_sociales" alt="Facebook" src="assets/images/facebook.png">
                        </figure>
                    </a>
                    <a class="boton_redes_sociales" [href]="islaData[4].instagram" target="_blank" *ngIf="islaData[4].mostrar[26]">
                        <figure>
                            <img class="img_redes_sociales" alt="Instagram" src="assets/images/instagram.png">
                        </figure>
                    </a>
                    <a class="boton_redes_sociales" [href]="islaData[4].youtube" target="_blank" *ngIf="islaData[4].mostrar[27]">
                        <figure>
                            <img class="img_redes_sociales" alt="Youtube" src="assets/images/youtube.png">
                        </figure>
                    </a>
                    <a class="boton_redes_sociales" [href]="islaData[4].twitter" target="_blank" *ngIf="islaData[4].mostrar[28]">
                        <figure>
                            <img class="img_redes_sociales" alt="Youtube" src="assets/images/youtube.png">
                        </figure>
                    </a>
                </div>
              </div>

              <div class="contenedor_contacto">
                  <p class="titulo_contacto" *ngIf="islaData[4].mostrar[13]">{{islaData[4].contactenos}}</p>
                  <div *ngIf="islaData[4].mostrar[14]">
                    <p class="dato_contacto" *ngFor="let item of getMails(islaData[4].correos)">
                      <strong class="correo_contacto">{{item}}</strong>
                    </p>
                  </div>
                  <p class="dato_contacto_pagina" *ngIf="islaData[4].mostrar[15]"> {{islaData[4].urlsitioWeb.split(",")[0]}} <a [href]="islaData[4].urlsitioWeb.split(',')[2]" target="_blank" class="enlace_pagina">{{islaData[4].urlsitioWeb.split(",")[1]}}</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="ModalNaturaleza" class="modal_home_islas">
    <div class="modal_contenido_islas">
        <div class="contenedor_cerrar_islas">
            <a onclick="$('#ModalNaturaleza').hide(); cerrarModal();" class="modal_cerrar_islas pointer">X</a>
        </div>

        <div class="contenedor_modal_islas">
            <div class="contenido_islas" id="isla_naturaleza">
                <!-- <h3 class="titulo_islas">SOMOS NATURALEZA</h3>

                <div class="video_islas">
                    <div class="embed-responsive embed-responsive-4by3">
                        <div class="videoWrapper">
                            <iframe id="vid_frame_islas" class="iframe_islas" width="700" height="315" src="https://www.youtube.com/embed/USM8QTFUKSU?mute=1&enablejsapi=1" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div> -->



                <!--

  <div class="imagenes_islas">
    <div class="div_imagen_islas" id="img_naturaleza_1">
    </div>
    <div class="div_imagen_islas" id="img_naturaleza_2">
    </div>
    <div class="div_imagen_islas" id="img_naturaleza_3">
    </div>
  </div>

  -->

  <h3 class="titulo_islas" *ngIf="islaData[3].mostrar[0]"> {{islaData[3].titulo}} </h3>

                <div class="video_islas" *ngIf="islaData[3].mostrar[1]">
                    <div class="embed-responsive embed-responsive-4by3">
                        <div class="videoWrapper">
                            <iframe id="vid_frame_islas" class="iframe_islas" width="700" height="315" [src]="transform(islaData[3].url)" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>

                <!--
                  <div class="imagenes_islas">
                    <div class="div_imagen_islas" id="img_conocimiento_1">
                    </div>
                    <div class="div_imagen_islas" id="img_conocimiento_2">
                    </div>
                    <div class="div_imagen_islas" id="img_conocimiento_3">
                    </div>
                  </div>
                -->
                <div class="descripcion_islas" *ngIf="islaData[3].mostrar[2]">
                  <p class="texto_descripcion_islas">
                    <span [innerHTML]="islaData[3].descripcion"></span>
                  </p>
                </div>

              <div class="imagenes_islas" *ngIf="islaData[3].mostrar[3]">
                <div class="div_imagen_islas"
                *ngIf="islaData[3].mostrar[19]"
                [ngStyle]="{'background-image': 'url(/islas/naturaleza1.jpg)'}">
                </div>
                <div
                *ngIf="islaData[3].mostrar[20]"
                class="div_imagen_islas"
                [ngStyle]="{'background-image': 'url(/islas/naturaleza2.jpg)'}">
                </div>
                <div
                *ngIf="islaData[3].mostrar[21]"
                class="div_imagen_islas"
                [ngStyle]="{'background-image': 'url(/islas/naturaleza3.jpg)'}">
                </div>
                <div
                *ngIf="islaData[3].mostrar[22]"
                class="div_imagen_islas"
                [ngStyle]="{'background-image': 'url(/islas/naturaleza4.jpg)'}">
                </div>
                <div
                *ngIf="islaData[3].mostrar[23]"
                class="div_imagen_islas"
                [ngStyle]="{'background-image': 'url(/islas/naturaleza5.jpg)'}">
                </div>
                <div
                *ngIf="islaData[3].mostrar[24]"
                class="div_imagen_islas"
                [ngStyle]="{'background-image': 'url(/islas/naturaleza6.jpg)'}">
                </div>
            </div>

              <div class="contenedor_datos_importancia">
                  <p class="titulo_datos_importancia" *ngIf="islaData[3].mostrar[4]">{{islaData[3].subtitulo1}}</p>

                  <div class="datos_importancia_islas" [ngStyle]="{'background-image': 'linear-gradient( rgb(2 9 22 / 45%), rgb(2 9 22 / 45%)), url(/islas/naturaleza.jpg)'}" *ngIf="islaData[3].mostrar[5] && islaData[3].mostrar[6] && islaData[3].mostrar[7] && islaData[3].mostrar[8] && islaData[3].mostrar[9] && islaData[3].mostrar[10]">
                    <div class="datos_islas">
                      <div class="dato_islas" [innerHTML]="islaData[3].info1" *ngIf="islaData[3].mostrar[5]">
                      </div>
                      <div class="dato_islas" [innerHTML]="islaData[3].info2" *ngIf="islaData[3].mostrar[6]">
                      </div>
                      <div class="dato_islas" [innerHTML]="islaData[3].info3" *ngIf="islaData[3].mostrar[7]">
                      </div>
                      <div class="dato_islas" [innerHTML]="islaData[3].info4" *ngIf="islaData[3].mostrar[8]">
                      </div>
                      <div class="dato_islas" [innerHTML]="islaData[3].info5" *ngIf="islaData[3].mostrar[9]">
                      </div>
                      <div class="dato_islas" [innerHTML]="islaData[3].info6" *ngIf="islaData[3].mostrar[10]">
                      </div>
                    </div>
                  </div>
              </div>

              <div class="contenedor_programacion">
                <p class="titulo_programacion" *ngIf="islaData[3].mostrar[16]">{{islaData[3].tituloProgramacion}}</p>

                <div class="cont_enlace_programacion" *ngIf="islaData[3].mostrar[17]">
                    <a class="enlace_programacion cont_enlace" [href]="islaData[3].programacion1.split(';')[0]" target="_blank">{{islaData[3].programacion1.split(';')[1]}}</a>
                </div>
                <div class="cont_enlace_programacion" *ngIf="islaData[3].mostrar[18]">
                    <a class="enlace_programacion cont_enlace2" [href]="islaData[3].programacion2.split(';')[0]" target="_blank">{{islaData[3].programacion2.split(';')[1]}}</a>
                </div>
            </div>

              <div class="contenedor_redes_sociales">
                  <p class="titulo_redes_sociales" *ngIf="islaData[3].mostrar[11]">{{islaData[3].subtitulo2}}</p>
                  <div class="botones_redes_sociales" *ngIf="islaData[3].mostrar[12]">
                    <a class="boton_redes_sociales" [href]="islaData[3].facebook" target="_blank" *ngIf="islaData[3].mostrar[25]">
                        <figure>
                            <img class="img_redes_sociales" alt="Facebook" src="assets/images/facebook.png">
                        </figure>
                    </a>
                    <a class="boton_redes_sociales" [href]="islaData[3].instagram" target="_blank" *ngIf="islaData[3].mostrar[26]">
                        <figure>
                            <img class="img_redes_sociales" alt="Instagram" src="assets/images/instagram.png">
                        </figure>
                    </a>
                    <a class="boton_redes_sociales" [href]="islaData[3].youtube" target="_blank" *ngIf="islaData[3].mostrar[27]">
                        <figure>
                            <img class="img_redes_sociales" alt="Youtube" src="assets/images/youtube.png">
                        </figure>
                    </a>
                    <a class="boton_redes_sociales" [href]="islaData[3].twitter" target="_blank" *ngIf="islaData[3].mostrar[28]">
                        <figure>
                            <img class="img_redes_sociales" alt="Youtube" src="assets/images/youtube.png">
                        </figure>
                    </a>
                </div>
              </div>

              <div class="contenedor_contacto">
                  <p class="titulo_contacto" *ngIf="islaData[3].mostrar[13]">{{islaData[3].contactenos}}</p>
                  <div *ngIf="islaData[3].mostrar[14]">
                    <p class="dato_contacto" *ngFor="let item of getMails(islaData[3].correos)">
                      <strong class="correo_contacto">{{item}}</strong>
                    </p>
                  </div>
                  <p class="dato_contacto_pagina" *ngIf="islaData[3].mostrar[15]"> {{islaData[3].urlsitioWeb.split(",")[0]}} <a [href]="islaData[3].urlsitioWeb.split(',')[2]" target="_blank" class="enlace_pagina">{{islaData[3].urlsitioWeb.split(",")[1]}}</a></p>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- FIN MODAL-->
<div id="ModalEspacios" class="modal_home_islas">
    <div class="modal_contenido_islas">
        <div class="contenedor_cerrar_islas">
            <a onclick="$('#ModalEspacios').hide(); cerrarModal();" class="modal_cerrar_islas pointer">X</a>
        </div>

        <div class="contenedor_modal_islas">
            <div class="contenido_islas" id="isla_espacios">
                <!-- <h3 class="titulo_islas">SOMOS ESPACIOS</h3>

                <div class="video_islas">
                    <div class="embed-responsive embed-responsive-4by3">
                        <div class="videoWrapper">
                            <iframe id="vid_frame_islas" class="iframe_islas" width="700" height="315" src="https://www.youtube.com/embed/USM8QTFUKSU?mute=1&enablejsapi=1" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div> -->

                <h3 class="titulo_islas" *ngIf="islaData[5].mostrar[0]"> {{islaData[5].titulo}} </h3>

                <div class="video_islas" *ngIf="islaData[5].mostrar[1]">
                    <div class="embed-responsive embed-responsive-4by3">
                        <div class="videoWrapper">
                            <iframe id="vid_frame_islas" class="iframe_islas" width="700" height="315" [src]="transform(islaData[5].url)" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>


                <!-- <div class="imagenes_islas">
                      <div class="div_imagen_islas" id="img_espacios_1">
                      </div>
                      <div class="div_imagen_islas" id="img_espacios_2">
                      </div>
                      <div class="div_imagen_islas" id="img_espacios_3">
                      </div>
                      </div>
                -->


                <div class="descripcion_islas" *ngIf="islaData[5].mostrar[2]">
                  <p class="texto_descripcion_islas">
                    <span [innerHTML]="islaData[5].descripcion"></span>
                  </p>
                </div>

              <div class="imagenes_islas" *ngIf="islaData[5].mostrar[3]">
                <div class="div_imagen_islas"
                *ngIf="islaData[5].mostrar[19]"
                [ngStyle]="{'background-image': 'url(/islas/espacios1.jpg)'}">
                </div>
                <div
                *ngIf="islaData[5].mostrar[20]"
                class="div_imagen_islas"
                [ngStyle]="{'background-image': 'url(/islas/espacios2.jpg)'}">
                </div>
                <div
                *ngIf="islaData[5].mostrar[21]"
                class="div_imagen_islas"
                [ngStyle]="{'background-image': 'url(/islas/espacios3.jpg)'}">
                </div>
                <div
                *ngIf="islaData[5].mostrar[22]"
                class="div_imagen_islas"
                [ngStyle]="{'background-image': 'url(/islas/espacios4.jpg)'}">
                </div>
                <div
                *ngIf="islaData[5].mostrar[23]"
                class="div_imagen_islas"
                [ngStyle]="{'background-image': 'url(/islas/espacios5.jpg)'}">
                </div>
                <div
                *ngIf="islaData[5].mostrar[24]"
                class="div_imagen_islas"
                [ngStyle]="{'background-image': 'url(/islas/espacios6.jpg)'}">
                </div>
            </div>

              <div class="contenedor_datos_importancia">
                  <p class="titulo_datos_importancia" *ngIf="islaData[5].mostrar[4]">{{islaData[5].subtitulo1}}</p>

                  <div class="datos_importancia_islas" [ngStyle]="{'background-image': 'linear-gradient( rgb(2 9 22 / 45%), rgb(2 9 22 / 45%)), url(/islas/espacios.jpg)'}" *ngIf="islaData[5].mostrar[5] && islaData[5].mostrar[6] && islaData[5].mostrar[7] && islaData[5].mostrar[8] && islaData[5].mostrar[9] && islaData[5].mostrar[10]">
                    <div class="datos_islas">
                      <div class="dato_islas" [innerHTML]="islaData[5].info1" *ngIf="islaData[5].mostrar[5]">
                      </div>
                      <div class="dato_islas" [innerHTML]="islaData[5].info2" *ngIf="islaData[5].mostrar[6]">
                      </div>
                      <div class="dato_islas" [innerHTML]="islaData[5].info3" *ngIf="islaData[5].mostrar[7]">
                      </div>
                      <div class="dato_islas" [innerHTML]="islaData[5].info4" *ngIf="islaData[5].mostrar[8]">
                      </div>
                      <div class="dato_islas" [innerHTML]="islaData[5].info5" *ngIf="islaData[5].mostrar[9]">
                      </div>
                      <div class="dato_islas" [innerHTML]="islaData[5].info6" *ngIf="islaData[5].mostrar[10]">
                      </div>
                    </div>
                  </div>
              </div>

              <div class="contenedor_programacion">
                <p class="titulo_programacion" *ngIf="islaData[5].mostrar[16]">{{islaData[5].tituloProgramacion}}</p>

                <div class="cont_enlace_programacion" *ngIf="islaData[5].mostrar[17]">
                    <a class="enlace_programacion cont_enlace" [href]="islaData[5].programacion1.split(';')[0]" target="_blank">{{islaData[5].programacion1.split(';')[1]}}</a>
                </div>
                <div class="cont_enlace_programacion" *ngIf="islaData[5].mostrar[18]">
                    <a class="enlace_programacion cont_enlace2" [href]="islaData[5].programacion2.split(';')[0]" target="_blank">{{islaData[5].programacion2.split(';')[1]}}</a>
                </div>
            </div>

              <div class="contenedor_redes_sociales">
                  <p class="titulo_redes_sociales" *ngIf="islaData[5].mostrar[11]">{{islaData[5].subtitulo2}}</p>
                  <div class="botones_redes_sociales" *ngIf="islaData[5].mostrar[12]">
                    <a class="boton_redes_sociales" [href]="islaData[5].facebook" target="_blank" *ngIf="islaData[5].mostrar[25]">
                        <figure>
                            <img class="img_redes_sociales" alt="Facebook" src="assets/images/facebook.png">
                        </figure>
                    </a>
                    <a class="boton_redes_sociales" [href]="islaData[5].instagram" target="_blank" *ngIf="islaData[5].mostrar[26]">
                        <figure>
                            <img class="img_redes_sociales" alt="Instagram" src="assets/images/instagram.png">
                        </figure>
                    </a>
                    <a class="boton_redes_sociales" [href]="islaData[5].youtube" target="_blank" *ngIf="islaData[5].mostrar[27]">
                        <figure>
                            <img class="img_redes_sociales" alt="Youtube" src="assets/images/youtube.png">
                        </figure>
                    </a>
                    <a class="boton_redes_sociales" [href]="islaData[5].twitter" target="_blank" *ngIf="islaData[5].mostrar[28]">
                        <figure>
                            <img class="img_redes_sociales" alt="Youtube" src="assets/images/youtube.png">
                        </figure>
                    </a>
                </div>
              </div>

              <div class="contenedor_contacto">
                  <p class="titulo_contacto" *ngIf="islaData[5].mostrar[13]">{{islaData[5].contactenos}}</p>
                  <div *ngIf="islaData[5].mostrar[14]">
                    <p class="dato_contacto" *ngFor="let item of getMails(islaData[5].correos)">
                      <strong class="correo_contacto">{{item}}</strong>
                    </p>
                  </div>
                  <p class="dato_contacto_pagina" *ngIf="islaData[5].mostrar[15]"> {{islaData[5].urlsitioWeb.split(",")[0]}} <a [href]="islaData[5].urlsitioWeb.split(',')[2]" target="_blank" class="enlace_pagina">{{islaData[5].urlsitioWeb.split(",")[1]}}</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- MODAL PUBLICACION NUEVA-->
<div id="Modal4" class="modal_home2">
    <div class="pn_modal_contenido">
        <div class="pn_contenedor_cerrar">
            <a (click)="closeModal()" class="pn_modal_cerrar pointer">X</a>
        </div>
        <h3 class="modal_titulo">Comparte tu postcard</h3>
        <input type="file" id="adjuntar" #imgItem (change)="setFileImage($event)">


        <div class="contenedor_img_texto">
            <a class="contenedor_icon_publicacion" onclick="$('#adjuntar').click()">
                <figure>
                    <img class="icon_publicacion" src="assets/images/icon_publicacion.png">
                </figure>
            </a>
            <div class="cont_adjunto" *ngIf="imgURL!=null">
                <div class="adjunto" tabindex="-1">
                    <a class="info_archivo" href="javascript:void(0)" onclick="return false;" target="_blank">
                        <div class="nombre_archivo">{{imgName}}</div>
                        <div class="peso_archivo">({{size}} Mb)</div>
                    </a>
                    <div role="button" aria-label="Quitar archivo adjunto" class="boton_cerrar" tabindex="-1" data-tooltip="Quitar archivo adjunto" (click)="clearImg()">X</div>
                </div>
            </div>
            <div class="contenedor_texto">
                <textarea [(ngModel)]="stringTextoPublicacion" placeholder="Déjanos tu comentario..." class="pn_modal_input input_textarea"></textarea>
            </div>
        </div>
        <div class="contenedor_tyc">
            <a href="http://somoscampus.unal.edu.co/pdf/terminosycondiciones.pdf" target="_blank" class="terminos">Términos y condiciones</a>
        </div>
        <div id="spinner">
            <mat-spinner *ngIf="click" diameter="30"></mat-spinner>
        </div>
        <div class="modal_contenedor_boton" *ngIf="!click">
            <a class="pn_modal_boton" href="javascript:void(0)" (click)="postPublicacionInicialT2(0)">Publicar</a>
        </div>
    </div>
</div>

<!-- FIN MODAL-->



<!-- FIN MODAL-->
<!-- MODAL PUBLICACION NUEVA-->
<div id="Modal4b" class="modal_home2">
    <div class="pn_modal_contenido">
        <div class="pn_contenedor_cerrar">
            <a (click)="closeModalb()" class="pn_modal_cerrar pointer">X</a>
        </div>
        <h3 class="modal_titulo">Comparte tu postcard</h3>
        <input type="file" id="adjuntar" #imgItem (change)="setFileImage($event)">


        <div class="contenedor_img_texto">
            <a class="contenedor_icon_publicacion" onclick="$('#adjuntar').click()">
                <figure>
                    <img class="icon_publicacion" src="assets/images/icon_publicacion.png">
                </figure>
            </a>
            <div class="cont_adjunto" *ngIf="imgURL!=null">
                <div class="adjunto" tabindex="-1">
                    <a class="info_archivo" href="javascript:void(0)" onclick="return false;" target="_blank">
                        <div class="nombre_archivo">{{imgName}}</div>
                        <div class="peso_archivo">({{size}} Mb)</div>
                    </a>
                    <div role="button" aria-label="Quitar archivo adjunto" class="boton_cerrar" tabindex="-1" data-tooltip="Quitar archivo adjunto" (click)="clearImg()">X</div>
                </div>
            </div>
            <div class="contenedor_texto">
                <textarea [(ngModel)]="stringTextoPublicacion" placeholder="Déjanos tu comentario..." class="pn_modal_input input_textarea"></textarea>
            </div>
        </div>
        <div class="contenedor_tyc">
            <a href="http://somoscampus.unal.edu.co/pdf/terminosycondiciones.pdf" target="_blank" class="terminos">Términos y condiciones</a>
        </div>
        <div id="spinner">
            <mat-spinner *ngIf="click" diameter="30"></mat-spinner>
        </div>
        <div class="modal_contenedor_boton" *ngIf="!click">
            <a class="pn_modal_boton" href="javascript:void(0)" (click)="postPublicacionInicialT2(1)">Publicar</a>
        </div>
    </div>
</div>




<div id="Modal40" class="modal_home2">
    <div class="pn_modal_contenido">
        <h3 class="modal_titulo"> {{dialogTitle}} </h3>
        <p class="modal_texto"> {{dialogMessage}} </p>
        <div class="modal_contenedor_boton">
            <a class="pn_modal_boton" href="javascript:void(0)" onclick="return false;" (click)="close()">Aceptar</a>
        </div>
    </div>
</div>

<div id="Modal41" class="modal_home2">
    <div class="pn_modal_contenido">
        <h3 class="modal_titulo"> {{dialogTitle}} </h3>
        <p class="modal_texto"> {{dialogMessage}} </p>
        <div class="modal_contenedor_boton">
            <a class="pn_modal_boton" href="javascript:void(0)" onclick="return false;" (click)="close1()">Aceptar</a>
        </div>
    </div>
</div>

<div id="Modal42" class="modal_home2">
    <div class="pn_modal_contenido">
        <h3 class="modal_titulo"> {{dialogTitle}} </h3>
        <p class="modal_texto"> {{dialogMessage}} </p>
        <div class="modal_contenedor_boton">
            <a class="pn_modal_boton" href="javascript:void(0)" onclick="return false;" (click)="close2()">Aceptar</a>
        </div>
    </div>
</div>

<div id="Modal43" class="modal_home2">
    <div class="pn_modal_contenido">
        <h3 class="modal_titulo"> {{dialogTitle}} </h3>
        <p class="modal_texto"> {{dialogMessage}} </p>
        <div class="modal_contenedor_boton">
            <a class="pn_modal_boton" href="javascript:void(0)" onclick="return false;" (click)="close3()">Aceptar</a>
        </div>
    </div>
</div>

<div id="ModalWarning" class="modal_home2">
    <div class="pn_modal_contenido">
        <h3 class="modal_titulo"> {{dialogTitle}} </h3>
        <p class="modal_texto"> {{dialogMessage}} </p>
        <div class="modal_contenedor_boton">
            <a class="pn_modal_boton" href="javascript:void(0)" onclick="return false;" (click)="closeWarning()">Aceptar</a>
        </div>
    </div>
</div>


<!-- Loader -->
<!-- <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
        <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
        <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div> -->
<!-- End loader -->
<!-- Footer -->
