            /** {
    margin: 0;
    padding: 0;
}
header {
    background-color:rgba(33, 33, 33, 0.9);
    color:#ffffff;
    display:block;
    font: 14px/1.3 Arial,sans-serif;
    height:50px;
    position:relative;
    z-index:5;
}
h2{
    margin-top: 30px;
    text-align: center;
}
header h2{
    font-size: 22px;
    margin: 0 auto;
    padding: 10px 0;
    width: 80%;
    text-align: center;
}
header a, a:visited {
    text-decoration:none;
    color:#fcfcfc;
}
*/
            
            .modal-open {
                height: 100%;
                overflow: hidden;
            }
            
            .bg_blanco {
                background-color: #FFFFFF !important;
            }
            
            @keyframes move-twink-back {
                from {
                    background-position: 0 0;
                }
                to {
                    background-position: -10000px 5000px;
                }
            }
            
            @-webkit-keyframes move-twink-back {
                from {
                    background-position: 0 0;
                }
                to {
                    background-position: -10000px 5000px;
                }
            }
            
            @-moz-keyframes move-twink-back {
                from {
                    background-position: 0 0;
                }
                to {
                    background-position: -10000px 5000px;
                }
            }
            
            @-ms-keyframes move-twink-back {
                from {
                    background-position: 0 0;
                }
                to {
                    background-position: -10000px 5000px;
                }
            }
            
            @keyframes move-clouds-back {
                from {
                    background-position: 0 0;
                }
                to {
                    background-position: 10000px 0;
                }
            }
            
            @-webkit-keyframes move-clouds-back {
                from {
                    background-position: 0 0;
                }
                to {
                    background-position: 10000px 0;
                }
            }
            
            @-moz-keyframes move-clouds-back {
                from {
                    background-position: 0 0;
                }
                to {
                    background-position: 10000px 0;
                }
            }
            
            @-ms-keyframes move-clouds-back {
                from {
                    background-position: 0;
                }
                to {
                    background-position: 10000px 0;
                }
            }
            
            .animacion {
                -webkit-animation: pulse 1s linear 0s infinite alternate;
                -moz-animation: pulse 1s linear 0s infinite alternate;
                -o-animation: pulse 1s linear 0s infinite alternate;
                animation: pulse 1s linear 0s infinite alternate;
            }
            
            .stars,
            .twinkling,
            .clouds {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 650%;
                height: 650%;
                display: block;
            }
            
            .clouds {
                background: transparent url('/assets/images/clouds4.png') repeat top center;
                z-index: 3;
                -moz-animation: move-clouds-back 200s linear infinite;
                -ms-animation: move-clouds-back 200s linear infinite;
                -o-animation: move-clouds-back 200s linear infinite;
                -webkit-animation: move-clouds-back 200s linear infinite;
                animation: move-clouds-back 200s linear infinite;
                opacity: 0.7;
                position: fixed;
            }
            
            .unselectable {
                user-drag: none;
                user-select: none;
                -moz-user-select: none;
                -webkit-user-drag: none;
                -webkit-user-select: none;
                -ms-user-select: none;
                cursor: -webkit-grab;
            }
            
            .mouseDown {
                cursor: -webkit-grabbing;
            }
            
            body::-webkit-scrollbar {
                display: none;
            }
            
            .espacio_movil {
                padding-top: 0px;
            }
            
            .mapa {
                width: 200%;
                opacity: 1;
            }
            
            .img_mapa {
                width: 100%;
            }
            
            .contenedor_mapa {
                width: 100%
            }
            
            #unalTop {
                position: fixed;
                width: 100%;
                /* display: none; */
            }
            
            .footer_plantilla {
                position: fixed;
                top: 81%;
                display: none;
            }
            
            .login_sup {
                width: 100%;
                position: fixed;
                z-index: 10;
            }
            
            .login_sup_cp {
                top: 103px;
            }
            
            .login_contenedor {
                font-family: 'Ancizar sans';
                padding: 16px 6% 14px 6%;
                text-align: right;
                background: #333333;
                opacity: 1;
                color: #fff;
                font-family: 'Ancizar sans';
                position: relative;
                height: 85px !important;
                width: 100%;
                display: flex;
                justify-content: space-between;
            }
            
            .espacio_logo {
                display: flex;
                align-items: center;
                justify-content: center;
                padding-left: 0%;
            }
            
            .contenedor_logo_sp {
                display: flex;
                justify-content: start;
            }
            
            .logo_sp {
                width: 94%;
                min-width: 160px;
                margin-top: 10px !important;
            }
            
            .inputs_login {
                display: flex;
                justify-content: center;
            }
            
            .log_input {
                background-color: #666666;
                padding: 10px 20px;
                margin-left: 10px;
                margin-right: 10px;
                border: 0;
                margin: 0px 10px;
                font-size: 1.7vh;
                line-height: 1.7vh;
                height: 35px;
            }
            
            .log_contenedor_boton {
                display: flex;
                justify-content: center;
                text-align: center;
                align-items: center;
                margin-left: 4%;
            }
            
            .log_boton_ingresar {
                font-weight: 700;
                font-size: 1.7vh;
                text-transform: uppercase;
                color: #333333;
                background-color: #fff;
                padding: 7% 3%;
                width: 136px;
                border-radius: 40px;
                border: 0.5px solid #fff;
                margin-left: 8px;
                text-decoration: none !important;
                padding: 13% 13%;
                width: auto;
                white-space: nowrap;
            }
            
            .log_boton_ingresar:hover {
                color: #fff;
                background-color: #333333;
                border: 0.5px solid #878787;
                text-decoration: none !important;
                transition: all .5s ease-in-out;
            }
            
            .log_input::placeholder {
                color: #fff;
                opacity: 0.7;
                text-decoration: none !important;
            }
            
            .log_input:focus {
                background-color: #fff;
                border: none;
                outline: none !important;
                outline-width: 0 !important;
                color: #333333;
            }
            
            .log_input:focus::placeholder {
                color: #333333;
                opacity: 0.7
            }
            
            .log_contenedor_boton_responsive {
                display: none;
            }
            
            .log_boton_ingresar_responsive {
                display: none;
            }
            
            .tema {
                font-family: 'Ancizar sans';
                text-align: right;
                background: #fff;
                opacity: 0.8;
                color: #333333;
                font-family: 'Ancizar sans';
                display: flex;
                justify-content: center;
                top: 9%;
                height: auto !important;
                width: 100%;
                position: relative;
                padding-top: 18px;
                padding-bottom: -10px !important;
                /*top: 103px;*/
                z-index: 10;
                box-shadow: 0px 8px 12px rgb(0 0 0 / 13%)
            }
            
            .texto_tema {
                display: flex;
                justify-content: center;
                flex-direction: row;
                align-items: center;
                font-size: 3.8vh;
                line-height: 4.2vh;
                text-align: center;
                font-weight: 900;
                font-style: italic;
            }
            
            .contenedor_galeria_boton {
                display: flex;
                justify-content: center;
                text-align: center;
                align-items: center;
                position: fixed;
                top: 27%;
                left: 3%;
                z-index: 11;
            }
            
            .galeria_boton {
                font-weight: 700;
                font-size: 1.7vh;
                line-height: 1.7vh;
                text-transform: uppercase;
                color: #fff;
                background-color: #333333;
                padding: 20% 18%;
                white-space: nowrap;
                width: auto;
                border-radius: 100px;
                border: 0.5px solid #333333;
                margin-left: 8px;
                text-decoration: none !important;
                box-shadow: 0px 8px 12px rgb(0 0 0 / 13%);
            }
            
            .galeria_boton:hover {
                color: #333333;
                background-color: #fff;
                border: 0.5px solid #fff;
                transition: all .5s ease-in-out
            }
            
            .contenedor_img_ayuda {
                display: flex;
                justify-content: center;
                text-align: center;
                align-items: center;
                position: fixed;
                top: 83%;
                left: 3%;
                z-index: 10;
            }
            
            .contenedor_ayuda:hover .ayuda_boton_img {
                display: inline;
                transition: all .35s ease-in-out;
                background-color: #F6F6F6;
            }
            
            .contenedor_ayuda .ayuda_boton_img {
                display: inline;
            }
            
            .contenedor_ayuda:hover .ayuda_texto {
                transition: all .5s ease-in-out;
                background-color: #fff;
                color: #333333 !important;
                text-decoration: none;
            }
            
            .ayuda_boton_img {
                width: 80px;
                height: 80px;
                background-color: #fff;
                border-radius: 50%;
                padding: 16px;
                box-shadow: 0px 8px 12px rgb(0 0 0 / 13%);
            }
            
            .ayuda_texto {
                position: fixed;
                top: 85%;
                left: 5%;
                border-radius: 100px;
                z-index: 9;
                background-color: #333333;
                color: #fff !important;
                padding-right: 31px;
                padding-top: 12px;
                padding-bottom: 12px;
                padding-left: 64px;
                text-align: center;
                box-shadow: 0px 8px 12px rgb(0 0 0 / 13%);
                font-size: 2vh;
                line-height: 2vh;
            }
            
            .contenedor_filtros {
                position: fixed;
                top: 37%;
                left: 3%;
                z-index: 10;
                background-color: #fff;
                color: #333333;
                border-radius: 12px;
                padding-top: 8px;
                padding-bottom: 8px;
                min-width: 210px;
                width: 18%;
                box-shadow: 0px 8px 12px rgb(0 0 0 / 13%);
                height: 20%;
                min-height: 260px;
            }
            
            .contenedor_filtros::-webkit-scrollbar {
                width: 8px;
                height: 8px;
                border-radius: 4px;
            }
            /* Ponemos un color de fondo y redondeamos las esquinas del thumb */
            
            .contenedor_filtros::-webkit-scrollbar-thumb {
                background: #ccc;
                border-radius: 4px;
                margin-top: 4px;
            }
            /* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
            
            .contenedor_filtros::-webkit-scrollbar-thumb:hover {
                background: #b3b3b3;
                box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
            }
            /* Cambiamos el fondo cuando esté en active */
            
            .contenedor_filtros::-webkit-scrollbar-thumb:active {
                background-color: #999999;
            }
            
            .titulo_filtros {
                font-size: 3.5vh;
                line-height: 3vh;
                margin: 10% 10%;
                font-weight: 900;
            }
            
            .cta_filtros {
                font-size: 2.5vh;
                line-height: 2.5vh;
                margin: 5% 10%;
                font-weight: 900;
            }
            
            .contenedor_input_filtros {
                margin-left: 10%;
                margin-right: 10%;
                font-size: 1.8vh;
                line-height: 1.8vh;
            }
            
            .form_filtro {
                width: 100%;
                height: 30px;
                border: solid 1px #c9c9c9;
                box-shadow: 0 15px 30px -10px transparentize(#000, 0.9);
                cursor: pointer;
                outline: none;
            }
            
            .form_filtro:focus {
                outline: none;
            }
            
            .form_filtro:hover::after {
                color: #F39C12;
            }
            
            .opciones {
                border: red;
                outline: none;
                -webkit-appearance: none;
                -moz-appearance: none;
                -ms-appearance: none;
            }
            
            .opt_filtro {
                border: none !important;
                outline: none !important;
            }
            
            .form_filtro:hover {
                border: none;
                background: #e8fafc;
                outline: none;
            }
            
            .tema_filtro {
                font-size: 2vh;
                line-height: 2vh;
                margin-left: -1em;
            }
            
            input[type='radio']:after {
                width: 15px;
                height: 15px;
                border-radius: 15px;
                top: -2px;
                left: -1px;
                position: relative;
                background-color: #d1d3d1;
                content: '';
                display: inline-block;
                visibility: visible;
                border: 2px solid white;
            }
            
            input[type='radio']:checked:after {
                width: 15px;
                height: 15px;
                border-radius: 15px;
                top: -2px;
                left: -1px;
                position: relative;
                background-color: #333333;
                content: '';
                display: inline-block;
                visibility: visible;
                border: 2px solid white;
            }
            
            .mapa div {
                position: absolute;
            }
            
            .punto_cultura {
                top: 38.5%;
                left: 87.8%;
                width: 35.3%;
                height: 13%;
                z-index: 9;
                cursor: pointer;
                overflow-y: hidden;
            }
            
            .punto_cultura:hover .isla_cultura {
                display: inline;
            }
            
            .isla_cultura {
                width: 100%;
                display: none;
            }
            
            .punto_deporte {
                top: 51.4%;
                left: 61.2%;
                width: 32.5%;
                height: 12%;
                z-index: 9;
                cursor: pointer;
                overflow-y: hidden;
            }
            
            .punto_deporte:hover .isla_deporte {
                display: inline;
            }
            
            .isla_deporte {
                width: 100%;
                display: none;
            }
            
            .punto_conocimiento {
                top: 68.1%;
                left: 60.5%;
                width: 36.4%;
                height: 14.1%;
                z-index: 9;
                cursor: pointer;
                overflow-y: hidden;
            }
            
            .punto_conocimiento:hover .isla_conocimiento {
                display: inline;
            }
            
            .isla_conocimiento {
                width: 100%;
                display: none;
            }
            
            .punto_salud {
                top: 56.2%;
                left: 113.1%;
                width: 30%;
                height: 12.7%;
                z-index: 9;
                cursor: pointer;
                overflow-y: hidden;
            }
            
            .punto_salud:hover .isla_salud {
                display: inline;
            }
            
            .isla_salud {
                width: 100%;
                display: none;
            }
            
            .punto_naturaleza {
                top: 24.6%;
                left: 50.6%;
                width: 44%;
                height: 11%;
                z-index: 9;
                cursor: pointer;
                overflow-y: hidden;
            }
            
            .punto_naturaleza:hover .isla_naturaleza {
                display: inline;
            }
            
            .isla_naturaleza {
                width: 100%;
                display: none;
            }
            
            .punto_espacios {
                top: 39.8%;
                left: 150.8%;
                width: 28.5%;
                height: 14.6%;
                z-index: 9;
                cursor: pointer;
                overflow-y: hidden;
            }
            
            .punto_espacios:hover .isla_espacios {
                display: inline;
            }
            
            .isla_espacios {
                width: 100%;
                display: none;
            }
            
            .img_isla {
                width: 100%;
            }
            
            .punto_publicacion_nueva {
                top: 50.5%;
                left: 91.6%;
                width: 10%;
                height: 3%;
                z-index: 9;
                cursor: pointer;
                overflow-y: hidden;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
            }
            
            .punto_publicacion:hover .contenedor_publicacion {
                display: inline;
            }
            
            #publicacion1 {
                background-image: url(/assets/images/background.jpg);
            }
            
            .p_publicacion {
                width: 100%;
                padding-bottom: 100%;
                border-radius: 50%;
                background-size: cover;
            }
            
            .p_publicacion:hover {
                opacity: 0.5;
            }
            
            .contenedor_publicacion {
                width: 26%;
                cursor: pointer;
                position: relative !important;
                margin-bottom: 26%;
            }
            
            .contenedor_publicacion:hover {
                opacity: 0.5;
            }
            
            .contenedor_publicacion_nueva {
                width: 31%;
                height: 22%;
                cursor: pointer;
                position: relative !important;
                padding-top: 3px;
            }
            
            .img_publicacion {
                width: 100%;
                border-radius: 50%;
            }
            
            .img_publicacion:hover {
                opacity: 0.5;
            }
            
            .contenedor_cta {
                display: flex;
                justify-content: center;
                width: 100%;
                z-index: 9;
                cursor: pointer;
                position: relative !important;
            }
            
            .cta {
                background-color: #ffc107;
                width: auto;
                color: #333333;
                text-align: center;
                font-size: 2vh;
                line-height: 2.5vh;
                padding: 6px;
            }
            
            .punto_publicacion {
                top: 44.5%;
                left: 86.6%;
                width: 12%;
                height: 4%;
                z-index: 9;
                overflow-y: hidden;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
            }
            
            .contenedor_nombre {
                width: 73%;
                display: flex;
                justify-content: left;
                z-index: 9;
                position: relative !important;
                align-items: center;
                padding-left: 6px;
            }
            
            .nombre {
                width: auto;
                color: #333333;
                font-weight: 900;
                font-size: 1.8vh;
                line-height: 2.2vh;
            }
            
            .modal_home2 {
                background-color: rgba(255, 255, 255, 0.54);
                position: fixed;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 10;
                display: none;
                overflow-y: hidden;
            }
            
            .modal-contenido2 {
                background-color: #333333;
                color: #fff;
                border: 0.5px solid #000000;
                box-sizing: border-box;
                box-shadow: 0px 2px 6px rgb(0 0 0);
                width: 30%;
                min-width: 450px;
                padding: 10px 0px 40px 20px;
                margin: 12% auto;
                position: relative;
                border-radius: 20px;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                max-height: 70%;
            }
            
            .contenedor_cerrar2 {
                display: flex;
                justify-content: end;
                margin: auto;
                width: 100%;
                color: #333333;
                flex-direction: row-reverse;
                margin-right: -20px;
                margin-top: -27px;
            }
            
            .contenedor_modal {
                overflow: auto;
                max-height: 60vh;
                padding-right: 20px;
            }
            
            .contenedor_modal::-webkit-scrollbar {
                width: 8px;
                height: 8px;
                border-radius: 4px;
            }
            /* Ponemos un color de fondo y redondeamos las esquinas del thumb */
            
            .contenedor_modal::-webkit-scrollbar-thumb {
                background: #ccc;
                border-radius: 4px;
                margin-top: 4px;
            }
            /* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
            
            .contenedor_modal::-webkit-scrollbar-thumb:hover {
                background: #b3b3b3;
                box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
            }
            /* Cambiamos el fondo cuando esté en active */
            
            .contenedor_modal::-webkit-scrollbar-thumb:active {
                background-color: #999999;
            }
            
            .cont_textarea {
                overflow-y: hidden;
                width: 100%;
            }
            
            .input_textarea {
                width: 100%;
                height: 100px;
            }
            
            .input_textarea::placeholder {
                color: #fff;
                opacity: 0.7;
                text-decoration: none !important;
            }
            /*modal publicacion nueva*/
            
            .pn_modal_contenido {
                background-color: #fff;
                color: #333333;
                border: 0.5px solid #fff;
                box-sizing: border-box;
                box-shadow: 0px 2px 6px #e9ecef;
                width: 30%;
                min-width: 450px;
                padding: 10px 50px;
                margin: 12% auto;
                position: relative;
                border-radius: 20px;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
            }
            
            .modal_home {
                background-color: rgba(255, 255, 255, 0.54);
                position: fixed;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 10;
                display: none;
                overflow-y: auto;
            }
            
            .footer_modal {
                position: relative;
            }
            
            .modal_titulo {
                font-size: 4.5vh;
                line-height: 4.5vh;
                font-weight: 600;
                text-align: center;
                margin-top: 10%;
                margin-bottom: 1%;
            }
            
            .modal_texto {
                margin-top: 5%;
                margin-bottom: 10%;
                font-size: 2vh;
                line-height: 2.5vh;
                text-align: center;
            }
            
            .pn_modal_input {
                width: 70%;
                background-color: #eaeaea;
                padding: 3% 6%;
                margin-bottom: 2%;
                border: 0;
                font-size: 2vh;
                line-height: 2.3vh;
                margin-top: 5%;
            }
            
            .pn_modal_input:focus {
                background-color: #333333;
                border: none;
                outline: none !important;
                outline-width: 0 !important;
                color: #FFFFFF;
            }
            
            .pn_modal_input::placeholder {
                color: #a5a5a5;
                opacity: 0.7;
            }
            
            .contenedor_img_texto {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
            }
            
            .contenedor_texto {
                width: 100%;
                display: flex;
                justify-content: center;
            }
            
            .contenedor_icon_publicacion {
                width: 100%;
                display: flex;
                justify-content: center;
            }
            
            .icon_publicacion {
                width: 90%;
                cursor: pointer;
            }
            
            .icon_publicacion:hover {
                opacity: 0.5;
            }
            
            .modal_input:focus::placeholder {
                color: #333333;
                opacity: 0.7
            }
            
            .modal_contenedor_boton {
                width: 100%;
                margin-top: 5%;
                margin-bottom: 5%;
                display: flex;
                justify-content: center;
                text-align: center;
            }
            
            .pn_modal_boton {
                font-weight: 700;
                font-size: 2vh;
                text-transform: uppercase;
                color: #fff;
                background-color: #333333;
                padding: 4% 7%;
                border-radius: 500px;
                border: 0.5px solid #fff;
            }
            
            .pn_modal_boton:hover {
                color: #333333;
                background-color: #fff;
                border: 0.5px solid #333333;
                text-decoration: none !important;
            }
            
            .pn_contenedor_cerrar {
                display: flex;
                justify-content: end;
                margin: auto;
                width: 100%;
                color: #fff;
                flex-direction: row-reverse;
                margin-right: -66px;
                margin-top: -27px;
            }
            
            .pn_modal_cerrar {
                display: flex;
                justify-content: center;
                flex-direction: row;
                align-items: center;
                font-size: 2.5vh;
                text-align: center;
                background-color: #333333;
                border-radius: 50%;
                padding: 5%;
                width: 40px;
                height: 40px;
                border: 0.5px solid #333333;
                box-sizing: border-box;
                box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
            }
            
            .pn_modal_cerrar:hover {
                background-color: #fff;
                border: 0.5px solid #fff;
                color: #333333 !important;
            }
            
            #adjuntar {
                display: none;
            }
            
            .contenedor_postcard {
                display: flex;
                flex-wrap: wrap;
            }
            
            .contenedor_img_postcard {
                width: 50%;
            }
            
            .img_postcard {
                width: 95%;
                padding-bottom: 95%;
                /* border: 3px solid white; */
                background-image: url(/assets/images/img_alargada_prueba.jpg);
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center
            }
            
            .foto_postcard {
                width: 100%;
            }
            
            .texto_postcard {
                width: 50%;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
            }
            
            .nombre_postcard {
                width: 100%;
                font-size: 2.8vh;
                line-height: 2.8vh;
            }
            
            .distancia_postcard {
                width: 100%;
                font-size: 1.8vh;
                line-height: 1.8vh;
                margin-bottom: 20px;
            }
            
            .descripcion_postcard {
                width: 100%;
                font-size: 1.8vh;
                line-height: 2.2vh;
            }
            
            .escribir_comentario {
                /* position: relative; */
                width: 100%;
                margin-top: 2%;
                display: flex;
                flex-wrap: nowrap;
                align-items: center;
            }
            
            .btn_enviar {
                width: 10%;
                cursor: pointer;
            }
            
            .icono_enviar {
                margin-left: 30%;
                border-left: 14px solid #fff;
                border-top: 8px solid transparent;
                border-bottom: 8px solid transparent;
            }
            
            #txt_comentario {
                width: 90%;
                padding: 2.5%;
                /* padding-right: 10.5%; */
                border-radius: 10px;
                border: none;
                resize: none;
                min-height: 20px;
                overflow: hidden;
                display: block;
                background-color: #fff;
                color: #000000;
                font-size: 1.8vh;
                line-height: 2vh;
            }
            
            #txt_comentario[contenteditable]:empty::before {
                /*content: "Placeholder";*/
                content: "Escribe un comentario";
                color: grey;
                font-size: 1.8vh;
                line-height: 2vh;
            }
            
            #txt_comentario:focus {
                outline: none !important;
                outline-width: 0 !important;
                color: #fff;
                background-color: #444444;
                text-decoration: none !important;
                border: none;
            }
            
            .contenedor_comentarios {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
            }
            
            .comentario {
                width: 100%;
                background-color: #e2e2e2;
                margin-top: 1.5%;
                padding: 2.5%;
                border-radius: 10px;
            }
            
            .nombre_comentario {
                color: #000000;
                width: 100%;
                font-size: 2vh;
                line-height: 2.4vh;
                font-weight: 900;
            }
            
            .descripcion_comentario {
                width: 100%;
                color: #000000;
                font-size: 1.8vh;
                line-height: 2vh;
            }
            
            @media all and (max-width:1200px) {
                .contenedor_filtros {
                    display: none;
                }
                .contenedor_galeria_boton {
                    top: 75%
                }
                .login_sup {
                    top: 0px;
                }
                .login_sup_cp {
                    top: 90px !important;
                }
            }
            
            @media all and (max-width:991px) {
                .footer_plantilla {
                    top: 68%;
                }
            }
            
            @media all and (max-width:4000px) {
                .login_sup_cp {
                    top: 98px !important;
                }
                .login_sup {
                    top: 0px;
                }
            }
            
            @media all and (max-width:850px) {
                .contenedor_img_ayuda {
                    top: 83%;
                }
                .ayuda_texto {
                    top: 85%;
                }
                .log_contenedor_boton {
                    display: none;
                }
                .log_boton_ingresar {
                    display: none;
                }
                .log_input {
                    display: none;
                }
                .log_contenedor_boton_responsive {
                    display: inline;
                    display: flex;
                    justify-content: center;
                    text-align: center;
                    align-items: center;
                }
                .log_boton_ingresar_responsive {
                    display: inline;
                    font-weight: 700;
                    font-size: 1.7vh;
                    text-transform: uppercase;
                    color: #333333 !important;
                    background-color: #fff;
                    padding: 7% 3%;
                    width: 136px;
                    border-radius: 40px;
                    border: 0.5px solid #fff;
                    margin-left: 8px;
                    text-decoration: none !important;
                }
                .log_boton_ingresar_responsive:hover {
                    color: #fff !important;
                    background-color: #333333;
                    border: 0.5px solid #878787;
                    text-decoration: none !important;
                    transition: all .5s ease-in-out;
                }
                .texto_tema {
                    font-size: 2.9vh;
                    line-height: 3.2vh;
                }
            }
            
            .contenedor_tyc {
                display: flex;
                justify-content: center;
                width: 100%;
            }
            
            .terminos {
                width: 100%;
                text-align: center;
                margin-bottom: 10px;
                text-decoration: underline;
            }
            
            @media all and (max-width: 767px) {
                .modal_home2 {
                    padding-top: 20%
                }
                .espacio_movil {
                    padding-top: 80px;
                }
                .login_sup {
                    top: 0px;
                }
                .login_sup_cp {
                    top: 54px !important;
                }
                .footer_plantilla {
                    top: 100%;
                }
                .pn_contenedor_cerrar {
                    margin-right: -10px;
                }
                .pn_modal_contenido {
                    min-width: 320px;
                    padding: 10px 0px;
                }
                .modal-contenido {
                    min-width: 320px;
                }
                .modal-contenido2 {
                    min-width: 320px;
                    max-height: 85%;
                }
                .punto_publicacion {
                    width: 25%;
                    height: 6%;
                }
                .punto_publicacion_nueva {
                    width: 20%;
                    height: 7.8%;
                }
                .contenedor_postcard {
                    display: flex;
                    justify-content: center;
                }
                .contenedor_img_postcard {
                    width: 50%;
                }
                .nombre_postcard,
                .distancia_postcard,
                .descripcion_postcard {
                    text-align: center;
                }
                .img_postcard {
                    width: 100%;
                }
                .texto_postcard {
                    width: 90%;
                    margin: 10px 0px;
                    justify-content: center;
                }
                .nombre {
                    font-size: 1.7vh;
                    line-height: 1.7vh;
                    display: none;
                }
                .cta {
                    font-size: 1.7vh;
                    line-height: 1.7vh;
                    padding: 2px;
                }
                .distancia_postcard {
                    font-size: 2vh;
                    line-height: 2vh;
                }
                .descripcion_postcard {
                    font-size: 1.9vh;
                }
                .nombre_comentario {
                    font-size: 1.9vh;
                }
                .descripcion_comentario {
                    font-size: 1.7vh;
                }
                .mapa {
                    width: 200%;
                }
                #unalTop {
                    /*position: fixed;*/
                    /*width: 100%;*/
                    position: fixed;
                    top: 0;
                }
                .footer_plantilla {
                    display: none;
                    /*position: relative;*/
                    /*width: 700%;*/
                }
                .ayuda_texto {
                    left: 10%;
                }
                .contenedor_img_ayuda {
                    left: 2%;
                }
            }
            
            @media all and (orientation: landscape) and (max-width:800px) {
                .log_input {
                    font-size: 1.7vw;
                    line-height: 1.7vw;
                }
                .log_boton_ingresar {
                    font-size: 1.7vw;
                    line-height: 2vw;
                }
                .log_boton_ingresar_responsive {
                    font-size: 1.7vw;
                    line-height: 2vw;
                }
                .texto_tema {
                    font-size: 2.9vw;
                    line-height: 3.2vw;
                }
                .galeria_boton {
                    font-size: 2vw;
                    line-height: 2vw;
                }
                .ayuda_texto {
                    font-size: 2vw;
                    line-height: 2vw;
                }
                .titulo_filtros {
                    font-size: 3.5vw;
                    line-height: 3vw;
                }
                .cta_filtros {
                    font-size: 2.5vw;
                    line-height: 2.5vw;
                }
                .tema_filtro {
                    font-size: 2vw;
                    line-height: 2vw;
                }
                .contenedor_input_filtros {
                    font-size: 1.5vw;
                    line-height: 1.5vw;
                }
                .nombre_comentario {
                    font-size: 2vw;
                    line-height: 2.4vw;
                }
                .descripcion_comentario {
                    font-size: 1.8vw;
                    line-height: 2vw;
                }
                .nombre_postcard {
                    font-size: 2.8vw;
                    line-height: 2.8vw;
                }
                .distancia_postcard {
                    font-size: 1.8vw;
                    line-height: 1.8vw;
                }
                .descripcion_postcard {
                    font-size: 1.8vw;
                    line-height: 2.2vw;
                }
                .pn_modal_input {
                    font-size: 2vw;
                    line-height: 2.3vw;
                }
                .pn_modal_boton {
                    font-size: 2vw;
                }
                .pn_modal_cerrar {
                    font-size: 2.5vw;
                }
                #txt_comentario {
                    font-size: 1.8vw;
                    line-height: 2vw;
                }
                #txt_comentario[contenteditable]:empty::before {
                    font-size: 1.8vw;
                    line-height: 2vw;
                }
            }
            
            @media all and (min-width:1700px) {
                .titulo_filtros {
                    font-size: 2.8vh;
                    line-height: 2.8vh;
                }
                .cta_filtros {
                    font-size: 2.2vh;
                    line-height: 2.2vh;
                }
                .texto_tema {
                    font-size: 3.2vh;
                    line-height: 3.5vh;
                }
                .login_sup {
                    /*padding: 20px 6% 14px 6%;*/
                }
            }
            
            .nombre_archivo {
                display: inline-block;
                overflow: hidden;
                padding: 3px 0px;
                text-overflow: ellipsis;
                vertical-align: bottom;
                white-space: nowrap;
                max-width: 315px;
                font-size: 1.6vh;
                line-height: 1.6vh;
            }
            
            .peso_archivo {
                color: #777;
                display: inline-block;
                padding: 0px 3px;
            }
            
            .boton_cerrar {
                cursor: pointer;
                float: right;
                height: 16px;
                margin-top: 1px;
                opacity: .5;
                width: 16px;
            }
            
            .adjunto {
                background-color: #f5f5f5;
                border: 1px solid transparent;
                font-weight: bold;
                margin: 0 0 9px;
                overflow-y: hidden;
                padding: 4px 4px 4px 8px;
                max-width: 448px;
            }
            
            .info_archivo {
                float: left;
                padding: 0 8px 0 0;
                text-decoration: none;
            }
            
            .cont_adjunto {
                display: flex;
                justify-content: center;
                width: 100%;
            }
            
            .cont_like {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                margin: 10px 0px;
            }
            
            .like {
                color: #fff;
                font-size: 1.7em;
                cursor: pointer;
                z-index: 2;
            }
            
            .like:hover {
                color: #db8db9;
                font-size: 1.7em;
                -webkit-transition: color 900ms, background-color 900ms;
                -moz-transition: color 900ms, background-color 900ms;
                -o-transition: color 900ms, background-color 900ms;
                transition: color 900ms, background-color 900ms;
            }
            
            .like-active {
                color: #db8db9;
                font-size: 1.7em;
                cursor: pointer;
                z-index: 2;
            }
            
            .like-active:hover {
                color: #ffffff;
                font-size: 1.7em;
                -webkit-transition: color 900ms, background-color 900ms;
                -moz-transition: color 900ms, background-color 900ms;
                -o-transition: color 900ms, background-color 900ms;
                transition: color 900ms, background-color 900ms;
            }
            
            .txt_like {
                color: #fff;
                font-size: 1.3em;
                margin: 0px 10px;
                font-weight: 700;
            }
            
            @-webkit-keyframes pulse {
                from {
                    -webkit-transform: scale3d(1, 1, 1);
                    transform: scale3d(1, 1, 1);
                }
                50% {
                    -webkit-transform: scale3d(1.05, 1.05, 1.05);
                    transform: scale3d(1.05, 1.05, 1.05);
                }
                to {
                    -webkit-transform: scale3d(1, 1, 1);
                    transform: scale3d(1, 1, 1);
                }
            }
            
            @keyframes pulse {
                from {
                    -webkit-transform: scale3d(1, 1, 1);
                    transform: scale3d(1, 1, 1);
                }
                50% {
                    -webkit-transform: scale3d(1.05, 1.05, 1.05);
                    transform: scale3d(1.05, 1.05, 1.05);
                }
                to {
                    -webkit-transform: scale3d(1, 1, 1);
                    transform: scale3d(1, 1, 1);
                }
            }
            
            .pulse {
                -webkit-animation-name: pulse;
                animation-name: pulse;
            }
            
            .contenedor-filtros-input {
                background-color: white;
                border: 1px solid rgb(172, 172, 172);
                min-height: 50px !important;
                max-height: 60px !important;
                border-radius: 5px !important;
                margin-left: 10% !important;
                margin-right: 10% !important;
                font-size: 1.8vh !important;
                line-height: 1.8vh !important;
                min-width: 200px !important;
                cursor: pointer;
                padding-right: 10px;
                padding-top: 5px;
                padding-bottom: 5px;
            }
            
            .contenedor-filtros-input:focus {
                outline: 0;
            }
            
            .seleccionar_filtro {
                max-width: 200px !important;
            }
            
            .box-scroll-filter {
                // position: absolute;
                // top: 50px;
                max-height: 180px !important;
                min-width: 180px;
                max-width: 350px;
                background-color: rgb(252, 252, 252);
                overflow-y: auto;
                left: 20px !important;
                box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.15) !important;
            }
            
            .box-scroll-filter::-webkit-scrollbar {
                width: 4px;
                height: 4px;
            }
            
            .box-scroll-filter::-webkit-scrollbar-button {
                width: 0px;
                height: 0px;
            }
            
            .box-scroll-filter::-webkit-scrollbar-thumb {
                background: #b5b5b5;
                border: 0px none #ffffff;
                border-radius: 50px;
            }
            
            .box-scroll-filter::-webkit-scrollbar-thumb:hover {
                background: #adadad;
            }
            
            .box-scroll-filter::-webkit-scrollbar-thumb:active {
                background: #ababab;
            }
            
            .box-scroll-filter::-webkit-scrollbar-track {
                background: #ffffff;
                border: 0px none #ffffff;
                border-radius: 50px;
            }
            
            .box-scroll-filter::-webkit-scrollbar-track:hover {
                background: #ffffff;
            }
            
            .box-scroll-filter::-webkit-scrollbar-track:active {
                background: #ffffff;
            }
            
            .box-scroll-filter::-webkit-scrollbar-corner {
                background: transparent;
            }
            
            .hover-options {
                cursor: pointer;
                padding-top: 10px;
                padding-left: 10px;
                padding-bottom: 10px;
                padding-right: 10px;
                font-size: 1.8vh !important;
            }
            
            .hover-options:hover {
                background-color: rgb(241, 241, 241);
            }