<div style="display: flex;width: 100%;height: 100%;">

  <!--  //////////////////////////////////////////////-->
  <!--  ////////// TODO CARRITO COMPRAS //////////////-->
  <!--  //////////////////////////////////////////////-->
    <div style="margin: auto;width: 90%;height: 81%;margin-bottom: 20%;background-color: white;border-radius: 25px;box-shadow: 0 3px 14px 2px rgba(0, 0, 0, 0.59);display: flex;flex-direction: column;">
      <div style="height: 8%;width: 90%;display: flex;margin: 0 auto">
        <ion-icon name="arrow-back-outline" style="margin: auto 0;font-size: x-large;" (click)="CerrarModal()"></ion-icon>
        <ion-label style="margin: auto;font-weight: bold;">Seleccione El Vendedor</ion-label>
        <ion-icon name="arrow-back-outline" style="margin: auto 0;color: white;font-size: x-large;"></ion-icon>
      </div>
 
      <div style="height: 80%;overflow: auto;margin: 0 auto;width: 100%;">
        <div style="text-align:center ; margin-bottom: 5%;">
          <ion-label style="font-weight: bold;color: black;font-size: 70%">Vendedor Seleccionado: {{locStorage.getSelectedThird()}} </ion-label>
        </div>
        <div style="text-align:center ; margin-top: 5%;">
          <div *ngFor="let item of vendorList">
            <ion-item-divider>
              <div style="text-align:center ;">
                <ion-label style="text-align: center;font-weight: bold;color: black;font-size: 100%" (click)="setVendor(item)"> {{item.vendedor}} </ion-label>
              </div>
            </ion-item-divider>
          </div>        
        </div>
      </div>
      
      <div style="display: flex; text-align: center">

        <ion-button color="warning" style="width: 100%; height: 100%;" (click)="CloseButtonSelected()">Continuar</ion-button>

      </div>
    </div>
 
  </div>
  