<div class="mobile">
  <!-- Navbar -->
  <div class="uk-flex uk-flex-middle" style="padding-top: 5px;">
    <i class="fas fa-angle-double-left padding-horizontal-5 uk-text-muted"></i>
    <div class="uk-link-muted" (click)="regresarAAgregar()">Regresar a menu</div>
  </div>
  <div class="uk-flex uk-flex-middle uk-flex-between uk-box-shadow-medium">
    <h3 style="padding:5%"> Crear Cliente. </h3>
    <div class="uk-flex uk-flex-middle">
    </div>
  </div>
  <!--estado de compra-->
  <div>
    <div class="container-open-table-responsive">
      <div>
        <div style="margin: 25px;">
          <label for="fname">Primer Nombre</label>
          <input type="text" id="fname" name="firstname" [(ngModel)]="fnombre">

          <label for="fname">Segundo Nombre</label>
          <input type="text" id="fname" name="firstname" [(ngModel)]="snombre">

          <label for="fname">Primer Apellido</label>
          <input type="text" id="fname" name="firstname" [(ngModel)]="fapellido">

          <label for="fname">Segundo Apellido</label>
          <input type="text" id="fname" name="firstname" [(ngModel)]="sapellido">

          <div style="margin-top: 15px;">
            <label for="country" >Tipo Documento</label>
            <select id="country" name="country" [(ngModel)]="docType">
              <option [value]="item.id_document_type" *ngFor="let item of docList"> {{item.name}} </option>
            </select>
          </div>

          <label for="lname">Numero de Documento</label>
          <input type="text" id="lname" name="lastname" [(ngModel)]="numDoc">

          <label for="fname">Correo</label>
          <input type="text" id="fname" name="firstname" [(ngModel)]="email">

          <label for="fname">Celular</label>
          <input type="text" id="fname" name="firstname" [(ngModel)]="cel">

          <label for="fname">Contraseña</label>
          <input type="text" id="fname" name="firstname" [(ngModel)]="password">


          <label style="margin: auto 0;width: 14%;font-size: 150%; padding-top: 7%;">Direccion</label>

          <div style="margin-top: 15px;">
            <label for="country" >Ciudad</label>
            <input list="menace" name="menace" type="text" [(ngModel)]="cityName" (change)="citychanged($event)">
            <datalist id="menace" >
              <option *ngFor="let city of cityList" [value]="city.city_NAME"> {{city.city_NAME}} </option>
            </datalist>
          </div>

          <div style="margin-top: 15px;">
            <label for="country" >{{dir1}}</label>
            <select id="country" name="country" [(ngModel)]="dir1">
              <option value="Avenida">Avenida</option>
              <option value="Avenida Calle">Avenida Calle</option>
              <option value="Avenida Carrera">Avenida Carrera</option>
              <option value="Calle">Calle</option>
              <option value="Carrera">Carrera</option>
              <option value="Circular">Circular</option>
              <option value="Circunvalar">Circunvalar</option>
              <option value="Diagonal">Diagonal</option>
              <option value="Manzana">Manzana</option>
              <option value="Transversal">Transversal</option>
              <option value="Via">Via</option>
            </select>


          <label for="dir2">Numero Calle</label>
          <input [(ngModel)]="dir2" style="width: 100%;background-color: white;height: 90%;margin: auto 0;flex: unset;margin-left: auto" id="dir2" type="text" placeholder="1a sur"/>
          <div style="padding-top: 5%;">
            <label style="margin: auto 0;width: 14%;font-size: 100%">N°</label>
            <input [(ngModel)]="dir3" style="width: 28%;background-color: white;margin: auto;flex: unset;height: 90%;" id="streetNumber2" type="text" placeholder="2c"/>
            <label style="margin: auto 0;font-weight: bold">-</label>
            <input [(ngModel)]="dir4" autocomplete="off" style="width: 50%;background-color: white;margin: auto;height: 90%;flex: unset;" id="streetNumber3" type="text" placeholder="32"/>
          </div>
          <div style="padding-top: 5%;">
            <label for="fname">Opcional Direccion</label>
            <input type="text" id="fname" name="firstname" [(ngModel)]="dirOpcional">
          </div>
          <input type="submit" value="Localizar Direccion" (click)="crearMarcadorForm()" >

          <div style="margin: auto 0;display: flex;flex-direction: column;height: 400px;width: 100%">
            <!--  EL MAPA-->
            <div id="mapa-mapbox"></div>
          </div>
          <div style="text-align: center;">
            <h4>
              {{direccion}}
            </h4>
          </div>
          <input type="submit" value="Guardar Direccion" (click)="obtenerDireccion()" >
          <!-- <div class="custom-control custom-radio" style="margin-top: 10px;">
            <input type="radio" class="custom-control-input" id="defaultUnchecked" name="defaultExampleRadios" value="P" [(ngModel)]="type" mdbInput>
            <label class="custom-control-label" for="defaultUnchecked">Persona Natural</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="defaultChecked" name="defaultExampleRadios" value="E" [(ngModel)]="type" mdbInput>
            <label class="custom-control-label" for="defaultChecked">Persona Juridica</label>
          </div>

          <div style="margin-top: 15px;">
            <label for="country" >Tipo Documento</label>
            <select id="country" name="country" [(ngModel)]="docType">
              <option [value]="item.id_document_type" *ngFor="let item of docList"> {{item.name}} </option>
            </select>
          </div>

          <label for="lname">Numero de Documento</label>
          <input type="text" id="lname" name="lastname" [(ngModel)]="numDoc">

          <label for="lname">Direccion</label>
          <input type="text" id="lname" name="lastname" [(ngModel)]="direccion">

          <label for="lname">Telefono</label>
          <input type="text" id="lname" name="lastname" [(ngModel)]="phone">

          <label for="lname">Correo</label>
          <input type="text" id="lname" name="lastname" [(ngModel)]="mail">

          <div style="margin-top: 15px;">
            <label for="country" >Genero</label>
            <select id="country" name="country" [(ngModel)]="SelectedGen">
              <option [value]="item.id_GENERO" *ngFor="let item of GenderList"> {{item.genero}} </option>
            </select>
          </div>

          <div style="margin-top: 15px;">
            <label for="country" >Ciudad</label>
            <select id="country" name="country" [(ngModel)]="citySel">
              <option [value]="item.id_CITY" *ngFor="let item of cityList"> {{item.city_NAME}} </option>
            </select>
          </div> -->

          <input type="submit" value="Crear Usuario" (click)="createUser()" >

          <!-- <input type="submit" value="Skip" (click)="skip()" > -->
        </div>
      </div>
    </div>
  </div>
</div>
