// component css goes here
.wrap{
    display: table;
}
.wrap > div{
    display: table-cell;
}
.AjusteNormalSidebar{
    float:left;
    position: unset;
}
.AjusteNormalMainPanel{
    float: unset;
    position: unset;
    width: auto;
}
