<!--The content below is only a placeholder and can be replaced.-->
<div>
  <mat-card style="height: 100%;width:100%;padding:0px">
    <mat-card-header style="background-color:rgb(5, 53, 107);margin:0px;padding:20px">
      <mat-card-title style="font-family: Roboto;font-size: 1.3em; font-weight: 700; margin-bottom:15px; color:white">Estas viendo el pedido: {{elem.numdocumento}} </mat-card-title>
    </mat-card-header>
  </mat-card>
  <div class="text-center">
    <div class="row" style="height: 100%;width:100%;padding:15px">
        <div class="col-4">
          <b>Cliente: </b> {{elem.cliente}} {{elem.tienda}} 
        </div>
        <div class="col-4">
          <b>Fecha: </b> {{elem.fecha}}
        </div>
        <div class="col-4">
          <b># Documento Cliente: </b> {{elem.numpedido}}
        </div>
    </div>
    <div class="row" style="height: 100%;width:100%;padding:15px">
        <div class="col-4">
          <b>Telefono: </b> {{elem.phone}} 
        </div>
        <div class="col-4">
          <b>Correo: </b> {{elem.mail}}
        </div>
        <div class="col-4">
          <b>Direccion: </b> {{elem.address}}
        </div>
    </div>
    <div class="row" style="height: 100%;width:100%;padding:15px">
        <div class="col-4">
          <b>Total: </b> {{this.subtotal + this.tax}} 
        </div>
        <div class="col-4">
          <b>Subtotal: </b> {{subtotal}}
        </div>
        <div class="col-4">
          <b>Impuesto: </b> {{tax}}
        </div>
    </div>
  </div> 
  <div class="row" style="text-align:center ;height: 100%;width:100%;padding:15px">
    <div class="col-6" style="text-align:center ;height: 100%;width:100%;padding:15px">
      <button class="button" mat-stroked-button color="primary" type="button" (click)="sendProducts()">Enviar Pedido</button>
    </div>
    <div class="col-6" style="text-align:center ;height: 100%;width:100%;padding:15px">
      <mat-form-field>
        <mat-label>Seleccione Vehiculo</mat-label>
        <mat-select [(ngModel)]="SelectedVehicle">
          <mat-option *ngFor="let item of ListVehicles" [value]="item.id_VEHICULO">{{item.placa}} - {{item.conductor}}</mat-option>
        </mat-select>
      </mat-form-field> 
    </div>
  </div>
  <div class="table-responsive">
      <table class="table table-hover">
          <thead>
              <tr>
                <th class="text-center"><b>Producto</b></th>
                <th class="text-center"><b>Marca</b></th>
                <th class="text-center"><b>Categoria</b></th>
                <th class="text-center"><b>Linea</b></th>
                <th class="text-center"><b>Cantidad</b></th>
                <th class="text-center"><b>Fabricante</b></th>
                <th class="text-center"><b>Presentacion</b></th>
                <th class="text-center"><b>Costo</b></th>
                <th class="text-center"><b>Costo Total</b></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let elem of ListReportProd; let i = index">
                <td class="text-center"> {{elem.producto}} </td>
                <td class="text-center"> {{elem.marca}} </td>
                <td class="text-center"> {{elem.categoria}} </td>
                <td class="text-center"> {{elem.linea}} </td>
                <td class="text-center"> {{elem.cantidad}} </td>
                <td class="text-center"> {{elem.fabricante}} </td>
                <td class="text-center"> {{elem.presentacion}} </td>              
                <td class="text-center"> {{elem.costo | currency}} </td>
                <td class="text-center"> {{elem.costototal | currency}} </td>      
              </tr>
            </tbody>
      </table>
  </div>
</div>
