/* You can add global styles to this file, and also import other style files */
/* .espacio_movil {
	padding-top: 0px;
}

@media only screen and (max-width:767px) {
    .espacio_movil {
        padding-top: 80px;
    }
} */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
