<div>
  <mat-card style="height: 100%;width:100%;padding:0px">
    <mat-card-header style="background-color:rgb(5, 53, 107);margin:0px;padding:20px">
      <mat-card-title style="font-family: Roboto;font-size: 1.3em; font-weight: 700; margin-bottom:15px; color:white">Si tiene observaciones sobre el pedidio recibido, escribalas, si no, precione aceptar.</mat-card-title>
    </mat-card-header>
  </mat-card>
  <mat-card style="padding:20px">
    <mat-form-field style="width:100%"> 
      <mat-label>Notas</mat-label>
      <input [(ngModel)]="notes" matInput type="text"class="no-spin text-center">
    </mat-form-field>
    <button mat-stroked-button color="warn" type="button" (click)="accept()">Aceptar</button>
  </mat-card>
</div>  