<md-card class="bg-active table-bordered">

  <div class="row">
    <span><h1>Menus de Aplicación</h1></span>
    <span class="fill-remaining-space"></span>
    <span>
        <button (click)="chngeValueAsigMenus()" class="btn btn-link" 
        mdTooltip="Asignar Menus a Un Rol en especifico!">
            <md-icon class="md-24">add</md-icon><br>Asignar Menus a un Rol
        </button>
    </span>
  </div>

  <div *ngIf="esActivAsigMenus; then ActivAsigMenus "></div>   

  <ng-template #ActivAsigMenus>
    
    <md-card>
        <h4>Seleccione el Rol al que desea Asignar menus</h4>
        <br>
       <md-card-content>
        <form novalidate [formGroup]="form">
          <div class="row">

            <span>
              <md-select placeholder="Roles" formControlName="rol">
                <md-option *ngFor="let rol of roles" [value]="rol.id_rol"
                mdTooltip=" {{ rol.descripcion }}" >
                  {{ rol.rol }}
                </md-option>
              </md-select>

              <div *ngIf="form.controls.rol.errors && form.controls.rol.touched">
                <div *ngIf="form.controls.rol.errors.required" class="alert alert-danger">
                    El Campo es requerido!
                </div>
              </div>
              </span>
                  
              
               <div *ngIf="btnSaveMenusRol; then saveMenusRol"></div>
                 
               
              <span></span>
              <span>
                  <ng-template #saveMenusRol>
                     <button (click)="guardarMenusRol()" md-mini-fab  mdTooltip="Guardar cambios para el Rol">
                        <md-icon class="md-24">save</md-icon>
                    </button>
                 </ng-template>

              </span>
          </div>
        </form>
       </md-card-content>


    </md-card>




        </ng-template>

      <div *ngIf="esActivoCheck; then ActivoCheck else DesactivoCheck"></div> 

        <ng-template #ActivoCheck>

           <table class="table  table-striped table-hover">
              <thead class="thead-inverse ">
                <tr>
                  <th>CheckList</th>
                  <th>N°</th>
                  <th>Nombre</th>
                  <th>Tipo</th>
                  <th>Ruta</th>
                  <th>Estado</th>
                  <th>Opciones</th>
                </tr>
              </thead>
              <tbody> 
                <tr *ngFor="let menu of  menus; let i = index">
                 
                  <td><md-checkbox (click)="addMenuRol(i,menu.id_menu)"  [checked]="estaMenuEnLista(listaMenusPorRol,menu.id_menu)" ></md-checkbox></td>
                  <td>{{i+1}}</td>
                  <td>{{menu.nombre}}</td>
                  <td>{{menu.tipo}}</td>
                  <td>{{menu.ruta}}</td>
                  <td>{{menu.estado}}</td>
                  <td>
                    <md-chip-list>
                      <md-icon mdTooltip="Ver más!" (click)="openDialog()" >visibility</md-icon>
                      <md-icon mdTooltip="Editar Menu!"  (click)="openDialog()"  color="primary">create</md-icon>
                      <md-icon mdTooltip="Eliminar Menu!"  (click)="openDialog()"  color="accent"  >delete_foreve</md-icon>
                    </md-chip-list>
                  </td>

                </tr>


              </tbody>
            </table>
        </ng-template>


        <ng-template #DesactivoCheck>

          <table class="table  table-striped table-hover">
              <thead class="thead-inverse ">
                <tr>
                  <th>N°</th>
                  <th>Nombre</th>
                  <th>Tipo</th>
                  <th>Ruta</th>
                  <th>Estado</th>
                  <th>Opciones</th>
                </tr>
              </thead>
              <tbody> 
                <tr *ngFor="let menu of  menus; let i = index">
                  <td>{{i+1}}</td>
                  <td>{{menu.nombre}}</td>
                  <td>{{menu.tipo}}</td>
                  <td>{{menu.ruta}}</td>
                  <td>{{menu.estado}}</td>
                  <td>
                    <md-chip-list>
                      <md-icon mdTooltip="Ver más!" (click)="openDialog()" >visibility</md-icon>
                      <md-icon mdTooltip="Editar Menu!"  (click)="openDialog()"  color="primary">create</md-icon>
                      <md-icon mdTooltip="Eliminar Menu!"  (click)="openDialog()"  color="accent"  >delete_foreve</md-icon>
                    </md-chip-list>
                  </td>

                </tr>


              </tbody>
            </table>
        </ng-template>

  
   
          
</md-card>

 <button (click)="openDialog()" id="view-source" class="bg-success text-white" md-mini-fab mdTooltip="Agregar Menu" >
                        <md-icon class="md-24">add</md-icon>
                    </button>