<!--CONTENEDOR COMPLETOP-->
<div style="margin-top:-10vh">
<!--    OTRO CONTENEDOR-->
	<span *ngIf="tipoFactura=='entrada'">
<!--        CONTENEDOR DEL HEADER-->
		<mat-card style="height: 100%;width:100%;padding:0px">
			<mat-card-header style="background-color:rgb(5, 53, 107);margin:0px;padding:20px">
<!--                EL TITULO PRINCIPAL-->
				<mat-card-title style="font-family: Roboto;font-size: 1.3em; font-weight: 700; margin-bottom:15px; color:white">Generar documento de entrada de mercancía</mat-card-title>
<!--                EL TITULO SECUNDARIO-->
				<mat-card-subtitle style="font-size: 0.8em;font-weight: 300;text-emphasis: left; color:white;margin-bottom:0px">Llene los datos a continuacion presentados para generar el documento de entrada.</mat-card-subtitle>
			</mat-card-header>
		</mat-card>
<!--        CARTA QUE CONTIENE EL CONTENT-->
        <mat-card>
			<mat-card-content>
				<div class="row" >
					<div class="col">
<!--                        CONTENEDOR QUE TIENE EL INPUT, EL SELECTOR OTROS Y BOTONES-->
						<div class="row" *ngIf="tab == 0">
							<div class="col">
								<div class="row">
<!--                                    EL INPUT-->
									<div class="col-3">
										<mat-form-field>
											<input (ngModelChange)="listLoad()" [(ngModel)]="inputForCode" matInput class="text-center" type="text" placeholder="Codigo de barras" #nameit (keyup.enter)="addDetail($event)">
										</mat-form-field>
									</div>
<!--                                    SELECTOR OTROS-->
									<div class="col-3">
										<mat-select [(ngModel)]="SelectedBillState" >
											<mat-option value="1">Otros</mat-option>
											<mat-option value="301">Entrada por vencimiento</mat-option>
											<mat-option value="302">Entrada por daño o averia</mat-option>
											<mat-option value="303">Entrada por devolucion a proveedor </mat-option>
											<mat-option value="304">Entrada por traslado de mercancia</mat-option>
											<mat-option value="305">Entrada por robo</mat-option>
										</mat-select>
									</div>
<!--                                    LOS BOTONES-->
									<div class="col-6 float-right">
										<button mat-stroked-button color="primary" type="button" (click)="openCategories2()">Busqueda de Productos</button>
										<button mat-stroked-button color="primary" type="button" (click)="openDialogTransactionConfirm(3,2)" [disabled]="!setObject.length || flag">Confirmar transacción</button>
										<button mat-stroked-button color="warn" type="button" (click)="cancel()">Cancelar</button>
									</div>
<!--                                    UN DATEPICKER EN DESUSO-->
									<div class="col" [hidden]="true">
										<mat-form-field>
											<input matInput [matDatepicker]="picker" placeholder="Choose a date" >
											<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
											<mat-datepicker #picker disabled="false"></mat-datepicker>
										</mat-form-field>
									</div>
								</div>
<!--                                ?-->
								<div class="col-6" >
									<div class="row" style="max-height: 180px; overflow-y: scroll; margin-top: -15px;text-align: center;" *ngIf="listElem!=''" >
										<div class="row" style="width: 80%;margin-top:-25px;text-align: center;" *ngFor="let item of listaElem">
											<div class="col" style="text-align: center;" *ngIf="!disableDoubleClickSearch" (click)="addDetail2(item.ownbarcode)">
												{{item.product_STORE_NAME}} - {{item.ownbarcode}} - {{item.product_STORE_CODE}}
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
<!--                        EL INPUT DE LAS OBSERVACIONES-->
						<div class="row" *ngIf="tab == 0">
							<div class="col">
								<mat-form-field>
									<input matInput class="text-center" type="text" placeholder="Observaciones" id="reader" autofocus type="text" [(ngModel)]="ObservationsInOrOut">
								</mat-form-field>
							</div>
						</div>
<!--                        EL CONTENEDOR DE LA TABLA-->
						<div class="table-responsive">
							<div class="text-center" *ngIf="setObject.length==0" style="margin-top: 20px">
								<i class="material-icons"> <i class="fa fa-shopping-basket" aria-hidden="true"></i> </i>
								<h4> Productos </h4>
							</div>
							<br>
							<br>
							<table class="table table-hover" style="text-align: center" *ngIf="setObject.length>0">
								<thead>
									<tr>
										<th class="text-center">Código</th>
										<th class="text-center">Producto</th>
										<th class="text-center">Cantidad</th>
										<th class="text-center">Ubicacion</th>
										<th class="text-center"></th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let key of setObject; let idx= index; let last= last;">
										<td class="text-center">{{productsObject[key].code}}</td>
										<td>{{productsObject[key].description}}</td>
										<td class="text-center">
											<mat-form-field style="width:2vw">
												<input [(ngModel)]="productsObject[key].quantity" matInput class="text-center" type="number" id="reader" autofocus type="text" min="1" pattern="^[0-9]+" oninput="validity.valid||(value='');">
											</mat-form-field>
										</td>
										<td class="text-center">
											<mat-form-field>
												<mat-select [(value)]="productsObject[key].id_storage" >
													<mat-option *ngFor="let storage of storageList" [value]="storage.id_storage"> {{storage.storage_name}} </mat-option>
												</mat-select>
											</mat-form-field>
										</td>
										<td class="text-center">
											<div>
												<button mat-icon-button color="warn" (click)="upQuantity(key)">
													<mat-icon aria-label="Example icon-button with a heart icon">keyboard_arrow_up</mat-icon>
												</button>
												<button mat-icon-button color="warn" (click)="downQuantity(key)">
													<mat-icon aria-label="Example icon-button with a heart icon">keyboard_arrow_down</mat-icon>
												</button>
												<button mat-icon-button color="warn" (click)="individualDelete(key)">
													<mat-icon aria-label="Example icon-button with a heart icon">clear</mat-icon>
												</button>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</mat-card-content>
		</mat-card>
	</span>
</div>


<div class="ContenedorLoading" *ngIf="mostrandoCargando">
    <div style="max-width: 500px;width: 50%;margin: auto;height: 30%;">
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title style="font-weight: 500;">Realizando operación, espere un momento.</mat-card-title>
            </mat-card-header>
            <mat-card-content style="align-items: center;justify-content: center;display: flex">
                <mat-spinner style="margin: 10px"></mat-spinner>
            </mat-card-content>
        </mat-card>
    </div>
</div>
