<!--        CONTENEDOR DEL HEADER-->
<mat-card style="height: 100%;width:100%;padding:0">
  <mat-card-header style="background-color:rgb(5, 53, 107);margin:0;padding:20px">
<!--                EL TITULO PRINCIPAL-->
    <mat-card-title style="font-size: 1.3em; font-weight: 700; margin-bottom:15px; color:white">Generar documento de entrada de mercancía</mat-card-title>
<!--                EL TITULO SECUNDARIO-->
    <mat-card-subtitle style="font-size: 0.8em;font-weight: 300;color:white;margin-bottom:0">Llene los datos a continuacion presentados para generar el documento de entrada.</mat-card-subtitle>
  </mat-card-header>
</mat-card>
<!--        CARTA QUE CONTIENE EL CONTENT-->
<mat-card>
  <!--            CONTENIDO DE LA PESTAÑA-->
  <div style="height: 85vh;">
    <!--						FILA-->
    <div style="display: flex">
      <!--          PARTE IZQUIERDA, BUSCADOR Y TABLA-->
      <div style="box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 3px 14px 2px rgba(0, 0, 0, 0.12);padding-top: 5px;width: 49%;margin-right: auto;">
<!--        PRIMERA FILA, INPUT Y BOTON-->
        <div style="display: flex">
<!--          INPUT-->
          <mat-form-field style="margin: auto;width: 45%;">
            <input (ngModelChange)="listLoad()" [(ngModel)]="inputForCode" matInput class="text-center" type="text" placeholder="Codigo de barras" #nameit (keyup.enter)="addDetail($event)">
          </mat-form-field>
<!--          BOTON BUSCAR-->
          <button style="margin: auto" mat-stroked-button color="primary" type="button" (click)="openCategories2()">Busqueda de Productos</button>
        </div>
<!--        SEGUNDA FILA, LA TABLA DE PRODUCTOS DISPONIBLES-->
        <div class="ScrollBar" style="height:25vh;overflow: auto;width: 100%;">
          <div style="width: 100%;" *ngIf="listaElem.length != 0">
            <div style="margin: 0;padding: 0;text-align: center;border-bottom: solid;border-bottom-color: #d8d8d8;border-bottom-width: thin;" *ngFor="let item of listaElem" class="example-element-row">
              <div style="text-align: center;font-size: 14px;" (click)="addDetail2(item.ownbarcode)">
                {{item.product_STORE_NAME}} - {{item.ownbarcode}} - {{item.product_STORE_CODE}}
              </div>
            </div>
          </div>
          <div *ngIf="listaElem.length == 0" style="height: 100%;width: 100%;">
            <div style="display: flex;height: 50%;width: 100%; margin: auto;">
              <mat-icon *ngIf="EstadoBusquedaProducto == -1" style="margin: auto;font-size: 90px;text-align: center;width: 100%;color: gray;margin-bottom: 9%;">search</mat-icon>
              <mat-icon *ngIf="EstadoBusquedaProducto == 1" style="margin: auto;font-size: 90px;text-align: center;width: 100%;color: gray;margin-bottom: 9%;">cached</mat-icon>
              <mat-icon *ngIf="EstadoBusquedaProducto == 2" style="margin: auto;font-size: 90px;text-align: center;width: 100%;color: gray;margin-bottom: 9%;">error_outline</mat-icon>
            </div>
            <div style="display: flex;height: 50%;width: 100%; margin: auto;">
              <mat-label *ngIf="EstadoBusquedaProducto == -1" style="font-size: 30px;margin: auto;color: gray;margin-top: 1%;">Ingrese un producto</mat-label>
              <mat-label *ngIf="EstadoBusquedaProducto == 1" style="font-size: 30px;margin: auto;color: gray;margin-top: 1%;">Buscando, espere...</mat-label>
              <mat-label *ngIf="EstadoBusquedaProducto == 2" style="font-size: 30px;margin: auto;color: gray;margin-top: 1%;">No se encontraron registros</mat-label>
            </div>
          </div>
        </div>
      </div>
      <!--          PERTE DERECHA, RAZÓN, OBS Y BOTONES-->
      <div style="box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 3px 14px 2px rgba(0, 0, 0, 0.12);padding-top: 5px;width: 49%;">
        <!--                                    SELECTOR OTROS-->
        <div style="height: 12.5%;display: flex">
          <mat-label style="width: 90%; margin: auto;">Seleccione una razón:</mat-label>
        </div>
        <div style="height: 12.5%;display: flex">
          <mat-select [(ngModel)]="SelectedBillState" style="width: 90%; margin: auto;">
            <mat-option value="1">Otros</mat-option>
            <mat-option value="301">Entrada por vencimiento</mat-option>
            <mat-option value="302">Entrada por daño o averia</mat-option>
            <mat-option value="303">Entrada por devolucion a proveedor </mat-option>
            <mat-option value="304">Entrada por traslado de mercancia</mat-option>
            <mat-option value="305">Entrada por robo</mat-option>
          </mat-select>
        </div>
        <!--                        EL INPUT DE LAS OBSERVACIONES-->
        <div style="height: 25%;display: flex">
          <mat-form-field style="width: 90%; margin: auto;">
            <input matInput class="text-center" type="text" placeholder="Observaciones" autofocus [(ngModel)]="ObservationsInOrOut">
          </mat-form-field>
        </div>
<!--        BOTONES-->
        <div style="height: 25%;display: flex">
          <button style="height: 70%; width: 90%; margin: auto;" mat-stroked-button color="primary" type="button" (click)="openDialogTransactionConfirm(3,2)" [disabled]="productsObject.length == 0 || flag">Confirmar transacción</button>
        </div>
        <div style="height: 25%;display: flex">
          <button style="height: 70%; width: 90%; margin: auto;" mat-stroked-button color="warn" type="button" (click)="cancel()">Cancelar</button>
        </div>
      </div>
    </div>
    <!--      LA TABLA DE PRODUCTOS SELECCIONADOS-->
    <div class="ScrollBar" style="margin: 0;padding: 0;height: 58%;overflow: auto;box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 3px 14px 2px rgba(0, 0, 0, 0.12);margin-top: 10px">
      <table mat-table multiTemplateDataRows [dataSource]="dataSourceProductosSeleccionados" matSort class="mat-elevation-z8" style="width: 100%;box-shadow: unset;">
        <!--              CREO LAS COLUMNAS-->
        <!-- CODIGO-->
        <ng-container matColumnDef="code">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding: 0 !important;text-align: center !important;">Código</th>
          <td mat-cell *matCellDef="let element" style="padding: 0 !important;color: inherit" [style.text-align]="'center'"> {{element["code"]}} </td>
        </ng-container>
        <!-- PRODUCTO-->
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding: 0 !important;text-align: center !important;">Producto</th>
          <td mat-cell *matCellDef="let element" style="padding: 0 !important;color: inherit" [style.text-align]="'center'"> {{element["description"]}} </td>
        </ng-container>
        <!-- CANTIDAD-->
        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding: 0 !important;text-align: center !important;width: 140px;min-width: 140px">Cantidad</th>
          <td mat-cell *matCellDef="let element" style="padding: 0 !important;color: inherit;width: 140px;min-width: 140px" [style.text-align]="'center'">
            <div style="display: inline-block;margin-top: 16px;">
              <div class="row" >
                <mat-label (click)="downQuantity(element)" style="color:#4e5fbb;cursor: pointer;font-size: x-large;"><</mat-label>
                <mat-form-field class="row" style="width:5vw;margin-top: -15px;margin-bottom: -20px;z-index: 1">
                  <!--suppress TypeScriptUnresolvedVariable -->
                  <input required [(ngModel)]="element.quantity" matInput type="number" step="1" id="readerQuantity" class="no-spin text-center" min="1" pattern="^[0-9]+.{1,}" oninput="validity.valid||(value='');">
                </mat-form-field>
                <mat-label (click)="upQuantity(element)" style="color:#4e5fbb;cursor: pointer;font-size: x-large;">></mat-label>
              </div>
              <mat-label class="row" (click)="individualDelete(element)" style="color:#4e5fbb;cursor: pointer;position: relative;z-index: 10"><div style="margin: auto">Quitar</div></mat-label>
            </div>
          </td>
        </ng-container>
        <!-- UBICACIÓN-->
        <ng-container matColumnDef="id_storage">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding: 0 !important;text-align: center !important;">Ubicacion</th>
          <td mat-cell *matCellDef="let element" style="padding: 0 !important;color: inherit" [style.text-align]="'center'">
            <mat-form-field style="width: 90%">
              <mat-select [(value)]="element.id_storage" >
                <mat-option *ngFor="let storage of storageList" [value]="storage.id_storage"> {{storage.storage_name}} </mat-option>
              </mat-select>
            </mat-form-field>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="GetKeys(); sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: GetKeys();"> </tr>
      </table>
      <div *ngIf="dataSourceProductosSeleccionados.filteredData.length == 0" style="height: 90%;background-color: white;">
        <div style="display: flex;height: 50%;width: 100%; margin: auto;">
          <mat-icon style="margin: auto;font-size: 90px;text-align: center;width: 100%;color: gray;margin-bottom: 5%;">local_grocery_store</mat-icon>
        </div>
        <div style="display: flex;height: 50%;width: 100%; margin: auto;">
          <mat-label style="font-size: 30px;margin: auto;color: gray;margin-top: 1%;">Seleccione productos a vender</mat-label>
        </div>
      </div>
    </div>
  </div>
</mat-card>


<div class="ContenedorLoading" *ngIf="mostrandoCargando">
    <div style="max-width: 500px;width: 50%;margin: auto;height: 30%;">
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title style="font-weight: 500;">Realizando operación, espere un momento.</mat-card-title>
            </mat-card-header>
            <mat-card-content style="align-items: center;justify-content: center;display: flex">
                <mat-spinner style="margin: 10px"></mat-spinner>
            </mat-card-content>
        </mat-card>
    </div>
</div>
