<!-- CONTENEDOR DE TODO EL MODULO DE COMPRA-->
<div style="margin-top:-10vh">
<!--	EL TITULO, HEADER-->
	<mat-card style="height: 100%;width:100%;padding:0px">
		<mat-card-header style="background-color:rgb(5, 53, 107);margin:0px;padding:10px">
<!--			TITULO-->
			<mat-card-title style="font-family: Roboto;font-size: 1.3em; font-weight: 700; margin-bottom:10px; color:white">Registro de Compra</mat-card-title>
<!--			SUB TITULO-->
			<mat-card-subtitle style="font-size: 0.8em;font-weight: 300;text-emphasis: left; color:white;margin-bottom:0px">Completar el formulario para registrar una compra.</mat-card-subtitle>
		</mat-card-header>
	</mat-card>
<!--	EL CONTENIDO-->
	<mat-card>
		<mat-card-content>
			<div class="row" >
				<div class="col">
<!--					FILA CONTENEDOR DATOS PROVEEDOR Y PRODUCTO-->
					<div class="col">
<!--						FILA QUE CONTIENE DATOS PROVEEDOR-->
						<div style="display: flex">
<!--						BOTON-->
							<button style="margin: auto 0" (click)="searchClient2()" mat-stroked-button color="primary" type="submit">Buscar Proveedor</button>
<!--						BUSCADOR-->
							<mat-form-field style="width: 15vw;margin: auto;margin-left: 1vw;">
								<input matInput class="text-center" type="text"  placeholder="Documento Proveedor"  (keyup.enter)="searchClient($event)" [(ngModel)]="ccClient" #nameot>
							</mat-form-field>
<!--						TITULO PROVEEDOR-->
							<div style="margin: 0 auto;padding: 0 5px">
								<h4>Proveedor: </h4>{{cliente}}
							</div>
<!--						DOCUMENTO-->
							<div style="margin: 0 auto;padding: 0 5px">
								<h4>Documento: </h4>{{clientData.document_type}} - {{clientData.document_number}}
							</div>
<!--						TELEFONO-->
							<div style="margin: 0 auto;padding: 0 5px">
								<h4>Telefono: </h4>{{clientData.phone}}
							</div>
<!--						DIRECCION-->
							<div style="margin: 0 auto;padding: 0 5px">
								<h4>Direccion: </h4>{{clientData.address}}
							</div>
						</div>
<!--					FILA CON DATOS DEL PRODUCTO Y BOTONES-->
						<div style="display: flex">
<!--						BUSCAR PRODUCTOS-->
							<button style="margin: auto 0" mat-stroked-button color="primary" type="button" (click)="openCategories2()">Buscar Productos</button>
<!--						BUSCADOR PRODUCTOS-->
							<mat-form-field style="width: 15vw;margin: auto;margin-left: 1vw;">
								<input [(ngModel)]="inputForCode" matInput class="text-center" type="text" placeholder="Código de producto" #nameit (keyup.enter)="addDetail($event)" (ngModelChange)="listLoad()">
							</mat-form-field>
<!--						SELECTOR FECHA-->
							<mat-form-field style="margin: auto;width:19vw;">
								<input matInput [matDatepicker]="picker3" placeholder="Fecha de Compra" [(ngModel)]="date3">
								<mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
								<mat-datepicker #picker3 disabled="false"></mat-datepicker>
							</mat-form-field>
<!--						NUMERO FACTURA-->
							<mat-form-field style="margin: auto;width:19vw;">
								<input matInput class="text-center" type="text" placeholder="Numero de factura" [(ngModel)]="datos" >
							</mat-form-field>
						</div>
<!--					CONTENEDOR DE LISTADO DE PRODUCTOS DEL BUSCADOR-->
						<div style="display: flex">
							<div style="margin: auto;width: 50%;max-height: 20vh;overflow: auto" *ngIf="listaElem.length != 0">
								<div class="row" style="width: 80%;margin-top:-25px;text-align: center;" *ngFor="let item of listaElem">
									<div class="col" style="text-align: center;" (click)="addDetail2(item.ownbarcode)">
										{{item.product_STORE_NAME}} - {{item.ownbarcode}} - {{item.product_STORE_CODE}}
									</div>
								</div>
							</div>
<!--							BOTONES-->
							<div style="margin: auto;display: flex;flex-wrap: wrap;" [ngStyle]="{'width': listaElem.length == 0 ? '100%':'50%'}">
<!--								LAS OBSERVACIONES-->
								<mat-form-field style="margin: auto 2vw;">
									<input matInput class="text-center" type="text" placeholder="Observaciones" [(ngModel)]="obs" >
								</mat-form-field>
								<!--								CONFIRMAR TRASACCIÓN-->
								<button style="margin: auto;width: 40%" mat-stroked-button color="primary" type="button" (click)="quickConfirm()" [disabled]="((this.setObject.length==0) || (this.clientData.document_type=='--') || (datos=='') || (date3==''))">Confirmar transacción</button>
								<!-- <button mat-stroked-button color="primary" type="button" (click)="openDialogTransactionConfirm(2,2)" [disabled]="!setObject.length">Confirmar transacción</button> -->
								<!--								CANCELAR-->
								<button style="margin: auto;width: 40%" mat-stroked-button color="warn" type="button" (click)="cancel()">Cancelar</button>
							</div>
						</div>
<!--						FILA CON VALORES TOTALES Y SUB TOTALES-->
						<div class="row" style="text-align:center;width: 100%">
<!--							SUB TOTAL-->
							<div class="col">
								<h5 class="left-scroll">
									Subtotal: {{calculateSubtotal() | currency  : 'USD' : 'symbol' : '1.0'}}
								</h5>
							</div>
<!--							IMPUESTO-->
							<div class="col">
								<h5 class="left-scroll">
									Impuesto: {{calculateTax() | currency  : 'USD' : 'symbol' : '1.0'}}
								</h5>
							</div>
<!--							TOTAL-->
							<div class="col">
								<h5 class="left-scroll">
									Total: {{calculateSubtotal()+calculateTax() | currency  : 'USD' : 'symbol' : '1.0'}}
								</h5>
							</div>
						</div>
<!--						BOTON DESACTIVADO DE TRANSACCIÓN RAPIDA-->
<!--						<div class="row" style="text-align: center">-->
<!--							<div class="col" style="text-align: center">-->
<!--								&lt;!&ndash; <button mat-stroked-button color="primary" type="button" [disabled]="!locStorage.getBoxStatus()" (click)="quickConfirm()">Confirmacion Rapida</button> &ndash;&gt;-->
<!--							</div>-->
<!--						</div>-->
					</div>
<!--					TABLA QUE CONTIENE LOS PRODUCTOS SELECCIONADOS-->
					<div class="table-responsive" style="width: 100%;max-height: 385px; overflow-y: scroll;">
						<div class="text-center" *ngIf="setObject.length==0" style="margin-top: 10px">
							<i class="material-icons">
								<i class="fa fa-shopping-basket" aria-hidden="true"></i>
							</i>
							<h4>
								Productos
							</h4>
						</div>
						<br>
						<br>
						<table class="table table-hover" style="text-align: center" *ngIf="setObject.length>0">
							<thead>
								<tr>
									<th class="text-center">Código</th>
									<th class="text-center">Producto</th>
									<th class="text-center">Cantidad</th>
									<th class="text-center">Precio de Venta</th>
									<th class="text-center">Costo Actual</th>
									<th class="text-center">Ubicacion</th>
									<th class="text-center">IVA</th>
									<th class="text-center">Total</th>
									<th class="text-center"> </th>
									<th class="text-center" [hidden]="true"> </th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let key of setObject; let idx= index; let last= last;">
									<td class="text-center">{{productsObject[key].code}}</td>
									<td>{{productsObject[key].description}}</td>
									<td class="text-center">
										<mat-form-field style="width:2vw">
											<input [(ngModel)]="productsObject[key].quantity" matInput type="number" id="reader" autofocus  class="no-spin text-center" min="1" pattern="^[0-9]+" oninput="validity.valid||(value='');">
										</mat-form-field>
									</td>
									<td class="text-center">
										<mat-form-field>
											<mat-select [(value)]="productsObject[key].priceGen" >
												<mat-option *ngFor="let price of productsObject[key].pricelist" [value]="price.price"> {{price.price_DESCRIPTION}} - {{price.price | currency  : 'USD' : 'symbol' : '1.0'}} </mat-option>
											</mat-select>
										</mat-form-field>
									</td>
									<td>
										<mat-form-field style="width:5vw">
											<input currencyMask [options]="{ precision: 0 }" [(ngModel)]="productsObject[key].price" matInput class="text-center" type="number" id="reader" autofocus type="text">
										</mat-form-field>
									</td>
									<!-- <td class="text-center">{{productsObject[key].price | currency}}</td> -->
									<td class="text-center">
										<mat-form-field>
											<mat-select [(value)]="productsObject[key].id_storage" >
												<mat-option *ngFor="let storage of storageList" [value]="storage.id_storage"> {{storage.storage_name}} </mat-option>
											</mat-select>
										</mat-form-field>
									</td>
									<td class="text-center">{{ productsObject[key].tax * 100 }} %</td>
									<td class="text-center">{{ calculateTotalPrice(key) | currency  : 'USD' : 'symbol' : '1.0'}}</td>
									<td class="text-center">
										<div>
											<button mat-icon-button color="warn" (click)="upQuantity(key)">
												<mat-icon aria-label="Example icon-button with a heart icon">keyboard_arrow_up</mat-icon>
											</button>
											<button mat-icon-button color="warn" (click)="downQuantity(key)">
												<mat-icon aria-label="Example icon-button with a heart icon">keyboard_arrow_down</mat-icon>
											</button>
											<button mat-icon-button color="warn" (click)="individualDelete(key)">
												<mat-icon aria-label="Example icon-button with a heart icon">clear</mat-icon>
											</button>
										</div>
									</td>
									<td [hidden]="true">
										<button mat-stroked-button color="primary" type="button" (click)="putStandardPrice(productsObject[key])" [disabled]="productsObject[key].price==productsObject[key].standarPrice">Actualizar Costo</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</mat-card-content>
	</mat-card>
</div>
