.AjustesTabla{
  box-shadow: unset;
}

::ng-deep datatable-header-cell, ::ng-deep datatable-header{
  height: 0 !important;
  padding: 0 !important;
}

::ng-deep .datatable-body-cell-label{
  height: 100% !important;
}

.EstiloIconosSumarRestar{
  margin: auto;
  border: solid 1px #a0a0a0;
  border-radius: 20px;
  color: #a0a0a0;
  font-size: 30px;
}

.InputSumarRestar{
  max-width: 40%;
  margin: auto;
  border-bottom: solid 1px #a0a0a0;
  height: 50%;
  display: flex;
  text-align: center;
  ::ng-deep input{
    padding: 0;
  }
}



.ItemSeleccionado {
  color: green;
}

.BotonAbierto {
  transition: all 1s !important;
  height: 81% !important;
  margin-bottom: 20% !important;
}

label,
a {
  cursor: pointer;
  user-select: none;
  text-decoration: none;
  display: inline-block;
  color: inherit;
  //transition: border 0.2s;
  border-bottom: 5px solid rgba(#8e44ad, 0.2);
  padding: 3px 2px;
  &:hover {
      border-bottom-color: #9b59b6;
  }
}

.layout {
  display: grid;
  height: 100%;
  width: 100%;
  overflow: hidden;
  grid-template-rows: 50px 1fr;
  grid-template-columns: 1fr 1fr;
}

input[type="radio"] {
  display: none;
}

label.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-bottom: 2px solid #3880ff;
  background: #ecf0f1;
  user-select: none;
  //transition: background 0.4s, padding-left 0.2s;
  padding-left: 0;
  input[type="radio"]:checked+.page+& {
      background: #3880ff;
      color: #ffffff;
  }
  span {
      padding-left: 0px;
      position: relative;
  }
}

.page {
  grid-column-start: 1;
  grid-row-start: 2;
  grid-column-end: span 3;
  display: flex;
}

.page-contents>* {
  opacity: 0;
}

input[type="radio"]+.page {
  //transition: transform 0.2s;
  transform: translateX(100%);
}

input[type="radio"]:checked+.page {
  transform: translateX(0%);
  .page-contents>* {
      opacity: 1;
      transform: translateY(0px);
  }
}

.page-contents {
  width: 100vw;
}

.TextoProducto {
  width: 100%;
  text-transform: capitalize;
  font-weight: 600;
  color: inherit;
  font-size: 80%;
}

.boton-circle {
  border-radius: 100% !important;
  background-color: #1d8f56 !important;
  font-size: 20px !important;
  font-weight: 600;
  width: 50px;
  height: 50px;
  margin-right: 10PX;
  margin-bottom: 10PX;
}

.button-close {
  background-color: rgb(220, 33, 33);
  font-size: 14px;
  color: white;
  font-weight: 500;
  margin-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
}

.modal-options {
  border-radius: 10px;
  padding-bottom: 40px;
  margin-right: 25px;
  margin-left: 25px;
  height: auto;
}

.padding-bottom-10 {
  margin-bottom: 10px;
  margin-top: 10px;
}