<h1>billllll general</h1>
<div class="container bg-info">
	<form novalidate [formGroup]="form">

		<div class="row">
			<div class="col text-white">
				<h1>
					<b>{{type_billing}}</b>
				</h1>
				<div class="container row tky-full-width ">
					<h1>
						<mat-form-field class="example-full-width text-white">

							<mat-select placeholder="Sedes" formControlName="id_th_venue">
								<mat-option *ngFor="let documentType of thirdStoreVenue" required [value]="documentType.id_third">
									<span>{{ documentType.info.fullname}}</span>
								</mat-option>
							</mat-select>

						</mat-form-field>

					</h1>


				</div>
			</div>
			<div class="col">
				<mat-card>
					<mat-card-title>TIENDA {{third?.info.fullname}}</mat-card-title>
					<mat-card-content class="text-center">
						{{third?.info.document_number}}
					</mat-card-content>
				</mat-card>
			</div>
		</div>

		<div class="container row tky-full-width">
			<div class="col col-md-4 col-lg-4 tky-full-width">
					<mat-card class="mat-elevation-z10 tky-full-width">
							<mat-card-title class="text-center">Listas de Mercancia</mat-card-title>
							<mat-card-content class="tky-full-width">
									<div class="card-content table-responsive tky-full-width">
											<table class="table table-hover bg-warning tky-full-width">
													<thead>
															<tr>
																	<th>#</th>
																	<th>Nombre</th>
																	<th>Cantidad</th>
																	<th>Opción</th>
															</tr>
													</thead>
													<tbody>
															<tr *ngFor="let element of inventoryList; let i = index">
																	<td> {{i+1}}</td>
																	<td>{{element.product.name_product}}</td>
																	<td>{{element.detail.quantity}}</td>
																	<td>
																			<mat-icon (click)="addDetBill(i,element)">fast_forward</mat-icon>
																				
																			</td>
															</tr>
		
													</tbody>
											</table>
									</div>
		
							</mat-card-content>
						</mat-card>
			</div>
			<div class="col col-md-4 col-lg-4 tky-full-width">
				<mat-card class="tky-full-width">
					<mat-card-title class="text-center">Informacion</mat-card-title>
					<mat-card-content>
						<div class="row tky-full-width">
								<mat-form-field class="field-full-width example-full-width">
										<input type="datetime-local" matInput placeholder="Fecha" formControlName="date">
										<mat-error *ngIf="form.controls.date.errors && form.controls.date.touched">
											<mat-error *ngIf="form.controls.date.errors.required">
												El Argumento es
												<strong>requerido</strong>
											</mat-error>
										</mat-error>
									</mat-form-field>

						</div>
						<div class="row tky-full-width">
							<mat-form-field class="field-full-width tky-full-width">
								<textarea matInput placeholder="Descripcion" formControlName="description"></textarea>
								<mat-error *ngIf="form.controls.description.errors && form.controls.description.touched">
									<mat-error *ngIf="form.controls.description.errors.required">
										El Descripcion es
										<strong>requerida</strong>
									</mat-error>
								</mat-error>
							</mat-form-field>
						</div>
					</mat-card-content>
					<mat-card-actions align="end">
							<button mat-raised-button  (click)="sentMovement()" [disabled]="!form.valid">Finalizar</button>
					</mat-card-actions>
				</mat-card>
				
			</div>
			<div class="col col-md-4 col-lg-4">
				<mat-card class="mat-elevation-z10 tky-full-width">
					<mat-card-title class="text-center">Nueva Lista</mat-card-title>
					<mat-card-content class="tky-full-width">
							<div class="card-content table-responsive tky-full-width">
									<table class="table table-hover bg-warning tky-full-width">
											<thead>
													<tr>
														<th>Opción</th>
															<th>#</th>
															<th>Nombre</th>
															<th>Cantidad</th>
														
													</tr>
											</thead>
											<tbody>
													<tr *ngFor="let element of newProductsForMovement; let j = index">
															<td>
																	<mat-icon (click)="deleteDetBill(j)">fast_rewind</mat-icon>
																		
															</td>
															<td> {{j+1}}</td>
															<td>{{element.detail.product.name_product | json}}</td>
															<td>{{element.oldQuantity-element.detail.detail.quantity }}</td>
															
													</tr>

											</tbody>
									</table>
							</div>

					</mat-card-content>
				</mat-card>
			</div>
		</div>
	</form>

</div>