<div class="mobile">
  <!-- <div class="uk-flex uk-flex-middle uk-flex-between uk-box-shadow-medium">
    <h3 style="padding:5%"> Bienvenido a {{returnStoreName()}} </h3>
  </div>
  <div class="uk-flex uk-flex-middle uk-flex-between uk-box-shadow-medium">
    <h3 style="padding:5%"> Quieres abrir esta mesa? </h3>
  </div>
  <div class="uk-flex uk-flex-middle" style="text-align: center;">
    <button class=" uk-text-capitalize uk-text-bold uk-button uk-button-default button-search-tables-responsive" style="margin-left: 15px;" (click)="goToLoader()">Ordenar</button>
    <button class=" uk-text-capitalize uk-text-bold uk-button uk-button-default button-search-tables-responsive" style="margin-left: 15px;" (click)="goToCatalog()">Ver Catalogo</button>
  </div> -->
</div>
