
<div class="mobile">
  <div class="uk-flex uk-flex-middle uk-flex-between uk-box-shadow-medium">
    <h3 style="padding:5%">No se puede realizar la Tarea, pedido inválido</h3>
  </div>
  <div class="uk-flex uk-flex-center " style="padding-top: 20px; " (click)="next()">
    <button class="button-add-product-responsive uk-text-bold " style="background-color: rgb(220, 220, 220);">Aceptar</button>
  </div>
</div>
