<!-- <body> -->
    <!-- Servicios -->
    <div id="services">
        <div class="indicator d-none d-md-block"></div>
        <ul class="dropdown-menu" id="servicios">
            <li>
                <a href="http://correo.unal.edu.co" target="_blank"><img src="assets/images/icnServEmail.png" width="32" height="32" alt="Correo Electrónico">Correo Electrónico</a>
            </li>
            <li>
                <a href="https://dninfoa.unal.edu.co" target="_blank"><img src="assets/images/icnServSia.png" width="32" height="32" alt="Dirección Nacional de Información Académica">DNINFOA - SIA</a>
            </li>
            <li>
                <a href="http://bibliotecas.unal.edu.co" target="_blank"><img src="assets/images/icnServLibrary.png" width="32" height="32" alt="Biblioteca">Bibliotecas</a>
            </li>
            <li>
                <a href="http://personal.unal.edu.co" target="_blank"><img src="assets/images/icnServCall.png" width="32" height="32" alt="Convocatorias">Convocatorias</a>
            </li>
            <li>
                <a href="http://identidad.unal.edu.co"><img src="assets/images/icnServIdentidad.png" width="32" height="32" alt="Identidad U.N.">Identidad U.N.</a>
            </li>
        </ul>
    </div>
    <!-- Header -->
    <header id="unalTop">
        <!-- Logo -->
        <div class="logo">
            <a href="https://unal.edu.co">
                <!--[if (gte IE 9)|!(IE)]><!-->
                <svg width="93%" height="93%">
                    <image xlink:href="assets/images/escudoUnal.svg" width="100%" height="100%" class="hidden-print" alt="Escudo de la Universidad Nacional de Colombia" />
                </svg>

                <!--<![endif]-->
                <!--[if lt IE 9]> <img src="assets/images/escudoUnal.png" width="93%" height="auto"
        class="hidden-print"/> <![endif]-->
                <img src="assets/images/escudoUnal_black.png" class="d-none d-print-block" alt="Escudo de la Universidad Nacional de Colombia" />
            </a>
        </div>
        <!-- Seal -->
        <div class="seal">
            <img class="hidden-print" alt="Escudo de la República de Colombia" src="assets/images/sealColombia.png" width="66" height="66" />

            <img class="d-none d-print-block" alt="Escudo de la República de Colombia" src="assets/images/sealColombia_black.png" width="66" height="66" />
        </div>

        <!-- Menú superior -->
        <div class="firstMenu d-none d-md-block">
            <div class="content-fluid">
                <nav class="navbar navbar-expand-md nav navbar-dark">
                    <!-- perfiles -->
                    <div class=" collapse navbar-collapse navbar-default" id="navbarSupportedContent">
                        <nav id="profiles">
                            <ul class="mr-auto nav justify-content-end">
                                <!-- <ul class="navbar-nav mr-auto nav justify-content-end"> -->
                                <li class="nav-item item_Aspirantes #>">
                                    <a href="http://aspirantes.unal.edu.co">Aspirantes</a>
                                </li>
                                <li class="nav-item item_Estudiantes #>">
                                    <a href="http://estudiantes.unal.edu.co">Estudiantes</a>
                                </li>
                                <li class="nav-item item_Egresados #>">
                                    <a href="http://egresados.unal.edu.co">Egresados</a>
                                </li>
                                <li class="nav-item item_Docentes #>">
                                    <a href="http://docentes.unal.edu.co">Docentes</a>
                                </li>
                                <li class="nav-item item_Administrativos #>">
                                    <a href="http://administrativos.unal.edu.co">Administrativos</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <!-- redes sociales -->
                    <ul class="socialLinks d-none d-md-block">
                        <li>
                            <a href="https://www.facebook.com/UNColombia" target="_blank" class="facebook" title="Página oficial en Facebook"></a>
                        </li>
                        <li>
                            <a href="https://twitter.com/UNColombia" target="_blank" class="twitter" title="Cuenta oficial en Twitter"></a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/channel/UCnE6Zj2llVxcvL5I38B0Ceg" target="_blank" class="youtube" title="Canal oficial de Youtube"></a>
                        </li>
                        <li>
                            <a href="http://agenciadenoticias.unal.edu.co/nc/sus/type/rss2.html" target="_blank" class="rss" title="Suscripción a canales de información RSS"></a>
                        </li>
                    </ul>
                    <!-- idioma -->
                    <div class="collapse btn-group languageMenu d-none d-md-block">
                        <div class="btn btn-default dropdown-toggle" data-toggle="dropdown">es<span class="caret"></span></div>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="index.html#">EN - English</a></li>
                            <li><a href="index.html#">GUC - Wayuunaiki</a></li>
                            <li><a href="index.html#">PBB - Nasa yuwe</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>

        <!-- Menú inferior -->
        <div id="bs-navbar" class="navigation d-none d-md-block">
            <!-- Título del sitio -->
            <div class="site-url" id="subdominio">
                <a href="http://postalunal.unal.edu.co/">postalunal.unal.edu.co</a>
            </div>
            <!-- Buscador -->
            <div class="buscador" id="buscador">
                <div class="gcse-searchbox-only" data-resultsurl="https://unal.edu.co/resultados-de-la-busqueda/" data-newwindow="true"></div>
            </div>
            <!-- Main menu -->
            <div class="navbar-dark mainMenu" id="main_menu_container">
                <!-- Items menú principal -->

                           <div class="btn-group">
                              <div class="btn-group">
                                 <a href="http://somoscampus.unal.edu.co/nosotros.html" class="btn btn-default">NOSOTROS</a>
                              </div>

                              <div class="btn-group">
                                 <a href="http://somoscampus.unal.edu.co/album-reconozco-patrimonio.html" class="btn btn-default">RECONOZCO EL PATRIMONIO</a>
                              </div>

                              <div class="btn-group">
                                 <a href="http://somoscampus.unal.edu.co/album-somos-campus.html" class="btn btn-default">ÁLBUM SOMOS CAMPUS</a>
                              </div>

                              <div class="btn btn-default dropdown-toggle" data-toggle="dropdown">ACCIONES<span class="caret"></span></div>
                              <ul class="dropdown-menu">
                                 <li>
                                    <a class="dropdown-item" href="http://somoscampus.unal.edu.co/undia/index.html">UN DÍA EN LA UN</a>
                                 </li>
                                 <li>
                                    <a class="dropdown-item" href="http://somoscampus.unal.edu.co/festival_anual_somos_campus.html">FESTIVAL SOMOS CAMPUS</a>
                                 </li>
                                 <li>
                                    <a class="dropdown-item" href="http://somoscampus.unal.edu.co/carrera-observacion.html">CARRERA DE OBSERVACIÓN</a>
                                 </li>
                              </ul>
                           </div>
                <!-- Sedes -->
                <div class="btn-group menu_sedes">
                    <div class="btn btn-default dropdown-toggle" data-toggle="dropdown">Sedes<span class="caret"></span></div>
                    <ul class="dropdown-menu" id="sedes">
                        <li>
                            <a class="dropdown-item" href="http://amazonia.unal.edu.co" target="_blank">Amazonia</a>
                            <span class="caret-right"></span></li>
                        <li>
                            <a class="dropdown-item" href="http://bogota.unal.edu.co" target="_blank">Bogotá</a>
                            <span class="caret-right"></span></li>
                        <li>
                            <a class="dropdown-item" href="http://caribe.unal.edu.co" target="_blank">Caribe</a>
                            <span class="caret-right"></span></li>
                        <li>
                            <a class="dropdown-item" href="http://delapaz.unal.edu.co" target="_blank">De La Paz</a>
                            <span class="caret-right"></span></li>
                        <li>
                            <a class="dropdown-item" href="http://www.manizales.unal.edu.co" target="_blank">Manizales</a>
                            <span class="caret-right"></span></li>
                        <li>
                            <a class="dropdown-item" href="http://medellin.unal.edu.co" target="_blank">Medellín</a>
                            <span class="caret-right"></span></li>
                        <li>
                            <a class="dropdown-item" href="http://orinoquia.unal.edu.co" target="_blank">Orinoquia</a>
                            <span class="caret-right"></span></li>
                        <li>
                            <a class="dropdown-item" href="http://www.palmira.unal.edu.co" target="_blank">Palmira</a>
                            <span class="caret-right"></span></li>
                        <li>
                            <a class="dropdown-item" href="http://tumaco-pacifico.unal.edu.co" target="_blank">Tumaco</a>
                            <span class="caret-right"></span></li>
                    </ul>
                </div>
            </div>
            <!-- Servicios label -->
            <div class="btn-group d-none">
                <div class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="navbarSupportedContent" data-target="#services">Servicios<span class="caret"></span>
                </div>
            </div>
            <!-- Perfiles -->
            <div class="btn-group d-none">
                <div class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="navbarSupportedContent" data-target="#profiles">Perfiles<span class="caret"></span>
                </div>
            </div>
        </div>

        <!--Navbar-->
        <nav class="navbar navbar-light light-blue lighten-4 main_menu">
            <!-- Navbar brand -->
            <a class="navbar-brand d-block d-md-none" href="#"></a>

            <!-- Collapse button -->
            <button class="navbar-toggler collapsed d-block d-md-none" type="button" data-toggle="collapse" data-target="#navbar_content" aria-controls="navbar_content" aria-expanded="false" aria-label="Toggle navigation" id="btn_hamburguer">
                <!-- <span class="navbar-toggler-icon"></span> -->
            </button>

            <!-- Collapsible content -->
            <div class="collapse navbar-collapse" id="navbar_content">
                <!-- subdominio -->
                <div class="site-url" id="container_subdominio_mobil"></div>
                <!-- buscador -->
                <div class="buscador" id="container_buscador_mobil"></div>
                <!-- main -->
                <div id="container_mainmenu_mobil"></div>
                <!-- Sedes -->
                <div class="btn-group d-block d-md-none hidden-print">
                    <div class="btn btn-default dropdown-toggle" data-toggle="collapse" data-target="#container_sedes_mobil" aria-controls="container_sedes_mobil">Sedes<span class="caret"> </span>
                    </div>
                </div>
                <div class="collapse" id="container_sedes_mobil"></div>

                <!-- Servicios -->
                <div class="btn-group d-block d-md-none hidden-print">
                    <div class="btn btn-default dropdown-toggle" data-toggle="collapse" data-target="#container_servicios_mobil" aria-controls="container_servicios_mobil">Servicios<span class="caret"> </span>
                    </div>
                </div>
                <div class="collapse" id="container_servicios_mobil"></div>

                <!-- Perfiles -->
                <div class="btn-group d-block d-md-none hidden-print">
                    <div class="btn btn-default dropdown-toggle" data-toggle="collapse" data-target="#container_profiles_mobil" aria-controls="container_profiles_mobil">Perfiles<span class="caret"> </span>
                    </div>
                </div>
                <div class="collapse" id="container_profiles_mobil"></div>
            </div>

            <!-- Collapsible content -->
        </nav>
        <!-- name office -->
        <!-- end name office -->
    </header>

    <!-- /content wrapper for padding -->
    <main class="detalle bg_blanco">
    	<!-- LOGIN SUPERIOR -->
	    <div class="login_sup">
            <div class="login_contenedor">
    	    	<div class="espacio_logo"> 
    	    		<figure class="contenedor_logo_sp"> 
    	    			<img class="logo_sp" src="assets/images/logo_somos_project.png">
    	    		</figure>
    	    	</div>
    	    	<div class="inputs_login">
    	    		<input type="text" placeholder="correo@unal.edu.co" class="log_input">
    	    		<input type="password" placeholder="contraseña"class="log_input">
    	    		<div class="log_contenedor_boton">
    	                <a class="log_boton_ingresar" href="#">Iniciar Sesión</a>
    	             </div>
    	             <div class="log_contenedor_boton_responsive">
    	                <a class="log_boton_ingresar_responsive pointer" onclick="$('#Modal1').show(); abrirModal();">Iniciar Sesión</a>
    	             </div>
    	    	</div>
            </div>
            
    	    <!-- PREGUNTA O TEMA-->
    	    <div class="tema">
    	    	<h3 class="texto_tema">¿Qué habilidad aprendiste durante el aislamiento?</h3>
    	    </div>
    	    <!-- PREGUNTA O TEMA -->
	    </div>
	    <!-- FIN LOGIN SUPERIOR -->




	    <!-- BOTON GALERIA-->
	    <div class="contenedor_galeria_boton">
	           <a class="galeria_boton" href="galeria.html">Ver Galería</a>
	    </div>
	    <!-- FIN BOTON GALERIA-->

	   	<!-- BOTON AYUDA-->
	    <div class="contenedor_ayuda">
	    	<figure class="contenedor_img_ayuda">
	    		<img class="ayuda_boton_img pointer" src="assets/images/ayuda_logo.png"> 
	    	</figure>
	         <a class="ayuda_texto"  onclick="$('#Modal2').show(); abrirModal();">¿No te sientes bien? <br>Te escuchamos</a>
	    </div>
	    <!-- FIN BOTON AYUDA-->

        <!-- MODAL -->
            <div id="Modal2" class="modal_home2">
              <div class="modal-contenido">
                    <div class="contenedor_cerrar">
                        <a onclick="$('#Modal2').hide(); cerrarModal();" class="modal_cerrar pointer">X</a>
                    </div>
                    <h3 class="modal_titulo">¿No te sientes bien?</h3>
                    <p class="modal_texto">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.</p>
                    <textarea placeholder="Escríbenos en qué podemos ayudarte..." class="modal_input input_textarea" ></textarea>

                    <div class="modal_contenedor_boton">
                        <a class="modal_boton_ingresar" href="#">Enviar</a>
                   </div>
            </div>
        </div>

        <!-- FIN MODAL-->


	    <!-- FILTROS-->
	    <div class="contenedor_filtros">
	    	<h4 class="titulo_filtros">Descubre quien comparte tus interéses</h4>
	    	<h5 class="cta_filtros"> Filtrar</h5>

	    	<!--<div class="contenedor_input_filtros">

		    	<input type="radio" name="transporte2" value="1" class="tema_filtro">¿Qué habilidad aprendiste durante el aislamiento?</br></br>


				<input type="radio" name="transporte2" value="2" class="tema_filtro" checked>¿Lorem impsum dolor sit, amet consecteur?</br></br>

				<input type="radio" name="transporte2" value="3" class="tema_filtro">¿Lorem impsum dolor sit, amet consecteur?</br></br>
			</div> -->

            <div class="contenedor_input_filtros">
                <select name="seleccionar_filtro"  size="1">
                    <option class="opt_filtro">¿Qué habilidad aprendiste durante el aislamiento?</option>
                    <option class="opt_filtro">¿Lorem impsum dolor sit, amet consecteur?</option>
                    <option class="opt_filtro">¿Lorem impsum dolor sit, amet consecteur?</option>
                    <option class="opt_filtro">¿Lorem impsum dolor sit, amet consecteur?</option>
                    <option class="opt_filtro">¿Lorem impsum dolor sit, amet consecteur?</option>
                    <option class="opt_filtro">¿Lorem impsum dolor sit, amet consecteur?</option>
                </select>
            </div>
	    </div>

         <!-- FIN FILTROS-->

        <!-- MAPA -->
    		<div  class="mapa">
				
				<div class="punto_cultura unselectable">
					<div class="isla_cultura">
						<figure>
							<img src="assets/images/cultura.png" class="img_isla">
						</figure>
					</div>
				</div>
                <div class="punto_deporte unselectable">
                    <div class="isla_deporte">
                        <figure>
                            <img src="assets/images/deporte.png" class="img_isla">
                        </figure>
                    </div>
                </div>
                <div class="punto_conocimiento unselectable">
                    <div class="isla_conocimiento">
                        <figure>
                            <img src="assets/images/conocimiento.png" class="img_isla">
                        </figure>
                    </div>
                </div>

                <div class="punto_salud unselectable">
                    <div class="isla_salud">
                        <figure>
                            <img src="assets/images/salud.png" class="img_isla">
                        </figure>
                    </div>
                </div>
                <div class="punto_naturaleza unselectable">
                    <div class="isla_naturaleza">
                        <figure>
                            <img src="assets/images/naturaleza.png" class="img_isla">
                        </figure>
                    </div>
                </div>

                <div class="punto_espacios unselectable">
                    <div class="isla_espacios">
                        <figure>
                            <img src="assets/images/espacios.png" class="img_isla">
                        </figure>
                    </div>
                </div>

        <!-- PUBLICACIONES -->

                <!-- PUBLICACION NUEVO USUARIO -->

                <div class="punto_publicacion_nueva unselectable">
                    <div class="contenedor_publicacion_nueva">
                        <a onclick="$('#Modal4').show(); abrirModal();">
                        <figure class="animacion">
                            <img src="assets/images/icon_avatar.png" class="img_publicacion">
                        </figure>
                        </a>
                    </div>
                    <div class="contenedor_cta">
                        <div class="cta">Arrastra para explorar</div>
                    </div>
                </div>
                <!-- FIN PUBLICACION NUEVO USUARIO -->


                <!-- PUBLICACION REALIZADA-->
            
                    <div class="punto_publicacion unselectable">
                        <div class="contenedor_publicacion">
                            <a onclick="$('#Modal3').show(); abrirModal();">
                            <figure>
                                <img src="assets/images/icon_avatar_02.png" class="img_publicacion">
                            </figure>
                            </a>
                        </div>

                        <div class="contenedor_nombre">
                            <div class="nombre">Laura S. <br>126 Km de la UN</div>
                        </div>
                    </div>
           






                <!-- FIN PUBLICACION  -->




        <!-- FIN PUBLICACIONES -->

				<img src="assets/images/mapa.png" class="unselectable img_mapa">
			</div>




			<div class="clouds unselectable"></div>	
		<!-- FIN MAPA -->




    </main>

        <!-- MODAL -->
            <div id="Modal1" class="modal_home">
              <div class="modal-contenido">
                    <div class="contenedor_cerrar">
                        <a onclick="$('#Modal1').hide(); cerrarModal();" class="modal_cerrar pointer">X</a>
                    </div>
                    <h3 class="modal_titulo">Inicia Sesión</h3>
                    <p class="modal_texto">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.</p>
                    <input type="text" placeholder="correo@unal.edu.co" class="modal_input">
                    <input type="password" placeholder="contraseña"class="modal_input">
                    <div class="modal_contenedor_boton">
                        <a class="modal_boton_ingresar" href="#">Ingresa</a>
                   </div>
                    <div class="modal_contenedor_boton">
                        <a class="modal_boton_continua pointer" onclick="$('#Modal1').hide(); cerrarModal();">Continúa sin iniciar sesión</a>
                   </div>
            </div>
        </div>

        <!-- FIN MODAL-->

        <!-- MODAL PUBLICACION REALIZADA-->    
            <div id="Modal3" class="modal_home2">
              <div class="modal-contenido2">                    
					<div class="contenedor_cerrar2">
						<a onclick="$('#Modal3').hide(); cerrarModal();" class="modal_cerrar pointer">X</a>
					</div>
					
					<div class="contenedor_modal">
						<div class="contenedor_postcard">
							<div class="contenedor_img_postcard">
								<div class="img_postcard">
								</div>
							</div>
							
							<div class="texto_postcard">
								<div class="persona_postcard">
									<p class="nombre_postcard">Laura Sanchez</p>
									<p class="distancia_postcard">126 Km de la UN</p>
									<p class="descripcion_postcard">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>							
								</div>
							</div>
						</div>
						<div class="escribir_comentario">
							<span role="textbox" id="txt_comentario" contenteditable></span>
							<div class="btn_enviar">
								<div class="icono_enviar"></div>
							</div>
						</div>
						
						<div class="contenedor_comentarios">
							<div class="comentario">
								<p class="nombre_comentario">Andrea Carrillo</p>
								<p class="descripcion_comentario">Es genial. Te felicito!</p>	
							</div>
							
							<div class="comentario">
								<p class="nombre_comentario">Santiago Rincón</p>
								<p class="descripcion_comentario">Puedes contarme donde aprendiste?</p>	
							</div>

							<div class="comentario">
								<p class="nombre_comentario">Maria Pérez</p>
								<p class="descripcion_comentario">Lorem ipsum dolor sit amet consectetur adipiscing elit dui mauris, maecenas primis interdum integer eleifend ligula euismod quis sollicitudin accumsan</p>	
							</div>
							
							<div class="comentario">
								<p class="nombre_comentario">Carlos Martínez</p>
								<p class="descripcion_comentario">Lorem ipsum dolor sit amet consectetur adipiscing elit dui mauris, maecenas primis interdum integer eleifend ligula euismod quis sollicitudin.</p>	
							</div>
							
							<div class="comentario">
								<p class="nombre_comentario">Juana Prieto</p>
								<p class="descripcion_comentario">Lorem ipsum dolor sit amet consectetur adipiscing elit dui mauris, maecenas primis interdum integer eleifend ligula.</p>	
							</div>
							
							<div class="comentario">
								<p class="nombre_comentario">Carlos Martínez</p>
								<p class="descripcion_comentario">Puedes contarme donde aprendiste?</p>	
							</div>
						</div>
					</div>
				</div>
            </div>

        <!-- FIN MODAL-->

        <!-- MODAL PUBLICACION NUEVA-->    
            <div id="Modal4" class="modal_home2">
              <div class="pn_modal_contenido">
                    <div class="pn_contenedor_cerrar">
                        <a onclick="$('#Modal4').hide(); cerrarModal();" class="pn_modal_cerrar pointer">X</a>
                    </div>
                    <h3 class="modal_titulo">Comparte tu postcard</h3>
                    <input type= "file" id="adjuntar"> 
                    <div class="contenedor_img_texto">
                        <a class="contenedor_icon_publicacion"onclick="$('#adjuntar').click()">
                        <figure >
                            <img class="icon_publicacion" src="assets/images/icon_publicacion.png">
                        </figure> 
                        </a>
                        <!-- adjunto imagen-->   
                        <div class="cont_adjunto">
                           <div class="adjunto" tabindex="-1">
                              <a class="info_archivo" href="archivos/archivo_adjunto_1.pdf" target="_blank">
                                 <div class="nombre_archivo">imagen.png</div>
                                 <div class="peso_archivo">(18 K)</div>
                              </a>
                              <div role="button" aria-label="Quitar archivo adjunto" class="boton_cerrar" tabindex="-1" data-tooltip="Quitar archivo adjunto">X</div>
                           </div>
                        </div>
                        <!-- fin adjunto imagen-->  


                        <div class="contenedor_texto">
                            <textarea placeholder="Déjanos tu comentario..." class="pn_modal_input input_textarea" ></textarea>
                        </div>
                    </div>
                        <div class="modal_contenedor_boton">
                            <a class="pn_modal_boton" href="#" onclick="$('#Alerta1').show(); abrirModal();">Publicar</a>
                    </div>
                       </div>
                </div>
        <!-- FIN MODAL-->

        <!-- ALERTA-->    
            <div id="Alerta1" class="modal_home2">
              <div class="pn_modal_contenido">
                    <div class="pn_contenedor_cerrar">
                        <a onclick="$('#Alerta1').hide(); cerrarModal();" class="pn_modal_cerrar pointer">X</a>
                    </div>
                    <h3 class="modal_titulo">¡Publicación exitosa!</h3>
                    <p class="modal_texto">En las próximas 24 horas habilitaremos tu publicación</p>
                        <div class="modal_contenedor_boton">
                            <a class="pn_modal_boton" href="#" onclick="$('#Alerta1').hide(); cerrarModal();">Aceptar</a>
                       </div>
                </div>
            </div>  
        <!-- FIN ALERTA-->

    <!-- Loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
            <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
            <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>
    <!-- End loader -->
    <!-- Footer -->
    <footer class="clear container-fluid footer_plantilla">
        <div class="row">
            <nav class="col-lg-3 col-md-3 col-sm-4 col-6 gobiernoLinea">
                <a href="http://www.legal.unal.edu.co" target="_top">Régimen Legal</a>
                <a href="http://personal.unal.edu.co" target="_top">Talento humano</a>
                <a href="http://contratacion.unal.edu.co" target="_top">Contratación</a>
                <a href="http://personal.unal.edu.co" target="_top">Ofertas de empleo</a>
                <a href="http://launalcuenta.unal.edu.co/" target="_top">Rendición de cuentas</a>
                <a href="http://docentes.unal.edu.co/concurso-profesoral/" target="_top">Concurso docente</a>
                <a href="http://www.pagovirtual.unal.edu.co/" target="_top">Pago Virtual</a>
                <a href="http://controlinterno.unal.edu.co/" target="_top">Control interno</a>
                <a href="http://siga.unal.edu.co" target="_top">Calidad</a>
                <a href="http://unal.edu.co/buzon-de-notificaciones/" target="_self">Buzón de notificaciones</a>
            </nav>
            <nav class="col-lg-3 col-md-3 col-sm-4 col-6 gobiernoLinea">
                <a href="http://correo.unal.edu.co" target="_top">Correo institucional</a>
                <a href="index.html#">Mapa del sitio</a>
                <a href="http://redessociales.unal.edu.co" target="_top">Redes Sociales</a>
                <a href="index.html#">FAQ</a>
                <a href="http://unal.edu.co/quejas-y-reclamos/" target="_self">Quejas y reclamos</a>
                <a href="http://unal.edu.co/atencion-en-linea/" target="_self">Atención en línea</a>
                <a href="http://unal.edu.co/encuesta/" target="_self">Encuesta</a>
                <a href="index.html#">Contáctenos</a>
                <a href="http://estadisticas.unal.edu.co/" target="_top">Estadísticas</a>
                <a href="index.html#">Glosario</a>
            </nav>
            <div class="col-lg-4 col-md-4 col-sm-4 col-12 footer-info">
                <div class="row footer-info-spacing">
                    <p class="col-lg-6 col-md-12 col-sm-12 col-6 contacto">
                        <b>Contacto página web:</b><br />
                        Secretaría de Sede<br />
                        Carrera 45 N° 26-85<br />
                        Edificio Uriel Gutiérrez<br />
                        Bogotá D.C., Colombia<br />
                        (+57 1) 316 5000 Ext. 18275<br />
                        Correo: <a title="Comuníquese con el administrador de este sitio web" href="mailto:EMAIL@unal.edu.co">webmaster_bog@unal.edu.co</a><br />
                    </p>

                    <p class="col-lg-6 col-md-12 col-sm-12 col-6 derechos">
                        &copy; Copyright 2019<br />
                        Algunos derechos reservados.<br />

                        <a href="index.html#">Acerca de este sitio web</a><br />
                        Actualización: 14/11/19
                    </p>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 col-12 logos">
                <div class="row px-3">
                    <div class="col-lg-6 col-md-12 col-sm-6 col-6 no-padding">
                        <div class="row mx-1">
                            <a class="col-md-12 col-sm-6 col-6" href="http://www.orgulloun.unal.edu.co">
                                <img class="hidden-print" alt="Orgullo UN" src="assets/images/log_orgullo.png" width="78" height="21" />
                                <img class="d-none d-print-block" alt="Orgullo UN" src="assets/images/log_orgullo_black.png" width="94" height="37" />
                            </a>
                            <a class="col-md-12 col-sm-6 col-6 imgAgencia" href="http://www.agenciadenoticias.unal.edu.co/inicio.html">
                                <img class="hidden-print" alt="Agencia de Noticias" src="assets/images/log_agenc.png" width="94" height="25" />
                                <img class="d-none d-print-block" alt="Agencia de Noticias" src="assets/images/log_agenc_black.png" width="94" height="37" />
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-6 col-6 no-padding">
                        <div class="row mx-1">
                            <a class="col-md-12 col-sm-6 col-6" href="https://www.sivirtual.gov.co/memoficha-entidad/-/entidad/T0356">
                                <img alt="Portal Único del Estado Colombiano" src="assets/images/log_gobiern.png" width="67" height="51" />
                            </a>
                            <a class="col-md-12 col-sm-6 col-6" href="http://www.contaduria.gov.co/">
                                <img alt="Contaduría General de la República" src="assets/images/log_contra.png" width="67" height="51" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>