<ion-content id="home">

  <div style="display: flex;width: 100%;height: 9.5%">
    <ion-icon (click)="OpenMenu()" style="font-size: 10vw;margin: auto 5px;" name="menu-outline"></ion-icon>
    <div style="margin: auto 0;margin-right: auto;display: flex;flex-direction: column;font-size: 100%;width: 30%">
      <ion-label style="font-size: 80%;text-transform: capitalize;font-weight: bold" *ngIf="this.accountService.usuarioCompleto != null">{{this.accountService.GetNormalName()}}</ion-label>
      <ion-label style="font-size: 65%;text-transform: capitalize">{{this.accountService.usuarioCompleto.address}}</ion-label>
      <ion-label style="font-size: 65%;text-transform: capitalize">{{this.accountService.usuarioCompleto.city_NAME.toLowerCase()}}</ion-label>
    </div>
    <div style="border-radius: 20px;margin: auto;background-color: white;padding: 4px;height: 10vw;width: 10vw;flex-shrink: 0;display: flex;border: solid 1px;overflow: hidden" (click)="PanelTiendaProv = true;">
      <!--        <ion-label style="margin: auto;color: white;font-weight: bold">T</ion-label>-->
      <img src="https://tienda724.com{{this.billingService.ProviderInfo.Logo}}">
    </div>
    <div *ngIf="!this.ProvInvalido && this.accountService.TiendaUsuario != null" style="width: 45vw;margin: auto 0;margin-right: 5px;display: flex">
      <div style="margin: auto;display: flex;flex-direction: column;width: 70%">
        <ion-label style="font-weight: bold;font-size: 80%">{{this.accountService.TiendaUsuario.nombretienda_Cliente}}</ion-label>
        <ion-label style="font-size: 65%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap">{{this.accountService.TiendaUsuario.direccion_Cliente}}</ion-label>
        <ion-label style="font-size: 65%">{{this.accountService.TiendaUsuario.nombreciudad_Cliente}}</ion-label>
      </div>
      <div style="border-radius: 20px;margin: auto;background-color: white;padding: 4px;height: 10vw;width: 10vw;flex-shrink: 0;display: flex;border: solid 1px;overflow: hidden" (click)="PanelTiendaCliente = true">
        <!--        <ion-label style="margin: auto;color: white;font-weight: bold">T</ion-label>-->
        <img style="height: 60%;width: unset;margin: auto;" src="https://tienda724.com{{this.accountService.TiendaUsuario.logo_Cliente}}">
      </div>
    </div>
  </div>

  <!--                EL BUSCADOR-->
  <ion-searchbar *ngIf="!this.ProvInvalido" style="height: 15vw"
                 placeholder="Buscar Producto"
                 (click)="AbrirBuscadorProductos()">
  </ion-searchbar>

  <!--  EL CONTENEDOR DE TODAS LAS LINEAS-->
  <div *ngIf="!this.ProvInvalido" style="width: 100%;display: block" class="ContenedorLineasAnimation" [style.height]="this.LimitadorLineas ? 'calc(45vh + 30px)':this.CalcularTamMaximoContenedorLineas()">
    <div (click)="ClickLinea(idLinea)" *ngFor="let idLinea of this.ListadoKeysLineas;let i = index">
      <div class="ContenedorLinea" [hidden]="!((((ListadoKeysLineas.length > 9) && (i < 8)) || (ListadoKeysLineas.length <= 9)) || !LimitadorLineas)">
        <div class="ContenidoLinea" style="">
          <div class="ContenedorImagen" style="">
            <img class="AjusteImg" *ngIf="this.inventoryService.LineaList[idLinea] != null" [src]="this.inventoryService.GetFilePathForCategoryIMG(this.inventoryService.LineaList[idLinea].nombre,this.inventoryService.LineaList[idLinea].img)"  loop="true" onError="src = '/assets/catNotFound.jpeg'">
          </div>
          <div *ngIf="this.inventoryService.LineaList[idLinea] != null" [style.font-size]="CalcularSizeFont(this.inventoryService.LineaList[idLinea].nombre)" class="TextoCategoria">{{this.inventoryService.LineaList[idLinea].nombre.toLowerCase()}}</div>
        </div>
      </div>
    </div>
    <div (click)="ClickAlternarLineas()" class="ContenedorLinea" *ngIf="this.ListadoKeysLineas.length > 9">
      <div class="ContenidoLinea" style="" *ngIf="LimitadorLineas">
        <div style="margin: auto;font-weight: bolder;text-align: center;">Mostrar Más</div>
      </div>
      <div class="ContenidoLinea" style="" *ngIf="!LimitadorLineas">
        <div style="margin: auto;font-weight: bolder;text-align: center;">Mostrar Menos</div>
      </div>
    </div>
  </div>

  <!--  PEDIDOS EN CURSO-->
  <div *ngIf="!this.ProvInvalido" style="width: calc(100% - 20px);margin: 10px;overflow: auto;height: 30vh">
    <ion-label style="font-weight: bold;font-size: x-large" *ngIf="this.billingService.ListadoPedidosActivos.length > 0">Pedidos en curso</ion-label>
    <!--  CONTENEDOR-->
    <div style="width: 100%;display: flex;flex-direction: column" *ngIf="this.billingService.ListadoPedidosActivos.length > 0">
      <!--    ITEM, OSEA, PEDIDO-->
      <div class="TarjetaPedido" *ngFor="let pedido of this.billingService.ListadoPedidosActivos;let i = index">
        <!--      MITAD CENTRADA-->
        <div style="display: flex;height: 100%;margin: auto;width: 100%;padding-top: 5px;"(click)="this.ClickOrder(pedido)">
          <!--        NUM PEDIDO-->
          <div style="display: flex;flex-direction: column;flex-shrink: 0;">
            <div style="display: flex;margin: auto;font-size: 120%;margin-top: 0">{{pedido.numdocumento}}</div>
            <div style="font-size: 80%;margin: 0 auto;margin-bottom: auto">N° Pedido</div>
          </div>
          <!--        DEMAS-->
          <div style="flex: auto;padding-left: 20px;display: flex;flex-direction: column">
            <ion-label>{{this.FormatedDate(pedido.fecha)}}</ion-label>
            <ion-label style="margin: auto 0;font-size: 90%">{{BillStateToText(pedido.id_BILL_STATE)}} - {{pedido.tienda}}</ion-label>
          </div>
          <div style="width: 10%;display: flex">
            <ion-icon style="margin: 0 auto" name="arrow-forward-circle-outline"></ion-icon>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--  ESTO ES PARA EL CASO QUE NO SE TIENE UN PROOVEDOR VALIDO-->
  <div *ngIf="this.ProvInvalido" style="display: flex;flex-direction: column;height: calc( 100% - 15vw);width: 70%;margin: 0 auto;">
    <ion-icon name="warning-outline" style="font-size: 900%;margin: auto;margin-bottom: 0;"></ion-icon>
    <ion-label style="margin: auto;font-size: 150%;text-align: justify;">No pudimos encontrar Tiendas 724 cercanas a tu ubicación</ion-label>
  </div>
</ion-content>

<!--&lt;!&ndash;TODO PARA LO DEL CARRITO FLOTANTE&ndash;&gt;-->
<!--<div style="display: flex;bottom: 0;width: 100%;height: 15%;position: absolute" [hidden]="this.inventoryService.cartService.ListaTablaProductosSeleccionados.length == 0">-->
<!--  <div class="EstiloCarrito" (click)="ClickCarrito()">-->
<!--&lt;!&ndash;    Circulo Contenedor&ndash;&gt;-->
<!--    <div style="width: 5vh;height: 5vh;background-color: white;border-radius: 40px;display: flex;margin: auto;position: relative;border: solid 1px #a6a6a6;">-->
<!--      <div style="margin: auto">{{this.inventoryService.cartService.ListaTablaProductosSeleccionados.length}}</div>-->
<!--    </div>-->
<!--&lt;!&ndash;    Titulo&ndash;&gt;-->
<!--    <div style="display: flex;flex-direction: column;margin: auto;margin-left: 0;">-->
<!--      <ion-label style="text-align: center;font-weight: bold;color: black;font-size: 120%">{{ roundnum(this.inventoryService.cartService.ValorTotalTabla) | currency  : 'USD' : 'symbol' : '1.0'}}</ion-label>-->
<!--      <ion-label style="text-align: center;font-weight: bold;color: black;font-size: 70%">Completar Orden</ion-label>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--TODO LO DEL MENU-->

<ion-menu #elMenu side="start" menuId="first" contentId="home">
  <div style="display: flex;flex-direction: column;height: 100%;width: 100%">
    <!--    INFO PERSONA-->
    <div style="margin-right: auto;display: flex;flex-direction: column;height: 20%;width: 100%;">
      <ion-icon style="margin: auto;font-size: 13vh" name="person-circle-outline"></ion-icon>
      <ion-label style="font-weight: bold;font-size: x-large;text-align: center">{{this.accountService.GetFullName()}}</ion-label>
    </div>
    <!--    CONTENEDOR OPCIONES-->
    <div style="display: flex;flex-direction: column;flex: auto">
      <!--      OPCIÓN DE LOGUEARSE-->
      <div class="SidebarOpcion" *ngIf="this.accountService.usuarioCompleto == null" (click)="GoToLogin();">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label> Iniciar sesión/Registrarse </ion-label>
      </div>
      <!--      OPCIÓN DE MI PERFIL-->
      <div class="SidebarOpcion" *ngIf="this.accountService.usuarioCompleto != null" (click)="this.PanelMiPerfil = true;this.elMenu.close();">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label> Mi perfil </ion-label>
      </div>
      <!--      OPCIÓN DE MIS PEDIDOS-->
      <div *ngIf="!this.ProvInvalido && this.accountService.usuarioCompleto != null"  class="SidebarOpcion" (click)="this.GoToPedidos()">
        <ion-icon name="list-outline"></ion-icon>
        <ion-label> Mis pedidos </ion-label>
      </div>
      <!--      OPCIÓN DE MIS CUPONES-->
      <div *ngIf="!this.ProvInvalido && this.accountService.usuarioCompleto != null" class="SidebarOpcion">
        <ion-icon name="pricetags-outline"></ion-icon>
        <ion-label> Mis cupones </ion-label>
      </div>
      <!--      OPCIÓN DE SOPORTE-->
      <div *ngIf="!this.ProvInvalido && this.accountService.usuarioCompleto != null" class="SidebarOpcion">
        <ion-icon name="help-buoy-outline"></ion-icon>
        <ion-label> Soporte </ion-label>
      </div>
      <!--      OPCIÓN DE SALIR-->
      <div class="SidebarOpcion" *ngIf="this.accountService.usuarioCompleto != null"  (click)="this.LogOut()">
        <ion-icon style="transform: scaleX(-1)" name="log-out-outline"></ion-icon>
        <ion-label> Cerrar sesión </ion-label>
      </div>
    </div>
  </div>
</ion-menu>

<!--PANEL DE TIENDAS-->

<!--<div class="ContenedorLoading" style="background-color: #00000085;opacity: 0" [hidden]="!PanelTienda" [ngClass]="PanelTienda ? 'WelcomMSGmostrando':'WelcomMSGoculto'">-->
<!--  <div style="width: 80%;height: 80%;display: flex;background-color: white;margin: auto;overflow: hidden;border-radius: 20px;flex-direction: column">-->
<!--    &lt;!&ndash;    MENSAJE&ndash;&gt;-->
<!--    <div style="width: 100%;height: 20%;display: flex;flex-direction: column">-->
<!--      <ion-label style="color: black;margin: auto;font-size: 140%;font-weight: bold;text-align: center">Tiendas Denlinea Disponibles</ion-label>-->
<!--      &lt;!&ndash;      <ion-label style="color: black;margin: auto;font-size: 100%;text-align: center">{{billingService.ProviderInfo.Address}}</ion-label>&ndash;&gt;-->
<!--    </div>-->
<!--    &lt;!&ndash;    INFO&ndash;&gt;-->
<!--    &lt;!&ndash;    <div *ngIf="(!GetIsNan() && this.IdProv != -1)" style="width: 90%;display: flex;margin: auto;flex-direction: column">&ndash;&gt;-->
<!--    &lt;!&ndash;      <div style="display: flex">&ndash;&gt;-->
<!--    &lt;!&ndash;        <ion-icon style="flex-shrink: 0" name="desktop-outline"></ion-icon>&ndash;&gt;-->
<!--    &lt;!&ndash;        <ion-label style="margin-left: 10px;font-size: 90%">{{billingService.ProviderInfo.Name}}</ion-label>&ndash;&gt;-->
<!--    &lt;!&ndash;      </div>&ndash;&gt;-->
<!--    &lt;!&ndash;      <div>&ndash;&gt;-->
<!--    &lt;!&ndash;        <ion-icon name="location-outline"></ion-icon>&ndash;&gt;-->
<!--    &lt;!&ndash;        <ion-label style="margin-left: 10px;font-size: 90%">{{billingService.ProviderInfo.CityName}}, {{billingService.ProviderInfo.Address}}</ion-label>&ndash;&gt;-->
<!--    &lt;!&ndash;      </div>&ndash;&gt;-->
<!--    &lt;!&ndash;      <div>&ndash;&gt;-->
<!--    &lt;!&ndash;        <ion-icon name="call-outline"></ion-icon>&ndash;&gt;-->
<!--    &lt;!&ndash;        <ion-label style="margin-left: 10px;font-size: 90%">{{billingService.ProviderInfo.Phone}}</ion-label>&ndash;&gt;-->
<!--    &lt;!&ndash;      </div>&ndash;&gt;-->
<!--    &lt;!&ndash;      <div><ion-icon name="mail-outline"></ion-icon>&ndash;&gt;-->
<!--    &lt;!&ndash;        <ion-label style="margin-left: 10px;font-size: 90%">{{billingService.ProviderInfo.Email}}</ion-label>&ndash;&gt;-->
<!--    &lt;!&ndash;      </div>&ndash;&gt;-->
<!--    &lt;!&ndash;    </div>&ndash;&gt;-->
<!--    &lt;!&ndash;    LISTADO DE TIENDAS SELECCIONABLES&ndash;&gt;-->
<!--    <div style="width: 90%;display: flex;margin: auto;flex-direction: column;overflow: auto" [style]="(!GetIsNan() && this.IdProv != -1) ? 'height: 80%':'height: 80%'">-->
<!--      <ion-label style="font-size: 80%;text-align: center;margin: 10px 0">Seleccione una tienda para continuar</ion-label>-->
<!--      <div *ngFor="let prov of ListadoProvDisponibles" style="display: flex;width: 100%;margin: 10px 0;" (click)="ClickProv(prov.id_STORE_PROVIDER)">-->
<!--        &lt;!&ndash;        parte izquierda&ndash;&gt;-->
<!--        <div style="width: calc( 70% - 10px);height: 100%;display: flex;margin: auto;flex-direction: column">-->
<!--          <div style="display: flex">-->
<!--            <ion-icon style="flex-shrink: 0" name="desktop-outline"></ion-icon>-->
<!--            <ion-label style="margin-left: 10px;font-size: 90%">{{prov.description}}</ion-label>-->
<!--          </div>-->
<!--          <div style="display: flex">-->
<!--            <ion-icon style="flex-shrink: 0" name="location-outline"></ion-icon>-->
<!--            <ion-label style="margin-left: 10px;font-size: 90%">{{prov.city_NAME}}, {{prov.address}}</ion-label>-->
<!--          </div>-->
<!--          <div style="display: flex">-->
<!--            <ion-icon style="flex-shrink: 0" name="call-outline"></ion-icon>-->
<!--            <ion-label style="margin-left: 10px;font-size: 90%">{{prov.phoneprov}}</ion-label>-->
<!--          </div>-->
<!--          <div style="display: flex;width: 100%;"><ion-icon style="flex-shrink: 0" name="mail-outline"></ion-icon>-->
<!--            <ion-label style="margin-left: 10px;width: 90%;font-size: 90%;overflow-wrap: break-word">{{prov.emailprov}}</ion-label>-->
<!--          </div>-->
<!--        </div>-->
<!--        &lt;!&ndash;        logo&ndash;&gt;-->
<!--        <div style="width: 30%;margin-left: 10px;display: flex">-->
<!--          <img src="{{this.GetProvURLLogo(prov)}}">-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    &lt;!&ndash;    BOTON CONTINUAR&ndash;&gt;-->
<!--    <div style="width: 100%;height: 15%;display: flex" *ngIf="(!GetIsNan() && this.IdProv != -1)">-->
<!--      <ion-button style="&#45;&#45;background: #fad263; color:black;width: 90%;margin: auto;text-transform: capitalize;" (click)="PanelTienda = false;" shape="full" expand="block">Volver</ion-button>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--PANEL DE MI PERFIL-->

<div *ngIf="this.accountService.usuarioCompleto != null && accountService.TiendaUsuario != null" class="ContenedorLoading" style="background-color: #00000085;opacity: 0" [hidden]="!PanelMiPerfil" [ngClass]="PanelMiPerfil ? 'WelcomMSGmostrando':'WelcomMSGoculto'">
  <div style="width: 80%;height: 60%;display: flex;background-color: white;margin: auto;overflow: hidden;border-radius: 20px;flex-direction: column">
    <!--    MENSAJE-->
    <div style="width: 100%;height: 14%;display: flex;flex-direction: column">
      <ion-label style="color: black;margin: auto;font-size: 120%;font-weight: bold;text-align: center">{{accountService.GetFullName()}}</ion-label>
    </div>
    <!--    LOGO TIENDA SELECCIONADA-->
    <div style="width: 100%;height: 40%;display: flex">
      <img style="height: 70%;margin: auto" src="{{'https://tienda724.com'+accountService.TiendaUsuario.logo_Cliente}}">
    </div>
    <!--    INFO-->
    <div style="width: 80%;height: 20%;display: flex;margin: auto;flex-direction: column;justify-content: space-evenly;">
      <div>
        <ion-icon name="location-outline"></ion-icon>
        <ion-label style="margin-left: 10px;">{{accountService.usuarioCompleto.city_NAME}}, {{accountService.usuarioCompleto.address}}</ion-label>
      </div>
      <div>
        <ion-icon name="call-outline"></ion-icon>
        <ion-label style="margin-left: 10px;">{{accountService.usuarioCompleto.phone}}</ion-label>
      </div>
      <div><ion-icon name="mail-outline"></ion-icon>
        <ion-label style="margin-left: 10px;">{{accountService.usuarioCompleto.email}}</ion-label>
      </div>
    </div>
    <!--    MENSAJE-->
    <div style="width: 80%;height: 10%;display: flex;margin: auto;flex-direction: column">
      <ion-label style="color: black;margin: auto;font-size: 100%">Esta es la información de tu perfíl.</ion-label>
    </div>
    <!--    BOTON CONTINUAR-->
    <div style="width: 100%;height: 15%;display: flex">
      <ion-button style="--background: #fad263; color:black;width: 80%;margin: auto;text-transform: capitalize;" (click)="PanelMiPerfil = false;" shape="full" expand="block">Volver</ion-button>
    </div>
  </div>
</div>
<!--PANEL DE TIENDA CLIENTE-->

<div *ngIf="accountService.TiendaUsuario != null" class="ContenedorLoading" style="background-color: #00000085;opacity: 0" [hidden]="!PanelTiendaCliente" [ngClass]="PanelTiendaCliente ? 'WelcomMSGmostrando':'WelcomMSGoculto'">
  <div style="width: 80%;height: 60%;display: flex;background-color: white;margin: auto;overflow: hidden;border-radius: 20px;flex-direction: column">
    <!--    MENSAJE-->
    <div style="width: 100%;height: 14%;display: flex;flex-direction: column">
      <ion-label style="color: black;margin: auto;font-size: 240%;font-weight: bold;text-align: center">{{accountService.TiendaUsuario.nombretienda_Cliente}}</ion-label>
<!--      <ion-label style="color: black;margin: auto;font-size: 100%;text-align: center">{{accountService.TiendaUsuario.direccion_Cliente}}</ion-label>-->
    </div>
    <!--    LOGO TIENDA SELECCIONADA-->
    <div style="width: 100%;height: 40%;display: flex">
      <img style="height: 70%;margin: auto" src="{{'https://tienda724.com'+accountService.TiendaUsuario.logo_Cliente}}">
    </div>
    <!--    INFO-->
    <div style="width: 80%;height: 20%;display: flex;margin: auto;flex-direction: column;justify-content: space-evenly;">
      <div>
        <ion-icon name="location-outline"></ion-icon>
        <ion-label style="margin-left: 10px;">{{accountService.TiendaUsuario.nombreciudad_Cliente}}, {{accountService.TiendaUsuario.direccion_Cliente}}</ion-label>
      </div>
      <div>
        <ion-icon name="call-outline"></ion-icon>
        <ion-label style="margin-left: 10px;">{{accountService.TiendaUsuario.telefono_Cliente}}</ion-label>
      </div>
      <div><ion-icon name="mail-outline"></ion-icon>
        <ion-label style="margin-left: 10px;">{{accountService.TiendaUsuario.email_Cliente}}</ion-label>
      </div>
    </div>
    <!--    MENSAJE-->
    <!--    <div style="width: 80%;height: 10%;display: flex;margin: auto;flex-direction: column">-->
    <!--      <ion-label style="color: black;margin: auto;font-size: 90%;text-align: center">Esta es tu Tienda724 más cercana</ion-label>-->
    <!--    </div>-->
    <!--    BOTON CONTINUAR-->
    <div style="width: 100%;height: 15%;display: flex">
      <ion-button style="--background: #fad263; color:black;width: 80%;margin: auto;text-transform: capitalize;" (click)="PanelTiendaCliente = false;" shape="full" expand="block">Volver</ion-button>
    </div>
  </div>
</div>

<!--PANEL TIENDA PROV -->
<div *ngIf="accountService.TiendaUsuario != null" class="ContenedorLoading" style="background-color: #00000085;opacity: 0" [hidden]="!PanelTiendaProv" [ngClass]="PanelTiendaProv ? 'WelcomMSGmostrando':'WelcomMSGoculto'">
  <div style="width: 80%;height: 60%;display: flex;background-color: white;margin: auto;overflow: hidden;border-radius: 20px;flex-direction: column">
    <!--    MENSAJE-->
    <div style="width: 100%;height: 20%;display: flex;flex-direction: column">
      <ion-label style="color: black;margin: auto;font-size: 180%;font-weight: bold;text-align: center">{{billingService.ProviderInfo.Name}}</ion-label>
<!--      <ion-label style="color: black;margin: auto;font-size: 100%;text-align: center">{{billingService.ProviderInfo.Address}}</ion-label>-->
    </div>
    <!--    LOGO TIENDA SELECCIONADA-->
    <div style="width: 100%;height: 40%;display: flex">
      <img style="height: 120%;margin: auto;margin-top: -4%;" src="{{'https://tienda724.com'+billingService.ProviderInfo.Logo}}">
    </div>
    <!--    INFO-->
    <div style="width: 80%;height: 20%;display: flex;margin: auto;flex-direction: column;justify-content: space-evenly;">
      <div>
        <ion-icon name="location-outline"></ion-icon>
        <ion-label style="margin-left: 10px;">{{billingService.ProviderInfo.CityName}}, {{billingService.ProviderInfo.Address}}</ion-label>
      </div>
      <div>
        <ion-icon name="call-outline"></ion-icon>
        <ion-label style="margin-left: 10px;">{{billingService.ProviderInfo.Phone}}</ion-label>
      </div>
      <div><ion-icon name="mail-outline"></ion-icon>
        <ion-label style="margin-left: 10px;">{{billingService.ProviderInfo.Email}}</ion-label>
      </div>
    </div>
<!--    &lt;!&ndash;    MENSAJE&ndash;&gt;-->
<!--    <div style="width: 80%;height: 10%;display: flex;margin: auto;flex-direction: column">-->
<!--      <ion-label style="color: black;margin: auto;font-size: 90%;text-align: center">Esta es tu Tienda724 más cercana</ion-label>-->
<!--    </div>-->
    <!--    BOTON CONTINUAR-->
    <div style="width: 100%;height: 15%;display: flex">
      <ion-button style="--background: #fad263; color:black;width: 80%;margin: auto;text-transform: capitalize;" (click)="PanelTiendaProv = false;" shape="full" expand="block">Volver</ion-button>
    </div>
  </div>
</div>

<!--CONTENEDOR LOADING-->

<div class="ContenedorLoading" *ngIf="this.commonOperations.mostrandoCargando">
  <div class="wrapper2">
    <ion-card style="background-color: white;margin: auto;margin-bottom: 5vh;width: 80%">
      <ion-card-content>
        <!--suppress HtmlRequiredAltAttribute, HtmlDeprecatedAttribute -->
        <ion-img style="background-color: white;height: 90%;border-radius: 20px;margin: auto;width: 70%" src="assets/logo.jpg"></ion-img>
      </ion-card-content>
    </ion-card>
    <div class='ThePreLoader'>
      <div class='loader--dot'></div>
      <div class='loader--dot'></div>
      <div class='loader--dot'></div>
      <div class='loader--dot'></div>
      <div class='loader--dot'></div>
      <div class='loader--dot'></div>
      <div class='loader--text'></div>
    </div>
  </div>
</div>
