<div class="container">
<!--  EL HEADER DE PEDIDOS-->
  <div style="margin-top:-10vh">
    <mat-card style="height: 100%;width:100%;padding:0px">
      <mat-card-header style="background-color:rgb(5, 53, 107);margin:0px;padding:20px">
        <mat-card-title style="font-family: Roboto;font-size: 1.3em; font-weight: 700; margin-bottom:15px; color:white">Lista de Pedidos</mat-card-title>
      </mat-card-header>
    </mat-card>
<!--    EL GRUPO DE PESTAÑAS-->
    <mat-tab-group [dynamicHeight]='true'>
<!--      PESTAÑA DE VER MIS PEDIDOS-->
      <mat-tab label="Ver mis pedidos">
        <mat-card style="padding:20px">
          <!--          SELECCIONAR TIENDA-->
          <mat-form-field>
            <mat-label>Seleccione tienda</mat-label>
            <mat-select [(ngModel)]="SelectedStore">
              <mat-option *ngFor="let elem of Stores" [value]="elem.id_STORE">
                {{elem.store_NAME}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <!--          SELECCIONAR TIPO-->
          <mat-form-field>
            <mat-label>Seleccione tipo factura</mat-label>
            <mat-select [(ngModel)]="SelectedBillType" (change)="cleanList2()">
              <!-- <mat-option value="1">Venta</mat-option>
                  <mat-option value="2">Compra</mat-option>
                  <mat-option value="3">Entrada</mat-option>
              <mat-option value="4">Salida</mat-option> -->
              <mat-option value="86">Pedidos Proveedor</mat-option>
              <mat-option value="87">Pedidos Cliente</mat-option>
              <mat-option value="88">Remision</mat-option>
              <mat-option value="89">Pedidos Faltantes Bodega</mat-option>
              <mat-option value="90">Pedidos Faltantes Cliente</mat-option>
            </mat-select>
          </mat-form-field>
          <!--          SELECCIONAR ESTADO-->
          <mat-form-field>
            <mat-label>Seleccione Estado de Factura</mat-label>
            <mat-select [(ngModel)]="SelectedBillState" (change)="cleanList()" *ngIf="SelectedBillType=='1' || SelectedBillType=='2' || SelectedBillType=='3' || SelectedBillType=='4'">
              <mat-option value="1">Factura Creada</mat-option>
              <mat-option value="41">Anulada por devolucion</mat-option>
              <mat-option value="42">Pendiente de pago</mat-option>
              <mat-option value="43">Anulada</mat-option>
            </mat-select>
            <mat-select [(ngModel)]="SelectedBillState" (change)="cleanList()" *ngIf="SelectedBillType=='86'">
              <mat-option value="62">Solicitud Recibida</mat-option>
              <mat-option value="82">Pedidos Pendientes por Aceptar</mat-option>
              <mat-option value="63">Pedido Despachado</mat-option>
            </mat-select>
            <mat-select [(ngModel)]="SelectedBillState" (change)="cleanList()" *ngIf="SelectedBillType=='87'">
              <mat-option value="61">Solicitud Enviada</mat-option>
              <mat-option value="81">Pedidos Pendientes por Recibir</mat-option>
              <mat-option value="64">Pedido Recibido</mat-option>
            </mat-select>
            <mat-select [(ngModel)]="SelectedBillState" (change)="cleanList()" *ngIf="SelectedBillType=='88'">
              <mat-option value="1">Factura Creada</mat-option>
            </mat-select>
            <mat-select [(ngModel)]="SelectedBillState" (change)="cleanList()" *ngIf="SelectedBillType=='89'">
              <mat-option value="65">Pedido Faltante Proveedor - Pendiente</mat-option>
              <mat-option value="66">Pedido Faltante Proveedor - Entregado</mat-option>
            </mat-select>
            <mat-select [(ngModel)]="SelectedBillState" (change)="cleanList()" *ngIf="SelectedBillType=='90'">
              <mat-option value="67">Pedido Faltante Cliente - Pendiente</mat-option>
              <mat-option value="68">Pedido Faltante Cliente - Entregado</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="date1">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker disabled="false"></mat-datepicker>
          </mat-form-field>
          <mat-form-field>
            <input matInput [matDatepicker]="picker2" placeholder="Choose a date" [(ngModel)]="date2">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2 disabled="false"></mat-datepicker>
          </mat-form-field>
          <!--          BOTON CONSULTAR-->
          <button mat-stroked-button color="primary" type="button" (click)="getRepProdList()">Consultar Pedidos</button>
          <!--          BOTON PICKING-->
          <button mat-stroked-button color="primary" type="button" (click)="getPicking()" *ngIf="SelectedBillType == '86' && SelectedBillState == '82'">Generar Picking</button>
          <!--          TABLA CON EL CONTENIDO-->
          <!--          <div class="table-container">-->
          <!--            <mat-table matSort  #table [dataSource]="dataSource" matSort class="mat-elevation-z8">-->
          <!--              <ng-container matColumnDef="{{item}}" *ngFor="let item of GetColumnas();let i = index">-->
          <!--                  <mat-header-cell *matHeaderCellDef> {{displayedColumnsNombre[i]}} </mat-header-cell>-->
          <!--                  <mat-cell *matCellDef="let element">{{element[item]}}</mat-cell>-->
          <!--              </ng-container>-->

          <!--              <mat-header-row *matHeaderRowDef="GetColumnas()"></mat-header-row>-->
          <!--              <mat-row *matRowDef="let row; columns: GetColumnas();"></mat-row>-->
          <!--            </mat-table>-->
          <!--          </div>-->
          <mat-card-content *ngIf=" isListProdFull === true ">
            <div class="table-responsive">
              <table mdbTable  class="table table-hover">
                <thead>
                <tr>
                  <th class="text-center" *ngIf="SelectedBillType == '86' && SelectedBillState == '82'"><b><mat-checkbox class="example-margin" [(ngModel)]="checked" (change)="allChecked(checked)"></mat-checkbox></b></th>
                  <th (click)="SortBy(1)" class="text-center">
                    <div style="justify-content: center;align-items: center;display: flex;cursor: pointer;">
                      <b>Fecha</b>
                      <mat-icon *ngIf="CampoSorteando == 1">{{Invertido?"arrow_drop_down":"arrow_drop_up"}}</mat-icon>
                      <mat-icon *ngIf="CampoSorteando != 1" style="color:#d9d9d9">arrow_drop_down</mat-icon>
                    </div>
                  </th>
                  <th (click)="SortBy(2)" class="text-center">
                    <div style="justify-content: center;align-items: center;display: flex;cursor: pointer;">
                      <b># Documento</b>
                      <mat-icon *ngIf="CampoSorteando == 2">{{Invertido?"arrow_drop_down":"arrow_drop_up"}}</mat-icon>
                      <mat-icon *ngIf="CampoSorteando != 2" style="color:#d9d9d9">arrow_drop_down</mat-icon>
                    </div>
                  </th>
                  <th (click)="SortBy(3)" class="text-center" *ngIf="SelectedBillType == '86'">
                    <div style="justify-content: center;align-items: center;display: flex;cursor: pointer;">
                      <b># Pedido Cliente</b>
                      <mat-icon *ngIf="CampoSorteando == 3">{{Invertido?"arrow_drop_down":"arrow_drop_up"}}</mat-icon>
                      <mat-icon *ngIf="CampoSorteando != 3" style="color:#d9d9d9">arrow_drop_down</mat-icon>
                    </div>
                  </th>
                  <th (click)="SortBy(4)" class="text-center">
                    <div style="justify-content: center;align-items: center;display: flex;cursor: pointer;">
                      <b>Cliente</b>
                      <mat-icon *ngIf="CampoSorteando == 4">{{Invertido?"arrow_drop_down":"arrow_drop_up"}}</mat-icon>
                      <mat-icon *ngIf="CampoSorteando != 4" style="color:#d9d9d9">arrow_drop_down</mat-icon>
                    </div>
                  </th>
                  <th (click)="SortBy(5)" class="text-center">
                    <div style="justify-content: center;align-items: center;display: flex;cursor: pointer;">
                      <b>Tienda</b>
                      <mat-icon *ngIf="CampoSorteando == 5">{{Invertido?"arrow_drop_down":"arrow_drop_up"}}</mat-icon>
                      <mat-icon *ngIf="CampoSorteando != 5" style="color:#d9d9d9">arrow_drop_down</mat-icon>
                    </div>
                  </th>
                  <th (click)="SortBy(6)" class="text-center">
                    <div style="justify-content: center;align-items: center;display: flex;cursor: pointer;">
                      <b>Dirección</b>
                      <mat-icon *ngIf="CampoSorteando == 6">{{Invertido?"arrow_drop_down":"arrow_drop_up"}}</mat-icon>
                      <mat-icon *ngIf="CampoSorteando != 6" style="color:#d9d9d9">arrow_drop_down</mat-icon>
                    </div>
                  </th>
                  <th (click)="SortBy(7)" class="text-center">
                    <div style="justify-content: center;align-items: center;display: flex;cursor: pointer;">
                      <b>E-Mail</b>
                      <mat-icon *ngIf="CampoSorteando == 7">{{Invertido?"arrow_drop_down":"arrow_drop_up"}}</mat-icon>
                      <mat-icon *ngIf="CampoSorteando != 7" style="color:#d9d9d9">arrow_drop_down</mat-icon>
                    </div>
                  </th>
                  <th (click)="SortBy(8)" class="text-center">
                    <div style="justify-content: center;align-items: center;display: flex;cursor: pointer;">
                      <b>Teléfono</b>
                      <mat-icon *ngIf="CampoSorteando == 8">{{Invertido?"arrow_drop_down":"arrow_drop_up"}}</mat-icon>
                      <mat-icon *ngIf="CampoSorteando != 8" style="color:#d9d9d9">arrow_drop_down</mat-icon>
                    </div>
                  </th>
                  <th (click)="SortBy(9)" class="text-center">
                    <div style="justify-content: center;align-items: center;display: flex;cursor: pointer;">
                      <b>Observaciones</b>
                      <mat-icon *ngIf="CampoSorteando == 9">{{Invertido?"arrow_drop_down":"arrow_drop_up"}}</mat-icon>
                      <mat-icon *ngIf="CampoSorteando != 9" style="color:#d9d9d9">arrow_drop_down</mat-icon>
                    </div>
                  </th>
                  <th class="text-center" *ngIf="(SelectedBillType == '86' && SelectedBillState == '62') || (SelectedBillState == '87' && SelectedBillState == '81')"></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let elem of ListReportProd; let i = index">
                  <td class="text-center" *ngIf="SelectedBillType == '86' && SelectedBillState == '82'"><mat-checkbox class="example-margin" [(ngModel)]="ListChecked[i]" (change)="showList()"  ></mat-checkbox></td>
                  <td class="text-center"> {{elem.fecha}} </td>
                  <td style="cursor: pointer;" class="text-center" (click)="goToSubMenu(elem)" > {{elem.numdocumento}} </td>
                  <td class="text-center" *ngIf="SelectedBillType == '86'"> {{elem.numpedido}} </td>
                  <td class="text-center"> {{elem.cliente}} </td>
                  <td class="text-center"> {{elem.tienda}} </td>
                  <td class="text-center"> {{elem.address}} </td>
                  <td class="text-center"> {{elem.mail}} </td>
                  <td class="text-center"> {{elem.phone}} </td>
                  <td class="text-center"> {{elem.body}} </td>
                  <td class="text-center" *ngIf="SelectedBillType == '86'">
                    <button mat-stroked-button color="primary" type="button" (click)="changeState(elem)" *ngIf="SelectedBillType == '86' && SelectedBillState == '62'">Enviar Pedido</button>
                  </td>
                  <td class="text-center" *ngIf="SelectedBillType == '87'">
                    <button mat-stroked-button color="primary" type="button" (click)="confirmarEnv(elem)" *ngIf="SelectedBillType == '87' && SelectedBillState == '81'">Confirmar Recibido</button>
                  </td>

                </tr>
                </tbody>
              </table>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-tab>
<!--      PESTAÑA DE GENERAR PEDIDO-->
      <mat-tab label="Generar Pedido"  [hidden]="true" >
<!--        INJECTO EL COMPONENTE-->
        <app-bill-order>
        </app-bill-order>
<!--        REORDEN VIEJA-->
        <!-- <mat-card style="padding:20px">
          <mat-form-field style="width:5vw">
            <mat-label>Horas de reorden</mat-label>
            <input [(ngModel)]="hours2" matInput type="number" step="2" id="reader" autofocus class="no-spin text-center">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Ordenar por </mat-label>
            <mat-select [(ngModel)]="type2">
              <mat-option value="1">
                Linea
              </mat-option>
              <mat-option value="2">
                Categoria
              </mat-option>
              <mat-option value="3">
                Marca
              </mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-stroked-button color="primary" type="button" (click)="getRepProdList2()">Generar Re Orden</button>
          <button mat-stroked-button color="primary" type="button" (click)="genPedido()" *ngIf="isListProdFull2 === true">Generar Pedido</button>
          <mat-card-content *ngIf=" isListProdFull2 === true ">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                <tr>
                  <th class="text-center"><b>Codigo De Barras</b></th>
                  <th class="text-center"><b>Producto</b></th>
                  <th class="text-center"><b>Linea</b></th>
                  <th class="text-center"><b>Categoria</b></th>
                  <th class="text-center"><b>Marca</b></th>
                  <th class="text-center"><b>Presentacion</b></th>
                  <th class="text-center"><b>Costo</b></th>
                  <th class="text-center"><b>Cantidad</b></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let elem of ListReportProd2">
                  <td class="text-center"> {{elem.ownbarcode}} </td>
                  <td style="text-align: left"> {{elem.producto}} </td>
                  <td class="text-center"> {{elem.linea}} </td>
                  <td class="text-center"> {{elem.categoria}} </td>
                  <td class="text-center"> {{elem.marca}} </td>
                  <td class="text-center"> {{elem.presentacion}} </td>
                  <td class="text-center"> {{elem.costo}} </td>
                  <td class="text-center"> {{elem.cantidad}} </td>
                </tr>
                </tbody>
              </table>
            </div>
          </mat-card-content>
        </mat-card> -->
      </mat-tab>
<!--      PESTAÑA DE PLANILLA-->
      <mat-tab label="Planilla">
        <mat-card style="padding:20px">

          <div class="row" style="height: 100%;width:100%;padding:15px">
            <div class="col" style="text-align:center;height: 100%;width:150%;padding:15px">
              <button mat-stroked-button color="primary" type="button" (click)="getPlanillaList()">Cargar Planillas</button>
            </div>
          </div>
          <mat-card-content *ngIf=" isPlanillaFull === true ">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                <tr>
                  <th class="text-center"><b>Fecha Apertura</b></th>
                  <th class="text-center"><b>Conductor</b></th>
                  <th class="text-center"><b>Placa</b></th>
                  <th class="text-center"><b>Numero Planilla</b></th>
                  <th class="text-center"><b></b></th>
                  <th class="text-center"><b></b></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let elem of ListPlanilla">
                  <td class="text-center"> {{elem.fecha_INICIO}} </td>
                  <td class="text-center"> {{elem.conductor}} </td>
                  <td class="text-center"> {{elem.placa}} </td>
                  <td class="text-center"> {{elem.num_PLANILLA}} </td>
                  <td class="text-center"> <button mat-stroked-button color="primary" type="button" (click)="exportarPdf(elem)">PDF</button> </td>
                  <td class="text-center"> <button mat-stroked-button color="primary" type="button" (click)="openClosePanilla(elem.id_PLANILLA)">Cerrar Planilla</button> </td>
                </tr>
                </tbody>
              </table>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>


<div class="ContenedorLoading" *ngIf="mostrandoCargando">
  <div style="width: 30%;margin: auto;height: 30%;">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title style="font-weight: 500;">Realizando operación, espere un momento.</mat-card-title>
        <mat-card-subtitle>{{estadoCargando}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content style="align-items: center;justify-content: center;display: flex">
        <mat-spinner style="margin: 10px"></mat-spinner>
      </mat-card-content>
    </mat-card>
  </div>
  S</div>
