<!-- Servicios -->
<div id="services">
    <div class="indicator d-none d-md-block"></div>
    <ul class="dropdown-menu" id="servicios">
        <li>
            <a href="http://correo.unal.edu.co" target="_blank"><img src="images/icnServEmail.png" width="32" height="32" alt="Correo Electrónico">Correo Electrónico</a>
        </li>
        <li>
            <a href="https://dninfoa.unal.edu.co" target="_blank"><img src="images/icnServSia.png" width="32" height="32" alt="Dirección Nacional de Información Académica">DNINFOA - SIA</a>
        </li>
        <li>
            <a href="http://bibliotecas.unal.edu.co" target="_blank"><img src="images/icnServLibrary.png" width="32" height="32" alt="Biblioteca">Bibliotecas</a>
        </li>
        <li>
            <a href="http://personal.unal.edu.co" target="_blank"><img src="images/icnServCall.png" width="32" height="32" alt="Convocatorias">Convocatorias</a>
        </li>
        <li>
            <a href="http://identidad.unal.edu.co"><img src="images/icnServIdentidad.png" width="32" height="32" alt="Identidad U.N.">Identidad U.N.</a>
        </li>
    </ul>
</div>
<!-- /content wrapper for padding -->


<main class="detalle" style="margin-top: -8.5%;">

<h1 class="tit_seccion" style="padding-top: 5%;">Galería</h1>
<div class="cont_btn"> 
    <a class="btn_regresar" routerLink="/map" routerLinkActive="active">Regresar al mapa</a>
</div>

<div class="contenedor_imagenes">
    <div class="img_postcard_galeria" *ngFor="let item of listaPublicacionesPadre">
        <div class="contenido_postcard">
            <p class="texto_postcard_galeria"> {{item.publicacion}} </p>
            <div class="linea_postcard_galeria"></div>
            <p class="nombre_postcard_galeria"> {{item.username}} </p>
        </div>

        <div class="img_postcard_bg" [ngStyle]="{'background-image': 'url(' + item.img_URL + ')'}">
        </div>		
    </div></div>
</main>
