:host ::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: center;
}
:host ::ng-deep .mat-header-row {
  height: 32px !important;
}



table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
  color: black;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: #777;
  color: white;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
  color: black;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.collapsed{
  height: 0;
  min-height: 0;
}
