<!--CONTENEDOR-->
<div class="laCard" style="background-color: #e8e8e8;">
  <!--      HEADER-->
    <div style="height: 40%;width: 100%;display: flex">
        <div style="overflow: hidden;background-color: white;width: 90%;height: 80%;box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.18);display: flex;margin: auto;border-radius: 20px;padding: 10px">
<!--            <ion-img style="height: 100%;margin: auto;width: 100%;" src="assets/logo.png"></ion-img>-->
            <ion-img style="height: 100%;margin: auto;width: 100%;" src="assets/logo.png"></ion-img>
        </div>
    </div>
<!--    CONTENIDO-->
    <div style="padding-bottom: unset;display: flex;flex-direction: column;height: 60%">
        <!--                EL SPINNER PARA EL LOADING INICIAL-->
        <!--                <ion-spinner style="margin: auto;width: 50vw;height: 50vw;color:red" *ngIf="mostrarLoadingInicial" name="crescent"></ion-spinner>-->
        <!--        FORM DEL LOGIN-->
        <form [formGroup]="loginForm" style="width: 100%;height: 60%;margin: auto 0;padding: 0 16px;display: flex;flex-direction: column;justify-content: space-between">
            <div class="PiePagina">
                Usuarios Registrados
            </div>
            <div style="border-color: black;border-radius: 20px;border: solid;display: flex;background-color: white;overflow: auto;">
                <ion-icon style="margin: auto;width: 10%;" name="person-outline"></ion-icon>
                <ion-input style="background-color: white;width: 85%" (ionFocus)="FocusInputs()" (keyup.enter)="focuspass()" formControlName="username" type="text"> </ion-input>
                <div style="margin: auto;width: 10%;"></div>
            </div>
            <!--                INPUT PASSWORD-->
            <div style="border-color: black;border-radius: 20px;border: solid;display: flex;background-color: white;overflow: auto;">
                <ion-icon name="key-outline" style="margin: auto;width: 10%;"></ion-icon>
                <ion-input (ionFocus)="FocusInputs()" (keyup.enter)="Login()" style="background-color: white;width: 90%" #password formControlName="password" [type]="this.MostrarPass ? '':'password'"></ion-input>
                <ion-icon [name]="this.MostrarPass ? 'eye-off-outline':'eye-outline'" style="margin: auto;width: 10%;cursor: pointer" (click)="ChangePassMode()"></ion-icon>
            </div>
<!--            RECUPERAR CLAVE-->
            <div style="width: 50%;display: flex;justify-content: space-around;margin: 0 auto;" (click)="ClickRecoverPassword()">
                <ion-icon name="key-outline"></ion-icon>
                <ion-label>Recuperar cláve</ion-label>
            </div>
            <!--        FORM DEL LOGIN CON EL BOTON-->
            <ion-button style="--background: #e90000; --background-focused: #6d7980; --background-hover: #6d7980; --background-activated: #6d7980;margin-top: 20px;margin-bottom: 20px" (click)="Login()" shape="full" expand="block">Entrar</ion-button>
        </form>
        <div style="display: flex;flex-direction: column;padding-top: 16px;border-top: solid 3px;width: 90%;margin: 0 auto;margin-top: auto;padding-bottom: 20px">
<!--            <div class="PiePagina">-->
<!--                Crea tu cuenta con:-->
<!--            </div>-->
<!--            <div style="display: flex;width: 100%;flex: auto">-->
<!--                <div (click)="LoginGoogle()" style="margin: auto;width:10vh;height: 10vh;display: flex;background-color: white;border-radius: 50px;box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.18)">-->
<!--                    <svg style="margin: auto" version="1.1" xmlns="http://www.w3.org/2000/svg" width="40%" height="40%" viewBox="0 0 48 48" class="abcRioButtonSvg"><g><path fill="#EA4335" d="M24 9.5c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85C35.9 2.38 30.47 0 24 0 14.62 0 6.51 5.38 2.56 13.22l7.98 6.19C12.43 13.72 17.74 9.5 24 9.5z"></path><path fill="#4285F4" d="M46.98 24.55c0-1.57-.15-3.09-.38-4.55H24v9.02h12.94c-.58 2.96-2.26 5.48-4.78 7.18l7.73 6c4.51-4.18 7.09-10.36 7.09-17.65z"></path><path fill="#FBBC05" d="M10.53 28.59c-.48-1.45-.76-2.99-.76-4.59s.27-3.14.76-4.59l-7.98-6.19C.92 16.46 0 20.12 0 24c0 3.88.92 7.54 2.56 10.78l7.97-6.19z"></path><path fill="#34A853" d="M24 48c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.91l-7.98 6.19C6.51 42.62 14.62 48 24 48z"></path><path fill="none" d="M0 0h48v48H0z"></path></g></svg>-->
<!--                </div>-->

<!--                <div (click)="LoginFace()" style="margin: auto;width: 10vh;height: 10vh;display: flex;background-color: white;border-radius: 50px;box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.18)">-->
<!--                    <ion-icon style="margin: auto;color: #4267B2 !important;width: 40%;height: 40%" name="logo-facebook"></ion-icon>-->
<!--                </div>-->

<!--                <div (click)="LoginMail()" style="margin: auto;width: 10vh;height: 10vh;display: flex;background-color: white;border-radius: 50px;box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.18)">-->
<!--                    <ion-icon style="margin: auto;width: 40%;height: 40%" name="mail-outline"></ion-icon>-->
<!--                </div>-->
<!--            </div>-->
            <div class="PiePagina">
                ¿No tienes cuenta?
            </div>
            <!--        FORM DEL LOGIN CON EL BOTON-->
            <ion-button style="--background: #fad263; color:black;margin-top: 20px;margin-bottom: 20px" (click)="LoginMail()" shape="full" expand="block">REGISTRATE</ion-button>
<!--            </ion-row>-->
<!--            <div style="display: flex;width: 100%;flex: auto">-->
<!--                <div (click)="LoginGoogle()" style="margin: auto;width:10vh;height: 10vh;display: flex;background-color: white;border-radius: 50px;box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.18)">-->
<!--                    <svg style="margin: auto" version="1.1" xmlns="http://www.w3.org/2000/svg" width="40%" height="40%" viewBox="0 0 48 48" class="abcRioButtonSvg"><g><path fill="#EA4335" d="M24 9.5c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85C35.9 2.38 30.47 0 24 0 14.62 0 6.51 5.38 2.56 13.22l7.98 6.19C12.43 13.72 17.74 9.5 24 9.5z"></path><path fill="#4285F4" d="M46.98 24.55c0-1.57-.15-3.09-.38-4.55H24v9.02h12.94c-.58 2.96-2.26 5.48-4.78 7.18l7.73 6c4.51-4.18 7.09-10.36 7.09-17.65z"></path><path fill="#FBBC05" d="M10.53 28.59c-.48-1.45-.76-2.99-.76-4.59s.27-3.14.76-4.59l-7.98-6.19C.92 16.46 0 20.12 0 24c0 3.88.92 7.54 2.56 10.78l7.97-6.19z"></path><path fill="#34A853" d="M24 48c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.91l-7.98 6.19C6.51 42.62 14.62 48 24 48z"></path><path fill="none" d="M0 0h48v48H0z"></path></g></svg>-->
<!--                </div>-->

<!--                <div (click)="LoginFace()" style="margin: auto;width: 10vh;height: 10vh;display: flex;background-color: white;border-radius: 50px;box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.18)">-->
<!--                    <ion-icon style="margin: auto;color: #4267B2 !important;width: 40%;height: 40%" name="logo-facebook"></ion-icon>-->
<!--                </div>-->

<!--                <div (click)="LoginMail()" style="margin: auto;width: 10vh;height: 10vh;display: flex;background-color: white;border-radius: 50px;box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.18)">-->
<!--                    <ion-icon style="margin: auto;width: 40%;height: 40%" name="mail-outline"></ion-icon>-->
<!--                </div>-->
<!--            </div>-->
        </div>
    </div>
</div>
