<div class="form" >
    <md-card>
      <md-card-title >{{title}}</md-card-title>
      <md-card-content>
        <form novalidate [formGroup]="form">
          <div class="row">
            <div class="col col-6 col-sm-auto col-md-auto col-lg-auto	col-xl-auto">
               <div class="form-group row">
                    <md-input-container>
                        <input mdInput placeholder="Nombre de usuario" class="form-control" #count_usuario maxlength="50" id="usuario" formControlName="usuario">
                        <md-hint align="end">{{count_usuario.value.length}} / 50</md-hint>
                    </md-input-container>
                    <div *ngIf="form.controls.usuario.errors && form.controls.usuario.touched">
                        <div *ngIf="form.controls.usuario.errors.required" class="alert alert-danger">
                            El Campo es requerido!
                        </div>
                        <div *ngIf="form.controls.usuario.errors.minlength" class="alert alert-danger">
                            El Campo debe ser mayor a 3 caracteres!
                        </div>
                        <div *ngIf="form.controls.usuario.errors.maxlength" class="alert alert-danger">
                            El Campo debe ser menor a 50 caracteres!
                        </div>
                        <div *ngIf="form.controls.usuario.errors.pattern" class="alert alert-danger">
                            El Campo debe iniciar con almenos una letra
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                              
                  <md-input-container class="example-full-width">
                      <textarea mdInput placeholder="clave de Usuario" id="clave"  #count_clave maxlength="100" formControlName="clave"></textarea>
        
                      <md-hint align="end">{{count_clave.value.length}} / 100</md-hint>
                  </md-input-container>
            
                <div *ngIf="form.controls.clave.errors && form.controls.clave.touched">
                    <div *ngIf="form.controls.clave.errors.required" class="alert alert-danger">
                        El Campo es requerido!
                    </div>
                    <div *ngIf="form.controls.clave.errors.minlength" class="alert alert-danger">
                        El Campo debe ser mayor a 3 caracteres!
                    </div>
                    <div *ngIf="form.controls.clave.errors.maxlength" class="alert alert-danger">
                        El Campo debe ser menor a 100 caracteres!
                    </div>
                    <div *ngIf="form.controls.clave.errors.pattern" class="alert alert-danger">
                        El Campo debe iniciar con almenos una letra
                    </div>
                </div>
              </div>
            </div>
            <div class="col col-6 col-sm-auto col-md-auto col-lg-auto	col-xl-auto">
                 <h4>Roles</h4>
                <md-list  *ngFor="let rol of  roles; let i = index" >
                        <span> <md-checkbox (click)="addRolUsuario(i,rol.id_rol)"  [checked]="estaRolEnLista(listaRolesPorUsuario,rol.id_rol)" ></md-checkbox></span>
                        <span> {{rol.rol}} </span> 
                </md-list>
            </div>
          </div>
        </form>
      </md-card-content>
     
      <md-card-actions align="end">
        <button  md-raised-button color="purple" md-button (click)="dialogRef.close('cerrar')"  mdTooltip="Cerrar!" >
                      <md-icon class="md-24">arrow_back</md-icon> Cerrar.</button>
        <button md-raised-button color="primary" mdTooltip="Guardar Datos!" (click)="guardarUsuario()" [disabled]="!form.valid||!activarBtnGuardar()">{{action}}</button>
      </md-card-actions>
    </md-card>
</div>


