<div class="card card-nav-tabs">
  <div class="card-header" data-background-color="red">
    <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
    <div class="nav-tabs-navigation">
      <div class="nav-tabs-wrapper">
        <ul class="nav nav-tabs" data-tabs="tabs">
          <li class="nav-item">
            <a class="nav-link active" href="#tab-compra" data-toggle="tab">COMPRA</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#tab-venta" data-toggle="tab">VENTA</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="tab-content text-center">
      <div class="tab-pane active" id="tab-compra">
        <p>I think that&#x2019;s a responsibility that I have, to push possibilities, to show people, this is the level that
          things could be at. So when you get something that has the name Kanye West on it, it&#x2019;s supposed to be pushing
          the furthest possibilities. I will be the leader of a company that ends up being worth billions of dollars, because
          I got the answers. I understand culture. I am the nucleus.</p>
      </div>
      <div class="tab-pane" id="tab-venta">
        <p> I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand
          culture. I am the nucleus. I think that&#x2019;s a responsibility that I have, to push possibilities, to show people,
          this is the level that things could be at. I think that&#x2019;s a responsibility that I have, to push possibilities,
          to show people, this is the level that things could be at. </p>
      </div>
    </div>
  </div>
</div>