<div class="android-content mdl-layout__content" >


  <div class="android-customized-section">
    <div class="android-customized-section-text">
      
      
        <div class="text-center android-section-title mdl-typography--display-1-color-contrast">
            <br/>
          Aplicaciones Registradas
          
          </div>
        
    </div>
  </div>

  <div class="row">
    <div class="mdl-cell mdl-cell--4-col mdl-cell--6-col-tablet mdl-cell--12-col-phone mdl-card mdl-shadow--10dp"
    *ngFor="let aplicacion of  aplicaciones; let i = index " >
      <div class="android-more-section">
        <div class="android-card-container mdl-grid">
         
                <div class="mdl-card__media">
                  <img src="../../../../assets/images/more-from-4.png">
                </div>
                <div class="mdl-card__title">
                  <h4 class="mdl-card__title-text">{{aplicacion.nombre}}</h4>
                </div>
                <div class="mdl-card__supporting-text">
                  <span class="mdl-typography--font-light mdl-typography--subhead">{{aplicacion.descripcion}}</span>
                </div>
                <div class="mdl-card__actions">
                  dashboard
                  <a class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase"  [routerLink]="['/dashboard']" [queryParams]="{app: aplicacion.id_aplicacion }"
                 >
                    Administrar Aplicación.
                    <i class="material-icons">chevron_right</i>
                  </a>
                </div>
           

         
        </div>
      </div>
      <br>
    </div>
  </div>
</div>

