<div class="main-content">
<div class="container-fluid">
    <div class="row">
           
        <div class="col-md-8">
            <div class="card">
                <div class="card-header" data-background-color="red">
                    <h2 class="title">Mi Perfil</h2>
                    <h3 class="category">Puedes comletar o modificar tu perfil</h3>
                </div>
                <div class="card-content">
                        
                    <form novalidate [formGroup]="form"> 
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">Nombre Completo (disabled)</label>
                                    <input type="text" class="form-control" disabled formControlName="fullname_prof">
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">Correo</label>
                                    <input type="email" class="form-control" formControlName="mail_prof">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">Nombre</label>
                                    <input type="text" class="form-control" formControlName="first_name" >
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">Segundo Nombre</label>
                                    <input type="text" class="form-control"  formControlName="second_name" >
                                </div>
                            </div>
                        </div>
                        <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">Apellido</label>
                                        <input type="text" class="form-control" formControlName="first_lastname" >
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">Segundo Apellido</label>
                                        <input type="text" class="form-control"  formControlName="second_lastname" >
                                    </div>
                                </div>
                            </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">Dirección</label>
                                    <input type="text" class="form-control" formControlName="address_prof">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">Ciudad</label>
                                    <input type="text" class="form-control" formControlName="city_prof" >
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">Pais</label>
                                    <input type="text" class="form-control" formControlName="country_prof"  >
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">Telefono</label>
                                    <input type="text" class="form-control" formControlName="phone_prof"   >
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>About Me</label>
                                    <div class="form-group form-black label-floating is-empty">
                                       
                                        <div class="jumbotron jumbotron-fluid">
                                                <div class="container">
                                                        {{token |json}}
                                                    </div>
                                        </div>
                        
                                        <textarea class="form-control" rows="5"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-danger pull-right" [disabled]="!form.valid">Guardar los Cambios</button>
                        <div class="clearfix"> </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-profile">
                <div class="card-avatar">
                    <a href="www.facebook.com/">
                        <img class="img" src="../assets/img/faces/marc.jpg" />
                    </a>
                </div>

               
                     

                <div class="content">
                    <h6  class="category text-gray"> ROLES:  <span *ngFor="let rol of token.roles" > <span>{{rol.rol}} /</span> </span></h6>  
                    <h4 class="card-title">
                        {{person.info.fullname}}
                    </h4>
                    <p class="card-content">
                        MENUS:
                            <span *ngFor="let menu of token.menus" >
                                {{menu.nombre}} /
                                </span>
                    </p>
                    <a (click)="logout()" class="btn btn-danger btn-round text-white">Cerrar Sesión</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
