<div class="web">

</div>
<div class="mobile">
  <!-- Navbar -->

  <div class="uk-flex uk-flex-middle" style="padding-top: 5px;" *ngIf="user=='73214195'">
    <i class="fas fa-angle-double-left padding-horizontal-5 uk-text-muted"></i>
    <div class="uk-link-muted" (click)="goToLogin()">Ir a iniciar Sesion</div>
  </div>
  <div class="uk-flex uk-flex-middle" style="padding-top: 5px;" *ngIf="user!='73214195'">
    <div class="dropdown">
      <div class="uk-link-muted dropbtn" > <i class="fas fa-bars padding-horizontal-5 uk-text-muted"></i> Menu</div>
      <div class="dropdown-content">
        <ul>
          <li>
            <div (click)="goToMenu()">
              Realizar Pedido
            </div>
          </li>
          <li>
            <div (click)="goToInfoUser()">
              Informacion Usuario
            </div>
          </li>
          <li>
            <div (click)="goToPedidosActivos()">
              Mis pedidos Activos
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div style="padding-top: 50px;text-align: center;">
    <h1>Pedidos Finalizados</h1>
    <table id="customers">
      <tr>
        <th># Pedido</th>
        <th>Direccion</th>
        <th>Fecha</th>
      </tr>
      <tr *ngFor="let item of pedidoList">
        <td> {{item.numpedido}} </td>
        <td> {{item.dirtiendacliente}} </td>
        <td> {{item.fecha}} </td>
      </tr>
    </table>
  </div>
</div>
