/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


main.detalle {
	margin: 0 10% 50px 10%;
}

.cont_admin{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  }


  .tit_panel{
    font-size: 40px;
    letter-spacing: 5px;
    line-height: 40px;
    color: #fff;
    text-align: center;
    font-weight: 800;
    text-transform: uppercase;

    }
