<div style="width: 100%;height: 100%;display: flex;flex-direction: column">
<!--  EL HEADER-->
  <div style="width: 100%;height: 15%;background-color: black;display: flex;position: relative">
    <mat-icon style="position: absolute;left: 5%;top:40%;margin: auto 0;color: white" (click)="CerrarModal()">keyboard_arrow_left</mat-icon>
    <img style="margin: auto;height: 30%" src="{{billingService.ProviderInfo.LogoURL}}">
  </div>
<!--  CONTENIDO CON PRODUCTOS-->
  <div style="width: 100%;height: 55%;display: flex;flex-direction: column">
    <mat-label style="margin: auto;font-weight: bold;font-size: 130%">Revisa tu orden</mat-label>
    <mat-label style="margin: auto 0;margin-left: 6%">{{inventoryService.cartService.ListaTablaProductosSeleccionados.length}} Productos</mat-label>
    <div style="margin: auto;width: 100%;height: 75%;overflow: auto;" class="ScrollBar">
      <div *ngFor="let product of inventoryService.cartService.ListaTablaProductosSeleccionados" style="position: relative;margin: 10px auto;border-radius: 10px;height: 10vh;display: flex;width: 87%;box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.28);">
<!--        BOTON BORRAR-->
        <div (click)="ClickBorrar(product)" style="color: gray;position: absolute;right: 1%;top: 4%;cursor: pointer">X</div>
<!--        TITULO Y PRECIO UNITARIO-->
        <div style="width: 45%;display: flex;flex-direction: column;height: 100%;justify-content: center">
          <mat-label [style]="commonOperations.IsMobile() ? 'font-size: 1.3vmax':'font-size: 1vmax'" style="font-weight: bold;text-align: center">{{product.description}}</mat-label>
          <mat-label *ngIf="locStorage.getidCountry() == 'ES'" style="margin:0 auto;margin-top: 5px;font-weight: bold;font-size: 70%;">{{product.price | currency  : 'EUR' : 'symbol' : '1.0'}}</mat-label>
          <mat-label *ngIf="locStorage.getidCountry() != 'ES'" style="margin:0 auto;margin-top: 5px;font-weight: bold;font-size: 70%;">{{product.price | currency  : 'USD' : 'symbol' : '1.0'}}</mat-label>
        </div>
<!--        BOTONES-->
        <div style="width: 20%;display: flex;height: 40%;margin: auto">
          <div style="height: 100%;width: 30%;border: solid 1px #DEDEDE;display: flex;position: relative">
            <div style="width: 100%;height: 100%;position: absolute;display: flex">
              <mat-label style="margin: auto;font-size: 140%;z-index: 1;color: gray">-</mat-label>
            </div>
            <div style="position: absolute;cursor: pointer;z-index: 2;width: 100%;height: 100%" (click)="ClickBajar(product)"></div>
          </div>
          <div style="height: 100%;width: 40%;border: solid 1px #DEDEDE;overflow: hidden">
            <input  (focus)="focusCarrito($event)" (blur)="BlurInputCarrito($event)" (keyup)="AjustarCantidadInput($event,product)" [(ngModel)]="product.quantity" placeholder="Cantidad" type="number" style="width: 100%;border: unset;height: 100%;text-align: center" />
          </div>
          <div style="height: 100%;width: 30%;border: solid 1px #DEDEDE;display: flex;position: relative">
            <div style="width: 100%;height: 100%;position: absolute;display: flex">
              <mat-label style="margin: auto;font-size: 140%;z-index: 1;color: gray">+</mat-label>
            </div>
            <div style="position: absolute;cursor: pointer;z-index: 2;width: 100%;height: 100%" (click)="ClickSubir(product)"></div>
          </div>
        </div>
<!--        TOTAL POR PRODUCTO-->
        <div style="width: 35%;display: flex;flex-direction: column;height: 100%">
          <mat-label *ngIf="locStorage.getidCountry() == 'ES'" style="margin: auto;font-weight: bold;font-size: 130%;">{{GetItemPrice(product) | currency  : 'EUR' : 'symbol' : '1.0'}}</mat-label>
          <mat-label *ngIf="locStorage.getidCountry() != 'ES'" style="margin: auto;font-weight: bold;font-size: 130%;">{{GetItemPrice(product) | currency  : 'USD' : 'symbol' : '1.0'}}</mat-label>
        </div>
      </div>
    </div>
  </div>
<!--  TOTALES -->
  <div style="width: 100%;box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.28);height: 15%;display: flex">
    <div style="width: 85%;height: 100%;display: flex;margin: 0 auto;">
      <div style="width: 65%;display: flex">
        <mat-label style="margin: auto;text-align: center;font-size: 80%;">*El valor del domicilio se calculará en el resumen del checkout</mat-label>
        <mat-label style="margin: auto;font-weight: bold;font-size: 140%;margin-left: 10px">TOTAL</mat-label>
      </div>
      <div style="width: 35%;display: flex">
        <mat-label *ngIf="locStorage.getidCountry() == 'ES'" style="margin: auto;font-weight: bold;font-size: 130%">{{this.inventoryService.cartService.ValorTotalTabla.toFixed(2) | currency  : 'EUR' : 'symbol' : '1.0'}}</mat-label>
        <mat-label *ngIf="locStorage.getidCountry() != 'ES'" style="margin: auto;font-weight: bold;font-size: 130%">{{roundnum(this.inventoryService.cartService.ValorTotalTabla) | currency  : 'USD' : 'symbol' : '1.0'}}</mat-label>

      </div>
    </div>
  </div>
<!--  BOTON COMPLETAR-->
  <div style="width: 100%;height: 15%;display: flex;flex-direction: column">
    <button mat-flat-button style="width: 85%;height: 70%;font-weight: bold;border: unset;cursor: pointer;background-color:#FFF385;font-size: 120%;margin: auto" color="primary" (click)="CompletarPedido()">Completar compra</button>
  </div>
</div>
