/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
body {
    background-image: url("./assets/img/Background/Imagen-de-fondo-principal.jpg");
    background-color: #efefef;
    background-repeat:no-repeat;
    background-size:cover;
    background-size: 100% 83.1%;
    padding: 0px;
    margin: 0px;
}
