<div>
    <mat-card style="height: 100%;width:100%;padding:0">
      <mat-card-header style="background-color:rgb(5, 53, 107);margin:0;padding:20px">
        <mat-card-title style="font-family: Roboto;font-size: 1.3em; font-weight: 700; margin-bottom:15px; color:white">Log de eventos del pedido</mat-card-title>
      </mat-card-header>
    </mat-card>
    <mat-card style="padding:20px">
        <mat-card-content style="padding:20px">
            <div style="display: flex">
                <div class="card-content table-responsive">
                    <table class="table table-hover" style="text-align: center;">
                        <tr>
                            <th>Documento</th>
                            <th>Pedido Cliente</th>
                            <th>Cliente</th>
                            <th>Direccion</th>
                            <th>Telefono</th>
                        </tr>
                        <tr>
                            <td>{{data.element.numdocumento}}</td>
                            <td>{{data.element.numpedido}}</td>
                            <td>{{data.element.cliente}}</td>
                            <td>{{data.element.address}}</td>
                            <td>{{data.element.phone}}</td>
                        </tr>
                    </table>
                </div>
            </div> 
            <div class="ScrollBar" style="max-height: 400px; overflow-y: scroll">
                <div class="card-content table-responsive">
                    <table class="table table-hover" style="text-align: center;">
                        <tr>
                            <th>Fecha Evento</th>
                            <th>Notas</th>
                            <th>Actor</th>
                            <th>Tiempo</th>
                        </tr>
                        <tr *ngFor="let log of logs; let i = index">
                            <td>{{log.fecha_EVENTO}}</td>
                            <td>{{log.notas}}</td>
                            <td *ngIf="log.actor=='P'">Proveedor</td>
                            <td *ngIf="log.actor=='C'">Cliente</td>
                            <td> {{getDateTime(i)}} </td>
                        </tr>
                    </table>
                </div>
            </div> 
            <div>
                <div class="card-content table-responsive">
                    <table class="table table-hover" style="text-align: center;">
                        <tr>
                            <th>Tiempo Total: {{totalF}} Segundos.</th>
                            <th>Tiempo Total a Entrega: {{totalCF}} Segundos.</th>
                        </tr>
                    </table>
                </div>
            </div> 
            <button mat-dialog-close mat-stroked-button color="warn" type="submit" style="width: 50%;" (click)="close()">Cerrar Ventana</button>
            <button mat-stroked-button color="warn" type="submit" style="width: 50%;" (click)="excel()">Excel</button>
        </mat-card-content>
    </mat-card>
</div>