<div class="container">
  <div class="row">
    <div class="col">
      <div class="float-right">
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn" [ngClass]="{'btn-secondary':!flagEntry, 'btn-danger':flagEntry}" (tap)="toggleFlag(true)">Entradas</button>
          <button type="button" class="btn" [ngClass]="{'btn-secondary':flagEntry, 'btn-danger':!flagEntry}" (tap)="toggleFlag(false)">Salidas</button>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="row my-5">
    <div class="col">
      <form novalidate [formGroup]="form">
        <div class="form-row">
          <div class="col">
            <mat-checkbox formControlName="isRemission"> Por Remision</mat-checkbox>
          </div>
          <div class="col">
            <mat-form-field>
              <input matInput placeholder="N° de pedido" formControlName="number_order">
              <mat-error *ngIf="form.controls.number_order.errors && form.controls.number_order.touched">
                <mat-error *ngIf="form.controls.number_order.errors.required">
                  El Numero de Pedido es
                  <strong>requerido</strong>
                </mat-error>
                <mat-error *ngIf="form.controls.number_order.errors.pattern">
                  El Numero de Pedido tiene formato
                  <strong> No valido</strong>
                </mat-error>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field>
              <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="date">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker disabled="false"></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
      </form>
    </div>
  </div> -->
  <div class="row">
    <div class="col">
      <div class="card card-nav-tabs">
        <div class="card-header card-header-danger">
          <h3 class="title">Detalle del Encargo</h3>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col">
              <button class="btn btn-info float-right" (click)="openDialogSearchProduct()">Busqueda
                <i class="material-icons">search</i>
              </button>
            </div>
          </div>
          <table class="table">
            <thead>
              <tr>
                <th class="text-left"><input type="checkbox" (change)="checkAllItems($event)" [checked]="removalArray.size == setObject.length && setObject.length > 0 "></th>
                <th class="text-left">Código</th>
                <th class="text-left">Descripción</th>
                <th class="text-left">Cantidad</th>
                <!-- <th class="text-right">Costo Unitario</th>
                <th class="text-right">Impuesto</th>
                <th class="text-right">Total</th> -->
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let key of setObject; let idx= index; let last= last;">
                <td class="text-left"><input type="checkbox" (change)="checkItem($event, key)" [checked]="removalArray.has(key)"></td>
                <td class="text-left">{{key}}</td>
                <td class="text-left">{{productsObject[key].description}}</td>
                <td class="text-left">
                  <input *ngIf="last" id="lastDetailQuantity" type="number" min="1" [(ngModel)]="productsObject[key].quantity" (keyup.enter)="readNew($event)">
                  <input *ngIf="! last" type="number" min="1" [(ngModel)]="productsObject[key].quantity" (keyup.enter)="readNew($event)">
                </td>
                <!-- <td class="text-right">{{productsObject[key].price | currency}}</td>
                <td class="text-right">{{productsObject[key].tax | percent}}</td>
                <td class="text-right">{{productsObject[key].price * productsObject[key].quantity | currency}}</td> -->
              </tr>
              <tr>
                <td colspan="7"><input id="reader" autofocus type="text" (keyup.enter)="addDetail($event)"><br>Lector de códigos</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <button type="button" class="btn btn-default" (click)="removeItems()">Eliminar</button>
        </div>
        <!-- <div class="col-12">
          <div class="float-right mb-5">
            <table>
              <tr>
                <td>
                  <h4 class="mr-5">Subtotal</h4>
                </td>
                <td>
                  <h4 class="ml-5">{{calculateSubtotal() | currency}}</h4>
                </td>
              </tr>
              <tr>
                <td>
                  <h4 class="mr-5">Impuesto</h4>
                </td>
                <td>
                  <h4 class="ml-5">{{calculateTax() | currency}}</h4>
                </td>
              </tr>
              <tr>
                <td>
                  <h4 class="mr-5">Total</h4>
                </td>
                <td>
                  <h4 class="ml-5">{{calculateSubtotal()+calculateTax() | currency}}</h4>
                </td>
              </tr>
            </table>
          </div>
        </div> -->
        <div class="col-12">
          <div class="float-right">
            <button type="button" class="btn btn-btn-default" (click)="cancel()">Cancelar</button>
            <button type="button" class="btn btn-success" (click)="openDialogTransactionConfirm()" [disabled]="!setObject.length">Confirmar transacción</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

