 <!-- Servicios -->
 <div id="services">
    <div class="indicator d-none d-md-block"></div>
    <ul class="dropdown-menu" id="servicios">
        <li>
            <a href="http://correo.unal.edu.co" target="_blank"><img src="assets/images/icnServEmail.png" width="32" height="32" alt="Correo Electrónico">Correo Electrónico</a>
        </li>
        <li>
            <a href="https://dninfoa.unal.edu.co" target="_blank"><img src="assets/images/icnServSia.png" width="32" height="32" alt="Dirección Nacional de Información Académica">DNINFOA - SIA</a>
        </li>
        <li>
            <a href="http://bibliotecas.unal.edu.co" target="_blank"><img src="assets/images/icnServLibrary.png" width="32" height="32" alt="Biblioteca">Bibliotecas</a>
        </li>
        <li>
            <a href="http://personal.unal.edu.co" target="_blank"><img src="assets/images/icnServCall.png" width="32" height="32" alt="Convocatorias">Convocatorias</a>
        </li>
        <li>
            <a href="http://identidad.unal.edu.co"><img src="assets/images/icnServIdentidad.png" width="32" height="32" alt="Identidad U.N.">Identidad U.N.</a>
        </li>
    </ul>
</div>

<!-- /content wrapper for padding -->


<main class="detalle">
    <div class="cont_admin">
        <div class="cont_tit">
            <h3 class= "tit_panel">Panel de Administración</h3>

        </div>
        <div class="btn_admin btn_admin_active" id="boton_panel_1" onclick="mostrarpanel('panel_1')"> 
            <a class="btn_panel nombres_modulos">Publicaciones y comentarios</a>
        </div>
          
        <div class="btn_admin" id="boton_panel_2" onclick="mostrarpanel('panel_2')">
              <a class="btn_panel nombres_modulos">Temas y preguntas</a>
        </div>

        <div class="btn_admin" id="boton_panel_3" onclick="mostrarpanel('panel_3')">
            <a class="btn_panel nombres_modulos">Administradores</a>

        </div>
    </div>


    <div class="container-xl" id="panel_1">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-6">
                            <h2>Publicaciones y comentarios</h2>
                        </div>
                        <div class="col-sm-6">
                             <a href="#addEmployeeModal" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xe5ca;</i> <span>Aprobar seleccionados</span></a>

                            <a href="#deleteEmployeeModal" class="btn btn-danger" data-toggle="modal"><i class="material-icons">&#xe5cd;</i> <span>Rechazar seleccionados</span></a>

                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Tipo de contenido</th>
                            <th>Contenido</th>
                            <th>Categoría</th>
                            <th>Usuario</th>
                            <th>Imagen</th>
                            <th>Estado</th>
                            <th>Fecha</th>
                            <th>Aprobación</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of listaPublicacionesPadre">
                            <td class="cont_tabla" *ngIf="item.id_PUBLICACION_PADRE == 0">Publicación</td>
                            <td class="cont_tabla" *ngIf="item.id_PUBLICACION_PADRE != 0">Comentario</td>
                            <td class="cont_tabla"> {{item.publicacion}} </td>
                            <td class="cont_tabla">categoria</td>
                            <td class="cont_tabla"> {{item.username}} </td>
                            <td>
                                <a class="v_image" onclick="$('#Modal3').show(); abrirModal();" (click)="setModalData(item)">Ver publicación</a>
                            </td>
                            <td class="cont_tabla" *ngIf="item.id_ESTADO_PUBLICACION==1">Pendiente</td>
                            <td class="cont_tabla" *ngIf="item.id_ESTADO_PUBLICACION==2">Aprobado</td>
                            <td class="cont_tabla" *ngIf="item.id_ESTADO_PUBLICACION==3">Rechazado</td>
                            <td class="cont_tabla"> {{item.fecha_PUBLICACION}} </td>
                            <td class="cont_tabla">
                                <a (click)="aceptPublication(item)" class="check" data-toggle="modal"><i (click)="aceptPublication(item)"  class="material-icons" data-toggle="tooltip" title="Aprobar">&#xe5ca;</i></a>
                                <a (click)="noPublication(item)" class="uncheck" data-toggle="modal"><i (click)="noPublication(item)" class="material-icons" data-toggle="tooltip" title="Rechazar">&#xe5cd;</i></a>
                            </td>
                        </tr> 
                    </tbody>
                </table>
                <div class="clearfix">
                    <div class="hint-text">Mostrando <b>5</b> de <b>25</b> entradas</div>
                    <ul class="pagination">
                        <li class="page-item disabled"><a href="#">Anterior</a></li>
                        <li class="page-item"><a href="#" class="page-link">1</a></li>
                        <li class="page-item"><a href="#" class="page-link">2</a></li>
                        <li class="page-item active"><a href="#" class="page-link">3</a></li>
                        <li class="page-item"><a href="#" class="page-link">4</a></li>
                        <li class="page-item"><a href="#" class="page-link">5</a></li>
                        <li class="page-item"><a href="#" class="page-link">Siguiente</a></li>
                    </ul>
                </div>
            </div>
        </div>        
    </div>

    <div class="container-xl oculto" id="panel_2">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-6">
                            <h2>Temas y preguntas</h2>
                        </div>
                        <div class="col-sm-6">
                            <a href="#addTemaModal" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Agregar nueva pregunta</span></a>

                            <a href="#deleteEmployeeModal" class="btn btn-danger" data-toggle="modal"><i class="material-icons">&#xE15C;</i> <span>Borrar seleccionados</span></a>         

                            <a href="#addCategoria" class="btn btn-info" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Crear categorías</span></a>                      
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <!-- <th>
                                <span class="custom-checkbox">
                                    <input type="checkbox" id="selectAll">
                                    <label for="selectAll"></label>
                                </span>
                            </th> -->
                            <th>Nombre de la pregunta</th>
                            <th>Categoría</th>
                            <th>Número de publicaciones</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of listaPreguntas">
                            <!-- <td>
                                <span class="custom-checkbox">
                                    <input type="checkbox" id="checkbox1" name="options[]" value="1">
                                    <label for="checkbox1"></label>
                                </span>
                            </td> -->
                            <td class="cont_tabla_grande"> {{item.pregunta}} </td>
                            <td class="cont_tabla_grande"> {{item.categoria}} </td>
                            <td class="cont_tabla_grande"> {{item.numPublicaciones}} </td>
                            <td class="cont_tabla_grande">
                                <a href="#editEmployeeModal" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Editar">&#xE254;</i></a>
                                <a href="#deleteEmployeeModal" (click)="deletePregunta(item.id_pregunta)" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Borrar">&#xE872;</i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="clearfix">
                    <div class="hint-text">Mostrando <b>5</b> de <b>25</b> entradas</div>
                    <ul class="pagination">
                        <li class="page-item disabled"><a href="#">Anterior</a></li>
                        <li class="page-item"><a href="#" class="page-link">1</a></li>
                        <li class="page-item"><a href="#" class="page-link">2</a></li>
                        <li class="page-item active"><a href="#" class="page-link">3</a></li>
                        <li class="page-item"><a href="#" class="page-link">4</a></li>
                        <li class="page-item"><a href="#" class="page-link">5</a></li>
                        <li class="page-item"><a href="#" class="page-link">Siguiente</a></li>
                    </ul>
                </div>
            </div>
        </div>        
    </div>

    <div class="container-xl oculto" id="panel_3">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-6">
                            <h2>Administradores</h2>
                        </div>
                        <div class="col-sm-6">
                            <a href="#addAdminModal" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Agregar nuevo administrador</span></a>

                            <a href="#deleteEmployeeModal" class="btn btn-danger" data-toggle="modal"><i class="material-icons">&#xE15C;</i> <span>Borrar seleccionados</span></a>                      
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>
                                <span class="custom-checkbox">
                                    <input type="checkbox" id="selectAll">
                                    <label for="selectAll"></label>
                                </span>
                            </th>
                            <th>Nombre</th>
                            <th>Correo</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <span class="custom-checkbox">
                                    <input type="checkbox" id="checkbox1" name="options[]" value="1">
                                    <label for="checkbox1"></label>
                                </span>
                            </td>
                            <td class="cont_tabla_extragrande">Sandra Forigua Beltran</td>
                            <td class="cont_tabla_extragrande">smforiguab@unal.edu.co</td>
                            <td class="cont_tabla_extragrande">
                                <a href="#editAdminModal" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Editar">&#xE254;</i></a>
                                <a href="#deleteEmployeeModal" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Borrar">&#xE872;</i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="custom-checkbox">
                                    <input type="checkbox" id="checkbox2" name="options[]" value="1">
                                    <label for="checkbox2"></label>
                                </span>
                            </td>
                            <td class="cont_tabla_extragrande">Angie Figueroa Cárdenas</td>
                            <td class="cont_tabla_extragrande">akfigueroac@unal.edu.co</td>
                            <td class="cont_tabla_extragrande">
                                <a href="#editAdminModal" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Editar">&#xE254;</i></a>
                                <a href="#deleteEmployeeModal" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Borrar">&#xE872;</i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="custom-checkbox">
                                    <input type="checkbox" id="checkbox3" name="options[]" value="1">
                                    <label for="checkbox3"></label>
                                </span>
                            </td>
                            <td class="cont_tabla_extragrande">--</td>
                            <td class="cont_tabla_extragrande">--</td>
                            <td class="cont_tabla_extragrande">
                                <a href="#editAdminModal" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Editar">&#xE254;</i></a>
                                <a href="#deleteEmployeeModal" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Borrar">&#xE872;</i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="custom-checkbox">
                                    <input type="checkbox" id="checkbox4" name="options[]" value="1">
                                    <label for="checkbox4"></label>
                                </span>
                            </td>
                            <td class="cont_tabla_extragrande">--</td>
                            <td class="cont_tabla_extragrande">--</td>
                            <td class="cont_tabla_extragrande">
                                <a href="#editAdminModal" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Editar">&#xE254;</i></a>
                                <a href="#deleteEmployeeModal" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Borrar">&#xE872;</i></a>
                            </td>
                        </tr>                   
                        <tr>
                            <td>
                                <span class="custom-checkbox">
                                    <input type="checkbox" id="checkbox5" name="options[]" value="1">
                                    <label for="checkbox5"></label>
                                </span>
                            </td>
                            <td class="cont_tabla_extragrande">--</td>
                            <td class="cont_tabla_extragrande">--</td>
                            <td class="cont_tabla_extragrande">
                                <a href="#editAdminModal" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Editar">&#xE254;</i></a>
                                <a href="#deleteEmployeeModal" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Borrar">&#xE872;</i></a>
                            </td>
                        </tr> 
                    </tbody>
                </table>
                <div class="clearfix">
                    <div class="hint-text">Mostrando <b>5</b> de <b>25</b> entradas</div>
                    <ul class="pagination">
                        <li class="page-item disabled"><a href="#">Anterior</a></li>
                        <li class="page-item"><a href="#" class="page-link">1</a></li>
                        <li class="page-item"><a href="#" class="page-link">2</a></li>
                        <li class="page-item active"><a href="#" class="page-link">3</a></li>
                        <li class="page-item"><a href="#" class="page-link">4</a></li>
                        <li class="page-item"><a href="#" class="page-link">5</a></li>
                        <li class="page-item"><a href="#" class="page-link">Siguiente</a></li>
                    </ul>
                </div>
            </div>
        </div>        
    </div>
    <div class="cont_admin">        
        <div class="btn_admin">
              <a routerLink="/map" routerLinkActive="active" class="btn_panel nombres_modulos" >Ir al mapa</a>
        </div>
    </div>
</main>

<div id="Modal3" class="modal_home2">
  <div class="modal-contenido2">                    
        <div class="contenedor_cerrar2">
            <a onclick="$('#Modal3').hide(); cerrarModal();" class="modal_cerrar pointer">X</a>
        </div>
        
        <div class="contenedor_modal" style="width: 100%;">
            <div class="contenedor_postcard">
                <div class="contenedor_img_postcard">
                    <div [style.width]="'95%'"  
                         [style.padding-bottom]="'95%'" 
                         [style.border]="'3px solid white'" 
                         [style.background-size]="'cover'"
                         [ngStyle]="{'background-image': 'url(' + imgUrl + ')'}">
                    </div>
                </div>
                
                <div class="texto_postcard">
                    <div class="persona_postcard">
                        <p class="nombre_postcard"> {{postName}} </p>
                        <p class="distancia_postcard">{{postDistance}} Km de la UN</p>
                        <p class="descripcion_postcard"> {{postMessage}} </p>                            
                    </div>
                </div>
            </div>
            
            <div class="contenedor_comentarios">
     
                <div class="comentario" *ngFor="let item of listChildPost">
                    <p class="nombre_comentario"> {{item.username}} </p>
                    <p class="descripcion_comentario">{{item.publicacion}}</p>	
                </div>
                
            </div>
        </div>
    </div>
</div>

<div id="addTemaModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">						
                    <h4 class="modal-title">Agregar nueva pregunta</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">					
                    <div class="form-group">
                        <label>Nombre de la pregunta</label>
                        <input type="text" [(ngModel)]="pregunta" class="form-control" required [ngModelOptions]="{standalone: true}">
                    </div>
                    <!-- <div class="form-group">
                        <label>Categoría</label>
                        <input type="email" [(ngModel)]="id_categoria" class="form-control" required [ngModelOptions]="{standalone: true}">
                    </div>	 -->
                    <div class="form-group">
                        <label>Seleccionar Categoría</label>
                        <select name="seleccionar categoría" [(ngModel)]="idCategoria" class="form_select" size="1">
                            <option *ngFor="let item of listaCategorias" [value]="item.id_categoria"> {{item.categoria}} </option>
                        </select>
                    </div>				
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
                    <input type="submit" class="btn btn-success" value="Agregar" (click)="postPregunta()">
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Agregar Categoria HTML -->
<div id="addCategoria" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
                <div class="modal-header">						
                    <h4 class="modal-title">Agregar nueva categoría</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">					
                    <div class="form-group">
                        <label>Nombre de la categoría</label>
                        <input type="text" class="form-control" [(ngModel)]="categoria" required>
                    </div>			
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
                    <input type="submit" class="btn btn-success" value="Agregar" (click)="postCategoria()">
                </div>
        </div>
    </div>
</div>

<!-- Agregar Admin Modal HTML -->
<div id="addAdminModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">                      
                    <h4 class="modal-title">Agregar Administrador</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">                    
                    <div class="form-group">
                        <label>Nombre</label>
                        <input type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Correo</label>
                        <input type="email" class="form-control" required>
                    </div>             
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
                    <input type="submit" class="btn btn-success" value="Agregar">
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Edit Modal Temas HTML -->
<div id="editEmployeeModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">						
                    <h4 class="modal-title">Editar</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">					
                    <div class="form-group">
                        <label>Nombre de la pregunta</label>
                        <input type="text" class="form-control" required>
                    </div>
                    <!-- <div class="form-group">
                        <label>Categoría</label>
                        <input type="email" class="form-control" required>
                    </div> -->
                    <div class="form-group">
                        <label>Seleccionar Categoría</label>
                        <select name="seleccionar categoría" class="form_select" size="1">
                        <option>Somos espacios</option>
                        <option>Somos cultura</option>
                        <option>Somos deporte</option>
                        <option>Somos naturaleza</option>
                        <option>Somos conocimiento</option>
                        <option>Somos salud</option>
                        </select>
                    </div>
                
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
                    <input type="submit" class="btn btn-info" value="Guardar">
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Editar Modal Admin HTML -->
<div id="editAdminModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">                      
                    <h4 class="modal-title">Editar</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">                    
                    <div class="form-group">
                        <label>Nombre</label>
                        <input type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Correo</label>
                        <input type="email" class="form-control" required>
                    </div>
                
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
                    <input type="submit" class="btn btn-info" value="Guardar">
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Delete Modal HTML -->
<div id="deleteEmployeeModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">						
                    <h4 class="modal-title">Borrar</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">					
                    <p>¿Está seguro que desea eliminar?</p>
                    <p class="text-warning"><small>Esta acción no puede rehacerse.</small></p>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
                    <input type="submit" class="btn btn-danger" value="Borrar">
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Loader -->
<!-- <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
        <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
        <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div> -->
<!-- End loader -->

