<div class="card card-nav-tabs">
  <div class="card-header card-header-danger" style ="background-color:rgb(5, 53, 107)">
    <h4 class="title">Selecciona la caja que quieres abrir</h4>
  </div>
  <div class="row" style="text-align: center; margin-top: 20px;margin-bottom: 20px">
    <div class="col-12">
      <mat-form-field>
        <mat-label>Seleccione la Caja a abrir</mat-label>
        <mat-select [(ngModel)]="SelectedStore">
          <mat-option *ngFor="let elem of stores" [value]="elem.id_CAJA">
            {{elem.store}} - {{elem.caja}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="row" style="text-align: center; margin-top: 20px;margin-bottom: 20px">
    <div class="col">
      <button mat-stroked-button color="primary" type="button" (click)="open()" [disabled]="!(stores.length>0)" >Abrir esta caja</button>
    </div>
    <div class="col">
      <button *ngIf="rol==21" mat-stroked-button color="primary" type="button" (click)="cancel()">Salir sin abrir Caja</button>
    </div>
    <div class="col">
      <button mat-stroked-button color="primary" type="button" (click)="logout()">Cerrar sesion</button>
    </div>
  </div>
</div>