
.layout{
  display: grid;
  height: 100%;
  width: 100%;
  overflow: hidden;
  grid-template-rows: 8vh 1fr;
  grid-template-columns: 1fr 1fr;
}

input[type="radio"]{
  display: none;
}

label.nav{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-right: 2px solid #E6E6E6;
  background: #F4F4F4;
  user-select: none;
  transition: background 0.4s, padding-left 0.2s;
  padding: 0 !important;
  div[name="line"]{
    background-color: unset;
  }
  input[type="radio"]:checked + .page + &{
    div[name="line"]{
      background-color: #FAD263;;
    }
  }
  span{
    padding-left: 0px;
    position: relative;
    font-size: 20px;
    color: #6699ff;
    font-family: 'Montserrat', sans-serif;
  }
}

.page{
  grid-column-start: 1;
  grid-row-start: 2;
  grid-column-end: span 3;
  display: flex;
  //height: 81vh;
  height: 100%;
}

.page-contents > *{
  opacity: 0;
}

input[type="radio"] + .page{
  transition: transform 0.2s;
  transform: translateX(100%);
}

input[type="radio"]:checked + .page{
  transform: translateX(0%);
  .page-contents > *{
    opacity: 1;
    transform: translateY(0px);
  }
}

.page-contents{
  width: 100%;
  height: 100%;
  overflow: auto;
}


.TarjetaPedido{
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  border: solid 2px #FAD263;
  padding: 5px;
  width: 90%;
  height: 14vh;
  margin: 0 auto;
  margin-top: 10px;
}
