<!--CONTENEDOR TRANSPARENTE-->
<div style="display: flex;width: 100%;height: 100%;">
    <div *ngIf="ProductoVisualizando != null" style="display: flex;width: 100%;z-index: 10;height: 100%;position: absolute;background-color: #80808082;">
        <div style="position:relative;z-index: 10;height: 60vh;width: 80vw;margin: auto;background-color: white;border-radius: 20px;display: flex;flex-direction: column;justify-content: space-evenly;padding-bottom: 10px; padding-top: 10px;">
            <div style="display: flex;width: 100%;justify-content: center">
                <ion-icon name="arrow-back-outline" style="margin: auto 0;font-size: 20px;" (click)="ProductoVisualizando = null;"></ion-icon>
                <ion-label style="width: 78%; font-size: 80%; color: black; text-align: center; font-weight: bold;">{{ProductoVisualizando.product_STORE_NAME}}</ion-label>
                <ion-icon name="arrow-back-outline" style="margin: auto 0;font-size: x-large;opacity: 0"></ion-icon>
            </div>
            <img class="AjusteImg" style="margin: 0 auto;border-radius: 0px;overflow: hidden;height: 50%;border-radius: 0px;border: none;" [src]="ProductoVisualizando.img" loop="true" onError="src = 'assets/catNotFound.jpeg'">
            <ion-label style="font-size: 120%;color: black;margin: 0 auto;text-decoration: line-through;" *ngIf="ProductoVisualizando.pct_DESCUENTO!='0'">{{ GetItemPrice(ProductoVisualizando) | currency : 'USD' : 'symbol' : '1.0' }}</ion-label>
            <ion-label style="font-size: 120%;color: black;margin: 0 auto;" *ngIf="ProductoVisualizando.pct_DESCUENTO=='0'">{{ GetItemPrice(ProductoVisualizando) | currency : 'USD' : 'symbol' : '1.0' }}</ion-label>
            <ion-label style="font-size: 120%;color: black;margin: 0 auto;" *ngIf="ProductoVisualizando.pct_DESCUENTO!='0'">{{ GetItemPriceDisccount(ProductoVisualizando) | currency : 'USD' : 'symbol' : '1.0' }}</ion-label>
            <ion-label style="font-size: 120%;color: black;margin: 0 auto;" *ngIf="ProductoVisualizando.pct_DESCUENTO!='0'"> -{{ ProductoVisualizando.pct_DESCUENTO }}% </ion-label>
            <ion-button style="margin-bottom: 35px !important; width: 70%;margin: 0 auto;--background: #513089;color: white; font-size: 13px;" (click)="AddProducto(ProductoVisualizando);ProductoVisualizando = null;">Agregar</ion-button>
            <!-- <button class="uk-position-bottom-right boton-circle" uk-toggle="target: #modal-options">+</button> -->
            <div id="modal-options" uk-modal>
                <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical modal-options">
                    <div>
                        <h4 class="uk-modal-title uk-text-center uk-margin-remove">Opciones</h4>
                        <div>
                            <label style="border: none !important; width: 120px;"><input class="uk-checkbox padding-bottom-10" type="checkbox"> A</label>
                            <label style="border: none !important; width: 120px;"><input class="uk-checkbox padding-bottom-10" type="checkbox"> B</label>
                            <label style="border: none !important; width: 120px;"><input class="uk-checkbox padding-bottom-10" type="checkbox"> C</label>
                            <label style="border: none !important; width: 120px;"><input class="uk-checkbox padding-bottom-10" type="checkbox"> D</label>
                        </div>
                    </div>
                    <div>
                        <h4 class="uk-modal-title uk-text-center uk-margin-remove">Adiciones</h4>
                        <div class="uk-flex uk-flex-column">
                            <div class="uk-flex uk-flex-middle uk-flex-between">
                                <label style="border: none !important; width: 130px;"><input class="uk-checkbox padding-bottom-10" type="checkbox"> A</label>
                                <div class="uk-flex uk-flex-middle" style="width: 80px;">
                                    <h6 class="uk-margin-remove">+</h6>
                                    <h6 class="uk-margin-remove">$2.000</h6>
                                </div>
                            </div>
                            <div class="uk-flex uk-flex-middle uk-flex-between">
                                <label style="border: none !important; width: 130px;"><input class="uk-checkbox padding-bottom-10" type="checkbox"> B</label>
                                <div class="uk-flex uk-flex-middle" style="width: 80px;">
                                    <h6 class="uk-margin-remove">+</h6>
                                    <h6 class="uk-margin-remove">$2.000</h6>
                                </div>
                            </div>
                            <div class="uk-flex uk-flex-middle uk-flex-between">
                                <label style="border: none !important; width: 130px;"><input class="uk-checkbox padding-bottom-10" type="checkbox"> C</label>
                                <div class="uk-flex uk-flex-middle" style="width: 80px;">
                                    <h6 class="uk-margin-remove">+</h6>
                                    <h6 class="uk-margin-remove">$2.000</h6>
                                </div>
                            </div>
                            <div class="uk-flex uk-flex-middle uk-flex-between">
                                <label style="border: none !important; width: 130px;"><input class="uk-checkbox padding-bottom-10" type="checkbox"> D</label>
                                <div class="uk-flex uk-flex-middle" style="width: 80px;">
                                    <h6 class="uk-margin-remove">+</h6>
                                    <h6 class="uk-margin-remove">$2.000</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="uk-margin">
                        <textarea class="uk-textarea" rows="3" placeholder="Algo que desees agregar?"></textarea>
                    </div>
                    <div class="uk-position-bottom-center uk-flex uk-flex-middle">
                        <button class="uk-modal-close button-close" style="background-color: #007b00; margin-right: 5px;" type="button">Aceptar</button>
                        <button class="uk-modal-close button-close" type="button">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--PARTE QUE CONTIENE TODO SOBRE EL BOTON CERRAR-->
    <div style="transition: all 1s;width: 90%;height:90%;background-color: white;border-radius: 25px;box-shadow: 0 3px 14px 2px rgba(0, 0, 0, 0.59);margin: auto;overflow: auto;margin-bottom:auto;" [ngClass]="this.inventoriesService.cartService.ListaTablaProductosSeleccionados.length > 0 ? 'BotonAbierto':''">
        <div style="height: 7%;width: 90%;display: flex;margin: 0 auto;">
            <ion-icon name="arrow-back-outline" style="margin: auto 0;font-size: x-large; color: #513089;" (click)="ClickCerrar()"></ion-icon>
            <ion-label style="margin: auto;font-weight: bold;font-size: 100%;padding-top: 3px; color: #513089;">Productos</ion-label>
            <div style="width: 13vw;margin: auto 0;margin-right: 5px;display: flex">
                <ion-icon style="font-size: 7vw;margin: auto 0;margin-left: auto;" name="cart-outline" (click)="ClickCarrito()"></ion-icon>
                <ion-label style="color: #007b00;background-color: #ffffff;border-radius: 50px;margin-left: -10px;margin-top: -5px;height: 100%;z-index: 1;font-weight: 700;">{{this.inventoriesService.cartService.ListaTablaProductosSeleccionados.length}}</ion-label>
            </div>
        </div>
        <div style="height: 0.5%;width: 100%;display: flex;margin: 0 auto;background-color: black"></div>
        <!--    CLASE QUE DEFINE EL GRID-->
        <div style="display: flex;height: 92%;width: 100%;overflow: auto;flex-direction: column">
            <!--                EL BUSCADOR-->
            <div style="display: flex;box-shadow: 0 1px 5px 1px rgb(172, 172, 172);width: calc(100% - 12px);margin: 6px;">
                <ion-searchbar #Buscador style="--box-shadow: unset;box-shadow: unset;padding: 0;" placeholder="Buscar Producto" (keyup)="filterList($event)" [style.width]="this.Buscando?'90%':'100%'">
                </ion-searchbar>
                <ion-spinner [hidden]="!this.Buscando" style="width: 10%;margin: auto 0" name="crescent"></ion-spinner>
            </div>
            <ion-content>
                <!--                IMAGEN SELECCIONADA PARA VISAULIZAR-->
                <ion-virtual-scroll [items]="this.CartService.ListaProductosFiltradosBuscador" approxItemHeight="320px">
                    <ion-item *virtualItem="let item; let itemBounds = bounds;" (click)="AddProducto(item)">
                        <div style="width: 100%;display: flex;height: 12vh; margin-top: 15px; margin-bottom: 15px !important;" [style]="'color: '+(this.CartService.DiccionarioIdsProductosSeleccionados[item.ownbarcode] == null ? '#4c4b4b':'#998ab3')">
                            <div style="height: 100%;width: 25%" (click)="$event.stopPropagation();ProductoVisualizando = item;showItem(item)">
                                <img class="AjusteImg" style="margin: auto;border-radius: 10px;overflow: hidden" [src]="item.img" loop="true" onError="src = 'assets/catNotFound.jpeg'">
                            </div>
                            <div style="display: flex;flex-direction: column;width: 70%;margin-left: auto">
                                <ion-label style="height: 70%;white-space: unset" class="TextoProducto">{{ item.product_STORE_NAME.toLowerCase().split('-')[0] }}</ion-label>
                                <div class="uk-flex uk-flex-middle" style="width: 100%;display: flex">
                                    <ion-label style="width: 100%;font-size: 85%;text-decoration: line-through;" *ngIf="item.pct_DESCUENTO!=0">{{ GetItemPrice(item) | currency : 'USD' : 'symbol' : '1.0' }}</ion-label>
                                    <ion-label style="width: 100%;font-size: 85%" *ngIf="item.pct_DESCUENTO==0">{{ GetItemPrice(item) | currency : 'USD' : 'symbol' : '1.0' }}</ion-label>
                                    <ion-label style="width: 100%;font-size: 85%" *ngIf="item.pct_DESCUENTO!=0"> {{ GetItemPriceDisccount(item) | currency : 'USD' : 'symbol' : '1.0' }}</ion-label>
                                    <ion-label style="width: 100%;font-size: 85%" *ngIf="item.pct_DESCUENTO!=0"> -{{ item.pct_DESCUENTO }}%</ion-label>
                                    <!-- <ion-icon style="margin: auto 0; font-size: 150%; color: #513089;" *ngIf="item.pct_DESCUENTO==0" name="add-circle"></ion-icon>
                                    <ion-icon style="margin: auto 0; font-size: 300%; color: #513089;" *ngIf="item.pct_DESCUENTO!=0" name="add-circle"></ion-icon> -->
                                </div>
                            </div>
                        </div>
                    </ion-item>
                </ion-virtual-scroll>
            </ion-content>
        </div>
    </div>
</div>