<!--The content below is only a placeholder and can be replaced.-->
<div style="margin-top:-10vh">
  <!--  ENCABEZADO, TITULO DE LA SECCIÓN-->
  <mat-card style="height: 100%;width:100%;padding:0px">
    <mat-card-header style="background-color:rgb(5, 53, 107);margin:0px;padding:20px">
      <mat-card-title style="font-family: Roboto;font-size: 1.3em; font-weight: 700; margin-bottom:15px; color:white">Generador de reporte</mat-card-title>
      <mat-card-subtitle  style="font-size: 0.8em;font-weight: 300;text-emphasis: left; color:white;margin-bottom:0px">Por favor, selecciona un tipo de reporte y rango de fecha</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <mat-card style="padding:20px">
    <!--  GRUPO DE PESTAÑAS-->
    <mat-tab-group>
      <!--    PESTAÑA REPORTES-->
      <mat-tab label="Reportes" *ngIf="this.locStorage.getRol()[0].id_rol!=8888">
        <!--      SELECTOR DE TIENDA-->
        <mat-form-field>
          <mat-label>Seleccione tienda</mat-label>
          <mat-select [(ngModel)]="SelectedStorerep">
            <mat-option *ngFor="let elem of Stores" [value]="elem.id_STORE">
              {{elem.store_NAME}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <!--      SELECTOR FECHA INICIAL-->
        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Fecha Inicial" [(ngModel)]="date1">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker disabled="false"></mat-datepicker>
        </mat-form-field>
        <!--      SELECTOR FECHA FINAL-->
        <mat-form-field>
          <input matInput [matDatepicker]="picker2" placeholder="Fecha Final" [(ngModel)]="date2">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2 disabled="false"></mat-datepicker>
        </mat-form-field>
        <!--      SELECTOR MOVIMIENTO-->
        <mat-form-field>
          <mat-label>Seleccione movimiento</mat-label>
          <mat-select [(ngModel)]="tipoFactura">
            <mat-option [value]="1">Venta</mat-option>
            <mat-option [value]="2">Compra</mat-option>
          </mat-select>
        </mat-form-field>
        <!--  SELECTOR INTERVALO-->
        <mat-form-field>
          <mat-label>Seleccione intervalo</mat-label>
          <mat-select [(ngModel)]="tipoIntervalo">
            <mat-option [value]="1">Diario</mat-option>
            <mat-option [value]="2">Semanal</mat-option>
            <mat-option [value]="3">Mensual</mat-option>
            <mat-option [value]="4">Horas</mat-option>
          </mat-select>
        </mat-form-field>
        <!--    SELECTOR LINEA-->
        <mat-form-field>
          <mat-label>Seleccione Linea</mat-label>
          <mat-select [(ngModel)]="SelectedLine" (change) = "getSecondLvlCategory()">
            <mat-option [value]="-1">Sin linea</mat-option>
            <mat-option *ngFor="let elem of CategoryFirstLvlList" [value]="elem.id_CATEGORY">
              {{elem.category}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <!--  SELECTOR CATEGORIA-->
        <mat-form-field *ngIf="SelectedLine != -1">
          <mat-label>Seleccione categoria</mat-label>
          <mat-select [(ngModel)]="SelectedSubCategory" (change) = "getProductList()">
            <mat-option [value]="-1">Sin categoria</mat-option>
            <mat-option *ngFor="let elem of SubCategoryList" [value]="elem.id_CATEGORY">
              {{elem.category}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <!--  SELECTOR PRODUCTOS-->
        <mat-form-field *ngIf="SelectedSubCategory != -1 && SelectedLine != -1">
          <mat-label>Seleccione producto</mat-label>
          <mat-select [(ngModel)]="SelectedProduct">
            <mat-option [value]="-1">Sin Producto</mat-option>
            <mat-option *ngFor="let elem of ProductList" [value]="elem.id_PRODUCT_STORE">
              {{elem.product_STORE_NAME}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <!--      BOTON GENERAR REPORTE-->
        <button mat-stroked-button color="warn" type="button" (click)="generateReport()">Reportes</button>
        <!--        CANVAS DONDE SALE EL REPORTE-->
        <canvas id="barChart"></canvas>
      </mat-tab>
      <!--    PESTAÑA GRAFICO PRODUCTOS-->
      <mat-tab label="Gráfico por Productos" *ngIf="this.locStorage.getRol()[0].id_rol!=8888">
        <!--      SELECTOR TIENDA-->
        <mat-form-field>
          <mat-label>Seleccione tienda</mat-label>
          <mat-select [(ngModel)]="SelectedStore3">
            <mat-option *ngFor="let elem of Stores" [value]="elem.id_STORE">
              {{elem.store_NAME}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <!--      SELECTOR FECHA INICIAL-->
        <mat-form-field>
          <input matInput [matDatepicker]="picker3" placeholder="Fecha Inicial" [(ngModel)]="date3">
          <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
          <mat-datepicker #picker3 disabled="false"></mat-datepicker>
        </mat-form-field>
        <!--      SELECTOR FECHA FINAL-->
        <mat-form-field>
          <input matInput [matDatepicker]="picker4" placeholder="Fecha Final" [(ngModel)]="date4">
          <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
          <mat-datepicker #picker4 disabled="false"></mat-datepicker>
        </mat-form-field>
        <button mat-stroked-button color="warn" type="button" (click)="getChartData2()">Graficar por productos</button>
        <canvas id="lineChartTotal"></canvas>
      </mat-tab>
      <!--    PESTAÑA PRODUCTOS-->
      <mat-tab label="Productos" *ngIf="this.locStorage.getRol()[0].id_rol!=8888">
        <!--      SELECTOR TIENDA-->
        <mat-form-field>
          <mat-label>Seleccione tienda</mat-label>
          <mat-select [(ngModel)]="SelectedStoreProd">
            <mat-option *ngFor="let elem of Stores" [value]="elem.id_STORE">
              {{elem.store_NAME}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <!--      SELECTOR FECHA INICIAL-->
        <mat-form-field>
          <input matInput [matDatepicker]="pickerP1" placeholder="Fecha Inicial" [(ngModel)]="dateP1">
          <mat-datepicker-toggle matSuffix [for]="pickerP1"></mat-datepicker-toggle>
          <mat-datepicker #pickerP1 disabled="false"></mat-datepicker>
        </mat-form-field>
        <!--      SELECTOR FECHA FINAL-->
        <mat-form-field>
          <input matInput [matDatepicker]="pickerP2" placeholder="Fecha Final" [(ngModel)]="dateP2">
          <mat-datepicker-toggle matSuffix [for]="pickerP2"></mat-datepicker-toggle>
          <mat-datepicker #pickerP2 disabled="false"></mat-datepicker>
        </mat-form-field>
        <!--      BOTON GENERAR REPORTE PRODUCTOS-->
        <button mat-stroked-button color="warn" type="button" (click)="getRepProdList()">Reporte por productos</button>
        <!--      BOTON VER EXCEL-->
        <div class="col my-col" style="padding-left: 10px;">
          <input type="image" (click)="excelProductos()" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7f/Microsoft_Office_Excel_%282018%E2%80%93present%29.svg/1200px-Microsoft_Office_Excel_%282018%E2%80%93present%29.svg.png" height="42" width="42" />
        </div>
        <!--      TABLA DEL REPORTE-->
        <mat-card-content *ngIf=" isListProdFull === true ">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
              <tr>
                <th class="text-center">
                  <div (click)="SortBy('ownbarcode',0)" style="justify-content: center;align-items: center;display: flex;cursor: pointer;">
                    <b>Codigo de Barras</b>
                    <mat-icon *ngIf="CampoSorteando[0] == 'ownbarcode'">{{Invertido[0]?"arrow_drop_down":"arrow_drop_up"}}</mat-icon>
                    <mat-icon *ngIf="CampoSorteando[0] != 'ownbarcode'" style="color:#d9d9d9">arrow_drop_down</mat-icon>
                  </div>
                </th>
                <th class="text-center">
                  <div (click)="SortBy('categoria',0)" style="justify-content: center;align-items: center;display: flex;cursor: pointer;">
                    <b>Producto</b>
                    <mat-icon *ngIf="CampoSorteando[0] == 'categoria'">{{Invertido[0]?"arrow_drop_down":"arrow_drop_up"}}</mat-icon>
                    <mat-icon *ngIf="CampoSorteando[0] != 'categoria'" style="color:#d9d9d9">arrow_drop_down</mat-icon>
                  </div>
                </th>
                <th class="text-center">
                  <div (click)="SortBy('venta',0)" style="justify-content: center;align-items: center;display: flex;cursor: pointer;">
                    <b>Ventas</b>
                    <mat-icon *ngIf="CampoSorteando[0] == 'venta'">{{Invertido[0]?"arrow_drop_down":"arrow_drop_up"}}</mat-icon>
                    <mat-icon *ngIf="CampoSorteando[0] != 'venta'" style="color:#d9d9d9">arrow_drop_down</mat-icon>
                  </div>
                </th>
                <th class="text-center">
                  <div (click)="SortBy('costo',0)" style="justify-content: center;align-items: center;display: flex;cursor: pointer;">
                    <b>Costo</b>
                    <mat-icon *ngIf="CampoSorteando[0] == 'costo'">{{Invertido[0]?"arrow_drop_down":"arrow_drop_up"}}</mat-icon>
                    <mat-icon *ngIf="CampoSorteando[0] != 'costo'" style="color:#d9d9d9">arrow_drop_down</mat-icon>
                  </div>
                </th>
                <th class="text-center">
                  <div (click)="SortBy('utilidad',0)" style="justify-content: center;align-items: center;display: flex;cursor: pointer;">
                    <b>Utilidades</b>
                    <mat-icon *ngIf="CampoSorteando[0] == 'utilidad'">{{Invertido[0]?"arrow_drop_down":"arrow_drop_up"}}</mat-icon>
                    <mat-icon *ngIf="CampoSorteando[0] != 'utilidad'" style="color:#d9d9d9">arrow_drop_down</mat-icon>
                  </div>
                </th>
                <th class="text-center">
                  <div (click)="SortBy('pct_MARGEN',0)" style="justify-content: center;align-items: center;display: flex;cursor: pointer;">
                    <b>Margen</b>
                    <mat-icon *ngIf="CampoSorteando[0] == 'pct_MARGEN'">{{Invertido[0]?"arrow_drop_down":"arrow_drop_up"}}</mat-icon>
                    <mat-icon *ngIf="CampoSorteando[0] != 'pct_MARGEN'" style="color:#d9d9d9">arrow_drop_down</mat-icon>
                  </div>
                </th>
                <th class="text-center">
                  <div (click)="SortBy('numventas',0)" style="justify-content: center;align-items: center;display: flex;cursor: pointer;">
                    <b># Ventas</b>
                    <mat-icon *ngIf="CampoSorteando[0] == 'numventas'">{{Invertido[0]?"arrow_drop_down":"arrow_drop_up"}}</mat-icon>
                    <mat-icon *ngIf="CampoSorteando[0] != 'numventas'" style="color:#d9d9d9">arrow_drop_down</mat-icon>
                  </div>
                </th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let elem of ListReportProd">
                <td class="text-center"> {{elem.ownbarcode}} </td>
                <td class="text-center"> {{elem.categoria}} </td>
                <td class="text-center"> {{elem.venta | currency}} </td>
                <td class="text-center"> {{elem.costo | currency}} </td>
                <td class="text-center"> {{elem.utilidad | currency}} </td>
                <td class="text-center"> {{elem.pct_MARGEN *10 | percent}} </td>
                <td class="text-center"> {{elem.numventas}} </td>
              </tr>
              </tbody>
            </table>
          </div>
        </mat-card-content>
      </mat-tab>
      <!--    PESTAÑA CATEGORIAS-->
      <mat-tab label="Categorias" *ngIf="this.locStorage.getRol()[0].id_rol!=8888">
        <!--      SELECTOR DE TIENDA-->
        <mat-form-field>
          <mat-label>Seleccione tienda</mat-label>
          <mat-select [(ngModel)]="SelectedStoreCat">
            <mat-option *ngFor="let elem of Stores" [value]="elem.id_STORE">
              {{elem.store_NAME}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <!--      SELECTOR FECHA INICAL-->
        <mat-form-field>
          <input matInput [matDatepicker]="pickerC1" placeholder="Fecha Inicial" [(ngModel)]="dateC1">
          <mat-datepicker-toggle matSuffix [for]="pickerC1"></mat-datepicker-toggle>
          <mat-datepicker #pickerC1 disabled="false"></mat-datepicker>
        </mat-form-field>
        <!--      SELECTOR FECHA FINAL-->
        <mat-form-field>
          <input matInput [matDatepicker]="pickerC2" placeholder="Fecha Final" [(ngModel)]="dateC2">
          <mat-datepicker-toggle matSuffix [for]="pickerC2"></mat-datepicker-toggle>
          <mat-datepicker #pickerC2 disabled="false"></mat-datepicker>
        </mat-form-field>
        <!--      BOTON GENERAR REPORTE CATEGORIAS-->
        <button mat-stroked-button color="warn" type="button" (click)="getRepCatList()">Reportes por Categorías</button>
        <!--      BOTON VER EXCEL-->
        <div class="col my-col" style="padding-left: 10px;">
          <input type="image" (click)="excelCategorias()" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7f/Microsoft_Office_Excel_%282018%E2%80%93present%29.svg/1200px-Microsoft_Office_Excel_%282018%E2%80%93present%29.svg.png" height="42" width="42" />
        </div>
        <!--      TABLA DEL REPORTE-->
        <mat-card-content *ngIf=" isListCatFull === true ">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
              <tr>
                <th class="text-center">
                  <div (click)="SortBy('categoria',1)" style="justify-content: center;align-items: center;display: flex;cursor: pointer;">
                    <b>Categoria</b>
                    <mat-icon *ngIf="CampoSorteando[1] == 'categoria'">{{Invertido[1]?"arrow_drop_down":"arrow_drop_up"}}</mat-icon>
                    <mat-icon *ngIf="CampoSorteando[1] != 'categoria'" style="color:#d9d9d9">arrow_drop_down</mat-icon>
                  </div>
                </th>
                <th class="text-center">
                  <div (click)="SortBy('venta',1)" style="justify-content: center;align-items: center;display: flex;cursor: pointer;">
                    <b>Ventas</b>
                    <mat-icon *ngIf="CampoSorteando[1] == 'venta'">{{Invertido[1]?"arrow_drop_down":"arrow_drop_up"}}</mat-icon>
                    <mat-icon *ngIf="CampoSorteando[1] != 'venta'" style="color:#d9d9d9">arrow_drop_down</mat-icon>
                  </div>
                </th>
                <th class="text-center">
                  <div (click)="SortBy('costo',1)" style="justify-content: center;align-items: center;display: flex;cursor: pointer;">
                    <b>Costo</b>
                    <mat-icon *ngIf="CampoSorteando[1] == 'costo'">{{Invertido[1]?"arrow_drop_down":"arrow_drop_up"}}</mat-icon>
                    <mat-icon *ngIf="CampoSorteando[1] != 'costo'" style="color:#d9d9d9">arrow_drop_down</mat-icon>
                  </div>
                </th>
                <th class="text-center">
                  <div (click)="SortBy('utilidad',1)" style="justify-content: center;align-items: center;display: flex;cursor: pointer;">
                    <b>Utilidades</b>
                    <mat-icon *ngIf="CampoSorteando[1] == 'utilidad'">{{Invertido[1]?"arrow_drop_down":"arrow_drop_up"}}</mat-icon>
                    <mat-icon *ngIf="CampoSorteando[1] != 'utilidad'" style="color:#d9d9d9">arrow_drop_down</mat-icon>
                  </div>
                </th>
                <th class="text-center">
                  <div (click)="SortBy('pct_MARGEN',1)" style="justify-content: center;align-items: center;display: flex;cursor: pointer;">
                    <b>Margen</b>
                    <mat-icon *ngIf="CampoSorteando[1] == 'pct_MARGEN'">{{Invertido[1]?"arrow_drop_down":"arrow_drop_up"}}</mat-icon>
                    <mat-icon *ngIf="CampoSorteando[1] != 'pct_MARGEN'" style="color:#d9d9d9">arrow_drop_down</mat-icon>
                  </div>
                </th>
                <th class="text-center">
                  <div (click)="SortBy('numventas',1)" style="justify-content: center;align-items: center;display: flex;cursor: pointer;">
                    <b># Ventas</b>
                    <mat-icon *ngIf="CampoSorteando[1] == 'numventas'">{{Invertido[1]?"arrow_drop_down":"arrow_drop_up"}}</mat-icon>
                    <mat-icon *ngIf="CampoSorteando[1] != 'numventas'" style="color:#d9d9d9">arrow_drop_down</mat-icon>
                  </div>
                </th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let elem of ListReportCat">
                <td class="text-center"> {{elem.categoria}} </td>
                <td class="text-center"> {{elem.venta | currency}} </td>
                <td class="text-center"> {{elem.costo | currency}} </td>
                <td class="text-center"> {{elem.utilidad | currency}} </td>
                <td class="text-center"> {{elem.pct_MARGEN *10 | percent}} </td>
                <td class="text-center"> {{elem.numventas}} </td>
              </tr>
              </tbody>
            </table>
          </div>
        </mat-card-content>
      </mat-tab>
      <!-- PESTAÑA FACTURACION-->
      <mat-tab label="Facturación">
        <!--      SELECTOR DE TIENDA-->
        <mat-form-field *ngIf="this.locStorage.getRol()[0].id_rol!=8888">
          <mat-label>Seleccione tienda</mat-label>
          <mat-select [(ngModel)]="SelectedStore">
            <mat-option *ngFor="let elem of Stores" [value]="elem.id_STORE">
              {{elem.store_NAME}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <!--      SELECTOR DE TIENDA 2-->
        <mat-form-field *ngIf="this.locStorage.getRol()[0].id_rol==8888">
          <mat-label>Seleccione tienda</mat-label>
          <mat-select [(ngModel)]="SelectedStore">
            <mat-option [value]="storeId">
              Esta tienda.
            </mat-option>
          </mat-select>
        </mat-form-field>
        <!--      SELECTOR DE MOVIMIENTO-->
        <mat-form-field>
          <mat-label>Seleccione movimiento</mat-label>
          <mat-select [(ngModel)]="tipoFactura2">
            <mat-option [value]="1">Venta</mat-option>
            <mat-option [value]="2" *ngIf="this.locStorage.getRol()[0].id_rol!=8888">Compra</mat-option>
            <mat-option [value]="3" *ngIf="this.locStorage.getRol()[0].id_rol!=8888">Entrada</mat-option>
            <mat-option [value]="4" *ngIf="this.locStorage.getRol()[0].id_rol!=8888">Salida</mat-option>
          </mat-select>
        </mat-form-field>
        <!--      SELECTOR DE FECHA INICIAL-->
        <mat-form-field>
          <input matInput [matDatepicker]="pickerF1" placeholder="Fecha Inicial" [(ngModel)]="dateF1">
          <mat-datepicker-toggle matSuffix [for]="pickerF1"></mat-datepicker-toggle>
          <mat-datepicker #pickerF1 disabled="false"></mat-datepicker>
        </mat-form-field>
        <!--      SELECTOR FECHA FINAL-->
        <mat-form-field>
          <input matInput [matDatepicker]="pickerF2" placeholder="Fecha Final" [(ngModel)]="dateF2">
          <mat-datepicker-toggle matSuffix [for]="pickerF2"></mat-datepicker-toggle>
          <mat-datepicker #pickerF2 disabled="false"></mat-datepicker>
        </mat-form-field> 
        <!--      BOTONES GENERAR REPORTES FACTURAS-->
        <button mat-stroked-button color="warn" type="button" (click)="getRepBillList()">Reportes por Facturas</button>
        <div class="col my-col" style="padding-left: 10px;">
          <input type="image" (click)="excelFacturas()" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7f/Microsoft_Office_Excel_%282018%E2%80%93present%29.svg/1200px-Microsoft_Office_Excel_%282018%E2%80%93present%29.svg.png" height="42" width="42" />
        </div>
        <!--      COLUMAS SOBRE LA TABLA-->
        <div class="row" style="text-align:center;width: 100%">
          <!--          COLUMNA VENTAS-->
          <div class="col" *ngIf="isListBillFull === true && tipoFactura2==1">
            <h5 class="left-scroll">
              Ventas
            </h5>
            <!--          VAL-->
            <h4 class="left-scroll">
              {{ventasTotales | currency}}
            </h4>
          </div>
          <!--          COLUMNA COSTO-->
          <div class="col" *ngIf="isListBillFull === true && this.locStorage.getRol()[0].id_rol!=8888">
            <h5 class="left-scroll">
              Costo
            </h5>
            <!--            VAL-->
            <h4 class="left-scroll">
              {{costosTotales | currency}}
            </h4>
          </div>
          <!--          COLUMA UTILIDADES-->
          <div class="col" *ngIf="isListBillFull === true && tipoFactura2==1 && this.locStorage.getRol()[0].id_rol!=8888">
            <h5 class="left-scroll">
              Utilidades
            </h5>
            <!--            VAL-->
            <h4 class="left-scroll">
              {{utilidadesTotales | currency}}
            </h4>
          </div>
          <!--          COLUMNA MARGEN VENTA-->
          <div class="col" *ngIf="isListBillFull === true && tipoFactura2==1 && this.locStorage.getRol()[0].id_rol!=8888">
            <h5 class="left-scroll">
              % Margen Venta
            </h5>
            <!--            VAL-->
            <h4 class="left-scroll">
              {{margenPromedio*10 | percent}}
            </h4>
          </div>
          <!--          COLUMNA MARGEN COSTO-->
          <div class="col" *ngIf="isListBillFull === true && tipoFactura2==1 && this.locStorage.getRol()[0].id_rol!=8888">
            <h5 class="left-scroll">
              % Margen Costo
            </h5>
            <!--            VAL-->
            <h4 class="left-scroll">
              {{margenPromedio2*10 | percent}}
            </h4>
          </div>
          <!--          COLUMNA FACTUAS-->
          <div class="col" *ngIf="isListBillFull === true">
            <h5 class="left-scroll">
              Facturas
            </h5>
            <!--            VAL-->
            <h4 class="left-scroll">
              {{ListReportBill.length}}
            </h4>
          </div>
          <!--          COLUMNA DEVOLUCIONES-->
          <div class="col" *ngIf="isListBillFull === true && tipoFactura2==1 && this.locStorage.getRol()[0].id_rol!=8888">
            <h5 class="left-scroll">
              Devoluciones
            </h5>
            <!--            VAL-->
            <h4 class="left-scroll">
              {{devolucionesVentas | currency}}
            </h4>
          </div>
          <!--          COLUMNA DOMICILIARIOS VENTAS-->
          <div class="col" *ngIf="isListBillFull === true && tipoFactura2==1 && this.locStorage.getRol()[0].id_rol!=8888">
            <h5 class="left-scroll">
              Ventaas Domicilios
            </h5>
            <!--            VAL-->
            <h4 class="left-scroll">
              {{ventasDomicilios | currency}}
            </h4>
          </div>
          <!--          COLUMNA TOTAL DOMICILIOS-->
          <div class="col" *ngIf="isListBillFull === true && tipoFactura2==1 && this.locStorage.getRol()[0].id_rol!=8888">
            <h5 class="left-scroll">
              Total Domicilios
            </h5>
            <!--            VAL-->
            <h4 class="left-scroll">
              {{totalDomicilios}}
            </h4>
          </div>
        </div>
        <!--      TABLA DEL REPORTE-->
        <mat-card-content *ngIf=" isListBillFull === true ">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
              <tr>
                <th class="text-center">
                  <div (click)="SortBy('fullname',2)" style="justify-content: center;align-items: center;display: flex;cursor: pointer;">
                    <b>Consecutivo</b>
                    <mat-icon *ngIf="CampoSorteando[2] == 'fullname'">{{Invertido[2]?"arrow_drop_down":"arrow_drop_up"}}</mat-icon>
                    <mat-icon *ngIf="CampoSorteando[2] != 'fullname'" style="color:#d9d9d9">arrow_drop_down</mat-icon>
                  </div>
                </th>
                <th class="text-center">
                  <div (click)="SortBy('purchase_DATE',2)" style="justify-content: center;align-items: center;display: flex;cursor: pointer;">
                    <b>Fecha Factura</b>
                    <mat-icon *ngIf="CampoSorteando[2] == 'purchase_DATE'">{{Invertido[2]?"arrow_drop_down":"arrow_drop_up"}}</mat-icon>
                    <mat-icon *ngIf="CampoSorteando[2] != 'purchase_DATE'" style="color:#d9d9d9">arrow_drop_down</mat-icon>
                  </div>
                </th>
                <th class="text-center">
                  <div (click)="SortBy('venta',2)" style="justify-content: center;align-items: center;display: flex;cursor: pointer;">
                    <b>Ventas</b>
                    <mat-icon *ngIf="CampoSorteando[2] == 'venta'">{{Invertido[2]?"arrow_drop_down":"arrow_drop_up"}}</mat-icon>
                    <mat-icon *ngIf="CampoSorteando[2] != 'venta'" style="color:#d9d9d9">arrow_drop_down</mat-icon>
                  </div>
                </th>
                <th class="text-center" *ngIf="this.locStorage.getRol()[0].id_rol!=8888">
                  <div (click)="SortBy('costo',2)" style="justify-content: center;align-items: center;display: flex;cursor: pointer;">
                    <b>Costo</b>
                    <mat-icon *ngIf="CampoSorteando[2] == 'costo'">{{Invertido[2]?"arrow_drop_down":"arrow_drop_up"}}</mat-icon>
                    <mat-icon *ngIf="CampoSorteando[2] != 'costo'" style="color:#d9d9d9">arrow_drop_down</mat-icon>
                  </div>
                </th>
                <th class="text-center" *ngIf="this.locStorage.getRol()[0].id_rol!=8888">
                  <div (click)="SortBy('tax',2)" style="justify-content: center;align-items: center;display: flex;cursor: pointer;">
                    <b>Tax</b>
                    <mat-icon *ngIf="CampoSorteando[2] == 'tax'">{{Invertido[2]?"arrow_drop_down":"arrow_drop_up"}}</mat-icon>
                    <mat-icon *ngIf="CampoSorteando[2] != 'tax'" style="color:#d9d9d9">arrow_drop_down</mat-icon>
                  </div>
                </th>
                <th class="text-center" *ngIf="this.locStorage.getRol()[0].id_rol!=8888">
                  <div (click)="SortBy('utilidad',2)" style="justify-content: center;align-items: center;display: flex;cursor: pointer;">
                    <b>Utilidades</b>
                    <mat-icon *ngIf="CampoSorteando[2] == 'utilidad'">{{Invertido[2]?"arrow_drop_down":"arrow_drop_up"}}</mat-icon>
                    <mat-icon *ngIf="CampoSorteando[2] != 'utilidad'" style="color:#d9d9d9">arrow_drop_down</mat-icon>
                  </div>
                </th>
                <th class="text-center" *ngIf="this.locStorage.getRol()[0].id_rol!=8888">
                  <div (click)="SortBy('pct_MARGEN_VENTA',2)" style="justify-content: center;align-items: center;display: flex;cursor: pointer;">
                    <b>% Margen Venta</b>
                    <mat-icon *ngIf="CampoSorteando[2] == 'pct_MARGEN_VENTA'">{{Invertido[2]?"arrow_drop_down":"arrow_drop_up"}}</mat-icon>
                    <mat-icon *ngIf="CampoSorteando[2] != 'pct_MARGEN_VENTA'" style="color:#d9d9d9">arrow_drop_down</mat-icon>
                  </div>
                </th>
                <th class="text-center" *ngIf="this.locStorage.getRol()[0].id_rol!=8888">
                  <div (click)="SortBy('pct_MARGEN_COSTO',2)" style="justify-content: center;align-items: center;display: flex;cursor: pointer;">
                    <b>% Margen Costo</b>
                    <mat-icon *ngIf="CampoSorteando[2] == 'pct_MARGEN_COSTO'">{{Invertido[2]?"arrow_drop_down":"arrow_drop_up"}}</mat-icon>
                    <mat-icon *ngIf="CampoSorteando[2] != 'pct_MARGEN_COSTO'" style="color:#d9d9d9">arrow_drop_down</mat-icon>
                  </div>
                </th>
                <th class="text-center">
                  <div (click)="SortBy('caja',2)" style="justify-content: center;align-items: center;display: flex;cursor: pointer;">
                    <b>Caja</b>
                    <mat-icon *ngIf="CampoSorteando[2] == 'caja'">{{Invertido[2]?"arrow_drop_down":"arrow_drop_up"}}</mat-icon>
                    <mat-icon *ngIf="CampoSorteando[2] != 'caja'" style="color:#d9d9d9">arrow_drop_down</mat-icon>
                  </div>
                </th>
                <th class="text-center">
                  <div (click)="SortBy('cajero',2)" style="justify-content: center;align-items: center;display: flex;cursor: pointer;">
                    <b>Cajero</b>
                    <mat-icon *ngIf="CampoSorteando[2] == 'cajero'">{{Invertido[2]?"arrow_drop_down":"arrow_drop_up"}}</mat-icon>
                    <mat-icon *ngIf="CampoSorteando[2] != 'cajero'" style="color:#d9d9d9">arrow_drop_down</mat-icon>
                  </div>
                </th>
                <th class="text-center" *ngIf="this.locStorage.getRol()[0].id_rol!=8888">
                  <div (click)="SortBy('id_BILL_STATE',2)" style="justify-content: center;align-items: center;display: flex;cursor: pointer;">
                    <b>Tipo Factura</b>
                    <mat-icon *ngIf="CampoSorteando[2] == 'id_BILL_STATE'">{{Invertido[2]?"arrow_drop_down":"arrow_drop_up"}}</mat-icon>
                    <mat-icon *ngIf="CampoSorteando[2] != 'id_BILL_STATE'" style="color:#d9d9d9">arrow_drop_down</mat-icon>
                  </div>
                </th>
                <th class="text-center" *ngIf="this.locStorage.getRol()[0].id_rol!=8888">
                  <div (click)="SortBy('domiciliario',2)" style="justify-content: center;align-items: center;display: flex;cursor: pointer;">
                    <b>Domiciliario</b>
                    <mat-icon *ngIf="CampoSorteando[2] == 'domiciliario'">{{Invertido[2]?"arrow_drop_down":"arrow_drop_up"}}</mat-icon>
                    <mat-icon *ngIf="CampoSorteando[2] != 'domiciliario'" style="color:#d9d9d9">arrow_drop_down</mat-icon>
                  </div>
                </th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let elem of ListReportBill">
                <td class="text-center">
                  <p (click)="generatePdfRoute(elem)" target="blank">
                    {{elem.fullname}}-{{elem.num_DOCUMENTO}}
                  </p> 
                </td>
                <td class="text-center"> {{elem.purchase_DATE}}</td>
                <td class="text-center"> {{elem.venta | currency}} </td>
                <td class="text-center" *ngIf="this.locStorage.getRol()[0].id_rol!=8888"> {{elem.costo | currency}} </td>
                <td class="text-center" *ngIf="this.locStorage.getRol()[0].id_rol!=8888"> {{elem.tax | currency}} </td>
                <td class="text-center" *ngIf="this.locStorage.getRol()[0].id_rol!=8888"> {{elem.utilidad | currency}} </td>
                <td class="text-center" *ngIf="this.locStorage.getRol()[0].id_rol!=8888"> {{elem.pct_MARGEN_VENTA *10 | percent}} </td>
                <td class="text-center" *ngIf="this.locStorage.getRol()[0].id_rol!=8888"> {{elem.pct_MARGEN_COSTO *10 | percent}} </td>
                <td class="text-center" *ngIf="elem.id_CAJA == 0"> Pedido </td>
                <td class="text-center" *ngIf="elem.id_CAJA != 0"> {{elem.caja}} </td>
                <td class="text-center" *ngIf="elem.id_CAJA == 0"> Sin Cajero </td>
                <td class="text-center" *ngIf="elem.id_CAJA != 0"> {{elem.cajero}} </td>
                <td class="text-center" *ngIf="elem.id_BILL_STATE == 1 && this.locStorage.getRol()[0].id_rol!=8888"> F </td>
                <td class="text-center" *ngIf="elem.id_BILL_STATE == 41 && this.locStorage.getRol()[0].id_rol!=8888"> AD </td>
                <td class="text-center" *ngIf="this.locStorage.getRol()[0].id_rol!=8888"> {{elem.domiciliario}} </td>
              </tr>
              </tbody>
            </table>
          </div>
        </mat-card-content>
      </mat-tab>
      <!--    PESTAÑA CAJA-->
      <mat-tab label="Caja" *ngIf="this.locStorage.getRol()[0].id_rol!=8888">
        <mat-tab-group>
        <mat-tab label="Cajas cerradas" >
        <!--      SELECTOR TIENDA-->
        <mat-form-field>
          <mat-label>Seleccione tienda</mat-label>
          <mat-select [(ngModel)]="SelectedStore2">
            <mat-option *ngFor="let elem of Stores" [value]="elem.id_STORE">
              {{elem.store_NAME}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <!--      SELECTOR FECHA INICIAL-->
        <mat-form-field>
          <input matInput [matDatepicker]="pickerCC1" placeholder="Fecha Inicial" [(ngModel)]="dateCC1">
          <mat-datepicker-toggle matSuffix [for]="pickerCC1"></mat-datepicker-toggle>
          <mat-datepicker #pickerCC1 disabled="false"></mat-datepicker>
        </mat-form-field>
        <!--      SELECTOR FECHA FINAL-->
        <mat-form-field>
          <input matInput [matDatepicker]="pickerCC2" placeholder="Fecha Final" [(ngModel)]="dateCC2">
          <mat-datepicker-toggle matSuffix [for]="pickerCC2"></mat-datepicker-toggle>
          <mat-datepicker #pickerCC2 disabled="false"></mat-datepicker>
        </mat-form-field>
        <!--      BOTONES GENERAR REPORTES-->
        <button mat-stroked-button color="warn" type="button" (click)="getRepCCList()">Reportes de Cierre de Caja</button>
        <div class="col my-col" style="padding-left: 10px;">
          <input type="image" (click)="excelCaja()" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7f/Microsoft_Office_Excel_%282018%E2%80%93present%29.svg/1200px-Microsoft_Office_Excel_%282018%E2%80%93present%29.svg.png" height="42" width="42" />
        </div>
        <!--      TABLA DEL REPORTE-->
        <mat-card-content *ngIf=" isListCCFull === true ">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
              <tr>
                <th class="text-center">
                  <div (click)="SortBy('consecutive',3)" style="justify-content: center;align-items: center;display: flex;cursor: pointer;">
                    <b>Consecutivo</b>
                    <mat-icon *ngIf="CampoSorteando[3] == 'consecutive'">{{Invertido[3]?"arrow_drop_down":"arrow_drop_up"}}</mat-icon>
                    <mat-icon *ngIf="CampoSorteando[3] != 'consecutive'" style="color:#d9d9d9">arrow_drop_down</mat-icon>
                  </div>
                </th>
                <th class="text-center">
                  <div (click)="SortBy('fullname',3)" style="justify-content: center;align-items: center;display: flex;cursor: pointer;">
                    <b>Cajero</b>
                    <mat-icon *ngIf="CampoSorteando[3] == 'fullname'">{{Invertido[3]?"arrow_drop_down":"arrow_drop_up"}}</mat-icon>
                    <mat-icon *ngIf="CampoSorteando[3] != 'fullname'" style="color:#d9d9d9">arrow_drop_down</mat-icon>
                  </div>
                </th>
                <th class="text-center">
                  <div (click)="SortBy('balance',3)" style="justify-content: center;align-items: center;display: flex;cursor: pointer;">
                    <b>Balance</b>
                    <mat-icon *ngIf="CampoSorteando[3] == 'balance'">{{Invertido[3]?"arrow_drop_down":"arrow_drop_up"}}</mat-icon>
                    <mat-icon *ngIf="CampoSorteando[3] != 'balance'" style="color:#d9d9d9">arrow_drop_down</mat-icon>
                  </div>
                </th>
                <th class="text-center">
                  <div (click)="SortBy('starting_DATE',3)" style="justify-content: center;align-items: center;display: flex;cursor: pointer;">
                    <b>Fecha Apertura</b>
                    <mat-icon *ngIf="CampoSorteando[3] == 'starting_DATE'">{{Invertido[3]?"arrow_drop_down":"arrow_drop_up"}}</mat-icon>
                    <mat-icon *ngIf="CampoSorteando[3] != 'starting_DATE'" style="color:#d9d9d9">arrow_drop_down</mat-icon>
                  </div>
                </th>
                <th class="text-center">
                  <div (click)="SortBy('closing_DATE',3)" style="justify-content: center;align-items: center;display: flex;cursor: pointer;">
                    <b>Fecha Cierre</b>
                    <mat-icon *ngIf="CampoSorteando[3] == 'closing_DATE'">{{Invertido[3]?"arrow_drop_down":"arrow_drop_up"}}</mat-icon>
                    <mat-icon *ngIf="CampoSorteando[3] != 'closing_DATE'" style="color:#d9d9d9">arrow_drop_down</mat-icon>
                  </div>
                </th>
                <th class="text-center">
                  <div (click)="SortBy('notes',3)" style="justify-content: center;align-items: center;display: flex;cursor: pointer;">
                    <b>Notas Cierre</b>
                    <mat-icon *ngIf="CampoSorteando[3] == 'notes'">{{Invertido[3]?"arrow_drop_down":"arrow_drop_up"}}</mat-icon>
                    <mat-icon *ngIf="CampoSorteando[3] != 'notes'" style="color:#d9d9d9">arrow_drop_down</mat-icon>
                  </div>
                </th>
                <th class="text-center">
                  <div (click)="SortBy('caja_NUMBER',3)" style="justify-content: center;align-items: center;display: flex;cursor: pointer;">
                    <b>Caja</b>
                    <mat-icon *ngIf="CampoSorteando[3] == 'caja_NUMBER'">{{Invertido[3]?"arrow_drop_down":"arrow_drop_up"}}</mat-icon>
                    <mat-icon *ngIf="CampoSorteando[3] != 'caja_NUMBER'" style="color:#d9d9d9">arrow_drop_down</mat-icon>
                  </div>
                </th>
                <th class="text-center">
                  <div (click)="SortBy('movement_DATE',3)" style="justify-content: center;align-items: center;display: flex;cursor: pointer;">
                    <b>Fecha de Movimiento</b>
                    <mat-icon *ngIf="CampoSorteando[3] == 'movement_DATE'">{{Invertido[3]?"arrow_drop_down":"arrow_drop_up"}}</mat-icon>
                    <mat-icon *ngIf="CampoSorteando[3] != 'movement_DATE'" style="color:#d9d9d9">arrow_drop_down</mat-icon>
                  </div>
                </th>
                <th class="text-center">
                  <div (click)="SortBy('valor',3)" style="justify-content: center;align-items: center;display: flex;cursor: pointer;">
                    <b>Valor</b>
                    <mat-icon *ngIf="CampoSorteando[3] == 'valor'">{{Invertido[3]?"arrow_drop_down":"arrow_drop_up"}}</mat-icon>
                    <mat-icon *ngIf="CampoSorteando[3] != 'valor'" style="color:#d9d9d9">arrow_drop_down</mat-icon>
                  </div>
                </th>
                <th class="text-center">
                  <div (click)="SortBy('naturaleza',3)" style="justify-content: center;align-items: center;display: flex;cursor: pointer;">
                    <b>Naturaleza</b>
                    <mat-icon *ngIf="CampoSorteando[3] == 'naturaleza'">{{Invertido[3]?"arrow_drop_down":"arrow_drop_up"}}</mat-icon>
                    <mat-icon *ngIf="CampoSorteando[3] != 'naturaleza'" style="color:#d9d9d9">arrow_drop_down</mat-icon>
                  </div>
                </th>
                <th class="text-center">
                  <div (click)="SortBy('notas',3)" style="justify-content: center;align-items: center;display: flex;cursor: pointer;">
                    <b>Notas Movimiento</b>
                    <mat-icon *ngIf="CampoSorteando[3] == 'notas'">{{Invertido[3]?"arrow_drop_down":"arrow_drop_up"}}</mat-icon>
                    <mat-icon *ngIf="CampoSorteando[3] != 'notas'" style="color:#d9d9d9">arrow_drop_down</mat-icon>
                  </div>
                </th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let elem of ListReportCC">
                <td class="text-center">
                  <a (click)="generatePdfRoute2(elem.idcaja,elem.consecutive)">
                    {{StoreNameForConsec}}{{elem.consecutive}}
                  </a>
                </td>
                <td class="text-center"> {{elem.fullname}}</td>
                <td class="text-center"> {{elem.balance | currency}}</td>
                <td class="text-center"> {{elem.starting_DATE}} </td>
                <td class="text-center"> {{elem.closing_DATE}} </td>
                <td class="text-center"> {{elem.notes}} </td>
                <td class="text-center"> {{elem.caja_NUMBER}} </td>
                <td class="text-center"> {{elem.movement_DATE}} </td>
                <td class="text-center"> {{elem.valor | currency}} </td>
                <td class="text-center" *ngIf="elem.naturaleza=='C'"> Egreso a la caja </td>
                <td class="text-center" *ngIf="elem.naturaleza=='D'"> Ingreso a la caja </td>
                <td class="text-center"> {{elem.notas}} </td>
              </tr>
              </tbody>
            </table>
          </div>
        </mat-card-content>
        </mat-tab>
        <mat-tab label="Cajas Abiertas">
          <app-open-box-report></app-open-box-report>
        </mat-tab>
        </mat-tab-group>
      </mat-tab>
      <!--    PESTAÑA TERCEROS-->
      <mat-tab label="Terceros" *ngIf="this.locStorage.getRol()[0].id_rol!=8888">
        <!--      SELECTOR MOVIMIENTO-->
        <mat-form-field>
          <mat-label>Seleccione movimiento</mat-label>
          <mat-select [(ngModel)]="tipoFactura2">
            <mat-option [value]="1">Venta</mat-option>
            <mat-option [value]="2">Compra</mat-option>
          </mat-select>
        </mat-form-field>
        <!--      SELECTOR FECHA INICIAL-->
        <mat-form-field>
          <input matInput [matDatepicker]="pickerthirds1" placeholder="Fecha Inicial" [(ngModel)]="ThirdsDate1">
          <mat-datepicker-toggle matSuffix [for]="pickerthirds1"></mat-datepicker-toggle>
          <mat-datepicker #pickerthirds1 disabled="false"></mat-datepicker>
        </mat-form-field>
        <!--      SELECTOR FECHA FINAL-->
        <mat-form-field>
          <input matInput [matDatepicker]="pickerthirds2" placeholder="Fecha Final" [(ngModel)]="ThirdsDate2">
          <mat-datepicker-toggle matSuffix [for]="pickerthirds2"></mat-datepicker-toggle>
          <mat-datepicker #pickerthirds2 disabled="false"></mat-datepicker>
        </mat-form-field>
        <!--      BOTONES GENERAR REPORTE-->
        <button mat-stroked-button color="warn" type="button" (click)="genReport()">
          Generar Reporte
        </button>
        <div class="col my-col" style="padding-left: 10px;">
          <input type="image" (click)="excelPersona()" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7f/Microsoft_Office_Excel_%282018%E2%80%93present%29.svg/1200px-Microsoft_Office_Excel_%282018%E2%80%93present%29.svg.png" height="42" width="42" />
        </div>
        <!--      TABLA DEL REPORTE-->
        <div class="table-responsive" *ngIf="dataTablaThirds != ' '">
          <table class="table table-hover">
            <thead>
            <tr>
              <th class="text-center">
                <div (click)="SortBy('fullname',4)" style="justify-content: center;align-items: center;display: flex;cursor: pointer;">
                  <b>Nombre</b>
                  <mat-icon *ngIf="CampoSorteando[4] == 'fullname'">{{Invertido[4]?"arrow_drop_down":"arrow_drop_up"}}</mat-icon>
                  <mat-icon *ngIf="CampoSorteando[4] != 'fullname'" style="color:#d9d9d9">arrow_drop_down</mat-icon>
                </div>
              </th>
              <th class="text-center">
                <div (click)="SortBy('document_TYPE',4)" style="justify-content: center;align-items: center;display: flex;cursor: pointer;">
                  <b>Documento</b>
                  <mat-icon *ngIf="CampoSorteando[4] == 'document_TYPE'">{{Invertido[4]?"arrow_drop_down":"arrow_drop_up"}}</mat-icon>
                  <mat-icon *ngIf="CampoSorteando[4] != 'document_TYPE'" style="color:#d9d9d9">arrow_drop_down</mat-icon>
                </div>
              </th>
              <th class="text-center">
                <div (click)="SortBy('numventas',4)" style="justify-content: center;align-items: center;display: flex;cursor: pointer;">
                  <b>Num Transacciones</b>
                  <mat-icon *ngIf="CampoSorteando[4] == 'numventas'">{{Invertido[4]?"arrow_drop_down":"arrow_drop_up"}}</mat-icon>
                  <mat-icon *ngIf="CampoSorteando[4] != 'numventas'" style="color:#d9d9d9">arrow_drop_down</mat-icon>
                </div>
              </th>
              <th class="text-center">
                <div (click)="SortBy('totalventas',4)" style="justify-content: center;align-items: center;display: flex;cursor: pointer;">
                  <b>Total Transacciones</b>
                  <mat-icon *ngIf="CampoSorteando[4] == 'totalventas'">{{Invertido[4]?"arrow_drop_down":"arrow_drop_up"}}</mat-icon>
                  <mat-icon *ngIf="CampoSorteando[4] != 'totalventas'" style="color:#d9d9d9">arrow_drop_down</mat-icon>
                </div>
              </th>
              <th class="text-center">
                <div (click)="SortBy('address',4)" style="justify-content: center;align-items: center;display: flex;cursor: pointer;">
                  <b>Direccion</b>
                  <mat-icon *ngIf="CampoSorteando[4] == 'address'">{{Invertido[4]?"arrow_drop_down":"arrow_drop_up"}}</mat-icon>
                  <mat-icon *ngIf="CampoSorteando[4] != 'address'" style="color:#d9d9d9">arrow_drop_down</mat-icon>
                </div>
              </th>
              <th class="text-center">
                <div (click)="SortBy('phone',4)" style="justify-content: center;align-items: center;display: flex;cursor: pointer;">
                  <b>Telefono</b>
                  <mat-icon *ngIf="CampoSorteando[4] == 'phone'">{{Invertido[4]?"arrow_drop_down":"arrow_drop_up"}}</mat-icon>
                  <mat-icon *ngIf="CampoSorteando[4] != 'phone'" style="color:#d9d9d9">arrow_drop_down</mat-icon>
                </div>
              </th>
              <th class="text-center">
                <div (click)="SortBy('mail',4)" style="justify-content: center;align-items: center;display: flex;cursor: pointer;">
                  <b>Correo</b>
                  <mat-icon *ngIf="CampoSorteando[4] == 'mail'">{{Invertido[4]?"arrow_drop_down":"arrow_drop_up"}}</mat-icon>
                  <mat-icon *ngIf="CampoSorteando[4] != 'mail'" style="color:#d9d9d9">arrow_drop_down</mat-icon>
                </div>
              </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let elem of dataTablaThirds">
              <td class="text-center"> {{elem.fullname}} </td>
              <td class="text-center"> {{elem.document_TYPE+"-"+elem.document_NUMBER}} </td>
              <td class="text-center"> {{elem.numventas}} </td>
              <td class="text-center"> {{elem.totalventas | currency}} </td>
              <td class="text-center"> {{elem.address}} </td>
              <td class="text-center"> {{elem.phone}} </td>
              <td class="text-center"> {{elem.mail}} </td>
            </tr>
            </tbody>
          </table>
        </div>
      </mat-tab>
      <mat-tab label="Pedidos Pendientes">
        <mat-form-field>
          <mat-label>Seleccione tienda</mat-label>
          <mat-select [(ngModel)]="SelectedStorerPend">
            <mat-option *ngFor="let elem of Stores2" [value]="elem.id_STORE_CLIENT">
              {{elem.description}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-stroked-button color="warn" type="button" (click)="getPendientes()">Reportes</button>

        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
            <tr>
              <th class="text-center">
                Codigo de Barras
              </th>
              <th class="text-center">
                Nombre
              </th>
              <th class="text-center">
                Cantidad
              </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let elem of pendings">
              <td class="text-center"> {{elem.ownbarcode}} </td>
              <td class="text-center"> {{elem.product_STORE_NAME}} </td>
              <td class="text-center"> {{elem.quantity}} </td>
            </tr>
            </tbody>
          </table>
        </div>


      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>
