<div style="margin-top:-10vh">
  <!-- <button mat-stroked-button color="warn" type="button" (click)="openDialogClient(0)">Empresa</button>
  <button mat-stroked-button color="warn" type="button" (click)="openDialogClient(1)">Persona</button>
  <button mat-stroked-button color="warn" type="button" (click)="openDialogClient(2)">Empleado</button> -->

  
  <!-- <button mat-stroked-button color="warn" type="button" (click)="openReportes()">Reportes</button> -->
  <!--
  <button mat-stroked-button color="warn" type="button" (click)="openInventories()">Inventario</button>
  <button mat-stroked-button color="warn" type="button" (click)="openStores()">Administrar Tiendas</button>
  <button mat-stroked-button color="warn" type="button" (click)="openUpdateLegalData()">Actualizar Mis Datos Legales</button> -->
  

  
  
  
  
  
   

  
  
  
  
  
  <span *ngIf="tipoFactura=='entrada'">
      
    <!-- <div class="row">
      <div class="col-12">
        <div class="card card-nav-tabs">
          <div class="card-header card-header-danger" style ="background: linear-gradient(60deg, #ef5350, #e53935)">
            <h4 class="title">Selecciona el tercero para la factura</h4>
            <p class="title">Si es un usuario ocasional no necesitas editar nada.</p>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col">
                
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card card-nav-tabs">
          <div class="card-header card-header-danger">
            <h3 class="title">Vendedor</h3>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h4>
                  <b>Nombre:</b> {{vendedor.fullname}}
                </h4>
                <h4>
                  <b>Cargo:</b> {{vendedor.cargo}}
                </h4>
                <h4>
                  <b>Caja N°:</b> 1
                </h4>
              </div>
            </div>
          </div>
        </div>
      </div> 
    </div> -->
    <mat-card style="height: 100%;width:100%;padding:0px">
        <mat-card-header style="background-color:rgb(5, 53, 107);margin:0px;padding:20px">
      
            <mat-card-title style="font-family: Roboto;font-size: 1.3em; font-weight: 700; margin-bottom:15px; color:white">Generar documento de entrada de mercancía</mat-card-title>
            <mat-card-subtitle style="font-size: 0.8em;font-weight: 300;text-emphasis: left; color:white;margin-bottom:0px">Llene los datos a continuacion presentados para generar el documento de entrada.</mat-card-subtitle>
        </mat-card-header>
    </mat-card>
  
  
        <mat-card>
          <mat-card-content>
              <div class="row" >
                  <div class="col">
              <!-- <div class="row text-center" *ngIf="tab == 0">
                  <div class="col-2">
                    <h4>
                      <b>Nombre:</b> {{clientData.fullname}}
                    </h4>
                  </div>
                  <div class="col-2">
                    <h4>
                      <b>Tipo de persona:</b> {{clientData.is_natural_person?'Natural':'Juridica'}}
                    </h4>
                  </div>
                  <div class="col-2">
                    <h4>
                      <b>Tipo de documento:</b> {{clientData.document_type}}
                    </h4>
                  </div>
                  <div class="col-2">
                    <h4>
                      <b>N° de documento:</b> {{clientData.document_number}}
                    </h4>
                  </div>
                  <div class="col-2">
                    <h4>
                      <b>Dirección:</b> {{clientData.address}}
                    </h4>
                  </div> 
                  <div class="col-2">
                    <h4>
                      <b>Teléfono:</b> {{clientData.phone}}
                    </h4>
                  </div>
                  <div class="col-2">
                    <h4>
                      <b>Email:</b> {{clientData.email}}
                    </h4>
                  </div>
                </div> -->
              <div class="row" *ngIf="tab == 0">
                  <div class="col">
                      <div class="row">
                        <div class="col-3">
                          <mat-form-field>
                            <input (ngModelChange)="listLoad()" [(ngModel)]="inputForCode" matInput class="text-center" type="text" placeholder="Codigo de barras" #nameit (keyup.enter)="addDetail($event)">
                          </mat-form-field>
                        </div>
                        <div class="col-3">
                            <mat-select [(ngModel)]="SelectedBillState" >
                              <mat-option value="1">Otros</mat-option>
                              <mat-option value="301">Entrada por vencimiento</mat-option>
                              <mat-option value="302">Entrada por daño o averia</mat-option>
                              <mat-option value="303">Entrada por devolucion a proveedor </mat-option>
                              <mat-option value="304">Entrada por traslado de mercancia</mat-option>
                              <mat-option value="305">Entrada por robo</mat-option>
                            </mat-select>
                          </div>
                        <div class="col-6 float-right">
                          <button mat-stroked-button color="primary" type="button" (click)="openCategories2()">Busqueda de Productos</button>
                          <button mat-stroked-button color="primary" type="button" (click)="openDialogTransactionConfirm(3,2)" [disabled]="!setObject.length || flag">Confirmar transacción</button>
                          <button mat-stroked-button color="warn" type="button" (click)="cancel()">Cancelar</button>
                        </div>
                        <!-- <div class="col">
                          <mat-form-field>
                            <input matInput placeholder="N° de pedido" formControlName="number_order">
                            <mat-error *ngIf="form.controls.number_order.errors && form.controls.number_order.touched">
                              <mat-error *ngIf="form.controls.number_order.errors.required">
                                El Numero de Pedido es
                                <strong>requerido</strong>
                              </mat-error>
                              <mat-error *ngIf="form.controls.number_order.errors.pattern">
                                El Numero de Pedido tiene formato
                                <strong> No valido</strong>
                              </mat-error>
                            </mat-error>
                          </mat-form-field>
                        </div> -->
                        <div class="col" [hidden]="true">
                          <mat-form-field>
                            <input matInput [matDatepicker]="picker" placeholder="Choose a date" >
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker disabled="false"></mat-datepicker>
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="col-6" >
                        <div class="row" style="max-height: 180px; overflow-y: scroll; margin-top: -15px;text-align: center;" *ngIf="listElem!=''" >
                          <div class="row" style="width: 80%;margin-top:-25px;text-align: center;" *ngFor="let item of listaElem">
                            <div class="col" style="text-align: center;" *ngIf="!disableDoubleClickSearch" (click)="addDetail2(item.ownbarcode)">
                              {{item.product_STORE_NAME}} - {{item.ownbarcode}} - {{item.product_STORE_CODE}} 
                            </div>
                          </div>
                        </div>
                      </div> 
                  </div>
                </div>
                <div class="row" *ngIf="tab == 0">
                    <div class="col">
                      <mat-form-field>
                        <input matInput class="text-center" type="text" placeholder="Observaciones" id="reader" autofocus type="text" [(ngModel)]="ObservationsInOrOut">
                      </mat-form-field>
                    </div>
                    
                    
                  </div>
            <!-- <div class="row">
              <div class="col" *ngIf="tab == 0">
                  <div class="float-left">
                    <button mat-stroked-button color="primary" type="submit" (click)="openDialogSearchProduct()">Busqueda</button>
                  </div>
                  <div class="float-right">
                    <button mat-stroked-button color="primary" type="submit" (click)="openDialogClient()">Registrar Cliente</button>
                    <button mat-stroked-button color="primary" type="submit" (click)="openDialogSearchClient()">Cargar Cliente</button>
                  </div> 
              </div>
   
            </div> -->
  
  
  
  
  
                    <div class="table-responsive">
                        <div class="text-center" *ngIf="setObject.length==0" style="margin-top: 20px">
                          <i class="material-icons">
                            <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                          </i>
                          <h4>
                            Productos
                          </h4>
                        </div>
                      <br>
                    <br>
                    <table class="table table-hover" style="text-align: center" *ngIf="setObject.length>0">
                      <thead>
                        <tr>
                          <th class="text-center">Código</th>
                          <th class="text-center">Producto</th>
                          <th class="text-center">Cantidad</th>
                          <th class="text-center">Ubicacion</th>
                          <th class="text-center"></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let key of setObject; let idx= index; let last= last;">
                          <td class="text-center">{{productsObject[key].code}}</td>
                          <td>{{productsObject[key].description}}</td>
                          <td class="text-center">
                            <mat-form-field style="width:2vw"> 
                                <input [(ngModel)]="productsObject[key].quantity" matInput class="text-center" type="number" id="reader" autofocus type="text">
                            </mat-form-field>
                          </td>
                          <td class="text-center">
                          <mat-form-field>
                            <mat-select [(value)]="productsObject[key].id_storage" >
                              <mat-option *ngFor="let storage of storageList" [value]="storage.id_storage"> {{storage.storage_name}} </mat-option>
                            </mat-select>
                          </mat-form-field>
                          </td>
                          <td class="text-center">
                            <div>
                                <button mat-icon-button color="warn" (click)="upQuantity(key)">
                                    <mat-icon aria-label="Example icon-button with a heart icon">keyboard_arrow_up</mat-icon>
                                </button>
                                <button mat-icon-button color="warn" (click)="downQuantity(key)">
                                    <mat-icon aria-label="Example icon-button with a heart icon">keyboard_arrow_down</mat-icon>
                                </button>
                                <button mat-icon-button color="warn" (click)="individualDelete(key)">
                                    <mat-icon aria-label="Example icon-button with a heart icon">clear</mat-icon>
                                </button>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    </div>
                    <!-- <div class="float-right">
                      <button mat-stroked-button color="primary" type="button" (click)="openDialogTransactionConfirm(3,2)" [disabled]="!setObject.length || flag">Confirmar transacción</button>
                      <button mat-stroked-button color="warn" type="button" (click)="cancel()">Cancelar</button>
                    </div> -->
  
  
  
  
  <!-- 
                <mat-tab label="Busqueda de Productos"> 
  
  
                  
                    <div class="row">
                        <div class="col-4">
                            <mat-form-field>
                              <input matInput placeholder="Nombre" [matMenuTriggerFor]="menu2" [(ngModel)]="searchInput" (change)="searchFilter(1)">
                            </mat-form-field>
                            <mat-menu #menu2="matMenu">
                              <button mat-menu-item *ngFor="let data of searchData">
                                {{data.product.code}}
                              </button>
                            </mat-menu>
                        </div>
                        <div class="col-4">
                          <mat-form-field>
                            <input matInput placeholder="Codigo">
                          </mat-form-field>
                        </div>
                        <div class="col-4">
                          <mat-form-field>
                            <input matInput placeholder="Descripcion">
                          </mat-form-field>
                        </div>
                      </div>
               
                    <div class="float-right">
                      <button mat-dialog-close class="btn btn-secundary">Cancelar</button>
                      <button class="btn btn-primary">Buscar</button>
                    </div>
  
  
  
                </mat-tab> -->
  
  
  
              </div>
            </div>
  
          </mat-card-content>
        </mat-card>
      
        <!-- <div class="row">
          <div class="col-12">
            
          </div>
          <div class="col-12">
            
          </div>
        </div> -->
  
  
  </span>
  
  
  
  
  
  
  
  
  
  
  
  
  
