<!--The content below is only a placeholder and can be replaced.-->
<div style="margin-top:-10vh">
<mat-card style="height: 100%;width:100%;padding:0px">
  <mat-card-header style="background-color:rgb(5, 53, 107);margin:0px;padding:20px">
    <mat-card-title style="font-family: Roboto;font-size: 1.3em; font-weight: 700; margin-bottom:15px; color:white">Generador de reporte</mat-card-title>
    <mat-card-subtitle  style="font-size: 0.8em;font-weight: 300;text-emphasis: left; color:white;margin-bottom:0px">Por favor, selecciona un tipo de reporte y rango de fecha</mat-card-subtitle>
  </mat-card-header>
</mat-card>
<mat-card style="padding:20px">

<mat-tab-group>
  <mat-tab label="Reportes" *ngIf="this.locStorage.getRol()[0].id_rol!=8888">
    <mat-form-field>
      <mat-label>Seleccione tienda</mat-label>
      <mat-select [(ngModel)]="SelectedStorerep">
        <mat-option *ngFor="let elem of Stores" [value]="elem.id_STORE">
          {{elem.store_NAME}}
        </mat-option>
      </mat-select>
    </mat-form-field>
<mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Fecha Inicial" [(ngModel)]="date1">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker disabled="false"></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <input matInput [matDatepicker]="picker2" placeholder="Fecha Final" [(ngModel)]="date2">
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2 disabled="false"></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Seleccione movimiento</mat-label>
    <mat-select [(ngModel)]="tipoFactura">
      <mat-option [value]="1">Venta</mat-option>
      <mat-option [value]="2">Compra</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Seleccione intervalo</mat-label>
    <mat-select [(ngModel)]="tipoIntervalo">
      <mat-option [value]="1">Diario</mat-option>
      <mat-option [value]="2">Semanal</mat-option>
      <mat-option [value]="3">Mensual</mat-option>
      <mat-option [value]="4">Horas</mat-option>
    </mat-select>
  </mat-form-field>
  
  <mat-form-field>
    <mat-label>Seleccione Linea</mat-label>
    <mat-select [(ngModel)]="SelectedLine" (change) = "getSecondLvlCategory()">
      <mat-option [value]="-1">Sin linea</mat-option>
      <mat-option *ngFor="let elem of CategoryFirstLvlList" [value]="elem.id_CATEGORY">
        {{elem.category}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field *ngIf="SelectedLine != -1">
    <mat-label>Seleccione categoria</mat-label>
    <mat-select [(ngModel)]="SelectedSubCategory" (change) = "getProductList()">
      <mat-option [value]="-1">Sin categoria</mat-option>
      <mat-option *ngFor="let elem of SubCategoryList" [value]="elem.id_CATEGORY">
        {{elem.category}} 
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field *ngIf="SelectedSubCategory != -1 && SelectedLine != -1">
    <mat-label>Seleccione producto</mat-label>
    <mat-select [(ngModel)]="SelectedProduct">
      <mat-option [value]="-1">Sin Producto</mat-option>
      <mat-option *ngFor="let elem of ProductList" [value]="elem.id_PRODUCT_STORE">
        {{elem.product_STORE_NAME}}
      </mat-option>
    </mat-select>
  </mat-form-field>

 
  <button mat-stroked-button color="warn" type="button" (click)="generateReport()">Reportes</button>
      
  <canvas id="barChart"></canvas>

  </mat-tab>
 









<mat-tab label="Gráfico por Productos" *ngIf="this.locStorage.getRol()[0].id_rol!=8888">
    <mat-form-field>
      <mat-label>Seleccione tienda</mat-label>
      <mat-select [(ngModel)]="SelectedStore3">
        <mat-option *ngFor="let elem of Stores" [value]="elem.id_STORE">
          {{elem.store_NAME}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
        <input matInput [matDatepicker]="picker3" placeholder="Fecha Inicial" [(ngModel)]="date3">
        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
        <mat-datepicker #picker3 disabled="false"></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input matInput [matDatepicker]="picker4" placeholder="Fecha Final" [(ngModel)]="date4">
        <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
        <mat-datepicker #picker4 disabled="false"></mat-datepicker>
      </mat-form-field>        
      <button mat-stroked-button color="warn" type="button" (click)="getChartData2()">Graficar por productos</button>
      <canvas id="lineChartTotal"></canvas>
</mat-tab> 


<mat-tab label="Productos" *ngIf="this.locStorage.getRol()[0].id_rol!=8888">
    <mat-form-field>
        <mat-label>Seleccione tienda</mat-label>
        <mat-select [(ngModel)]="SelectedStoreProd">
          <mat-option *ngFor="let elem of Stores" [value]="elem.id_STORE">
            {{elem.store_NAME}}
          </mat-option>
        </mat-select>
      </mat-form-field>
  <mat-form-field>
      <input matInput [matDatepicker]="pickerP1" placeholder="Fecha Inicial" [(ngModel)]="dateP1">
      <mat-datepicker-toggle matSuffix [for]="pickerP1"></mat-datepicker-toggle>
      <mat-datepicker #pickerP1 disabled="false"></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="pickerP2" placeholder="Fecha Final" [(ngModel)]="dateP2">
      <mat-datepicker-toggle matSuffix [for]="pickerP2"></mat-datepicker-toggle>
      <mat-datepicker #pickerP2 disabled="false"></mat-datepicker>
    </mat-form-field>        
    <button mat-stroked-button color="warn" type="button" (click)="getRepProdList()">Reporte por productos</button>
    <div class="col my-col" style="padding-left: 10px;">
      <input type="image" (click)="excelProductos()" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7f/Microsoft_Office_Excel_%282018%E2%80%93present%29.svg/1200px-Microsoft_Office_Excel_%282018%E2%80%93present%29.svg.png" height="42" width="42" />
    </div>
    <mat-card-content *ngIf=" isListProdFull === true ">
      <div class="table-responsive">
          <table class="table table-hover">
              <thead>
                  <tr>
                    <th class="text-center"><b>Producto</b></th>
                    <th class="text-center"><b>Ventas</b></th>
                    <th class="text-center"><b>Costo</b></th>
                    <th class="text-center"><b>Utilidades</b></th>
                    <th class="text-center"><b>Margen</b></th>
                    <th class="text-center"><b># Ventas</b></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let elem of ListReportProd">
                    <td class="text-center"> {{elem.categoria}} </td>
                    <td class="text-center"> {{elem.venta | currency}} </td>
                    <td class="text-center"> {{elem.costo | currency}} </td>
                    <td class="text-center"> {{elem.utilidad | currency}} </td>
                    <td class="text-center"> {{elem.pct_MARGEN *10 | percent}} </td>
                    <td class="text-center"> {{elem.numventas}} </td>
                  </tr>
                </tbody>
          </table>
        </div> 
      </mat-card-content>
</mat-tab>


<mat-tab label="Categorias" *ngIf="this.locStorage.getRol()[0].id_rol!=8888">
  <mat-form-field>
    <mat-label>Seleccione tienda</mat-label>
    <mat-select [(ngModel)]="SelectedStoreCat">
      <mat-option *ngFor="let elem of Stores" [value]="elem.id_STORE">
        {{elem.store_NAME}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input matInput [matDatepicker]="pickerC1" placeholder="Fecha Inicial" [(ngModel)]="dateC1">
    <mat-datepicker-toggle matSuffix [for]="pickerC1"></mat-datepicker-toggle>
    <mat-datepicker #pickerC1 disabled="false"></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <input matInput [matDatepicker]="pickerC2" placeholder="Fecha Final" [(ngModel)]="dateC2">
    <mat-datepicker-toggle matSuffix [for]="pickerC2"></mat-datepicker-toggle>
    <mat-datepicker #pickerC2 disabled="false"></mat-datepicker>
  </mat-form-field>        
    <button mat-stroked-button color="warn" type="button" (click)="getRepCatList()">Reportes por Categorías</button>
    <div class="col my-col" style="padding-left: 10px;">
      <input type="image" (click)="excelCategorias()" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7f/Microsoft_Office_Excel_%282018%E2%80%93present%29.svg/1200px-Microsoft_Office_Excel_%282018%E2%80%93present%29.svg.png" height="42" width="42" />
    </div>
    <mat-card-content *ngIf=" isListCatFull === true ">
      <div class="table-responsive">
          <table class="table table-hover">
              <thead>
                  <tr>
                    <th class="text-center"><b>Categoria</b></th>
                    <th class="text-center"><b>Ventas</b></th>
                    <th class="text-center"><b>Costo</b></th>
                    <th class="text-center"><b>Utilidades</b></th>
                    <th class="text-center"><b>Margen</b></th>
                    <th class="text-center"><b># Ventas</b></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let elem of ListReportCat">
                    <td class="text-center"> {{elem.categoria}} </td>
                    <td class="text-center"> {{elem.venta | currency}} </td>
                    <td class="text-center"> {{elem.costo | currency}} </td>
                    <td class="text-center"> {{elem.utilidad | currency}} </td>
                    <td class="text-center"> {{elem.pct_MARGEN *10 | percent}} </td>
                    <td class="text-center"> {{elem.numventas}} </td>
                  </tr>
                </tbody>
          </table>
        </div>
      </mat-card-content>
</mat-tab>

<mat-tab label="Facturación">
    <mat-form-field *ngIf="this.locStorage.getRol()[0].id_rol!=8888"> 
        <mat-label>Seleccione tienda</mat-label>
        <mat-select [(ngModel)]="SelectedStore">
          <mat-option *ngFor="let elem of Stores" [value]="elem.id_STORE">
            {{elem.store_NAME}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field *ngIf="this.locStorage.getRol()[0].id_rol==8888"> 
        <mat-label>Seleccione tienda</mat-label>
        <mat-select [(ngModel)]="SelectedStore">
          <mat-option [value]="storeId">
            Esta tienda.
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Seleccione movimiento</mat-label>
        <mat-select [(ngModel)]="tipoFactura2">
          <mat-option [value]="1">Venta</mat-option>
          <mat-option [value]="2" *ngIf="this.locStorage.getRol()[0].id_rol!=8888">Compra</mat-option>
        </mat-select>
      </mat-form-field>
  <mat-form-field>
    <input matInput [matDatepicker]="pickerF1" placeholder="Fecha Inicial" [(ngModel)]="dateF1">
    <mat-datepicker-toggle matSuffix [for]="pickerF1"></mat-datepicker-toggle>
    <mat-datepicker #pickerF1 disabled="false"></mat-datepicker>
  </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="pickerF2" placeholder="Fecha Final" [(ngModel)]="dateF2">
      <mat-datepicker-toggle matSuffix [for]="pickerF2"></mat-datepicker-toggle>
      <mat-datepicker #pickerF2 disabled="false"></mat-datepicker>
    </mat-form-field>        
    <button mat-stroked-button color="warn" type="button" (click)="getRepBillList()">Reportes por Facturas</button>
    <div class="col my-col" style="padding-left: 10px;">
      <input type="image" (click)="excelFacturas()" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7f/Microsoft_Office_Excel_%282018%E2%80%93present%29.svg/1200px-Microsoft_Office_Excel_%282018%E2%80%93present%29.svg.png" height="42" width="42" />
    </div>
    <div class="row" style="text-align:center;width: 100%">
      <div class="col" *ngIf="isListBillFull === true && tipoFactura2==1">
        <h5 class="left-scroll">
          Ventas   
        </h5>
        <h4 class="left-scroll">
          {{ventasTotales | currency}}
        </h4>
      </div>
      <div class="col" *ngIf="isListBillFull === true && this.locStorage.getRol()[0].id_rol!=8888">
        <h5 class="left-scroll">
          Costo  
        </h5>
        <h4 class="left-scroll">
          {{costosTotales | currency}}
        </h4>
      </div>
      <div class="col" *ngIf="isListBillFull === true && tipoFactura2==1 && this.locStorage.getRol()[0].id_rol!=8888">
        <h5 class="left-scroll">
          Utilidades  
        </h5>
        <h4 class="left-scroll">
          {{utilidadesTotales | currency}}
        </h4>
      </div>
      <div class="col" *ngIf="isListBillFull === true && tipoFactura2==1 && this.locStorage.getRol()[0].id_rol!=8888">
        <h5 class="left-scroll">
         % Margen Venta
        </h5>
        <h4 class="left-scroll">
          {{margenPromedio*10 | percent}}
        </h4> 
      </div>
      <div class="col" *ngIf="isListBillFull === true && tipoFactura2==1 && this.locStorage.getRol()[0].id_rol!=8888">
        <h5 class="left-scroll">
         % Margen Costo
        </h5>
        <h4 class="left-scroll">
          {{margenPromedio2*10 | percent}}
        </h4>
      </div>
      <div class="col" *ngIf="isListBillFull === true">
        <h5 class="left-scroll">
          Facturas
        </h5>
        <h4 class="left-scroll">
          {{ListReportBill.length}}
        </h4>
      </div>
      <div class="col" *ngIf="isListBillFull === true && tipoFactura2==1 && this.locStorage.getRol()[0].id_rol!=8888">
        <h5 class="left-scroll">
          Devoluciones
        </h5>
        <h4 class="left-scroll">
          {{devolucionesVentas | currency}}
        </h4>
      </div>
    </div>
    <mat-card-content *ngIf=" isListBillFull === true ">
      <div class="table-responsive">
          <table class="table table-hover">
              <thead>
                <tr>
                  <th class="text-center"><b>Consecutivo</b></th>
                  <th class="text-center"><b>Fecha Factura</b></th>
                  <th class="text-center"><b>Ventas</b></th>
                  <th class="text-center" *ngIf="this.locStorage.getRol()[0].id_rol!=8888"><b>Costo</b></th>
                  <th class="text-center" *ngIf="this.locStorage.getRol()[0].id_rol!=8888"><b>Utilidades</b></th>
                  <th class="text-center" *ngIf="this.locStorage.getRol()[0].id_rol!=8888"><b>% Margen Venta</b></th>
                  <th class="text-center" *ngIf="this.locStorage.getRol()[0].id_rol!=8888"><b>% Margen Costo</b></th>
                  <th class="text-center"><b>Caja</b></th>
                  <th class="text-center"><b>Cajero</b></th>
                  <th class="text-center" *ngIf="this.locStorage.getRol()[0].id_rol!=8888"><b>Tipo Factura</b></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let elem of ListReportBill">
                  <td class="text-center"> 
                    <a [href]="generatePdfRoute(elem.fullname,elem.num_DOCUMENTO)" target="blank">
                      {{elem.fullname}}-{{elem.num_DOCUMENTO}}
                    </a>
                  </td> 
                  <td class="text-center"> {{elem.purchase_DATE}}</td>
                  <td class="text-center"> {{elem.venta | currency}} </td>
                  <td class="text-center" *ngIf="this.locStorage.getRol()[0].id_rol!=8888"> {{elem.costo | currency}} </td>
                  <td class="text-center" *ngIf="this.locStorage.getRol()[0].id_rol!=8888"> {{elem.utilidad | currency}} </td>
                  <td class="text-center" *ngIf="this.locStorage.getRol()[0].id_rol!=8888"> {{elem.pct_MARGEN_VENTA *10 | percent}} </td>
                  <td class="text-center" *ngIf="this.locStorage.getRol()[0].id_rol!=8888"> {{elem.pct_MARGEN_COSTO *10 | percent}} </td>
                  <td class="text-center" *ngIf="elem.id_CAJA == 0"> Pedido </td>
                  <td class="text-center" *ngIf="elem.id_CAJA != 0"> {{elem.caja}} </td>
                  <td class="text-center" *ngIf="elem.id_CAJA == 0"> Sin Cajero </td>
                  <td class="text-center" *ngIf="elem.id_CAJA != 0"> {{elem.cajero}} </td>
                  <td class="text-center" *ngIf="elem.id_BILL_STATE == 1 && this.locStorage.getRol()[0].id_rol!=8888"> F </td>
                  <td class="text-center" *ngIf="elem.id_BILL_STATE == 41 && this.locStorage.getRol()[0].id_rol!=8888"> AD </td>
                </tr>
              </tbody>
          </table>
        </div>
      </mat-card-content>
</mat-tab>
<mat-tab label="Caja" *ngIf="this.locStorage.getRol()[0].id_rol!=8888">
  <mat-form-field>
    <mat-label>Seleccione tienda</mat-label>
    <mat-select [(ngModel)]="SelectedStore2">
      <mat-option *ngFor="let elem of Stores" [value]="elem.id_STORE">
        {{elem.store_NAME}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input matInput [matDatepicker]="pickerCC1" placeholder="Fecha Inicial" [(ngModel)]="dateCC1">
    <mat-datepicker-toggle matSuffix [for]="pickerCC1"></mat-datepicker-toggle>
    <mat-datepicker #pickerCC1 disabled="false"></mat-datepicker>
  </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="pickerCC2" placeholder="Fecha Final" [(ngModel)]="dateCC2">
      <mat-datepicker-toggle matSuffix [for]="pickerCC2"></mat-datepicker-toggle>
      <mat-datepicker #pickerCC2 disabled="false"></mat-datepicker>
    </mat-form-field>        
    <button mat-stroked-button color="warn" type="button" (click)="getRepCCList()">Reportes de Cierre de Caja</button>
    <div class="col my-col" style="padding-left: 10px;">
      <input type="image" (click)="excelCaja()" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7f/Microsoft_Office_Excel_%282018%E2%80%93present%29.svg/1200px-Microsoft_Office_Excel_%282018%E2%80%93present%29.svg.png" height="42" width="42" />
    </div>
    <mat-card-content *ngIf=" isListCCFull === true ">
      <div class="table-responsive">
          <table class="table table-hover">
              <thead>
                <tr>
                  <th class="text-center"><b>Consecutivo</b></th>
                  <th class="text-center"><b>Cajero</b></th>
                  <th class="text-center"><b>Fecha Apertura</b></th>
                  <th class="text-center"><b>Fecha Cierre</b></th>
                  <th class="text-center"><b>Notas</b></th>
                  <th class="text-center"><b>Caja</b></th>
                </tr> 
              </thead>
              <tbody>
                <tr *ngFor="let elem of ListReportCC">
                  <td class="text-center"> 
                    <a [href]="generatePdfRoute2(StoreNameForConsec,elem.consecutive)" target="blank">
                      {{StoreNameForConsec}}{{elem.consecutive}}
                    </a>
                  </td>
                  <td class="text-center"> {{elem.fullname}}</td>
                  <td class="text-center"> {{elem.starting_DATE}} </td>
                  <td class="text-center"> {{elem.closing_DATE}} </td>
                  <td class="text-center"> {{elem.notes}} </td>
                  <td class="text-center"> {{elem.caja_NUMBER}} </td>
                </tr>
              </tbody>
          </table>
        </div>
      </mat-card-content>
</mat-tab>
<mat-tab label="Terceros" *ngIf="this.locStorage.getRol()[0].id_rol!=8888">
  <mat-form-field>
    <mat-label>Seleccione movimiento</mat-label>
    <mat-select [(ngModel)]="tipoFactura2">
      <mat-option [value]="1">Venta</mat-option>
      <mat-option [value]="2">Compra</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input matInput [matDatepicker]="pickerthirds1" placeholder="Fecha Inicial" [(ngModel)]="ThirdsDate1">
    <mat-datepicker-toggle matSuffix [for]="pickerthirds1"></mat-datepicker-toggle>
    <mat-datepicker #pickerthirds1 disabled="false"></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <input matInput [matDatepicker]="pickerthirds2" placeholder="Fecha Final" [(ngModel)]="ThirdsDate2">
    <mat-datepicker-toggle matSuffix [for]="pickerthirds2"></mat-datepicker-toggle>
    <mat-datepicker #pickerthirds2 disabled="false"></mat-datepicker>
  </mat-form-field>   
  <button mat-stroked-button color="warn" type="button" (click)="genReport()">
    Generar Reporte
  </button>  
  <div class="col my-col" style="padding-left: 10px;">
    <input type="image" (click)="excelPersona()" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7f/Microsoft_Office_Excel_%282018%E2%80%93present%29.svg/1200px-Microsoft_Office_Excel_%282018%E2%80%93present%29.svg.png" height="42" width="42" />
  </div>
    <div class="table-responsive" *ngIf="dataTablaThirds != ' '">
      <table class="table table-hover">
        <thead>
          <tr> 
            <th class="text-center"><b>Nombre</b></th>
            <th class="text-center"><b>Documento</b></th>
            <th class="text-center"><b>Num Transacciones</b></th>
            <th class="text-center"><b>Total Transacciones</b></th>
            <th class="text-center"><b>Direccion</b></th>
            <th class="text-center"><b>Telefono</b></th>
            <th class="text-center"><b>Correo</b></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let elem of dataTablaThirds">
            <td class="text-center"> {{elem.fullname}} </td>
            <td class="text-center"> {{elem.document_TYPE+"-"+elem.document_NUMBER}} </td>
            <td class="text-center"> {{elem.numventas}} </td>
            <td class="text-center"> {{elem.totalventas | currency}} </td>
            <td class="text-center"> {{elem.address}} </td>
            <td class="text-center"> {{elem.phone}} </td>
            <td class="text-center"> {{elem.mail}} </td>
          </tr>
        </tbody>
      </table>
    </div>
</mat-tab>
</mat-tab-group>
</mat-card> 
</div>