<div style="margin-top:-10vh">
<mat-card style="height: 100%;width:100%;padding:0px" *ngIf="!subCategoryTitle">
  <mat-card-header style="background-color:rgb(5, 53, 107);margin:0px;padding:20px">
    <mat-card-title style="font-family: Roboto;font-size: 1.3em; font-weight: 700; margin-bottom:15px; color:white">
      <span *ngIf="selectedTab === 0">Categorías</span><span *ngIf="selectedTab === 1">Marcas</span><span
        *ngIf="selectedTab === 2">Unidades de Medida</span></mat-card-title>
    <mat-card-subtitle style="font-size: 0.8em;font-weight: 300;text-emphasis: left; color:white;margin-bottom:0px">Por
      favor seleccione una <span *ngIf="selectedTab === 0">categoria</span><span
        *ngIf="selectedTab === 1">marca</span><span *ngIf="selectedTab === 2">unidad de medida</span>.
    </mat-card-subtitle>
  </mat-card-header>
</mat-card> 
<mat-card style="height: 100%;width:100%;padding:0px" *ngIf="subCategoryTitle">
  <mat-card-header style="background-color:rgb(5, 53, 107);margin:0px;padding:20px">
    <mat-card-title style="font-family: Roboto;font-size: 1.3em; font-weight: 700; margin-bottom:15px; color:white">
      {{subCategoryTitle}}</mat-card-title>
    <mat-card-subtitle style="font-size: 0.8em;font-weight: 300;text-emphasis: left; color:white;margin-bottom:0px">
      </mat-card-subtitle>
  </mat-card-header>
</mat-card>
<mat-card>
  <!-- CATEGORY PAPUS -->
  <!-- 

<div class="row">
  <div class="col">
    <div class="main-title" style="font-size: 2.6em" style="text-align: left;margin-left: 10px">Categorías Generales</div>
  </div>
</div>
<div class="row">
  <div class="col my-col" *ngFor="let category of generalCategories">
    <mat-card color="toolbar" (click)="loadCategory(category)" float-right style="width:120px;height: 120px;">
    <mat-card-header style="word-wrap: break-word;">
      <mat-card-title style="font-size: 2em; padding-bottom: 0px; padding-top: 10px"><mat-icon>cart</mat-icon></mat-card-title>
      <mat-card-title style="padding-top: 0px;font-size: 1em;" text-wrap>{{category.category}}</mat-card-title>
    </mat-card-header>
    </mat-card>
  </div>
  <div class="col my-col">
    <mat-card color="toolbar" (click)="createCategory()" float-right style="width:120px;height: 120px;">
    <mat-card-header style="word-wrap: break-word;">
      <mat-card-title style="font-size: 2em; padding-bottom: 0px; padding-top: 10px"><mat-icon>add</mat-icon></mat-card-title>
      <mat-card-title style="padding-top: 0px;font-size: 1em;" text-wrap>Agregar</mat-card-title>
    </mat-card-header>
    </mat-card>
  </div>
</div> -->



  <!-- BRANDS PAPUS -->



  <mat-tab-group (selectedTabChange)="tabChanged($event)">





    <mat-tab label="Categorias">
      <div class="row" style="padding:20px">
        <div class="col my-col" *ngIf="categoryStack && categoryStack.length > 0" style="padding-top: 40px;padding-left: 14px;padding-right: 14px;">
            <button mat-flat-button color="warn" (click)="gotoFatherCategory()">Volver</button>
          <!-- <mat-card color="toolbar" (click)="gotoFatherCategory()" float-right style="width:120px;height: 120px;">
            <mat-card-header style="word-wrap: break-word;">
              <mat-card-title style="font-size: 2em; padding-bottom: 0px; padding-top: 10px">
                <mat-icon style="color:rgb(126,126,126)">backspace</mat-icon>
              </mat-card-title>
              <mat-card-title style="padding-top: 0px;font-size: 1em;" text-wrap>Volver</mat-card-title>
            </mat-card-header>
          </mat-card> -->
        </div>
        <div class="col my-col" *ngIf="categoryStack && categoryStack.length > 0" style="padding-top: 40px;padding-left: 14px;padding-right: 14px;">
            <button mat-flat-button color="warn" (click)="gotoAddModal()">Productos</button>
          <!-- <mat-card color="toolbar" (click)="gotoAddModal()" float-right style="width:120px;height: 120px;">
            <mat-card-header style="word-wrap: break-word;">
              <mat-card-title style="font-size: 2em; padding-bottom: 0px; padding-top: 10px">
                <mat-icon style="color:rgb(126,126,126)">dashboard</mat-icon>
              </mat-card-title>
              <mat-card-title style="padding-top: 0px;font-size: 1em;" text-wrap>Productos</mat-card-title>
            </mat-card-header>
          </mat-card> -->
        </div> 
        <div class="col my-col" *ngFor="let category of generalCategories">
          <mat-card color="toolbar" (click)="loadCategory(category)" float-right
            style="width:120px;height:120px; overflow: hidden; padding:0px;" matTooltip={{category.category}}>
            <img *ngIf="!editing" src={{category.img_URL}} style="width:100%;height:80px" />
            <mat-card-header style="width:100%;max-height:100%">
              <mat-card-title *ngIf="editing">
                <mat-icon  style="color:rgb(126,126,126)">edit</mat-icon>
              </mat-card-title> 
              <mat-card-title style="padding-top:10px;font-size: 12px;line-height: 100%; text-align: center" text-wrap>
                {{category.category}}</mat-card-title>
            </mat-card-header>
          </mat-card>
        </div>
        <div class="col my-col" *ngIf="!editing" style="padding-top: 40px;padding-left: 14px;padding-right: 14px;">
            <button mat-flat-button color="warn" (click)="editCategory(category)">Editar</button>
          <!-- <mat-card color="toolbar" (click)="editCategory(category)" float-right style="width:120px;height: 120px;">
            <mat-card-header style="word-wrap: break-word;">
              <mat-card-title style="font-size: 2em; padding-bottom: 0px; padding-top: 10px">
                <mat-icon style="color:rgb(126,126,126)">edit</mat-icon>
              </mat-card-title>
              <mat-card-title style="padding-top: 0px;font-size: 1em;" text-wrap>Editar</mat-card-title>
            </mat-card-header>
          </mat-card> -->
        </div>
        <div class="col my-col"style="padding-top: 40px;padding-left: 14px;padding-right: 14px;">
            <button mat-flat-button color="warn" (click)="gotoAddCategory()">Agregar</button>
          <!-- <mat-card color="toolbar" (click)="gotoAddCategory()" float-right style="width:120px;height: 120px;">
            <mat-card-header style="word-wrap: break-word;">
              <mat-card-title style="font-size: 2em; padding-bottom: 0px; padding-top: 10px">
                <mat-icon style="color:rgb(126,126,126)">add</mat-icon>
              </mat-card-title>
              <mat-card-title style="padding-top: 0px;font-size: 1em;" text-wrap>Agregar</mat-card-title>
            </mat-card-header>
          </mat-card> -->
        </div>

      </div>
    </mat-tab>


    <!-- <mat-tab label="Productos en Categoria" *ngIf="categoryStack.length > 0">

  <h4>
    Productos Genéricos
  </h4>
  <div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
              <th style="width: 70%" class="text-center">Nombre</th>
              <th style="width: 30%" class="text-center">Opciones</th>
            </tr>
          </thead>
    </table>
  </div>
  <span *ngFor="let result of products">
    <div class="table-responsive">
    <table class="table table-hover" style="text-align: center">
      <tbody>
        <tr>
          <td style="width: 70%"class="text-center">{{result.product}}</td>
          <td style="width: 30%"class="text-center">
            <div>
                <button mat-icon-button color="warn" (click)="result.submenu = !result.submenu">
                    <mat-icon aria-label="Example icon-button with a heart icon" *ngIf="!result.submenu">keyboard_arrow_down</mat-icon><mat-icon *ngIf="result.submenu" aria-label="Example icon-button with a heart icon">keyboard_arrow_up</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="gotoModal7(result,null)">
                    <mat-icon aria-label="Example icon-button with a heart icon">note_add</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="editProduct(result)">
                    <mat-icon aria-label="Example icon-button with a heart icon">edit</mat-icon>
                </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    </div>
    
    <span *ngIf="result.submenu">
    <div class="table-responsive">
      <table class="table table-hover">
          <thead>
              <tr>
                <th style="width: 25%" class="text-center">Nombre</th>
                <th style="width: 25%" class="text-center">Presentación</th>
                <th style="width: 25%" class="text-center">Precio</th>
                <th style="width: 25%" class="text-center">Opciones</th>
              </tr>
            </thead>
      </table>
    </div>
    <div class="table-responsive" style="margin-bottom: 25px" *ngFor="let subproduct of result.subproduct">
        <table class="table table-hover" style="text-align: center">
          <tbody>
            <tr>
              <td style="width: 25%" class="text-center">{{subproduct.product_NAME}}</td>
              <td style="width: 25%" class="text-center">Presentacion: {{subproduct.unidad}}</td>
              <td style="width: 25%" class="text-center">
                Precio: {{subproduct.suggested_PRICEE}}
                <input *ngIf="last" id="lastDetailQuantity" type="number" min="1" [(ngModel)]="productsObject[key].quantity" (keyup.enter)="readNew($event)">
                <input *ngIf="! last" type="number" min="1" [(ngModel)]="productsObject[key].quantity" (keyup.enter)="readNew($event)">
              </td>
              <td style="width: 25%" class="text-center">
                <div>
                    <button mat-icon-button color="warn" (click)="gotoModal7(result,subproduct)">
                        <mat-icon aria-label="Example icon-button with a heart icon">edit</mat-icon>
                    </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
    </span>
  </span>
  <div class="row" style="margin-top:10px">
      <div class="col">
          <form #prodForm="ngForm" class="my-form" (ngSubmit)="createProduct()">
              <mat-form-field>
                  <input matInput class="text-center" type="text" placeholder="Nombre" id="reader" autofocus type="text" name="prodname" [(ngModel)]="productToPost.productName" required>
                </mat-form-field>
                <mat-form-field>
                    <input matInput class="text-center" type="text" placeholder="Descripcion" id="reader" autofocus type="text" name="proddesc" [(ngModel)]="productToPost.productDescription" required>
                  </mat-form-field>
                  <mat-form-field>
                      <mat-label>Impuestos</mat-label>
                      <mat-select matInput class="text-center" type="text" placeholder="Url de la imagen" id="reader" autofocus type="text" [(value)]="productToPost.id_tax" required>
                        <mat-option  *ngFor="let tax of taxes" [value]="tax.id">{{tax.value}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                <button mat-stroked-button color="primary" type="submit" [disabled]="!prodForm.valid"><span *ngIf="!editingProduct">Agregar</span><span *ngIf="editingProduct">Editar</span> Producto Generico</button>     
                <button mat-stroked-button color="primary" *ngIf="editingProduct" (click)="cancelEditingProduct()">Cancelar</button>      
          </form>
      </div>
    </div>
    <span *ngIf="addingCode">
    <div class="row" style="margin-top:10px">
        <div class="col">
            <form #codeForm="ngForm" class="my-form" (ngSubmit)="createCode()">
                <mat-form-field>
                    <input matInput class="text-center" type="number" placeholder="Precio" id="reader" autofocus type="text" name="prodname" [(ngModel)]="code.suggested_price" required>
                  </mat-form-field>
                  <mat-form-field>
                      <input matInput class="text-center" type="text" placeholder="Descripcion" id="reader" autofocus type="text" name="proddesc" [(ngModel)]="code.code" required>
                    </mat-form-field >
                    <mat-form-field hidden="true">
                      <input matInput class="text-center" type="text" placeholder="Marca" id="reader" autofocus type="text" name="proddescxx" [(ngModel)]="code.id_brand" required disabled>
                    </mat-form-field>
                    <mat-form-field>
                      <input matInput class="text-center" type="text" placeholder="Marca" id="reader" autofocus type="text" name="proddescxxx" [(ngModel)]="brandProduct" required disabled>
                    </mat-form-field>
                      <mat-form-field padding>
                          <mat-label>Unidad de medida</mat-label>
                          <mat-select name="prodtax" [(value)]="code.id_measure_unit" required>
                            <mat-option *ngFor="let measure of measures" [value]="measure.id_MEASURE_UNIT">{{measure.measure_UNIT}}</mat-option>
                          </mat-select>
                        </mat-form-field>
                  <button mat-stroked-button color="primary" type="submit" style="text-transform: none;" type="submit" [disabled]="!codeForm.valid">Agregar/editar Codigo</button> 
                  <button mat-stroked-button color="primary" *ngIf="editingCode" (click)="cancelEditingProduct()">Cancelar</button>           
            </form>
        </div>
      </div>
      <div class="row">
        <div class="col my-col" *ngIf="lastBrand && lastBrand.length > 0" >
          <mat-card color="toolbar" (click)="gotoFatherBrand()" float-right style="width:100px;height: 100px;">
            <mat-card-header style="word-wrap: break-word;">
              <mat-card-title style="font-size: 2em; padding-bottom: 0px; padding-top: 10px"><mat-icon>backspace</mat-icon></mat-card-title>
              <mat-card-title style="padding-top: 0px;font-size: 1em;" text-wrap>Volver</mat-card-title>
            </mat-card-header>
          </mat-card>
        </div>
        <div class="col my-col" *ngFor="let brand of brands">
          <mat-card color="toolbar" float-right style="width:120px;height: 120px;" (click)="gotoSubBrand(brand)">
            <mat-card-header style="word-wrap: break-word;">
              <mat-card-title style="font-size: 2em; padding-bottom: 0px; padding-top: 10px"><mat-icon>shopping-cart</mat-icon></mat-card-title>
              <mat-card-title style="padding-top: 0px;font-size: 1em;" text-wrap>{{brand.brand}}</mat-card-title>
            </mat-card-header>
          </mat-card>
        </div>
        <div class="col my-col">
          <mat-card color="toolbar" (click)="gotoModal5()" float-right style="width:120px;height: 120px;">
            <mat-card-header style="word-wrap: break-word;">
              <mat-card-title style="font-size: 2em; padding-bottom: 0px; padding-top: 10px"><mat-icon>add</mat-icon></mat-card-title>
              <mat-card-title style="padding-top: 0px;font-size: 1em;" text-wrap>Agregar</mat-card-title>
            </mat-card-header>
          </mat-card>
        </div> 
      </div>    
    </span>

</mat-tab> -->






    <mat-tab label="Marcas">



        <div class="row" style="padding:20px">
          <!-- <div class="col my-col" *ngIf="lastBrand && lastBrand.length > 0 && !editingBrand">
            <mat-card color="toolbar" (click)="gotoFatherBrand()" float-right style="width:120px;height: 120px;">
              <mat-card-header style="word-wrap: break-word;">
                <mat-card-title style="font-size: 2em; padding-bottom: 0px; padding-top: 10px">
                  <mat-icon style="color:rgb(126,126,126)">backspace</mat-icon>
                </mat-card-title>
                <mat-card-title style="padding-top: 0px;font-size: 1em;" text-wrap>Volver</mat-card-title>
              </mat-card-header>
            </mat-card>
          </div> -->
          <div class="col my-col" *ngIf="lastBrand && lastBrand.length > 0 && !editingBrand" style="padding-top: 40px;padding-left: 14px;padding-right: 14px;">
              <button mat-flat-button color="warn" (click)="gotoFatherBrand()">Volver</button>
          </div>
  
          <div class="col my-col" *ngFor="let brand of brands">
            <mat-card color="toolbar" float-right style="width:120px;height: 120px;overflow: hidden; padding:0"
              (click)="gotoSubBrand(brand)">
              <img *ngIf="!editingBrand" src={{brand.url_IMG}} style="width:100%;height:80px" />
              <mat-card-header style="word-wrap: break-word;">
                <mat-card-title *ngIf="editingBrand" style="font-size: 2em; padding-bottom: 0px; padding-top: 10px">
                  <mat-icon style="color:rgb(126,126,126)">edit</mat-icon>
                </mat-card-title>
                <mat-card-title style="padding-top: 0px;font-size: 12px;" text-wrap matTooltip={{brand.brand}}>
                  {{brand.brand}}</mat-card-title>
              </mat-card-header>
            </mat-card>
          </div>
          
          <div class="col my-col" style="padding-top: 40px;padding-left: 14px;padding-right: 14px;">
              <button mat-flat-button color="warn" (click)="gotoAddBrand()">Agregar</button>
          </div>
          <!-- <div class="col my-col">
            <mat-card color="toolbar" (click)="gotoAddBrand()" float-right style="width:120px;height: 120px;">
              <mat-card-header style="word-wrap: break-word;">
                <mat-card-title style="font-size: 2em; padding-bottom: 0px; padding-top: 10px">
                  <mat-icon style="color:rgb(126,126,126)">add</mat-icon>
                </mat-card-title>
                <mat-card-title style="padding-top: 0px;font-size: 1em;" text-wrap>Agregar</mat-card-title>
              </mat-card-header>
            </mat-card>
          </div> -->
          <!-- <div class="col my-col">
    <mat-card color="toolbar" (click)="gotoModal5()" float-right style="width:120px;height: 120px;">
      <mat-card-header style="word-wrap: break-word;">
        <mat-card-title style="font-size: 2em; padding-bottom: 0px; padding-top: 10px"><mat-icon>add</mat-icon></mat-card-title>
        <mat-card-title style="padding-top: 0px;font-size: 1em;" text-wrap>Agregar</mat-card-title>
      </mat-card-header>
    </mat-card>
  </div> -->
  <div class="col my-col" *ngIf="!editingBrand" style="padding-top: 40px;padding-left: 14px;padding-right: 14px;">
      <button mat-flat-button color="warn" (click)="editingBrand = true">Editar</button>
  </div>
          <!-- <div class="col my-col" *ngIf="!editingBrand">
            <mat-card color="toolbar" (click)="editingBrand = true;" float-right style="width:120px;height: 120px;">
              <mat-card-header style="word-wrap: break-word;">
                <mat-card-title style="font-size: 2em; padding-bottom: 0px; padding-top: 10px">
                  <mat-icon style="color:rgb(126,126,126)">edit</mat-icon>
                </mat-card-title>
                <mat-card-title style="padding-top: 0px;font-size: 1em;" text-wrap>Editar</mat-card-title>
              </mat-card-header>
            </mat-card>
          </div> -->
        </div>
      

    </mat-tab>








    <mat-tab label="Unidades de Medida">
        <div class="row" style="padding:20px">
          
        <!-- <div class="col my-col" *ngIf="lastMeasure && lastMeasure.length > 0 && !editingMeasure" style="padding-top: 40px;padding-left: 14px;padding-right: 14px;">
            <button mat-flat-button color="warn" (click)="gotoFatherMeasure()">Volver</button>
        </div>

        <div class="col my-col" *ngFor="let measure of measures">
            <mat-card color="toolbar" float-right style="width:120px;height: 120px; overflow: hidden"
              (click)="gotoSubMeasure(measure)">
              <mat-card-header style="word-wrap: break-word;">
                <mat-card-title style="font-size: 2em; padding-bottom: 0px; padding-top: 10px">
                  <mat-icon *ngIf="!editingMeasure" style="color:rgb(126,126,126)">room</mat-icon>
                  <mat-icon *ngIf="editingMeasure" style="color:rgb(126,126,126)">edit</mat-icon>
                </mat-card-title>
                <mat-card-title style="padding-top: 0px;font-size: 1em;" text-wrap matTooltip={{measure.measure_UNIT}}>
                  {{measure.measure_UNIT}}</mat-card-title>
              </mat-card-header>
            </mat-card>
          </div>
          <div class="col my-col" *ngIf="!editingMeasure" style="padding-top: 40px;padding-left: 14px;padding-right: 14px;">
              <button mat-flat-button color="warn" (click)="editingMeasure = true;">Editar</button>
          </div>
           <div class="col my-col" *ngIf="!editingMeasure">
            <mat-card color="toolbar" (click)="editingMeasure = true;" float-right style="width:120px;height: 120px;">
              <mat-card-header style="word-wrap: break-word;">
                <mat-card-title style="font-size: 2em; padding-bottom: 0px; padding-top: 10px">
                  <mat-icon style="color:rgb(126,126,126)">edit</mat-icon>
                </mat-card-title>
                <mat-card-title style="padding-top: 0px;font-size: 1em;" text-wrap>Editar</mat-card-title>
              </mat-card-header>
            </mat-card>
          </div> 
          <div class="col my-col" style="padding-top: 40px;padding-left: 14px;padding-right: 14px;">
              <button mat-flat-button color="warn" (click)="gotoAddMeasure()">Agregar</button>
          </div>
           <div class="col my-col">
            <mat-card color="toolbar" (click)="gotoAddMeasure()" float-right style="width:120px;height: 120px;">
              <mat-card-header style="word-wrap: break-word;">
                <mat-card-title style="font-size: 2em; padding-bottom: 0px; padding-top: 10px">
                  <mat-icon style="color:rgb(126,126,126)">add</mat-icon>
                </mat-card-title>
                <mat-card-title style="padding-top: 0px;font-size: 1em;" text-wrap>Agregar</mat-card-title>
              </mat-card-header>
            </mat-card>
          </div> 

        <br> -->

        <mat-card-content>
          <div class="row">
            
            <div class="col-10">
              <div class="table-responsive text-center">
                  <table class="table table-hover">
                      <thead>
                        <tr>
                          <th class="text-center"><b>Nombre</b></th>
                          <th class="text-center"><b>Descripcion</b></th>
                          <th class="text-center"><b>Opciones</b></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let measure of measures">
                          <td class="text-center"> {{measure.measure_UNIT}} </td>
                          <td class="text-center"> {{measure.description}} </td>
                          <td class="text-center">
                            <button mat-flat-button color="warn" (click)="gotoAddMeasure2(measure.id_MEASURE_UNIT,measure.measure_UNIT,measure.description,measure.id_measure_unit_father)">Editar</button>
                          </td>
                        </tr>
                      </tbody>
                  </table>
                </div>
              </div>
              <div class="col-2" style="padding-left: 125px;padding-top: 50px;">
                <button mat-flat-button color="warn" (click)="gotoAddMeasure()">Agregar</button>
              </div>
            </div>
          </mat-card-content>
        </div>
    </mat-tab>



  </mat-tab-group>