<div style="margin-top:-10vh">
    <span *ngIf="tipoFactura=='compra'">

      <mat-card style="padding-top: 100px">
      <mat-card-content>
        <div class="row" >
          <div class="col">
                   <div class="row" *ngIf="tab == 0">
                      <div class="col">
                        <div class="row">
                        <div class="col-6">
                          <mat-form-field *ngIf="this.locStorage.getRol()[0].id_rol!=8888">
                            <mat-label>Seleccione tienda</mat-label>
                            <mat-select [(ngModel)]="SelectedStore" (selectionChange) = "getInventoryList2()" >
                              <mat-option *ngFor="let elem of Stores" [value]="elem.id_STORE">
                                {{elem.store_NAME}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                          </div>

                          <div class="col-6 text-align:right;">
                            <button mat-stroked-button color="primary" type="button" (click)="openCategories2()">Busqueda de Productos</button>
                            <button mat-stroked-button color="primary" type="button" (click)="openDialogTransactionConfirm()" [disabled]="!setObject.length">Actualizar Inventario</button>
                            <button mat-stroked-button color="warn" type="button" (click)="cancel()">Cancelar</button>
                          </div>
                        </div>
                          <div class="row">
                            <div class="col-12">
                                <mat-form-field>
                                    <input (ngModelChange)="listLoad()" [(ngModel)]="inputForCode" matInput class="text-center" type="text" placeholder="Producto" #nameit (keyup.enter)="addDetail($event)">
                                </mat-form-field>
                              </div>
                          </div>
                          <div class="row" >
                            <div class="col-11" >
                              <div class="row" style="max-height: 90px; overflow-y: scroll; margin-top: -15px;text-align: center;" *ngIf="listaElem.length != 0" >
                                <div class="row" style="width: 100%;margin-top:0px;text-align: center;" *ngFor="let item of listaElem">
                                  <div class="col" style="text-align: center;" *ngIf="!disableDoubleClickSearch" (click)="addDetail2(item)">
                                    {{item.product_STORE_NAME}} - {{item.ownbarcode}} - {{item.product_STORE_CODE}}
                                  </div>
                                </div>
                              </div>
                            </div>
                           </div>
                      </div>
                      

                     
                     

                     <div class="row" style="text-align:center;width: 100%">
                      <div class="col">
                            <h5 class="left-scroll">
                              Nombre
                            </h5>
                            <h3 class="left-scroll">
                              <mat-form-field style="width:15vw">
                                <input [(ngModel)]="nombreProducto" matInput class="text-center" type="text">
                              </mat-form-field>
                            </h3>
                          </div>
                          <div class="col">
                            <h5 class="left-scroll">
                              Codigo acceso rapido
                            </h5>
                            <h3 class="left-scroll">
                              <mat-form-field style="width:15vw">
                                <input [(ngModel)]="quickCode" matInput class="text-center" type="text">
                              </mat-form-field>
                            </h3>
                          </div>
                      <div class="col">
                          <h5 class="left-scroll">
                              Codigo de barras
                          </h5>
                          <h3 class="left-scroll">
                            <mat-form-field style="width:15vw">
                              <input disabled = true [(ngModel)]="ownnbarcode" matInput class="text-center" type="text">
                            </mat-form-field>
                          </h3>
                      </div>
                    </div>
                     <div class="row" style="text-align:center;width: 100%">
                      <div class="col">
                            <h5 class="left-scroll">
                              Precio Venta
                            </h5>
                            <h3 class="left-scroll">
                              <mat-form-field style="width:15vw">
                                <input currencyMask [options]="{ precision: 2 }" [(ngModel)]="precio" matInput class="text-center" type="number" type="text">
                              </mat-form-field>
                            </h3>
                          </div>
                          <div class="col">
                            <h5 class="left-scroll">
                              Costo
                            </h5>
                            <h3 class="left-scroll">
                              <mat-form-field style="width:15vw">
                                <input currencyMask [options]="{ precision: 2 }" [(ngModel)]="costo" matInput class="text-center" type="number" type="text">
                              </mat-form-field>
                            </h3>
                          </div>
                      <div class="col">
                          <h5 class="left-scroll">
                              Cantidad
                          </h5>
                          <h3 class="left-scroll">
                            <mat-form-field style="width:15vw">
                              <input  [(ngModel)]="cantidad" matInput class="text-center" type="number" type="text">
                            </mat-form-field>
                          </h3>
                      </div>
                    </div>

                        <div class="row" style="text-align:center;width: 100%">
                          <div class="col">
                              <h5 class="left-scroll">
                                Margen Venta
                              </h5>
                              <h3 class="left-scroll">
                                <mat-form-field style="width:15vw">
                                  <input [(ngModel)]="margenVentaS" matInput class="text-center" type="number" type="text">
                                  <span matSuffix>% &nbsp;</span>
                                </mat-form-field>
                              </h3>
                            </div>
                            <div class="col">
                                <h5 class="left-scroll">
                                  Margen Costo
                                </h5>
                                <h3 class="left-scroll">
                                  <mat-form-field style="width:15vw">
                                    <input [(ngModel)]="margenCostoS" matInput class="text-center" type="number" type="text">
                                    <span matSuffix>% &nbsp;</span>
                                  </mat-form-field>
                                </h3>
                              </div>
                              <div class="col">
                                  <h5 class="left-scroll">
                                    Margen Minima
                                  </h5>
                                  <h3 class="left-scroll">
                                    <mat-form-field style="width:15vw">
                                      <input [(ngModel)]="margenMinS" matInput class="text-center" type="number" type="text">
                                      <span matSuffix>% &nbsp;</span>
                                    </mat-form-field>
                                  </h3>
                                </div>
                        </div>
                    </div>
                <!-- <div class="row">
                  <div class="col" *ngIf="tab == 0">
                      <div class="float-left">
                        <button mat-stroked-button color="primary" type="submit" (click)="openDialogSearchProduct()">Busqueda</button>
                      </div>
                      <div class="float-right">
                        <button mat-stroked-button color="primary" type="submit" (click)="openDialogClient()">Registrar Cliente</button>
                        <button mat-stroked-button color="primary" type="submit" (click)="openDialogSearchClient()">Cargar Cliente</button>
                      </div>
                  </div>

                </div> -->






                        <div class="table-responsive">
                            <div class="text-center" *ngIf="setObject.length==0" style="margin-top: 20px">
                              <i class="material-icons">
                                <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                              </i>
                              <h4>
                                Productos
                              </h4>
                            </div>
                          <br>
                        <br>
                        <table class="table table-hover" style="text-align: center" *ngIf="setObject.length>0">
                          <thead>
                            <tr>
                              <th class="text-center">Código</th>
                              <th class="text-center">Producto</th>
                              <th class="text-center"> </th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let key of setObject; let idx= index; let last= last;">
                              <td class="text-center">{{productsObject[key].code}}</td>
                              <td>{{productsObject[key].description}}</td>
                              <td class="text-center">
                                <div>
                                  <button mat-icon-button color="warn" (click)="individualDelete(key)">
                                    <mat-icon aria-label="Example icon-button with a heart icon">clear</mat-icon>
                                  </button>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        </div>
      <!--
                    <mat-tab label="Busqueda de Productos">



                        <div class="row">
                            <div class="col-4">
                                <mat-form-field>
                                  <input matInput placeholder="Nombre" [matMenuTriggerFor]="menu2" [(ngModel)]="searchInput" (change)="searchFilter(1)">
                                </mat-form-field>
                                <mat-menu #menu2="matMenu">
                                  <button mat-menu-item *ngFor="let data of searchData">
                                    {{data.product.code}}
                                  </button>
                                </mat-menu>
                            </div>
                            <div class="col-4">
                              <mat-form-field>
                                <input matInput placeholder="Codigo">
                              </mat-form-field>
                            </div>
                            <div class="col-4">
                              <mat-form-field>
                                <input matInput placeholder="Descripcion">
                              </mat-form-field>
                            </div>
                          </div>

                        <div class="float-right">
                          <button mat-dialog-close class="btn btn-secundary">Cancelar</button>
                          <button class="btn btn-primary">Buscar</button>
                        </div>



                    </mat-tab> -->







            <!-- <div class="row">
              <div class="col-12">

              </div>
              <div class="col-12">

              </div>
            </div> -->
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    </span>








