<app-product-third-new style="max-height: 85vh" *ngIf="data.flagNewProduct && !noProduct" [flagRedirect]="false" [inputCode]="data" (saveThird)="returnData()" (cancelThird)="cancel($event)"></app-product-third-new>
<mat-card *ngIf="!data.flagNewProduct && !noProduct" style="max-height: 85vh">
  <mat-card-title>Agregar Producto</mat-card-title>
  <mat-card-content>
    <div class="row">
      <div class="col-12 mt-5">
        <label>El valor de compra incluye IVA</label>
        <mat-radio-group class="float-right" [(ngModel)]="data.purchaseTaxIncluded">
          <mat-radio-button class="example-margin" [value]="true">Si</mat-radio-button>
          <mat-radio-button class="example-margin" [value]="false">No</mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="col-6 mt-5">
        <h4>Valor de Compra</h4>
      </div>
      <div class="col-6 mt-5">
        <h4>
          <input id="defaultAutofocus" type="number" class="tcgw-100" [(ngModel)]="data.purchaseValue">
        </h4>
      </div>
      <div class="col-12 mt-5">
        <label>El valor de venta incluye IVA</label>
        <mat-radio-group class="float-right" [(ngModel)]="data.saleTaxIncluded">
          <mat-radio-button class="example-margin" [value]="true">Si</mat-radio-button>
          <mat-radio-button class="example-margin" [value]="false">No</mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="col-6 mt-5">
        <h4>Valor de Venta</h4>
      </div>
      <div class="col-6 mt-5">
        <h4>
          <input type="number" class="tcgw-100" [(ngModel)]="data.saleValue">
        </h4>
      </div>
      <div class="col-6 mt-5">
        <h4>Cantidad</h4>
      </div>
      <div class="col-6 mt-5">
        <h4>
          <input type="number" min="1" class="tcgw-100" [(ngModel)]="data.quantity">
        </h4>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <div class="float-right">
      <button mat-dialog-close class="btn btn-secundary">Cancelar</button>
      <button class="btn btn-primary" (click)="returnData()">Confirmar</button>
    </div>
  </mat-card-actions>
</mat-card>

<div *ngIf="noProduct" style="max-height: 85vh">
    <h3>El producto no está registrado en el inventario general, por favor genere un tiket para su adición.</h3>
    <button mat-dialog-close class="btn btn-secundary" class="float-right btn btn-primary">Cerrar</button>
</div>