<div style="display: flex;flex-direction: column;height: 30vh">
  <div style="width: 100%;height: 60%;display: flex">
    <img style="height: 100%;margin: auto" src="{{'http://pruebas.tienda724.com/logos/'+billingService.ProviderInfo.DocType+'%20'+billingService.ProviderInfo.DocNumber+'.jpg'}}">
  </div>
  <p style="margin: auto;font-size: 120%;font-weight: bold">{{this.billingService.ProviderInfo.Name}}</p>
  <p style="margin: auto;font-size: 100%">{{this.billingService.ProviderInfo.Address}}</p>
</div>
