<div class="web">
    <!-- Ventana de mesas principal -->
    <div style="display: inline;">
        <!--Navbar-->
        <div class="uk-flex uk-flex-between navbar-tables">
            <div class="uk-flex uk-flex-middle">
                <!-- <div uk-toggle="target: .menu-vertical-tables; cls: show" class="padding-horizontal-20">
                  <img class="icon-menu-tables" src="./assets/data/menu.png" alt="">
              </div> -->
                <i class="fas fa-home font-size-25 cursor-pointer color-red padding-horizontal-20" style="margin-left: 10px;" (click)="goMenu()"></i>
                <div>
                  <h3 style="padding:5%">{{getStoreName()}}</h3>
                </div>
                <div class="cursor-pointer uk-flex uk-flex-middle" style="margin-left: 60px;">
                    {{getStoreName()}}
                </div>
            </div>
            <div class="uk-inline cursor-pointer padding-horizontal-30 uk-flex uk-flex-middle">
                <button class="button-data-user-tables uk-flex uk-flex-middle">
                  <img class="logo-user-size-tables" src="./assets/data/icono-de-usuario.png" alt=" ">
                  <h4 class="uk-text-bold uk-margin-remove color-red" style="padding-right: 5px;">{{clientName}}</h4>
                  <i class="fas fa-caret-down "></i>
                </button>
                <div uk-drop="mode: click">
                    <div class="uk-card uk-card-body uk-card-default uk-box-shadow-large drop-data-user-tables">
                        <div class="padding-vertical-10">
                            <h5 class="uk-text-bold uk-margin-remove">Roles activados:</h5>
                            <h5 class="uk-margin-remove ">{{getRolString()}}</h5>
                        </div>
                        <div class="hr-tab"></div>
                        <div class="padding-vertical-10">
                            <h5 class="uk-text-bold uk-margin-remove">Id de usuario:</h5>
                            <h5 class="uk-margin-remove ">{{username}}</h5>
                        </div>
                        <div class="hr-tab"></div>
                        <div class="padding-vertical-10">
                            <button class="button-outside" (click)="logOut()">Cerrar Sesión</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Menu vertical ERP-->
        <div style="position: relative;">
            <div class="menu-vertical-tables">
                <ul class="uk-list" style="padding-bottom: 20px;">
                    <div class="uk-flex uk-flex-between">
                        <div style="margin-left: 33px;">
                            <h4 class="uk-margin-remove color-red uk-text-bold">ERP</h4>
                            <h4 class="uk-margin-remove color-red uk-text-bold">Dashboard</h4>
                        </div>
                        <div style="padding-right: 5px;">
                            <div uk-toggle="target: .menu-vertical-tables; cls: show" style="margin-right: 10px;">
                                <i class=" fas fa-times font-size-17 color-red cursor-pointer"></i>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="uk-flex uk-flex-middle cursor-pointer items-menu-vertical-tables">
                            <img class="img-menu-vertical-size-tables" src="./assets/data/Iconografía/Inventario.png" alt="">
                            <h4 class="uk-margin-remove uk-text-bold font-size-12">Inventario</h4>
                        </div>
                        <div class="uk-flex uk-flex-middle cursor-pointer items-menu-vertical-tables">
                            <img class="img-menu-vertical-size-tables" src="./assets/data/Iconografía/Reportes.png" alt="">
                            <h4 class="uk-margin-remove uk-text-bold font-size-12">Reportes</h4>
                        </div>
                        <div class="uk-flex uk-flex-middle cursor-pointer items-menu-vertical-tables">
                            <img class="img-menu-vertical-size-tables" src="./assets/data/Iconografía/Terceros.png" alt="">
                            <h4 class="uk-margin-remove uk-text-bold font-size-12">Tercero</h4>
                        </div>
                        <div class="uk-flex uk-flex-middle cursor-pointer items-menu-vertical-tables">
                            <img class="img-menu-vertical-size-tables" src="./assets/data//Iconografía/Contabilidad.png" alt="">
                            <h4 class="uk-margin-remove uk-text-bold font-size-12">Contabilidad</h4>
                        </div>
                        <div class="uk-flex uk-flex-middle cursor-pointer items-menu-vertical-tables">
                            <img class="img-menu-vertical-size-tables" src="./assets/data//Iconografía/Pedidos.png" alt="">
                            <h4 class="uk-margin-remove uk-text-bold font-size-12">Pedidos</h4>
                        </div>
                        <div class="uk-flex uk-flex-middle cursor-pointer items-menu-vertical-tables">
                            <img class="img-menu-vertical-size-tables" src="./assets/data//Iconografía/Crear-producto.png" alt="">
                            <h4 class="uk-margin-remove uk-text-bold font-size-12">Crear producto</h4>
                        </div>
                        <div class="uk-flex uk-flex-middle cursor-pointer items-menu-vertical-tables">
                            <img class="img-menu-vertical-size-tables" src="./assets/data//Iconografía/Opciones-de-caja.png" alt="">
                            <h4 class="uk-margin-remove uk-text-bold font-size-12">Opciones de caja</h4>
                        </div>
                        <div class="uk-flex uk-flex-middle cursor-pointer items-menu-vertical-tables">
                            <img class="img-menu-vertical-size-tables" src="./assets/data//Iconografía/Domicilios.png" alt="">
                            <h4 class="uk-margin-remove uk-text-bold font-size-12">Domicilios</h4>
                        </div>
                        <div class="uk-flex uk-flex-middle cursor-pointer items-menu-vertical-tables">
                            <img class="img-menu-vertical-size-tables" src="./assets/data//Iconografía/administracion-de-pedidos.png" alt="">
                            <h4 class="uk-margin-remove uk-text-bold font-size-12" style="width: 100px;">Administracion de pedidos</h4>
                        </div>
                        <div class="uk-flex uk-flex-middle cursor-pointer items-menu-vertical-tables">
                            <img class="img-menu-vertical-size-tables" src="./assets/data//Iconografía/Domicilios.png" alt="">
                            <h4 class="uk-margin-remove uk-text-bold font-size-12">Mesas</h4>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
        <div class="main-container-tables">
            <h6 class="color-red-two uk-text-bold padding-horizontal-30" style="padding-top: 20px;">Mesas</h6>
            <div class="uk-child-width-1-5@m uk-grid-small uk-grid-match padding-horizontal-30 uk-flex uk-flex-wrap" uk-grid>
                <div *ngFor="let item of tableList">
                    <div *ngIf="(item.naranja> 0 || item.azul > 0 || item.amarillo > 0 || item.rojo > 0)">
                        <button class="card-table-tables" (click)="goToDetail(item)" [ngStyle]="{'background-color': item.naranja > 0 ?'#f7bd83': ((item.naranja <= 0 && item.amarillo > 0)? '#fcfc9a': ((item.naranja <= 0 && item.amarillo <= 0 && item.azul) ? '#c2e5ff':(item.naranja == 0 && item.amarillo == 0 && item.azul == 0 && item.rojo > 0) ? '#ffa1a1':'#B1FFA6' ))}">
                            <div class="uk-flex uk-flex-middle uk-flex-between">
                                <h4 class="uk-text-bold uk-margin-remove">{{item.mesa}}</h4>
                                <h6 class="uk-margin-remove font-size-13" style="font-weight: 600;"> ${{noDecimal(item.totalprice) | number}}</h6>
                            </div>
                            <div class="uk-flex uk-flex-middle" style="margin-top: 10px;">
                                <h6 class="uk-margin-remove font-size-13" style="font-weight: 600;">Mesero:</h6>
                                <h6 class="uk-margin-remove padding-horizontal-10 font-size-13">{{item.mesero}}</h6>
                            </div>
                            <div class="uk-flex uk-flex-middle" style="margin-top: 5px;">
                                <h6 class="uk-margin-remove font-size-13" style="font-weight: 600;">Minutos:</h6>
                                <h6 class="uk-margin-remove padding-horizontal-10 font-size-13">{{getDateInMinutes(item.purchase_DATE)}} minutos</h6>
                            </div>
                        </button>
                    </div>
                    <div *ngIf="!(item.naranja > 0 || item.azul > 0 || item.amarillo > 0 || item.rojo > 0)">
                        <button class="card-table-tables" uk-toggle="target: #table-1" [ngStyle]="{'background-color': item.naranja > 0 ?'#f7bd83': ((item.naranja <= 0 && item.amarillo > 0)? '#fcfc9a': ((item.naranja <= 0 && item.amarillo <= 0 && item.azul) ? '#c2e5ff':(item.naranja == 0 && item.amarillo == 0 && item.azul == 0 && item.rojo > 0) ? '#ffa1a1':'#B1FFA6' ))}"
                            (click)="tableClick(item)">
                  <div class="uk-flex uk-flex-middle uk-flex-between">
                      <h4 class="uk-text-bold uk-margin-remove">{{item.mesa}}</h4>
                      <h6 class="uk-margin-remove font-size-13" style="font-weight: 600;">${{noDecimal(item.totalprice) | number}}</h6>
                  </div>
                  <div class="uk-flex uk-flex-middle" style="margin-top: 10px;">
                      <h6 class="uk-margin-remove font-size-13" style="font-weight: 600;">Mesero:</h6>
                      <h6 class="uk-margin-remove padding-horizontal-10 font-size-13">{{item.mesero}}</h6>
                  </div>
                  <div class="uk-flex uk-flex-middle" style="margin-top: 5px;">
                      <h6 class="uk-margin-remove font-size-13" style="font-weight: 600;">Minutos:</h6>
                      <h6 class="uk-margin-remove padding-horizontal-10 font-size-13">{{getDateInMinutes(item.purchase_DATE)}} minutos</h6>
                  </div>
                </button>
                    </div>
                    <div id="table-1" style="padding-top: 15%;" uk-modal>
                        <div class="uk-modal-dialog uk-modal-body modal-card-tables">
                            <div>
                                <h4 class="uk-margin-remove uk-text-center color-red uk-text-bold">¿Quieres abrir {{tableName}}?</h4>
                            </div>
                            <div class="uk-flex uk-flex-center" style="margin-top: 10px;">
                                <button (click)="openTable(tableToOpen)" class="uk-modal-close button-card-modal-tables" style="margin-right: 10px !important;" type="button">Abrir</button>
                                <button class="uk-modal-close button-card-modal-tables" style="background-color: rgb(160, 160, 160); color: white;" type="button">Cancelar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mobile">
    <!-- Navbar -->
    <div class="uk-flex uk-flex-middle uk-margin-remove" style="padding-top: 5px;">
        <i class="fas fa-angle-double-left padding-horizontal-5 uk-text-muted"></i>
        <a class="uk-link-muted" href="#">Menu Principal</a>
    </div>
    <div class="uk-flex uk-flex-middle uk-flex-between uk-box-shadow-medium uk-margin-remove">
        <h3 style="padding:5%">{{getStoreName()}}</h3>
        <div class="uk-flex uk-flex-middle">
        </div>
    </div>
    <!-- navbar tienda, caja -->
    <!-- <div class="uk-flex uk-flex-middle uk-box-shadow-medium uk-margin-remove">
        <h5 class="uk-margin-remove padding-vertical-10" style="padding-left: 20px; padding-top: 15px;"> {{getStoreName()}} </h5>
    </div> -->
    <!--Mesas-->
    <div style="width: 96% !important; margin-top: 10px;">
        <div class="uk-grid-small uk-child-width-1-3 uk-text-center uk-flex uk-margin-remove" s uk-grid>
            <div *ngFor="let item of tableList">
                <div *ngIf="(item.violeta> 0)">
                  <button class="cards-tables-responsive" style="background-color: #c09beb"
                      (click)="goToDetail(item)">
                  <div class="uk-flex uk-flex-center" style="width: 100px;">
                      <h5 class="uk-text-bold uk-margin-remove uk-text-truncate"> {{item.mesa}} </h5>
                  </div>
                  <div class="uk-flex uk-flex-column" style="padding-top: 3px;">
                      <h6 class="uk-margin-remove" style="font-weight: 500;">{{getDateInMinutes(item.purchase_DATE)}} minutos</h6>
                  </div>
                  <div class="uk-flex uk-flex-column">
                      <!-- <h6 class="uk-text-bold uk-margin-remove" style="font-weight: 600; padding-top: 5px;">Mesero:</h6> -->
                      <h6 class="uk-margin-remove uk-text-truncate" style="font-weight: 500; padding-top: 5px;"> {{getMesero(item.mesero)}} </h6>
                  </div>
                  <h5 class="uk-align-right" style="font-weight: 600; margin-top: 5px;"> ${{noDecimal(item.totalprice) | number}} </h5>
                  </button>
                </div>
                <div *ngIf="((item.naranja> 0 || item.azul > 0 || item.amarillo > 0 || item.rojo > 0) && item.violeta <= 0)">
                    <button class="cards-tables-responsive" [ngStyle]="{'background-color': item.rojo>0 ? '#ffa1a1':(item.naranja > 0 ?'#f7bd83': ((item.naranja <= 0 && item.amarillo > 0)? '#fcfc9a': ((item.naranja <= 0 && item.amarillo <= 0 && item.azul) ? '#c2e5ff':'#B1FFA6' )))}"
                        (click)="goToDetail(item)">
                    <div class="uk-flex uk-flex-center" style="width: 100px;">
                        <h5 class="uk-text-bold uk-margin-remove uk-text-truncate"> {{item.mesa}} </h5>
                    </div>
                    <div class="uk-flex uk-flex-column" style="padding-top: 3px;">
                        <h6 class="uk-margin-remove" style="font-weight: 500;">{{getDateInMinutes(item.purchase_DATE)}} minutos</h6>
                    </div>
                    <div class="uk-flex uk-flex-column">
                        <!-- <h6 class="uk-text-bold uk-margin-remove" style="font-weight: 600; padding-top: 5px;">Mesero:</h6> -->
                        <h6 class="uk-margin-remove uk-text-truncate" style="font-weight: 500; padding-top: 5px;"> {{getMesero(item.mesero)}} </h6>
                    </div>
                     <h5 class="uk-align-right" style="font-weight: 600; margin-top: 5px;"> ${{noDecimal(item.totalprice) | number}} </h5>
                </button>
                </div>
                <div *ngIf="(!(item.naranja > 0 || item.azul > 0 || item.amarillo > 0 || item.rojo > 0) && item.violeta <= 0)">
                    <button class="cards-tables-responsive" [ngStyle]="{'background-color': item.naranja > 0 ?'#f7bd83': ((item.naranja <= 0 && item.amarillo > 0)? '#fcfc9a': ((item.naranja <= 0 && item.amarillo <= 0 && item.azul) ? '#c2e5ff':(item.naranja == 0 && item.amarillo == 0 && item.azul == 0 && item.rojo > 0) ? '#ffa1a1':'#B1FFA6' ))}"
                        uk-toggle="target: #modal-1" (click)="tableClick(item)">
                    <div class="uk-flex uk-flex-center" style="width: 100px;">
                        <h5 class="uk-text-bold uk-margin-remove uk-text-truncate"> {{item.mesa}} </h5>
                    </div>
                    <!-- <div class="uk-flex uk-flex-column" style="padding-top: 3px;">
                        <h6 class="uk-margin-remove" style="font-weight: 500;">{{getDateInMinutes(item.purchase_DATE)}} minutos</h6>
                    </div>
                    <div class="uk-flex uk-flex-column">
                        <h6 class="uk-text-bold uk-margin-remove" style="font-weight: 600; padding-top: 5px;">Mesero:</h6>
                        <h6 class="uk-margin-remove uk-text-truncate" style="font-weight: 500; padding-top: 5px;"> {{getMesero(item.mesero)}} </h6>
                    </div>
                     <h5 class="uk-align-right" style="font-weight: 600; margin-top: 5px;"> {{item.totalprice|currency}} </h5>-->
                    </button>
                    <div id="modal-1" style="padding-top: 18%;" uk-modal>
                        <div class="uk-modal-dialog uk-modal-body modal-cards-tables-responsive">
                            <div>
                                <h4 class="uk-margin-remove uk-text-center color-blue uk-text-bold">¿Quieres abrir {{tableName}}?</h4>
                            </div>
                            <div class="uk-flex uk-flex-center" style="margin-top: 10px;">
                                <button (click)="openTable(tableToOpen)" class="uk-modal-close button-modal-tables-responsive" style="margin-right: 10px !important;" type="button">Abrir</button>
                                <button class="uk-modal-close button-modal-tables-responsive" type="button">Cancelar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
