<!--CONTENEDOR-->
<div class="laCard" style="background-color: #e8e8e8;">
  <!--      HEADER-->
    <div *ngIf="this.commonOperations.FromLoginToCheckout" style="height: 10%;width: 100%;display: flex">
        <div (click)="ClickVolver()" style="overflow: hidden;background-color: white;width: 90%;height: 70%;box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.18);display: flex;margin: auto;border-radius: 20px;padding: 0 20px">
            <ion-icon style="font-size: xx-large;margin: auto 0" name="arrow-back-circle-outline"></ion-icon>
            <ion-label style="font-size: larger;margin: auto">Volver A Los Productos</ion-label>
        </div>
    </div>
    <div style="height: 30%;width: 100%;display: flex">
        <div style="overflow: hidden;background-color: white;width: 90%;height: 90%;box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.18);display: flex;margin: auto;border-radius: 20px;padding: 10px">
            <ion-img style="height: 100%;margin: auto;width: unset;" src="assets/logos/denlinea.svg"></ion-img>
        </div>
    </div>
<!--    CONTENIDO-->
    <div style="padding-bottom: unset;display: flex;flex-direction: column;height: 60%">
        <!--                EL SPINNER PARA EL LOADING INICIAL-->
        <!--                <ion-spinner style="margin: auto;width: 50vw;height: 50vw;color:red" *ngIf="mostrarLoadingInicial" name="crescent"></ion-spinner>-->
        <!--        FORM DEL LOGIN-->
        <form [formGroup]="loginForm" style="width: 100%;height: 100%;margin: auto 0;padding: 0 16px;display: flex;flex-direction: column;justify-content: space-between">
            <div class="PiePagina">
                Usuarios Registrados
            </div>
            <div style="border-color: black;border-radius: 20px;border: solid;display: flex;background-color: white;overflow: auto;">
                <ion-icon style="margin: auto;width: 10%;" name="person-outline"></ion-icon>
                <ion-input #usarname style="background-color: white;width: 85%" (ionFocus)="FocusInputs()" (keyup.enter)="focuspass()" formControlName="username" type="text"> </ion-input>
                <div style="margin: auto;width: 10%;"></div>
            </div>
            <!--                INPUT PASSWORD-->
            <div style="border-color: black;border-radius: 20px;border: solid;display: flex;background-color: white;overflow: auto;margin-top: 10px;">
                <ion-icon name="key-outline" style="margin: auto;width: 10%;"></ion-icon>
                <ion-input (ionFocus)="FocusInputs()" (keyup.enter)="Login()" style="background-color: white;width: 90%" #password formControlName="password" [type]="this.MostrarPass ? '':'password'"></ion-input>
                <ion-icon [name]="this.MostrarPass ? 'eye-off-outline':'eye-outline'" style="margin: auto;width: 10%;cursor: pointer" (click)="ChangePassMode()"></ion-icon>
            </div>

            <!--        FORM DEL LOGIN CON EL BOTON-->
            <ion-button style="--background: #4767AE; margin-top: 20px;margin-bottom: 20px; " (click)="Login()" shape="full" expand="block">Entrar</ion-button>
       
       
       <!--            RECUPERAR CLAVE-->
       <div style="width: 50%;display: flex;justify-content: space-around;margin: 0 auto;margin-left: auto; margin-right: auto;margin-top: 60px; margin-bottom: 10px;" (click)="ClickRecoverPassword()">
        <ion-icon name="key-outline"></ion-icon>
        <ion-label>Recuperar cláve</ion-label>
    </div>
       
        </form>
        <div style="display: flex;flex-direction: column;padding-top: 16px;border-top: solid 3px;width: 90%;margin: 0 auto;margin-top: auto;padding-bottom: 20px; margin-left: auto; margin-right: auto;">

            <div class="PiePagina">
                ¿No tienes cuenta?
            </div>
            <!--        FORM DEL LOGIN CON EL BOTON-->
            <ion-button style="--background: #fad263; color:black;margin-top: 20px;margin-bottom: 20px" (click)="LoginMail()" shape="full" expand="block">REGISTRATE</ion-button>

        </div>
    </div>
</div>
