<div style="max-height: 100vh;">
<!--  EL HEADER EL MODULO-->
    <mat-card style="height: 100%;width:100%;padding:0">
<!--      DEFINICIÓN HEADER-->
        <mat-card-header style="background-color:rgb(5, 53, 107);margin:0;padding:20px">
<!--          DIV CONTENEDOR BOTON OPCIONES CAJA-->
              <div *ngIf="locStorage.getOnline()" style="top: 28px;
              right: 550px;
              text-align: left;
              position: absolute; margin-top: 7px;">
                <em style="color: aliceblue;">Modo: </em><em style="color: green;">Online</em>
              </div>
              <div *ngIf="!locStorage.getOnline()" style="top: 28px;
              right: 675px;
              text-align: left;
              position: absolute; margin-top: 7px;" (click) = "openOfflineListBill()">
                <em style="color: aliceblue;">Facturas modo Offline: {{locStorage.getOfflineBillList().length}}</em>
              </div>
              <div *ngIf="!locStorage.getOnline()" style="top: 28px;
              right: 550px;
              text-align: left;
              position: absolute; margin-top: 7px;">
                <em style="color: aliceblue;">Modo: </em><em style="color: red;">Offline</em>
              </div>
            <div class="DivOpcionesCaja">
              <button [ngStyle]="{'border-color': !locStorage.getBoxStatus() ? 'unset':'white','color': !locStorage.getBoxStatus() ? 'unset':'white'}" [disabled]="!locStorage.getBoxStatus()" mat-stroked-button type="button" color="white" (click)="changeOnline()" [hidden]="!locStorage.getOnline()">Offline</button>
              <button [ngStyle]="{'border-color': !locStorage.getBoxStatus() ? 'unset':'white','color': !locStorage.getBoxStatus() ? 'unset':'white'}" [disabled]="!locStorage.getBoxStatus()" mat-stroked-button type="button" color="white" (click)="changeOnline()" [hidden]="locStorage.getOnline()">Online</button>
              <button style="margin-left: 10px" [ngStyle]="{'border-color': !locStorage.getBoxStatus() ? 'unset':'white','color': !locStorage.getBoxStatus() ? 'unset':'white'}" [disabled]="!locStorage.getBoxStatus() || !locStorage.getOnline()" mat-stroked-button type="button" color="white" (click)="openCierreCaja()">Opciones de Caja</button>
              <button style="margin-left: 10px" [ngStyle]="{'border-color': !locStorage.getBoxStatus() ? 'unset':'white','color': !locStorage.getBoxStatus() ? 'unset':'white'}" [disabled]="!locStorage.getBoxStatus() || !locStorage.getOnline()" mat-stroked-button type="button" color="white" (click)="openTop()">Productos más vendidos</button>
            </div>
<!--          TITULO-->
            <mat-card-title style="font-size: 1.3em; font-weight: 700; margin-bottom:15px; color:white">Punto de Venta</mat-card-title>
            <mat-card-subtitle style="font-size: 0.8em;font-weight: 300;color:white;margin-bottom:0">Completar el formulario para registrar una venta</mat-card-subtitle>
        </mat-card-header>
    </mat-card>
<!--  EL CONTENID DEL MODULO-->
    <mat-card style="height: 88.5vh;">
<!--        DEFINICIÓN DE ROW -->
      <div class="row" style="margin-top: 0 !important;padding-top: 0 !important;">
<!--       COLUMNA IZQUIERDA QUE CONTIENE LO RELACIONADO A LOS PRODUCTOS   -->
        <div class="col" style="max-width: 54%;min-width: 54%;width: 54%; padding: 0;padding-bottom: 10px;">
<!--            CONTENEDOR DE BUSCADOR Y BOTONES-->
          <div class="row" style="box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 3px 14px 2px rgba(0, 0, 0, 0.12);margin-bottom: 10px;">
<!--            ICONO DE BUSCAR, LUPA-->
            <mat-icon style="margin: auto;">search</mat-icon>
<!--            EL INPUT DEL BUSCADOR-->
            <mat-form-field style="margin: auto;width: unset;font-size: medium;">
              <!--suppress TypeScriptUnresolvedVariable -->
              <input [disabled]="!locStorage.getBoxStatus() || quickconfirm  || isfull()" matInput class="text-center" type="text" placeholder="Buscador de productos" (keyup.enter)="addDetail($event)" (keyup)="applyFilter($event.target.value)" #nameit [(ngModel)] = "prodcode">
            </mat-form-field>
<!--            BOTONES DE BUSQUEDA-->
            <button style="margin: auto;height: 50%;" mat-stroked-button color="primary" type="button" [disabled]="!locStorage.getBoxStatus() || quickconfirm || !locStorage.getOnline()" (click)="openCategories()">Busqueda de Productos</button>
            <button style="margin: auto;height: 50%;" mat-stroked-button color="primary" type="button" [disabled]="!locStorage.getBoxStatus() || quickconfirm || !locStorage.getOnline()" (click)="reload()">Recargar</button>
          </div>
          <!--            TABLA QUE MUESTRA LOS PRODUCTOS-->
          <div class="ScrollBar" style="margin: 0;padding: 0;height: 25vh;max-height: 25vh;overflow: auto;box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 3px 14px 2px rgba(0, 0, 0, 0.12);">
            <!--            MAT_TABLE-->
            <table mat-table multiTemplateDataRows [dataSource]="dataSourceBuscadoProductos" matSort class="mat-elevation-z8" style="width: 100%">
              <!--              CREO LAS COLUMNAS DINAMICAMENTE-->
              <ng-container matColumnDef="a">
                <th mat-header-cell *matHeaderCellDef  style="padding: 0 !important;text-align: center !important;">Nombre Producto - Codigo Barras - Codigo Tienda</th>
                <!--suppress TypeScriptUnresolvedVariable -->
                <td mat-cell *matCellDef="let element" style="padding: 0 !important;color: inherit;text-align: center">
                  {{element.product_STORE_NAME}} - {{element.ownbarcode}} - {{element.product_STORE_CODE}}
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="['a']; sticky: true"></tr>
              <!--suppress TypeScriptUnresolvedVariable -->
              <tr mat-row *matRowDef="let row; columns: ['a'];"
                  class="example-element-row"
                  (click)="addDetail2(row.ownbarcode)"
              ></tr>
            </table>
<!--            ESTO ES LO QUE MUESTRA UNA CARA TRISTE Y DICE QUE NO SE ENCONTRARON PRODUCTOS-->
            <div *ngIf="dataSourceBuscadoProductos.filteredData.length == 0 && !PrimeraCarga" style="height: 85%;background-color: white;">
              <div style="display: flex;height: 50%;width: 100%; margin: auto;">
                <mat-icon style="margin: auto;font-size: 90px;text-align: center;width: 100%;color: gray;margin-bottom: 5%;margin-top: 5%;">sentiment_very_dissatisfied</mat-icon>
              </div>
              <div style="display: flex;height: 50%;width: 100%; margin: auto;">
                <mat-label style="font-size: 30px;margin: auto;color: gray;margin-top: 5%;">No se encontraron productos</mat-label>
              </div>
            </div>
<!--            ESTO ES PARA MOSTRANDO CARGANDO PRODUCTOS-->
            <div *ngIf="PrimeraCarga" style="height: 85%;background-color: white;">
              <div style="display: flex;height: 50%;width: 100%; margin: auto;">
                <mat-icon style="margin: auto;font-size: 80px;text-align: center;width: 100%;color: gray;margin-bottom: 5%;margin-top: 5%;">cached</mat-icon>
              </div>
              <div style="display: flex;height: 50%;width: 100%; margin: auto;">
                <mat-label style="font-size: 25px;margin: auto;color: gray;margin-top: 5%;">Cargando los productos, espere...</mat-label>
              </div>
            </div>
<!--            ESTO ES LO QUE MUESTRA QUE SE ESTÁN CARGANDO LOS PRODUCTOS-->
          </div>
        </div>
<!--          COLUMNA DE LA DERECHA QUE CONTIENE TOTALES Y BOTONES DE CONFIRMAR-->
        <div class="col" style="padding-top: 10px !important;box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 3px 14px 2px rgba(0, 0, 0, 0.12);margin-left: 10px;margin-bottom: 10px;">
<!--            CONTENEDOR DE PRECIO TOTAL-->
          <div class="row" style="padding-top: 0 !important;">
            <h1 style="margin: auto"> <b> Total </b> </h1>
            <h1 style="margin: auto">
              {{this.roundnum(calculateSubtotal()+calculateTax()) | currency  : 'USD' : 'symbol' : '1.0'}}
            </h1>
          </div>
<!--            CONTENEDOR DE SUB TOTAL E IMPUESTOS-->
          <div class="row">
            <div style="margin: auto;padding-top: 0 !important;" class="row">
              <h5 style="margin: auto"> <b> Subtotal </b> </h5>
              <!--suppress CssReplaceWithShorthandSafely -->
              <h5 style="margin: auto;margin-left: 10px">
                {{roundnum(calculateSubtotal()) | currency  : 'USD' : 'symbol' : '1.0'}}
              </h5>
            </div>
            <div style="margin: auto;padding-top: 0 !important;" class="row">
              <h5 style="margin: auto"> <b> Impuesto </b> </h5>
              <!--suppress CssReplaceWithShorthandSafely -->
              <h5 style="margin: auto;margin-left: 10px">
                {{this.roundnum(calculateTax()) | currency  : 'USD' : 'symbol' : '1.0'}}
              </h5>
            </div>
          </div>
<!--            EL DOMICILIARIO-->
          <div style="display: flex;">
            <mat-label style="margin-top: 5px;">Seleccione el domiciliario</mat-label>
          </div>
          <mat-form-field style="padding: 0;margin: 0;font-size: medium;margin-top: -6px;margin-bottom: -6px;">
            <mat-select style="padding: 0;margin: 0;" [(value)]="selectedDomi" [disabled]="PrimeraCarga">
              <mat-option value="-1">
                Sin domiciliario
              </mat-option>
              <!--suppress TypeScriptUnresolvedVariable, TypeScriptUnresolvedVariable -->
              <mat-option *ngFor="let domi of domiList" [value]="domi.id_THIRD_DOMICILIARIO">
                {{domi.domiciliario}}
              </mat-option>
            </mat-select>
          </mat-form-field>
<!--            BOTONES DE CONFIRMACIÓN LENTA Y LOS RAPIDA-->
          <div style="display: flex;">
            <mat-label style="margin-top: -5px;margin-bottom: 10px">Operaciones de confirmación</mat-label>
          </div>
          <div class="row" style="display: flex;padding-top: 0 !important;">
<!--              CONFIRMACIÓN LENTA-->
            <button style="flex-grow: 1;margin-right: 5px" mat-stroked-button color="primary" type="button" (click)="openDialogTransactionConfirm(1,1)" [disabled]="dataSourceProductosSeleccionados.data.length === 0 || !locStorage.getBoxStatus() || quickconfirm || !locStorage.getOnline()">Manual</button>
<!--              CONFIRMACIÓN RAPIDA SIN PDF-->
            <button style="flex-grow: 1;margin-right: 5px" mat-stroked-button color="primary" type="button" [disabled]="dataSourceProductosSeleccionados.data.length === 0 || !locStorage.getBoxStatus() || quickconfirm" (click)="quickConfirm()">Rápida</button>
<!--              CONFIRMACIÓN RAPIDA CON PDF-->
            <button style="flex-grow: 1;" mat-stroked-button color="primary" type="button" [disabled]="dataSourceProductosSeleccionados.data.length === 0|| !locStorage.getBoxStatus() || quickconfirm " (click)="quickConfirmPDF()">Rápida con Factura</button>
          </div>
<!--            BOTONE DE CANCELAR-->
          <div class="row">
            <button style="margin: auto;margin-top: 10px;width: 100%;font-size: xx-large;border-color: red;" mat-stroked-button color="warn" type="button" (click)="cancel()" [disabled]="!locStorage.getBoxStatus() || quickconfirm || PrimeraCarga"><div style="margin: 2px">Cancelar</div></button>
          </div>
        </div>
      </div>
<!--        CONTENEDOR DE LA TABLA DE LOS PRODUCTOS SELECCIONADOS-->
      <div class="ScrollBar" style="margin: 0;padding: 0;height: 58%;overflow: auto;box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 3px 14px 2px rgba(0, 0, 0, 0.12);">
        <table mat-table multiTemplateDataRows [dataSource]="dataSourceProductosSeleccionados" matSort class="mat-elevation-z8" style="width: 100%;box-shadow: unset;">
          <!--              CREO LAS COLUMNAS-->
          <!-- CODIGO-->
          <ng-container matColumnDef="code">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding: 0 !important;text-align: center !important;">Código</th>
            <td mat-cell *matCellDef="let element" style="padding: 0 !important;color: inherit" [style.text-align]="'center'"> {{element["code"]}} </td>
          </ng-container>
          <!-- PRODUCTO-->
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding: 0 !important;text-align: center !important;">Producto</th>
            <td mat-cell *matCellDef="let element" style="padding: 0 !important;color: inherit" [style.text-align]="'center'"> {{element["description"]}} </td>
          </ng-container>
          <!-- CANTIDAD-->
          <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding: 0 !important;text-align: center !important;">Cantidad</th>
            <td mat-cell *matCellDef="let element" style="padding: 0 !important;color: inherit" [style.text-align]="'center'">
              <div style="display: inline-block;margin-top: 16px;">
                <div class="row" >
                  <mat-label (click)="downQuantity(element)" style="color:#4e5fbb;cursor: pointer;font-size: x-large;"><</mat-label>
                  <mat-form-field class="row" style="width:5vw;margin-top: -15px;margin-bottom: -20px;z-index: 1">
                    <!--suppress TypeScriptUnresolvedVariable -->
                    <input required [(ngModel)]="element.quantity" matInput type="number" step="1" id="readerQuantity" class="no-spin text-center" min="1" pattern="^[0-9]+.{1,}" oninput="validity.valid||(value='');">
                  </mat-form-field>
                  <mat-label (click)="upQuantity(element)" style="color:#4e5fbb;cursor: pointer;font-size: x-large;">></mat-label>
                </div>
                <mat-label class="row" (click)="individualDelete(element)" style="color:#4e5fbb;cursor: pointer;position: relative;z-index: 10"><div style="margin: auto">Quitar</div></mat-label>
              </div>
            </td>
          </ng-container>
          <!-- VALOR UNITARIO-->
          <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding: 0 !important;text-align: center !important;">Valor Unitario</th>
            <td mat-cell *matCellDef="let element" style="padding: 0 !important;color: inherit" [style.text-align]="'center'">
              <mat-form-field style="margin-top: -10px; margin-bottom: -10px">
                <!--suppress TypeScriptUnresolvedVariable -->
                <mat-select [(value)]="element.price">
                  <!--suppress TypeScriptUnresolvedVariable, TypeScriptUnresolvedVariable, TypeScriptUnresolvedVariable, TypeScriptUnresolvedVariable -->
                  <mat-option *ngFor="let price of element.pricelist" [value]="price.price"> {{price.price_DESCRIPTION}} - {{price.price | currency : 'USD' : 'symbol' : '1.0'}} </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
          </ng-container>
          <!-- IMPUESTO-->
          <ng-container matColumnDef="tax">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding: 0 !important;text-align: center !important;">Impuesto</th>
            <td mat-cell *matCellDef="let element" style="padding: 0 !important;color: inherit" [style.text-align]="'center'"> {{element["tax"] | percent}} </td>
          </ng-container>
          <!-- TOTAL-->
          <ng-container matColumnDef="total">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding: 0 !important;text-align: center !important;">Total</th>
            <td mat-cell *matCellDef="let element" style="padding: 0 !important;color: inherit" [style.text-align]="'center'"> {{calculateTotalPrice(element) | currency : 'USD' : 'symbol' : '1.0'}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="GetKeys(); sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: GetKeys();"> </tr>
        </table>
        <div *ngIf="dataSourceProductosSeleccionados.filteredData.length == 0" style="height: 90%;background-color: white;">
          <div style="display: flex;height: 50%;width: 100%; margin: auto;">
            <mat-icon style="margin: auto;font-size: 90px;text-align: center;width: 100%;color: gray;margin-bottom: 5%;">local_grocery_store</mat-icon>
          </div>
          <div style="display: flex;height: 50%;width: 100%; margin: auto;">
            <mat-label style="font-size: 30px;margin: auto;color: gray;margin-top: 1%;">Seleccione productos a vender</mat-label>
          </div>
        </div>
      </div>
    </mat-card>
</div>

<div class="ContenedorLoading" *ngIf="mostrandoCargando">
  <div style="max-width: 500px;width: 50%;margin: auto;height: 30%;">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title style="font-weight: 500;">Espere un momento...</mat-card-title>
      </mat-card-header>
      <mat-card-content style="align-items: center;justify-content: center;display: flex">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
      </mat-card-content>
    </mat-card>
  </div>
</div>
