<div class="card">
  <div class="card-header card-chart" data-background-color="green">
    <div class="ct-chart" id="testchart"></div>
  </div>
  <div class="card-content">
    <h4 class="title">{{title}}</h4>
    <p class="category">{{description}}</p>
  </div>
  <div class="card-footer">
    <div class="stats">
      <i class="material-icons">access_time</i> updated 4 minutes ago
    </div>
  </div>
</div>
 