<!-- Servicios -->
<div id="services">
    <div class="indicator d-none d-md-block"></div>
    <ul class="dropdown-menu" id="servicios">
        <li>
            <a href="http://correo.unal.edu.co" target="_blank"><img src="assets/images/icnServEmail.png" width="32" height="32" alt="Correo Electrónico">Correo Electrónico</a>
        </li>
        <li>
            <a href="https://dninfoa.unal.edu.co" target="_blank"><img src="assets/images/icnServSia.png" width="32" height="32" alt="Dirección Nacional de Información Académica">DNINFOA - SIA</a>
        </li>
        <li>
            <a href="http://bibliotecas.unal.edu.co" target="_blank"><img src="assets/images/icnServLibrary.png" width="32" height="32" alt="Biblioteca">Bibliotecas</a>
        </li>
        <li>
            <a href="http://personal.unal.edu.co" target="_blank"><img src="assets/images/icnServCall.png" width="32" height="32" alt="Convocatorias">Convocatorias</a>
        </li>
        <li>
            <a href="http://identidad.unal.edu.co"><img src="assets/images/icnServIdentidad.png" width="32" height="32" alt="Identidad U.N.">Identidad U.N.</a>
        </li>
    </ul>
</div>
<!-- Header -->
<header id="unalTop">
    <!-- Logo -->
    <div class="logo">
        <a href="https://unal.edu.co">
            <!--[if (gte IE 9)|!(IE)]><!-->
            <svg width="93%" height="93%">
                <image xlink:href="assets/images/escudoUnal.svg" width="100%" height="100%" class="hidden-print" alt="Escudo de la Universidad Nacional de Colombia" />
            </svg>

            <!--<![endif]-->
            <!--[if lt IE 9]> <img src="assets/images/escudoUnal.png" width="93%" height="auto"
    class="hidden-print"/> <![endif]-->
            <img src="assets/images/escudoUnal_black.png" class="d-none d-print-block" alt="Escudo de la Universidad Nacional de Colombia" />
        </a>
    </div>
    <!-- Seal -->
    <div class="seal">
        <img class="hidden-print" alt="Escudo de la República de Colombia" src="assets/images/sealColombia.png" width="66" height="66" />

        <img class="d-none d-print-block" alt="Escudo de la República de Colombia" src="assets/images/sealColombia_black.png" width="66" height="66" />
    </div>

    <!-- Menú superior -->
    <div class="firstMenu d-none d-md-block">
        <div class="content-fluid">
            <nav class="navbar navbar-expand-md nav navbar-dark">
                <!-- perfiles -->
                <div class=" collapse navbar-collapse navbar-default" id="navbarSupportedContent">
                    <nav id="profiles">
                        <ul class="mr-auto nav justify-content-end">
                            <!-- <ul class="navbar-nav mr-auto nav justify-content-end"> -->
                            <li class="nav-item item_Aspirantes #>">
                                <a href="http://aspirantes.unal.edu.co">Aspirantes</a>
                            </li>
                            <li class="nav-item item_Estudiantes #>">
                                <a href="http://estudiantes.unal.edu.co">Estudiantes</a>
                            </li>
                            <li class="nav-item item_Egresados #>">
                                <a href="http://egresados.unal.edu.co">Egresados</a>
                            </li>
                            <li class="nav-item item_Docentes #>">
                                <a href="http://docentes.unal.edu.co">Docentes</a>
                            </li>
                            <li class="nav-item item_Administrativos #>">
                                <a href="http://administrativos.unal.edu.co">Administrativos</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <!-- redes sociales -->
                <ul class="socialLinks d-none d-md-block">
                    <li>
                        <a href="https://www.facebook.com/UNColombia" target="_blank" class="facebook" title="Página oficial en Facebook"></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/UNColombia" target="_blank" class="twitter" title="Cuenta oficial en Twitter"></a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/channel/UCnE6Zj2llVxcvL5I38B0Ceg" target="_blank" class="youtube" title="Canal oficial de Youtube"></a>
                    </li>
                    <li>
                        <a href="http://agenciadenoticias.unal.edu.co/nc/sus/type/rss2.html" target="_blank" class="rss" title="Suscripción a canales de información RSS"></a>
                    </li>
                </ul>
                <!-- idioma -->
                <div class="collapse btn-group languageMenu d-none d-md-block">
                    <div class="btn btn-default dropdown-toggle" data-toggle="dropdown">es<span class="caret"></span></div>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="index.html#">EN - English</a></li>
                        <li><a href="index.html#">GUC - Wayuunaiki</a></li>
                        <li><a href="index.html#">PBB - Nasa yuwe</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>

    <!-- Menú inferior -->
    <div id="bs-navbar" class="navigation d-none d-md-block">
        <!-- Título del sitio -->
        <div class="site-url" id="subdominio">
            <a href="http://postalunal.unal.edu.co/">postalunal.unal.edu.co</a>
        </div>
        <!-- Buscador -->
        <div class="buscador" id="buscador">
            <div class="gcse-searchbox-only" data-resultsurl="https://unal.edu.co/resultados-de-la-busqueda/" data-newwindow="true"></div>
        </div>
        <!-- Main menu -->
        <div class="navbar-dark mainMenu" id="main_menu_container">
            <!-- Items menú principal -->
                       <div class="btn-group">
                          <div class="btn-group">
                             <a href="http://somoscampus.unal.edu.co/nosotros.html" class="btn btn-default" target="_blank">PROYECTO SOMOS CAMPUS</a>
                          </div>

                          <div class="btn btn-default dropdown-toggle" data-toggle="dropdown">ACCIONES<span class="caret"></span></div>
                          <ul class="dropdown-menu">
                             <li>
                                <a class="dropdown-item" href="http://somoscampus.unal.edu.co/undia/index.html" target="_blank">UN DÍA EN LA UN</a>
                             </li>
                             <li>
                                <a class="dropdown-item" href="http://somoscampus.unal.edu.co/album-somos-campus.html" target="_blank">ÁLBUM SOMOS CAMPUS</a>
                             </li>
                             <li>
                                <a class="dropdown-item" href="http://somoscampus.unal.edu.co/album-reconozco-patrimonio.html" target="_blank">RECONOZCO EL PATRIMONIO</a>
                             </li>
                             <li>
                                <a class="dropdown-item" href="http://somoscampus.unal.edu.co/festival_anual_somos_campus.html" target="_blank">FESTIVAL SOMOS CAMPUS</a>
                             </li>
                             <li>
                                <a class="dropdown-item" href="http://somoscampus.unal.edu.co/carrera-observacion.html" target="_blank">CARRERA DE OBSERVACIÓN</a>
                             </li>
                          </ul>
                       </div>
                       <!-- Fin Items menú principal -->
            <!-- Sedes -->
            <div class="btn-group menu_sedes">
                <div class="btn btn-default dropdown-toggle" data-toggle="dropdown">Sedes<span class="caret"></span></div>
                <ul class="dropdown-menu" id="sedes">
                    <li>
                        <a class="dropdown-item" href="http://amazonia.unal.edu.co" target="_blank">Amazonia</a>
                        <span class="caret-right"></span></li>
                    <li>
                        <a class="dropdown-item" href="http://bogota.unal.edu.co" target="_blank">Bogotá</a>
                        <span class="caret-right"></span></li>
                    <li>
                        <a class="dropdown-item" href="http://caribe.unal.edu.co" target="_blank">Caribe</a>
                        <span class="caret-right"></span></li>
                    <li>
                        <a class="dropdown-item" href="http://delapaz.unal.edu.co" target="_blank">De La Paz</a>
                        <span class="caret-right"></span></li>
                    <li>
                        <a class="dropdown-item" href="http://www.manizales.unal.edu.co" target="_blank">Manizales</a>
                        <span class="caret-right"></span></li>
                    <li>
                        <a class="dropdown-item" href="http://medellin.unal.edu.co" target="_blank">Medellín</a>
                        <span class="caret-right"></span></li>
                    <li>
                        <a class="dropdown-item" href="http://orinoquia.unal.edu.co" target="_blank">Orinoquia</a>
                        <span class="caret-right"></span></li>
                    <li>
                        <a class="dropdown-item" href="http://www.palmira.unal.edu.co" target="_blank">Palmira</a>
                        <span class="caret-right"></span></li>
                    <li>
                        <a class="dropdown-item" href="http://tumaco-pacifico.unal.edu.co" target="_blank">Tumaco</a>
                        <span class="caret-right"></span></li>
                </ul>
            </div>
        </div>
        <!-- Servicios label -->
        <div class="btn-group d-none">
            <div class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="navbarSupportedContent" data-target="#services">Servicios<span class="caret"></span>
            </div>
        </div>
        <!-- Perfiles -->
        <div class="btn-group d-none">
            <div class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="navbarSupportedContent" data-target="#profiles">Perfiles<span class="caret"></span>
            </div>
        </div>
    </div>

    <!--Navbar-->
    <nav class="navbar navbar-light light-blue lighten-4 main_menu">
        <!-- Navbar brand -->
        <a class="navbar-brand d-block d-md-none" href="#"></a>

        <!-- Collapse button -->
        <button class="navbar-toggler collapsed d-block d-md-none" type="button" data-toggle="collapse" data-target="#navbar_content" aria-controls="navbar_content" aria-expanded="false" aria-label="Toggle navigation" id="btn_hamburguer">
            <!-- <span class="navbar-toggler-icon"></span> -->
        </button>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="navbar_content">
            <!-- subdominio -->
            <div class="site-url" id="container_subdominio_mobil"></div>
            <!-- buscador -->
            <div class="buscador" id="container_buscador_mobil"></div>
            <!-- main -->
            <div id="container_mainmenu_mobil"></div>
            <!-- Sedes -->
            <div class="btn-group d-block d-md-none hidden-print">
                <div class="btn btn-default dropdown-toggle" data-toggle="collapse" data-target="#container_sedes_mobil" aria-controls="container_sedes_mobil">Sedes<span class="caret"> </span>
                </div>
            </div>
            <div class="collapse" id="container_sedes_mobil"></div>

            <!-- Servicios -->
            <div class="btn-group d-block d-md-none hidden-print">
                <div class="btn btn-default dropdown-toggle" data-toggle="collapse" data-target="#container_servicios_mobil" aria-controls="container_servicios_mobil">Servicios<span class="caret"> </span>
                </div>
            </div>
            <div class="collapse" id="container_servicios_mobil"></div>

            <!-- Perfiles -->
            <div class="btn-group d-block d-md-none hidden-print">
                <div class="btn btn-default dropdown-toggle" data-toggle="collapse" data-target="#container_profiles_mobil" aria-controls="container_profiles_mobil">Perfiles<span class="caret"> </span>
                </div>
            </div>
            <div class="collapse" id="container_profiles_mobil"></div>
        </div>

        <!-- Collapsible content -->
    </nav>
    <!-- name office 
    <div id="name-office" style="">
        <h2>PEMP - Plan Especial de Manejo | <a target="_blank" href="http://bogota.unal.edu.co/">Sede Bogotá</a> </h2>
    </div>
     end name office -->
</header>


<!-- defaultpanel -->

<!-- Panel de accesibilidad -->
<div class="tx-unal-accesibilidad">
    <!-- defaultpanel -->
    <div class="tx-unal-accesibilidad">
        <!-- defaultpanel -->

      </div>
                </div>

        <!-- /content wrapper for padding
<div id="pestania-accesibilidad" class="">Panel de Accesibilidad</div>
</div> -->
        <!-- /content wrapper for padding -->

<!-- /content wrapper for padding -->

<!-- Contenido -->
<!-- HOME -->
<main class="detalle">
    <div class="contenedor_general"> 
        <div class="contenedor_izq"> 

            <figure class="contenedor_identificador"> 
                <img class="logo_proyecto" src="assets/images/logo_postal.png">
            </figure>

            <div class="contenedor_linea"> 
                <div class="linea_home"> </div>
            </div>

            <div class="contenedor_descripcion"> 
                <h4 class="descripcion_proyecto">Extrañamos nuestro campus, nuestras zonas verdes, aulas y laboratorios. Extrañamos los atardeceres en las azoteas, los almuerzos al aire libre y los cafés para iniciar el día. Sabemos que pronto nos volveremos a encontrar, pero mientras llega el día, te invitamos a encontrarnos en este espacio.</h4>
            </div>
            <div class="contenedor_boton">
                <a class="boton_ingresar pointer" onclick="$('#Modal1').show()">Ingresa</a>
            </div>

        </div>  
        <div class="contenedor_der">
          
                <div class="img_home"> </div> 
         
        </div>
    </div>
    <!-- FIN HOME -->
</main>

    <!-- MODAL -->
        <div id="Modal1" class="modal_home">
          <div class="modal-contenido">
                <div class="contenedor_cerrar">
                    <a onclick="$('#Modal1').hide()" class="modal_cerrar pointer">X</a>
                </div>
                <h3 class="modal_titulo">Inicia Sesión</h3>
                <p class="modal_texto">Para publicar, comentar y acceder a la experiencia completa, ingresa con tu correo y contraseña UNAL. De lo contrario continúa sin iniciar sesión</p>
                <input type="text" placeholder="usuario" class="modal_input">
                <input type="password" placeholder="contraseña"class="modal_input">
                <div class="modal_contenedor_boton">
                    <a class="modal_boton_ingresar" href="mapa.html">Ingresa</a>
               </div>
                <div class="modal_contenedor_boton">
                    <a class="modal_boton_continua" href="mapa.html">Continúa sin iniciar sesión</a>
               </div>
        </div>
    </div>

    <!-- FIN MODAL-->

<!-- Loader -->
<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
        <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
        <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>
<!-- End loader -->
<!-- Footer -->
<footer class="clear container-fluid footer_modal">
    <div class="row">
        <nav class="col-lg-3 col-md-3 col-sm-4 col-6 gobiernoLinea">
            <a href="http://www.legal.unal.edu.co" target="_top">Régimen Legal</a>
            <a href="http://personal.unal.edu.co" target="_top">Talento humano</a>
            <a href="http://contratacion.unal.edu.co" target="_top">Contratación</a>
            <a href="http://personal.unal.edu.co" target="_top">Ofertas de empleo</a>
            <a href="http://launalcuenta.unal.edu.co/" target="_top">Rendición de cuentas</a>
            <a href="http://docentes.unal.edu.co/concurso-profesoral/" target="_top">Concurso docente</a>
            <a href="http://www.pagovirtual.unal.edu.co/" target="_top">Pago Virtual</a>
            <a href="http://controlinterno.unal.edu.co/" target="_top">Control interno</a>
            <a href="http://siga.unal.edu.co" target="_top">Calidad</a>
            <a href="http://unal.edu.co/buzon-de-notificaciones/" target="_self">Buzón de notificaciones</a>
        </nav>
        <nav class="col-lg-3 col-md-3 col-sm-4 col-6 gobiernoLinea">
            <a href="http://correo.unal.edu.co" target="_top">Correo institucional</a>
            <a href="index.html#">Mapa del sitio</a>
            <a href="http://redessociales.unal.edu.co" target="_top">Redes Sociales</a>
            <a href="index.html#">FAQ</a>
            <a href="http://unal.edu.co/quejas-y-reclamos/" target="_self">Quejas y reclamos</a>
            <a href="http://unal.edu.co/atencion-en-linea/" target="_self">Atención en línea</a>
            <a href="http://unal.edu.co/encuesta/" target="_self">Encuesta</a>
            <a href="index.html#">Contáctenos</a>
            <a href="http://estadisticas.unal.edu.co/" target="_top">Estadísticas</a>
            <a href="index.html#">Glosario</a>
        </nav>
        <div class="col-lg-4 col-md-4 col-sm-4 col-12 footer-info">
            <div class="row footer-info-spacing">
                <p class="col-lg-6 col-md-12 col-sm-12 col-6 contacto">
                    <b>Contacto página web:</b><br />
                    Secretaría de Sede<br />
                    Carrera 45 N° 26-85<br />
                    Edificio Uriel Gutiérrez<br />
                    Bogotá D.C., Colombia<br />
                    (+57 1) 316 5000 Ext. 18275<br />
                    Correo: <a title="Comuníquese con el administrador de este sitio web" href="mailto:EMAIL@unal.edu.co">webmaster_bog@unal.edu.co</a><br />
                </p>

                <p class="col-lg-6 col-md-12 col-sm-12 col-6 derechos">
                    &copy; Copyright 2019<br />
                    Algunos derechos reservados.<br />

                    <a href="index.html#">Acerca de este sitio web</a><br />
                    Actualización: 14/11/19
                </p>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12 col-12 logos">
            <div class="row px-3">
                <div class="col-lg-6 col-md-12 col-sm-6 col-6 no-padding">
                    <div class="row mx-1">
                        <a class="col-md-12 col-sm-6 col-6" href="http://www.orgulloun.unal.edu.co">
                            <img class="hidden-print" alt="Orgullo UN" src="assets/images/log_orgullo.png" width="78" height="21" />
                            <img class="d-none d-print-block" alt="Orgullo UN" src="assets/images/log_orgullo_black.png" width="94" height="37" />
                        </a>
                        <a class="col-md-12 col-sm-6 col-6 imgAgencia" href="http://www.agenciadenoticias.unal.edu.co/inicio.html">
                            <img class="hidden-print" alt="Agencia de Noticias" src="assets/images/log_agenc.png" width="94" height="25" />
                            <img class="d-none d-print-block" alt="Agencia de Noticias" src="assets/images/log_agenc_black.png" width="94" height="37" />
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-6 col-6 no-padding">
                    <div class="row mx-1">
                        <a class="col-md-12 col-sm-6 col-6" href="https://www.sivirtual.gov.co/memoficha-entidad/-/entidad/T0356">
                            <img alt="Portal Único del Estado Colombiano" src="assets/images/log_gobiern.png" width="67" height="51" />
                        </a>
                        <a class="col-md-12 col-sm-6 col-6" href="http://www.contaduria.gov.co/">
                            <img alt="Contaduría General de la República" src="assets/images/log_contra.png" width="67" height="51" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>