
:host ::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: center;
  font-size: larger;
  font-weight: 800 !important;
}
:host ::ng-deep .mat-header-cell {
  font-weight: 800 !important;
}
