@font-face {
    font-family: 'thefont';
    src: url('../../assets/img/Fuente/d-din/D-DIN-Bold.otf');
    font-style: normal;
}

.astext {
    background:none;
    border:none;
    cursor: pointer;
    color: white;
    margin: auto;
    margin-top: 3%;
    font-family: 'thefont';
    font-size: 25px;
    margin-right: 3%;
}