<div style="background-color: rgba(0, 0, 0, 0.6);text-align: center; padding: 0px;margin:0px; width: 100%; height: 150px;">
    <button class="astext">Nosotros</button>
    <button class="astext">Servicios</button>
    <button class="astext">Noticias</button>
    <button class="astext">Contacto</button>
</div>