<ion-content id="home">
  <div style="display: flex; width: 100%; height: 9.5%">
    <ion-icon
      (click)="OpenMenu()"
      style="font-size: 10vw; margin: auto 5px"
      name="menu-outline"
    ></ion-icon>

    <div
      style="
        margin: auto 0;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        font-size: 100%;
      "
      [style]=" this.accountService.usuarioCompleto == null ? 'height: 100%':'height: unset'"
    >
      <ion-label
        style="font-size: 90%; text-transform: capitalize; font-weight: bold"
        *ngIf="this.accountService.usuarioCompleto != null"
        >Hola, {{this.accountService.GetNormalName()}}</ion-label
      >
      <!--      <ion-label style="font-size: 90%;text-transform: capitalize;font-weight: bold" *ngIf="this.accountService.usuarioCompleto == null">Denlinea</ion-label>-->
      <div style="width: 70%; height: 100%; display: flex">
        <ion-img
          *ngIf="this.accountService.usuarioCompleto == null"
          style="height: 60%; margin: auto; width: unset"
          src="assets/logos/denlinea.svg"
        ></ion-img>
      </div>
      <ion-label
        style="font-size: 65%; text-transform: capitalize"
        *ngIf="this.accountService.usuarioCompleto != null"
        >{{this.accountService.usuarioCompleto.address}}</ion-label
      >
      <ion-label
        style="font-size: 65%; text-transform: capitalize"
        *ngIf="this.accountService.usuarioCompleto != null"
        >{{this.accountService.usuarioCompleto.city_NAME.toLowerCase()}}</ion-label
      >
    </div>
    <div
      *ngIf="!this.ProvInvalido"
      style="width: 50vw; margin: auto 0; margin-right: 5px; display: flex"
    >
      <div style="margin: auto; display: flex; flex-direction: column">
        <ion-label style="font-weight: bold; font-size: 90%"
          >{{this.billingService.ProviderInfo.Name}}</ion-label
        >
        <ion-label style="font-size: 65%"
          >{{this.billingService.ProviderInfo.Address}}</ion-label
        >
        <ion-label style="font-size: 65%"
          >{{this.billingService.ProviderInfo.CityName}}</ion-label
        >
      </div>
      <div
        style="
          border-radius: 20px;
          margin: auto;
          background-color: white;
          padding: 4px;
          height: 10vw;
          width: 10vw;
          flex-shrink: 0;
          display: flex;
          border: solid 1px;
          overflow: hidden;
        "
        (click)="ShowStoreInfo($event)"
      >
        <!--        <ion-label style="margin: auto;color: white;font-weight: bold">T</ion-label>-->
        <img src="{{this.billingService.ProviderInfo.LogoURL}}" />
      </div>
    </div>
  </div>

  <!--                EL BUSCADOR-->
  <ion-searchbar
    *ngIf="!this.ProvInvalido"
    style="height: 15vw"
    placeholder="Buscar Producto"
    (click)="AbrirBuscadorProductos()"
  >
  </ion-searchbar>

  <!--  EL CONTENEDOR DE TODAS LAS LINEAS-->
  <div
    *ngIf="!this.ProvInvalido"
    style="width: 100%; display: block"
    class="ContenedorLineasAnimation"
    [style.height]="this.LimitadorLineas ? 'calc(45vh + 30px)':this.CalcularTamMaximoContenedorLineas()"
  >
    <div
      (click)="ClickLinea(idLinea)"
      *ngFor="let idLinea of this.ListadoKeysLineas;let i = index"
    >
      <div
        class="ContenedorLinea"
        [hidden]="!((((ListadoKeysLineas.length > 9) && (i < 8)) || (ListadoKeysLineas.length <= 9)) || !LimitadorLineas)"
      >
        <div class="ContenidoLinea">
          <div class="ContenedorImagen">
            <img
              class="AjusteImg"
              *ngIf="this.inventoryService.LineaList[idLinea] != null"
              [src]="this.inventoryService.GetFilePathForCategoryIMG(this.inventoryService.LineaList[idLinea].nombre,this.inventoryService.LineaList[idLinea].img)"
              loop="true"
              onError="src = '/assets/catNotFound.jpeg'"
            />
          </div>
          <div
            *ngIf="this.inventoryService.LineaList[idLinea] != null"
            [style.font-size]="CalcularSizeFont(this.inventoryService.LineaList[idLinea].nombre)"
            class="TextoCategoria"
          >
            {{this.inventoryService.LineaList[idLinea].nombre.toLowerCase()}}
          </div>
        </div>
      </div>
    </div>
    <div
      (click)="ClickAlternarLineas()"
      class="ContenedorLinea"
      *ngIf="this.ListadoKeysLineas.length > 9"
    >
      <div class="ContenidoLinea" *ngIf="LimitadorLineas">
        <div style="margin: auto; font-weight: bolder; text-align: center">
          Mostrar Más
        </div>
      </div>
      <div class="ContenidoLinea" *ngIf="!LimitadorLineas">
        <div style="margin: auto; font-weight: bolder; text-align: center">
          Mostrar Menos
        </div>
      </div>
    </div>
  </div>

  <!--  PEDIDOS EN CURSO-->
  <div
    *ngIf="!this.ProvInvalido"
    style="width: calc(100% - 20px); margin: 10px; overflow: auto; height: 30vh"
  >
    <ion-label
      style="font-weight: bold; font-size: x-large"
      *ngIf="this.billingService.ListadoPedidosActivos.length > 0"
      >Pedidos en curso</ion-label
    >
    <!--  CONTENEDOR-->
    <div
      style="width: 100%; display: flex; flex-direction: column"
      *ngIf="this.billingService.ListadoPedidosActivos.length > 0"
    >
      <!--    ITEM, OSEA, PEDIDO-->
      <div
        class="TarjetaPedido"
        *ngFor="let pedido of this.billingService.ListadoPedidosActivos;let i = index"
      >
        <!--      MITAD CENTRADA-->
        <div
          style="
            display: flex;
            height: 100%;
            margin: auto;
            width: 100%;
            padding-top: 5px;
          "
          (click)="this.ClickOrder(pedido)"
        >
          <!--        NUM PEDIDO-->
          <div style="display: flex; flex-direction: column; flex-shrink: 0">
            <div
              style="
                display: flex;
                margin: auto;
                font-size: 120%;
                margin-top: 0;
              "
            >
              {{pedido.numdocumento}}
            </div>
            <div style="font-size: 80%; margin: 0 auto; margin-bottom: auto">
              N° Pedido
            </div>
          </div>
          <!--        DEMAS-->
          <div
            style="
              flex: auto;
              padding-left: 20px;
              display: flex;
              flex-direction: column;
            "
          >
            <ion-label>{{this.FormatedDate(pedido.fecha)}}</ion-label>
            <ion-label style="margin: auto 0; font-size: 90%"
              >{{BillStateToText(pedido.id_BILL_STATE)}} -
              {{pedido.tienda}}</ion-label
            >
          </div>
          <div style="width: 10%; display: flex">
            <ion-icon
              style="margin: 0 auto"
              name="arrow-forward-circle-outline"
            ></ion-icon>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--  ESTO ES PARA EL CASO QUE NO SE TIENE UN PROOVEDOR VALIDO-->
  <div
    *ngIf="this.ProvInvalido"
    style="
      display: flex;
      flex-direction: column;
      height: calc(100% - 15vw);
      width: 70%;
      margin: 0 auto;
    "
  >
    <ion-icon
      name="warning-outline"
      style="font-size: 900%; margin: auto; margin-bottom: 0"
    ></ion-icon>
    <ion-label style="margin: auto; font-size: 150%; text-align: justify"
      >No pudimos encontrar Tiendas 724 cercanas a tu ubicación</ion-label
    >
  </div>
</ion-content>

<!--&lt;!&ndash;TODO PARA LO DEL CARRITO FLOTANTE&ndash;&gt;-->
<!--<div style="display: flex;bottom: 0;width: 100%;height: 15%;position: absolute" [hidden]="this.inventoryService.cartService.ListaTablaProductosSeleccionados.length == 0">-->
<!--  <div class="EstiloCarrito" (click)="ClickCarrito()">-->
<!--&lt;!&ndash;    Circulo Contenedor&ndash;&gt;-->
<!--    <div style="width: 5vh;height: 5vh;background-color: white;border-radius: 40px;display: flex;margin: auto;position: relative;border: solid 1px #a6a6a6;">-->
<!--      <div style="margin: auto">{{this.inventoryService.cartService.ListaTablaProductosSeleccionados.length}}</div>-->
<!--    </div>-->
<!--&lt;!&ndash;    Titulo&ndash;&gt;-->
<!--    <div style="display: flex;flex-direction: column;margin: auto;margin-left: 0;">-->
<!--      <ion-label style="text-align: center;font-weight: bold;color: black;font-size: 120%">{{ roundnum(this.inventoryService.cartService.ValorTotalTabla) | currency  : 'USD' : 'symbol' : '1.0'}}</ion-label>-->
<!--      <ion-label style="text-align: center;font-weight: bold;color: black;font-size: 70%">Completar Orden</ion-label>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--TODO LO DEL MENU-->

<ion-menu #elMenu side="start" menuId="first" contentId="home">
  <div
    style="
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;
      position: relative;
    "
  >
    <!--    INFO PERSONA-->
    <div
      style="
        margin-right: auto;
        display: flex;
        flex-direction: column;
        height: 20%;
        width: 100%;
      "
    >
      <ion-icon
        style="margin: auto; font-size: 13vh"
        name="person-circle-outline"
      ></ion-icon>
      <ion-label
        style="font-weight: bold; font-size: x-large; text-align: center"
        >{{this.accountService.GetFullName()}}</ion-label
      >
    </div>
    <!--    CONTENEDOR OPCIONES-->
    <div style="display: flex; flex-direction: column; flex: auto">
      <!--      OPCIÓN DE LOGUEARSE-->
      <div
        class="SidebarOpcion"
        *ngIf="this.accountService.usuarioCompleto == null"
        (click)="GoToLogin();"
      >
        <ion-icon name="person-outline"></ion-icon>
        <ion-label> Iniciar sesión/Registrarse </ion-label>
      </div>
      <!--      OPCIÓN DE MI PERFIL-->
      <div
        class="SidebarOpcion"
        *ngIf="this.accountService.usuarioCompleto != null"
        (click)="this.PanelMiPerfil = true;this.elMenu.close();"
      >
        <ion-icon name="person-outline"></ion-icon>
        <ion-label> Mi perfil </ion-label>
      </div>
      <!--      OPCIÓN DE MIS PEDIDOS-->
      <div
        *ngIf="!this.ProvInvalido && this.accountService.usuarioCompleto != null"
        class="SidebarOpcion"
        (click)="this.GoToPedidos()"
      >
        <ion-icon name="list-outline"></ion-icon>
        <ion-label> Mis pedidos </ion-label>
      </div>
      <!--      OPCIÓN DE MIS CUPONES-->
      <div
        *ngIf="!this.ProvInvalido && this.accountService.usuarioCompleto != null"
        class="SidebarOpcion"
      >
        <ion-icon name="pricetags-outline"></ion-icon>
        <ion-label> Mis cupones </ion-label>
      </div>
      <!--      OPCIÓN DE SOPORTE-->
      <div
        *ngIf="!this.ProvInvalido && this.accountService.usuarioCompleto != null"
        class="SidebarOpcion"
      >
        <ion-icon name="help-buoy-outline"></ion-icon>
        <ion-label> Soporte </ion-label>
      </div>
      <!--      OPCIÓN DE SALIR-->
      <div
        class="SidebarOpcion"
        *ngIf="this.accountService.usuarioCompleto != null"
        (click)="this.LogOut()"
      >
        <ion-icon
          style="transform: scaleX(-1)"
          name="log-out-outline"
        ></ion-icon>
        <ion-label> Cerrar sesión </ion-label>
      </div>

      <!--OPCION CAMBIAR PAIS-->

      <div
        class="SidebarOpcion"

        *ngIf="this.billingService.actualCountry !== null && this.accountService.usuarioCompleto === null"
        style="display: flex; width: 100%; flex: auto"
        (click)="ShowChangeCountry($event); this.elMenu.close();"
      >
        <ion-img
          style="margin: auto; height: unset; width: 100px"
          src="{{this.billingService.actualCountry.imageURL}}"
        ></ion-img>
      </div>
      <!--    -->
      <div style="display: flex; width: 100%; flex: auto">
        <ion-img
          style="margin: auto; height: unset; width: 100px"
          src="assets/logos/denlinea.svg"
        ></ion-img>
      </div>
    </div>
  </div>
</ion-menu>

<!--PANEL DE TIENDAS-->

<div
  class="ContenedorLoading"
  style="background-color: #00000085; opacity: 0"
  [hidden]="!PanelTienda"
  [ngClass]="PanelTienda ? 'WelcomMSGmostrando':'WelcomMSGoculto'"
>
  <div
    style="
      width: 90%;
      height: 90%;
      display: flex;
      background-color: white;
      margin: auto;
      overflow: hidden;
      border-radius: 20px;
      flex-direction: column;
    "
  >
    <!--    MENSAJE-->
    <div
      style="width: 100%; height: 20%; display: flex; flex-direction: column"
    >
      <ion-img
        style="height: 80%; margin: auto; width: unset"
        src="assets/logos/denlinea.svg"
      ></ion-img>
      <!--      <ion-label style="color: black;margin: auto;font-size: 100%;text-align: center">{{billingService.ProviderInfo.Address}}</ion-label>-->
    </div>

    <div
      style="
        width: 90%;
        display: flex;
        margin: auto;
        flex-direction: column;
        overflow: auto;
      "
      [style]="(!GetIsNan() && this.IdProv != -1) ? 'height: 80%':'height: 80%'"
    >
      <ion-label style="font-size: 80%; text-align: center; margin: 10px 0"
        >Seleccione una tienda para continuar</ion-label
      >

      <ion-grid fixed>
        <ion-row>
          <!-- <ion-col *ngFor="let c of [1,1,1,1,1,1,1,1,1,1,1,1]; let i=index">
            Hola,item {{i+1}}
          </ion-col> -->
          <ion-col
            size="12"
            size-lg="3"
            size-md="6"
            size-sm="6"
            size-xs="12"
            *ngFor="let prov of ListadoProvDisponibles"
          >
            <ion-card
              *ngIf="prov.id_COUNTRY===this.billingService.actualCountry.code"
              (click)="ClickProv(prov.id_STORE_PROVIDER,prov.id_COUNTRY)"
            >
              <ion-img
                style="width: 30%; margin: auto; padding: auto"
                src="{{this.GetProvURLLogo(prov)}}"
              ></ion-img>

              <ion-card-header>
                <ion-card-title>
                  <div
                    style="
                      height: 100%;

                      margin: auto;
                    "
                  >
                    <ion-label position="fixed" style="margin-left: 10%; "
                      >{{prov.description}}</ion-label
                    >
                  </div>
                </ion-card-title>

                <ion-card-subtitle>
                  <div
                    style="
                      height: 100%;

                      margin: auto;
                    "
                  >
                    <ion-icon
                      style="flex-shrink: 0"
                      name="location-outline"
                    ></ion-icon>
                    <ion-label style="margin-left: 10px; font-size: 90%"
                      >{{prov.city_NAME}}, {{prov.address}}</ion-label
                    >
                  </div>
                </ion-card-subtitle>
                
              </ion-card-header>
              <ion-card-content>
                <div
                  style="
                    height: 100%;
                    margin: auto;
                  "
                >
                  <ion-icon
                    slot="start"
                   
                    name="call-outline"
                  ></ion-icon>
                  <ion-label slot="end" style="margin: auto;">
                    {{prov.phoneprov}}
                  </ion-label>
                </div>

                <div style="height: 100%; margin: auto">
                  <ion-icon slot="start" name="mail-outline"></ion-icon>
                  <ion-label slot="end" style="margin: auto;  width: 80%"
                    >{{prov.emailprov}}</ion-label
                  >
                </div>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <!--    BOTON CONTINUAR-->
    <div
      style="width: 100%; height: 15%; display: flex"
      *ngIf="(( !this.boolChangeCountry   &&      (!GetIsNan() && this.IdProv != -1)) && !boolStartAppWithLogin)"
    >
      <ion-button
        style="
          --background: #fad263;
          color: black;
          width: 90%;
          margin: auto;
          text-transform: capitalize;
        "
        (click)="closeTienda()"
        shape="full"
        expand="block"
        >Volver</ion-button
      >
    </div>
  </div>
</div>

<!--PANEL DE PAISES-->

<div
  class="ContenedorLoading"
  style="background-color: #00000085; opacity: 0"
  [hidden]="!PanelPaises"
  [ngClass]="PanelPaises ? 'WelcomMSGmostrando':'WelcomMSGoculto'"
>
  <div
    style="
      width: 90%;
      height: 90%;
      display: flex;
      background-color: white;
      margin: auto;
      overflow: hidden;
      border-radius: 20px;
      flex-direction: column;
    "
  >
    <!--    MENSAJE-->
    <div
      style="width: 100%; height: 20%; display: flex; flex-direction: column"
    >
      <ion-img
        style="height: 80%; margin: auto; width: unset"
        src="assets/logos/denlinea.svg"
      ></ion-img>
      <!--      <ion-label style="color: black;margin: auto;font-size: 100%;text-align: center">{{billingService.ProviderInfo.Address}}</ion-label>-->
    </div>
    <!--    INFO-->
    <!--    <div *ngIf="(!GetIsNan() && this.IdProv != -1)" style="width: 90%;display: flex;margin: auto;flex-direction: column">-->
    <!--      <div style="display: flex">-->
    <!--        <ion-icon style="flex-shrink: 0" name="desktop-outline"></ion-icon>-->
    <!--        <ion-label style="margin-left: 10px;font-size: 90%">{{billingService.ProviderInfo.Name}}</ion-label>-->
    <!--      </div>-->
    <!--      <div>-->
    <!--        <ion-icon name="location-outline"></ion-icon>-->
    <!--        <ion-label style="margin-left: 10px;font-size: 90%">{{billingService.ProviderInfo.CityName}}, {{billingService.ProviderInfo.Address}}</ion-label>-->
    <!--      </div>-->
    <!--      <div>-->
    <!--        <ion-icon name="call-outline"></ion-icon>-->
    <!--        <ion-label style="margin-left: 10px;font-size: 90%">{{billingService.ProviderInfo.Phone}}</ion-label>-->
    <!--      </div>-->
    <!--      <div><ion-icon name="mail-outline"></ion-icon>-->
    <!--        <ion-label style="margin-left: 10px;font-size: 90%">{{billingService.ProviderInfo.Email}}</ion-label>-->
    <!--      </div>-->
    <!--    </div>-->
    <!--    LISTADO DE TIENDAS SELECCIONABLES-->
    <div
      style="
        width: 90%;
        display: flex;
        margin: auto;
        flex-direction: column;
        overflow: auto;
      "
      [style]="(!GetIsNan() && this.IdProv != -1) ? 'height: 80%':'height: 80%'"
    >
      <ion-label style="font-size: 80%; text-align: center; margin: 10px 0"
        >Seleccione un pais para continuar</ion-label
      >
      <div
        *ngFor="let pais of paises | async "
        style="display: flex; width: 100%; margin: 10px 0"
        (click)="SetCountry(pais)"
      >
        <!--        parte izquierda-->
        <div
          style="
            width: calc(70% - 10px);
            height: 100%;
            display: flex;
            margin: auto;
            flex-direction: column;
          "
        >
        <ion-label style="font-size: 120%; margin:auto; text-align: center;"> <strong> {{pais.name}}</strong> </ion-label>
          
        </div>
        <!--        logo-->
        <div style="width: 15%; margin-left: 10px; display: flex">
          <img src="{{pais.imageURL}}" />
        </div>
      </div>
    </div>
    <!--    BOTON CONTINUAR-->
    <div
      style="width: 100%; height: 15%; display: flex"
      *ngIf="(this.boolChangeCountry &&   (!GetIsNan() && this.IdProv != -1))"
    >
      <ion-button
        style="
          --background: #fad263;
          color: black;
          width: 90%;
          margin: auto;
          text-transform: capitalize;
        "
        (click)="closeCountrys()"
        shape="full"
        expand="block"
        >Volver</ion-button
      >
    </div>
  </div>
</div>

<!--PANEL DE MI PERFIL-->

<div
  *ngIf="this.accountService.usuarioCompleto != null"
  class="ContenedorLoading"
  style="background-color: #00000085; opacity: 0"
  [hidden]="!PanelMiPerfil"
  [ngClass]="PanelMiPerfil ? 'WelcomMSGmostrando':'WelcomMSGoculto'"
>
  <div
    style="
      width: 80%;
      height: 60%;
      display: flex;
      background-color: white;
      margin: auto;
      overflow: hidden;
      border-radius: 20px;
      flex-direction: column;
    "
  >
    <!--    MENSAJE-->
    <div
      style="width: 100%; height: 20%; display: flex; flex-direction: column"
    >
      <ion-label
        style="
          color: black;
          margin: auto;
          font-size: 120%;
          font-weight: bold;
          text-align: center;
        "
        >{{accountService.GetFullName()}}</ion-label
      >
    </div>
    <!--    LOGO TIENDA SELECCIONADA-->
    <div style="width: 100%; height: 40%; display: flex">
      <ion-img
        style="
          background-color: white;
          height: 90%;
          border-radius: 20px;
          margin: auto;
          width: 70%;
        "
        src="assets/logos/denlinea.svg"
      ></ion-img>
    </div>
    <!--    INFO-->
    <div
      style="
        width: 80%;
        height: 20%;
        display: flex;
        margin: auto;
        flex-direction: column;
      "
    >
      <div>
        <ion-icon name="location-outline"></ion-icon>
        <ion-label style="margin-left: 10px"
          >{{accountService.usuarioCompleto.city_NAME}},
          {{accountService.usuarioCompleto.address}}</ion-label
        >
      </div>
      <div>
        <ion-icon name="call-outline"></ion-icon>
        <ion-label style="margin-left: 10px"
          >{{accountService.usuarioCompleto.phone}}</ion-label
        >
      </div>
      <div>
        <ion-icon name="mail-outline"></ion-icon>
        <ion-label style="margin-left: 10px"
          >{{accountService.usuarioCompleto.email}}</ion-label
        >
      </div>
    </div>
    <!--    MENSAJE-->
    <div
      style="
        width: 80%;
        height: 10%;
        display: flex;
        margin: auto;
        flex-direction: column;
      "
    >
      <ion-label style="color: black; margin: auto; font-size: 100%"
        >Esta es la información de tu perfíl.</ion-label
      >
    </div>
    <!--    BOTON CONTINUAR-->
    <div style="width: 100%; height: 15%; display: flex">
      <ion-button
        style="
          --background: #fad263;
          color: black;
          width: 80%;
          margin: auto;
          text-transform: capitalize;
        "
        (click)="PanelMiPerfil = false;"
        shape="full"
        expand="block"
        >Volver</ion-button
      >
    </div>
  </div>
</div>

<!--CONTENEDOR LOADING-->

<div class="ContenedorLoading" *ngIf="this.commonOperations.mostrandoCargando">
  <div class="wrapper2">
    <ion-card
      style="
        background-color: white;
        margin: auto;
        margin-bottom: 5vh;
        width: 80%;
      "
    >
      <ion-card-content>
        <!--suppress HtmlRequiredAltAttribute, HtmlDeprecatedAttribute -->
        <ion-img
          style="
            background-color: white;
            height: 90%;
            border-radius: 20px;
            margin: auto;
            width: 70%;
          "
          src="assets/logos/denlinea.svg"
        ></ion-img>
      </ion-card-content>
    </ion-card>
    <div class="ThePreLoader">
      <div class="loader--dot"></div>
      <div class="loader--dot"></div>
      <div class="loader--dot"></div>
      <div class="loader--dot"></div>
      <div class="loader--dot"></div>
      <div class="loader--dot"></div>
      <div class="loader--text"></div>
    </div>
  </div>
</div>
