<mat-card style="height: 100%;width:100%;padding:0">
    <mat-card-header style="background-color:rgb(5, 53, 107);margin:0;padding:20px">
        <mat-card-title style="font-family: Roboto;font-size: 1.3em; font-weight: 700; margin-bottom:15px; color:white">Planilla</mat-card-title>
    </mat-card-header>
    <mat-card-content style="padding:20px">
        <div style="display: flex">
            <!--          PERTE DERECHA-->
            <div class="card-content table-responsive">
                <table class="table table-hover" style="text-align: center;">
                    <tr>
                        <th>Fecha de Inicio</th>
                        <th>Domiciliario</th>
                        <th>Numero de Planilla</th>
                        <th>Estado</th>
                        <th> </th>
                    </tr>
                    <tr *ngFor="let item of list">
                        <td>{{item.fecha_INICIO}}</td>
                        <td>{{item.domiciliario}}</td>
                        <td>{{item.num_PLANILLA}}</td>
                        <td>{{item.status}}</td>
                        <td>
                            <button mat-stroked-button color="primary" type="submit" (click)="closePlanilla(item)">Cerrar</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div> 
        <button mat-dialog-close mat-stroked-button color="warn" type="submit" style="width: 100%;" (click)="close()">Cerrar Ventana</button>
    </mat-card-content>
</mat-card>